// form input styles

$field-vpadding: $inset-padding-squish-v;
$field-hpadding: $inset-padding-squish-h;

// label  {
//     @include text-font-size-p2;
//     color: $color-grey-light-40;
// }

// input{
//     padding:$field-vpadding $field-hpadding;
//     color: $color-grey-light-20;
//     flex: 1 1;
//     @include text-font-size-p2;

//     &:focus{
//         outline:0;
//     }

//     &[type='file']{
//         border:none;
//         padding:1$x3 0;
//     }
// }

// select{
//     @include select-reset;
//     border-radius: 0;
//     flex: 1 1;
//     color: $color-grey-light-20;
//     @include text-font-size-p2;

//     &:focus{
//         outline:0;
//     }
// }

// textarea {
//     @include select-reset;
//     padding:$field-vpadding 160px $field-vpadding $field-hpadding;
//     border-radius:0px;
//     flex: 1 1;
//     color: $color-grey-light-20;
//     @include text-font-size-p2;

//     &:focus{
//         outline:0;
//     }
// }

// fieldset, legend {
//     margin: 0;
//     padding: 0;
//     border: none;
// }