
// html {
//   font-size:4px;
// }

// Headings
///////////////////////////////////////////////////////////////////////////////
h1,h2,h3,h4,h5,h6{
  margin:0;
  @include header-font-size-h3;
}

p, a, figure, li {
  margin: 0;
}

// // Links
// ///////////////////////////////////////////////////////////////////////////////

a {
  color: $color-text;
  &:active,
  &:focus {
    outline: none;
  }
  &:hover {
    color: $color-link;
  }
}

// // General Typography
// ///////////////////////////////////////////////////////////////////////////////

// p,
// figure {
//   &:last-child {
//     margin-bottom: 0;
//   }
//   &:first-child {
//     margin-top: 0;
//   }
// }

// em {
//   font-style: italic;
// }

// strong {
//   font-weight: $font-weight-bold;
// }

// img,
// picture {
//   margin: 0;
//   max-width: 100%;
// }

// figure {
//   img {
//     display: block;
//   }
// }

// // Quotes
// ///////////////////////////////////////////////////////////////////////////////
// blockquote {
//   padding:$spacing;

//     &:before{
//       @include font-header();
//       content: open-quote;
//       display: inline-block;
//       margin: $x5 $x8;
//       margin-left: 0;
//       font-size: 100rem;
//       font-style: normal;
//       font-weight: normal;
//       line-height: 0;
//       -webkit-font-smoothing: antialiased;
//       -moz-osx-font-smoothing: grayscale;
//     }

//     &:after{
//       @include font-header();
//         position: absolute;
//         content: close-quote;
//         display: inline-block;
//         margin: $x5 $x8;
//         margin-right: 0;
//         font-size: 100rem;
//         font-style: normal;
//         font-weight: normal;
//         line-height: 0;
//         -webkit-font-smoothing: antialiased;
//         -moz-osx-font-smoothing: grayscale;
//     }
// }

// // Lists
// ///////////////////////////////////////////////////////////////////////////////

// ul,
// ol {
//   margin: 0;
//   padding: 0;
//   //list-style-type: none;
// }


// // Separators
// ///////////////////////////////////////////////////////////////////////////////

// hr {
//   height: 1px;
//   border: 0;
//   background: $color-border;
// }
