{% import 'html/t7-live/modules/hero/macros.html' as heroMacros %}
{% import 'html/t7-live/modules/hero/macros.html' as heroT7Macros %}
{% import 'html/guide/macros/guide.html' as guideMacros %}

    {# Documentation #}
    {% call guideMacros.docs2ColWrap(wrapClasses="g-intro__wrap") -%}
        {% call guideMacros.docs2ColColumn1Wrap(colHeading="Hero Banner Specs:") -%}
            <p>
                M003A: Hero Banner - center left aligned text<br />
                Subtitle: (optional) text.<br />
                Title: (optional) text.<br />
                Description: (optional) text.<br />
                Background color: Pick from brand promo colors.<br /> 
                Applied to mobile content background and also the fill on the desktop svg shape).<br />
                CTA: (optional, text) <br />
                Link: URL<br />
                Theme: light (dark text on light bg) / dark (white text on dark bg)<br />

                Image - large: (4x1 ratio) 1920 x 480 (optimised so the focus of the image is on the right)<br />
                Image - medium: (3x1 ratio) 1366 x 455 (max-height: 330, optimised so the focus of the image is on the right)<br />
                Image - small: (9x4 ratio) 768 x 340 (max-height: 300, optimised so the focus of the image is at the center)<br />
            </p>
        {% endcall %}
        {% call guideMacros.docs2ColColumn2Wrap(colHeading="Hero Tile Specs:") -%}
            <p>
                M0015A: 3-up promo 16x9 tiles text left btm<br />
                Subtitle: (optional) text char limit 30<br />
                Title: (optional) text. char limit 18<br />
                Theme: light (dark text on light bg) / dark (white text on dark bg)<br />

                Image - large: (3x2 ratio) 600 x 336 (optimised so the focus of the image is on the right)<br />

                Pill Text: text 
            </p>
        {% endcall %}
    {% endcall %}




{{heroT7Macros.heroT7Polulated()}}





    {% call guideMacros.docs2ColWrap(wrapClasses="g-intro__wrap") -%}
        {% call guideMacros.docs2ColColumn1Wrap(colHeading="Default banner (promo color alt)") -%}
           
        {% endcall %}
        {% call guideMacros.docs2ColColumn2Wrap(colHeading="") -%}
            
        {% endcall %}
    {% endcall %}

    {{heroT7Macros.heroT7Polulated(shapeColor="m-hero--bg-c")}}
        

        {% call guideMacros.docs2ColWrap(wrapClasses="g-intro__wrap") -%}
            {% call guideMacros.docs2ColColumn1Wrap(colHeading="Centered Content Banner") -%}
               
            {% endcall %}
            {% call guideMacros.docs2ColColumn2Wrap(colHeading="") -%}
                
            {% endcall %}
        {% endcall %}
    
        {{heroT7Macros.bannerCenteredT7Polulated()}}
            


            {% call guideMacros.docs2ColWrap(wrapClasses="g-intro__wrap") -%}
                {% call guideMacros.docs2ColColumn1Wrap(colHeading="Centered Content Banner") -%}
                   
                {% endcall %}
                {% call guideMacros.docs2ColColumn2Wrap(colHeading="") -%}
                    
                {% endcall %}
            {% endcall %}
        
            {{heroT7Macros.bannerCenteredT7Polulated(theme="t-light")}}
                
    

    {% call guideMacros.docs2ColWrap(wrapClasses="g-intro__wrap") -%}
        {% call guideMacros.docs2ColColumn1Wrap(colHeading="Left Aligned Content Banner") -%}
            
        {% endcall %}
        {% call guideMacros.docs2ColColumn2Wrap(colHeading="") -%}
            
        {% endcall %}
    {% endcall %}

    {{heroT7Macros.bannerLeftAlignedT7Polulated()}}
 

    

        {% call guideMacros.docs2ColWrap(wrapClasses="g-intro__wrap") -%}
            {% call guideMacros.docs2ColColumn1Wrap(colHeading="No HTML content banner") -%}
                
            {% endcall %}
            {% call guideMacros.docs2ColColumn2Wrap(colHeading="") -%}
                
            {% endcall %}
        {% endcall %}
    
        {{heroT7Macros.bannerNoText()}}
     
