{% import 'html/t7-live/modules/hero/macros.html' as moduleMacros %}
{% import 'html/guide/macros/module.html' as wrapMacros %}
{% import 'html/guide/macros/guide.html' as guideMacros %}


<div class="">
    {% call guideMacros.docs2ColWrap() -%}

        {% call guideMacros.docs2ColColumn1Wrap(colClasses="", colHeading="Hero Banner Specs:") -%}
            
            <p>
                Title: text<br />
                Image - large: (6x2 ratio) 1680 x 672<br />
                Image - medium: (5x2 ratio) 1366 x 546<br />
                Image - small: 768 x 300<br />
                Mobile image max-height of 300, background-size: cover.<br />
                Large desktop breakpoint the banner behaves like the <a href="/Custom/FrontEnd/html/modules/hero.html">homepage hero module</a>
            </p>
        {%- endcall %}

    {%- endcall %}

<section class="">

        {{ moduleMacros.clpHeroPopulated() }}

</section>