{% import 'html/t7-live/macros/image.html' as imageMacros %} 
{% import 'html/t7-live/macros/icons.html' as iconMacros %}
{% import 'html/t7-live/components/tiles/macros.html' as tileMacros %}
{% import 'html/t7-live/modules/promo/macros-t7.html' as promoMacros %}
{% import 'html/t7-live/macros/module.html' as wrapMacro %}

{% macro heroT7Polulated(shapeColor="m-hero--bg-d") -%}

        {% 
        set options = {
            heroHeading:"Just Landed",
            bannerClasses: "u-aspect-nine-by-four u-aspect-sixteen-by-nine-l",
            themeColor: "dark",
            shapeColor:shapeColor,
            heroText: "Get winter ready with Swandri",
            ctaButton: "Shop All",
            ctaPosition: "left",
            ctaLink: "#",
            mobileImage: "/assets/images/test/banner-hero-m.jpg",
            desktopImage: "/assets/images/test/hero-banner.jpg"
        }
    %}
    
    {{heroT7(options)}}
{%- endmacro %}

{% macro heroT7(options) -%}
    <section class='m-hero m-hero--default {{options.shapeColor}}'>

        <div class='m-hero__wrap js-animate-module'>

            <div class="m-hero__content-wrap">
                <div class="m-hero__content" >

                    {% if options.heroHeading %}
                    <h2 class="m-hero__heading t-text">{{options.heroHeading | safe}}</h2>
                    {%- endif %}

                    {% if options.heroText %}
                        <p class="u-p1 m-hero__desc t-text">{{options.heroText | safe}}</p>
                    {%- endif %}

                    {% if options.ctaButton %}
                        <a href="#" class="c-btn t-btn-primary">{{options.ctaButton | safe}}</a>
                    {%- endif %}
                </div>

                <div class="m-hero__shape">
                    {{heroShape()}}
                </div>
            </div>
                
            {{heroBannerT7(options)}}

        </div>

    <section class='m-wrap m-hero__belt js-animate-module'>
        <div class="m-wrap__card">
            <div class="m-wrap__content">
                <div class="u-columns">
                    
                    <div class="u-columns__column u-columns__column--four-s js-animate-sequence">{{promoMacros.heroTileT7(tileClasses="m-hero__tile u-aspect-three-by-one u-aspect-sixteen-by-nine-s", contentClasses="c-tile__content--bottom-left", headingClass="u-h2", TitleText="10 - 35% Off", pillText="Bikes & Accessories", imageSmall="/assets/images/test/tile-image.png")}}</div>
                    <div class="u-columns__column u-columns__column--four-s js-animate-sequence">{{promoMacros.heroTileT7(tileClasses="m-hero__tile u-aspect-three-by-one u-aspect-sixteen-by-nine-s", contentClasses="c-tile__content--bottom-left", headingClass="u-h2",  TitleText="Get $60 Off", pillText="Snow Clothing", subHeadingClass="u-p3", subtitleText="Spend $400", imageSmall="/assets/images/test/tile-image.png")}}</div>
                    <div class="u-columns__column u-columns__column--four-s js-animate-sequence">{{promoMacros.heroTileT7(tileClasses="m-hero__tile u-aspect-three-by-one u-aspect-sixteen-by-nine-s", contentClasses="c-tile__content--bottom-left", headingClass="u-h2",  TitleText="For Free", pillText="Hiking Gear", subHeadingClass="u-p3", subtitleText="Buy 1 Get 1", imageSmall="/assets/images/test/tile-image.png")}}</div>
                </div>
            </div>
        </section>

    </section>
{%- endmacro %}



{% macro heroBannerT7(options) -%}

    <div class="m-hero__image" data-responsive-background-src data-src-m="{{options.desktopImage}}" data-src="{{options.mobileImage}}">
    </div>
{%- endmacro %}

{% macro heroBannerSimpleT7(options) -%}
    <div class="m-hero__image" data-responsive-background-src data-src-m="{{options.desktopImage}}" data-src="{{options.mobileImage}}">
    </div>
{%- endmacro %}

{% macro bannerCenteredT7Polulated(theme="t-dark") -%}

        {% 
        set options = {
            heroSubHeading:"Buy 1 Get 1 for",
            heroHeading:"Half price",
            bannerClasses: "u-aspect-nine-by-four u-aspect-sixteen-by-nine-l",
            theme: theme,
            heroText: "Get winter ready with Swandri",
            ctaButton: "Shop All",
            ctaPosition: "left",
            ctaLink: "#",
            mobileImage: "/assets/images/test/banner-center-aligned-m.jpg",
            desktopImage: "/assets/images/test/banner-center-aligned.jpg",
            beltContentClass: "scrolled"
        }
    %}
    <section class='m-hero m-hero--simple-center u-flex u-flex-justify-center u-flex-column u-columns__column--twelve'>


        <div class='m-hero__wrap'>

            <div class="m-hero__content-wrap m-hero__content-wrap--centered">
                <div class="m-hero__content m-hero__content--centered u-spacing {{options.theme}}" style="background-color: #495463">
                    {% if options.heroSubHeading %}
                    <h2 class="u-h4 m-hero__sub-heading t-heading">{{options.heroSubHeading | safe}}</h2>
                    {%- endif %}

                    {% if options.heroHeading %}
                    <h2 class="u-xxl m-hero__heading t-heading">{{options.heroHeading | safe}}</h2>
                    {%- endif %}

                    {% if options.heroText %}
                        <p class="u-p1 m-hero__desc t-text">{{options.heroText | safe}}</p>
                    {%- endif %}

                    {% if options.ctaButton %}
                        <a href="#" class="c-btn c-btn--primary-inverse t-btn-primary">{{options.ctaButton | safe}}</a>
                    {%- endif %}
                </div>
            </div>
                
            {{heroBannerSimpleT7(options)}}

        </div>
    </section>
    
{%- endmacro %}



{% macro bannerLeftAlignedT7Polulated(theme="t-dark") -%}

        {% 
        set options = {
            heroSubHeading:"Up to",
            heroHeading:"50% OFF",
            bannerClasses: "u-aspect-nine-by-four u-aspect-sixteen-by-nine-l",
            theme: theme,
            heroText: "Get winter ready with Swandri",
            ctaButton: "Shop All",
            ctaPosition: "left",
            ctaLink: "#",
            mobileImage: "/assets/images/test/hero-left-aligned-m.jpg",
            desktopImage: "/assets/images/test/hero-left-aligned.jpg",
            beltContentClass: "scrolled"
        }
    %}
    <section class='m-hero m-hero--simple u-flex u-flex-justify-center u-flex-column u-columns__column--twelve'>


        <div class='m-hero__wrap'>

            <div class="m-hero__content-wrap">
                <div class="m-hero__content u-spacing {{theme}}" style="background-color: #248A93">
                    {% if options.heroSubHeading %}
                    <h2 class="u-h4 m-hero__sub-heading t-heading">{{options.heroSubHeading | safe}}</h2>
                    {%- endif %}

                    {% if options.heroHeading %}
                    <h2 class="u-xxl m-hero__heading t-heading">{{options.heroHeading | safe}}</h2>
                    {%- endif %}

                    {% if options.heroText %}
                        <p class="u-p1 m-hero__desc t-text">{{options.heroText | safe}}</p>
                    {%- endif %}

                    {% if options.ctaButton %}
                        <a href="#" class="c-btn c-btn--primary-inverse t-btn-primary">{{options.ctaButton | safe}}</a>
                    {%- endif %}
                </div>
            </div>
                
            {{heroBannerSimpleT7(options)}}

        </div>
    </section>
    
{%- endmacro %}

{% macro bannerNoText(theme="t-dark") -%}

        {% 
        set options = {
            mobileImage: "/assets/images/test/hero-left-aligned-m.jpg",
            desktopImage: "/assets/images/test/hero-left-aligned.jpg"
        }
    %}
    <section class='m-hero m-hero--simple u-flex u-flex-justify-center u-flex-column u-columns__column--twelve'>

        <div class='m-hero__wrap'>

            {{heroBannerSimpleT7(options)}}

        </div>
    </section>
    
{%- endmacro %}

{% macro heroShape() -%}

<svg viewBox="0 0 898 690" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g>
            <path fill="none" fill-rule="nonzero" d="M261.25,541.19 C262.1,540.11 262.48,539.13 263.12,538.91 C265.63,538.06 268.22,537.45 270.78,536.76 C270.78,537.64 271.06,539.14 270.7,539.32 C267.9,540.7 265.56,544.56 261.25,541.19 Z" ></path>
            <path fill="none" fill-rule="nonzero" d="M251.41,572.73 C250.78,572.94 250.41,573.92 249.54,575.01 C253.86,578.38 256.19,574.52 258.99,573.14 C259.35,572.96 259.06,571.46 259.08,570.57 C256.51,571.27 253.92,571.88 251.41,572.73 Z"></path>
            <path fill="none" fill-rule="nonzero" d="M540,458.26 C537.301969,458.693716 534.630943,459.281341 532,460.02 C519.87,464.11 507.83,468.47 495.66,472.41 C493.5,473.1 490.85,472.14 488.42,472.14 C485.938032,471.967775 483.44422,472.115656 481,472.58 C478.16,473.32 475.6,475.15 472.77,475.91 C457.2,480.09 441.42,483.54 426.03,488.26 C399.51,496.39 373.2,505.26 346.84,513.88 C344.024224,514.905257 341.317538,516.208352 338.76,517.77 C337.95,518.23 337.61,519.51 337.06,520.42 L337.91,521.42 L349,518.58 L349.41,519.48 L344.64,524.62 C344.85,525.07 345.06,525.51 345.28,525.95 C346.523804,525.918915 347.762218,525.774991 348.98,525.52 L350.26,525.12 C363.26,521.12 376.04,516.65 389.17,513.38 C398.71,511 408.3,509.13 417.77,506.22 C446.51,497.39 475.57,489.61 504.49,481.4 C508.97,480.12 513.49,478.88 517.86,477.4 C523.08,475.6 528.2,473.5 533.37,471.53 L533.16,470.06 L528.07,469.16 L526.56,468.9 L541,460.05 L540,458.26 Z" ></path>
            <path fill="none" class="svg-fill" fill-rule="nonzero" d="M895.34,250 C896.56,248.35 896.99,246.13 898.02,243.53 C896.8,240.96 894.24,237.69 893.8,234.16 C893.26,229.73 890.87,228.29 887.38,227.08 C885.06,226.28 881.92,225.77 880.78,224.08 C874.52679,214.941123 871.298515,204.070613 871.55,193 C871.55,191.46 870.23,188.85 869.01,188.48 C859.37,185.64 849.69,182.83 839.86,180.81 C833.86,179.57 831.92,177.27 834.59,171.81 C835.43,170.09 836.43,168.44 837.7,166.14 C828.62,162.86 820.03,159.94 811.58,156.65 C804.870683,154.064851 797.588596,153.335952 790.5,154.54 C788.69,154.82 786.87,155.09 785.05,155.23 C780.25,155.59 775.89,155.04 772.45,150.88 C771.1,149.26 768.45,148.8 766.45,147.58 C765.35,146.88 763.6,145.08 763.75,144.86 C766.55,140.7 762.66,137.69 762.06,134.18 C761.63,131.65 760.27,130.26 757.17,130.59 C754.35,130.88 747.25,123.86 746.85,120.78 C746.22,115.92 751.05,117.08 753.19,115.26 C753.42929,114.957284 753.62146,114.620144 753.76,114.26 C753.33,113.26 752.92,112.2 752.36,111.2 C749.29,105.7 747.73,105.34 741.91,108.12 C740.97,108.57 739.43,108.12 738.28,107.75 C734.98,106.69 731.79,105.29 728.48,104.31 C721.91,102.39 719.63,99.53 718.9,92.17 C718.78,90.93 718.27,89.24 717.36,88.65 C713.6,86.25 709.86,83.4 705.68,82.16 C695.588835,78.9576796 685.102233,77.1706494 674.52,76.85 C670.16,76.79 669.75,75.48 672.12,71.65 C673.12,70.03 674.71,68.21 674.6,66.58 C674.3,62.33 672.43,58.09 672.6,53.92 C672.94,46.42 670.97,38.11 678.4,32.09 C677.663768,31.5784237 676.854697,31.1806304 676,30.91 C671.77,30.57 667.53,30.14 663.3,30.14 C658.64,30.14 656.54,28.5 657.18,23.51 C657.38,21.95 656.28,19.3 655.01,18.65 C651.309215,16.8086743 647.419863,15.3736377 643.41,14.37 C633.56,11.79 623.65,13.17 613.67,13.96 C583.16,16.41 552.61,18.32 522.08,20.6 C510.49,21.46 498.95,22.92 487.36,23.75 C484.892213,23.8856548 482.46402,23.0857795 480.56,21.51 C478.85,19.87 478.02,17 477.56,14.51 C477.32,13.29 478.5,11.51 479.56,10.42 C480.62,9.33 482.12,9.09 483.36,8.5 C482.07,1.39 481.81,1.4 475.7,2.19 C472.83,2.56 469.81,1.9 466.86,1.62 C462.25,1.18 457.32,-0.65 453.12,0.42 C436.213333,4.72 419.436667,9.54 402.79,14.88 C391.26,18.59 380.11,23.47 368.79,27.88 C341.64,38.3 312.66,42.78 285.86,54.7 C262.8,65 238.77,73.07 215,81.64 C208.45,84 204.33,87.82 201.62,93.95 C200.5,96.47 199.01,99.23 196.9,100.81 C189.9,106.07 181.65,110.27 183.25,121.24 C183.33,121.82 182.78,122.47 182.62,123.11 C180.97,129.76 179.35,136.43 177.42,144.29 C182.42,143.72 185.87,143.58 189.22,142.9 C202.09,140.3 214.92,137.48 227.78,134.84 C230.21,134.34 233.42,133.84 233.78,137.22 C234.022418,139.712692 233.24703,142.197542 231.63,144.11 C228.848929,146.737371 225.630643,148.859205 222.12,150.38 C201.01,159.82 179.72,168.86 158.66,178.38 C145.52,184.38 132.57,190.77 119.77,197.44 C116.77,199.02 114.49,202.3 112.16,205.03 C110.34,207.16 109.04,209.71 107.36,211.97 C104.73,215.49 101.81,218.81 99.36,222.44 C96.74,226.27 95.2,231.15 91.88,234.1 C88.34,237.25 88.06,240.1 89.6,243.69 C91.1260817,247.024415 91.0152169,250.878815 89.3,254.12 C86.36,260.38 87.52,265.47 92.2,270.44 C93.2892359,271.63155 93.9261862,273.167308 94,274.78 C93.79,285.69 91.92,288.71 83.6,292.57 C73.4933333,297.236667 63.42,301.99 53.38,306.83 C51.7164772,307.572377 50.2250528,308.651787 49,310 C43.15,316.93 37.33,323.89 31.85,331.11 C30.61,332.75 30.76,335.47 30.33,337.71 C29.99,339.52 30.38,342.31 29.33,343.01 C23.78,346.77 19.91,353.12 12.51,354.09 C11.3943397,354.406622 10.4314354,355.117253 9.8,356.09 C7.55712607,358.97814 5.57596449,362.060318 3.88,365.3 C3.14,366.88 3.09,369.98 4.11,370.98 C7.58,374.4 7.73,378.05 6.9,382.44 C6.53,384.44 6.9,387.39 8.18,388.66 C16.97,397.43 18.38,405.81 12.83,416.56 C11.37,419.37 11.05,422.77 9.9,427.03 C16.32,424.09 20.9,421.33 25.9,419.86 C34.47,417.34 43.28,415.58 52.01,413.59 C54.26,413.08 56.58,412.91 58.87,412.59 C58.29,414.64 57.7,416.7 57.08,418.87 C57.44,418.77 57.86,418.62 58.29,418.54 C60.34,418.19 63.48,416.86 64.23,417.7 C66.47,420.18 64.07,421.83 62.13,423.7 C60.4569775,425.273374 59.323137,427.334584 58.89,429.59 C58.43,432.98 57.23,434.73 53.21,433.92 L55.21,438.04 L21.39,460.68 C27.19,465.48 26.33,475.15 20.39,478.79 C17.24,480.71 15.39,479.79 14.6,476.33 L13.34,470.96 L11.58,471.14 C11.58,473.86 10.96,476.77 11.73,479.25 C12.73,482.31 12.73,484.47 10.42,486.93 C7.61411165,490.008972 5.01826559,493.27299 2.65,496.7 C0.48,499.75 -1.21,503.05 1.37,506.8 C3.95,510.55 4.37,514.2 1.65,518.34 C-0.45,521.58 0.06,524.6 3.65,527.34 C6.49098618,529.576826 8.70304745,532.512459 10.07,535.86 C12.07,541.09 12.86,546.78 14.5,552.17 C14.85,553.33 16.61,554.07 17.73,555.01 C21.2,548.78 28.1,551.09 33.16,548.81 C34.32,548.29 36.04,547.91 36.43,547 C38.89,541.22 44.43,539.26 49.3,536.87 C53.8,534.65 58.72,535.33 62.93,538.69 C66.11,541.22 66.2,543.33 63.04,545.87 C61.0153686,547.301943 59.0816447,548.858273 57.25,550.53 C53.98,553.93 53.07,561.89 56.25,564.33 C59.66,566.98 60.78,569.52 58.25,573.94 C59.94,573.36 60.87,573.31 61.41,572.82 C64.89,569.63 68.41,570.05 72.35,572.06 C77.8461248,574.949401 84.1898198,575.792865 90.25,574.44 C93.66,573.68 97.16,572.6 100.55,572.81 C103.17,572.97 106.45,574.28 108.06,576.22 C111,579.77 114.24,580.53 118.21,579.38 C133.07,575.08 147.88,570.62 162.73,566.3 C168.45,564.63 174.35,563.51 179.94,561.51 C190.73,557.67 201.32,553.27 212.11,549.41 C214.082006,548.913019 216.165751,549.121747 218,550 C224.15,553 226.66,552.54 230.46,547 C232.46,544 239.68,541.11 242.85,542.21 C243.78,542.53 245.21,543.89 245.07,544.44 C244.07,548.44 244.53,553.2 239.21,555.04 C236.21,556.04 233.55,558.04 230.74,559.51 L231.74,561.59 C237.91,558.59 244.29,556.03 250.2,552.59 C253.66,550.59 256.92,548.86 260.88,549.77 C262.44,550.13 263.77,551.49 265.21,552.39 C264.07,553.39 262.99,554.44 261.77,555.3 C260.55,556.16 259.17,556.78 257.89,557.55 C250.89,561.74 243.89,565.89 236.98,570.17 C235.768321,571.10416 234.664809,572.170776 233.69,573.35 C235.163308,574.247941 236.69317,575.049615 238.27,575.75 C239.871813,576.237188 241.505822,576.611439 243.16,576.87 C243.16,577.47 243.16,578.07 243.16,578.66 C239.87,580.07 236.5,581.32 233.32,582.94 C230.32,584.46 226.12,584.79 225.32,590.24 C227.39,589.57 228.9,589.18 230.32,588.61 C249.19,581.11 268.03,573.53 286.93,566.11 C289.5,565.11 292.37,564.85 295.1,564.25 L296.03,566.31 C294.37,567.49 292.86,569.03 291.03,569.78 C283.33,572.91 275.38,575.49 267.81,578.91 C262.72,581.21 258.12,584.59 253.31,587.49 L254.09,589.13 C258.28,590.82 262.31,589.36 266.26,587.81 C271.68,585.69 277,583.34 282.42,581.21 C283.75,580.68 286.11,579.92 286.56,580.47 C290.12,584.72 299.51,583.31 297.24,593.23 C311.64,588.23 325.92,586.83 338.97,580.92 C337.446731,580.223677 335.767925,579.937556 334.1,580.09 C332.27,580.17 330.39,580.69 328.65,580.37 C327.4,580.15 325.45,578.92 325.39,578.03 C325.19,575.19 330.02,572.33 332.73,573.53 C335.44,574.73 337.73,576.66 340.89,574 C341.49,573.49 344.98,575 345.71,576.34 C347.39,579.44 348.13,583.04 349.37,586.4 C350.06,588.25 350.57,590.46 351.9,591.71 C354.61,594.26 352.39,606.26 352.39,606.26 C347.87,607.94 341.71,615.45 340.23,620.31 C339.93,621.31 339.84,627.65 340.23,627.67 C343.23,627.83 346.67,632.17 349.67,632.15 C350.877367,632.251442 352.072583,632.46571 353.24,632.79 C352.98,633.96 353.13,635.62 352.4,636.23 C341.23,645.5 333.65,657.67 325.4,669.3 C322.2,673.8 321.75,681.9 324.76,684.7 C328.62,688.3 340.76,688.36 344.24,684.79 C348.06,680.86 349.11,681.12 350.91,686.47 C352.3,690.6 353.62,690.94 357.34,688.47 C358.47,687.71 360.04,687.62 361.34,687.09 C363.24,686.31 365.46,685.79 366.91,684.47 C371.57,680.26 375.56,675.21 380.52,671.47 C388.8,665.15 397.52,659.47 406.25,653.68 C423,642.57 440.31,632.49 458.91,624.68 C477.51,616.87 494.4,605.35 514.2,600.08 C523.94,597.49 531.73,589.37 542.61,589.45 C543.61,589.45 544.61,588.45 545.61,587.75 C553.85,582.05 564.35,580.75 572.02,573.75 C575.71,570.36 580.65,568.36 584.93,565.59 C587.93,563.67 590.69,561.51 593.83,559.26 C595.77,566.62 594.6,568.21 585.33,571.84 C587.04,575.63 585.58,577.64 581.54,578.31 C579.925321,578.7357 578.386857,579.410465 576.98,580.31 C562.393333,587.836667 547.816667,595.383333 533.25,602.95 C528.91,605.21 524.62,607.55 520.25,609.85 C520.43,610.24 520.61,610.62 520.78,611.01 C524.54,609.58 528.22,607.91 532.07,606.78 C537.74,605.12 543.53,603.87 549.25,602.38 C549.84674,602.127968 550.374702,601.737138 550.79,601.24 C554.04,598.12 557.38,598.38 560.66,602.34 L550.53,610.54 C577.29,606.23 598.15,589.07 622.31,579.07 L617.63,579.28 C619.1,574.56 619.71,569.77 622.02,566.04 C624.33,562.31 628.27,559.89 631.5,556.88 C630.164449,556.557592 628.754835,556.815537 627.62,557.59 C622.86,560.37 619.29,559.5 616.33,554.79 C615.618348,553.87767 615.042386,552.867211 614.62,551.79 C613.31,546.98 609.8,545.85 605.37,545.4 C603.37,545.19 600.07,543.78 599.89,542.54 C599.6,540.54 601.03,537.97 602.47,536.25 C605,533.25 609.68,531.17 610.61,527.89 C612.68,520.62 616.92,513.46 614.48,505.37 C613.67,502.69 614.98,500.14 617.22,500.98 C622.03,502.8 623.12,499.16 625.54,496.98 C627.19,495.48 629.74,494.98 631.44,493.53 C633.14,492.08 635.62,489.73 635.35,488.2 L593.41,489.2 C595.09,484.67 597.53,480.39 603.04,479.78 C613.41,478.63 623.83,477.78 634.24,477.01 C635.5,476.92 636.8,478.15 638.15,478.52 C639.93,479 642.04,479.99 643.55,479.45 C651.77,476.53 659.69,472.61 668.04,470.21 C674.981885,468.235111 682.295643,467.950515 689.37,469.38 L689.73,470.96 L675.56,475.77 C679.16,479.16 679.13,481.77 675.63,483.65 C674.18,484.45 672.48,484.8 671.07,485.65 C670.168985,486.398755 669.377887,487.270647 668.72,488.24 C669.96,488.33 671.35,488.83 672.43,488.45 C682.64,484.89 693.1,481.83 702.87,477.31 C711.71,473.23 720.63,475.89 729.44,474.92 C730.03,474.85 730.72,475.73 731.39,476.19 C731.179249,476.72865 730.914569,477.244607 730.6,477.73 C728.98,479.64 725.91,481.01 727.93,484.32 C729.546376,487.292245 733.262578,488.39682 736.24,486.79 C741.24,484.49 746.48,482.13 750.74,478.71 C756.42,474.15 765.62,472.89 769.13,478.12 C771.28,481.32 773.13,481.12 777.23,480.79 C773.9,477.92 771.35,475.87 769,473.62 C767.68,472.34 765.93,470.8 765.79,469.25 C765.7,468.25 768,466.49 769.53,465.97 C774.88,464.17 775.41,459.59 776,455.17 C776.12,454.28 774.62,452.8 773.53,452.17 C771.97,451.32 769.79,451.43 768.45,450.39 C767.39,449.56 766.35,447.29 766.76,446.23 C768.33,442.23 776.51,439.33 780.54,441.02 C786.67,443.59 787.54,446.33 784.36,452.24 C783.58,453.69 783.58,455.56 783.07,457.93 C788.71,456.54 791.15,454.57 789.32,449.53 C788.54,447.39 788.88,444.86 788.22,442.65 C786.79,437.88 784.57,433.65 778.91,432.76 C773.63,431.95 771.84,427.66 771.17,423.52 C770.87,421.7 773.84,419.35 775.49,417.02 C774.293868,416.275561 773.189592,415.392811 772.2,414.39 C770.72,412.59 768.08,409.84 768.59,408.66 C770.04,405.36 772.25,401.19 775.23,399.97 C787.23,395.09 799.58,391.26 811.76,386.92 C814.3641,386.07526 816.407901,384.037214 817.25998,381.435506 C818.112059,378.833798 817.669861,375.981569 816.07,373.76 C813.68,370.55 814.39,368.42 818.07,367.53 C825.47,365.74 832.07,360.16 840.36,362.53 C840.55,362.59 840.88,362.18 841.15,361.98 L839.88,361.31 C841.79,357.61 843.7,353.91 845.94,349.55 C846.2,349.96 845.94,349.38 845.52,348.9 C839.33,341.65 833.1,334.42 826.94,327.14 C826.107379,326.308039 825.543119,325.245697 825.32,324.09 C825.06,316.99 822.32,311.4 816.2,307.52 C815.680295,307.084698 815.350353,306.464263 815.28,305.79 C815.06,304.25 814.39,301.91 815.1,301.31 C816.22,300.37 818.31,300.39 820,300.36 C823.41,300.31 826.82,300.54 830.23,300.57 C833.02,300.57 835.85,300.18 838.58,300.57 C842.95,301.14 847.41,303.14 850.58,298.1 C851.151886,297.466769 851.991126,297.143699 852.84,297.23 C859.37,298.47 864.67,294.72 870.51,293.13 C873.86,292.22 874.76,290.79 873.74,287.42 C872.2,282.35 874.93,278.61 880.27,278.06 C882.423729,277.919893 884.583207,277.889854 886.74,277.97 C891.94,277.97 893.63,275.66 890.63,271.68 C888.2,268.44 884.53,266.13 880.53,262.68 C882.76,261.29 885.77,259.85 888.23,257.77 C890.903291,255.474779 893.290474,252.866001 895.34,250 Z M259,573.14 C256.2,574.52 253.87,578.38 249.55,575.01 C250.41,573.92 250.79,572.94 251.42,572.73 C253.93,571.88 256.52,571.27 259.09,570.57 C259.06,571.46 259.35,573 259,573.14 Z M279,542.21 C276.2,543.59 273.87,547.45 269.55,544.08 C270.41,543 270.79,542.02 271.42,541.8 C273.93,540.95 276.52,540.34 279.09,539.65 C279.06,540.53 279.35,542 279,542.21 Z M292.58,560.07 C291.37,559.69 302.2,550.99 311.38,553 C315.45,553.89 304.76,563.88 292.57,560.07 L292.58,560.07 Z M311.94,540.72 C311.59,540.82 310.65,540.02 310.57,539.55 C310.46,538.84 310.71,537.55 311.09,537.39 C314.68,536.31 318.32,535.45 321.94,534.52 L322.81,537.52 C319.18,538.61 315.57,539.74 311.93,540.72 L311.94,540.72 Z M528.09,469.12 L533.18,470.02 L533.39,471.49 C528.22,473.49 523.1,475.56 517.88,477.36 C513.49,478.88 508.99,480.12 504.51,481.36 C475.59,489.57 446.51,497.36 417.79,506.18 C408.32,509.09 398.73,510.96 389.19,513.34 C376.06,516.61 363.19,521.1 350.28,525.08 L349,525.48 C347.782218,525.734991 346.543804,525.878915 345.3,525.91 C345.08,525.47 344.87,525.03 344.66,524.58 L349.43,519.44 L349.02,518.54 L337.93,521.36 L337.08,520.36 C337.63,519.45 337.97,518.17 338.78,517.71 C341.337538,516.148352 344.044224,514.845257 346.86,513.82 C373.22,505.17 399.53,496.33 426.05,488.2 C441.44,483.48 457.22,480.03 472.79,475.85 C475.62,475.09 478.18,473.26 481.02,472.52 C483.46422,472.055656 485.958032,471.907775 488.44,472.08 C490.87,472.08 493.52,473.08 495.68,472.35 C507.85,468.41 519.89,464.05 532.02,459.96 C534.650943,459.221341 537.321969,458.633716 540.02,458.2 L540.93,459.99 L526.55,468.8 L528.09,469.12 Z" ></path>
        </g>
    </g>
</svg>
{%- endmacro %}


{% macro clpHero(options) -%}
    <section class='m-hero m-hero--clp'>

        <div class='m-hero__wrap'>

            <div class="m-hero__content-wrap">
                <div class="m-hero__content m-hero__content--centered t-dark" >

                    {% if options.heroHeading %}
                    <h2 class="m-hero__heading t-text">{{options.heroHeading | safe}}</h2>
                    {%- endif %}

                </div>
       
                
            </div>

            <div class="m-hero__image " data-responsive-background-src data-src="{{options.mobileImage}}" data-src-m="{{options.desktopImage}}" data-src-xl="{{options.desktopLargeImage}}">
                <div class=""></div>
            </div>

        </div>
        
    </section>

   
{%- endmacro %}

{% macro clpHeroPopulated() -%}

        {% 
        set options = {
            heroHeading:"Bikes",
            mobileImage: "/assets/images/t7/hero-clp-bike-s.png",
            desktopImage: "/assets/images/t7/hero-clp-bike-m.png",
            desktopLargeImage: "/assets/images/t7/hero-clp-bike-xl.png"
        }
    %}

    {{ clpHero(options) }}

{% endmacro %}
