{% extends "html/templates/page.html" %}

{% import "html/red/modules/buyers-guide-hero/macros.html" as heroMacro %}
{% import "html/red/modules/hero/macros-red.html" as heroRedMacro %}

{% import "html/red/modules/buyers-guide-section-heading/macros.html" as headingMacro %}
{% import "html/red/modules/buyers-guide-section-hero/macros.html" as sectionHeroMacro %}
{% import "html/guide/macros/module-wrap.html" as wrapMacros %}
{% import "html/guide/macros/module.html" as beltMacro %}
{% import "html/red/modules/content/macros.html" as contentMacro %}
{% import "html/red/modules/content/macros-red.html" as contentRedMacro %}
{% import "html/guide/macros/icons.html" as iconMacros %}
{% import "html/red/modules/content/macros-red.html" as contentRedMacro %}
{% import "html/guide/macros/guide.html" as guideMacros %}

{% import "html/red/components/product-card/macros-red.html" as productCardMacro %}
{% import "html/red/components/info-card/macros-red.html" as infoCardMacro %}
{% import 'html/red/modules/promo/macros-twl.html' as promoMacrosTWL %}

{% set pagename = 'Red CLP Current' %}

{% block exampleTitle -%}
   {{ pagename }}
{%- endblock %}

{% block header -%}
{% endblock %}

{% block pageContent -%}
<div class="u-flex u-flex-align-center u-flex-column ">

    <div class="u-max-width u-bg-white u-margin-bottom-x10 u-outer-gutter-red">
        <div class="u-bg-grey-light-80 ">
            <h3 class="u-padding-x10">Header</h3>
        </div>
    </div>  
    <!-- <div class="u-max-width u-bg-white u-outer-gutter-red">
        <div class="u-bg-grey-light-80  ">
            <h3 class="u-padding-x10">content</h3>
        </div>
    </div>  -->
    <div class="u-max-width u-bg-white">
        <div class="u-bg-white g-columns u-hide-up-m">
            <div class="g-columns__column g-columns__column--two">
                <div class="g-box--column">1 col</div>
            </div>
            <div class="g-columns__column g-columns__column--two">
                <div class="g-box--column">1 col</div>
            </div>
            <div class="g-columns__column g-columns__column--two">
                <div class="g-box--column">1 col</div>
            </div>
            <div class="g-columns__column g-columns__column--two">
                <div class="g-box--column">1 col</div>
            </div>
            <div class="g-columns__column g-columns__column--two">
                <div class="g-box--column">1 col</div>
            </div>
            <div class="g-columns__column g-columns__column--two">
                <div class="g-box--column">1 col</div>
            </div>
        </div>
        <div class="u-bg-white g-columns u-hide-down-m">
            <div class="g-columns__column g-columns__column--one">
                <div class="g-box--column">1 col</div>
            </div>
            <div class="g-columns__column g-columns__column--one">
                <div class="g-box--column">1 col</div>
            </div>
            <div class="g-columns__column g-columns__column--one">
                <div class="g-box--column">1 col</div>
            </div>
            <div class="g-columns__column g-columns__column--one">
                <div class="g-box--column">1 col</div>
            </div>
            <div class="g-columns__column g-columns__column--one">
                <div class="g-box--column">1 col</div>
            </div>
            <div class="g-columns__column g-columns__column--one">
                <div class="g-box--column">1 col</div>
            </div>
            <div class="g-columns__column g-columns__column--one">
                <div class="g-box--column">1 col</div>
            </div>
            <div class="g-columns__column g-columns__column--one">
                <div class="g-box--column">1 col</div>
            </div>
            <div class="g-columns__column g-columns__column--one">
                <div class="g-box--column">1 col</div>
            </div>
            <div class="g-columns__column g-columns__column--one">
                <div class="g-box--column">1 col</div>
            </div>
            <div class="g-columns__column g-columns__column--one">
                <div class="g-box--column">1 col</div>
            </div>
            <div class="g-columns__column g-columns__column--one">
                <div class="g-box--column">1 col</div>
            </div>
        </div>
    </div> 
    
    <!-- <div class="u-max-width u-bg-white u-margin-bottom-x10">
        <div class="u-bg-grey-light-80 u-margin-left-x3 u-margin-left-x4-m u-margin-right-x3 u-margin-right-x4-m">
            <h3 class="u-padding-x10">Header</h3>
        </div>
    </div>  
    <div class="u-max-width u-bg-white">
        <div class="u-bg-grey-light-80 u-margin-left-x3 u-margin-left-x4-m u-margin-right-x3 u-margin-right-x4-m ">
            <h3 class="u-padding-x10">content</h3>
        </div>
    </div>  -->
</div>
   
{% endblock %}