<!-- index.html -->
{% extends "html/templates/layout.html" %}

{% set pagename = "base" %}

{% block title %}{{ pagename }}{% endblock %}

{% block content %}
<div class="l-main">

    <section class="module">

    <div class="module__header u-centered">
        <h1 class="u-h2 u-color-black">{{ pagename }}</h1>
    </div>

    <div class="module__content">

    {% for navItem in pageindex.navItems %}

            {% if navItem.name == pagename %}
                
                {% if navItem.items.length %}

                <div class='ud-guide-nav__item-container u-margin-top-x4'>

                    {% set directory = ""%}
                    {% if navItem.directory %}
                        {% set directory = navItem.directory + "/"%}
                    {% endif %}
                    
                    <ul class="ud-guide-nav__list u-margin-top-x2">

                    {% for navItemItem in navItem.items %}

                    <li class="ud-guide-nav__item">
                        {{ helpers.guideLink(navItemItem.url, navItemItem.name, '/Custom/FrontEnd/html/'+directory,'.html','ud-guide-nav__link u-color-black') }}
                    </li>

                    {% endfor %}
                    </ul>


                </div>
                {% endif %}

            {% endif %}

      {% endfor %}

    </div>
</div>

{% endblock %}