{% import 'html/t7-live/macros/image.html' as imageMacros %} 
{% import 'html/t7-live/macros/icons.html' as iconMacros %}

{% macro ctaBarOverlay(text) -%}
<div class="c-tile__cta c-tile__cta--overlay c-tile__cta--centered"><a href="#" class="c-btn c-btn--tertiary">{{text}}</a></div>
{%- endmacro %}

{% macro ctaBarStacked(text) -%}
<div class="c-tile__cta c-tile__cta--stacked c-tile__cta--centered"><div class="c-btn c-btn--secondary">{{text}}</div></div>
{%- endmacro %}

{% macro promoTileT7(pillText="Hiking Gear", pillClasses="", TitleText="Get $60 Off", subtitleText="", descriptionText="", tileClasses="", headingClass="u-h3", subHeadingClass="u-h4", contentClasses="c-tile__content--top-left", imageSmall="/assets/images/test/product-results-tile.jpg") -%}
    <div class="c-tile {{tileClasses}} t-dark" >
        <a href="#" class="c-tile__link"></a>
        <div class="c-tile__overlay"></div>
        <div class="c-tile-results__image" data-responsive-background-src data-src-s="{{imageSmall}}"></div>
        <div class="c-tile-results__content-wrap">
            <div class="c-tile-results__content u-spacing c-tile__content--top-left t-dark {{contentClasses}}">
                {% if pillText %}<div class="c-pill c-pill--primary c-tile-results__pill {{pillClasses}}">{{pillText}}</div>{% endif %}
                {% if subtitleText %}<h5 class="{{subHeadingClass}} c-tile__sub-heading t-heading">{{subtitleText | safe}}</h5>{% endif %}
                <h4 class="c-tile__heading c-tile-results__heading t-heading {{headingClass}}">{{TitleText | safe}}</h4>
                {% if descriptionText %}<h5 class="u-h6 u-regular t-text">{{descriptionText | safe}}</h5>{% endif %}
            </div>
            <div class="c-tile-article__cta c-tile-article__cta--left-aligned t-cta">
                <div class="c-tile-article__cta-link c-btn c-btn--tertiary t-btn-tertiary">View Details 
                    {{ iconMacros.iconChevronRight(classes="c-icon c-icon--medium c-btn__icon") }}
                </div>
            </div>
        </div>
        
    </div>
{%- endmacro %}

{% macro heroTileT7(pillText="Hiking Gear", TitleText="Get $60 Off", subtitleText="", tileClasses="", headingClass="u-h3", subHeadingClass="u-h4", contentClasses="c-tile__content--top-left", imageSmall="", description="") -%}
    <div class="c-tile {{tileClasses}} t-dark u-bg-black" >
        <a href="#" aria-hidden="true" class="c-tile__link">{{subtitleText}} {{TitleText}}</a>
        <div class="c-pill c-pill--primary c-tile__pill">{{pillText}}</div>
        <a href="#" class="c-tile__content {{contentClasses}}">
            {% if subtitleText %}<h5 class="{{subHeadingClass}} c-tile__sub-heading t-text">{{subtitleText}}</h5>{% endif %}
            <h4 class="{{headingClass}} c-tile__heading t-heading">{{TitleText}}</h4>
            {% if description %}<p class="u-p2 c-tile__heading t-heading">{{description}}</p>{% endif %}
        </a>
        <div class="c-tile__image" data-responsive-background-src data-src="{{imageSmall}}"></div>
    </div>
{%- endmacro %}

{% macro promoTileBT7(pillText="Hiking Gear", pillClasses="", TitleText="Get $60 Off", subtitleText="", descriptionText="", tileClasses="", headingClass="u-h3", subHeadingClass="u-h4", contentClasses="c-tile__content--top-left", imageSmall="/assets/images/test/product-results-tile.jpg", logo="") -%}
    <div class="c-tile {{tileClasses}} t-dark" >
        <a href="#" class="c-tile__link"></a>
        
        <div class="c-tile-results__content-wrap">
            <div class="c-tile-results__content c-tile__content--top-left t-dark {{contentClasses}}">
                <div class="c-tile-results__logo">{% if logo %}<img src="{{logo}}"  />{% endif %}</div>
                {% if subtitleText %}<h5 class="{{subHeadingClass}} c-tile__sub-heading t-heading">{{subtitleText | safe}}</h5>{% endif %}
                <h4 class="c-tile__heading c-tile-results__heading t-heading {{headingClass}}">{{TitleText | safe}}</h4>
                {% if descriptionText %}<h5 class="u-h6 u-regular t-text">{{descriptionText | safe}}</h5>{% endif %}
            </div>
            <div class="c-tile-article__cta c-tile-article__cta--left-aligned t-cta">
                <div class="c-tile-article__cta-link c-btn c-btn--tertiary t-btn-tertiary">View Details 
                    {{ iconMacros.iconChevronRight(classes="c-icon c-icon--medium c-btn__icon") }}
                </div>
            </div>
        </div>
        <div class="c-tile__image" data-responsive-background-src data-src="{{imageSmall}}"></div>
    </div>
{%- endmacro %}

{% macro promoModuleWrapT7(wrapClasses) -%}
<section class='m-wrap {{wrapClasses}}'>
    <div class="m-wrap__card">
        <!-- <div class="m-wrap__inner"> -->
            <div class="m-wrap__content">
                {{caller()}}
            </div>
        <!-- </div> -->
    </div>
</section>
{%- endmacro %}

{% macro Promos2UpT7(options) -%}
    {% call promoModuleWrapT7(wrapClasses="m-wrap--padding-bottom") -%}
    <div class="u-columns">
        <div class="u-columns__column u-columns__column--six-m">
            {{promoTileT7(tileClasses="c-tile--gutter u-aspect-sixteen-by-nine-m", headingClass="u-h2")}}
        </div>
        <div class="u-columns__column u-columns__column--six-m">
            {{promoTileT7(tileClasses="c-tile--gutter u-aspect-sixteen-by-nine-m", headingClass="u-h2")}}
        </div>
    </div>
    {% endcall %}
{%- endmacro %}

{% macro Promos4UpT7(options) -%}
    {% call promoModuleWrapT7(wrapClasses="m-wrap--padding-bottom") -%}
    <div class="u-columns">
        <div class="u-columns__column u-columns__column--six-m u-columns__column--three-l">
            {{promoTileT7(tileClasses="c-tile--gutter u-aspect-eight-by-nine-m")}}
        </div>
        <div class="u-columns__column u-columns__column--six-m u-columns__column--three-l">
            {{promoTileT7(tileClasses="c-tile--gutter u-aspect-eight-by-nine-m")}}
        </div>
        <div class="u-columns__column u-columns__column--six-m u-columns__column--three-l">
            {{promoTileT7(tileClasses="c-tile--gutter u-aspect-eight-by-nine-m")}}
        </div>
        <div class="u-columns__column u-columns__column--six-m u-columns__column--three-l">
            {{promoTileT7(tileClasses="c-tile--gutter u-aspect-eight-by-nine-m")}}
        </div>
    </div>
    {% endcall %}
{%- endmacro %}

{% macro Promos3UpT7(options) -%}
    {% call promoModuleWrapT7(wrapClasses="m-wrap--padding-bottom") -%}
    <div class="u-columns">
           
        <div class="u-columns__column u-columns__column--four-l">
            {{promoTileT7(tileClasses="c-tile--gutter u-aspect-eight-by-nine-m")}}
        </div>
        <div class="u-columns__column u-columns__column--six-m u-columns__column--four-l">
            {{promoTileT7(tileClasses="c-tile--gutter u-aspect-eight-by-nine-m")}}
        </div>
        <div class="u-columns__column u-columns__column--six-m u-columns__column--four-l">
            {{promoTileT7(tileClasses="c-tile--gutter u-aspect-eight-by-nine-m")}}
        </div>
    </div>
    {% endcall %}
{%- endmacro %}

{% macro PromosInspirationT7(options) -%}
    {% call promoModuleWrapT7(wrapClasses="m-wrap--padding-bottom") -%}
    <div class="u-columns">
        <div class="u-columns__column u-columns__column--six-m">
            {{promoTileT7(tileClasses="c-tile--gutter c-tile--full-height", headingClass="u-h2", descriptionText="From $80 - $130")}}
        </div>
        <div class="u-columns__column u-columns__column--six-m u-columns">
            <div class="u-columns__column u-columns__column--six-m u-columns">
                {{promoTileT7(tileClasses="c-tile--gutter u-aspect-eight-by-nine-m")}}
            </div>
            <div class="u-columns__column u-columns__column--six-m u-columns">
                {{promoTileT7(tileClasses="c-tile--gutter u-aspect-eight-by-nine-m")}}
            </div>
            <div class="u-columns__column u-columns__column--six-m u-columns">
                {{promoTileT7(tileClasses="c-tile--gutter u-aspect-eight-by-nine-m")}}
            </div>
            <div class="u-columns__column u-columns__column--six-m u-columns">
                {{promoTileT7(tileClasses="c-tile--gutter u-aspect-eight-by-nine-m")}}
            </div>
        </div>

    </div>
    {% endcall %}
{%- endmacro %}

{% macro Promos2UpPopulatedT7() -%}

    {% 
        set options = {
            heading:"Featured Categories",
            description: "lorem ipsum",
            ctaText: "Shop All",
            headerBG: ""
        }
    %}

    {{Promos2UpTWL(options)}}
{%- endmacro %}

{% macro promoTiles3UpPopulatedT7() -%}

    {% 
        set options = {
            heading:"Featured Categories",
            description: "lorem ipsum",
            ctaText: "Shop All",
            headerBG: ""
        }
    %}

    {{promoTiles3UpT7(options)}}
{%- endmacro %}



{% macro promoTiles3UpT7() -%}
    <section class='m-wrap js-animate-module m-wrap--spacious'>
        <div class="m-wrap__card">
            <div class="m-wrap__inner">
                <div class="m-wrap__header">
                    <h2 class="u-h3 m-wrap__heading">Shop by Deal</h2>
                </div>
                <div class="m-wrap__content">
                    <div class="u-columns">
                        
                        <div class="u-columns__column u-columns__column--four-s js-animate-sequence">
                            {{promoTileBT7(tileClasses="m-hero__tile u-aspect-three-by-one u-aspect-sixteen-by-nine-s", contentClasses="c-tile__content--bottom-left", headingClass="u-h2", TitleText="10 - 35% Off", pillText="", imageSmall="/assets/images/test/tile-image.png")}}
                        </div>
                        <div class="u-columns__column u-columns__column--four-s js-animate-sequence">
                            {{promoTileBT7(tileClasses="m-hero__tile u-aspect-three-by-one u-aspect-sixteen-by-nine-s", contentClasses="c-tile__content--bottom-left", headingClass="u-h2",  TitleText="Get $60 Off", pillText="", subHeadingClass="u-p3", descriptionText="Spend $400", imageSmall="/assets/images/test/tile-image.png")}}
                        </div>
                        <div class="u-columns__column u-columns__column--four-s js-animate-sequence">
                            {{promoTileBT7(logo="/assets/images/t7/logos/Marmot-logo-white.svg", tileClasses="m-hero__tile u-aspect-three-by-one u-aspect-sixteen-by-nine-s", contentClasses="c-tile__content--bottom-left", headingClass="u-h2",  TitleText="Up to 50% off", pillText="", subHeadingClass="u-p3", descriptionText="Beanies & Legwarmers", imageSmall="/assets/images/test/tile-image.png")}}
                        </div>
                    </div>
                </div>

                <div class="m-wrap__footer"></div>
            </div>
        </section>

    </section>
{%- endmacro %}