//
// ------------------------------------- 
// 	CORE CONFIG
// -------------------------------------
//  Config settings for Core DS
//

// Brand colors
$theme-color-a                      : #cc0000;
$theme-color-a-dark-10              : #BC0000;
$theme-color-a-light-20		        : #CD3334;
$theme-color-a-light-40		        : #DA6667;
$theme-color-a-light-60		        : #E6999A;
$theme-color-a-light-80		        : #F3CCCD;

$theme-color-b                      : #393939; //grey
$theme-color-grey-light-20		    : #616161;
$theme-color-grey-light-40		    : #888;
$theme-color-grey-light-60		    : #B0B0B0;
$theme-color-grey-light-80		    : #D7D7D7;
$theme-color-grey-light-90		    : #EDEDED;
$theme-color-grey-light-98		    : #FBFBFB;

$theme-color-white	                : #FFF;
$theme-color-black	                : black;

$theme-color-c                      : $theme-color-a;
$theme-color-d                      : $theme-color-a;
$theme-color-e                      : $theme-color-a;
$theme-color-f                      : $theme-color-a;
$theme-color-g                      : $theme-color-a;

// Applied Colors
$theme-color-confirmation	        : #9CCC65;
$theme-color-warning		        : #E6A648;
$theme-color-warning-light-95       : #FEFAF4;
$theme-color-error			        : #C00001;
$theme-color-error-light-95         : #FAEBEB;
$theme-color-info			        : #0083D6;
$theme-color-info-light-95          : #F0F8FD;
$theme-color-sale			    	: #CF0A2C;
$theme-color-clearance			    : #9ccc65;
$theme-color-club                   : #1BA7E1;

$theme-color-body                   : #EDEDED;
$theme-color-link                   : #1991EB;
$theme-color-text                   : $theme-color-b;
$theme-color-link-hover   		    : $theme-color-link;
$theme-color-field        		    : $theme-color-b;
$theme-color-border       		    : $theme-color-b;

// Pills colors
$theme-color-pill-a                 : $theme-color-a;
$theme-color-pill-b                 : $theme-color-b;
$theme-color-pill-c                 : $theme-color-c;

// price colors
$theme-color-price-old				:$theme-color-grey-light-20;
$theme-color-price-new				:$theme-color-error;

//Font family
$theme-font: 'MontrealSerial-Regular', sans-serif;
$theme-font-bold: 'MontrealSerial-Bold', sans-serif;
$theme-font-script: $theme-font-bold;
$theme-font-price: $theme-font-bold;

//Font weights
$theme-font-weight-bold     : normal;
$theme-font-weight-medium   : normal;
$theme-font-weight-regular  : normal;
$theme-font-weight-light    : normal;

//heading font-family
$theme-hxxxl-font-family				:$theme-font-bold;
$theme-hxxl-font-family					:$theme-font-bold;
$theme-hxl-font-family					:$theme-font-bold;
$theme-h1-font-family					:$theme-font-bold;
$theme-h2-font-family 					:$theme-font-bold;
$theme-h3-font-family 					:$theme-font-bold;
$theme-h4-font-family 					:$theme-font-bold;
$theme-h5-font-family 					:$theme-font;
$theme-h6-font-family 					:$theme-font-bold;
$theme-h7-font-family 					:$theme-font-bold;

// Letter spacing
$theme-letter-spacing-heading-xxlarge-1 	: 0.5px;
$theme-letter-spacing-heading-xlarge 		: 0.5px;
$theme-letter-spacing-heading-large 		: 0.5px;
$theme-letter-spacing-heading-medium 		: 0.5px;
$theme-letter-spacing-heading-small 		: 0.5px;
$theme-letter-spacing-heading-xsmall 		: 1px;

$theme-letter-spacing-text-large  		    : 0.25px;
$theme-letter-spacing-text-medium 		    : 0.5px;
$theme-letter-spacing-text-small 		    : 1px;

$theme-letter-spacing-price-large  		    : 0.25px;
$theme-letter-spacing-price-medium  	    : 0.5px;
$theme-letter-spacing-price-small		    : 1px;

$theme-letter-spacing-pill			        : 0.5px;

//spacing
$theme-card-gutter: 4px;
$theme-card-gutter-large: 4px;

// Breakpoints:
$theme-bp-tablet-landscape-start-no-px      : 1024;
$theme-bp-small-desktop-start-no-px         : 1286;
$theme-bp-large-desktop-start-no-px         : 1540;

// Max-widths for breakpoints:
$theme-max-width-l                          : 1286px;
$theme-max-width-xl                         : 1286px;
$theme-max-width-xxl                        : 1540px;
$theme-max-width-xxxl                       : $theme-max-width-xl;

//Module spacing:
$theme-module-outer-gutter-s				: 16px;
$theme-module-outer-gutter-m				: $theme-module-outer-gutter-s;
$theme-module-outer-gutter-l				: 24px;
$theme-module-outer-gutter-xl				: 32px;
$theme-module-outer-gutter-xxl				: $theme-module-outer-gutter-xl;

$theme-module-header-padding-top-s		    : 32px;
$theme-module-header-padding-bottom-s		: 32px;
$theme-module-header-padding-top-m		    : 32px;
$theme-module-header-padding-bottom-m		: 32px;
$theme-module-header-padding-top			: 40px;
$theme-module-header-padding-bottom		    : 40px;

$theme-module-footer-padding-top-s		    : 32px;
$theme-module-footer-padding-bottom-s		: 32px;
$theme-module-footer-padding-top-m		    : 32px;
$theme-module-footer-padding-bottom-m		: 32px;
$theme-module-footer-padding-top			: 40px;
$theme-module-footer-padding-bottom		    : 40px;
