{% extends "html/t7-live/templates/page-t7.html" %}

{% import 'html/t7-live/modules/hero/macros.html' as heroMacros %}
{#% import 'html/t7-live/modules/cards-category/macros.html' as categoryMacros %#}
{% import 'html/t7-live/modules/cards-product/macros-t7.html' as productMacros %}
{% import 'html/t7-live/modules/brands/macros.html' as brandMacros %}
{% import 'html/t7-live/modules/deals/macros.html' as dealsMacros %}
{% import 'html/t7-live/modules/tiles-category/macros.html' as categoryMacros %}
{% import 'html/t7-live/modules/cards-wizard/macros.html' as wizardCardsMacros %}
{% import 'html/t7-live/modules/tiles-gallery/macros.html' as galleryMacros %}

{% import 'html/t7-live/modules/page-title/macros.html' as pageTitleMacros %}
{% import 'html/t7-live/macros/module-wrap.html' as wrapMacros %}
{% import 'html/t7-live/macros/icons.html' as iconMacros %}
{% import 'html/t7-live/modules/cart-modules/macros.html' as cartMacros %}
{% import 'html/t7-live/components/alerts/macros.html' as alertMacros %}
{% import 'html/t7-live/modules/header/macros.html' as headerMacros %} 
{% import 'html/t7-live/modules/footer/macros.html' as footerMacros %}

{% set pagename = 'T7 Cart Prototype' %}

{% block exampleTitle -%}
   {{ pagename }}
{%- endblock %}

{% block pageContent -%} 
{{headerMacros.headerT7()}}

{{pageTitleMacros.pageTitleCartT7Populated()}} 

{% 
    set options = {
        heading: "",
        wrapClasses: "",
        contentClasses: "",
        ctaText:""
    }
%}

{% call wrapMacros.moduleWrap(options) %}
    <div class="u-columns">
        <div class="u-columns__column u-columns__column--eight-l u-flex-column">
            <div class="m-cart-row__wrap">
                {{cartMacros.cartRowT7Populated() }}
                {{alertMacros.alertWarning() }}
                {{cartMacros.cartRowT7Populated(rowClasses="m-cart-row--warning") }}
                {{cartMacros.cartRowT7Populated() }}
                {{alertMacros.alertError() }}
                {{cartMacros.cartRowT7Populated(rowClasses="m-cart-row--error") }}

                
            </div>
        </div>

        <div class="u-columns__column u-columns__column--four-l u-block">
            {{cartMacros.cartCTA() }}
        </div>

    </div>
<section class='u-relative'>

    <div class="m-wrap__header">
        <h2 class="u-h3 m-wrap__heading">You might also like</h2>
    </div>
    <div class="m-wrap__content">
        {{productMacros.productBeltInnerT7()}}
    </div>

</section>
{% endcall %}

 {{footerMacros.footer()}} 
 {% endblock %}
