{% extends "html/t7-live/templates/page-t7.html" %}


{% import 'html/t7-live/modules/hero/macros.html' as heroMacros %}
{#% import 'html/t7-live/modules/cards-category/macros.html' as categoryMacros %#}
{% import 'html/t7-live/modules/cards-product/macros-t7.html' as productMacros %}
{% import 'html/t7-live/modules/brands/macros.html' as brandMacros %}
{% import 'html/t7-live/modules/deals/macros.html' as dealsMacros %}
{#% import 'html/t7-live/modules/story/macros-t7.html' as inspirationMacros %#}
{% import 'html/t7-live/modules/tiles-category/macros.html' as categoryMacros %}
{% import 'html/t7-live/modules/cards-wizard/macros.html' as wizardCardsMacros %}
{% import 'html/t7-live/modules/tiles-gallery/macros.html' as galleryMacros %}
{% import 'html/t7-live/modules/page-title/macros.html' as pageTitleMacros %}
{% import 'html/t7-live/modules/cart-modules/macros.html' as cartMacros %}
{% import 'html/t7-live/components/alerts/macros.html' as alertMacros %}
{% import 'html/t7-live/macros/module-wrap.html' as wrapMacros %}
{% import 'html/t7-live/macros/icons.html' as iconMacros %}
{% import "html/t7-live/components/forms/macros.html" as formMacros %}

{% set pagename = 'T7 checkout Prototype' %}

{% block exampleTitle -%}
   {{ pagename }}
{%- endblock %}


{% block pageContent -%}

{{pageTitleMacros.pageTitleCheckoutT7Populated()}} 

{% 
    set options = {
        heading: "",
        wrapClasses: "u-bg-grey-light-90",
        contentClasses: "",
        ctaText:""
    }
%}

{% call wrapMacros.moduleWrap(options) %}
    <div class="u-columns">
        <div class="u-columns__column u-columns__column--eight-l u-flex-column">
            <div class="m-checkout-row__wrap">

                <div class="m-checkout-row">
                    <div class="u-spacing">
                        <h2 class="u-h5">Email</h2>
                        <div class="m-form__group">
                            <div class="m-form__group-item">
                                <p class="u-p2">Enter your email to continue to checkout as a guest.</p>
                                <p class="u-p3">Already a club member? <a href="#">Sign in here</a></p>
                            </div>
                            <div class="m-form__group-item">
                                {{ formMacros.inputFieldStacked(label="Email", id="email", required="required") }}
                            </div>
                        </div>
                           
                    </div>
                    <div class="m-form__group">
                        <div class="m-form__group-item">
                        {{ formMacros.inputFieldStacked(label="Full name", id="name", required="required") }}
                        
                        <div class="c-form-field__wrap ">
                            <div class="c-form-field c-form-field--input c-form-field--stacked js-form-field">
                                <label class="c-form-field__label c-form-field__label--stacked" for="flybuys">{{label}}</label>
                                <input type="text" class="c-form-field__input js-form-input" name="flybuys" id="flybuys" value="What is Flybuys?" required  />
                                <i class="c-form-field__icon">{{ iconMacros.iconRequired(classes="c-icon") }}</i>
                            </div>
                            <a href="#" class="c-form-field__help">What is Flybuys?</a>
                        </div>

                        </div>
                        <div class="m-form__group-item">
                            {{ formMacros.inputFieldStacked(label="Phone number", id="phone", required="required") }}
                        </div>
                    </div>
                    
                </div>

                <div class="m-checkout-row u-flex-justify-space-between u-flex-align-center">
                    <h2 class="u-h5">Delivery Method</h2>
                    <a href="#" class="c-btn c-btn--link-secondary">Details</a>
                </div>
                {tabs here}
                <div class="m-checkout-row">

                    <div class="m-form__group">
                        <div class="m-form__group-item">
                            {{ formMacros.inputFieldStacked(label="Full name of collector", id="collector", required="required", helpMessage="<strong>4 hour Click & Collect</strong> available at selected stores only.") }}
                        </div>
                        <div class="m-form__group-item">
                            {{formMacros.selectDropdownStacked()}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="u-columns__column u-columns__column--four-l u-block">
                    <div class="m-cta-cart">
                        <div class="m-cta-cart__row m-cta-cart__row--heading">
                            <div class="u-columns">
                                <div class="u-columns__column u-columns__column--six-m u-spacing u-block">
                                    <h5 class="u-h5">Total</h5>
                                    <p class="u-p3">Full order details <a href="#">here</a></p>
                                </div>
                                <div class="u-columns__column u-columns__column--six-m u-block">
                                    <div class="u-price2">$8,000.50</div>
                                    <div class="">100 flybuys points</div>
                                    <p class="u-p3 u-color-grey-light-40">All Prices include GST</p>
                                </div>
                                <div class="u-columns__column">
                                    <button class="c-btn c-btn--primary-disabled">Complete purchase</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="m-cta-cart">
                        <div class="m-cta-cart__row m-cta-cart__row--heading">
                            <h5 class="u-h5">Add Promo or Gift Code </h5>
                        </div>
                        <div class="m-cta-cart__row">
                            <div class="c-form-field__wrap">
                                <div class="c-form-field c-form-field--input c-form-field--stacked m-cta-cart__promo">
                                    <label class="c-form-field__label c-form-field__label--stacked" for="name">Name</label>
                                    <input type="text" class="c-form-field__input js-form-input" name="email" id="name" required=""  />
                                    <i class="c-form-field__icon">{{ iconMacros.iconExpand(classes="c-icon") }}</i>
                                </div>
                            </div>
                        </div>
                        <div class="m-cta-cart__row m-cta-cart__row--heading">
                            <h5 class="u-h5">Order Details</h5>
                        </div>
                        <div class="m-cta-cart__row">
                            <div class="c-card-cart">
                                <div class="c-card-cart__image">
                                    <img src="/assets/images/test/card-cart.jpg" />
                                </div>
                                <div class="m-cart-row__details">
                                    <h6 class="u-h6 u-regular">Liv 2018 Road Bike Vall-E+ 1 Pro - 27.5 E-Bike</h6>
                                    <div>QTY: 1</div>
                                </div>
                                <div class="m-cart-row__pricing">
                                    $8,000
                                </div>
                            </div>
                        </div>
                        <div class="m-cta-cart__row m-cta-cart__row--pricing">
                            <div class="m-cta-cart__price-row">
                                <div class="m-cta-cart__label">
                                    Subtotal
                                </div>
                                <div class="m-cta-cart__value">
                                    $8,000.00
                                </div>
                            </div>
                            <div class="m-cta-cart__price-row">
                                <div class="m-cta-cart__label">
                                    Click & Collect
                                </div>
                                <div class="m-cta-cart__value">
                                    Free
                                </div>
                            </div>
                            <div class="m-cta-cart__price-row --discount">
                                <div class="m-cta-cart__label m-cta-cart__label--discount">
                                    Discount
                                </div>
                                <div class="m-cta-cart__value m-cta-cart__value--discount">
                                    -20.00
                                </div>
                            </div>
                            <div class="m-cta-cart__price-row ">
                                <div class="m-cta-cart__label m-cta-cart__label--total">
                                    Total
                                </div>
                                <div class="m-cta-cart__value m-cta-cart__label--total">
                                    $8,000.00
                                </div>
                            </div>
                        </div>
                        
                    </div>
        </div>

    </div>
    
{% endcall %}

{% endblock %}

