{% extends "html/t7-live/templates/page-t7.html" %}

{% import 'html/t7-live/modules/header/macros.html' as headerMacros %}
{% import 'html/t7-live/modules/footer/macros.html' as footerMacros %}
{% import 'html/t7-live/modules/hero/macros.html' as heroMacros %}
{#% import 'html/t7-live/modules/cards-category/macros.html' as categoryMacros %#}
{% import 'html/t7-live/modules/cards-product/macros-t7.html' as productMacros %}
{#% import 'html/modules/brands/macros.html' as brandMacros %#}
{#% import 'html/modules/deals/macros.html' as dealsMacros %#}
{#% import 'html/t7-live/modules/story/macros-t7.html' as inspirationMacros %#}
{#% import 'html/modules/category-tiles/macros.html' as categoryMacros %#}
{#% import 'html/modules/cards-wizard/macros.html' as wizardCardsMacros %#}
{#% import 'html/t7-live/modules/tiles-gallery/macros.html' as galleryMacros %#}

{% set pagename = 'T7 Homepage V2' %}

{% block exampleTitle -%}
   {{ pagename }}
{%- endblock %}


{% block header -%}

{% endblock %}

{% block pageContent -%}

    {{headerMacros.headerT7()}}

        <section class="text-content">

<style type="text/css">


    #brand-sales-policy-footer-link {
        display: none;
    }
</style>
<ol class="breadcrumb">
    <li class="start">
        You are here:</li>
    <li>
        <a href="/content/help.html">Help</a>
    </li>
    <li class="location">
        90-day Right of Return Policy</li>
</ol>
<div class="padding">


    <!--<img src="/images/banners/2016-11-14/20161118_90day_slot3.jpg" width="790" alt="" style="padding:10px 10px 10px 0px;">-->
    <h1>
        90-day Right of Return Policy</h1>
    <!--<div>-->
    <!--   <h2>For peace of mind Christmas Shopping, we are extending your right of return to 90 days. </h2> -->
    <!--</div>	-->
    <!--	<div>-->
    <!--	    <p>If you change your mind about a purchase, or eat too much Christmas Ham and need to change sizes, you can do so easily.-->
    <!--	    Buy between now and the 31st of January, and you have 90 days from purchase date to return products if you are not fully satisfied.</p>-->

    <!--	</div>-->
    <!--<hr />-->
    <br>


    <p>
        While the Consumer Guarantee Act and Fair Trading Act provide the basis for our returns policy, we go a bit better than that……</p>

    <p>
        If you're not 100% completely satisfied with your purchase we will happily accept your return and provide you with a store
        credit or a full refund to the value of the product's purchase price. You can return the product to any of our stores
        nationwide, or send it back to our Head Office. With our 90-day right of return policy there are no special catches
        it's extremely simple! All we ask is that you return the item back to us unused and in the original packaging, making
        sure that the product is in the same condition as you received it in, tags still intact. The only exceptions to our
        returns policy are: Underwear, socks and swimwear which we cannot accept back due to hygiene reasons.Torpedo7 Gift
        Cards are not redeemable for cash or refundable.
    </p>

    <div>
        NOTE: These products are still guaranteed under the Consumers Guarantees Act.</div>
    <div>
        If you want to exchange something on your order for something else then simply return what you don’t want and place a new
        order for what you require on our website. Alternatively, you can exchange some products in store as per below.</div>
    <h3>
        Here's what you need to do</h3>
    <h3>
        In-Store Returns</h3>
    <p>
        Take the product into any of our stores (excluding Newmarket &amp; Westgate Outlet Stores) with proof of purchase (or if
        you are an Over &amp; Above Club member we can easily find your receipt for you) for an exchange or refund. If the
        product was purchased online, cash refunds cannot be done in store. Staff will happily arrange this for you and it
        will be processed within 2-3 business days. Please note that if exchanging a product, the store may not have the
        item you want in stock, but if it is available online they can help you place an order while in store.</p>
    <p>
        &nbsp;</p>
    <h3>
        Sending it back to us</h3>
    Click here to
    <a href="/docs/t7-returns-formA4-v2.pdf" target="_blank">download the Torpedo7 Returns form</a>.
    <br>
    <br> 1.
    <span class="Apple-tab-span" style="white-space: pre;"> </span>Complete the returns form which you can download above. If you can not print the returns form, please include
    a note stating the purchaser's name, address, e-mail address and order number if known.
    <br> 2.
    <span class="Apple-tab-span" style="white-space: pre;"> </span>Using a good carton, return package via insured Courier Post Mail or other Parcel Carrier of your choice.
    <br> 3.
    <span class="Apple-tab-span" style="white-space: pre;"> </span>Send returns to:
    <br>
    <br> Torpedo7 (Returns)
    <br> 26 Sharpe Road,
    <br>Tamahere,
    <br>Hamilton 3282
    <!--26 Sharpe Rd, RD2, Rukuhia,<br />-->
    <!--Hamilton, New Zealand<br />-->
    <!--3882<br />-->
    <br>
    <br> (NOTE: Cash on Deliveries (CODs) will not be accepted)
    <br>
    <br> 4.
    <span class="Apple-tab-span" style="white-space: pre;"> </span>Keep a record of your shipment until you have received credit or refund.
    <br> For additional information on our return policies, please contact our Customer Service department at 0800 86 77 33,
    or e-mail us
    <a href="mailto:returns@torpedo7.com">returns@torpedo7.com</a>
    <h3>
        Our Legal Obligations:</h3>
    <h3>
        Consumer Guarantees Act 1993</h3>
    <div>
        The Consumer Guarantee Act sets out minimum standards for goods sold by Torpedo7 LTD. In the event that goods sold are not
        of good quality or are faulty, the customer has the right to a repair, replacement or a refund.</div>
    <div>
        &nbsp;</div>
    <h3>
        Fair Trading Act 1986</h3>
    <div>
        The Fair Trading Act is designed to protect the customer being misled, either intentionally or unintentionally. This applies
        to all aspects of the promotion and sale of goods and services including: pricing; where the product was made; where
        the product is from; the meeting of New Zealand safety standards; availability of products in store and the sales
        techniques used. The Commerce Commission enforces the Fair Trading Act 1986.</div>
    <div>
        &nbsp;</div>
    <h3>
        Procedures</h3>
    <div>
        Please contact Customer Support team on 0800 867733 or email us at returns@torpedo7.com if you want to return a product for
        reasons that you believe are covered by either of these two Acts. After we have assessed your claim for a return
        there are three options available for our customers:</div>
    <div>
        &nbsp;</div>
    <ol>
        <li>
            Refund - A refund will be made in the same tender as the original purchase. Please note that purchases made by cheque need
            7 days to clear before we can refund</li>
        <li>
            Credit Note - The issuing of a store credit notes provides an alternative to a refund. These credit notes can be used to
            purchase anything from the Torpedo7.com online store. Credit notes can not be exchanged for cash and will not
            be generated for amounts less than $2.00.</li>
        <li>
            Repair or replace -&nbsp;If the returned product is still under warranty then the repair or replacement will be at our expense.
            If the product is out of warranty, then we can still have the product repaired, however, the cost of the repair
            will be charged to the customer. In some cases we may not be able to repair or replace your product due to availability
            or discontinuation of that particular line.</li>
    </ol>
    <div>
        &nbsp;</div>
    <h3>
        Parallel Import Products&nbsp;</h3>
    <div>
        Parallel Import products are genuine branded products sourced globally to bring you the real thing at unreal prices. &nbsp;Manufactured
        to international specifications, all Parallel Import products carry the Torpedo7 12 month warranty. For any queries
        relating to Parallel Import products please call 0800 867 733.</div>

</div>

        </section>



    {{footerMacros.footer()}}
{% endblock %}

{% block footer -%}
{% endblock %}