{% extends "html/t7-live/templates/page-t7.html" %}


{% import 'html/t7-live/modules/hero/macros.html' as heroMacros %}
{% import 'html/t7-live/modules/cards-product/macros-t7.html' as productMacros %}
{% import 'html/t7-live/modules/brands/macros.html' as brandMacros %}
{% import 'html/t7-live/modules/deals/macros.html' as dealsMacros %}
{% import 'html/t7-live/modules/tiles-category/macros.html' as categoryMacros %}
{% import 'html/t7-live/modules/cards-wizard/macros.html' as wizardCardsMacros %}
{% import 'html/t7-live/modules/tiles-gallery/macros.html' as galleryMacros %}
{% import 'html/t7-live/modules/page-title/macros.html' as pageTitleMacros %}
{% import 'html/t7-live/modules/cart-modules/macros.html' as cartMacros %}
{% import 'html/t7-live/components/alerts/macros.html' as alertMacros %}
{% import 'html/t7-live/macros/module-wrap.html' as wrapMacros %}
{% import 'html/t7-live/macros/icons.html' as iconMacros %}
{% import "html/t7-live/components/forms/macros.html" as formMacros %}
{% import 'html/t7-live/modules/header/macros.html' as headerMacros %}
{% import 'html/t7-live/modules/footer/macros.html' as footerMacros %}
{% import 'html/t7-live/modules/sort-filters/macros.html' as filtersMacros %}


{% set pagename = 'T7 Homepage' %}

{% block exampleTitle -%}
   {{ pagename }}
{%- endblock %}

{% block header -%}

{% endblock %}

{% block pageContent -%}

    {{headerMacros.headerT7()}}



{% macro formPageBlock(heading="") -%}
	<div class="u-columns">
		<div class="u-columns__column u-columns__column--four u-flex u-flex-align-center">
		{{heading}}:
		</div>
		<div class="u-columns__column u-columns__column--eight">
			{{caller()}}
		</div>
	</div>
{%- endmacro %}


	{% call wrapMacros.moduleWrap() -%}
					<div class="m-form m-form--stacked">
						{% call formPageBlock(heading="Idle Default") -%}
							{{ formMacros.inputFieldStacked(label="Name", id="name") }}
						{% endcall %}

						{% call formPageBlock(heading="Idle Required") -%}
							{{ formMacros.inputFieldStacked(label="Name", id="name2", required="required") }}
						{% endcall %}

						{% call formPageBlock(heading="Focus") -%}
							{{ formMacros.inputFieldStacked(label="Name", id="name3", value="Started Typing", fieldClasses="c-form-field--input-has-focus") }}
						{% endcall %}
						
						{% call formPageBlock(heading="Error") -%}
							{{ formMacros.inputFieldStacked(label="Email", id="email", value="Started Typing", fieldClasses="c-form-field--input-has-error", errorMessage="Please enter a valid email address") }}
						{% endcall %}

						{% call formPageBlock(heading="Help message") -%}
							{{ formMacros.inputFieldStacked(label="Email", id="email", value="", fieldClasses="", helpMessage="Field specific help message") }}
						{% endcall %}
						{% call formPageBlock(heading="Valid") -%}
							{{ formMacros.inputFieldStacked(label="Email", id="email", value="email@email.com", fieldClasses="c-form-field--input-has-passed", valid=true) }}
						{% endcall %}
						
						{% call formPageBlock(heading="disabled") -%}
							
							<div class="c-form-field__wrap">
								<div class="c-form-field c-form-field--input c-form-field--stacked c-form-field--input-is-disabled">
									<label class="c-form-field__label c-form-field__label--stacked" for="email">Email</label>
									<input type="email" class="c-form-field__input js-form-input" name="email" id="email" disabled="disabled" />
								</div>
							</div>	
						{% endcall %}		
						
{% endcall %}



{% call wrapMacros.moduleWrap() -%}
				<div class="m-form m-form--stacked">

					{% call formPageBlock(heading="Idle default") -%}
						<div class="c-form-field__wrap">
							<div class="c-form-field c-form-field--textarea c-form-field--stacked js-form-field">
								<label class="c-form-field__label c-form-field__label--textarea" for="comments">Comments</label>
								<textarea class="c-form-field__textarea js-form-textarea" name="comments" id="comments" ></textarea>
							</div>
						</div>
					{% endcall %}
					{% call formPageBlock(heading="focus") -%}
						<div class="c-form-field__wrap">
							<div class="c-form-field c-form-field--textarea c-form-field--stacked js-form-field c-form-field--input-has-focus">
								<label class="c-form-field__label c-form-field__label--textarea" for="comments">Comments</label>
								<textarea class="c-form-field__textarea js-form-textarea" name="comments" id="comments" >Started Typing</textarea>
							</div>
						</div>
					{% endcall %}
					{% call formPageBlock(heading="Required") -%}
						<div class="c-form-field__wrap">
							<div class="c-form-field c-form-field--textarea c-form-field--stacked js-form-field">
								<label class="c-form-field__label c-form-field__label--textarea" for="comments">Comments</label>
								<textarea class="c-form-field__textarea js-form-textarea" required="required" name="comments" id="comments" ></textarea>
								<i class="c-form-field__icon c-form-field__icon--textarea">{{ iconMacros.iconRequired(classes="c-icon") }}</i>
							</div>
						</div>
					{% endcall %}
					{% call formPageBlock(heading="Valid") -%}
						<div class="c-form-field__wrap">
							<div class="c-form-field c-form-field--textarea c-form-field--stacked js-form-field c-form-field--input-has-focus">
								<label class="c-form-field__label c-form-field__label--textarea" for="comments">Comments</label>
								<textarea class="c-form-field__textarea js-form-textarea" required="required" name="comments" id="comments" >Started typing</textarea>
								<i class="c-form-field__icon c-form-field__icon--textarea">{{ iconMacros.iconTick(classes="c-icon") }}</i>
							</div>
						</div>
					{% endcall %}
					{% call formPageBlock(heading="Help & Error") -%}
						<div class="c-form-field__wrap">
							<div class="c-form-field c-form-field--textarea c-form-field--stacked js-form-field c-form-field--input-has-error">
								<label class="c-form-field__label c-form-field__label--textarea" for="comments">Comments</label>
								<textarea class="c-form-field__textarea js-form-textarea" required="required" name="comments" id="comments" ></textarea>
								<i class="c-form-field__icon c-form-field__icon--textarea">{{ iconMacros.iconExclamation(classes="c-icon") }}</i>
							</div>
							<div class="c-form-field__error">Field specific error message here</div>
							<div class="c-form-field__help">Field specific help message here</div>
						</div>
					{% endcall %}
				</div>
{% endcall %}


{% call wrapMacros.moduleWrap() -%}




						<div class="m-form m-form--stacked">
						{% call formPageBlock(heading="Unstyled select") -%}
							<div class="c-form-field__wrap">
								<select name="Country">
									<option value=""></option>
									<option value="option1">Option Name</option>
									<option value="option1">Option Name</option>
									<option value="option1">Option Name</option>
								</select>
							</div>
							
						{% endcall %}
						{% call formPageBlock(heading="Valid") -%}

							<div class="c-form-field__wrap">
								<div class="c-form-field c-form-field--select c-form-field--stacked js-form-field">
									<label class="c-form-field__label c-form-field__label--stacked" for="email">Select region</label>
									<select name="Country" class="c-form-field__select js-form-select">
										<option value=""></option>
										<option value="option1">Option Name</option>
										<option value="option1">Option Name</option>
										<option value="option1">Option Name</option>
									</select>
									<i class="c-form-field__select-indicator">{{ iconMacros.iconChevronDown(classes="c-form-field__select-icon") }}</i>
								</div>
							</div>
						{% endcall %}
						{% call formPageBlock(heading="Valid") -%}
							<div class="c-form-field__wrap">
								<div class="c-form-field c-form-field--select c-form-field--stacked js-form-field c-form-field--select-has-value">
									<label class="c-form-field__label c-form-field__label--stacked" for="email">Select region</label>
									<select name="Country" class="c-form-field__select js-form-select">
										<option value=""></option>
										<option value="option1" selected="selected">Option Name</option>
										<option value="option1">Option Name</option>
										<option value="option1">Option Name</option>
									</select>
									<i class="c-form-field__select-indicator">{{ iconMacros.iconChevronDown(classes="c-form-field__select-icon") }}</i>
								</div>
							</div>
						{% endcall %}
						
					</div>
{% endcall %}


{% call wrapMacros.moduleWrap() -%}


{% call formPageBlock(heading="Filters") -%}


        {{ filtersMacros.checkbox(el='div', name='$500-$1500', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value
js-form-field') }}
						

 {% endcall %}


	{% call formPageBlock(heading="Default") -%}

		<div class="c-form-field__wrap">
			<div class="c-form-field c-form-field--checkbox c-form-field--stacked js-form-field">
				<label class="c-form-field__label c-form-field__label--checkbox" for="checkbox">Checkbox label</label>
				<input type="checkbox" id="checkbox" class="c-form-field__checkbox" />
				<i class="c-form-field__icon-wrap c-form-field__icon-wrap--checkbox">{{ iconMacros.iconTick(classes="c-form-field__check-icon") }}</i>
			</div>
		</div>
				
	{% endcall %}	
	
	{% call formPageBlock(heading="Checked") -%}
	

		<div class="c-form-field__wrap">
			<div class="c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field">
				<label class="c-form-field__label c-form-field__label--checkbox" for="checkbox2">Checkbox label</label>
				<input type="checkbox" id="checkbox2" class="c-form-field__checkbox" checked="checked" />
				<i class="c-form-field__icon-wrap c-form-field__icon-wrap--checkbox">{{ iconMacros.iconTick(classes="c-form-field__check-icon") }}</i>
			</div>
		</div>
			
    {% endcall %}
    

 {% call formPageBlock(heading="Small") -%}


<div class="c-form-field__wrap">
    <div class="c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field">
        <label class="c-form-field__label c-form-field__label--checkbox-small" for="checkbox3">Checkbox label</label>
        <input type="checkbox" id="checkbox3" class="c-form-field__checkbox" checked="checked" />
        <i class="c-form-field__icon-wrap c-form-field__icon-wrap--checkbox-small">{{ iconMacros.iconTick(classes="c-form-field__check-icon") }}</i>
    </div>
</div>

{% endcall %}

	{% call formPageBlock(heading="Help text") -%}
	

		<div class="c-form-field__wrap">
			<div class="c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field">
				<label class="c-form-field__label c-form-field__label--checkbox" for="checkbox2">Checkbox label</label>
				<input type="checkbox" id="checkbox2" class="c-form-field__checkbox" />
				<i class="c-form-field__icon-wrap c-form-field__icon-wrap--checkbox">{{ iconMacros.iconTick(classes="c-form-field__check-icon") }}</i>
			</div>
			<div class="c-form-field__help c-form-field__help--checkbox">Field specific help message here</div>
		</div>
			
    {% endcall %}
    
    

	{% call formPageBlock(heading="Error validation") -%}
	
		<div class="c-form-field__wrap">
			<div class="c-form-field c-form-field--checkbox c-form-field--input-has-error js-form-field">
				<label class="c-form-field__label c-form-field__label--checkbox" for="checkbox2">Checkbox label</label>
				<input type="checkbox" id="checkbox2" class="c-form-field__checkbox" />
				<i class="c-form-field__icon-wrap c-form-field__icon-wrap--checkbox">{{ iconMacros.iconTick(classes="c-form-field__check-icon") }}</i>
			</div>
			<div class="c-form-field__error c-form-field__error--checkbox">Field specific error message here</div>
			<div class="c-form-field__help c-form-field__help--checkbox">Field specific help message here</div>
		</div>
			
	{% endcall %}



	{% call formPageBlock(heading="Default") -%}
	
		<div class="c-form-field__wrap">
			<div class="c-form-field c-form-field--radio js-form-field">
				<label class="c-form-field__label c-form-field__label--radio" for="radio1">Radio label</label>
				<input type="radio" id="radio1" name="radio" class="c-form-field__radio" />
				<i class="c-form-field__icon-wrap c-form-field__icon-wrap--radio">{{ iconMacros.iconRadioCheck(classes="c-form-field__radio-icon") }}</i>
			</div>
		</div>
			
	{% endcall %}

	{% call formPageBlock(heading="Selected") -%}
	
		<div class="c-form-field__wrap">
			<div class="c-form-field c-form-field--radio js-form-field">
				<label class="c-form-field__label c-form-field__label--radio" for="radio2">Radio label</label>
				<input type="radio" id="radio2" name="radio" class="c-form-field__radio" checked="checked"/>
				<i class="c-form-field__icon-wrap c-form-field__icon-wrap--radio">{{ iconMacros.iconRadioCheck(classes="c-form-field__radio-icon") }}</i>
			</div>
		</div>
			
    {% endcall %}
    

    	{% call formPageBlock(heading="Selected") -%}
	
		<div class="c-form-field__wrap">
			<div class="c-form-field c-form-field--radio js-form-field">
				<label class="c-form-field__label c-form-field__label--radio-small" for="radio3">Radio label</label>
				<input type="radio" id="radio3" name="radio3" class="c-form-field__radio" checked="checked"/>
				<i class="c-form-field__icon-wrap c-form-field__icon-wrap--radio-small">{{ iconMacros.iconRadioCheck(classes="c-form-field__radio-icon") }}</i>
			</div>
		</div>
			
	{% endcall %}


	{% call formPageBlock(heading="Group & Help text") -%}
		<div class="c-form-field__group-wrap">
			<div class="c-form-field__group">
				<div class="c-form-field__wrap">
					<div class="c-form-field c-form-field--radio js-form-field">
						<label class="c-form-field__label c-form-field__label--radio" for="hewey">Huey</label>
						<input type="radio" id="hewey" class="c-form-field__radio" name="radiogroup" />
						<i class="c-form-field__icon-wrap c-form-field__icon-wrap--radio">{{ iconMacros.iconRadioCheck(classes="c-form-field__radio-icon") }}</i>
					</div>
				</div>
				<div class="c-form-field__wrap">
					<div class="c-form-field c-form-field--radio js-form-field">
						<label class="c-form-field__label c-form-field__label--radio" for="dewey">Dewey</label>
						<input type="radio" id="dewey" class="c-form-field__radio" name="radiogroup" />
						<i class="c-form-field__icon-wrap c-form-field__icon-wrap--radio">{{ iconMacros.iconRadioCheck(classes="c-form-field__radio-icon") }}</i>
					</div>
				</div>
				<div class="c-form-field__wrap">
					<div class="c-form-field c-form-field--radio js-form-field">
						<label class="c-form-field__label c-form-field__label--radio" for="louie">Louie</label>
						<input type="radio" id="louie" class="c-form-field__radio" name="radiogroup" />
						<i class="c-form-field__icon-wrap c-form-field__icon-wrap--radio">{{ iconMacros.iconRadioCheck(classes="c-form-field__radio-icon") }}</i>
					</div>
				</div>
			</div>
			<div class="c-form-field__help c-form-field__help--group">Field specific help message here</div>
		</div>
	{% endcall %}

	{% call formPageBlock(heading="Group & Error validation") -%}
		<div class="c-form-field__group-wrap">
			<div class="c-form-field__group c-form-field--group-has-error">
				<div class="c-form-field__wrap">
					<div class="c-form-field c-form-field--radio js-form-field">
						<label class="c-form-field__label c-form-field__label--radio" for="hewey">Huey</label>
						<input type="radio" id="hewey" class="c-form-field__radio" name="radiogroup" />
						<i class="c-form-field__icon-wrap c-form-field__icon-wrap--radio">{{ iconMacros.iconRadioCheck(classes="c-form-field__radio-icon") }}</i>
					</div>
				</div>
				<div class="c-form-field__wrap">
					<div class="c-form-field c-form-field--radio js-form-field">
						<label class="c-form-field__label c-form-field__label--radio" for="dewey">Dewey</label>
						<input type="radio" id="dewey" class="c-form-field__radio" name="radiogroup" />
						<i class="c-form-field__icon-wrap c-form-field__icon-wrap--radio">{{ iconMacros.iconRadioCheck(classes="c-form-field__radio-icon") }}</i>
					</div>
				</div>
				<div class="c-form-field__wrap">
					<div class="c-form-field c-form-field--radio js-form-field">
						<label class="c-form-field__label c-form-field__label--radio" for="louie">Louie</label>
						<input type="radio" id="louie" class="c-form-field__radio" name="radiogroup" />
						<i class="c-form-field__icon-wrap c-form-field__icon-wrap--radio">{{ iconMacros.iconRadioCheck(classes="c-form-field__radio-icon") }}</i>
					</div>
				</div>
			</div>
			<div class="c-form-field__error c-form-field__error--group">Field specific error message here</div>
			<div class="c-form-field__help c-form-field__help--group">Field specific help message here</div>
		</div>
	{% endcall %}


{% endcall %}



    {{footerMacros.footer()}}


{% endblock %}

{% block footer -%}
{% endblock %}