{% extends "html/t7-live/templates/page-t7.html" %}


{% import 'html/t7-live/modules/hero/macros.html' as heroMacros %}
{% import 'html/t7-live/modules/cards-product/macros-t7.html' as productMacros %}
{% import 'html/t7-live/modules/brands/macros.html' as brandMacros %}
{% import 'html/t7-live/modules/deals/macros.html' as dealsMacros %}
{% import 'html/t7-live/modules/story/macros-t7.html' as storyMacros %}
{% import 'html/t7-live/modules/tiles-category/macros.html' as categoryMacros %}
{% import 'html/t7-live/modules/cards-wizard/macros.html' as wizardCardsMacros %}
{% import 'html/t7-live/modules/tiles-gallery/macros.html' as galleryMacros %}
{% import 'html/t7-live/modules/header/macros.html' as headerMacros %}
{% import 'html/t7-live/modules/footer/macros.html' as footerMacros %}
{% import 'html/t7-live/modules/cards-editorial/macros.html' as editorialCardsMacros %}
{% import 'html/t7-live/modules/promo/macros-t7.html' as promoMacros %}

{% set pagename = 'T7 Homepage' %}

{% block exampleTitle -%}
   {{ pagename }}
{%- endblock %}

{% block header -%}

{% endblock %}

{% block pageContent -%}

    {{headerMacros.headerT7()}}

    {{heroMacros.heroT7Polulated()}}

    {{brandMacros.brandsBeltT7Polulated(wrapClasses="m-wrap--spacious")}}

    {{productMacros.productNoColorsBeltT7Populated()}}

    {{promoMacros.promoTiles3UpT7()}}

    {{dealsMacros.dealBeltProducts()}}

    {{categoryMacros.categoryTilesBeltCarouselT7Populated()}}
    
  
    <div class="m-inspiration__group js-animate-module">
    
        {{storyMacros.categoryBannerSnowPopulated()}}

        {{storyMacros.categoryBannerBikePopulated()}}
        <div class="m-inspiration__group-bg"></div>

    </div>

    

    {#{editorialCardsMacros.editorialCardsBeltPopulated()}#}

    {#{wizardCardsMacros.wizardCardsBeltPopulated()}#}

    {{wizardCardsMacros.wizardLinkCardsBeltPopulated()}}

    {{galleryMacros.galleryTilesGridT7Populated()}} 

    {{footerMacros.footer()}}
    
{% endblock %}

{% block footer -%}
{% endblock %}