
{% import 'html/t7-live/modules/deals/macros.html' as moduleMacros %}
{% import 'html/guide/macros/module.html' as wrapMacros %}
{% import 'html/guide/macros/guide.html' as guideMacros %}

{% call wrapMacros.moduleWrap() -%}
<div class="u-spacing g-intro">
    <h2 class="u-h2">Visual Design:</h2>
    <h3 class="u-h3">Invision Links:</h3>
    <a href="https://invis.io/SJL4QYA2X54" target="_blank" class="u-p1">Desktop Designs</a>
    <a href="https://invis.io/T2L4QZ16EBD" target="_blank" class="u-p1">Mobile Designs</a>

    <h3 class="u-h3 u-margin-top-x10">Styleguide:</h3>
    <a href="/html/guide/style/typography.html" target="_blank" class="u-p1">Typography</a>
    <a href="/html/guide/style/colours.html" target="_blank" class="u-p1">Colors</a>
    <a href="/html/elements/buttons.html" target="_blank" class="u-p1">Buttons</a>

    <h2 class="u-h2 u-margin-top-x10">Homepage:</h2>
    
    <h3 class="u-h3 u-margin-top-x10">HTML Prototype (to demonstrate responsive behavior):</h3>
    <a href="/html/home.html" target="_blank" class="u-p1">Homepage prototype</a>

    <h3 class="u-h3 u-margin-top-x10">Homepage Modules Variations & Specs:</h3>
    <a href="/html/modules/hero.html" target="_blank"  class="u-p1">Hero banner</a>
    <a href="/html/modules/brands-belt.html" target="_blank"  class="u-p1">Brands belt</a>
    <a href="/html/modules/product-cards-belt.html" target="_blank"  class="u-p1">Product cards belt carousel</a>
    <a href="/html/modules/deals-belt.html" target="_blank"  class="u-p1">Deals belt carousel</a>
    <a href="/html/modules/categories-tiles-belt-carousel.html" target="_blank"  class="u-p1">Category tiles belt carousel</a>
    <a href="/html/modules/story.html" target="_blank"  class="u-p1">Category story</a>
    <a href="/html/modules/wizard-cards-belt.html" target="_blank"  class="u-p1">Wizard cards belt</a>
    <a href="/html/modules/tiles-gallery.html" target="_blank"  class="u-p1">Gallery tiles grid</a>

    <h2 class="u-h2 u-margin-top-x10">CLP:</h2>

    <h3 class="u-h3 u-margin-top-x10">HTML Prototype (to demonstrate responsive behavior):</h3>
    <a href="/html/clp.html" target="_blank" class="u-p1">CLP prototype</a>

    <h3 class="u-h3 u-margin-top-x10">CLP Modules Variations & Specs:</h3>
    {{guideMacros.linksPageLink(url="/html/modules/hero-clp.html", linkText="Hero banner (CLP)")}}
    {{guideMacros.linksPageLink(url="/html/modules/product-cards-belt.html", linkText="Product cards belt carousel")}}
    {{guideMacros.linksPageLink(url="/html/modules/deals-belt.html", linkText="Deals belt carousel")}}
    {{guideMacros.linksPageLink(url="/html/modules/brands-belt.html", linkText="Brands belt")}}
    {{guideMacros.linksPageLink(url="/html/modules/story.html", linkText="Category story (CLP version)")}}
    {{guideMacros.linksPageLink(url="/html/modules/wizard-cards-belt.html", linkText="Wizard cards belt")}}
    {{guideMacros.linksPageLink(url="/html/modules/site-map.html", linkText="Site Map")}}
    {{guideMacros.linksPageLink(url="/html/modules/content-t7.html", linkText="Single Column Content")}}

    <h2 class="u-h2 u-margin-top-x10">PLP:</h2>

 <h3 class="u-h3 u-margin-top-x10">PLP HTML Prototypes (to demonstrate responsive behavior):</h3>
    {{guideMacros.linksPageLink(url="/html/plp.html", linkText="PLP prototype")}}
    {{guideMacros.linksPageLink(url="/html/search.html", linkText="Search results prototype")}}

    <h3 class="u-h3 u-margin-top-x10">PLP Modules Variations & Specs:</h3>
    <a href="/html/modules/categories-tiles-belt-banner.html" target="_blank" class="u-p1">Category tiles belt banner</a>
    <a href="/html/modules/categories-tiles-belt.html" target="_blank" class="u-p1">Featured Category tiles belt</a>
    <a href="/html/modules/page-title.html" target="_blank" class="u-p1">Page Title (PLP and Search results versions)</a>
    <a href="/html/modules/brands-belt.html" target="_blank" class="u-p1">Brands belt</a>
    <a href="/html/modules/sort-filters.html" target="_blank" class="u-p1">Sort & Filters</a>

    <h2 class="u-h2 u-margin-top-x10">Cart:</h2>

    <h3 class="u-h3 u-margin-top-x10">Cart HTML Prototypes (to demonstrate responsive behavior):</h3>
    {{guideMacros.linksPageLink(url="/html/cart.html", linkText="Cart prototype")}}

    <h3 class="u-h3 u-margin-top-x10">Cart Modules Variations & Specs:</h3>
    {{guideMacros.linksPageLink(url="/html/modules/page-title.html", linkText="Page title")}}
    {{guideMacros.linksPageLink(url="/html/components/alerts.html", linkText="Alert notifications")}}
    {{guideMacros.linksPageLink(url="/html/modules/cart-modules.html", linkText="Cart modules")}}
    {{guideMacros.linksPageLink(url="/html/components/forms.html", linkText="Form Components")}}

    <h2 class="u-h2 u-margin-top-x10">Checkout:</h2>

    <h3 class="u-h3 u-margin-top-x10">Checkout HTML Prototypes (to demonstrate responsive behavior):</h3>
    {{guideMacros.linksPageLink(url="/html/checkout.html", linkText="Checkout prototype")}}
    {{guideMacros.linksPageLink(url="https://zg6mnn.axshare.com", linkText="Early mobile checkout user testing prototype")}}

    <h3 class="u-h3 u-margin-top-x10">Checkout Modules Variations & Specs:</h3>
    {{guideMacros.linksPageLink(url="/html/modules/page-title.html", linkText="Page title")}}
    {{guideMacros.linksPageLink(url="/html/components/forms.html", linkText="Form Components")}}
    {{guideMacros.linksPageLink(url="/html/modules/checkout.html", linkText="Checkout Modules")}}

    
</div> 
{% endcall %}

