.c-badge{
    border-radius:50%;
    position:absolute;
    background: $theme-color-a;
    color: #fff;
    height: $x4;
    line-height: $x4;
    border-radius: 50%;
    display: inline-block;
    margin:-$x3 0 0 16px;
    width: $x4;
    font-size: 10px;
    letter-spacing: 0px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    white-space: normal;
}