//
// ------------------------------------- 
// 	COMPONENT: Deal Category Card
// -------------------------------------
//  
//

$name                    : c-card-deal-category;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {

    //.c-card-deal-category__heading
    &__heading {
        @include font-header;
        font-size: 14px;
    }
}