//
// ------------------------------------- 
// 	COMPONENT: Deal Product Card
// -------------------------------------
//  
//

$name                    : c-card-deal-product;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {

    //.c-card-deal-product__price
    &__price {
        &--was {
            color: $color-grey-light-40;
            margin-bottom: 10px;
            span {
                text-decoration: line-through;
            }
        }
        &--now {
            color: $color-a;
        }
    }
}