//
// ------------------------------------- 
// 	COMPONENT: HERO BANNER TILES
// -------------------------------------
//  
//

$name                    : c-wizard-card;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    display: flex;
    
    margin: 1px;
    width: 100%;
    position: relative;
    overflow:hidden;

    @include media($media-xs-max) {
        margin: 1px $x4;
    }

    @include media($media-s) {
        flex-direction: column;
    }

    //.c-wizard-card__wrap
    &__wrap {
        margin: 0 auto;
        @include media($media-m){
            flex-wrap: nowrap;
        }
    }
    
    //.c-wizard-card__image
    &__image{
        display: block;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        background-position: center;
        transition: all $transition-time $transition-easing;

        #{$selector}:hover & {
           transform: scale(1.1);
        }
    }

    //.c-wizard-card__image-wrap
    &__image-wrap{
        position: relative;
        width: 100%;
        overflow:hidden;
        @include aspect-1-by-1;
        @include media($media-xs-max) {
            order: 1;
            flex-basis: 80px;
        }

        @include media($media-s) {
            @include aspect-9-by-8;
            flex-basis: auto;
        }
    }

    //.c-wizard-card__cta
    &__cta {
        padding: $x6 $x6 $x4 $x6;
        background-color: white;
        order: 2;

        &.is-selected {
            background-color: black;
        }

        @include media($media-xs-max) {
            flex-basis: 100%;
            padding: $x4;
            display: flex;
            align-items: center;
            flex-grow: 1;
        }
    }

    //.c-wizard-card__heading
    &__heading{
        font-size: 14px;
        font-weight: $font-weight-regular;
        padding: 8px 0 8px 40px;

        @include media($media-s) {
            font-size: $header-font-size-h4-l;
            font-weight: $font-weight-bold;
            padding: 0;
        }

        #{$selector}--link & {
            padding: 8px 0;

            @include media($media-s) {
                padding: 0;
            }
            
        }
    }

    //.c-wizard-card__checkbox
    &__checkbox, &__icon{
        // margin-right: $x4;

        @include media($media-s) {
            display: none;
        }
        
    }

    //.c-wizard-card__link
    &__link{
        position: absolute;
        width: 100%;
        height: 100%;
        left:0;
        top:0;
        cursor: pointer;
        user-select: none;
        z-index:2;
    }

    //.c-wizard-card__btn
    &__btn {
        @include media($media-xs-max) {
            display: none;
        } 
    }
}