// ------------------------------------- 
// 	COMPONENT: Product CARD cart
// -------------------------------------

$name                    :c-card-cart;
$selector                : ".#{$name}";

//Selectors
#{$selector} {
    display: flex;

    // c-card-cart__image
    &__image {
        
    }

    // c-card-cart__info
    &__info {
        
    }


}