//
// ------------------------------------- 
// 	COMPONENT: Deal Card
// -------------------------------------
//  
//

$name                    : c-card-deal;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    // position: relative;
    // display: flex;
    // flex-direction: column;
    // background-color: white;
    // display: block;
    // margin: 1px;
    // flex-shrink: 0;
    // width: 208px;

    // @include aspect-8-by-9;

    // @include media($media-m) {
    //     width: calc(50% - 2px);
    // }

    // @include media($media-l) {
    //     width: calc(25% - 2px);
    // }

    // @include media($media-xl) {
    //     width: calc(16.666% - 2px);
    // }

    //.c-card-deal__content
    &__content {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        padding: $x2;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media($media-m) {
            // width: calc(100% - $x8);
            padding: $x6 $x2 $x5;
        }
    }

    //.c-card-deal__image-wrap
    &__image-wrap {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: $x2;
        width: calc(100% - 16px);
        
        @include media($media-m) {
            width: 90%;
        }
        @include media($media-l) {
            width: 85%;
        }
        @include media($media-xxl) {
            width: 90%;
        }
    }

     //.c-card-deal__image
     &__image {
        display: block;
        z-index: 1;
        transition: all $transition-time $transition-easing;
        width: 100%;
        height: 100%;
        
        @include media($media-l) {
            #{$selector}:hover & {
                transform: scale(1.1);
            }
        }
       
    }
   
}