//
// ------------------------------------- 
// 	COMPONENT: Product card
// -------------------------------------
//  
//



$name                    : c-card-product;
$selector                : ".#{$name}";

@mixin productCardHover {

    @include media($media-l) {
        #{$selector}:hover & {
            @content;
        }
    }
}

////////////////////////////////////////////////////////
#{$selector} {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 $x1 $x1;
    align-items: center;
    background-color: white;
    margin: $card-gutter/2;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;

    // c-card-product--belt
    &--belt, &--no-colors-belt {
        padding-top: $x8;
        padding-bottom: $x2;
        background-color: white;
        width: calc(100% - #{$card-gutter}) !important;
    }

    // c-card-product--deal
    &--deal {
        width: 100%;
        height:100%;
        position: absolute;
        top:0;
        left:0;
        background-color: transparent;
        justify-content: flex-end;
    }

    // c-card-product--story
    &--story {
      
        width: 100%;
      
        // @include aspect-8-by-9;
        flex-direction: column;
        background-color: white;
        display: flex;
        margin: 1px;
        overflow: hidden;
        align-items:center;

        @include media($media-m) {
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            position: absolute;
            top:0;
            left:0;
        }
    }

    // c-card-product--large
    &--large {
        width: calc(100% - 2px);
        padding: $x7 0 $x4;

        @include media($media-m){
            width: calc(100% - $x6);
            padding: $x10 0 $x4;
            margin: $x3;
        }
    }

    // c-card-product__rating
    &__rating {
        margin: 0;

        &:first-of-type {
            margin-left: 0;
        }

        margin-bottom: $x4;

        #{$selector}--deal &, #{$selector}--story &{
            display: none;
        }
    }

    // c-card-product__wrap
    &__wrap {
        margin: 0 auto;
    }

    // c-card-product__image-wrap
    &__image-wrap{
        position: relative;
        margin: 0 $x2 $x6;
        width: calc(100% - #{$x4});
        @include aspect-1-by-1;
        overflow:hidden;

        @include media($media-s-max){
            margin-bottom: $x4;
            overflow: visible;
        }

        #{$selector}--large & {
            @include media($media-m){
                margin: 0 0 $x4;
                width: 100%;
            }
        }

        #{$selector}--deal & {
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: $x2;


            @include media($media-m) {
                width: calc(100% - #{$x8});
                margin: $x2 $x4 0;
            }
            @include media($media-l) {
                margin: $x2 $x4 $x2;
            }
            // @include media($media-l) {
            //     width: 85%;
            // }
            // @include media($media-xxl) {
            //     width: 90%;
            // }
        }

        #{$selector}--no-colors-belt & {
            overflow:visible;

            @include media($media-m) {
                margin: 0 8px;
                overflow:hidden;
            }
        }

        #{$selector}--story & {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 $x3 0;
            width: 95%;
            background-size: contain;
            position: relative;
            
            @include media($media-m) {
                width: 55%;
            }
            @include media($media-l) {
                width: 65%;
            }
            @include media($media-xl) {
                margin-bottom: $x4;
                width: 80%;
            }
            @media (min-width: 1024px) {
                width: 80%;
            }
            @include media($media-xxl) {
                width: calc(90% - #{$x8});
            }
        }
    }

    // c-card-product__image
    &__image{
        display: block;
        background-color: #E6E6E6;
        transition: all $transition-time ;//$transition-easing
        position: relative;
        // c-card-product--large c-card-product__image
        // #{$selector}--large & {
            width: 100%;
            height: auto;
            position: absolute;
            top:0;
            left:0;
        // }
            opacity: 0;
            z-index: 1;

        &.is-active {
            opacity: 1;
        }

        #{$selector}--no-colors-belt & {
            opacity: 1;
        }

        #{$selector}--deal &, #{$selector}--story & {
            opacity: 1;
        }
        
        // @include media($media-l) {
            @include productCardHover {
            
                transform: scale(1.1);
                // width: 110%;
                // height: auto;
                // transform: translate3d(-5%, -5%, 0);
                // left: -5%;
                // top: -5%;
            }
        // }
        
    }

    // c-card-product__pill
    &__pill {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: $z-index-pill;
        background-color: rgba($color-pill-a, 0.8);
        opacity: 1;
        transition: all $transition-time $transition-easing;

        @include productCardHover {
            opacity: 0;
        }

        #{$selector}--large &, #{$selector}--belt &, #{$selector}--no-colors-belt &, #{$selector}--story & {
            @include media($media-s-max){
                bottom: -$x6;
                top: auto;
            }
        }

        #{$selector}--deal & {
            display:none;
        }
    }

    

    // c-card-product__brand
    &__brand{
        font-size: $x3;
        @include font-text-bold;
        margin-bottom: 6px;

        // @include media($media-m) {
        //     margin-bottom: 6px;
        // }

        #{$selector}--deal & {
            display: none;
        }
    }

    // c-card-product__heading
    &__heading{
        text-align:center;
        margin-bottom: 8px;
        font-size: 14px;
        @include font-text;
        flex-grow: 1;

        @include media($media-m) {
            margin-bottom: $x4;
        }

        #{$selector}--deal & {
            display: none;
        }

        #{$selector}--story & {
            margin-bottom: $x3;
            font-size: 12px;
    
            @include media($media-l) {
                margin-bottom: $x4;
                font-size: $x4;
            }
    
            @include media($media-xxl) {
                margin-bottom: $x6;
            }
        }
        
    }

    // c-card-product__like-btn
    &__like-btn {
        position: absolute;
        width: 16px;
        height: 16px;
        top: $x4;
        right: $x4;
        // background-color: black;
        border-radius: 100%;
        z-index: $z-index-like;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;

        //.c-card-product--deal .c-card-product__like-btn
        #{$selector}--deal & {
            top: $x2;
            right: $x2;
        }
    }

    // c-card-product__like-icon
    &__like-icon {
        position: absolute;
        top:0;
        left:0;
        width: 1.15em;
        height: 1.15em;
        color: $color-grey-light-80;

        .is-selected & {
            display:none;
        }

        .c-card-product__like-btn:hover & {
            color: $color-grey;
        }

        //.c-card-product--deal .c-card-product__like-icon
        #{$selector}--deal & {
            width: 1em;
            height: 1em;
        }
    }

    // c-card-product__like-icon-solid
    &__like-icon-solid {
        position: absolute;
        top:0;
        left:0;
        display:none;
        color: $color-a;

        // .c-card-product__like-btn:hover & {
        //     display:block;
        // } 
        .is-selected & {
            display:block;  
            color: $color-grey;
        }
    }

    // c-card-product__link
    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: $z-index-link;
        top:0;
        left:0;
    }

    // c-card-product__bundle
    &__bundle {
        color: $color-price-new;
        font-size: $x3;

        #{$selector}--deal & {
            display: none;
        }
    }

    // c-card-product__colors
    &__colors {
        display: none;
        margin-bottom: $x1;
        align-items: center;
        justify-content: center;

        @include media($media-m){
            display: flex;
            padding-top: $x3;
            position: relative;
            z-index: $z-index-like;
        }
    }

    // c-card-product__text-colors
    &__text-colors {
        margin-bottom: $x1;
        align-items: center;
        justify-content: center;
        display: flex;
        // @include text-font-size-p3;
        font-size: 12px;
        color: $color-grey-light-40;

        @include media($media-m){
            padding-top: $x3;
        }

        //.c-card-product--deal .c-card-product__text-colors
        #{$selector}--deal & ,#{$selector}--story & {
            display:none;
        }
    }

    // c-card-product__color
    &__color {
        display: block;
        width: $x2;
        height: $x2;
        margin: 0 $x1;
        border-radius: 100%;

        // c-card-product__color.is-active
        &.is-active {
            border: 1px solid $color-b;
        }
    }

    // c-card-product__content
    &__content {
        width: auto;
        padding: 0 $x2;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        position: relative;
        z-index: 2;

        @include media($media-m){
            padding: 0 $x4 $x4;
        }

        #{$selector}--deal & {
            flex-grow: 0;
            
            @include media($media-l) {
                padding-bottom: 6px;
            }
        }

        #{$selector}--story & {
           
    
            @include media($media-l) {
                width: 100%;
                padding: 0 $x4;
            }
    
            @include media($media-xl) {
                padding: 0 $x6;
            }
    
            @include media($media-xxl) {
                padding: 0 $x8;
            }
        }
    }
}