//
// ------------------------------------- 
// 	COMPONENT: Deal Brand Card
// -------------------------------------
//  
//

$name                    : c-card-deal-brand;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    //.c-card-deal-brand__image-wrap
    &__image-wrap {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: $x4;
    }

     //.c-card-deal-brand__image
     &__image {
        display: block;
        z-index: 1;
        transition: all $transition-time $transition-easing;
        
        @include media($media-l) {
            #{$selector}:hover & {
                transform: scale(1.1);
            }
        }
       
    }
   
}