//
// ------------------------------------- 
// 	COMPONENT: Deal Product Card
// -------------------------------------
//  
//

$name                    : c-card-story-product;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    display: block;
    flex-shrink: 0;
    // width: 208px;
    margin: 1px;
    overflow: hidden;

    @include media($media-m) {
        width: calc(100% - 2px);
    }

    // @include media($media-l) {
    //     width: calc(25% - 2px);
    // }

    // @include media($media-xl) {
    //     width: calc(16.666% - 2px);
    // }

    //.c-card-story-product__content
    &__content {
        position: absolute;
        top:0;
        left:0;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media($media-l) {
            width: 100%;
            height: 100%;
            padding: $x4;
        }

        @include media($media-xl) {
            padding: $x6;
        }

        @include media($media-xxl) {
            padding: $x8;
        }
    }

    //.c-card-story-product__heading
    &__heading {
        text-align: center;
        margin-bottom: $x3;
        font-size: $header-font-size-h4;

        @include media($media-l) {
            margin-bottom: $x4;
            font-size: $x4;
        }

        @include media($media-xxl) {
            margin-bottom: $x6;
        }
    }

    //.c-card-story-product__image-wrap
    &__image-wrap {
        overflow: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: $x3;
        width: 55%;
        background-size: contain;
        position: relative;
        
        @include media($media-m) {
            width: 55%;
        }
        @include media($media-l) {
            width: 65%;
        }
        @include media($media-xl) {
            margin-bottom: $x4;
            width: 80%;
        }
        // @media (min-width: 1024px) {
        //     width: 80%;
        // }
        @include media($media-xxl) {
            width: calc(90% - #{$x8});
        }
    }

     //.c-card-story-product__image
     &__image {
        display: block;
        z-index: 1;
        transition: all $transition-time $transition-easing;
        width: 100%;
        height: 100%;
        
        @include media($media-l) {
            #{$selector}:hover & {
                transform: scale(1.1);
            }
        }
       
    }

    //.c-card-story-product-product__price
    &__price {
        &--was {
            color: $color-grey-light-40;
            font-size: $price-font-size-3;
            margin-bottom: $x1;

            @include media($media-l) {
                font-size: $price-font-size-3-l;
            }
            @include media($media-xl) {
                margin-bottom: $x2;
            }

            span {
                text-decoration: line-through;
            }
        }
        &--now {
            font-size: $price-font-size-2;
            color: $color-a;

            @include media($media-l) {
                font-size: $price-font-size-2-l;
            }
        }
        &--retail {
            font-size: $price-font-size-3;
            margin-bottom: $x1;

            @include media($media-l) {
                font-size: $price-font-size-3-l;
            }
            @include media($media-xl) {
                margin-bottom: $x2;
            }
        }
        &--club {
            font-size: $price-font-size-2;
            color: $color-c;

            @include media($media-l) {
                font-size: $price-font-size-2-l;
            }
        }
    }
}