//
// ------------------------------------- 
// 	COMPONENT: Category card
// -------------------------------------
//  
//

$name                    : c-card-category;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 $x1 $x1;
    align-items: center;
    background-color: white;
    margin: $card-gutter/2;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;
    width: 100%;

    @include media($media-s-max) {
        margin: 0 16px;
        flex-direction: row;
    }

    // c-card-category__image-wrap
    &__image-wrap{
        position: relative;
        margin: 0 $x2 $x6;
        width: calc(100% - #{$x4});
        @include aspect-1-by-1;
        overflow:hidden;
        transition: all $transition-time ;//$transition-easing

        @include media($media-l) {
            #{$selector}:hover & {
                transform: scale(1.1);
            }
        }
        @include media($media-s-max) {
            display:none;
        }
    }

    // c-card-product__image
    &__image{
        display: block;
        background-color: #E6E6E6;
        
        position: relative;
        width: 100%;
        height: auto;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        left:0;
        z-index: 1;

        @include media($media-s-max) {
            display: none;
        }
    }

    // c-card-product__btn
    &__btn{
        @include media($media-l) {
            #{$selector}:hover & {
                @include btn-secondary-hover;
            }
        }
    }

    &__heading {
        
        @include media($media-s-max) {
            font-size: $text-font-size-p3-l;
            align-items: center;
            padding: $x3 0;
            justify-content: flex-start;
            position: relative;
            display: flex;
            width: 100%;
            @include font-text-bold();
        }
        @include media($media-m) {
            display:none;
        }
    }

    &__content {

        width: calc(100% - 32px);
        position: relative;
        align-items: center;
        display: flex;
        border-bottom: 1px solid $color-grey-light-80;

        @include media($media-m) {
            flex-direction: column;
            height: 100%;
            position: absolute;
            justify-content: center;
            z-index: 5;
            top:0;
            left:0;
            border:none;
        }

        @include media($media-m) {
            display:none;
        }
    }

    &__heading-icon {
        @include media($media-s-max) {
            display:flex; 
            flex-grow:0;
            justify-content: flex-end;
        }
    }

    &__cta {
        @include media($media-s-max) {
            display:none;
        }
    }


    
}