//
// ------------------------------------- 
// 	COMPONENT: Category Nav
// -------------------------------------
//  
//

$name                    : c-categories-nav;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: $x4 0;

    @include media($media-s-max) {
        display: none;
    }

    &__link {
        padding: 0 $x2;
        color: white;

        @include hover {
            color: white;
        }

        @include media($media-l) {
            padding: 0 $x2;
        }
    }

    &__label {
        color: white;
        margin-right: $x6;
    }
}