$name: c-icon-feature;
$selector: ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    &__wrap{
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        align-content: center;
        flex:0 0 50%;
    }
    flex:0 0 50%;
    display:flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-flow: column wrap;
    padding:$x4;
    @include media($mobile-bp) {
        max-width:220px;
    }
    &-icon{
        background-color:$theme-color-d;
        border-radius:50%;
        padding:$x1;
        width:48px;
        height:48px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0 auto;
        svg{
            fill:#fff;
        }
        &--small{
            width:20px;
            height:20px;
            background-color:#B0B0B0;
        }
        &--1day{
            background-color:#66cb00;
            padding:0;
        }
    }
    &-title{
        margin-top:$x3;
    }
    &-desc{
        color:#888;
    }
}