$name: c-social-icons;
$selector: ".#{$name}";
////////////////////////////////////////////////////////
#{$selector} {
    &__wrap{

    }
    display:flex;
    padding:$x4 $x4 $x8;
    justify-content: space-between;
    @include media($mobile-bp) {
        justify-content: flex-start;
        padding:0 0 $x8;
    }
    align-items: center;
    &__list{
        display:flex;
        margin-left:$x4;
        li{
            margin:0 .75rem;
        }
    }
    .c-social-icons__list--sites{
            margin-left:$x8;
    }
}