//
// ------------------------------------- 
// 	COMPONENT: Promo Tiles
// -------------------------------------
//  
//

$name                    : c-tile-category;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    position: relative;
    display: flex;
    overflow:hidden;
    justify-content:  space-between;
    background-color: transparent !important;
    text-decoration: none;
    width: calc(100% - 32px);

    @include media($media-m) {
        width: 100%;
    }

    //.c-tile-category--carousel
    &--carousel {
        margin: 0 $x4;

        @include media($media-m) {
            margin: 0;
            @include aspect-8-by-9;
            @include dark-theme;
        }

    }

    //.c-tile-category--belt
    &--belt {
        margin: 1px;
        @include dark-theme;
        @include aspect-3-by-2;

        @include media($media-xl) {
            @include aspect-9-by-4;
        }
    }
    
    //.c-tile-category--header
    &--header {
        @include dark-theme;
        @include aspect-8-by-9;
    }

    //.c-tile-category--banner
    &--banner {
        margin: 0;
        @include dark-theme;
        @include aspect-9-by-4;
    }

    //.c-tile-category__content
    &__content {
        
        #{$selector}--carousel & {
            width: 100%;
            position: relative;
            align-items: center;
            display: flex;
            border-bottom: 1px solid $color-grey-light-80;

            @include media($media-m) {
                flex-direction: column;
                height: 100%;
                position: absolute;
                justify-content: center;
                z-index: 5;
                top:0;
                left:0;
                border:none;
            }
        }

        #{$selector}--banner &, #{$selector}--belt & , #{$selector}--header &{
            padding: $x4;

            @include media($media-m) {
                align-items: center;
                display: flex;
                flex-direction: column;
                height: 100%;
                position: absolute;
                justify-content: center;
                z-index: 5;
                top:0;
                left:0;
                border:none;
                width: 100%;
                padding: $x6;
            }
        }
       
    }
    
    //.c-tile-category__heading
    &__heading {
        font-size: $x6;
        font-family: $font-script;
        padding: 0;
        text-align: center;
        white-space: wrap;
        flex-wrap: wrap;
        
        @include ie-hack { 
            letter-spacing: -3px;
        }

        @include media($media-m) {
            font-size: $x6;
            flex-direction: column;
            align-items: center;
        }
        
        @include media($media-xl) {
            font-size: $x8;
        }

        #{$selector}--carousel & {
            @include media($media-s-max) {
                font-size: $text-font-size-p3-l;
                align-items: center;
                padding: $x3 0;
                justify-content: flex-start;
                position: relative;
                display: flex;
                width: 100%;
                @include font-text-bold();
            }
            @include media($media-l) {
                font-size: 40px;
            }
        }

        #{$selector}--banner &, #{$selector}--belt &, #{$selector}--header & {
            @include media($media-m) {
                font-size: 20px;
                a {
                    font-size: 20px; 
                }
            }
            @include media($media-l) {
                font-size: 24px;
                a {
                    font-size: 24px; 
                }
            }
            @include media($media-xxl) {
                margin-top:0;
                font-size: 32px;
                a {
                    font-size: 32px; 
                }
            }
        }

    }

    //.c-tile-category__heading-text
    &__heading-text {
        #{$selector}--carousel & {
            @include media($media-s-max) {
                display:flex; 
                flex-grow:1;
                justify-content: flex-start;
            }
        }
    }

    //.c-tile-category__category-icon-wrap
    &__category-icon-wrap {
        display:none; 

        @include media($media-m) {
            fill: white;
            display: block;
            width: 40px;
            height: 40px;
            margin-bottom: 12px;
        }

        #{$selector}--banner & , #{$selector}--belt &{
            @include media($media-m) {
                display:none; 
            }
        }

    }

    //.c-tile-category__category-icon
    &__category-icon {
        

    }

    //.c-tile-category__heading-icon
    &__heading-icon {
        display:none; 

        #{$selector}--carousel & {
            @include media($media-s-max) {
                display:flex; 
                flex-grow:0;
                justify-content: flex-end;
            }
        }
    }

    //.c-tile-category__cta
    &--carousel .c-tile__cta {
        @include media($media-s-max) {
            display: none;
        }
    }

    &--banner .c-tile__cta, &--belt .c-tile__cta, &--header .c-tile__cta  {
        @include media($media-m) {
            padding: $x4 0;
        }
    }

    //.c-tile-category__cta-link
    &__cta-link {
        padding: 0;

        #{$selector}:hover & {
			@include btn-secondary-reverse-hover;
		}  
    }

    //.c-tile-category__overlay
    &__overlay {
        
        #{$selector}--carousel & {
            @include media($media-s-max) {
                display: none;
            }
        }

        #{$selector}--carousel & {
            @include media($media-s-max) {
                display: none;
            }
        }


        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        top:0;
        left:0;
        z-index: 2;

    }

    //.c-tile-category__image
    &--carousel .c-tile__image {
        @include media($media-s-max) {
            display: none;
        }
    }
    
}