//
// ------------------------------------- 
// 	COMPONENT: HERO BANNER TILES
// -------------------------------------
//  
//

$name                    : c-tile-brand;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    transition: all $transition-time $transition-easing;
    justify-content: center;
    display: flex;
    margin: 0 $x2;

    @include media($mobile-bp) {
        margin: 0 auto;
        &:first-child {
            margin-left: 0;
        }
    
        &:last-child {
            margin-right: 0; 
        }
    }

    // @include hover {
    //     transform: scale(1.1);
    // }
    
    //.c-brand-tile__image
    &__image {
        height: $x4;
        width: auto;
        opacity: 0.5;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        transition: $transition;

        @include media($media-xxl) {
            height: $x5;
        }

        #{$selector}:hover & {
            opacity: 1;
            -webkit-filter: grayscale(0);
            filter: grayscale(0); 
        }
    }
}