//
// ------------------------------------- 
// 	COMPONENT: Tiles within the results grid
// -------------------------------------
//  
//

$name                    : c-tile-results;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
   
    position: absolute;
    width: 100%;
    height: 100%;

    //.c-tile-results__image
    &__image {
        
    }

    //.c-tile-results__pill
    &__pill {
        
    }

    // .c-tile-results__logo
    &__logo {
        width: 24%;
        height: 10%;
        margin-bottom: 4px;

        img {
            width: 100%;
        }
    }

    //.c-tile-results__content-wrap
    &__content-wrap {
        width: 100%;

        @include media($media-s-max) {
            padding: $inset-padding-s;
            bottom: 0;
            background-color: black;
            height: auto;
            top:auto;
            z-index: 3;
            width: auto;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }
        @include media($media-m) {
            position: absolute;
            top: 0;
            height: 100%;
        }
    }

    //.c-tile-results__content
    &__content {
        width: auto;
        z-index: 4;
        top: $inset-padding-s;
        left: $inset-padding-s;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include text-spacing-tile;

        @include media($media-m) {
            position: absolute;
            top: $inset-padding-m;
            left: $inset-padding-m;
            width:70%;
        }

        @include media($media-xl) {
            top: $inset-padding-l;
            left: $inset-padding-l;
            width:70%;  
        }
    }

    //.c-tile-results__heading
    &__heading {
        @include font-header;
        font-size: $header-font-size-h3-l;
        @include text-crop--20($header-line-height-h2);
        margin-bottom: $x2;
        margin-top: $x2;

        @include media($media-m) {
            font-size: $header-font-size-h2-l;
            @include text-crop--32($header-line-height-h2);
            margin-bottom: $x4;
        }
    }

    //.c-tile-results__sub-heading
    &__sub-heading {
        @include font-text;
        font-size: $text-font-size-p3-l;

        @include media($media-m) {
            font-size: $text-font-size-p2-l;
        }
    }

    //.c-tile-results__image
    &__image {
        display: block;
        z-index: 1;
        background-size: cover;
        background-position: center;
        transition: all $transition-time $transition-easing;

        @include media($media-s-max) {
            &:before{
                display: block;
                content: "";
                width: 0;
                padding-top: 100%;
            }
        }

        @include media($media-m) {
            position: absolute !important;
            width: 100%;
            height: 100%;
            top:0;
            left:0;
        }

        @include media($media-l) {
            #{$selector}:hover & {
                transform: scale(1.1);
            }
        }
    }

}