//
// ------------------------------------- 
// 	COMPONENT: Promo Tiles
// -------------------------------------
//  
//

$name                    : c-tile-article;
$selector                : ".#{$name}";

// $inset-padding-s					: $x4;
// $inset-padding-m					: $x6;
// $inset-padding-l					: $x8;
$inset-article-padding-s					: $x4;
$inset-article-padding-m					: $x6;
$inset-article-padding-l					: $x8;

////////////////////////////////////////////////////////
#{$selector} {
    position: relative;
    display: flex;
    border-top: 1px solid $color-grey;
    background-color: transparent !important;
    overflow:hidden;
    justify-content:  space-between;
    width: 100%;
    @include dark-theme;

    //.c-tile-article--hero
    &--hero, &--product-hero {
        @include media($media-s-max) {
            flex-direction: column;
        }
    }

    &--default {
        @include media($media-m) {
            @include aspect-16-by-9;
        }
    }

    @include media($media-m) {
        // padding: $padding-inset-m; 
        border-top: none;
        margin: 1px;
    }
    @include media($media-l) {
        // padding: $padding-inset-l; 
        
    }

    //.c-tile-article__content-wrap
    &__content-wrap {
        @include media($media-m) {
            position: absolute;
            width: 100%;
            height: 100%;
            left:0;
            top:0;
        }

        @include media($media-s-max) {
            // flex-basis: 70%;
            padding: 16px 16px 0 16px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            flex-grow: 1;

            #{$selector}--hero &, #{$selector}--product-hero & {
                order: 2;
            }
        }
    }

    //.c-tile-article__content
    &__content {
        width: auto;
        z-index: 4;
        top: $inset-article-padding-s;
        left: $inset-article-padding-s;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include media($media-m) {
            position: absolute;
            top: $inset-article-padding-m;
            left: $inset-article-padding-m;
            width:calc(80% - #{$x10});
        }

        @include media($media-l) {
            top: $inset-article-padding-l + 16px;
            left: $inset-article-padding-l;
            // top: 48px; //$inset-padding-l;
            // left: 32px; 
        }

        @include media($media-xl) {
            // top:  48px;
            // left: $inset-padding-l;
            width:calc(80% - 1$x6); 

            #{$selector}--hero & {
                right: 120px;
            }
            
        }
    }


    &__heading {
        @include font-smoothing;
        width: 100%;
        //.c-tile-article__heading--default
        #{$selector}--default & {
            font-size: 16px;
            font-weight: $font-weight-regular;
            line-height: 1.1;
            letter-spacing: 0;

            @include media($media-m) {
                font-weight: $font-weight-bold;
                font-size: $header-font-size-h3;
            }

            @include media($media-l) {
                font-size: 32px;
            }

            @include media($media-xl) {
                font-size: $header-font-size-h1-m;
            }
        }

        //.c-tile-article__heading--hero
        // &--hero {
        //     @include media($media-s-max) {
        //         font-size: 20px;
        //         // font-weight: $font-weight-bold;
        //     }
        // }

        //.c-tile-article--hero .c-tile-article__heading
        #{$selector}--hero &, #{$selector}--product-hero & {
            font-size: 20px;
            font-weight: $font-weight-bold;
            line-height: 1.1;
            letter-spacing: 0.5px;

            @include media($media-s-max) {
                border-top: 0;
            }

            @include media($media-m) {
                font-weight: $font-weight-bold;
                font-size: $header-font-size-h1-m;
            }

            @include media($media-l) {
                font-size: 48px;
            }

            @include media($media-xl) {
                font-size: $header-font-size-xl-l;
            }
        }
    }

    //.c-tile-article__cta
    &__cta {
        display: flex;
        z-index: 3;
        transition: background-color .2s ease-in-out;
        position: unset;  
        padding: 4px 0;

        @include media($media-m) {
            position: absolute;
            bottom: 0;
            left:0;
            // padding-bottom: $x6;
            justify-content: flex-start;
            right: 0;
            padding: $x2 $inset-article-padding-s;
            align-items: center;
        }

        @include media($media-m) {
            padding: $x2 $inset-article-padding-m;
            height: 64px;
        }

        @include media($media-l) {
            padding: $x4 $inset-article-padding-l;
            height: 64px;
        }

        #{$selector}:hover & {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    //.c-tile-article__cta-link
    &__cta-link {
        padding: 0;

        @include media($media-m) {
           
        }
    }

    //.c-tile-article__overlay
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        // background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.5) 100%); //rgba(0, 0, 0, 0.3);
        background: linear-gradient(0deg, rgba(0,0,0,0.8) 30%, rgba(2,0,36,0.3) 80%);
        top:0;
        left:0;
        z-index: 2;
        display: none;
        transition: all $transition-time $transition-easing;
        opacity: 1;
        
        @include media($media-m) {
           display: block;
        }

        #{$selector}:hover & {
            // background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.65) 100%); //rgba(0, 0, 0, 0.3);
            opacity: 0.5;
        }
    }

    //.c-tile-article__image
    &__image {
        display: block;
        z-index: 1;
        background-size: cover;
        background-position: center;
        transition: all $transition-time $transition-easing;

        #{$selector}--hero & {
            order: 1;
        }

        @include media($media-s-max) {
            flex-basis: 80px;
            flex-shrink: 0;
        }
        @include media($media-m) {
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left:0;
            //.c-tile-article--product-hero
            // on story + product modules
            #{$selector}--product-hero & {
                position: relative;
            }
        }
        @include media($media-l) {
            #{$selector}:hover & {
                transform: scale(1.03);
            }
        }

        #{$selector}--hero &, #{$selector}--product-hero &{
            @include media($media-s-max) {
                @include aspect-3-by-2;
            }
        }

        #{$selector}--default &{
            @include media($media-s-max) {
                @include aspect-1-by-1;
            }
            // @include media($media-m) {
            //     @include aspect-16-by-9;
            // }
        }
       
    }
}