//
// ------------------------------------- 
// 	COMPONENT: Gallery TILES
// -------------------------------------
//  
// Used for instagram grid



$name                    : c-gallery-tile;
$selector                : ".#{$name}";

@mixin galleryTileHover {
    @include media($media-l) {
        #{$selector}:hover & {
            @content;
        }
    }
}

////////////////////////////////////////////////////////
#{$selector} {
    display: flex;
    flex-direction: column;
    margin: 1px;
    // width: 188px;
    position: relative;
    overflow:hidden;
    background-color: $color-grey;
    @include hover {
        color: inherit;
    }

    @include media($media-m) {
        width: calc(100% - 2px);
        // margin: 0px;
    }

    //.c-gallery-tile__wrap
    &__wrap {
        margin: 0 auto;
    }
    
    //.c-gallery-tile__image
    &__image{
        display: block;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        background-position: center;
        transition: all $transition-time $transition-easing;

        @include galleryTileHover {
           transform: scale(1.1);
        }
    }

    //.c-gallery-tile__image-wrap
    &__image-wrap{
        position: absolute;
        width: 100%;
        height: 100%;
        left:0;
        top:0;
        overflow:hidden;
        z-index: 1;
    }

    //.c-gallery-tile__content
    &__content {
        background-color: black;
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: 2;
        bottom: -80%;
        transition: all $transition-time $transition-easing;

        @include galleryTileHover {
            bottom: 0;
        }
    }

    //.c-gallery-tile__content
    &__content-wrap {
        padding: $x4;

        @include media($media-l) {
            padding: $x6 $x6 $x2 $x6 ;
        }
    }

    //.c-gallery-tile__author
    &__author{
         display: flex;
         align-items: center;
    }

    //.c-gallery-tile__description
    &__description{
        margin-top: $x5;

        @include media($media-s-max) {
            display: none;
        }
   }

    //.c-gallery-tile__profile-image
    &__profile-image {
        display: block;
        border-radius: 100%;
        width: 24px;
        height: 24px;
        background-color: $color-grey-light-40;
        margin-right: $x2;

        @include media($media-m) {
            width: 40px;
            height: 40px;
        }
    }

    //.c-gallery-tile__link
    &__link{
        position: absolute;
        width: 100%;
        height: 100%;
        left:0;
        top:0;
        z-index: 3;
    }
}