$name: c-wishlist-btn;
$selector: ".#{$name}";
//.c-wishlist-btn
////////////////////////////////////////////////////////
#{$selector} {
    position: absolute;
    width: 16px;
    height: 16px;
    top: $x4;
    right: $x4;
    display:block;
    z-index: 16;
    opacity:.25;
    transition:opacity .2s linear;
    &:before {
        content:"";
        width:100%;
        height:100%;
        display:block;
        background-image: url('#{$image-path}icons/icon-wishlist-bordered.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size:contain;
    }
    &:hover{
        opacity:1;
    }
    &.is-active:before {
        background-image: url('#{$image-path}icons/icon-wishlist-solid.svg');
    }
}