{% extends "html/red/templates/red-live.html" %}

{% import "html/red/macros/module-wrap.html" as wrapMacros %}
{% import "html/red/modules/content/macros.html" as contentMacro %}
{% import 'html/red/modules/promo/macros-twl.html' as promoMacrosTWL %}

{% set pagename = 'Category Landing Page Modules' %}
{% block head %}

{% endblock %}
{% block title -%}

   {{ pagename }}

{%- endblock %}

{% block content -%}
<div class="u-flex u-flex-justify-center">
    <div class="u-max-width-clp-red-live">
           
        {# ---- 2 column fixed tile, image right ---- #}
        {% 
            set options = {
                contentClasses:"",
                wrapClasses:"M0163"
            }
        %}
        {% call wrapMacros.moduleWrapSimple(options) %}
            <section class="m-content u-columns -no-gutter m-content--text-column">   
                {% call contentMacro.halfColumnWrap(colClasses="m-content__column u-aspect-nine-by-eight-m") %}
                    <div class="m-content__tile c-tile m-content__tile--text" style="background-color: #EFE7E5">
                        <div class="m-content__tile-content u-flex u-flex-column u-flex-justify-space-between">
                            <div class="m-content__product-header-section">
                                <p class="u-p2 t-text">Lorem ipsum lobortis</p>
                            </div>
    
                            <div class="m-content__body u-spacing">
                                <h1 class="u-h2 t-heading m-content__product-heading">Living the dream</h1>
                                <p class="u-p1 t-text m-content__product-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim.</p>
                            </div>
                            <div class="m-content__product-footer-section">
                                <a href="/Custom/FrontEnd/html" class="c-btn c-btn--secondary t-btn-secondary">Browse Range</a>
                            </div>
                        </div>
                    </div>
                {% endcall %}
                {% call contentMacro.halfColumnWrap(colClasses="m-content__column u-aspect-nine-by-eight") %}
                    <div class="m-content__tile c-tile">
                        <div class="m-content__image-bg" data-responsive-background-src data-src="/assets/images/red-live/clp-assets/hero-9x8.jpg"></div>
                    </div>
                {% endcall %}
            </section>
        {% endcall %}
        {# ---- End: 2 column fixed tile, image right ---- #}


        {# ---- 4 up promo cards with simple header and footer ---- #}
        {% 
            set headerOptions = {
                heading:"Module Heading"
            }
        %}    
        {{wrapMacros.moduleWrapHeaderSimple(headerOptions)}}

        {% 
            set options = {
                titleText: "",
                descriptionText: "New Arrivals from Lego",
                imageSmall: "/assets/images/red-live/clp-assets/tile-3-up-3.jpg",
                wrapClasses: "m-wrap--full",
                tileClasses:"c-tile--gutter u-aspect-eight-by-nine"
            }
        %}
        {{promoMacrosTWL.Promos4UpCardedTWL(options)}}

        {% 
            set footerOptions = {
                wrapClasses: "m-wrap--no-bottom",
                ctaText: "View All Furniture",
                btnClasses: "c-btn--primary-inverse"
            }
        %}    
        {{wrapMacros.moduleWrapFooterSimple(footerOptions)}}
        {# ---- END: 4 up promo cards with simple header and footer ---- #}


        {# ---- 3 up promo cards with simple header ---- #}
        {% 
            set headerOptions = {
                heading:"Module Heading"
            }
        %}    
        {{wrapMacros.moduleWrapHeaderSimple(headerOptions)}}

        {% 
            set options = {
                titleText: "",
                wrapClasses: "m-wrap--full",
                imageSmall: "/assets/images/red-live/clp-assets/tile-3-up-1.jpg",
                tileClasses:"c-tile--gutter u-aspect-eight-by-nine",
                heroTileClasses:"c-tile--gutter u-aspect-nine-by-eight u-aspect-eight-by-nine-m"
            }
        %}
        {{promoMacrosTWL.Promos3UpCardedTWL(options)}}
        {# ---- End: 3 up promo cards with simple header ---- #}


        {# ---- Utility spacer ---- #}
        <div class="c-spacer"></div>


        {# ---- 3 up promo cards ---- #}
        {% 
            set options = {
                titleText: "",
                wrapClasses: "m-wrap--full",
                imageSmall: "/assets/images/red-live/clp-assets/tile-3-up-2.jpg",
                tileClasses:"c-tile--gutter u-aspect-eight-by-nine",
                heroTileClasses:"c-tile--gutter u-aspect-nine-by-eight u-aspect-eight-by-nine-m"
            }
        %}
        {{promoMacrosTWL.Promos3UpCardedTWL(options)}}
        {# ---- End: 3 up promo cards ---- #}


        {# ---- Utility spacer ---- #}
        <div class="c-spacer"></div>


        {# ---- 2 up promo cards ---- #}
        {% 
            set options = {
                titleText: "",
                imageSmall: "/assets/images/red-live/clp-assets/tile-2-up-1.jpg",
                wrapClasses: "m-wrap--full",
                tileClasses:"c-tile--gutter u-aspect-nine-by-eight",
                outerText: "See our latest & greatest in gaming!"
            }
        %}
        {{promoMacrosTWL.Promos2UpCardedContentBelowTWL(options)}}
        {# ---- End: 2 up promo cards ---- #}


        {# ---- Utility spacer ---- #}
        <div class="c-spacer"></div>
        

    </div>
</div>
{% endblock %}