{% import "html/red/modules/buyers-guide-hero/macros.html" as heroMacro %}

{% import "html/red/modules/buyers-guide-section-heading/macros.html" as headingMacro %}
{% import "html/red/modules/buyers-guide-section-hero/macros.html" as sectionHeroMacro %}
{% import "html/guide/macros/module-wrap.html" as wrapMacro %}
{% import "html/red/modules/content/macros.html" as contentMacro %}
{% import "html/guide/macros/icons.html" as iconMacros %}
{% import "html/red/modules/content/macros-red.html" as contentRedMacro %}
{% import "html/guide/macros/guide.html" as guideMacros %}
<div class="u-columns u-flex-justify-center">
<div class="g-display--red g-display--blue u-max-width-red-live">

{#% ---- Inline Banner ---- %#}
<div class="m-hero__wrap M0010A">
    <div class="m-hero__content-wrap">
        <div class="m-hero__content m-hero__content--centered t-dark-m ">
            
                <h2 class="u-xxl m-hero__heading t-heading">Inline Banner</h2>
       
        </div>
    </div>
    <div class="m-hero__overlay m-hero__overlay--inline"></div>
    <div class="m-hero__image" data-responsive-background-src="" data-src-s="../../assets/images/test/laptop-desk.jpg">
        <div class="u-aspect-sixteen-by-nine u-aspect-three-by-one-l"></div>
    </div>
</div>

{#% ---- 2 column fluid content, caption left ---- %#}

{% call wrapMacro.moduleWrapCarded() %}
    {% call contentMacro.columnContentContainer() %}

        {% call contentMacro.halfColumnWrap(colClasses="m-content__column") %}
            <div class="m-content__tile c-tile" style="background-color: white">
                <div class="m-content__tile-content m-content__tile-content--centered t--dark">
                    <h1 class="u-h1 m-content__text-heading t-heading">Lorem ipsum dolor sit amet</h1>
                </div>
            </div>
        {% endcall %}

        {% call contentMacro.halfColumnWrap() %}
            <div class="m-content__content">
                <p class="u-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum vel. Donec vel suscipit nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus consectetur mi augue, in suscipit arcu ultrices ut. Nullam a et ultrices posuere cubili fringilla lacus.</p>
                <p class="u-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum vel. Donec vel suscipit nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus consectetur mi augue, in suscipit arcu ultrices ut. Nullam a et ultrices posuere cubili fringilla lacus.</p>
                <!-- <div class="m-content__footer">
                    <a href="#" class="c-btn c-btn--secondary">Shop Now</a>
                </div> -->
            </div>
        {% endcall %}

    {% endcall %}
{% endcall %}

{#% ---- 1 column fluid content ---- %#}
{% 
    set options = {
        contentClasses:"m-wrap__content--inset"
    }
%}

{% call wrapMacro.moduleWrapCarded(options) %}
    {% call contentMacro.columnContentContainer(wrapClasses="u-flex-justify-center u-block u-spacing") %}

        
            <h3 class="u-h3">Winter is coming! Which heater is best for you?</h3>
            <div class=" m-content__content-image" data-responsive-background-src data-src-s="../../assets/images/test/laptop-desk.jpg">
                <div class="u-aspect-sixteen-by-nine"></div>
            </div>
            <p class="u-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum vel. Donec vel suscipit nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus consectetur mi augue, in suscipit arcu ultrices ut. Nullam a et ultrices posuere cubili fringilla lacus.</p>
            <h3 class="u-h4">The Sub Heading</h3>
            <p class="u-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum vel. Donec vel suscipit nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus consectetur mi augue, in suscipit arcu ultrices ut. Nullam a et ultrices posuere cubili fringilla lacus.</p>
            <p class="u-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum vel. Donec vel suscipit nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus consectetur mi augue, in suscipit arcu ultrices ut. Nullam a et ultrices posuere cubili fringilla lacus.</p>

    {% endcall %}
{% endcall %}


{#% ---- 2 column fluid content image right ---- %#}
{% 
    set options = {
        wrapClasses: "m-wrap--padding-bottom",
        contentClasses:"m-wrap__content--padding-bottom"
    }
%}
{% call wrapMacro.moduleWrapCarded(options) %}
    {% call contentMacro.columnContentContainer() %}

        {% call contentMacro.halfColumnWrap() %}
            <div class="m-content__content">
                <p class="u-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum vel. Donec vel suscipit nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus consectetur mi augue, in suscipit arcu ultrices ut. Nullam a et ultrices posuere cubili fringilla lacus.</p>
                <p class="u-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum vel. Donec vel suscipit nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus consectetur mi augue, in suscipit arcu ultrices ut. Nullam a et ultrices posuere cubili fringilla lacus.</p>
            </div>
        {% endcall %}

        {% call contentMacro.halfColumnWrap(colClasses="m-content__column") %}
            <div class="m-content__tile c-tile">
                <!-- <div class="m-content__tile-content m-content__tile-content--centered t--dark">
                    <h1 class="u-h1 m-content__text-heading t-heading">Winter is coming! Which heater is best for you</h1>
                </div> -->
                <div class="m-content__image-bg" data-responsive-background-src data-src-s="../../assets/images/test/laptop.jpg"></div>
            </div>
        {% endcall %}

    {% endcall %}
{% endcall %}

{#% ---- 2 column fixed tile, image right ---- %#}
{% 
    set options = {
        wrapClasses: "m-wrap--padding-bottom",
        contentClasses:"m-wrap__content--padding-bottom"
    }
%}
{% call wrapMacro.moduleWrapCarded(options) %}
    {% call contentMacro.columnContentContainer() %}
        {% call contentMacro.halfColumnWrap(colClasses="m-content__column u-aspect-nine-by-eight") %}
            <div class="m-content__tile c-tile t-text--light" style="background-color: #929CB1">
                <div class="m-content__tile-content u-flex u-flex-column u-flex-justify-space-between">
                    <div class="m-content__product-header-section">
                        <p class="u-p2">Great for: Lorem ipsum | Consectetur | Etiam lobortis</p>
                     </div>

                    <div class="u-spacing">
                        <h1 class="u-h1 m-content__product-heading t-text--light">Product Type</h1>
                        <p class="u-p1 m-content__product-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum vel. Donec vel suscipit nunc.</p>
                    </div>
                    <div class="m-content__product-footer-section t-text--light">
                        <a href="/Custom/FrontEnd/html" class="c-btn c-btn--secondary-reverse">Browse Range</a>
                    </div>
                </div>
            </div>
        {% endcall %}

        {% call contentMacro.halfColumnWrap(colClasses="m-content__column") %}
            <div class="m-content__tile c-tile">
                <div class="m-content__image-bg" data-responsive-background-src data-src-s="../../assets/images/test/laptop.jpg"></div>
            </div>
        {% endcall %}

    {% endcall %}
{% endcall %}


{#% ---- 2 Column Cards ---- %#}
{% call wrapMacro.moduleWrapCarded() %}
    {% call contentMacro.columnContentContainer() %}
        {% call contentMacro.halfColumnWrap() %}
            <div class="m-content__card">
                <div class="m-content__image u-aspect-nine-by-eight" data-responsive-background-src data-src-s="../../assets/images/test/laptop.jpg"></div>
                <div class="m-content__content m-content__content--small u-spacing">
                    <h4 class="u-h4">The Two Column Card Heading</h4>
                    <p class="u-p2">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum onsectetur adipiscing vel
                    </p>
                    <a href="" class="c-btn c-btn--tertiary">Shop Now {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
                </div>
            </div>
        {% endcall %}

        {% call contentMacro.halfColumnWrap() %}
            <div class="m-content__card">
                <div class="m-content__image u-aspect-nine-by-eight" data-responsive-background-src data-src-s="../../assets/images/test/laptop.jpg"></div>
                <div class="m-content__content m-content__content--small">
                    <h4 class="u-h4">The Two Column Card Heading</h4>
                    <p class="u-p2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum onsectetur adipiscing vel
                    </p>
                    <a href="" class="c-btn c-btn--tertiary">Shop Now {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
                </div>
            </div>
        {% endcall %}

    {% endcall %}
{% endcall %}

{#% ---- 3 Column Article Cards ---- %#}
{% call wrapMacro.moduleWrapCarded() %}
    {% call contentMacro.columnContentContainer() %}
        {% call contentMacro.thirdColumnWrap() %}
            <div class="m-content__card">
                <div class="m-content__image u-aspect-nine-by-eight" data-responsive-background-src data-src-s="../../assets/images/test/laptop.jpg"></div>
                <div class="m-content__content m-content__content--small u-spacing">
                    <h4 class="u-h4">The 3 Column Card Heading</h4>
                    <p class="u-p2">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum onsectetur adipiscing vel
                    </p>
                    <a href="" class="c-btn c-btn--tertiary">Shop Now {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
                </div>
            </div>
        {% endcall %}

        {% call contentMacro.thirdColumnWrap() %}
            <div class="m-content__card">
                <div class="m-content__image u-aspect-nine-by-eight" data-responsive-background-src data-src-s="../../assets/images/test/laptop.jpg"></div>
                <div class="m-content__content m-content__content--small">
                    <h4 class="u-h4">The 3 Column Card Heading</h4>
                    <p class="u-p2">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum onsectetur adipiscing vel
                    </p>
                    <a href="" class="c-btn c-btn--tertiary">Shop Now {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
                </div>
            </div>
        {% endcall %}

        {% call contentMacro.thirdColumnWrap() %}
            <div class="m-content__card">
                <div class="m-content__image u-aspect-nine-by-eight" data-responsive-background-src data-src-s="../../assets/images/test/laptop.jpg"></div>
                <div class="m-content__content m-content__content--small">
                    <h4 class="u-h4">The 3 Column Card Heading</h4>
                    <p class="u-p2">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum onsectetur adipiscing vel
                    </p>
                    <a href="" class="c-btn c-btn--tertiary">Shop Now {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
                </div>
            </div>
        {% endcall %}

    {% endcall %}
{% endcall %}

{#% ---- 4 Column Article Cards (alternative) ---- %#}
{% call wrapMacro.moduleWrapCarded() %}
    {% call contentMacro.columnContentContainer() %}
        {% call contentMacro.quarterColumnWrap(colClasses="m-content__column") %}
            <div class="m-content__card " style="background: #f3f3f3">
                <div class="m-content__card-image" data-responsive-background-src data-src-s="../../assets/images/test/laptop.png">
                    <div class="u-aspect-nine-by-eight"></div>
                </div>
                <div class="m-content__card-content m-content__card-content--small">
                    <h3 class="u-h3">The Card Title</h3>
                    <p class="u-p3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim.</p>
                </div>
                <footer class="m-content__footer" style="background: #ffffff">
                    <a href="" class="c-btn c-btn--secondary">Browse Range</a>
                </footer>
            </div>
        {% endcall %}

        {% call contentMacro.quarterColumnWrap(colClasses="m-content__column") %}
            <div class="m-content__card " style="background: #f3f3f3">
                    <div class="m-content__card-image" data-responsive-background-src data-src-s="../../assets/images/test/laptop.png">
                        <div class="u-aspect-nine-by-eight"></div>
                    </div>
                <div class="m-content__card-content m-content__card-content--small">
                    <h3 class="u-h3">The Card Title</h3>
                    <p class="u-p3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim.</p>
                </div>
                <footer class="m-content__footer" style="background: #ffffff">
                    <a href="" class="c-btn c-btn--secondary">Browse Range</a>
                </footer>
            </div>
        {% endcall %}

        {% call contentMacro.quarterColumnWrap(colClasses="m-content__column") %}
            <div class="m-content__card " style="background: #f3f3f3">
                <div class="m-content__card-image" data-responsive-background-src data-src-s="../../assets/images/test/laptop.png">
                    <div class="u-aspect-nine-by-eight"></div>
                </div>
                <div class="m-content__card-content m-content__card-content--small">
                    <h3 class="u-h3">The Card Title</h3>
                    <p class="u-p3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim.</p>
                </div>
                <footer class="m-content__footer" style="background: #ffffff">
                    <a href="" class="c-btn c-btn--secondary">Browse Range</a>
                </footer>
            </div>
        {% endcall %}

        {% call contentMacro.quarterColumnWrap(colClasses="m-content__column") %}
            <div class="m-content__card " style="background: #f3f3f3">
                    <div class="m-content__card-image" data-responsive-background-src data-src-s="../../assets/images/test/laptop.png">
                        <div class="u-aspect-nine-by-eight"></div>
                    </div>
                <div class="m-content__card-content m-content__card-content--small">
                    <h3 class="u-h3">The Card Title</h3>
                    <p class="u-p3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim.</p>
                </div>
                <footer class="m-content__footer" style="background: #ffffff">
                    <a href="" class="c-btn c-btn--secondary">Browse Range</a>
                </footer>
            </div>
        {% endcall %}

    {% endcall %}
{% endcall %}

</div>
</div>
