{% extends "html/templates/page.html" %}


{% import 'html/red/modules/hero/macros.html' as heroMacros %}
{% import 'html/red/modules/cards-product/macros.html' as productMacros %}
{% import 'html/red/modules/promo/macros-twl.html' as promoMacros %}
{% import 'html/red/modules/inspiration/macros.html' as inspirationMacros %}

{% set pagename = 'T7 Homepage V2' %}

{% block exampleTitle -%}
   {{ pagename }}
{%- endblock %}

{% block header -%}
{% endblock %}

{% block pageContent -%}

    <a href="/html/red/buyers-guide-live.html"></a>
    <a href="/html/red/red-clp-live.html"></a>

    <h3>Modules:</h3>
    <a href="/html/red/modules/hero.html"></a>
    <a href="/html/red/red-clp-live.html"></a>
   
{% endblock %}