{% import "html/red/modules/buyers-guide-hero/macros.html" as heroMacro %}
{% import "html/red/modules/hero/macros-red.html" as heroRedMacro %}

{% import "html/red/modules/buyers-guide-section-heading/macros.html" as headingMacro %}
{% import "html/red/modules/buyers-guide-section-hero/macros.html" as sectionHeroMacro %}
{% import "html/guide/macros/module-wrap.html" as wrapMacro %}
{% import "html/guide/macros/module.html" as beltMacro %}
{% import "html/red/modules/content/macros.html" as contentMacro %}
{% import "html/red/modules/content/macros-red.html" as contentRedMacro %}
{% import "html/guide/macros/icons.html" as iconMacros %}
{% import "html/red/modules/content/macros-red.html" as contentRedMacro %}
{% import "html/guide/macros/guide.html" as guideMacros %}

{% import "html/red/components/product-card/macros-red.html" as productCardMacro %}
{% import "html/red/components/info-card/macros-red.html" as infoCardMacro %}
{% import 'html/red/modules/promo/macros-twl.html' as promoMacrosTWL %}

<div class="u-columns u-flex-justify-center g-display--red">

    {% call guideMacros.docsWrap() %}
        <h3 class="u-h5">C0040A - Full-width Hero Banner (no content)</h3>
        <p class="u-p3">
            Image - large: 1680 x 412<br />
            Image - medium: 1366 x 412<br />
            Image - small: 768 x 300 (max-height: 300, optimised so the focus of the image is at the center)
        </p>
    {% endcall %}

    <div class="m-hero__image" data-responsive-background-src data-src-m="/assets/images/test/hero_banner-mobile@2x.jpg" data-src-s="/assets/images/test/hero_banner-mobile.jpg">
        <div class="u-aspect-nine-by-four u-aspect-sixteen-by-nine-l" ></div>
    </div>

    {% call guideMacros.docsWrap() %}
        <h3 class="u-h5">2-up 9x8 Cards</h3>
        <p class="u-p3">
            Image: (9x8 ratio)<br />
            Title: <br />
            Sub Title:
        </p>
    {% endcall %}

    <div class="u-flex u-flex-justify-center">
        <div class="u-max-width-red-live">
            {% 
                set options = {
                    wrapClasses:"m-wrap--full",
                    tileClasses:"c-tile--gutter u-aspect-nine-by-eight"
                }
            %}
            {{promoMacrosTWL.Promos2UpCardedTWL(options)}}

        </div>
    </div>

    

    {% call guideMacros.docsWrap() %}
        <h3 class="u-h5">2-up 9x8 Tiles</h3>
        <p class="u-p3">
            Image: (9x8 ratio)<br />
            Title: <br />
            Sub Title:
        </p>
    {% endcall %}

    <div class="u-flex u-flex-justify-center">
        <div class="u-max-width-red-live">
            {% 
                set options = {
                    wrapClasses: "m-wrap--full m-wrap--padding-bottom",
                    tileClasses:"c-tile--gutter u-aspect-nine-by-eight"
                }
            %}
            {{promoMacrosTWL.Promos2UpTWL(options)}}

        </div>
    </div>

    {% call guideMacros.docsWrap() %}
        <h3 class="u-h5">2-up 16x9 Tiles</h3>
        <p class="u-p3">
            Image (16x9 ratio)<br />
            Title: <br />
            Sub Title:
        </p>
    {% endcall %}

    <div class="u-flex u-flex-justify-center">
        <div class="u-max-width-red-live">
            {% 
                set options = {
                    wrapClasses: "m-wrap--full",
                    tileClasses:"c-tile--gutter u-aspect-sixteen-by-nine"
                }
            %}
            {{promoMacrosTWL.Promos2UpCardedTWL(options)}}

        </div>
    </div>

    {% call guideMacros.docsWrap() %}
        <h3 class="u-h5">2-up 16x9 Tiles</h3>
        <p class="u-p3">
            Image (16x9 ratio)<br />
            Title: <br />
            Sub Title:
        </p>
    {% endcall %}

    <div class="u-flex u-flex-justify-center">
        <div class="u-max-width-red-live">
            {% 
                set options = {
                    wrapClasses: "m-wrap--full m-wrap--padding-bottom",
                    tileClasses:"c-tile--gutter u-aspect-sixteen-by-nine"
                }
            %}
            {{promoMacrosTWL.Promos2UpTWL(options)}}

        </div>
    </div>

    {% call guideMacros.docsWrap() %}
        <h3 class="u-h5">3-up 8x9 Cards</h3>
        <p class="u-p3">
            Image: (8x9 ratio)<br />
            Title: <br />
            Sub Title:
        </p>
    {% endcall %}

    <div class="u-flex u-flex-justify-center">
        <div class="u-max-width-red-live">
            {% 
                set options = {
                    wrapClasses: "m-wrap--full",
                    tileClasses:"c-tile--gutter u-aspect-eight-by-nine"
                }
            %}
            {{promoMacrosTWL.Promos3UpCardedTWL(options)}}

        </div>
    </div>

    {% call guideMacros.docsWrap() %}
        <h3 class="u-h5">3-up 8x9 Tiles</h3>
        <p class="u-p3">
            Image: (8x9 ratio)<br />
            Title: <br />
            Sub Title:
        </p>
    {% endcall %}

    <div class="u-flex u-flex-justify-center">
        <div class="u-max-width-red-live">
            {% 
                set options = {
                    wrapClasses: "m-wrap--full m-wrap--padding-bottom",
                    tileClasses:"c-tile--gutter u-aspect-eight-by-nine"
                }
            %}
            {{promoMacrosTWL.Promos3UpTWL(options)}}

        </div>
    </div>

    {% call guideMacros.docsWrap() %}
        <h3 class="u-h5">3-up 9x8 Tiles</h3>
        <p class="u-p3">
            Image: (9x8 ratio)<br />
            Title: <br />
            Sub Title:
        </p>
    {% endcall %}

    <div class="u-flex u-flex-justify-center">
        <div class="u-max-width-red-live">
            {% 
                set options = {
                    wrapClasses: "m-wrap--full m-wrap--padding-bottom",
                    tileClasses:"c-tile--gutter u-aspect-nine-by-eight"
                }
            %}
            {{promoMacrosTWL.Promos3UpTWL(options)}}

        </div>
    </div>

    {% call guideMacros.docsWrap() %}
        <h3 class="u-h5">4-up 8x9 Cards</h3>
        <p class="u-p3">
            Image (9x8 ratio)<br />
            Title: <br />
            Sub Title:
        </p>
    {% endcall %}

    <div class="u-flex u-flex-justify-center">
        <div class="u-max-width-red-live">
            {% 
                set options = {
                    wrapClasses: "m-wrap--full",
                    tileClasses:"c-tile--gutter u-aspect-eight-by-nine"
                }
            %}
            {{promoMacrosTWL.Promos4UpCardedTWL(options)}}

        </div>
    </div>

    {% call guideMacros.docsWrap() %}
        <h3 class="u-h5">4-up 8x9 Tiles</h3>
        <p class="u-p3">
            Image (9x8 ratio)<br />
            Title: <br />
            Sub Title:
        </p>
    {% endcall %}

    <div class="u-flex u-flex-justify-center">
        <div class="u-max-width-red-live">
            {% 
                set options = {
                    wrapClasses: "m-wrap--full m-wrap--padding-bottom",
                    tileClasses:"c-tile--gutter u-aspect-eight-by-nine"
                }
            %}
            {{promoMacrosTWL.Promos4UpTWL(options)}}

        </div>
    </div>
    
</div>