
{% import 'html/t7-live/modules/deals/macros.html' as moduleMacros %}
{% import 'html/guide/macros/module.html' as wrapMacros %}
{% import 'html/guide/macros/guide.html' as guideMacros %}

{% call wrapMacros.moduleWrap() -%}
<div class="u-spacing g-intro">

    <h3 class="u-h3 u-margin-top-x10">Styleguide:</h3>
    <a href="/Custom/FrontEnd/html/guide/style/typography.html" class="u-p1">Typography</a>
    <a href="/Custom/FrontEnd/html/guide/style/colours.html" class="u-p1">Colors</a>
    <a href="/Custom/FrontEnd/html/elements/buttons.html" class="u-p1">Buttons</a>

    <h2 class="u-h2 u-margin-top-x10">Homepage:</h2>

    <h3 class="u-h3 u-margin-top-x10">Home Modules Variations & Specs:</h3>
    {{guideMacros.linksPageLink(url="/Custom/FrontEnd/html/modules/hero.html", linkText="Hero banner")}}

    <h2 class="u-h2 u-margin-top-x10">CLP:</h2>

    <h3 class="u-h3 u-margin-top-x10">CLP Modules Variations & Specs:</h3>
    {{guideMacros.linksPageLink(url="/Custom/FrontEnd/html/modules/red-clp-live.html", linkText="CLP Promo modules")}}

    
</div> 
{% endcall %}

