{% extends "html/red/templates/red-live.html" %}

{% import "html/red/macros/module-wrap.html" as wrapMacros %}
{% import "html/red/modules/content/macros.html" as contentMacro %}
{% import 'html/red/modules/promo/macros-twl.html' as promoMacrosTWL %}

{% set pagename = 'Category Landing Page H&G' %}
{% block head %}

{% endblock %}
{% block title -%}

   {{ pagename }}

{%- endblock %}

{% block content -%}
<div class="u-flex u-flex-justify-center u-bg-white">
    <div class="u-max-width-clp-red-live">
           
        {#% ---- 2 column fixed tile, image right ---- %#}
        {% 
            set options = {
                contentClasses:"",
                wrapClasses:"M0163"
            }
        %}
        {% call wrapMacros.moduleWrapSimple(options) %}
            {% call contentMacro.columnContentContainer(wrapClasses="m-content--text-column") %}
                {% call contentMacro.halfColumnWrap(colClasses="m-content__column u-aspect-nine-by-eight-m") %}
                    <div class="m-content__tile c-tile m-content__tile--text" style="background-color: #EFE7E5">
                        <div class="m-content__tile-content u-flex u-flex-column u-flex-justify-space-between">
                            <div class="m-content__product-header-section">
                                <p class="u-p2 t-text">Lorem ipsum lobortis</p>
                            </div>
    
                            <div class="m-content__body u-spacing">
                                <h1 class="u-h2 t-heading m-content__product-heading">Living the dream</h1>
                                <p class="u-p1 t-text m-content__product-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim.</p>
                            </div>
                            <div class="m-content__product-footer-section">
                                <a href="/Custom/FrontEnd/html" class="c-btn c-btn--secondary t-btn-secondary">Browse Range</a>
                            </div>
                        </div>
                    </div>
                {% endcall %}
                {% call contentMacro.halfColumnWrap(colClasses="m-content__column u-aspect-nine-by-eight") %}
                    <div class="m-content__tile c-tile">
                        <div class="m-content__image-bg" data-responsive-background-src data-src="/assets/images/red-live/clp-assets/home-garden/c2723-twl-wk50-home-garden-refresh-bedroom-500x445.jpg"></div>
                    </div>
                {% endcall %}
            {% endcall %}
        {% endcall %}


        {# ---- 4 up promo cards ---- #}
        {% 
            set headerOptions = {
                heading:"Module Heading"
            }
        %}    
        {{wrapMacros.moduleWrapHeaderSimple(headerOptions)}}
        
        {% 
            set options = {
                titleText: "",
                imageSmall: "/assets/images/red-live/clp-assets/home-garden/c2723-twl-wk50-home-garden-refresh-bedroom-300x338.jpg",
                wrapClasses: "m-wrap--full",
                tileClasses:"c-tile--gutter u-aspect-eight-by-nine"
            }
        %}
        {{promoMacrosTWL.Promos4UpCardedTWL(options)}}

        {% 
            set footerOptions = {
                ctaText: "View All Furniture",
                btnClasses: "c-btn--primary-inverse"
            }
        %}    
        {{wrapMacros.moduleWrapFooterSimple(footerOptions)}}


        {# ---- 2 up promo cards ---- #}
        {% 
            set options = {
                titleText: "",
                imageSmall: "/assets/images/red-live/clp-assets/home-garden/c2723-twl-wk50-home-garden-refresh-bedding-500x445.jpg",
                wrapClasses: "m-wrap--full",
                tileClasses:"c-tile--gutter u-aspect-nine-by-eight",
                outerText: "New styles to transform your bedroom"
            }
        %}
        {{promoMacrosTWL.Promos2UpCardedContentBelowTWL(options)}}

        {% 
            set headerOptions = {
                heading:"Module Heading"
            }
        %}    
        {{wrapMacros.moduleWrapHeaderSimple(headerOptions)}}

        {% 
            set options = {
                titleText: "",
                imageSmall: "/assets/images/red-live/clp-assets/home-garden/c2723-twl-wk50-home-garden-refresh-whiteware-300x338.jpg",
                wrapClasses: "m-wrap--full",
                tileClasses:"c-tile--gutter u-aspect-eight-by-nine"
            }
        %}
        {{promoMacrosTWL.Promos4UpCardedTWL(options)}}

        {% 
            set footerOptions = {
                ctaText: "View All Furniture",
                btnClasses: "c-btn--primary-inverse"
            }
        %}    
        {{wrapMacros.moduleWrapFooterSimple(footerOptions)}}

        {% 
            set options = {
                titleText: "",
                imageSmall: "/assets/images/red-live/clp-assets/home-garden/c2723-twl-wk50-home-garden-refresh-garden-500x445.jpg",
                wrapClasses:"m-wrap--full",
                tileClasses:"c-tile--gutter u-aspect-nine-by-eight",
                outerText: "New styles to transform your bedroom"
            }
        %}
        {{promoMacrosTWL.Promos2UpCardedContentBelowTWL(options)}}
        
        {% 
            set headerOptions = {
                heading:"Module Heading"
            }
        %}    
        {{wrapMacros.moduleWrapHeaderSimple(headerOptions)}}

        {% 
            set options = {
                titleText: "",
                wrapClasses: "m-wrap--full",
                imageSmall: "/assets/images/red-live/clp-assets/home-garden/c2723-twl-wk50-home-garden-refresh-decor-330x372.jpg",
                tileClasses:"c-tile--gutter u-aspect-eight-by-nine",
                heroTileClasses:"c-tile--gutter u-aspect-nine-by-eight u-aspect-eight-by-nine-m"
            }
        %}
        {{promoMacrosTWL.Promos3UpCardedTWL(options)}}
        <div class="c-spacer"></div>
        {% 
            set options = {
                titleText: "",
                wrapClasses: "m-wrap--full",
                imageSmall: "/assets/images/red-live/clp-assets/home-garden/c2723-twl-wk50-home-garden-refresh-curtains-330x372.jpg",
                tileClasses:"c-tile--gutter u-aspect-eight-by-nine",
                heroTileClasses:"c-tile--gutter u-aspect-nine-by-eight u-aspect-eight-by-nine-m"
            }
        %}
        {{promoMacrosTWL.Promos3UpCardedTWL(options)}}
        <div class="c-spacer"></div>
        {% 
            set options = {
                titleText: "",
                wrapClasses: "m-wrap--full",
                imageSmall: "/assets/images/red-live/clp-assets/home-garden/c2723-twl-wk50-home-garden-refresh-kitchen-330x372.jpg",
                tileClasses:"c-tile--gutter u-aspect-eight-by-nine",
                heroTileClasses:"c-tile--gutter u-aspect-nine-by-eight u-aspect-eight-by-nine-m"
            }
        %}
        {{promoMacrosTWL.Promos3UpCardedTWL(options)}}

    </div>
</div>
   
{% endblock %}