{% macro colourSwatchGradient(name, hexcode) %}
<div class="colour-palette u-block u-columns__column--three-l u-columns__column--six-s">
    <div class="colour-palette__example--new colour-palette__example--{{ name }}"></div>
    <div class="colour-palette__example--shade colour-palette__example--{{ name }}--75"></div>
    <div class="colour-palette__example--shade colour-palette__example--{{ name }}--50"></div>
    <div class="colour-palette__example--shade colour-palette__example--{{ name }}--25"></div>
    <code class="colour-palette__code u-margin-left-x4">$color-{{ name }}</code><span class="colour-palette__hexcode u-margin-left-x4">#{{ hexcode }}</span>
</div>
{% endmacro %}

{% macro colourSwatch(name, hexcode) %}
<div class="colour-palette u-block u-columns__column--three-l u-columns__column--six-s">
    <div class="colour-palette__example--new " style="background: #{{hexcode}}"></div>
    <code class="colour-palette__code u-margin-left-x4">$color-{{ name }}</code><span class="colour-palette__hexcode u-margin-left-x4">#{{ hexcode }}</span>
</div>
{% endmacro %}

{% macro oldColourSwatch(name, hexcode) %}
<div class="colour-palette u-block u-columns__column--two-l u-columns__column--six-s">
    <div class="colour-palette__example colour-palette__example--{{ name }}"></div>
    <code class="colour-palette__code u-margin-left-x4">@{{ name }}</code><span class="colour-palette__hexcode u-margin-left-x4">#{{ hexcode }}</span>
</div>
{% endmacro %}