{% macro svgicon(classes,name) %}
	<svg class="c-icon {{classes}}" aria-hidden="true"><use xlink:href="/Custom/FrontEnd/assets/svg/icons.svg#{{name}}"></use></svg>
{% endmacro %}

{% macro iconWrap(classes="") -%}
	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="c-icon {{classes}}">
		{{caller()}}
	</svg>
{%- endmacro %}


{% macro iconAccount(classes) %}
	{% call iconWrap(classes) -%}
		<path fill="" fill-rule="evenodd" d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4m0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4"></path>
	{% endcall %}
{% endmacro %}

{% macro iconBurger(classes) %}
	{% call iconWrap(classes) -%}
		<path fill="" d="M3 13.143v-2.286h18v2.286H3zm0-6.857V4h18v2.286H3zM3 20v-2.286h18V20H3z"></path>
	{% endcall %}
{% endmacro %}

{% macro iconCart(classes) %}
	{% call iconWrap(classes) -%}
		<g id="Elements/icon/cart" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			<path d="M3,3 L5.97,3 L6.78,4.8 L20.1,4.8 C20.64,4.8 21,5.16 21,5.7 C21,5.88 21,5.97 20.82,6.15 L17.58,12 C17.31,12.54 16.77,12.9 16.05,12.9 L9.39,12.9 L8.58,14.43 L8.58,14.52 C8.58,14.61 8.67,14.7 8.76,14.7 L19.2,14.7 L19.2,16.5 L8.4,16.5 C7.41,16.5 6.6,15.69 6.6,14.7 C6.6,14.43 6.69,14.07 6.78,13.8 L8.04,11.64 L4.8,4.8 L3,4.8 L3,3 Z M17.4,17.4 C18.39,17.4 19.2,18.21 19.2,19.2 C19.2,20.19 18.39,21 17.4,21 C16.41,21 15.6,20.19 15.6,19.2 C15.6,18.21 16.41,17.4 17.4,17.4 Z M8.4,17.4 C9.39,17.4 10.2,18.21 10.2,19.2 C10.2,20.19 9.39,21 8.4,21 C7.41,21 6.6,20.19 6.6,19.2 C6.6,18.21 7.41,17.4 8.4,17.4 Z" id="Icon" fill="#393939" fill-rule="nonzero"></path>
		</g>
	{% endcall %}
{% endmacro %}

{% macro iconChevronDown(classes) %}
	{% call iconWrap(classes) -%}
		<g id="Bounding_Boxes">
			<path opacity="0.87" fill="none" d="M24,24H0L0,0l24,0V24z"/>
		</g>
		<g id="Outline_1_">
			<path d="M16.59,8.59L12,13.17L7.41,8.59L6,10l6,6l6-6L16.59,8.59z"/>
		</g>
	{% endcall %}
{% endmacro %}

{% macro iconChevronLeft(classes) %}
	{% call iconWrap(classes) -%}
		<g id="Bounding_Boxes">
			<path fill="none" d="M0,0h24v24H0V0z"/>
		</g>
		<g id="Outline_1_">
			<path d="M15.41,7.41L14,6l-6,6l6,6l1.41-1.41L10.83,12L15.41,7.41z"/>
		</g>
	{% endcall %}
{% endmacro %}

{% macro iconChevronRight(classes) %}
	{% call iconWrap(classes) -%}
		<g id="Bounding_Boxes">
			<path fill="none" d="M0,0h24v24H0V0z"/>
		</g>
		<g id="Outline_1_">
			<path d="M10,6L8.59,7.41L13.17,12l-4.58,4.59L10,18l6-6L10,6z"/>
		</g>
	{% endcall %}
{% endmacro %}

{% macro iconChevronUp(classes) %}
	{% call iconWrap(classes) -%}
		<g id="Bounding_Boxes">
			<path fill="none" d="M0,0h24v24H0V0z"/>
		</g>
		<g id="Outline_1_">
			<path d="M12,8l-6,6l1.41,1.41L12,10.83l4.59,4.58L18,14L12,8z"/>
		</g>
	{% endcall %}
{% endmacro %}

{% macro iconClose(classes) %}
	{% call iconWrap(classes) -%}
		<g id="Elements/icon/close" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			<polygon id="Icon" fill="#393939" fill-rule="nonzero" points="12.0006364 10.8555386 16.85669 6 18.0012728 7.14446142 13.1452192 12 18.0012728 16.8555386 16.85669 18 12.0006364 13.1444614 7.14458281 18 6 16.8555386 10.8560536 12 6 7.14446142 7.14458281 6"></polygon>
		</g>
	{% endcall %}
{% endmacro %}

{% macro iconCrossError(classes) %}
	{% call iconWrap(classes) -%}
		<g id="Elements/icon/Cross-(Error)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
			<path d="M14.3079036,15.7054786 L12.0024972,13.401223 L9.69209639,15.7094721 C9.30553128,16.0968426 8.67723811,16.0968426 8.29067299,15.7094721 C7.903109,15.3231 7.903109,14.6961188 8.29067299,14.3087483 L10.6000749,11.9995008 L8.29067299,9.69125172 C7.903109,9.30388119 7.903109,8.67690004 8.29067299,8.29052789 C8.67723811,7.90315737 9.30553128,7.90315737 9.69209639,8.29052789 L12.0024972,10.598777 L14.3079036,8.2945214 C14.6944687,7.90715088 15.321763,7.90715088 15.709327,8.2945214 C16.0958921,8.68189193 16.0958921,9.30887308 15.709327,9.69524523 L13.4039206,12.0004992 L15.709327,14.3047548 C16.096891,14.6911269 16.096891,15.3191065 15.709327,15.7054786 C15.3227619,16.0918507 14.6944687,16.0918507 14.3079036,15.7054786 Z" id="Icon" fill="#393939" fill-rule="nonzero"></path>
		</g>
	{% endcall %}
{% endmacro %}

{% macro iconCollapse(classes) %}
	{% call iconWrap(classes) -%}
		<path d="M19 13H5v-2h14v2z"/>
		<path d="M0 0h24v24H0z" fill="none"/>
	{% endcall %}
{% endmacro %}

{% macro iconEdit(classes) %}
	{% call iconWrap(classes) -%}
		<g id="MVP-level-1---3" stroke="none" stroke-width="1" fill="" fill-rule="evenodd" transform="translate(-234.000000, -65.000000)">
			<g id="Group-4" transform="translate(234.000000, 62.000000)" fill="">
				<g id="create" transform="translate(0.000000, 3.000000)">
					<path d="M0,10.8190476 L0,13.7142857 L2.95555556,13.7142857 L11.5111111,5.25714286 L8.55555556,2.36190476 L0,10.8190476 L0,10.8190476 Z M13.7666667,3.04761905 C14.0777778,2.74285714 14.0777778,2.28571429 13.7666667,1.98095238 L11.9777778,0.228571429 C11.6666667,-0.0761904762 11.2,-0.0761904762 10.8888889,0.228571429 L9.48888889,1.6 L12.4444444,4.4952381 L13.7666667,3.04761905 L13.7666667,3.04761905 Z" id="Shape"></path>
				</g>
			</g>
		</g>
	{% endcall %}
{% endmacro %}

{% macro iconExpand(classes) %}
	{% call iconWrap(classes) -%}
		<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
		<path d="M0 0h24v24H0z" fill="none"/>
	{% endcall %}
{% endmacro %}

{% macro iconMailer(classes) %}
	{% call iconWrap(classes) -%}
		<path fill="" d="M12.589 7.73h5.956V6.671h-5.956v1.06zm0 2.355h5.956V9.026h-5.956v1.06zm-7.003 2.32V6.556h5.85v5.849h-5.85zm1.058-1.059h3.733V7.615H6.644v3.731zm5.945 1.094h5.956V11.38h-5.956v1.059zm-7.043 2.355h12.998v-1.06H5.546v1.06zm0 2.438h12.998v-1.059H5.546v1.06zm.002 2.298H11.4v-1.059H5.548v1.059zm7.118 0h5.853v-1.059h-5.853v1.059zM21 19.62h-1.059V5.739c0-.375-.258-.68-.575-.68H4.635c-.318 0-.576.305-.576.68v13.88H3V5.74C3 4.779 3.733 4 4.635 4h14.731C20.267 4 21 4.78 21 5.739v13.88z"></path>
	{% endcall %}
{% endmacro %}

{% macro iconPin(classes) %}
	{% call iconWrap(classes) -%}
	<path fill="" d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z" />
	{% endcall %}
{% endmacro %}

{% macro iconSearch(classes) %}
	{% call iconWrap(classes) -%}
	<g fill="" fill-rule="evenodd"><path d="M16.294 14.579h-.903l-.32-.31a7.4 7.4 0 0 0 1.795-4.836 7.433 7.433 0 1 0-7.433 7.433 7.4 7.4 0 0 0 4.837-1.796l.309.32v.904L20.296 22 22 20.296l-5.706-5.717zm-6.861 0a5.139 5.139 0 0 1-5.146-5.146 5.139 5.139 0 0 1 5.146-5.146 5.139 5.139 0 0 1 5.146 5.146 5.139 5.139 0 0 1-5.146 5.146z" fill="#616161" fill-rule="nonzero"></path></g>
	{% endcall %}
{% endmacro %}

{% macro iconWM(classes) %}
	{% call iconWrap(classes) -%}
	<path fill="" d="M32.635 4h3.135L40 20h-3.441l-2.444-9.895-2.769 9.847V20h-2.69l-2.771-9.874L23.445 20H20l4.232-16h3.135L30 13.707 32.635 4zM16.558 4H20l-4.23 16h-3.135l-2.636-9.707L7.365 20H4.23L0 4h3.442l2.442 9.871L8.653 4h2.694v.048l2.769 9.847L16.558 4z"></path>
	{% endcall %}
{% endmacro %}

{% macro iconWishlist(classes) %}
	{% call iconWrap(classes) -%}
		<svg id="wishlist" viewBox="0 0 24 24" width="100%" height="100%"><title>wishlist2</title><path d="M16.5 3c-1.74 0-3.41.839-4.5 2.164C10.91 3.839 9.24 3 7.5 3 4.42 3 2 5.506 2 8.695c0 3.914 3.4 7.103 8.55 11.949L12 22l1.45-1.367C18.6 15.798 22 12.61 22 8.695 22 5.505 19.58 3 16.5 3zm-4.4 16.1l-.1.104-.1-.103C7.14 14.638 4 11.687 4 8.695 4 6.624 5.5 5.07 7.5 5.07c1.54 0 3.04 1.025 3.57 2.443h1.87c.52-1.418 2.02-2.443 3.56-2.443 2 0 3.5 1.553 3.5 3.624 0 2.992-3.14 5.943-7.9 10.406z" fill-rule="nonzero"></path></svg>
	{% endcall %}
{% endmacro %}

{% macro iconWishlistFilled(classes) %}
	{% call iconWrap(classes) -%}
	<g fill-rule="evenodd"><path d="M16.5 3c-1.74 0-3.41.839-4.5 2.164C10.91 3.839 9.24 3 7.5 3 4.42 3 2 5.506 2 8.695c0 3.914 3.4 7.103 8.55 11.949L12 22l1.45-1.367C18.6 15.798 22 12.61 22 8.695 22 5.505 19.58 3 16.5 3zm-4.4 16.1l-.1.104-.1-.103C7.14 14.638 4 11.687 4 8.695 4 6.624 5.5 5.07 7.5 5.07c1.54 0 3.04 1.025 3.57 2.443h1.87c.52-1.418 2.02-2.443 3.56-2.443 2 0 3.5 1.553 3.5 3.624 0 2.992-3.14 5.943-7.9 10.406z" fill-rule="nonzero"></path><path d="M12.09 6.684L9.773 4.83l-2.806-.644-2.72.799-1.07 2.259v2.996l2.233 4.436 4.58 4.028 1.702 2.108 6.241-5.678 2.168-3.274.723-3.708-.592-2.923-3.68-1.043-3.01 1.81-1.452.687z"></path></g>
	{% endcall %}
{% endmacro %}

{% macro iconExclamation(classes) %}
	{% call iconWrap(classes) -%}
	<g id="exclamation" stroke="none" stroke-width="1" fill="" fill-rule="evenodd">
        <path d="M10.912,17.296 C10.912,17.0399987 11.0053324,16.8186676 11.192,16.632 C11.3786676,16.4453324 11.605332,16.352 11.872,16.352 C12.1280013,16.352 12.3466658,16.4426658 12.528,16.624 C12.7093342,16.8053342 12.8,17.029332 12.8,17.296 C12.8,17.5413346 12.7093342,17.759999 12.528,17.952 C12.3466658,18.144001 12.1280013,18.24 11.872,18.24 C11.6159987,18.24 11.392001,18.1493342 11.2,17.968 C11.007999,17.7866658 10.912,17.562668 10.912,17.296 Z M11.2,15.296 L11.2,6.464 L12.528,6.464 L12.528,15.296 L11.2,15.296 Z" id="exclamation-icon" fill="#000000" transform="translate(11.856000, 12.352000) scale(-1, 1) translate(-11.856000, -12.352000) "></path>
    </g>
	{% endcall %}
{% endmacro %}

{% macro iconRequired(classes) %}
	{% call iconWrap(classes) -%}
	<g id="required" stroke="none" stroke-width="1" fill="" fill-rule="evenodd">
        <polygon id="*" fill="#000000" points="9 11.828 9.364 10.218 11.072 10.834 10.918 9 12.57 9 12.388 10.848 14.138 10.232 14.516 11.856 12.752 12.094 13.816 13.536 12.374 14.362 11.702 12.906 10.96 14.334 9.546 13.424 10.694 12.08"></polygon>
    </g>
	{% endcall %}
{% endmacro %}

{% macro iconTick(classes) %}
	{% call iconWrap(classes) -%}
	<g id="tick" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon id="tick-icon" fill="#000000" points="10.5 14.3283582 7.875 11.8208955 7 12.6567164 10.5 16 18 8.8358209 17.125 8"></polygon>
    </g>
	{% endcall %}
{% endmacro %}

{% macro iconRadioCheck(classes) %}
	{% call iconWrap(classes) -%}
	<g id="radio-check" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		<circle id="Oval-6" fill="#000000" cx="12" cy="12" r="4"></circle>
	</g>
	{% endcall %}
{% endmacro %}

{% macro iconAlertWarning(classes) %}
	{% call iconWrap(classes) -%}
	<g id="alert-warning" stroke="none" stroke-width="1" fill="" fill-rule="evenodd">
		<path d="M1,21 L23,21 L12,2 L1,21 L1,21 Z M13,18 L11,18 L11,16 L13,16 L13,18 L13,18 Z M13,14 L11,14 L11,10 L13,10 L13,14 L13,14 Z" id="Mask" fill=""></path>
	</g>
	{% endcall %}
{% endmacro %}








