
/*
 *
 * Module Macros
 *
 */

 {% macro moduleWrap(wrapClass="", innerClass="") -%}
    <section class='m-wrap'>
        <div class="m-wrap__card {{ wrapClass }}">
            <div class="m-wrap__inner {{ innerClass }}">
                {% if options.heading %}
                <div class="m-wrap__header">
                    <h2 class="u-h3">{{ options.heading | safe }}</h2>
                    {% if options.description %}<p>{{ options.description | safe }}</p>{% endif %}
                </div>{% endif %}
                <div class="m-wrap__content">
                    {{caller()}}
                </div>
                {% if options.ctaText %}
                <div class="m-wrap__footer">
                    <a href="{{ options.ctaLink | safe }}" class="c-btn">{{ options.ctaText | safe }}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
{%- endmacro %}

 {# CARDED WRAP MODULE #}
{% macro moduleWrapCarded(wrapClass="", innerClass="") -%}
    <section class='m-wrap m-wrap--carded {{ wrapClass }}'>
        <div class="m-wrap__card">
            <div class="m-wrap__inner {{ innerClass }}">
                
                {{caller()}}
                
            </div>
        </div>
    </section>
{%- endmacro %}

{% macro moduleWrapHeader(headerClass="") -%}
    <div class="m-wrap__header {{headerClass}}">
        {{caller()}}
    </div>
{%- endmacro %}

{% macro moduleWrapContent(contentClass="") -%}
    <div class="m-wrap__content {{contentClass}}">
        {{caller()}}
    </div>
{%- endmacro %}

{# CARDED STACKED WRAP MODULE #}
{% macro moduleWrapCardedStacked(wrapClass="") -%}
    <section class='m-wrap m-wrap--carded {{ wrapClass }}'>
        <div class="m-wrap__card">
            <div class="m-wrap__inner--stacked">
                <div class="m-wrap__content">
                    {{caller()}}
                </div>
            </div>
        </div>
    </section>
{%- endmacro %}

{# CARDED STACKED TOP WRAP MODULE #}
{% macro moduleWrapCardedStackedTop(wrapClass="") -%}
    <section class='m-wrap m-wrap--carded {{ wrapClass }}'>
        <div class="m-wrap__card">
            <div class="m-wrap__inner--stacked-top">
                <div class="m-wrap__content">
                    {{caller()}}
                </div>
            </div>
        </div>
    </section>
{%- endmacro %}

{% macro bannerWrap(innerClass="") -%}
    <section class='m-wrap m-wrap--banner-belt {{ options.wrapClasses | lower | safe }}'>
        <div class="m-wrap__card m-wrap__card--banner">
            <div class="m-wrap__inner m-wrap__inner--banner {{ innerClass }}">
                {% if options.heading %}
                <div class="m-wrap__header">
                    <h2 class="u-h3">{{ options.heading | safe }}</h2>
                    {% if options.description %}<p>{{ options.description | safe }}</p>{% endif %}
                </div>{% endif %}
                {% if options.cols %}
                    <div class="m-wrap__content u-grid u-grid-cols-{{ options.cols | safe }} u-grid-justify-center">
                {% else %}
                    <div class="m-wrap__content u-grid u-grid-cols-4 u-grid-justify-center">
                {% endif %}
                    {{ caller() }}
                </div>
                {% if options.ctaText %}
                    <div class="m-wrap__footer">
                        <a href="{{ options.ctaLink | safe }}" class="c-btn">{{ options.ctaText | safe }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{%- endmacro %}

{% macro beltWrap(options={}) -%}
    <section class='m-wrap m-wrap--banner-belt {{ options.wrapClasses | lower | safe }}'>
        <div class="m-wrap__card">
            <div class="m-wrap__inner">
                {% if options.heading %}
                <div class="m-wrap__header">
                    <h2 class="u-h3">{{ options.heading | safe }}</h2>
                    {% if options.description %}<p>{{ options.description | safe }}</p>{% endif %}
                </div>{% endif %}
                <div class="m-wrap__content u-flex u-flex-row u-flex-justify-space-between">
                    {{ caller() }}
                </div>
                {% if options.ctaText %}
                    <div class="m-wrap__footer">
                        <a href="{{ options.ctaLink | safe }}" class="c-btn">{{ options.ctaText | safe }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{%- endmacro %}

{% macro infoCardWrap(options={}) -%}
    <section class='m-wrap m-wrap--belt {{ options.wrapClasses | lower | safe }}'>
        <div class="m-wrap__card">
            <div class="m-wrap__inner">
                {% if options.heading %}
                <div class="m-wrap__header">
                    <h2 class="u-h3">{{ options.heading | safe }}</h2>
                    {% if options.description %}<p>{{ options.description | safe }}</p>{% endif %}
                </div>{% endif %}
                <div class="m-wrap__content u-flex u-flex-row u-flex-justify-space-between">
                    {{ caller() }}
                </div>
                {% if options.ctaText %}
                    <div class="m-wrap__footer">
                        <a href="{{ options.ctaLink | safe }}" class="c-btn">{{ options.ctaText | safe }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{%- endmacro %}
