{% import "html/red/modules/buyers-guide-hero/macros.html" as heroMacro %}
{% import "html/red/modules/hero/macros-red.html" as heroRedMacro %}

{% import "html/red/modules/buyers-guide-section-heading/macros.html" as headingMacro %}
{% import "html/red/modules/buyers-guide-section-hero/macros.html" as sectionHeroMacro %}
{% import "html/red/macros/module-wrap.html" as wrapMacros %}
{% import "html/red/macros/module.html" as beltMacro %}
{% import "html/red/modules/content/macros.html" as contentMacro %}
{% import "html/red/modules/content/macros-red.html" as contentRedMacro %}
{% import "html/red/macros/icons.html" as iconMacros %}
{% import "html/red/modules/content/macros-red.html" as contentRedMacro %}
{% import "html/red/macros/guide.html" as guideMacros %}

{% import "html/red/components/product-card/macros-red.html" as productCardMacro %}
{% import "html/red/components/info-card/macros-red.html" as infoCardMacro %}
{% import 'html/red/modules/promo/macros-twl.html' as promoMacrosTWL %}

{% call guideMacros.docsWrap() %}
    <h3 class="u-h5">Demo CLP Modules</h3>
{% endcall %}

<div class="u-columns u-flex-justify-center g-display--red">


    {% call guideMacros.docsWrap() %}
        <h3 class="u-h5">M0130C: 2-up 9x8 Cards - text below</h3>
        <p class="u-p3">
            Image: (9x8 ratio)<br />
            Title: <br />
            Sub Title:
        </p>
    {% endcall %}

    <div class="u-flex u-flex-justify-center">
        <div class="u-max-width-clp-red-live">
            {% 
                set options = {
                    wrapClasses:"",
                    titleText: "",
                    tileClasses:"c-tile--gutter u-aspect-nine-by-eight",
                    outerText: "New styles to transform your bedroom"
                }
            %}
            {{promoMacrosTWL.Promos2UpCardedContentBelowTWL(options)}}

        </div>
    </div>

    <!-- {#% call guideMacros.docsWrap() %}
        <h3 class="u-h5">2-up 9x8 Tiles</h3>
        <p class="u-p3">
            Image: (9x8 ratio)<br />
            Title: <br />
            Sub Title:
        </p>
    {% endcall %#} -->

    <!--<div class="u-flex u-flex-justify-center">
        <div class="u-max-width-clp-red-live">
            {% 
                set options = {
                    wrapClasses: "m-wrap--full m-wrap--padding-bottom",
                    tileClasses:"c-tile--gutter u-aspect-nine-by-eight"
                }
            %}
            {#{promoMacrosTWL.Promos2UpTWL(options)}#}

        </div>
    </div>-->

    {% call guideMacros.docsWrap() %}
        <h3 class="u-h5">M0131D: 2-up 16x9 Cards - no text</h3>
        <p class="u-p3">
            Image (16x9 ratio)<br />
            Title: <br />
            Sub Title:
        </p>
    {% endcall %}

    <div class="u-flex u-flex-justify-center">
        <div class="u-max-width-clp-red-live">
            {% 
                set options = {
                    titleText: "",
                    wrapClasses: "m-wrap--full",
                    tileClasses:"c-tile--gutter u-aspect-sixteen-by-nine"
                }
            %}
            {{promoMacrosTWL.Promos2UpCardedTWL(options)}}

        </div>
    </div>

    <!-- {#% call guideMacros.docsWrap() %}
        <h3 class="u-h5">2-up 16x9 Tiles</h3>
        <p class="u-p3">
            Image (16x9 ratio)<br />
            Title: <br />
            Sub Title:
        </p>
    {% endcall %#} -->

    <!--<div class="u-flex u-flex-justify-center">
        <div class="u-max-width-clp-red-live">
            {% 
                set options = {
                    wrapClasses: "m-wrap--full m-wrap--padding-bottom",
                    tileClasses:"c-tile--gutter u-aspect-sixteen-by-nine"
                }
            %}
            {#{promoMacrosTWL.Promos2UpTWL(options)}#}

        </div>
    </div>-->

    {% call guideMacros.docsWrap() %}
        <h3 class="u-h5">M0132A: 3-up 8x9 Cards - no text</h3>
        <p class="u-p3">
            Image: (8x9 ratio)<br />
            Title: <br />
            Sub Title:
        </p>
    {% endcall %}

    <div class="u-flex u-flex-justify-center">
        <div class="u-max-width-clp-red-live">
            {% 
                set options = {
                    titleText: "",
                    wrapClasses: "m-wrap--full",
                    tileClasses:"c-tile--gutter u-aspect-eight-by-nine",
                    heroTileClasses:"c-tile--gutter u-aspect-nine-by-eight u-aspect-eight-by-nine-m"
                }
            %}
            {{promoMacrosTWL.Promos3UpCardedTWL(options)}}

        </div>
    </div>

    <!-- {#% call guideMacros.docsWrap() %}
        <h3 class="u-h5">3-up 8x9 Tiles</h3>
        <p class="u-p3">
            Image: (9x8 ratio)<br />
            Title: <br />
            Sub Title:
        </p>
    {% endcall %#} -->

    <!--<div class="u-flex u-flex-justify-center">
        <div class="u-max-width-clp-red-live">
            {% 
                set options = {
                    wrapClasses: "m-wrap--full m-wrap--padding-bottom",
                    tileClasses:"c-tile--gutter u-aspect-eight-by-nine"
                }
            %}
            {#{promoMacrosTWL.Promos3UpTWL(options)}#}

        </div>
    </div>-->


    {% call guideMacros.docsWrap() %}
        <h3 class="u-h5">M0134D: 4-up 8x9 Cards - no text</h3>
        <p class="u-p3">
            Image (9x8 ratio)<br />
            Title: <br />
            Sub Title:
        </p>
    {% endcall %}

    <div class="u-flex u-flex-justify-center">
        <div class="u-max-width-clp-red-live">
            {% 
                set options = {
                    titleText: "",
                    wrapClasses: "m-wrap--full",
                    tileClasses:"c-tile--gutter u-aspect-eight-by-nine"
                }
            %}
            {{promoMacrosTWL.Promos4UpCardedTWL(options)}}

        </div>
    </div>

    <!-- {#% call guideMacros.docsWrap() %}
        <h3 class="u-h5">4-up 8x9 Tiles</h3>
        <p class="u-p3">
            Image (9x8 ratio)<br />
            Title: <br />
            Sub Title:
        </p>
    {% endcall %#} -->

   <!-- <div class="u-flex u-flex-justify-center">
        <div class="u-max-width-clp-red-live">
            {% 
                set options = {
                    wrapClasses: "m-wrap--full m-wrap--padding-bottom",
                    tileClasses:"c-tile--gutter u-aspect-eight-by-nine"
                }
            %}
            {#{promoMacrosTWL.Promos4UpTWL(options)}#}

        </div>
    </div>-->

    
    
</div>