{% extends "html/templates/root.html" %}
{% import 'html/guide/macros/typography.html' as typographyMacros %}
{% import 'html/guide/macros/icons.html' as iconMacros %}

{% block head %}


<link rel="stylesheet" id="main" href="/assets/css/main-t7.css">

{% endblock %}
<!--
set templateOptions = {
    subheading: "String",
    heading: "String",
    description: "HTML",
    currentStyleguideTitle: "String",
    currentStyleguideContent: "path to html",
    styleguideTitle: "String",
    styleguideContent: "path to html",
    codeBlock: "path to html",
    variantBlock: "path to html",
    newComponentPreviewTitle: "String",
    newComponentContentBlock: "path to html",
    captionBlock: "String",
    currentComponentPreviewTitle: "String",
    currentComponentContentBlock: "path to html"
}
-->
{% block content %}
<div class='g-load'>
    <div class='g-main'>
        <div class="g-page__header">

            <section class='m-wrap'>
                <div class="m-wrap__card">
                    <div class="m-wrap__content g-spacing">
                        <span class="g-p3 g-regular">
                            {{templateOptions.subheading  | safe}}
                        </span>

                        <h1 class="g-h1 g-regular">
                            {{templateOptions.heading  | safe}}
                        </h1>
                        {% if templateOptions.description %}
                            <section class="u-margin-top-x4">
                                <span class="g-p2 g-regular">{{templateOptions.description | safe}}</span>
                        </section>
                        {% endif %}
                    </div>
                </div>
            </section>
            
        </div>
    

    {% block fullWidthExampleContent %}
    <div class="u-columns u-flex-justify-center">
        <div class="u-columns__column u-block u-columns__column--twelve u-full-width">
            <div class="u-columns u-flex-justify-center">

                
                <div class="g-styleguide u-columns u-flex-justify-center u-columns__column--twelve">
                    {% if templateOptions.styleguideContent -%}
                    <div class="g-panel g-styleguide__container u-flex-justify-center u-columns__column u-block u-columns__column--ten">

                        <h2 class="g-h3 g-regular u-margin-top-x4">
                            {{templateOptions.styleguideTitle}}<!-- END: styleguideTitle -->
                        </h2>

                        {% include templateOptions.styleguideContent %}<!-- END: styleguideContent -->

                    </div>
                    <!-- END: styleguideBlock -->
                    {%- endif %}

                    {% if templateOptions.currentStyleguideContent -%}
                    <div class="g-panel g-styleguide__container u-flex-justify-center u-columns__column u-block u-columns__column--ten">

                        
                        <h2 class="g-h3 u-margin-top-x4">
                            {{templateOptions.currentStyleguideTitle}}<!-- END: scurrentStyleguideTitle -->
                        </h2>

                        {% include templateOptions.currentStyleguideContent %}
                        <!-- END: currentStyleguideContent -->
                    </div>
                    <!-- END: currentStyleguideBlock -->
                    {%- endif %}
                </div>
                <!-- END: .g-styleguide -->

                
                <div class="u-columns__column--ten u-margin-top-x4 u-margin-bottom-x4 u-block u-full-width" data-ud-core="ud-element-switcher__base">
                    {% if templateOptions.codeBlock or templateOptions.variantBlock -%}
                    <div class="g-component u-columns g-panel">

                        {% if templateOptions.codeBlock -%}
                        <div class="g-component__code-block u-columns__column--seven u-margin-top-x4 u-margin-bottom-x4">
                            <div class="u-flex-justify-center u-columns__column--twelve u-padding-x4">
                                <code class="g-component__code-block__code">
                                {% include templateOptions.codeBlock %}<!-- END: codeBlock -->
                                </code>
                            </div>
                        </div>
                        {%- endif %}
                        <!-- END: code block -->

                        {% if templateOptions.variantBlock -%}
                        <div class="g-componet__variant-block u-columns__column--five u-margin-top-x4 u-margin-bottom-x4 u-padding-x4 u-block">
                            {% include templateOptions.variantBlock %}
                        </div>
                        <!-- END: variant block -->
                        {%- endif %}

                    </div>
                    <!-- END: .g-component -->
                    {%- endif %}

                    
                    <div class="g-component u-columns u-block u-margin-top-x4 u-margin-bottom-x4">
                        {% if templateOptions.newComponentContentBlock -%}
                            <div class="g-component__preview-block u-flex-justify-center u-columns__column--twelve u-block g-panel">
                                {% if templateOptions.newComponentPreviewTitle -%}
                                    <h2 class="g-h3">
                                        {{ templateOptions.newComponentPreviewTitle }}<!-- END: newComponentPreviewTitle -->
                                    </h2>
                                {% endif -%}
                                
                                {% if templateOptions.newComponentContentBlock -%}
                                    <div class="u-flex-justify-center u-columns__column--twelve">
                                        {% include templateOptions.newComponentContentBlock %}<!-- END: newComponentContentBlock -->
                                    </div>
                                {% endif -%}

                                {% if templateOptions.captionBlock -%}
                                    <div class="g-component__caption-block u-flex-justify-center u-columns__column--twelve">
                                        {{ templateOptions.captionBlock }}<!-- END: captionBlock -->
                                    </div>
                                    <!-- END: caption block -->
                                {% endif -%}

                            </div>
                            <!-- END: preview block -->
                        {% endif -%}

                        {% if templateOptions.currentComponentContentBlock -%}
                            <div class="g-component__current-component-block u-flex-justify-center u-columns__column--twelve u-block g-panel">
                                {% if templateOptions.currentComponentPreviewTitle -%}
                                    <h2 class="g-h3">
                                        {{ templateOptions.currentComponentPreviewTitle }}<!-- END: currentComponentPreviewTitle -->
                                    </h2>
                                {% endif -%}
                                
                                {% if templateOptions.currentComponentContentBlock -%}
                                    <div class="u-flex-justify-center u-flex-column u-columns__column--twelve">
                                        {% include templateOptions.currentComponentContentBlock %}<!-- END: currentComponentContentBlock -->
                                    </div>
                                {% endif -%}

                            </div>
                            <!-- END: preview block -->
                        {% endif -%}
                    </div>
                    <!-- END: g-component -->
                    
                </div>

            </div>

        </div>
    </div>
</div>
    {% endblock %}
    <!-- END: fullWidthExampleContent -->
{% endblock%}
<!-- END: content -->

{% block footer %}
{% endblock %}

{% block foot %}
<script src="/assets/js/main.js"></script>
{% endblock %}