<!-- layout.html -->

{% import 'html/guide/macros/helpers.html' as helpers %}
{% import "html/templates/partials/pages-index.html" as pageindex %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <meta name="robots" content="nofollow" />

  {% block head %}
  <link rel="stylesheet" id="main" href="/assets/css/main-red.css">
  {% endblock %}

</head>
<body>
  {% block content %} {% endblock %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  {% block foot %}
  <script src="/assets/js/main.js"></script>
  {% endblock %}

</body>
</html>