// REM calculation
@function calc-rem($target) {
  @return ($target / $base_font-size) * $x1;
}

// Percent calculation
@function percent($target, $container) {
  @return ($target / $container) * 100%;
}

@function calc-width($multiplier, $value) {
  @return ($multiplier * $value) + 0px;
}

@function calc-width($multiplier, $value) {
  @return ($multiplier * $value) + 0px;
}

