{% import 'html/t7-live/macros/image.html' as imageMacros %} 
{% import 'html/t7-live/macros/icons.html' as iconMacros %}
{% import 'html/t7-live/components/tiles/macros.html' as tileMacros %}

{% macro moduleWrap(options) -%}
<section class='m-wrap'>
    <div class="m-wrap__card">
        <div class="m-wrap__inner">
            <div class="m-wrap__header">
                <h2 class="m-wrap__heading">{{options.heading}}</h2>
            </div>
            <div class="m-wrap__content">
                {{caller()}}
            </div>
            <!-- <div class="m-wrap__footer">
                <a href="" class="c-btn c-btn--primary-inverse">{{options.ctaText}}</a>
            </div> -->
        </div>
    </div>
</section>
{%- endmacro %}

{% macro editorialCardsBelt(options) -%}
    {% call moduleWrap(options) -%}
   
    <div class="u-columns -no-gutter m-editorial-card__wrap">
        {% for i in range(0, 3) -%}
        <div class="u-columns__column u-columns__column--four-s ">
            <div class="c-editorial-card">
                <a href="" class="c-editorial-card__link"></a>

                <div class="c-editorial-card__image-wrap u-aspect-three-by-two">
                    <div class="c-editorial-card__image" data-responsive-background-src data-src="{{options.tileImage}}"></div>
                </div>
                <div class="c-editorial-card__cta">
                    <h4 class="u-h4 c-editorial-card__heading ">{{options.cardTitle}}</h4>
                    <div class="c-btn c-btn--tertiary">Select {{ iconMacros.iconChevronRight(name='chevron-right', classes="c-icon--medium c-btn__icon") }}</div>
                </div>
            </div>
        </div>
        {%- endfor %}
    </div>
 
    {% endcall %}
{%- endmacro %}

{% macro editorialCardsBeltPopulated() -%}

    {% 
        set options = {
            heading:"Looking for the perfect bike for you?",
            ctaText: "Next: Choose Your style",
            tileImage: "/assets/images/test/editorial-card.jpg",
            cardTitle: "I want speed"
        }
    %}

    {{editorialCardsBelt(options)}}
{%- endmacro %}