{% macro productInfoTable(options) %}

    {% if options.sectionBgColor %}
    <section class="c-table u-grid-cols-{{ options.tableInfo | length }}-m" style="background: {{ options.sectionBgColor | safe }};">
    {% else %}
    <section class="c-table u-grid-cols-{{ options.tableInfo | length }}-m">
    {% endif %}

    {% for i in range(0, options.tableInfo | length) %}
        {% if options.containerBgColor %}
        <section class="c-table__table-container t-text--{{ options.theme | safe }}" style="background: {{ options.containerBgColor | safe }};">
        
        {% else %}
        <section class="c-table__table-container t-text--{{ options.theme | safe }}">
        {% endif %}
            <div class="c-table__header-container u-grid u-grid-cols-2">
                {% if options.tableInfo[i].heading %}
                    <h5 class="u-h5 c-table__heading">{{ options.tableInfo[i].heading | safe }}</h5>
                {% endif %}
            </div>

            {% if options.tableHeaderBorder %}
            <section class="c-table__row t-text--{{ options.tableInfo[i].theme | safe }}" style="border-top: {{ options.tableHeaderBorder.borderColor | safe }} {{ options.tableHeaderBorder.borderStyle | safe }} {{ options.tableHeaderBorder.borderWidth | safe }};">
            {% endif %}

                {% for e in range(0, options.tableInfo[i].row | length) %}
                <div class="c-table__row-inner u-grid u-grid-cols-2">
                    <div class="c-table__row-variation c-table__row-variation--label"><p class="u-p3">{{ options.tableInfo[i].row[e].variation | safe }}</p></div>
                    <div class="c-table__row-option"><p class="u-p3">{{ options.tableInfo[i].row[e].option | safe }}</p></div>
                </div>
                {% endfor %}

            </section>
        </section>
    {% endfor %}
    </section>
{% endmacro %}

{# POPULATE HEATER FAN TABLE #}
{% macro populateHeaterFanTable() %}
    {%
        set options = {
            sectionBgColor: "white",
            containerBgColor: "#929CB1",
            theme: "light",
            tableHeaderBorder: {
                borderColor: "#3A4150",
                borderWidth: "1rem",
                borderStyle: "solid"
            },

            tableInfo: [
                {
                    heading: "Room Type",
                    theme: "dark",
                    row: [
                        {
                            variation: "2000w",
                            option: "Small"
                        },
                        {
                            variation: "2400w",
                            option: "Small"
                        }
                    ]
                },
                {
                    heading: "Fixing Type",
                    theme: "dark",
                    row: [
                        {
                            variation: "2000w",
                            option: "Portable"
                        },
                        {
                            variation: "2400w",
                            option: "Portable"
                        }
                    ]
                },
                {
                    heading: "Cost Per Hour*",
                    theme: "dark",
                    row: [
                        {
                            variation: "2000w",
                            option: "56c"
                        },
                        {
                            variation: "2400w",
                            option: "68c"
                        }
                    ]
                },
                {
                    heading: "Cost Per Month*",
                    theme: "dark",
                    row: [
                        {
                            variation: "2000w",
                            option: "$38"
                        },
                        {
                            variation: "2400w",
                            option: "$46"
                        }
                    ]
                }
            ]
        }
    %}

    {# Call product info table #}
    {{ productInfoTable(options) }}
{% endmacro %}

{# POPULATE HEATER CERAMIC TABLE #}
{% macro populateHeaterCeramicTable() %}
    {%
        set options = {
            sectionBgColor: "white",
            containerBgColor: "#929CB1",
            theme: "light",
            tableHeaderBorder: {
                borderColor: "#3A4150",
                borderWidth: "1rem",
                borderStyle: "solid"
            },

            tableInfo: [
                {
                    heading: "Room Type",
                    theme: "dark",
                    row: [
                        {
                            variation: "1500w",
                            option: "Personal/Small"
                        },
                        {
                            variation: "2400w",
                            option: "Large"
                        }
                    ]
                },
                {
                    heading: "Fixing Type",
                    theme: "dark",
                    row: [
                        {
                            variation: "1500w",
                            option: "Portable"
                        },
                        {
                            variation: "2400w",
                            option: "Fixed/Portable"
                        }
                    ]
                },
                {
                    heading: "Cost Per Hour*",
                    theme: "dark",
                    row: [
                        {
                            variation: "2000w",
                            option: "42c"
                        },
                        {
                            variation: "2400w",
                            option: "68c"
                        }
                    ]
                },
                {
                    heading: "Cost Per Month*",
                    theme: "dark",
                    row: [
                        {
                            variation: "2000w",
                            option: "$29"
                        },
                        {
                            variation: "2400w",
                            option: "$46"
                        }
                    ]
                }
            ]
        }
    %}

    {# Call product info table #}
    {{ productInfoTable(options) }}
{% endmacro %}