
{% import 'html/t7-live/modules/cards-category/macros.html' as categoryMacros %}
{% import 'html/t7-live/modules/cards-product/macros-t7.html' as productMacros %}
{% import 'html/red/modules/promo/macros-twl.html' as promoMacros %}
{% import 'html/guide/macros/icons.html' as iconMacros %}
{% import 'html/guide/macros/module-wrap.html' as wrapMacros %}
{% import 'html/t7-live/macros/module-wrap.html' as wrapMacrosT7 %}
{% import 'html/guide/macros/guide.html' as guideMacros %}

{% macro productBelt() -%}
    <div class="m-product-belt">
        <div class="m-product-belt__inner">
        {% for i in range(0, 10) -%}
            <div class="c-card-product u-aspect-eight-by-nine u-bg-grey-light-80">
            </div>
        {%- endfor %}
        </div>
    </div>
{%- endmacro %}


<section class="g-display--red">

    {% call guideMacros.docsWrap() %}

        <h3 class="u-h4">Module wrap (only content)</h3>
    
    {% endcall %}
    
    {% 
        set options = {
            heading: "",
            wrapClasses: "",
            contentClasses: "",
            ctaText:""
        }
    %}
    {% call wrapMacros.moduleWrap(options) -%}
        {{productBelt()}}
    {% endcall %}

    {% call guideMacros.docsWrap() -%}

        <h3 class="u-h4">Module wrap (content only carded)</h3>

    {% endcall %}

    {% 
        set options = {
            heading: "",
            wrapClasses: "m-wrap--carded",
            contentClasses: "",
            ctaText:""
        }
    %}
    {% call wrapMacros.moduleWrap(options) -%}
        {{productBelt()}}
    {% endcall %}

    {% call guideMacros.docsWrap() -%}

    <h3 class="u-h4">Module wrap (content only carded with margin-bottom)</h3>

    {% endcall %}

    {% 
        set options = {
            contentClasses: "m-wrap__content--padding-bottom "
        }
    %}
    {% call wrapMacros.moduleWrapCarded(options) -%}
        {{productBelt()}}
    {% endcall %}

    {% call guideMacros.docsWrap() -%}

    <h3 class="u-h4">Module wrap (content only inset)</h3>

    {% endcall %}

    {% 
        set options = {
            contentClasses: "m-wrap__content--inset"
        }
    %}
    {% call wrapMacros.moduleWrapCarded(options) -%}
        {{productBelt()}}
    {% endcall %}


{% call guideMacros.docsWrap() -%}

<h3 class="u-h4">Module wrap (header & footer carded)</h3>

{% endcall %}

{% 
    set options = {
        heading: "The module heading",
        wrapClasses: "m-wrap--carded ",
        contentClasses: "",
        ctaText:"Shop Now",
        btnClasses: "c-btn--primary-inverse"
    }
%}
{% call wrapMacros.moduleWrap(options) -%}
    {{productBelt()}}
{% endcall %}


{% call guideMacros.docsWrap() -%}

        <h3 class="u-h4">Module header only (carded)</h3>

    {% endcall %}

    {% 
        set options = {
            heading: "The module heading",
            description: "This is the module description",
            wrapClasses: "m-wrap--carded ",
            contentClasses: "",
            ctaText:"Shop Now",
            btnClasses: "c-btn--primary-inverse"
        }
    %}
    {{ wrapMacros.moduleWrapHeader(options)}}

    {% call guideMacros.docsWrap() -%}

    <h3 class="u-h4">Module footer only (carded)</h3>

{% endcall %}

    {% 
        set options = {
            heading: "",
            wrapClasses: "m-wrap--carded",
            contentClasses: "",
            ctaText:"Shop Now",
            btnClasses: "c-btn--primary-inverse"
        }
    %}

    {{ wrapMacros.moduleWrapFooter(options)}}

</section>

<section class="g-display--t7">

    {% call guideMacros.docsWrap() -%}

        <h3 class="u-h4">Module wrap (only content)</h3>

    {%- endcall %}


        {% 
            set options = {
                heading: "",
                wrapClasses: "",
                contentClasses: "",
                ctaText:""
            }
        %}
        {% call wrapMacrosT7.moduleWrapT7(options) -%}
            {{productBelt()}}
        {% endcall %}



    {% call guideMacros.docsWrap() -%}

        <h3 class="u-h4">Module wrap (header & footer)</h3>

    {% endcall %}


        {% 
            set options = {
                heading: "The module heading",
                wrapClasses: "",
                contentClasses: "",
                ctaText:"Shop Now",
                btnClasses: "c-btn--primary-inverse"
            }
        %}
        {% call wrapMacrosT7.moduleWrapT7(options) -%}
            {{productBelt()}}
        {% endcall %}

    {% call guideMacros.docsWrap() -%}

        <h3 class="u-h4">Module wrap full width</h3>

    {% endcall %}


    {% 
        set options = {
            heading: "The module heading",
            wrapClasses: "m-wrap--full-width",
            contentClasses: "",
            ctaText:"Shop Now",
            btnClasses: "c-btn--primary-inverse"
        }
    %}
    {% call wrapMacrosT7.moduleWrapT7(options) -%}
        {{productBelt()}}
    {% endcall %}

    {% call guideMacros.docsWrap() -%}

     <h3 class="u-h4">Module wrap full bleed</h3>

    {% endcall %}


    {% 
        set options = {
            heading: "The module heading",
            wrapClasses: "m-wrap--full-bleed",
            contentClasses: "",
            ctaText:"Shop Now",
            btnClasses: "c-btn--primary-inverse"
        }
    %}
    {% call wrapMacrosT7.moduleWrapT7(options) -%}
        {{productBelt()}}
    {% endcall %}

    {% call guideMacros.docsWrap() -%}

        <h3 class="u-h4">Module header only</h3>

    {% endcall %}


    {% 
        set options = {
            heading: "The module heading",
            description: "This is the module description",
            wrapClasses: "",
            contentClasses: "",
            ctaText:"Shop Now",
            btnClasses: "c-btn--primary-inverse"
        }
    %}
    {{ wrapMacrosT7.moduleWrapHeaderT7(options)}}


    {% call guideMacros.docsWrap() -%}

        <h3 class="u-h4">Module footer only</h3>

    {% endcall %}

    {% 
        set options = {
            heading: "",
            wrapClasses: "",
            innerClasses: "",
            contentClasses: "",
            ctaText:"Shop Now",
            btnClasses: "c-btn--primary-inverse"
        }
    %}
    {{ wrapMacrosT7.moduleWrapFooterT7(options)}}

    

    

</section>
