{% import 'html/guide/macros/icons.html' as iconMacros %}
{% import 'html/guide/macros/module.html' as moduleMacros %}

<div class="g-display--red">
    <div class="u-block u-margin-bottom-x10 u-margin-right-x10 u-columns__column--six">
        <a href="#" type="submit" class="c-btn c-btn--primary-inverse u-margin-bottom-x6">Core UI Kit</a>
        <p class="u-p3">The core UI kit is a shared library that provides the brand styleguide and base elements for designing.
        <br />Styleguide includes: Color, Typography, Spacing, Aspect ratios, Image sizes
        <br />Elements include: Buttons, Form fields</p>
    </div>
    <div class="u-block u-margin-bottom-x10 u-margin-right-x10 u-columns__column--six">
        <a href="#" type="submit" class="c-btn c-btn--primary-inverse u-margin-bottom-x6">Breakpoint templates Kit</a>
        <p class="u-p3">This UI kit is a file that includes all breakpoints we design for and the grid layouts for each artboard. This includes:<br />
        Mobile (320), Large Mobile (375), Tablet Portrait (768), Tablet landscape (1024), Small Desktop (1600), large Desktop (1920)</p>
    </div>
    <!-- <div class="u-block u-margin-bottom-x10 u-margin-right-x10 u-columns__column--six">
        <a href="#" type="submit" class="c-btn c-btn--primary-inverse u-margin-bottom-x6">Home & Category Modules UI Kit</a>
        <p class="u-p3">This UI kit is a shared library that includes all modules and components for re-use across the following templates:<br />
        Home page, Category Landing Page, Brand Page, Campaign Page</p>
    </div> -->
    <!-- <div class="u-block u-margin-bottom-x10 u-margin-right-x10 u-columns__column--six">
        <a href="#" type="submit" class="c-btn c-btn--primary-inverse u-margin-bottom-x6">Header & Footer UI Kit</a>
        <p class="u-p3">This UI kit is a shared library that includes all modules and components within the header and footer. this includes:<br />
        Header (for each breakpoint), Mobile Menu (levels 1- 3), Sticky header (across breakpoints), Desktop Mega Menu (and states), Search overlay, Mini Cart overlay</p>
    </div> -->
    <!-- <div class="u-block u-margin-bottom-x10 u-margin-right-x10 u-columns__column--six">
        <a href="#" type="submit" class="c-btn c-btn--primary-inverse u-margin-bottom-x6">Homepage Design</a>
        <p class="u-p3">This includes artboards for Mobile & Desktop
        </p>
    </div> -->

    <!-- <div class="u-block u-margin-bottom-x10 u-margin-right-x10 u-columns__column--six">
        <a href="#" type="submit" class="c-btn c-btn--primary-inverse u-margin-bottom-x6">Checkout Flow</a>
        <p class="u-p3">This includes artboards for the full flow from cart to purchase confirmation.
        </p>
    </div> -->

</div>

<div class="g-display--t7">
    <div class="u-block u-margin-bottom-x10 u-margin-right-x10 u-columns__column--six">
        <a href="https://drive.google.com/open?id=1UeRv8KP4ne0d81fvCCC0dVIcB5P-D5GR" target="_blank" type="submit" class="c-btn c-btn--primary-inverse u-margin-bottom-x6">Core UI Kit</a>
        <p class="u-p3">The core UI kit is a shared library that provides the brand styleguide and base elements for designing.
        <br />Styleguide includes: Color, Typography, Spacing, Aspect ratios, Image sizes
        <br />Elements include: Buttons, Form fields</p>
    </div>
    <!-- <div class="u-block u-margin-bottom-x10 u-margin-right-x10 u-columns__column--six">
        <a href="#" type="submit" class="c-btn c-btn--primary-inverse u-margin-bottom-x6">Breakpoint templates Kit</a>
        <p class="u-p3">This UI kit is a file that includes all breakpoints we design for and the grid layouts for each artboard. This includes:<br />
        Mobile (320), Large Mobile (375), Tablet Portrait (768), Tablet landscape (1024), Small Desktop (1600), large Desktop (1920)</p>
    </div> -->
    
    <div class="u-block u-margin-bottom-x10 u-margin-right-x10 u-columns__column--six">
        <a href="https://drive.google.com/open?id=1Zv9h8Xox_d_O6CjchpGNEjlyXxxefvxy" target="_blank" ype="submit" class="c-btn c-btn--primary-inverse u-margin-bottom-x6">Homepage Design</a>
        <p class="u-p3">This includes artboards for Mobile & Desktop
        </p>
    </div>
    <div class="u-block u-margin-bottom-x10 u-margin-right-x10 u-columns__column--six">
        <a href="https://drive.google.com/open?id=1VONnmh-ftuyvpxVs2ytlP5HG_oAvg9We" target="_blank" type="submit" class="c-btn c-btn--primary-inverse u-margin-bottom-x6">CLP Design</a>
        <p class="u-p3">This includes artboards for Mobile & Desktop
        </p>
    </div>
    
    <div class="u-block u-margin-bottom-x10 u-margin-right-x10 u-columns__column--six">
        <a href="https://drive.google.com/open?id=12KwW32CCC91m13Rrdpj-7V3o3EiHiyqf" target="_blank" type="submit" class="c-btn c-btn--primary-inverse u-margin-bottom-x6">PLP Design</a>
        <p class="u-p3">This includes artboards for Mobile & Desktop
        </p>
    </div>
    <!-- <div class="u-block u-margin-bottom-x10 u-margin-right-x10 u-columns__column--six">
        <a href="https://share.goabstract.com/e5cbb200-8dbb-41ff-b240-1d859ab5f538" target="_blank" type="submit" class="c-btn c-btn--primary-inverse u-margin-bottom-x6">Checkout Flow</a>
        <p class="u-p3">This includes artboards for the full flow from cart to purchase confirmation.
        </p>
    </div> -->

</div>
