//
// -------------------------------------
// 	Page: Components
// -------------------------------------
//
//

$name     : g-component;
$selector : ".#{$name}";


//
// -------------------------------------
// 	Selectors
// -------------------------------------
//

// main
#{$selector} {
    
    border-bottom: 1px solid #ccc;




    /*-----------------------------------*\
        GENERAL TYPOGRAPHY
    \*-----------------------------------*/

    h2 {
        font-family: "MontrealSerial-Regular", sans-serif;
        font-weight: 100;
        font-size: 2rem;
        color: #444;
        margin-bottom: 0;
    }





    /*-----------------------------------*\
        CODE BLOCK STYLES
    \*-----------------------------------*/

    &__code-block {
        border-right: 1px solid #ccc;





        /*-----------------------------------*\
            CODE CONTAINER STYLES
        \*-----------------------------------*/

        &__code-container {
            width: 100%;
        }
    }




    /*-----------------------------------*\
        VARIANT BLOCK STYLES
    \*-----------------------------------*/

    &__variant-block {
        
    }




    /*-----------------------------------*\
        VARIANT CONTAINER STYLES
    \*-----------------------------------*/

    .variant-container {
        width: 100%;
        margin-top: 2rem;





        /*-----------------------------------*\
            VARIANT INPUT STYLES
        \*-----------------------------------*/

        &__input {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            border: 1px solid red;
            margin: 0 2rem .5rem 0;
        }
    }

}