//
// -------------------------------------
// 	Page: Component
// -------------------------------------
//
//

$name     : g-component;
$selector : ".#{$name}";


//
// -------------------------------------
// 	Selectors
// -------------------------------------
//

// main
#{$selector} {

  padding: 3rem 0;





  /*-----------------------------------*\
    COMPONENT CONTAINER
  \*-----------------------------------*/

  &__container {
    margin-bottom: 3rem;
    padding: 3rem 0;
    border-top: 1px solid $color-grey-light-20;;

    &:nth-of-type(1) {
      border-top: none;
    }
  }






  /*-----------------------------------*\
    CODE BLOCK
  \*-----------------------------------*/

  &__code-block {
    border-right: 1px solid #ccc;





    /*----------------------------------\
      CODE ELEMENT
    \*---------------------------------*/

    &__code {
      white-space: initial;
    }
  }





  /*-----------------------------------*\
    VARIANT BLOCK
  \*-----------------------------------*/

  &__variant-block {

  }

}