//
// -------------------------------------
// 	Page: Styleguide
// -------------------------------------
//
//

$name     : g-styleguide;
$selector : ".#{$name}";


//
// -------------------------------------
// 	Selectors
// -------------------------------------
//

// main
#{$selector} {

  margin-top: 3rem;





  /*-----------------------------------*\
    TYPOGRAPHY: STYLEGUIDE SECTION HEADING
  \*-----------------------------------*/
  .section-header {
    font-size: $g-header-font-size-p4;
    font-weight: $font-weight-regular;
    letter-spacing: 1px;
    color: #b6b6b6;
    text-transform: uppercase;
  }





  /*-----------------------------------*\
    STYLEGUIDE CONTAINER
  \*-----------------------------------*/

  &__container {
    margin-bottom: 1rem;
    padding: 1rem 0;
    border-top: 1px solid $color-grey-light-20;;

    &:nth-of-type(1) {
      border-top: none;
    }
  }


  //
  // -------------------------------------
  // 	COLOUR PALETTE PAGE STYLES
  // -------------------------------------
  //

 





  //
  // -------------------------------------
  // 	GRID SYSTEM PAGE STYLES
  // -------------------------------------
  //

  .grid-system {





    /*-----------------------------------*\
      GRID SYSTEM BAR
    \*-----------------------------------*/

    &__bar {
      background-color: #eee;
      margin: 1rem 0;
      padding: 1rem;
    }
  }

}