{% import 'html/t7-live/macros/image.html' as imageMacros %} 
{% import 'html/t7-live/macros/icons.html' as iconMacros %}
{% import 'html/t7-live/components/tiles/macros.html' as tileMacros %}

{% macro cartCTA(options) -%}
<div class="m-cta-cart">
    <div class="m-cta-cart__row m-cta-cart__row--heading">
        <h5 class="u-h5">Delivery Method</h5>
        <a class="c-btn c-btn--link-secondary m-cta-cart__heading-link" href="#">Details</a>
    </div>
    <div class="m-cta-cart__row m-cta-cart__row--radio">
        <div class="u-columns">
            <div class="u-columns__column u-columns__column--eight">
                <div class="c-form-field__wrap">
                    <div class="c-form-field c-form-field--radio js-form-field">
                        <label class="c-form-field__label c-form-field__label--radio" for="hewey1">Deliver to Door</label>
                        <input type="radio" id="hewey1" class="c-form-field__radio" name="radiogroup" />
                        <i class="c-form-field__icon-wrap c-form-field__icon-wrap--radio">{{ iconMacros.iconRadioCheck(classes="c-form-field__radio-icon") }}</i>
                    </div>
                    <div class="c-form-field__help c-form-field__help--radio">Estimated delivery by 24 May – 27 May</div>
                </div>
            </div>
            <div class="u-columns__column u-columns__column--four m-cta-cart__value">
                $30 - $50
            </div>
        </div>
        
    </div>
    <div class="m-cta-cart__row m-cta-cart__row--radio">
        <div class="u-columns">
            <div class="u-columns__column u-columns__column--eight">
                <div class="c-form-field__wrap">
                    <div class="c-form-field c-form-field--radio js-form-field">
                        <label class="c-form-field__label c-form-field__label--radio" for="hewey2">Click & Collect</label>
                        <input type="radio" id="hewey2" class="c-form-field__radio" name="radiogroup" />
                        <i class="c-form-field__icon-wrap c-form-field__icon-wrap--radio">{{ iconMacros.iconRadioCheck(classes="c-form-field__radio-icon") }}</i>
                    </div>
                    <div class="c-form-field__help c-form-field__help--radio">4 hour Click & Collect available at selected stores</div>
                </div>
            </div>
            <div class="u-columns__column u-columns__column--four m-cta-cart__value">Free</div>
        </div>
    </div>
    <div class="m-cta-cart__row m-cta-cart__row--heading">
        <h5 class="u-h5">Add Promo or Gift Code </h5>
    </div>
    <div class="m-cta-cart__row">
        <div class="c-form-field__wrap">
            <div class="c-form-field c-form-field--input c-form-field--stacked m-cta-cart__promo">
                <label class="c-form-field__label c-form-field__label--stacked" for="name">Name</label>
                <input type="text" class="c-form-field__input js-form-input" name="email" id="name" required=""  />
                <i class="c-form-field__icon">{{ iconMacros.iconExpand(classes="c-icon") }}</i>
            </div>
        </div>
    </div>
    <div class="m-cta-cart__row m-cta-cart__row--heading">
        <h5 class="u-h5">Price Details</h5>
    </div>
    <div class="m-cta-cart__row m-cta-cart__row--pricing">
        <div class="m-cta-cart__price-row">
            <div class="m-cta-cart__label">
                Subtotal
            </div>
            <div class="m-cta-cart__value">
                $8,000.00
            </div>
        </div>
        <div class="m-cta-cart__price-row">
            <div class="m-cta-cart__label">
                Click & Collect
            </div>
            <div class="m-cta-cart__value">
                Free
            </div>
        </div>
        <div class="m-cta-cart__price-row --discount">
            <div class="m-cta-cart__label m-cta-cart__label--discount">
                Discount
            </div>
            <div class="m-cta-cart__value m-cta-cart__value--discount">
                -20.00
            </div>
        </div>
        <div class="m-cta-cart__price-row ">
            <div class="m-cta-cart__label m-cta-cart__label--total">
                Total
            </div>
            <div class="m-cta-cart__value m-cta-cart__label--total">
                $8,000.00
            </div>
        </div>
    </div>
    <div class="m-cta-cart__row m-cta-cart__row--btns">
        <button class="c-btn c-btn--primary m-cta-cart__primary-btn">Proceed to Checkout</button>
        <button class="c-btn c-btn--primary-inverse">Continue Shopping</button>
    </div>
</div>
{%- endmacro %}

{% macro cartRowT7(options) -%}
    <div class="m-cart-row {{options.rowClasses}}">
        <div class="m-cart-row__product">
            <div class="c-card-cart">
                <div class="c-card-cart__image">
                        <img src="{{options.image}}" />
                </div>
                <div class="m-cart-row__details">
                    <h6 class="u-h5 u-regular">{{options.title}}</h6>
                    <div class="m-cart-row__code">K2SBSW7RY</div>
                    <div class="m-cart-row__variant">Colour: Black</div>
                    <div class="m-cart-row__variant">Size: 153cm</div>
                    <button class="c-btn c-btn--link">Add to Wishlist</button>
                </div>
            </div>
        </div>
        
        <div class="m-cart-row__qty">
            <img src="/assets/images/test/cart-qty-dropdown.jpg" />
        </div>
        
        <div class="m-cart-row__total">
            <img src="/assets/images/test/card-cart-total.jpg" />
        </div>
        <button class="c-btn c-btn--link m-cart-row__remove-btn">{{ iconMacros.iconClose(classes="c-icon") }}</button>
    </div>
    
{%- endmacro %}

{% macro cartRowT7Populated(rowClasses) -%}

    {% 
        set options = {
            title:"Liv 2018 Road Bike Vall-E+ 1 Pro - 27.5 E-Bike",
            image: "/assets/images/test/card-cart.jpg",
            rowClasses: rowClasses
        }
    %}

    {{cartRowT7(options)}}

{%- endmacro %}

