   
   
<h3 class="u-h3 u-margin-bottom-x2">Breakpoints:</h3>
<ul>
    <li>$media-min              				: > 320px;</li>
    <li>$media-m                				: > 768px;</li>
    <li>$media-l              					: > 988px;</li>
    <li>$media-xl                				: > 1320px;</li>
    <li>$media-xxl               				: > 1680px;</li>
</ul>
    
<section class="module u-margin-bottom">
        <div class="module__header -padded u-centered">
            <p>12 columns</p>
        </div>
    
        <div class="module__content -padded">
            <div class="u-columns">
                <div class="u-columns__column u-columns__column--one">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one ">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one ">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one ">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one ">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one ">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one ">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one ">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one ">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one ">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one ">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one ">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    
    <section class="module u-margin-bottom">
        <div class="module__header -padded u-centered">
            <p>6 columns</p>
        </div>
    
        <div class="module__content -padded">
    
            <div class="u-columns">
    
                <div class="u-columns__column u-columns__column--two">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">2 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--two">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">2 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--two">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">2 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--two">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">2 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--two">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">2 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--two">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">2 / 12</p>
                    </div>
                </div>
    
            </div>
    
        </div>
    
    </section>

    <section class="module u-margin-bottom">
            <div class="module__header -padded u-centered">
                <p>4 columns</p>
            </div>
        
            <div class="module__content -padded">
        
                <div class="u-columns">
        
                    <div class="u-columns__column u-columns__column--three">
                        <div class="g-box u-aspect-two-by-one">
                            <p class="">3 / 12</p>
                        </div>
                    </div>
                    <div class="u-columns__column u-columns__column--three">
                        <div class="g-box u-aspect-two-by-one">
                            <p class="">3 / 12</p>
                        </div>
                    </div>
                    <div class="u-columns__column u-columns__column--three">
                        <div class="g-box u-aspect-two-by-one">
                            <p class="">3 / 12</p>
                        </div>
                    </div>
                    <div class="u-columns__column u-columns__column--three">
                        <div class="g-box u-aspect-two-by-one">
                            <p class="">3 / 12</p>
                        </div>
                    </div>
        
                </div>
        
            </div>
        
        </section>
    
    
    <section class="module u-margin-bottom">
        <div class="module__header -padded u-centered">
            <p>3 columns</p>
        </div>
    
        <div class="module__content -padded">
    
            <div class="u-columns">
    
                <div class="u-columns__column u-columns__column--four">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">4 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--four">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">4 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--four">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">4 / 12</p>
                    </div>
                </div>
    
            </div>
    
        </div>
    
    </section>
    
    
    
    <section class="module u-margin-bottom">
        <div class="module__header -padded u-centered">
            <p>2 columns</p>
        </div>
    
        <div class="module__content -padded">
    
            <div class="u-columns">
    
                <div class="u-columns__column u-columns__column--six">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">6 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--six">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">6 / 12</p>
                    </div>
                </div>
    
            </div>
    
        </div>
    
    </section>
    
    
    
    <section class="module u-margin-bottom-x4">
        <div class="module__header -padded u-centered">
            <p>1 columns</p>
        </div>
    
        <div class="module__content -padded">
    
            <div class="u-columns">
    
                <div class="u-columns__column">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">12 / 12</p>
                    </div>
                </div>
                
            </div>
    
        </div>
    
    </section>
    
    <section class="module u-margin-bottom-x4">
        <div class="module__header -padded u-centered">
            <p>No gutter</p>
        </div>
    
        <div class="module__content -padded">
            <div class="u-columns u-columns--no-gutter">
                <div class="u-columns__column u-columns__column--one">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one ">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one ">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one ">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one ">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one ">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one ">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one ">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one ">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one ">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one ">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one ">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 12</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="module u-margin-bottom">
        <div class="module__header -padded u-centered u-margin-bottom">
            <h3 class="u-h4">Media Queries</h3>
            <p>s:1 | m:3 | l:12</p>
        </div>
    
        <div class="module__content -padded">
            <div class="u-columns">
                <div class="u-columns__column u-columns__column--six u-columns__column--four-m u-columns__column--three-l u-columns__column--two-xl">
                    <div class="g-box u-aspect-two-by-one u-block u-centered">
                    </div>
                </div>
                
                <div class="u-columns__column u-columns__column--six u-columns__column--four-m u-columns__column--three-l u-columns__column--two-xl">
                    <div class="g-box u-aspect-two-by-one u-block u-centered">
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--six u-columns__column--four-m u-columns__column--three-l u-columns__column--two-xl">
                    <div class="g-box u-aspect-two-by-one u-block u-centered">
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--six u-columns__column--four-m u-columns__column--three-l u-columns__column--two-xl">
                    <div class="g-box u-aspect-two-by-one u-block u-centered">
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--six u-columns__column--four-m u-columns__column--three-l u-columns__column--two-xl">
                    <div class="g-box u-aspect-two-by-one u-block u-centered">
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--six u-columns__column--four-m u-columns__column--three-l u-columns__column--two-xl">
                    <div class="g-box u-aspect-two-by-one u-block u-centered">
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    <section class="module u-margin-bottom">
        <div class="module__header -padded u-centered u-margin-bottom">
            <p>8 columns</p>
        </div>
    
        <div class="module__content -padded">
            <div class="u-columns u-columns--eight">
                <div class="u-columns__column u-columns__column--one">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 8</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 8</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 8</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 8</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 8</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 8</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 8</p>
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--one">
                    <div class="g-box u-aspect-two-by-one">
                        <p class="">1 / 8</p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    
    
    