


{% macro pageModuleWrap(options) -%}
<section class='m-wrap m-wrap--carded m-wrap--stacked'>
    <div class="m-wrap__card">
        <div class="m-wrap__inner">
            <div class="m-wrap__content">
                {{caller()}}
            </div>
        </div>
    </div>
</section>
{%- endmacro %}

{% macro demoBlock(options) -%}
<div class="u-margin-bottom-x4 u-padding-bottom-x4">
    <h2 class="{{options.textClass}}">{{options.textName}}</h2>
    <p class="u-margin-top-x4">
        Use: {{options.use}}
    </p>
    <p>
        Font Family: {{options.fontFamily}}
    </p>
    <p class="">
        Font-weight: {{options.weight}}
    </p>
    {% if options.fontSize %}<p class="">
        Font-size: {{options.fontSize}}
    </p>{% endif %}
    {% if options.mobile %}<p class="">
        Font-size (mobile & up): {{options.mobile}}
    </p>{% endif %}
    {% if options.tablet %}<p class="">
        Font-size (tablet portrait & up): {{options.tablet}}
    </p>{% endif %}
    {% if options.desktop %}<p class="">
        Font-size (tablet landscape & up): {{options.desktop}}
    </p>{% endif %}
    <p class="">
        Line-height: {{options.lineHeight}}
    </p>
    <p class="">
        Letter-spacing {{options.letterSpacing}}
    </p>

</div>
{%- endmacro %}


<!-- <div class="u-margin-bottom-x10">
    <h3 class="u-h3 u-margin-bottom-x2">Breakpoints:</h3>
    <ul>
        <li>(Mobile) $media-min              				: > 0;</li>
        <li>(Tablet portrait) $media-m                		: > 768px;</li>
        <li>(Tablet landscape) $media-l              		: > 988px;</li>
        <li>(Small Desktop) $media-xl                		: > 1320px;</li>
        <li>(large Desktop) $media-xxl               		: > 1680px;</li>
    </ul>
</div> -->

    <!-- Headings -->
    <div class=" u-columns">
        <div class="u-margin-top-x4 u-padding-bottom-x4 u-block u-columns__column--twelve">
            <div class="g-display--t7">
            {% 
                set options = {
                    textName:"Heading XXXL",
                    textClass: "u-xxxl u-script",
                    mobile: "80px (20rem)",
                    tablet: "100px (25rem)",
                    desktop: "148px (37rem)",
                    fontFamily: "Permanent Marker",
                    weight: "Normal",
                    lineHeight: "1",
                    letterSpacing: "-3.6px",
                    use: "T7 Category Banner Heading"
                }
            %}
            {{demoBlock(options)}}
            </div>
            <div class="g-display--t7">
                {% 
                    set options = {
                        textName:"Heading XXL",
                        textClass: "u-xxl u-script",
                        mobile: "40px (10rem)",
                        tablet: "56px (14rem)",
                        desktop: "80px (20rem)",
                        fontFamily: "Permanent Marker",
                        weight: "Normal",
                        lineHeight: "1",
                        letterSpacing: "0.5",
                        use: "Hero Banner Heading"
                    }
                %}
                {{demoBlock(options)}}
            </div>
            <div class="g-display--red u-bg-white">
                {% 
                    set options = {
                        textName:"Heading XXL",
                        textClass: "u-xxl u-script",
                        mobile: "40px (10rem)",
                        tablet: "56px (14rem)",
                        desktop: "80px (20rem)",
                        fontFamily: "Montreal Serial",
                        weight: "Bold",
                        lineHeight: "1",
                        letterSpacing: "0.5",
                        use: "Hero Banner Heading"
                    }
                %}
                {{demoBlock(options)}}
            </div>

            <div class="g-display--t7">
            {% 
                set options = {
                    textName:"Heading XL",
                    textClass: "u-xl",
                    mobile: "32px (8rem)",
                    desktop: "56px (14rem)",
                    fontFamily: "Montreal Serial / Roboto",
                    weight: "Bold",
                    lineHeight: "1.1",
                    letterSpacing: "0.5",
                    use: "T7 Promo Large Tile Heading"
                }
            %}
            {{demoBlock(options)}}
            </div>  

            <div class=" u-columns">
                <div class="u-columns__column u-columns__column--four">
                    {% 
                        set options = {
                            textName:"Heading H1",
                            textClass: "u-h1",
                            mobile: "32px (8rem)",
                            desktop: "40px (10rem)",
                            fontFamily: "Roboto",
                            weight: "Regular",
                            lineHeight: "1.1",
                            letterSpacing: "0.5",
                            use: "T7 Large Promo Tile Headings"
                        }
                    %}
                    {{demoBlock(options)}}
                </div>
                <div class="u-columns__column u-columns__column--four g-display--t7">
                    {% 
                        set options = {
                            textName:"Heading H1 Script",
                            textClass: "u-h1 u-script",
                            mobile: "32px (8rem)",
                            desktop: "40px (10rem)",
                            fontFamily: "Permanent Marker",
                            weight: "Normal",
                            lineHeight: "1.1",
                            letterSpacing: "0.5",
                            use: "Category Tile Headings"
                        }
                    %}
                    {{demoBlock(options)}}
                </div>
            </div>
            <div class="g-display--t7">
                {% 
                    set options = {
                        textName:"Heading H2",
                        textClass: "u-h2",
                        mobile: "24px (6rem)",
                        desktop: "32px (8rem)",
                        fontFamily: "Roboto",
                        weight: "Bold",
                        lineHeight: "1.1",
                        letterSpacing: "0.5",
                        use: "Checkout / Cart template headings"
                    }
                %}
                {{demoBlock(options)}}
            </div>
            <div class="g-display--red u-bg-white">
                {% 
                    set options = {
                        textName:"Heading H2",
                        textClass: "u-h2",
                        mobile: "24px (6rem)",
                        desktop: "32px (8rem)",
                        fontFamily: "Montreal Serial / Roboto",
                        weight: "Bold",
                        lineHeight: "1.1",
                        letterSpacing: "0.5",
                        use: "Inspiration module headings, smaller tile headings, Checkout / Cart template headings"
                    }
                %}
                {{demoBlock(options)}}
            </div>
            
            <div class=" u-columns g-display--t7">
                <div class="u-columns__column u-columns__column--four">
                    {% 
                        set options = {
                            textName:"Heading H3",
                            textClass: "u-h3",
                            fontSize: "20px (5rem)",
                            fontFamily: "Montreal Serial / Roboto",
                            weight: "Bold",
                            lineHeight: "1.15",
                            letterSpacing: "0.5",
                            use: "Editorial Card Headings"
                        }
                    %}
                    {{demoBlock(options)}}
                </div>
                <div class="u-columns__column u-columns__column--four ">
                    {% 
                        set options = {
                            textName:"Heading H3 - Regular, Uppercase",
                            textClass: "u-h3 u-regular u-uppercase",
                            fontSize: "20px (5rem)",
                            fontFamily: "Montreal Serial / Roboto",
                            weight: "Regular",
                            lineHeight: "1.15",
                            letterSpacing: "0.5",
                            use: "Standard Module headings"
                        }
                    %}
                    {{demoBlock(options)}}
                </div>
            </div>

            <div class="g-display--red u-bg-white">
            {% 
                set options = {
                    textName:"Heading H3",
                    textClass: "u-h3",
                    fontSize: "20px (5rem)",
                    fontFamily: "Montreal Serial / Roboto",
                    weight: "Bold",
                    lineHeight: "1.15",
                    letterSpacing: "0.5",
                    use: "Standard Module headings"
                }
            %}
            {{demoBlock(options)}}
            </div>

            <div class=" u-columns">
                <div class="u-columns__column u-columns__column--four">
                    {% 
                        set options = {
                            textName:"Heading H4",
                            textClass: "u-h4",
                            mobile: "16px (3.25rem)",
                            desktop: "18px (4.5rem)",
                            fontFamily: "Montreal Serial / Roboto",
                            weight: "Bold",
                            lineHeight: "1.15",
                            letterSpacing: "0.5",
                            use: "Utility headings (e.g. cart, checkout panels), Content Headings"
                        }
                    %}
                    {{demoBlock(options)}}
                </div>
                <div class="u-columns__column u-columns__column--four ">
                    {% 
                        set options = {
                            textName:"Heading H4 Regular",
                            textClass: "u-h4 u-regular",
                            mobile: "16px (3.25rem)",
                            desktop: "18px (4.5rem)",
                            fontFamily: "Montreal Serial / Roboto",
                            weight: "Regular",
                            lineHeight: "1.15",
                            letterSpacing: "0.5",
                            use: "Product Card Headings, Promo tile sub heading"
                        }
                    %}
                    {{demoBlock(options)}}
                </div>
            </div>
            
 
            {% 
                set options = {
                    textName:"Heading H5",
                    textClass: "u-h5",
                    mobile: "12px (3rem)",
                    desktop: " 16px (4rem)",
                    fontFamily: "Montreal Serial / Roboto",
                    weight: "Regular",
                    lineHeight: "1.25",
                    letterSpacing: "1",
                    use: "Utility small headings, Content Sub-Headings, Red category belt headings"
                }
            %}
            {{demoBlock(options)}}


            {% 
                set options = {
                    textName:"Heading H6",
                    textClass: "u-h6",
                    mobile: "12px (3rem)",
                    desktop: " 14px (3.5rem)",
                    fontFamily: "Montreal Serial / Roboto",
                    weight: "Bold",
                    lineHeight: "1.25",
                    letterSpacing: "1px",
                    use: "Not sure if we need this heading yet..."
                }
            %}
            {{demoBlock(options)}}

            {% 
                set options = {
                    textName:"Heading H7",
                    textClass: "u-h7",
                    fontSize: "12px (3rem)",
                    fontFamily: "Montreal Serial / Roboto / Arial",
                    weight: "Bold",
                    lineHeight: "1",
                    letterSpacing: "1px",
                    use: "Used for tiny captions such as card brand heading, filters applied filters sub text."
                }
            %}
            {{demoBlock(options)}}

        </div>

        <div class="u-padding-bottom-x4 u-margin-top-x4 u-columns__column--six u-block u-margin-right-x10">
            
            {% 
                set options = {
                    textName:"Paragraph P1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum auctor sem sollicitudin ornare. Maecenas turpis neque, pellentesque vel viverra nec, volutpat in risus. Cras porta, metus sit amet volutpat ullamcorper, purus arcu laoreet elit, id tempor ex nibh eget libero. Aenean est ligula, lacinia in nulla in, bibendum eleifend risus. Praesent pretium vitae turpis in euismod. Aliquam sit amet ultricies nulla. Proin suscipit ligula felis, vitae venenatis ex sagittis vitae. Fusce ut consequat libero.",
                    textClass: "u-p1",
                    mobile: "16px (4rem)",
                    desktop: " 18px (4.5rem)",
                    fontFamily: "Montreal Serial / Roboto",
                    weight: "Regular",
                    lineHeight: "1.25",
                    letterSpacing: "1",
                    use: "Deal belt copy, hero tile copy"
                }
            %}
            {{demoBlock(options)}}

            {% 
                set options = {
                    textName:"Paragraph P2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum auctor sem sollicitudin ornare. Maecenas turpis neque, pellentesque vel viverra nec, volutpat in risus. Cras porta, metus sit amet volutpat ullamcorper, purus arcu laoreet elit, id tempor ex nibh eget libero. Aenean est ligula, lacinia in nulla in, bibendum eleifend risus. Praesent pretium vitae turpis in euismod. Aliquam sit amet ultricies nulla. Proin suscipit ligula felis, vitae venenatis ex sagittis vitae. Fusce ut consequat libero.",
                    textClass: "u-p2",
                    mobile: "14px (4rem)",
                    desktop: " 16px (3.5rem)",
                    fontFamily: "Montreal Serial / Roboto",
                    weight: "Regular",
                    lineHeight: "1.25",
                    letterSpacing: "1",
                    use: "Inspiration module copy"
                }
            %}
            {{demoBlock(options)}}

            {% 
                set options = {
                    textName:"Paragraph P3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum auctor sem sollicitudin ornare. Maecenas turpis neque, pellentesque vel viverra nec, volutpat in risus. Cras porta, metus sit amet volutpat ullamcorper, purus arcu laoreet elit, id tempor ex nibh eget libero. Aenean est ligula, lacinia in nulla in, bibendum eleifend risus. Praesent pretium vitae turpis in euismod. Aliquam sit amet ultricies nulla. Proin suscipit ligula felis, vitae venenatis ex sagittis vitae. Fusce ut consequat libero.",
                    textClass: "u-p3",
                    mobile: "12px (3rem)",
                    desktop: " 14px (3.5rem)",
                    fontFamily: "Montreal Serial / Roboto",
                    weight: "Regular",
                    lineHeight: "1.25",
                    letterSpacing: "1",
                    use: "General body copy, product tile heading"
                }
            %}
            {{demoBlock(options)}}
        </div>
            <!--<div class="u-flex u-flex-column u-margin-bottom-x4 u-padding-bottom-x4 u-columns__column--five">
                {% 
                    set options = {
                        textName:"Price L $432.50",
                        textClass: "u-price1",
                        fontSize: "16px (4rem) | 24px (6rem)",
                        fontFamily: "Montreal Serial / Roboto",
                        weight: "Bold",
                        lineHeight: "1.25",
                        letterSpacing: "1",
                        use: "Large prices displayed in deals belt large tiles"
                    }
                %}
                {{demoBlock(options)}}

                {% 
                    set options = {
                        textName:"Price M $432.50",
                        textClass: "u-price2",
                        fontSize: "14px (3.5rem)",
                        fontFamily: "Montreal Serial / Roboto",
                        weight: "Bold",
                        lineHeight: "1.25",
                        letterSpacing: "1",
                        use: "Standard prices"
                    }
                %}
                {{demoBlock(options)}}

                {% 
                    set options = {
                        textName:"Price S $432.50",
                        textClass: "u-price3",
                        fontSize: "14px (3.5rem)",
                        fontFamily: "Montreal Serial / Roboto",
                        weight: "Regular",
                        lineHeight: "1.25",
                        letterSpacing: "1",
                        use: "Strike out prices"
                    }
                %}
                {{demoBlock(options)}}

            </div> -->
        </div>
    </div>

</section>
