

{% import 'html/red/modules/hero/macros.html' as heroMacros %}
{% import 'html/t7-live/modules/cards-category/macros.html' as categoryMacros %}
{% import 'html/red/modules/cards-product/macros.html' as productMacros %}
{% import 'html/red/modules/promo/macros-twl.html' as promoMacros %}
{% import 'html/guide/macros/icons.html' as iconMacros %}
{% import 'html/guide/macros/guide.html' as guideMacros %}


{% macro pageModuleWrap(options) -%}
<section class='m-wrap m-wrap--carded m-wrap--stacked'>
    <div class="m-wrap__card">
        <div class="m-wrap__inner">
            <div class="m-wrap__content">
                {{caller()}}
            </div>
        </div>
    </div>
</section>
{%- endmacro %}

{% macro spacingDemoBlock() -%}
    <div class="u-columns u-margin-top-x20">
        <div class="c-tile u-columns__column--twelve u-columns__column--six-m u-columns__column--three-xl u-flex-column u-flex-align-flex-start u-spacing">
            {{caller()}}
        </div>
    </div>
{%- endmacro %}


{% block pageContent -%}

{% call guideMacros.docsWrap() -%}

    <h3 class="u-h4">For large bodies of text, include the class "u-wysiwyg":</h3>

{% endcall %}

    <section class='m-wrap m-wrap--carded'>
        <div class="m-wrap__card">
            <div class="m-wrap__inner">
                <div class="u-columns u-flex-justify-center">
                    <div class="m-wrap__header u-spacing u-columns__column--ten-m">
                        <h2 class="u-h3 u-margin-top-x5">Module Heading Compact</h2>
                    </div>
                </div>
                
                <div class="m-wrap__content u-columns u-flex-justify-center">
                    <div class="u-columns__column u-columns__column--eight u-block u-wysiwyg">
                        <p class="">If someone says, “I don’t trust technology,” she’s probably speaking in overly general terms. If she gets more specific and says, “Well, what I mean is I don’t trust self-driving cars,” she’s still off the mark. This statement really says she’s skeptical of the competence or good faith of self-driving car designers, companies, marketers, safety inspectors, reporters, regulators, or insurers. Her suspicion is that one or more of these parties in the <a href="https://en.wikipedia.org/wiki/Sociotechnical_system" data-href="https://en.wikipedia.org/wiki/Sociotechnical_system" class="markup--anchor markup--p-anchor" rel="nofollow noopener" target="_blank">sociotechnical system</a> is putting lives in danger by making unreliable claims about how the cars will perform.</p>
                        <h1 class="">Sub Heading</h3>
                        <p class="">If someone says, “I don’t trust technology,” she’s probably speaking in overly general terms. If she gets more specific and says, “Well, what I mean is I don’t trust self-driving cars,” she’s still off the mark. This statement really says she’s skeptical of the competence or good faith of self-driving car designers, companies, marketers, safety inspectors, reporters, regulators, or insurers. Her suspicion is that one or more of these parties in the <a href="https://en.wikipedia.org/wiki/Sociotechnical_system" data-href="https://en.wikipedia.org/wiki/Sociotechnical_system" class="markup--anchor markup--p-anchor" rel="nofollow noopener" target="_blank">sociotechnical system</a> is putting lives in danger by making unreliable claims about how the cars will perform.</p>
                        <h2 class="">Sub Heading</h3>
                        <p class="">If someone says, “I don’t trust technology,” she’s probably speaking in overly general terms. If she gets more specific and says, “Well, what I mean is I don’t trust self-driving cars,” she’s still off the mark. This statement really says she’s skeptical of the competence or good faith of self-driving car designers, companies, marketers, safety inspectors, reporters, regulators, or insurers. Her suspicion is that one or more of these parties in the <a href="https://en.wikipedia.org/wiki/Sociotechnical_system" data-href="https://en.wikipedia.org/wiki/Sociotechnical_system" class="markup--anchor markup--p-anchor" rel="nofollow noopener" target="_blank">sociotechnical system</a> is putting lives in danger by making unreliable claims about how the cars will perform.</p>
                        <h3 class="">Sub Heading</h3>
                        <p class="">If someone says, “I don’t trust technology,” she’s probably speaking in overly general terms. If she gets more specific and says, “Well, what I mean is I don’t trust self-driving cars,” she’s still off the mark. This statement really says she’s skeptical of the competence or good faith of self-driving car designers, companies, marketers, safety inspectors, reporters, regulators, or insurers. Her suspicion is that one or more of these parties in the <a href="https://en.wikipedia.org/wiki/Sociotechnical_system" data-href="https://en.wikipedia.org/wiki/Sociotechnical_system" class="markup--anchor markup--p-anchor" rel="nofollow noopener" target="_blank">sociotechnical system</a> is putting lives in danger by making unreliable claims about how the cars will perform.</p>
                        <p class="">If someone says, “I don’t trust technology,” she’s probably speaking in overly general terms. If she gets more specific and says, “Well, what I mean is I don’t trust self-driving cars,” she’s still off the mark. This statement really says she’s skeptical of the competence or good faith of self-driving car designers, companies, marketers, safety inspectors, reporters, regulators, or insurers. Her suspicion is that one or more of these parties in the <a href="https://en.wikipedia.org/wiki/Sociotechnical_system" data-href="https://en.wikipedia.org/wiki/Sociotechnical_system" class="markup--anchor markup--p-anchor" rel="nofollow noopener" target="_blank">sociotechnical system</a> is putting lives in danger by making unreliable claims about how the cars will perform.</p>
                        <p class="">If someone says, “I don’t trust technology,” she’s probably speaking in overly general terms. If she gets more specific and says, “Well, what I mean is I don’t trust self-driving cars,” she’s still off the mark. This statement really says she’s skeptical of the competence or good faith of self-driving car designers, companies, marketers, safety inspectors, reporters, regulators, or insurers. Her suspicion is that one or more of these parties in the <a href="https://en.wikipedia.org/wiki/Sociotechnical_system" data-href="https://en.wikipedia.org/wiki/Sociotechnical_system" class="markup--anchor markup--p-anchor" rel="nofollow noopener" target="_blank">sociotechnical system</a> is putting lives in danger by making unreliable claims about how the cars will perform.</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    {% call guideMacros.docsWrap() -%}

    <h3 class="u-h4">Or for large bodies of large text (p1 18px), include the class "u-wysiwyg-large":</h3>

{% endcall %}

    <section class='m-wrap m-wrap--carded'>
            <div class="m-wrap__card">
                <div class="m-wrap__inner">
                
                    <div class="m-wrap__content u-columns u-flex-justify-center">
                        <div class="u-columns__column u-columns__column--eight u-block u-wysiwyg-large">
                            <p class="">If someone says, “I don’t trust technology,” she’s probably speaking in overly general terms. If she gets more specific and says, “Well, what I mean is I don’t trust self-driving cars,” she’s still off the mark. This statement really says she’s skeptical of the competence or good faith of self-driving car designers, companies, marketers, safety inspectors, reporters, regulators, or insurers. Her suspicion is that one or more of these parties in the <a href="https://en.wikipedia.org/wiki/Sociotechnical_system" data-href="https://en.wikipedia.org/wiki/Sociotechnical_system" class="markup--anchor markup--p-anchor" rel="nofollow noopener" target="_blank">sociotechnical system</a> is putting lives in danger by making unreliable claims about how the cars will perform.</p>
                            <h1 class="">Sub Heading</h3>
                            <p class="">If someone says, “I don’t trust technology,” she’s probably speaking in overly general terms. If she gets more specific and says, “Well, what I mean is I don’t trust self-driving cars,” she’s still off the mark. This statement really says she’s skeptical of the competence or good faith of self-driving car designers, companies, marketers, safety inspectors, reporters, regulators, or insurers. Her suspicion is that one or more of these parties in the <a href="https://en.wikipedia.org/wiki/Sociotechnical_system" data-href="https://en.wikipedia.org/wiki/Sociotechnical_system" class="markup--anchor markup--p-anchor" rel="nofollow noopener" target="_blank">sociotechnical system</a> is putting lives in danger by making unreliable claims about how the cars will perform.</p>
                            <h2 class="">Sub Heading</h3>
                            <p class="">If someone says, “I don’t trust technology,” she’s probably speaking in overly general terms. If she gets more specific and says, “Well, what I mean is I don’t trust self-driving cars,” she’s still off the mark. This statement really says she’s skeptical of the competence or good faith of self-driving car designers, companies, marketers, safety inspectors, reporters, regulators, or insurers. Her suspicion is that one or more of these parties in the <a href="https://en.wikipedia.org/wiki/Sociotechnical_system" data-href="https://en.wikipedia.org/wiki/Sociotechnical_system" class="markup--anchor markup--p-anchor" rel="nofollow noopener" target="_blank">sociotechnical system</a> is putting lives in danger by making unreliable claims about how the cars will perform.</p>
                            <h3 class="">Sub Heading</h3>
                            <p class="">If someone says, “I don’t trust technology,” she’s probably speaking in overly general terms. If she gets more specific and says, “Well, what I mean is I don’t trust self-driving cars,” she’s still off the mark. This statement really says she’s skeptical of the competence or good faith of self-driving car designers, companies, marketers, safety inspectors, reporters, regulators, or insurers. Her suspicion is that one or more of these parties in the <a href="https://en.wikipedia.org/wiki/Sociotechnical_system" data-href="https://en.wikipedia.org/wiki/Sociotechnical_system" class="markup--anchor markup--p-anchor" rel="nofollow noopener" target="_blank">sociotechnical system</a> is putting lives in danger by making unreliable claims about how the cars will perform.</p>
                            <p class="">If someone says, “I don’t trust technology,” she’s probably speaking in overly general terms. If she gets more specific and says, “Well, what I mean is I don’t trust self-driving cars,” she’s still off the mark. This statement really says she’s skeptical of the competence or good faith of self-driving car designers, companies, marketers, safety inspectors, reporters, regulators, or insurers. Her suspicion is that one or more of these parties in the <a href="https://en.wikipedia.org/wiki/Sociotechnical_system" data-href="https://en.wikipedia.org/wiki/Sociotechnical_system" class="markup--anchor markup--p-anchor" rel="nofollow noopener" target="_blank">sociotechnical system</a> is putting lives in danger by making unreliable claims about how the cars will perform.</p>
                            <p class="">If someone says, “I don’t trust technology,” she’s probably speaking in overly general terms. If she gets more specific and says, “Well, what I mean is I don’t trust self-driving cars,” she’s still off the mark. This statement really says she’s skeptical of the competence or good faith of self-driving car designers, companies, marketers, safety inspectors, reporters, regulators, or insurers. Her suspicion is that one or more of these parties in the <a href="https://en.wikipedia.org/wiki/Sociotechnical_system" data-href="https://en.wikipedia.org/wiki/Sociotechnical_system" class="markup--anchor markup--p-anchor" rel="nofollow noopener" target="_blank">sociotechnical system</a> is putting lives in danger by making unreliable claims about how the cars will perform.</p>
                        </div>
                    </div>
    
                </div>
            </div>
        </section>


{% call guideMacros.docsWrap() -%}

    <h3 class="u-h4">Include the class "u-spacing" for small bodies of text such as tiles:</h3>

{% endcall %}




<section>

    <div class="u-grid u-grid-cols-2 u-grid-rows-4">
        <div class="c-tile__wrap u-grid-item-cols-2">
            <div class="u-grid-item c-tile c-tile--stacked u-aspect-sixteen-by-nine">
                
                <div class="c-tile__content c-tile__content--top-left u-spacing">
                    <h4 class="c-tile__heading u-xxl">Hero Tile Heading</h4>
                    <p class="u-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum auctor sem sollicitudin ornare. Maecenas turpis neque, pellentesque vel viverra nec, volutpat in risus. Fusce ut consequat libero.</p>
                    <p class="u-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum auctor sem sollicitudin ornare. Maecenas turpis neque, pellentesque vel viverra nec, volutpat in risus. Fusce ut consequat libero.</p>
                    <a href="" class="c-btn c-btn--primary-inverse">Shop Now {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
                </div>
                <div class="c-tile__image u-bg-grey" data-responsive-background-src data-src-m="{{imageMedium}}" data-src-s="{{imageSmall}}">
                </div>
            </div>
        </div>
        
        <div class="c-tile__wrap">
            <div class="u-grid-item c-tile c-tile--stacked u-aspect-sixteen-by-nine">
                <!-- <a href="#" class="c-tile__link"></a> -->
                <div class="c-tile__content c-tile__content--top-left u-spacing">
                    <h4 class="c-tile__heading u-h1">Large Tile Heading</h4>
                    <p class="u-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum auctor sem sollicitudin ornare. Maecenas turpis neque, pellentesque vel viverra nec, volutpat in risus. Fusce ut consequat libero.</p>
                    <p class="u-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum auctor sem sollicitudin ornare. Maecenas turpis neque, pellentesque vel viverra nec, volutpat in risus. Fusce ut consequat libero.</p>
                    <a href="" class="c-btn c-btn--tertiary">Shop Now {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
                </div>
                <div class="c-tile__image u-bg-grey" data-responsive-background-src data-src-m="{{imageMedium}}" data-src-s="{{imageSmall}}">
                </div>
            </div>
        </div>

        <div class="c-tile__wrap">
            <div class="u-grid-item c-tile c-tile--stacked u-aspect-sixteen-by-nine">
                <!-- <a href="#" class="c-tile__link"></a> -->
                <div class="c-tile__content c-tile__content--top-left u-spacing">
                    <h4 class="c-tile__heading u-h2">Medium Tile Heading</h4>
                    <p class="u-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum auctor sem sollicitudin ornare. Maecenas turpis neque, pellentesque vel viverra nec, volutpat in risus. Fusce ut consequat libero.</p>
                    <p class="u-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum auctor sem sollicitudin ornare. Maecenas turpis neque, pellentesque vel viverra nec, volutpat in risus. Fusce ut consequat libero.</p>
                    <a href="" class="c-btn c-btn--tertiary">Shop Now {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
                </div>
                <div class="c-tile__image u-bg-grey" data-responsive-background-src data-src-m="{{imageMedium}}" data-src-s="{{imageSmall}}">
                </div>
            </div>
        </div>

        <div class="c-tile__wrap">
            <div class="u-grid-item c-tile c-tile--stacked u-aspect-sixteen-by-nine">
                <!-- <a href="#" class="c-tile__link"></a> -->
                <div class="c-tile__content c-tile__content--top-left u-spacing">
                    <h4 class="c-tile__heading u-h3">Small Tile Heading</h4>
                    <p class="u-p3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum auctor sem sollicitudin ornare. Maecenas turpis neque, pellentesque vel viverra nec, volutpat in risus. Fusce ut consequat libero.</p>
                    <p class="u-p3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum auctor sem sollicitudin ornare. Maecenas turpis neque, pellentesque vel viverra nec, volutpat in risus. Fusce ut consequat libero.</p>
                    <a href="" class="c-btn c-btn--tertiary">Shop Now {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
                </div>
                <div class="c-tile__image u-bg-grey" data-responsive-background-src data-src-m="{{imageMedium}}" data-src-s="{{imageSmall}}">
                </div>
            </div>
        </div>

        <div class="c-tile__wrap">
            <div class="u-grid-item c-tile c-tile--stacked u-aspect-sixteen-by-nine">
                <a href="#" class="c-tile__link"></a>
                <div class="c-tile__content c-tile__content--top-left u-spacing">
                    <h4 class="c-tile__heading u-h4">Content Heading</h4>
                    <p class="u-p3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum auctor sem sollicitudin ornare. Maecenas turpis neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum auctor sem sollicitudin ornare. Maecenas turpis neque, pellentesque vel viverra nec, volutpat in risus. Fusce ut consequat libero.</p>
                    <p class="u-p3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum auctor sem sollicitudin ornare. Maecenas turpis neque, pellentesque vel viverra nec, volutpat in risus. Fusce ut consequat libero.</p>
                    <a href="" class="c-btn c-btn--tertiary">Shop Now {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
                </div>
                <div class="c-tile__image u-bg-grey" data-responsive-background-src data-src-m="{{imageMedium}}" data-src-s="{{imageSmall}}">
                </div>
            </div>
        </div>

    </div>


    



{% endblock %}