{% import 'html/t7-live/macros/icons.html' as iconMacros %} {% import 'html/t7-live/modules/header/mobile-macros.html' as
mobileMacros %} {% macro headerT7() -%}

{% import 'html/t7-live/modules/tiles-category/macros.html' as catTilesMacros %}

<header>
    <div class="m-header">
        <div class="m-header__top">
            <a href class="m-header__top-icons m-header__top-icons--stores">
                {{ iconMacros.iconPin(classes="c-icon--medium m-header__icon-btn-icon") }}
                <span class="m-header__store-text m-header__top-icons--text">Store Finder</span>
            </a>
            <div class="m-header__top-icons m-header__top-icons--login">
                <a href class="m-header__icon-btn-text m-header__top-icons--user">
                    {{ iconMacros.iconAccount(classes="c-icon--medium m-header__icon-btn-icon") }}
                    <span class="m-header__top-icons--text">Hi
                        <em>Username</em>
                    </span>
                </a>
                <a href class="m-header__icon-btn-text m-header__top-icons--logout">Log out</a>
            </div>
        </div>
        <div class="m-header__main">
            <a href="javascript:;" id="js-nav-burger-menu" class="m-header__burger js-nav-burger-menu">
                {{ iconMacros.iconBurger(name='burger', classes='m-header__burger-icon c-icon--large') }}
                <span class="m-header__burger-text">Menu</span>
            </a>
            <div class="m-header__logo">
                <!--<svg class="" aria-hidden="true">
                    <use xlink:href="../../assets/svg/icons.svg#t7-logo"></use>
                </svg>-->
                <a href="/">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 327.68 89.3">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: #fff;
                                }

                                .cls-2 {
                                    fill: #cf0a2c;
                                }
                            </style>
                        </defs>
                        <path class="cls-1" d="M336.81,51.87c0,5.81-5,8-10.55,8s-10.56-2.14-10.56-8,5-7.95,10.56-7.95,10.55,2.14,10.55,7.95m11.38,0c0-10.94-7.79-16.7-21.93-16.7s-21.94,5.76-21.94,16.7,7.8,16.7,21.94,16.7,21.93-5.76,21.93-16.7"
                            transform="translate(-62.51 -24.35)" />
                        <path class="cls-1" d="M291.06,57.24a18.42,18.42,0,0,1-6.62,2.39l-2.1.16c-5.6,0-10.21-2.73-10.21-7.86s4.61-7.89,10.21-7.87a13.85,13.85,0,0,1,2.13.18,16.45,16.45,0,0,1,6.59,2.6Zm11.46,10.08v-43a63.07,63.07,0,0,1-7.85,4.21c-1.67.68-3.62,1.37-3.62,1.37v7.89h-.11a27.53,27.53,0,0,0-11.66-2.2c-11.49,0-18.18,7.24-18.18,16.19,0,10.72,7.21,16.76,18.3,16.76a21.4,21.4,0,0,0,11.89-3.23h.11v2Z"
                            transform="translate(-62.51 -24.35)" />
                        <path class="cls-1" d="M247.42,48.45H229.29c.7-3.42,3.29-6.33,9.07-6.33s8.37,2.91,9.06,6.33m11.81,6.27v-.91c0-12.88-7.54-18.64-20.93-18.64-13,0-20.82,5.7-20.82,16.64,0,11.46,8.36,17.53,22.45,17.53A37.63,37.63,0,0,0,257.71,65l-3.51-7.62a32.89,32.89,0,0,1-13.81,3.47c-6.29,0-10.46-2.13-11.1-6.12Z"
                            transform="translate(-62.51 -24.35)" />
                        <path class="cls-1" d="M204.58,51.93c0,5.13-4.61,7.86-10.21,7.86H194a39.2,39.2,0,0,1-8.38-1.52V46.82s1.94-1.83,6.45-2.56a17.61,17.61,0,0,1,2.27-.2c5.6,0,10.21,2.74,10.21,7.87m11,.45c0-10.71-7.21-16.76-18.29-16.76-5,0-8.24.87-11.89,3.19h-.12V36.42H174.19v42.4s3.39-1.5,7-2.68a34.83,34.83,0,0,1,4.46-1V66.27h.11a27.43,27.43,0,0,0,11.66,2.3c11.49,0,18.18-7.24,18.18-16.19"
                            transform="translate(-62.51 -24.35)" />
                        <path class="cls-1" d="M164.05,46a22.61,22.61,0,0,1,7.25-.21V35.91a24.43,24.43,0,0,0-4.16-.28c-5.54,0-10.39,1.49-12.76,4.63h-.11V36.42H143v30.9h11.46V57c0-5.58,3-9.64,9.61-10.94"
                            transform="translate(-62.51 -24.35)" />
                        <path class="cls-1" d="M129.56,51.87c0,5.81-5,8-10.55,8s-10.55-2.14-10.55-8,5-7.95,10.55-7.95,10.55,2.14,10.55,7.95m11.38,0c0-10.94-7.79-16.7-21.93-16.7-12.08,0-21.93,5.76-21.93,16.7s7.79,16.7,21.93,16.7,21.93-5.76,21.93-16.7"
                            transform="translate(-62.51 -24.35)" />
                        <polygon class="cls-1" points="0 0.13 3.37 9.25 15.65 9.25 15.65 43 28.61 43.01 28.61 9.25 40.97 9.25 44.13 0.13 0 0.13"
                        />
                        <path class="cls-2" d="M365.35,51.57c-3.71,4.68-10.85,13.26-16,24.4h13.48c4.35-10.26,9.67-18.23,19.32-29.91l.2-.23-14.49,2.61h0c-1,1.23-2,2.46-2.55,3.14m24.84-15H346.94L352.73,45h30.36c2.53-3,7.1-8.44,7.1-8.44"
                            transform="translate(-62.51 -24.35)" />
                        <path class="cls-1" d="M328.19,103.35v9.52l.11.24.12.11a4,4,0,0,0,.95.25,1.06,1.06,0,0,0,.35-.13h5c.11,0,1.18-.12,1.31-.12h.35l.47.12h2a.89.89,0,0,0,.48.13c.49,0,.72-.73.72-1.06s0-1.09-.35-1.09h-.13a4.78,4.78,0,0,1-.6.12c-.12,0-.59-.12-.7-.12h-1.21c-1.53,0-3.08.12-4.62.12h-1.78c-.12-.12-.37-.35-.37-.47l.12-.47v-1.78l.25-.25h6.89v-1.65l-.12-.13-.23-.12h-6.42c-.12,0-.37-.35-.37-.47v-1.92c0-.11.37-.46.47-.46h8.57l.37-.37v-1.3c0-.37-.49-.48-.72-.48-2.27,0-4.64.11-7,.11-1.07,0-2-.11-3.1-.11a1,1,0,0,0-.94,1.08v.12c0,.11.12.46.12.58m-6.54,3.1c-.35,0-1.9-.11-2.25-.11h-.58c-1,0-2,.11-3,.11h-.37c-.1,0-.46-.35-.46-.48a4.39,4.39,0,0,1-.12-1.3c0-.14,0-.29,0-.44a.83.83,0,0,1,.5-.88h4.76c.23,0,1.53.12,1.9.12a1.74,1.74,0,0,1,1.53,1.55v.11a1.91,1.91,0,0,1-.7,1c-.35.24-.72.24-.72.7-.23,0-.11-.35-.48-.35m-8.91,6.42a.63.63,0,0,0,.49.24h.11c.22,0,1.07-.12,1.19-.12.47-.12.47-.72.47-1.07v-3.57c.13-.11.25-.23.36-.23h2.74c.11,0,.35.12.47.12h.11c.25,0,.37-.12.72-.12s.47.23.72.47.6,1,.71,1.06c.35.49,1.42,1.91,1.55,2.16l.35.35a4.27,4.27,0,0,0,.35.71.88.88,0,0,0,.47.24h2c.23,0,.23-.12.23-.37v-.23c-.23-.24-1.18-1.67-1.42-1.91s-1-1.41-1.08-1.55-.47-.46-.47-.6v-.1c0-.48,1.44-.71,1.9-1.08a3.42,3.42,0,0,0,1.07-2.6,3.45,3.45,0,0,0-.35-1.2l-.25-.6c-.93-1.3-2.72-1.65-4.17-1.65h-.33l-1.44.11h-5.23c-.24,0-1.07.12-1.31.12s-.11.23-.11.37v.23c0,.23.11,2.27.11,2.5Zm-13.92-2.3a17.76,17.76,0,0,0,.23,2.3l.67.12c.33,0,2.4.23,3.35.23H310c.27-.13.53-.6.47-1.38,0-.1-.29-.69-.47-.69h-8.61l-.35-2.3c0-.11.24-.45.35-.45h6.54V107c0-.65-3.73-.6-5.17-.6l-1.15,0c-.68-.11-.68-.93-.68-1.5,0-1,1.13-1.15,1.95-1.15,2,0,3.9.12,5.87.12,1.4,0,1.37-.15,1.37-1.84l-.35-.35c-.69-.31-2.69,0-2.31-.11-.5,0-8.6-.22-8.6.68s.12,7,.12,7.7a1.22,1.22,0,0,0-.12.57M284,101.78c-.24,0-.32.15-.32.39v10.7s.12.24.23.24h.24c.23,0,.56.06.86.06s.59-.06.7-.3v-.58c0-1.08.1-2.27.1-3.47,0-.12.12-.58.37-.58H294a1.82,1.82,0,0,1,.22.63c0,.33,0,.68,0,1,0,1,0,1.84,0,2.64v.11c0,.49.7.54,1.15.54h.75a.53.53,0,0,0,.37-.37l-.12-.48v-2c0-.11-.11-.83-.11-1s.11-.75.11-1c0-1.48-.1-2.92-.1-4.42,0-.55,0-1.1,0-1.66-.11-.74-.66-.82-1.25-.82h-.48l-.25.23v4.17a1,1,0,0,1-.45.49h-7.69c-.13,0-.37-.37-.37-.49v-3.08a2.6,2.6,0,0,0,0-.37c0-.43-.19-.58-.27-.58s-.35,0-.73,0H284Zm-9.29,10.74v.24a.55.55,0,0,0,.33.35h1.38c.35,0,.59-.47.59-.82a4.16,4.16,0,0,0-.12-1.14c0-.91-.12-5.28-.12-6.2v-.12s.12-1.15.47-1.15h4.24l.23-.23v-1.37a.53.53,0,0,0-.35-.35h-3.57a1.7,1.7,0,0,1-.77.14l-.71,0c-.8,0-1.49-.12-2.29-.12s-1.4.12-2.07.12c-.35,0-.81-.12-1.28-.12s-1.13.12-1.13.8v.12l.11.35c.12.45,0,.92.69.92h4.13c.12,0,.24.35.24.35,0,.33.11,2.3.11,2.63V107c0,.45-.11,4.72-.11,5.17Zm-21.94.1c0,.25.14.6.37.6h.12l.37-.11h1a.88.88,0,0,0,.36-.82v-.37c0-.11-.11-.71-.11-.83v-3.82a1.09,1.09,0,0,0,.11-.58v-.24l-.11-.48v-1.65c0-.25.23-.74.48-.74h4.29c.33,0,.58-.46.58-.7,0-.48-.13-1.43-.72-1.43h-.11c-.6,0-5.12.23-5.71.23h-.11c-.14,0-.72-.11-.86-.11-1.63,0-3.11.11-4.73.11a.8.8,0,0,0-.39.72c0,.13,0,.3,0,.48v.47l.23.23h3.69a1.64,1.64,0,0,1,1.18.6c0,.6.14,3.22.14,3.82v1.54c0,.95-.14,2-.14,3.08m-19.23-7.55v2.63c0,2.42.45,4.84,3.09,5.52.12,0,.82.12.93.12a15.23,15.23,0,0,0,3.22.23,5.27,5.27,0,0,0,2.64-.7,3.25,3.25,0,0,0,.92-.45,4.23,4.23,0,0,0,1.5-3.22v-6.9c0-.33-.57-.45-.8-.45h-.24c-.23,0-.93.12-.93.12l-.22.21v.7c0,.19,0,.44,0,.7a1.52,1.52,0,0,0,.13.69V109c0,.1.12.33.12.45l-.12.21-.33.47a2.56,2.56,0,0,1-2.19,1.5l-.45.12h-.58a10.1,10.1,0,0,1-1.84-.35c-.11,0-1.15-.12-1.26-.12a1.89,1.89,0,0,1-.47-.23c-.12,0-.45-.34-.55-.45a4.36,4.36,0,0,0-.35-1.15,27,27,0,0,1-.12-3.1c0-1.27.12-2.54.12-3.69,0-.12,0-.68-.23-.68h-1.74l-.1.11-.12.34Zm-15.29,3.53v-.36c.48-2.14-.25-2.87,1.9-4.29a2.17,2.17,0,0,1,.7-.37c.37-.11,1.32-.45,1.44-.45h3.45c1.42,0,3.32,2,3.8,3.21v.81a4.19,4.19,0,0,1-3.32,4.17c-.11,0-.71.12-.85.12h-.83a6,6,0,0,0-.59.12c-2.73,0-4-.84-5.7-3m5.1-7.5a8.18,8.18,0,0,0-5,1.55,5.63,5.63,0,0,0-1.32,1.67,12.74,12.74,0,0,0-.95,1.53v2.87c0,.93,1.3,2.6,2,3.2a10.28,10.28,0,0,0,4.87,1.55,10.92,10.92,0,0,0,5.83-1.31,5.63,5.63,0,0,0,2.75-4.76c0-2.73-1.09-4.75-3.69-5.72l-1.45-.45c-.1,0-1.9-.13-2.6-.13Z"
                            transform="translate(-62.51 -24.35)" />
                        <path class="cls-1" d="M193.38,104.86v2.74c0,2.5.48,5,3.22,5.7.12,0,.83.12,1,.12a9.66,9.66,0,0,0,2.25.2h.85a6.52,6.52,0,0,0,3-.67,4.18,4.18,0,0,0,.95-.47,4.44,4.44,0,0,0,1.54-3.35V102c0-.37-.57-.35-.8-.35s-1.09,0-1.22,0l-.25.25v7l-.22,1.19a2.64,2.64,0,0,1-2.27,1.53l-.46.14a14.52,14.52,0,0,1-2.59-.14c-.12,0-1.1-.15-1.23-.15a5.76,5.76,0,0,1-.6-.36c-.12,0-.34-.42-.45-.54a5.74,5.74,0,0,0-.37-1.2,28.62,28.62,0,0,1-.12-3.2c0-1.32.12-2.64.12-3.82,0-.12,0-.72-.23-.72h-1.79l-.17.3-.08.19Zm-9.67,7.06c-1.84-.1-4.14-1-4.71-3V108a4,4,0,0,1,2.41-3.9,8.25,8.25,0,0,1,2.88-.57h.1c1.5.34,3.22.24,4.25,1.6.24.24.69.92.8,1l.12.23a1.12,1.12,0,0,0,.12.35v1.95a4.06,4.06,0,0,1-.24.69l-.11.21a8.58,8.58,0,0,1-2.4,2.09,1.35,1.35,0,0,1-.65.13c-.24,0-.45,0-.67,0a1.23,1.23,0,0,0-1.1.7h-.12c-.45,0-.45-.35-.68-.58m-6.89-4.49c0,.2,0,.4,0,.63,0,.8.07,1.8.7,2.25l.22.12.12.59a1.85,1.85,0,0,0,.23.45,7.92,7.92,0,0,0,4.72,2.18h3.45a15,15,0,0,1,2.19-.7,5.13,5.13,0,0,0,3.32-4.94c0-2.07-.22-2.3-1.37-3.9-.47-.57-.82-1.27-1.5-1.5-.12,0-1.15-.35-1.5-.45a2.63,2.63,0,0,0-.9-.22c-.24,0-.35.1-.59.1l-.46-.21h-1.17a8.17,8.17,0,0,0-4.12.78,5.65,5.65,0,0,0-2.07,1.5,6,6,0,0,0-1.25,3.32m-9.49,2.07v3.32l.12.13a3.12,3.12,0,0,0,1.55.35c.11,0,.6-.12.6-.35V109.5l5.22-6.77a3,3,0,0,0,.48-1.09.37.37,0,0,0-.36-.35,9.41,9.41,0,0,0-1.91.24c-.11.11-.46.48-.6.6-.45.6-2.36,3.2-2.83,3.8-.25.37-1,1.42-1.3,1.42s-.25,0-.37-.24-1.2-1.78-1.32-2l-.35-.46c-.11-.24-1.31-1.9-1.43-2.15s-.58-.72-.82-1a9.5,9.5,0,0,0-2-.24c-.24,0-.24.12-.24.35,0,.72,2.14,3.22,2.62,3.94a10.67,10.67,0,0,0,.59,1l.11.23c.25.35,1.32,1.67,1.44,1.9a5.45,5.45,0,0,0,.83.84m-25.87,1.15a17.27,17.27,0,0,0,.24,2.3l.66.12c.34,0,2.4.23,3.36.23h6.88c.27-.13.54-.6.47-1.38,0-.1-.28-.69-.47-.69H144l-.35-2.3c0-.12.23-.45.35-.45h6.54V107.1c0-.65-3.74-.6-5.17-.6-.39,0-.77,0-1.16,0-.68-.12-.68-.93-.68-1.5,0-1,1.14-1.15,1.95-1.15,2,0,3.9.11,5.87.11,1.4,0,1.37-.15,1.37-1.83l-.35-.35c-.68-.32-2.69,0-2.3-.12-.5,0-8.61-.21-8.61.69s.12,7,.12,7.7a1.22,1.22,0,0,0-.12.57m-13.77-7.22V113l.11.23.12.12a3.84,3.84,0,0,0,1,.25,1.06,1.06,0,0,0,.35-.13h5c.12,0,1.19-.12,1.32-.12h.35l.47.12h2a.87.87,0,0,0,.48.13c.49,0,.72-.73.72-1.07s0-1.08-.35-1.08h-.14a4.42,4.42,0,0,1-.6.12c-.11,0-.58-.12-.7-.12h-1.2c-1.53,0-3.08.12-4.62.12h-1.78c-.12-.12-.37-.35-.37-.47l.12-.47V108.8l.25-.25h6.89V106.9l-.12-.14-.23-.11h-6.42c-.12,0-.37-.35-.37-.47v-1.92c0-.12.37-.47.47-.47H139l.37-.36v-1.3c0-.37-.49-.49-.72-.49-2.27,0-4.64.12-7,.12-1.07,0-2-.12-3.11-.12a1,1,0,0,0-.93,1.09v.11c0,.12.12.47.12.59M112.48,110c0,1.54,2,2.62,3.22,3.2a1.23,1.23,0,0,1,.35.12,35.48,35.48,0,0,0,3.57.25H121c2-.6,2.64-.25,4.06-1.78a3,3,0,0,0,.71-2c0-3.68-4.4-3.32-6.89-3.55-.25,0-1.68-.25-2-.25-.58-.12-1.32-.24-1.55-.82v-.25a1.17,1.17,0,0,1,.83-1.07,7.44,7.44,0,0,1,1.55-.48h2.62c.12,0,.7.12.84.12a11.06,11.06,0,0,0,1.31.71c.34.25.7,1.19,1,1.19s1.67-.22,1.67-.82a3.89,3.89,0,0,0-1.18-1.9,7.48,7.48,0,0,0-5-1.55c0,.58.1,1,.1,1.42H119s-.23-.47-.37-.72,0-.35-.35-.59h-.71a7,7,0,0,0-3.09,1c-.37.11-.37,0-.6.23a4.42,4.42,0,0,0-1.07,2.63c0,5.34,10.46,1.66,10.46,5.11,0,.35,0,.23-.23.6-.84.93-1.9.93-3.09.93h-.73c-1.49,0-3-.08-4-1.3-.37-.35-.49-1.32-1.09-1.32s-1.66.37-1.66,1"
                            transform="translate(-62.51 -24.35)" />
                    </svg>
                </a>
            </div>
            {{ megaMenu() }}
            <div class="m-search__wrap">
                <div class="m-search">
                    <form role="search" action="/search" method="get" name="simpleSearch" class="m-search__form">
                            <!--<legend class="u-visually-hidden">Search Catalog</legend><label class="u-visually-hidden" for="q-search">Search</label>-->
                            <input type="text"  autocomplete="off" name="searchString" id="searchString" value="" class="m-search__field " placeholder="I'm looking for ..." />
                            <button type="submit" id="search-submit" class="m-search__button" value="go" onclick="document.getElementById('brandSearchForm').submit();" >
                                {{ iconMacros.iconSearch(name="search", classes="c-icon m-search__icon") }}
                            </button>
                    </form>
                </div>
            </div>
            <div class="m-header__icons m-header__icons--cart">
                <a href class="m-header__icon-btn m-header__icon-btn--wishlist c-icon-btn">
                    <!--{{ iconMacros.svgicon(name='wishlist', classes='c-icon--small m-header__icon-btn-icon') }}-->
                    {{ iconMacros.iconWishlistFilled(classes="c-icon--large m-header__icon-btn-icon") }}
                    <span class="c-icon-btn__text m-header__icon-btn-text">Wishlist</span>
                </a>
                <div class="m-mini-cart__wrap">
                    <a class="m-header__icon-btn m-header__icon-btn--cart c-icon-btn">
                        <div class="c-badge">6</div>
                        <!--{{ iconMacros.svgicon(name="cart", classes='c-icon--small') }}-->
                        {{ iconMacros.iconCart(classes="c-icon--large m-header__icon-btn-icon") }}
                    </a>
                    {{ miniCart() }}
                </div>
            </div>
        </div>

    </div><!-- END: .m-header -->

<div class="m-header__subnav">
    <ul class="m-header__subnav-list">
        <li class="m-header__subnav-item">
            <span class="m-header__subnav-link" href="/">
                Recommended:
            </span>
        </li>
        <li class="m-header__subnav-list-item">
            <a class="m-header__subnav-link" href="/">
                Queens birthday sale
            </a>
        </li>
        <li class="m-header__subnav-list-item">
            <a class="m-header__subnav-link" href="/">
                Gaint bikes
            </a>
        </li>
        <li class="m-header__subnav-list-item">
            <a class="m-header__subnav-link" href="/">
                Icebreaker
            </a>
        </li>
        <li class="m-header__subnav-list-item">
            <a class="m-header__subnav-link" href="/">
                Easter
            </a>
        </li>
        <li class="m-header__subnav-list-item">
            <a class="m-header__subnav-link" href="/">
                Gaint bikes
            </a>
        </li>
        <li class="m-header__subnav-list-item">
            <a class="m-header__subnav-link" href="/">
                Icebreaker
            </a>
        </li>
        <li class="m-header__subnav-list-item">
            <a class="m-header__subnav-link" href="/">
                Easter
            </a>
        </li>
        <li class="m-header__subnav-list-item">
            <a class="m-header__subnav-link" href="/">
                Specials
            </a>
        </li>
    </ul>
    <!-- END: .m-header__rec -->
</div>
<div class="m-header__features">
    <ul>
        <li>
            <a href="/">
            <div class="c-icon-feature-icon c-icon-feature-icon--small">
                {{ iconMacros.iconDelivery(classes="m-header__icon-btn-icon") }}
            </div>
            <span>Free delivery over $150* for members</span>
            </a>
        </li>
        <li>
            <a href="/">
            <div class="c-icon-feature-icon c-icon-feature-icon--small">
                {{ iconMacros.iconStore(classes="m-header__icon-btn-icon") }}
            </div>
            <span>Free Click & Collect</span>
            </a>
        </li>
        <li>
            <a href="/">
            <div class="c-icon-feature-icon c-icon-feature-icon--small">
                {{ iconMacros.iconDollar(classes="m-header__icon-btn-icon") }}
            </div>
            <span>Price Promise</span>
            </a>
        </li>
        <li>
            <a href="/">
            {{ iconMacros.iconFlybys(classes="c-icon-flybuys c-icon--xlarge m-header__icon-btn-icon") }}
            <span>Reward your adventures</span>
            </a>
        </li>
        <li>
            <a href="/">
            {{ iconMacros.iconPartPay(classes="c-icon-partpay m-header__icon-btn-icon") }}
            <span>4x interest free payments with Partpay</span>
            </a>
        </li>
    </ul>
</div>
 {{ mobileMacros.mobileMenu() }}
</header>
<!-- END: .m-header__wrap -->
<main>
{%- endmacro %}
<!-- Minicart -->
{% macro miniCart() -%}
<div class="m-mini-cart">
    <ol class="m-mini-cart__items">
        <li class="m-mini-cart__item">
            <a href>
                <div class="m-mini-cart__image">
                    <img src="https://www.torpedo7.co.nz/images/products/T7CQNN5AN2A_thumb.jpg?v=3a095530e8544b78a3e2">
                </div>
                <div class="m-mini-cart__desc">
                    <p>
                        Adults Nano Chill Neck Warmer
                    </p>
                    <small>Colour: Blue</small>
                    <small>Size: Blue</small>
                    <div class="m-mini-cart__total">
                        <span class="c-prices__price c-prices__price--default">x1</span>
                        <span class="c-prices__price c-prices__price--club">Club $4,332.10</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="m-mini-cart__item">
            <a href>
                <div class="m-mini-cart__image">
                    <img src="https://www.torpedo7.co.nz/images/products/05MRKN8Z2AA_thumb.jpg?v=3a095530e8544b78a3e2">
                </div>
                <div class="m-mini-cart__desc">
                    <p>
                        Icebreaker Men's Stratus Merinoloft Transcend Hooded Jacket
                    </p>
                    <small>Colour: Blue</small>
                    <small>Size: Blue</small>
                    <div class="m-mini-cart__total">
                        <span class="c-prices__price c-prices__price--default">x1</span>
                        <span class="c-prices__price c-prices__price--default">$259.99</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="m-mini-cart__item">
            <a href>
                <div class="m-mini-cart__image">
                    <img src="https://www.torpedo7.co.nz/images/products/05MRKN8Z2AA_thumb.jpg?v=3a095530e8544b78a3e2">
                </div>
                <div class="m-mini-cart__desc">
                    <p>
                        Icebreaker Men's Stratus Merinoloft Transcend Hooded Jacket
                    </p>
                    <small>Colour: Blue</small>
                    <small>Size: Blue</small>
                    <div class="m-mini-cart__total">
                        <span class="c-prices__price c-prices__price--default">x1</span>
                        <span class="c-prices__price c-prices__price--club">Club $4,332.10</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="m-mini-cart__item m-mini-cart__item--more">
            <a href>3 More items in the Cart</a>
        </li>
    </ol>
    <div class="m-mini-cart__total">
        <span>Subtotal</span>
        <strong>$3349.99</strong>
    </div>

    <a class="c-btn c-btn--primary-inverse" href="/checkout.do?v=3a095530e8544b78a3e2">
        <span>View Cart</span>
    </a>

</div>
{%- endmacro %}



<!-- Main Menu -->
{% macro megaMenu() -%}
<div class="m-mainnav">
    <ul>
        <li>
            <a href="/">Shop</a>
            <div class="m-megamenu__wrap">
                <div class="m-megamenu">
                    <ul class="m-megamenu-shop" id="shop-megamenu"  data-module="mega-menu">
                        <li class="inactive bike active" id="navtop_bike">
                        <div class="m-megamenu__content m-megamenu__content-initial">
                            <div class="m-megamenu__col">
                                <div class="m-category-tile-belt m-category-tile-belt--header">
                                    <div class="m-tile-belt__inner">
                                
                                        
                                            {{catTilesMacros.categoryTileT7(link="/ski-workshop", tileClasses=" c-tile-category--header")}}
                                            {{catTilesMacros.categoryTileT7(link="/ski-workshop", tileClasses=" c-tile-category--header")}}
                                            {{catTilesMacros.categoryTileT7(link="/ski-workshop", tileClasses=" c-tile-category--header")}}
                                            {{catTilesMacros.categoryTileT7(link="/ski-workshop", tileClasses=" c-tile-category--header")}}
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        </li>
                        <li class="inactive bike" id="navtop_bike">
                            <a title="Bike" href="/shop/bike">
                                <span>Bike</span>
                            </a>
                            <div class="m-megamenu__content">
                                <div class="m-megamenu_col m-megamenu_cols">
<ul>
    <li>
        <a href="/shop/bike/bikes-and-frames">Bikes &amp; Frames</a>
        <ul>
            <li>
                <a href="/shop/bike/mountain-bikes">Mountain bikes</a>
            </li>
            <li>
                <a href="/shop/bike/road-bikes">Road Bikes</a>
            </li>
            <li>
                <a href="/shop/bike/kids-bikes">Kid's Bikes</a>
            </li>
            <li>
                <a href="/shop/bike/electric-bikes">Electric Bikes</a>
            </li>
            <li>
                <a href="/shop/bike/cyclocross-bikes">Cyclocross Bikes</a>
            </li>
            <li>
                <a href="/shop/bike/urban-bikes">Urban Bikes</a>
            </li>
            <li>
                <a href="/shop/bike/bmx-bikes">BMX Bikes</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/bike/scooters">Scooters</a>
    </li>
    <li>
        <a href="/shop/bike/helmets-protection">Helmets &amp; Protection</a>
        <ul>
            <li>
                <a href="/shop/bike/mountain-bike-helmets">Mountain Bike Helmets</a>
            </li>
            <li>
                <a href="/shop/bike/road-helmets">Road Helmets</a>
            </li>
            <li>
                <a href="/shop/bike/full-face-helmets">Full-face Helmets</a>
            </li>
            <li>
                <a href="/shop/bike/kids-helmets">Kids Helmets</a>
            </li>
            <li>
                <a href="/shop/bike/dirt-helmets">Dirt Helmets</a>
            </li>
            <li>
                <a href="/shop/bike/elbow-pads">Elbow Pads</a>
            </li>
            <li>
                <a href="/shop/bike/body-armour">Body Armour</a>
            </li>
            <li>
                <a href="/shop/bike/neck-braces">Neck Braces</a>
            </li>
            <li>
                <a href="/shop/bike/sports-cream">Sports Cream</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/bike/bike-racks-transport">Bike Racks &amp; Transport</a>
        <ul>
            <li>
                <a href="/shop/bike/bungy-cords-buffers">Bungy Cords &amp; Buffers</a>
            </li>
            <li>
                <a href="/shop/bike/bike-racks">Bike Racks</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/bike/bike-accessories">Bike Accessories</a>
        <ul>
            <li>
                <a href="/shop/bike/bike-lights">Bike Lights</a>
            </li>
            <li>
                <a href="/shop/bike/bottle-cages">Bottle Cages</a>
            </li>
            <li>
                <a href="/shop/bike/pannier-racks">Pannier Racks</a>
            </li>
            <li>
                <a href="/shop/bike/bike-trailers">Bike Trailers</a>
            </li>
            <li>
                <a href="/shop/bike/phone-holder">Phone Holder</a>
            </li>
            <li>
                <a href="/shop/bike/cycle-mirrors">Cycle Mirrors</a>
            </li>
            <li>
                <a href="/shop/bike/mudguards">Mudguards</a>
            </li>
            <li>
                <a href="/shop/bike/indoor-cycle-trainer">Indoor Cycle Trainer</a>
            </li>
            <li>
                <a href="/shop/bike/cycle-computer">Cycle Computer</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/bike/bike-parts">Bike Parts</a>
        <ul>
            <li>
                <a href="/shop/bike/pedals">Pedals</a>
            </li>
            <li>
                <a href="/shop/bike/handlebars-grips">Handlebars &amp; Grips</a>
            </li>
            <li>
                <a href="/shop/bike/saddles">Saddles</a>
            </li>
            <li>
                <a href="/shop/bike/brakes">Brakes</a>
            </li>
            <li>
                <a href="/shop/bike/chains-derailleurs">Chains &amp; Derailleurs</a>
            </li>
            <li>
                <a href="/shop/bike/forks">Forks</a>
            </li>
            <li>
                <a href="/shop/bike/shifters">Shifters</a>
            </li>
            <li>
                <a href="/shop/bike/group-sets">Group Sets</a>
            </li>
            <li>
                <a href="/shop/bike/tyres-wheels">Tyres &amp; Wheels</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/bike/tools-storage">Tools &amp; Storage</a>
        <ul>
            <li>
                <a href="/shop/bike/bike-pumps">Bike Pumps</a>
            </li>
            <li>
                <a href="/shop/bike/lubrication">Lubrication</a>
            </li>
            <li>
                <a href="/shop/bike/bike-cleaning">Bike Cleaning</a>
            </li>
            <li>
                <a href="/shop/bike/bike-tools">Bike Tools</a>
            </li>
            <li>
                <a href="/shop/bike/workstands">Workstands</a>
            </li>
            <li>
                <a href="/shop/bike/bike-storage">Bike Storage</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/bike/bike-clothing">Bike Clothing</a>
        <ul>
            <li>
                <a href="/shop/bike/jackets">Jackets</a>
            </li>
            <li>
                <a href="/shop/bike/tops">Tops</a>
            </li>
            <li>
                <a href="/shop/bike/pants-shorts">Pants &amp; Shorts</a>
            </li>
            <li>
                <a href="/shop/bike/thermals-baselayers">Thermals &amp; Baselayers</a>
            </li>
            <li>
                <a href="/shop/bike/accessories">Accessories</a>
            </li>
            <li>
                <a href="/shop/bike/footwear">Footwear</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/bike/bike-bags-packs">Bike Bags &amp; Packs</a>
    </li>
    <li>
        <a href="/shop/bike/bike-brands">Bike Brands</a>
    </li>
    <li>
        <a href="/shop/bike/cycle-clearance">Cycle Clearance</a>
    </li>
</ul>
                                </div>
                            </div>
                        </li>
<li class="inactive outdoor" id="navtop_outdoor">
    <a title="Outdoor" href="/shop/outdoor">
        <span>Camp & Hike</span>
    </a>
    <div class="m-megamenu__content">
        <div class="m-megamenu_col m-megamenu_cols">
            <ul>
                <li>
                    <a href="/shop/outdoor/footwear">Footwear</a>
                    <ul>
                        <li>
                            <a href="/shop/outdoor/running-shoes">Running Shoes</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/hiking-boots">Hiking Boots</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/walking-shoes">Walking Shoes</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/casual-footwear">Casual Footwear</a>
                        </li>
                        <li>
                            <a href="/shop/snow/snow-boots">Snow Boots</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/sandals-jandals">Sandals &amp; Jandals</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/shop/outdoor/bags---packs">Bags &amp; Packs</a>
                    <ul>
                        <li>
                            <a href="/shop/outdoor/backpacks">Backpacks</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/hiking-packs">Hiking Packs</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/duffel-bags">Duffel Bags</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/luggage">Luggage</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/travel">Travel</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/child-carriers">Child Carriers</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/shop/outdoor/tents">Tents</a>
                    <ul>
                        <li>
                            <a href="/shop/outdoor/canvas-tents">Canvas Tents</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/dome-tents">Dome Tents</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/adventure-tents">Adventure Tents</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/footprints">Footprints</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/gazebos--shelters---awnings">Gazebos, Shelters &amp; Awnings</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/tent-parts">Tent Parts</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/shop/outdoor/sleeping">Sleeping</a>
                    <ul>
                        <li>
                            <a href="/shop/outdoor/sleeping-bags">Sleeping Bags</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/air-mattresses">Air Mattresses</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/stretchers">Stretchers</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/air-bed-pumps">Air Bed Pumps</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/shop/outdoor/camp-furniture">Camp Furniture</a>
                    <ul>
                        <li>
                            <a href="/shop/outdoor/tables">Tables</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/cupboards">Cupboards</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/chairs">Chairs</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/shop/outdoor/hydration">Hydration</a>
                    <ul>
                        <li>
                            <a href="/shop/outdoor/hydration-packs">Hydration Packs</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/belts-grips">Belts &amp; Grips</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/bottles-flasks">Bottles &amp; Flasks</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/reservoirs">Reservoirs</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/water-purification">Water Purification</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/shop/outdoor/trampolines">Trampolines</a>
                </li>
                <li>
                    <a href="/shop/outdoor/camp-kitchen">Camp Kitchen</a>
                    <ul>
                        <li>
                            <a href="/shop/outdoor/gas-stoves">Gas Stoves</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/cookware">Cookware</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/plates-bowls-cups">Plates, Bowls &amp; Cups</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/utensils">Utensils</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/dehydrated-food">Dehydrated Food</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/coffee-tea">Coffee &amp; Tea</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/gas-canisters-fuel">Gas Canisters &amp; Fuel</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/shop/outdoor/accessories">Accessories</a>
                    <ul>
                        <li>
                            <a href="/shop/outdoor/headlamps">Headlamps</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/torches">Torches</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/lanterns">Lanterns</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/walking-poles">Walking Poles</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/first-aid---survival">First Aid &amp; Safety</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/compasses">Compasses</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/camping-accessories">Camping Accessories</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/multi-tools-pocket-knives">Multi-Tools &amp; Pocket Knives</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/travel-accessories">Travel Accessories</a>
                        </li>
                        <li>
                            <a href="/shop/outdoor/slacklines">Slacklines</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</li>
                        <li class="inactive snow" id="navtop_snow">
                            <a title="Snow" href="/shop/snow">
                                <span>Snow</span>
                            </a>
                            <div class="m-megamenu__content">
                                <div class="m-megamenu_col m-megamenu_cols">
                                    <ul>
                                        <li>
                                            <a href="/shop/snow/snowboarding">Snowboarding</a>
                                            <ul>
                                                <li>
                                                    <a href="/shop/snow/snowboards">Snowboards</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/snowboard-boots">Snowboard Boots</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/snowboard-bindings">Snowboard Bindings</a>
                                                </li>
                                                <li>
                                                    <a href="/buildkit.do?groupCode=02">Snowboard Packages</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/splitboards">Splitboards</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/shop/snow/skiing">Skiing</a>
                                            <ul>
                                                <li>
                                                    <a href="/shop/snow/skis">Skis</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/skis-and-bindings">Skis &amp; Bindings</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/ski-boots">Ski Boots</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/ski-bindings">Ski Bindings</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/ski-poles">Ski Poles</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/shop/snow/bags-and-packs">Bags &amp; Packs</a>
                                            <ul>
                                                <li>
                                                    <a href="/shop/snow/backpacks">Backpacks</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/travel-luggage">Travel Luggage</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/ski---board-bags">Ski &amp; Board Bags</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/gear-bags">Gear Bags</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/boot-bags">Boot Bags</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/shop/snow/snow-clothing">Snow Clothing</a>
                                            <ul>
                                                <li>
                                                    <a href="/shop/snow/baselayers">Baselayers</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/jackets">Jackets</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/pants">Pants</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/gloves">Gloves</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/mittens">Mittens</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/beanies">Beanies</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/neckwear">Neckwear</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/socks">Socks</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/snow-boots">Snow Boots</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/belts">Belts</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/shop/snow/protection">Protection</a>
                                            <ul>
                                                <li>
                                                    <a href="/shop/snow/helmets">Helmets</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/goggles">Goggles</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/goggle-lenses">Goggle Lenses</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/wrist-guards">Wrist Guards</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/impact-shorts">Impact Shorts</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/body-armor">Body Armor</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="">Accessories</a>
                                            <ul>
                                                <li>
                                                    <a href="/shop/snow/tuning">Wax &amp; Tuning</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/tools">Tools</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/locks">Locks</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/stomp-pads">Stomp Pads</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/avalanche-safety">Avalanche Safety</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/shop/snow/casual-clothing">Casual Clothing</a>
                                            <ul>
                                                <li>
                                                    <a href="/shop/snow/underwear">Underwear</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/t-shirts">T-Shirts</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/shirts">Shirts</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/hoodies---sweatshirts">Hoodies &amp; Sweatshirts</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/snow/caps-hats">Caps &amp; Hats</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/shop/bike/casual-sunglasses">Sunglasses</a>
                                        </li>
                                        <li>
                                            <a href="/shop/snow/electronics">Electronics</a>
                                        </li>
                                        <li>
                                            <a href="/shop/snow/camera---video">Camera &amp; Video</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="inactive moto" id="navtop_moto">
                            <a title="Moto" href="/shop/moto">
                                <span>Moto</span>
                            </a>
                            <div class="m-megamenu__content">
                                <div class="m-megamenu_col m-megamenu_cols">
                                    <ul>
                                        <li>
                                            <a href="/shop/moto/off-road-apparel">Off Road Apparel</a>
                                            <ul>
                                                <li>
                                                    <a href="/shop/moto/baselayers">Baselayers</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/jackets">Jackets</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/gloves---men-s">Men's Gloves</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/jerseys---men-s">Men's Jerseys</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/pants---men-s">Men's Pants</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/socks">Socks</a>
                                                </li>
                                                <li>
                                                    <a href=" /shop/moto/women-s">Women's Gear</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/youth">Youth Gear</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/shop/moto/off-road-protection">Off Road Protection</a>

                                            <ul>
                                                <li>
                                                    <a href="/shop/moto/boots">Boots</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/chest---back-body-armour">Chest, Back &amp; Body Armour</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/goggles">Goggles</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/helmets">Helmets</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/kidney-belts">Kidney Belts</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/knee---ankle">Knee &amp; Ankle</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/neck-protection">Neck Protection</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/under-protectors">Under Protectors</a>
                                                </li>
                                            </ul>

                                        </li>
                                        <li>
                                            <a href="/shop/moto/casual-apparel">Casual Apparel</a>

                                            <ul>
                                                <li>
                                                    <a href="/shop/moto/caps---beanies">Caps &amp; Beanies</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/t-shirts">T-Shirts</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/shorts">Shorts</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/sunglasses">Sunglasses</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/hoodies---sweatshirts">Hoodies</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/hoodies---sweatshirts">Sweatshirts</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/shop/moto/accessories">Accessories</a>
                                        </li>
                                        <li>
                                            <a href="/shop/moto/bags---packs">Bags &amp; Packs</a>

                                            <ul>
                                                <li>
                                                    <a href="/shop/moto/gear-bags">Gear Bags</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/hydration">Hydration Bags</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/shop/moto/road-apparel">Road Apparel</a>

                                            <ul>
                                                <li>
                                                    <a href="/shop/moto/road-boots">Boots</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/road-gloves">Gloves</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/road-jackets">Jackets</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/road-pants">Pants</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/road-leather-suits">Suits</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/shop/moto/tyres---wheels">Tyres &amp; Wheels</a>

                                            <ul>
                                                <li>
                                                    <a href="/shop/moto/tyres">Tyres</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/wheel-sets">Wheel Sets</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/shop/moto/bike-parts">Bike Parts</a>

                                            <ul>
                                                <li>
                                                    <a href="/shop/moto/brake-parts">Brake Parts</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/chains">Chains</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/grips">Grips</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/handlebars---mounts">Handlebars&nbsp;</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/shop/moto/tools-and-workshop">Tools &amp; Workshop</a>

                                            <ul>
                                                <li>
                                                    <a href="/shop/moto/lubrication">Lubrication</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/stands---ramps">Stands &amp; Ramps</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/tools">Tools</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/shop/moto/camera-video">Camera &amp; Video</a>

                                            <ul>
                                                <li>
                                                    <a href="/shop/moto/cameras">Cameras</a>
                                                </li>
                                                <li>
                                                    <a href="/shop/moto/camera-cases">Camera Cases</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="/division/moto/home.do">View All Departments</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>                        
                        <li class="inactive clothing" id="navtop_clothing">
                            <a title="Clothing" href="/shop/clothing">
                                <span class="">Clothing</span>
                            </a>
<div class="m-megamenu__content">
    <div class="m-megamenu_col m-megamenu_cols">
<ul>
    <li>
        <a href="/shop/outdoor/footwear">Footwear</a>
        <ul>
            <li>
                <a href="/shop/outdoor/running-shoes">Running Shoes</a>
            </li>
            <li>
                <a href="/shop/outdoor/hiking-boots">Hiking Boots</a>
            </li>
            <li>
                <a href="/shop/outdoor/walking-shoes">Walking Shoes</a>
            </li>
            <li>
                <a href="/shop/outdoor/casual-footwear">Casual Footwear</a>
            </li>
            <li>
                <a href="/shop/snow/snow-boots">Snow Boots</a>
            </li>
            <li>
                <a href="/shop/outdoor/sandals-jandals">Sandals &amp; Jandals</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/outdoor/bags---packs">Bags &amp; Packs</a>
        <ul>
            <li>
                <a href="/shop/outdoor/backpacks">Backpacks</a>
            </li>
            <li>
                <a href="/shop/outdoor/hiking-packs">Hiking Packs</a>
            </li>
            <li>
                <a href="/shop/outdoor/duffel-bags">Duffel Bags</a>
            </li>
            <li>
                <a href="/shop/outdoor/luggage">Luggage</a>
            </li>
            <li>
                <a href="/shop/outdoor/travel">Travel</a>
            </li>
            <li>
                <a href="/shop/outdoor/child-carriers">Child Carriers</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/outdoor/tents">Tents</a>
        <ul>
            <li>
                <a href="/shop/outdoor/canvas-tents">Canvas Tents</a>
            </li>
            <li>
                <a href="/shop/outdoor/dome-tents">Dome Tents</a>
            </li>
            <li>
                <a href="/shop/outdoor/adventure-tents">Adventure Tents</a>
            </li>
            <li>
                <a href="/shop/outdoor/footprints">Footprints</a>
            </li>
            <li>
                <a href="/shop/outdoor/gazebos--shelters---awnings">Gazebos, Shelters &amp; Awnings</a>
            </li>
            <li>
                <a href="/shop/outdoor/tent-parts">Tent Parts</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/outdoor/sleeping">Sleeping</a>
        <ul>
            <li>
                <a href="/shop/outdoor/sleeping-bags">Sleeping Bags</a>
            </li>
            <li>
                <a href="/shop/outdoor/air-mattresses">Air Mattresses</a>
            </li>
            <li>
                <a href="/shop/outdoor/stretchers">Stretchers</a>
            </li>
            <li>
                <a href="/shop/outdoor/air-bed-pumps">Air Bed Pumps</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/outdoor/camp-furniture">Camp Furniture</a>
        <ul>
            <li>
                <a href="/shop/outdoor/tables">Tables</a>
            </li>
            <li>
                <a href="/shop/outdoor/cupboards">Cupboards</a>
            </li>
            <li>
                <a href="/shop/outdoor/chairs">Chairs</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/outdoor/hydration">Hydration</a>
        <ul>
            <li>
                <a href="/shop/outdoor/hydration-packs">Hydration Packs</a>
            </li>
            <li>
                <a href="/shop/outdoor/belts-grips">Belts &amp; Grips</a>
            </li>
            <li>
                <a href="/shop/outdoor/bottles-flasks">Bottles &amp; Flasks</a>
            </li>
            <li>
                <a href="/shop/outdoor/reservoirs">Reservoirs</a>
            </li>
            <li>
                <a href="/shop/outdoor/water-purification">Water Purification</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/outdoor/trampolines">Trampolines</a>
    </li>
    <li>
        <a href="/shop/outdoor/camp-kitchen">Camp Kitchen</a>
        <ul>
            <li>
                <a href="/shop/outdoor/gas-stoves">Gas Stoves</a>
            </li>
            <li>
                <a href="/shop/outdoor/cookware">Cookware</a>
            </li>
            <li>
                <a href="/shop/outdoor/plates-bowls-cups">Plates, Bowls &amp; Cups</a>
            </li>
            <li>
                <a href="/shop/outdoor/utensils">Utensils</a>
            </li>
            <li>
                <a href="/shop/outdoor/dehydrated-food">Dehydrated Food</a>
            </li>
            <li>
                <a href="/shop/outdoor/coffee-tea">Coffee &amp; Tea</a>
            </li>
            <li>
                <a href="/shop/outdoor/gas-canisters-fuel">Gas Canisters &amp; Fuel</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/outdoor/accessories">Accessories</a>
        <ul>
            <li>
                <a href="/shop/outdoor/headlamps">Headlamps</a>
            </li>
            <li>
                <a href="/shop/outdoor/torches">Torches</a>
            </li>
            <li>
                <a href="/shop/outdoor/lanterns">Lanterns</a>
            </li>
            <li>
                <a href="/shop/outdoor/walking-poles">Walking Poles</a>
            </li>
            <li>
                <a href="/shop/outdoor/first-aid---survival">First Aid &amp; Safety</a>
            </li>
            <li>
                <a href="/shop/outdoor/compasses">Compasses</a>
            </li>
            <li>
                <a href="/shop/outdoor/camping-accessories">Camping Accessories</a>
            </li>
            <li>
                <a href="/shop/outdoor/multi-tools-pocket-knives">Multi-Tools &amp; Pocket Knives</a>
            </li>
            <li>
                <a href="/shop/outdoor/travel-accessories">Travel Accessories</a>
            </li>
            <li>
                <a href="/shop/outdoor/slacklines">Slacklines</a>
            </li>
        </ul>
    </li>
</ul>
                                </div>
                            </div>
                        </li>
                        <li class="inactive watersports" id="navtop_watersports">
                            <a title="Water" href="/shop/watersports">
                                <span>Water</span>
                            </a>
<div class="m-megamenu__content">
    <div class="m-megamenu_col m-megamenu_cols">
<ul>
    <li>
        <a href="/shop/moto/off-road-apparel">Off Road Apparel</a>
        <ul>
            <li>
                <a href="/shop/moto/baselayers">Baselayers</a>
            </li>
            <li>
                <a href="/shop/moto/jackets">Jackets</a>
            </li>
            <li>
                <a href="/shop/moto/gloves---men-s">Men's Gloves</a>
            </li>
            <li>
                <a href="/shop/moto/jerseys---men-s">Men's Jerseys</a>
            </li>
            <li>
                <a href="/shop/moto/pants---men-s">Men's Pants</a>
            </li>
            <li>
                <a href="/shop/moto/socks">Socks</a>
            </li>
            <li>
                <a href=" /shop/moto/women-s">Women's Gear</a>
            </li>
            <li>
                <a href="/shop/moto/youth">Youth Gear</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/moto/off-road-protection">Off Road Protection</a>

        <ul>
            <li>
                <a href="/shop/moto/boots">Boots</a>
            </li>
            <li>
                <a href="/shop/moto/chest---back-body-armour">Chest, Back &amp; Body Armour</a>
            </li>
            <li>
                <a href="/shop/moto/goggles">Goggles</a>
            </li>
            <li>
                <a href="/shop/moto/helmets">Helmets</a>
            </li>
            <li>
                <a href="/shop/moto/kidney-belts">Kidney Belts</a>
            </li>
            <li>
                <a href="/shop/moto/knee---ankle">Knee &amp; Ankle</a>
            </li>
            <li>
                <a href="/shop/moto/neck-protection">Neck Protection</a>
            </li>
            <li>
                <a href="/shop/moto/under-protectors">Under Protectors</a>
            </li>
        </ul>

    </li>
    <li>
        <a href="/shop/moto/casual-apparel">Casual Apparel</a>

        <ul>
            <li>
                <a href="/shop/moto/caps---beanies">Caps &amp; Beanies</a>
            </li>
            <li>
                <a href="/shop/moto/t-shirts">T-Shirts</a>
            </li>
            <li>
                <a href="/shop/moto/shorts">Shorts</a>
            </li>
            <li>
                <a href="/shop/moto/sunglasses">Sunglasses</a>
            </li>
            <li>
                <a href="/shop/moto/hoodies---sweatshirts">Hoodies</a>
            </li>
            <li>
                <a href="/shop/moto/hoodies---sweatshirts">Sweatshirts</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/moto/accessories">Accessories</a>
    </li>
    <li>
        <a href="/shop/moto/bags---packs">Bags &amp; Packs</a>

        <ul>
            <li>
                <a href="/shop/moto/gear-bags">Gear Bags</a>
            </li>
            <li>
                <a href="/shop/moto/hydration">Hydration Bags</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/moto/road-apparel">Road Apparel</a>

        <ul>
            <li>
                <a href="/shop/moto/road-boots">Boots</a>
            </li>
            <li>
                <a href="/shop/moto/road-gloves">Gloves</a>
            </li>
            <li>
                <a href="/shop/moto/road-jackets">Jackets</a>
            </li>
            <li>
                <a href="/shop/moto/road-pants">Pants</a>
            </li>
            <li>
                <a href="/shop/moto/road-leather-suits">Suits</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/moto/tyres---wheels">Tyres &amp; Wheels</a>

        <ul>
            <li>
                <a href="/shop/moto/tyres">Tyres</a>
            </li>
            <li>
                <a href="/shop/moto/wheel-sets">Wheel Sets</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/moto/bike-parts">Bike Parts</a>

        <ul>
            <li>
                <a href="/shop/moto/brake-parts">Brake Parts</a>
            </li>
            <li>
                <a href="/shop/moto/chains">Chains</a>
            </li>
            <li>
                <a href="/shop/moto/grips">Grips</a>
            </li>
            <li>
                <a href="/shop/moto/handlebars---mounts">Handlebars&nbsp;</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/moto/tools-and-workshop">Tools &amp; Workshop</a>

        <ul>
            <li>
                <a href="/shop/moto/lubrication">Lubrication</a>
            </li>
            <li>
                <a href="/shop/moto/stands---ramps">Stands &amp; Ramps</a>
            </li>
            <li>
                <a href="/shop/moto/tools">Tools</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/moto/camera-video">Camera &amp; Video</a>

        <ul>
            <li>
                <a href="/shop/moto/cameras">Cameras</a>
            </li>
            <li>
                <a href="/shop/moto/camera-cases">Camera Cases</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/division/moto/home.do">View All Departments</a>
    </li>
</ul>
                                </div>
                            </div>
                        </li>
                        <li class="inactive fitness" id="navtop_fitness">
                            <a title="Fitness" href="javascript: showFitnessRedirectPoppup();">
                                <span class="">Fitness</span>
                            </a>
<div class="m-megamenu__content">
    <div class="m-megamenu_col m-megamenu_cols">
<ul>
    <li>
        <a href="/shop/outdoor/footwear">Footwear</a>
        <ul>
            <li>
                <a href="/shop/outdoor/running-shoes">Running Shoes</a>
            </li>
            <li>
                <a href="/shop/outdoor/hiking-boots">Hiking Boots</a>
            </li>
            <li>
                <a href="/shop/outdoor/walking-shoes">Walking Shoes</a>
            </li>
            <li>
                <a href="/shop/outdoor/casual-footwear">Casual Footwear</a>
            </li>
            <li>
                <a href="/shop/snow/snow-boots">Snow Boots</a>
            </li>
            <li>
                <a href="/shop/outdoor/sandals-jandals">Sandals &amp; Jandals</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/outdoor/bags---packs">Bags &amp; Packs</a>
        <ul>
            <li>
                <a href="/shop/outdoor/backpacks">Backpacks</a>
            </li>
            <li>
                <a href="/shop/outdoor/hiking-packs">Hiking Packs</a>
            </li>
            <li>
                <a href="/shop/outdoor/duffel-bags">Duffel Bags</a>
            </li>
            <li>
                <a href="/shop/outdoor/luggage">Luggage</a>
            </li>
            <li>
                <a href="/shop/outdoor/travel">Travel</a>
            </li>
            <li>
                <a href="/shop/outdoor/child-carriers">Child Carriers</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/outdoor/tents">Tents</a>
        <ul>
            <li>
                <a href="/shop/outdoor/canvas-tents">Canvas Tents</a>
            </li>
            <li>
                <a href="/shop/outdoor/dome-tents">Dome Tents</a>
            </li>
            <li>
                <a href="/shop/outdoor/adventure-tents">Adventure Tents</a>
            </li>
            <li>
                <a href="/shop/outdoor/footprints">Footprints</a>
            </li>
            <li>
                <a href="/shop/outdoor/gazebos--shelters---awnings">Gazebos, Shelters &amp; Awnings</a>
            </li>
            <li>
                <a href="/shop/outdoor/tent-parts">Tent Parts</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/outdoor/sleeping">Sleeping</a>
        <ul>
            <li>
                <a href="/shop/outdoor/sleeping-bags">Sleeping Bags</a>
            </li>
            <li>
                <a href="/shop/outdoor/air-mattresses">Air Mattresses</a>
            </li>
            <li>
                <a href="/shop/outdoor/stretchers">Stretchers</a>
            </li>
            <li>
                <a href="/shop/outdoor/air-bed-pumps">Air Bed Pumps</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/outdoor/camp-furniture">Camp Furniture</a>
        <ul>
            <li>
                <a href="/shop/outdoor/tables">Tables</a>
            </li>
            <li>
                <a href="/shop/outdoor/cupboards">Cupboards</a>
            </li>
            <li>
                <a href="/shop/outdoor/chairs">Chairs</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/outdoor/hydration">Hydration</a>
        <ul>
            <li>
                <a href="/shop/outdoor/hydration-packs">Hydration Packs</a>
            </li>
            <li>
                <a href="/shop/outdoor/belts-grips">Belts &amp; Grips</a>
            </li>
            <li>
                <a href="/shop/outdoor/bottles-flasks">Bottles &amp; Flasks</a>
            </li>
            <li>
                <a href="/shop/outdoor/reservoirs">Reservoirs</a>
            </li>
            <li>
                <a href="/shop/outdoor/water-purification">Water Purification</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/outdoor/trampolines">Trampolines</a>
    </li>
    <li>
        <a href="/shop/outdoor/camp-kitchen">Camp Kitchen</a>
        <ul>
            <li>
                <a href="/shop/outdoor/gas-stoves">Gas Stoves</a>
            </li>
            <li>
                <a href="/shop/outdoor/cookware">Cookware</a>
            </li>
            <li>
                <a href="/shop/outdoor/plates-bowls-cups">Plates, Bowls &amp; Cups</a>
            </li>
            <li>
                <a href="/shop/outdoor/utensils">Utensils</a>
            </li>
            <li>
                <a href="/shop/outdoor/dehydrated-food">Dehydrated Food</a>
            </li>
            <li>
                <a href="/shop/outdoor/coffee-tea">Coffee &amp; Tea</a>
            </li>
            <li>
                <a href="/shop/outdoor/gas-canisters-fuel">Gas Canisters &amp; Fuel</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/outdoor/accessories">Accessories</a>
        <ul>
            <li>
                <a href="/shop/outdoor/headlamps">Headlamps</a>
            </li>
            <li>
                <a href="/shop/outdoor/torches">Torches</a>
            </li>
            <li>
                <a href="/shop/outdoor/lanterns">Lanterns</a>
            </li>
            <li>
                <a href="/shop/outdoor/walking-poles">Walking Poles</a>
            </li>
            <li>
                <a href="/shop/outdoor/first-aid---survival">First Aid &amp; Safety</a>
            </li>
            <li>
                <a href="/shop/outdoor/compasses">Compasses</a>
            </li>
            <li>
                <a href="/shop/outdoor/camping-accessories">Camping Accessories</a>
            </li>
            <li>
                <a href="/shop/outdoor/multi-tools-pocket-knives">Multi-Tools &amp; Pocket Knives</a>
            </li>
            <li>
                <a href="/shop/outdoor/travel-accessories">Travel Accessories</a>
            </li>
            <li>
                <a href="/shop/outdoor/slacklines">Slacklines</a>
            </li>
        </ul>
    </li>
</ul>
                                </div>
                            </div>
                        </li>
                        <li class="inactive nutrition" id="navtop_nutrition">
                            <a title="Nutrition" href="/shop/nutrition">
                                <span class="">Electronics</span>
                            </a>
<div class="m-megamenu__content">
    <div class="m-megamenu_col m-megamenu_cols">
<ul>
    <li>
        <a href="/shop/technology/audio">Audio</a>
        <ul>
            <li>
                <a href="/shop/technology/headphones">Headphones</a>
            </li>
            <li>
                <a href="/shop/technology/speakers">Speakers</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/technology/wearables-gps">Wearables &amp; GPS</a>
        <ul>
            <li>
                <a href="/shop/technology/gps">GPS</a>
            </li>
            <li>
                <a href="/shop/technology/watches">Watches</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/technology/gopro">GoPro</a>
        <ul>
            <li>
                <a href="/shop/technology/accessories">Accessories</a>
            </li>
            <li>
                <a href="/shop/technology/gopro-cameras">GoPro cameras</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/shop/technology/power">Power</a>
        <ul>
            <li>
                <a href="/shop/technology/battery-packs">Battery Packs</a>
            </li>
            <li>
                <a href="/shop/technology/solar">Solar</a>
            </li>
        </ul>
    </li>
</ul>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>                  
            </div>
        </li>
        <li>
            <a href="">Brands</a>
            <div class="m-megamenu__wrap">
                <div class="m-megamenu m-megamenu--brands">
                    <p class="m-megamenu__title">Featured Brands</p>
                    <a class="m-megamenu--viewall" href="/brands">
                        View All Brands
                    </a>

                    <ul>
                        <li>
                            <a href="/brand/camelbak">
                                <!--<figure>-->
                                <img alt="Camelbak" src="https://www.torpedo7.co.nz/images/logos/Camelbak-logo.svg" border="0">
                                <!--<figcaption>Camalback</figcaption>
                                </figure>-->
                            </a>
                        </li>
                        <li>
                            <a href="/brand/fox">
                                <img alt="Fox" src="https://www.torpedo7.co.nz/images/logos/Fox-logo.svg?v=3a095530e8544b78a3e2" border="0">
                            </a>
                        </li>
                        <li>
                            <a href="/brand/giant">
                                <img alt="Giant" src="https://www.torpedo7.co.nz/images/logos/Giant-logo.svg?v=3a095530e8544b78a3e2" border="0">
                            </a>
                        </li>
                        <li>
                            <a href="/brand/gopro">
                                <img alt="GoPro" src="https://www.torpedo7.co.nz/images/logos/GoPro-logo.svg?v=3a095530e8544b78a3e2" border="0">
                            </a>
                        </li>
                        <li>
                            <a href="/brand/icebreaker">
                                <img alt="Icebreaker" src="https://www.torpedo7.co.nz/images/logos/Icebreaker-logo2.svg?v=3a095530e8544b78a3e2" border="0">
                            </a>
                        </li>
                        <li>
                            <a href="/brand/marmot">
                                <img alt="Marmot" src="https://www.torpedo7.co.nz/images/logos/Marmot-logo.svg?v=3a095530e8544b78a3e2" border="0">
                            </a>
                        </li>
                        <li>
                            <a href="/brand/mons_royale">
                                <img alt="Mons-royale" src="https://www.torpedo7.co.nz/images/logos/Mons-royale-logo.svg?v=3a095530e8544b78a3e2" border="0">
                            </a>
                        </li>
                        <li>
                            <a href="/brand/salomon">
                                <img alt="Salomon" src="https://www.torpedo7.co.nz/images/logos/Salomon-logo.svg?v=3a095530e8544b78a3e2" border="0">
                            </a>
                        </li>
                        <li>
                            <a href="/brand/torpedo7">
                                <img alt="Torpedo7" src="https://www.torpedo7.co.nz/images/logos/T7-logo.svg?v=3a095530e8544b78a3e2" border="0">
                            </a>
                        </li>
                        <li>
                            <a href="/brand/the_north_face">
                                <img alt="The North Face" src="https://www.torpedo7.co.nz/images/logos/The-North-Face-logo.svg?v=3a095530e8544b78a3e2" border="0">
                            </a>
                        </li>
                        <li>
                            <a href="/brand/smith">
                                <img alt="Smith" src="https://www.torpedo7.co.nz/images/logos/smith-logo.svg?v=3a095530e8544b78a3e2" border="0">
                            </a>
                        </li>
                        <li>
                            <a href="/brand/burton">
                                <img alt="Burton" src="https://www.torpedo7.co.nz/images/logos/burton-logo.svg?v=3a095530e8544b78a3e2" border="0">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>

        </li>
        <li>
            <a href="">Service</a>
            <div class="m-megamenu__wrap">
                <div class="m-megamenu">
                    <ul class="m-megamenu-shop" id="service-megamenu">
                        <li class="bike active" id="navtop_Hire">
                            <a title="Bike" href="/shop/bike">
                                <span>Workshop</span>
                            </a>
                            <div class="m-megamenu__content m-megamenu__content-initial">
                                <div class="m-megamenu_col">
                                    <div class="m-tile-belt m-category-tile-belt--header">
                                        <div class="m-tile-belt__inner">
                                            {{catTilesMacros.categoryTileT7(link="/ski-workshop", titleText="Snow Workshop", titleText="Snow Workshop", tileClasses=" c-tile-category--header")}}
                                            {{catTilesMacros.categoryTileT7(link="/bike-workshop", titleText="Bike Workshop", tileClasses=" c-tile-category--header")}}
                                            {{catTilesMacros.categoryTileT7(link="/snow-rental", titleText="Snow Hire", tileClasses=" c-tile-category--header")}}
                                            {{catTilesMacros.categoryTileT7(link="/bike-rental", titleText="Bike Hire", tileClasses=" c-tile-category--header")}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="inactive Hire" id="navtop_Hire">
                            <a title="Bike" href="/shop/Hire">
                                <span>Hire</span>
                            </a>
                        </li>                        
                    </ul>
                </div>
            </div>            
        </li>
<li>
    <a href="/community">Advice</a>
    <div class="m-megamenu__wrap">
        <div class="m-megamenu">
            <ul class="m-megamenu-community m-megamenu-shop" id="service-megamenu">
                <li class="" id="">
                    <a title="Help & Advice" href="/community/help-and-advice">
                        <span>Help & Advice</span>
                    </a>
                </li>
                <li class="" id="">
                    <a title="Our Blog" href="/community/blog">
                        <span>Our Blog</span>
                    </a>
                </li>
                 <li class="" id="">
                    <a title="Team T7" href="/community/teamt7">
                        <span>Team T7</span>
                    </a>
                </li>
                 <li class="" id="">
                    <a title="Upcoming Events" href="/community/events">
                        <span>Upcoming Events</span>
                    </a>
                </li>
            </ul>
            <div class="m-megamenu__content m-megamenu__content--initial">
                <div class="m-megamenu__col">
                        <a class="m-megamenu__banner m-megamenu__banner--right" data-promo-creative="outlet" href="/community" data-promo-name="/community" data-promo-id="/images/banners/2018-05-15/extra-snow/help-and-advice-menu.jpg"
                            class="promo_image_link" data-promo-creative="bike" data-promo-position="Menu Item-outlet">
<img src="https://www.torpedo7.co.nz/images/banners/2018-05-15/extra-snow/help-and-advice-menu.jpg"
    alt="" class="ga-tracked">
                        </a>
                </div>
            </div>
        </div>
    </div>
</li>
    </ul>
</div>
{%- endmacro %}