// 
// ------------------------------------- 
// 	TOOLS: #GUIDE
// -------------------------------------
//  used to style the framework pages
//  not used in production  
//


// 
// -------------------------------------
// 	Vars
// -------------------------------------
// 

$name     : g-box;
$selector : ".#{$name}";


// 
// -------------------------------------
// 	Selectors
// -------------------------------------
// 


// main
#{$selector} {

    background-color: $color-grey-light-80;
    // padding: 4rem;
    display:flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - #{$card-gutter});
    margin: $card-gutter / 2;

    &--column {
        background-color: $color-grey-light-80;
        // padding: 4rem;
        display:flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: $x6 0;
        text-align: center;
    }
}

// &__tile{
//     background-color: $color-c;
//     display:block;
//     width: 100%;
//     height: 100%;
//     padding: 10rem;
// }
    
