// 
// ------------------------------------- 
// 	TOOLS: #GUIDE
// -------------------------------------
//  used to style the framework pages
//  not used in production  
//


// 
// -------------------------------------
// 	Vars
// -------------------------------------
// 

$name     : g-display;
$selector : ".#{$name}";


// 
// -------------------------------------
// 	Selectors
// -------------------------------------
// 


// main
#{$selector} {
    display:none;
    &--red {
        display:none !important;
        
        .-brand-red & {
            // background-color: $theme-color-body;
            display: block !important;
        }
    }
    &--t7 {
        display:none  !important;
        
        .-brand-t7 & {
            // background-color: $theme-color-body;
            display: block !important;
        }
    }
    &--blue {
        display:none  !important;
        
        .-brand-blue & {
            // background-color: $theme-color-body;
            display: block !important;
        }
    }
}
    
