
$name     : g-page;
$selector : ".#{$name}";



// main
#{$selector} {
    background-color: white;

    //.g-page__header
    &__header {
        background-color: white;
        padding: 6rem 4rem;
        border-bottom: 1px solid #ADB5C2;
    }

    //.g-page__content
    &__content {
        display: block;
        padding: 32px 0;

    }

}