// 
// ------------------------------------- 
// 	GUIDE: Header
// -------------------------------------
//  used to style the framework pages
//  not used in production  
//

$name     : g-header;
$selector : ".#{$name}";


// 
// -------------------------------------
// 	Selectors
// -------------------------------------
// 

// main
#{$selector} {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    position: fixed;
    top:0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid #ADB5C2;
    z-index: 1000;

    &__label {
        @include text-font-size-p2;
        margin-right: 1rem;
    }

    &__select {
        margin: 1rem;
        border: 1px solid $color-grey-light-60;
        border-radius: 1px;
        padding: 1rem 3rem;
        @include text-font-size-p2;
        position: relative;
        z-index: 2;
        padding-right: 6rem;
    }

    &__inner {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__field {
        position: relative;
    }

    &__select-indicator {
        position: absolute;
        right: 1rem;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 1;
    }

}