// 
// ------------------------------------- 
// 	TOOLS: #GUIDE
// -------------------------------------
//  used to style the framework pages
//  not used in production  
//


// 
// -------------------------------------
// 	Vars
// -------------------------------------
// 

$name     : g-intro;
$selector : ".#{$name}";


// 
// -------------------------------------
// 	Selectors
// -------------------------------------
// 


// main
#{$selector} {
    @include text-spacing;
    padding: 10rem 0;

    &__wrap {
        // background-color: $color-grey;
        border-top: 1px solid $color-grey-light-20;
        border-bottom: 1px solid $color-grey-light-20;
        background-color: white;

        &:first-child {
            border-top: 0;
        }
    }

    .u-h3, .u-h4 {
        // color: white;
    }

    .u-p2 {
        // font-style: italic;
    }
}