
//
// ------------------------------------- 
//   GUIDE: #Main
// -------------------------------------
//  


$name     : g-main;
$selector : ".#{$name}";



//
// -------------------------------------
//   Selectors
// -------------------------------------
//


#{$selector} {
	padding-top: 12rem;
	margin-bottom: 3rem;
	background: white;
	color: #242a33;
}

