// 
// ------------------------------------- 
// 	GUIDE: Navigation
// -------------------------------------
//  used to style the framework pages
//  not used in production  
//

$name     : g-nav;
$selector : ".#{$name}";


// 
// -------------------------------------
// 	Selectors
// -------------------------------------
// 
$guide-nav-width: 200px;

// main
#{$selector} {
    @include g-font-text;
    width: $guide-nav-width;
    background: #242a33;
    position: fixed;
    top:0;
    left: -$guide-nav-width;
    height: 100vh;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    overflow: scroll;
    padding-top: 32px;
    transition: left 0.25s ease-in-out;
    z-index: 1001;

    > li ul > li
    {
        display:none;
    }

    li.-active > ul > li
    {
        display: inherit;
    }


    li.-active ul
    {
        display:block;
    }

    &__overlay {
        position:absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top:0;
        background-color: transparent;
        display:none;
        z-index: 1000;

        .-guide-nav-active & {
            display:block;
         }
    }

    .-guide-nav-active & {
        left:0;
    }

    &__heading {
        @include text-font-size-p1;
        text-align: center;
        color: #ffffff;
        font-size: 1.5rem;

        &:after {
            display: none;
        }

        display: none;
    }

    &__btn {
        position: fixed;
        z-index: 1002;
        top: 0;
        left: 0;
        transition: left 0.25s ease-in-out;

        .-guide-nav-active & {
            left: $guide-nav-width - 36px;
        }
    }

    &__icon {
        display: block;
        color: $color-a;
        width: 24px;
        height: 24px;
        margin: 6px;
        position: absolute;
        top:0;
        transition: opacity 0.25 linear;

        &--burger {
            // background-color: red;
            opacity: 1;
            .-guide-nav-active & {
                opacity: 0;
            }
            
        }
        &--close {
            color: white;
            fill: white;
            svg {
                color: white;
                fill: white;
                use {
                    color: white;
                    fill: white;
                }
            }
            opacity: 0;
            .-guide-nav-active & {
                opacity: 1;
            }
        }
    }

    &__list{
        margin-left: 0;
        list-style: none;
        // padding: 0;
        width: 100%;
        
        line-height: 1.5;
        padding: 0;
        // margin: 0 0 0 16px;
    }

    &__item {
        line-height: 1.5;
        list-style: none;
        list-style-type: none;
        cursor: pointer;

        &:before {
            display: none;
        }
        &:visited {
            color: #687384;
        }

        &--child {
            padding-left: 4rem;
            display: none;
        }

    }

    &__link {
        position: relative;
        display: block;
        // padding: 0 16px;
        line-height: 1.25;
        color: #687384;
        line-height: 1.5;
        text-decoration: none;
        width: auto;
        font-size: 14px;
        padding: 4px 16px 4px 16px;

        &:hover {
            color: white !important;
        }

        // .-parent.-active & {
        //     color: white;
        // }

        &:visited {
            color: #687384;
        }

        &.-active {
            color: white;
        }

        

    }

    &__link-icon {
        position: absolute;
        right: 5rem;
        display: inline-block;
        // border: 1px solid #fff;
        width: 4rem;
        height: 4rem;
        transform: rotate(90deg);

        .-active & {
            transform: rotate(-90deg);
            margin-right: 2rem;
        }

        display: none;
    }

    .c-icon {

        &--small {
            width: inherit;
            height: inherit;
        }
    }
    
}