// 
// ------------------------------------- 
// 	TOOLS: Swatch
// -------------------------------------
//  used to style the framework pages
//  not used in production  
//


$name     : g-swatch;
$selector : ".#{$name}";


// main
#{$selector} {

    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 8rem);

    &__group {
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;
        width: 100%;
    }

    &__code {
      margin-top: 2rem;
    }

    &__hex {
      text-transform: uppercase;
    }
}

