// 
// ------------------------------------- 
// 	TOOLS: #GUIDE
// -------------------------------------
//  
//


$name     : g-variants;
$selector : ".#{$name}";


// 
// -------------------------------------
// 	Selectors
// -------------------------------------
// 


// main
#{$selector} {

    &__header {
        display:block;
    } 
    &__label {
      
    } 
    &__input {
      
    } 
    &__btns{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    &__btn{
        // background-color: $color-c;
        // border: 2px solid $color-c;
        font-family: $g-font;
        padding: 10px;
        &.-active{
            background-color: $color-grey-light-20;
            // border: 2px solid $color-a;
        }
        @include hover{
            &:not(.-active){
                background-color: $color-grey-light-20;
                // border: 2px solid $color-b;
            }
        }
    }

    &__content{
        padding: 20rem;
        background-color: $color-c;
    }
    &__item{
        
    }
}
