

@mixin max-width-red-live() {
    position: relative;
    width: 100%;

    @include media($media-l){
        max-width: 988px;
    }
}

@mixin max-width-clp-red-live() {
    position: relative;
    width: 100%;

    @include media($media-s){
        max-width: 556px;
    }

    @include media($media-l){
        max-width: 736px;
    }
}