/*CSS3 Columns*/
@mixin columns($column-count: 3, $column-gap: 1rem, $column-rule:none) {
    column-count: $column-count;
    column-gap: $column-gap;
    column-rule: $column-rule;
}
@mixin columns-break($val:avoid) {
    column-break-inside: $val;
    page-break-inside: $val;
    break-inside: $val;
}


@mixin flex($flex-grow, $flex-shrink:"", $flex-basis:"") {
    flex: $flex-grow #{$flex-shrink} #{$flex-basis}; //Hack for IE
    @if $flex-basis=="" {
        $flex-check: append($flex-grow, "false");
        $flex-check: append($flex-check, "false");
        @if nth($flex-check, 3) !="false" {
            $flex-width: nth($flex-check, 3);
            max-width: $flex-width;
            width: 100%;
        }
    }
}


@mixin list-style-reset {
    list-style: none;
    padding: 0;
    margin: 0;
    &>li {
        margin: 0;
        padding: 0;
    }
}

/// Triangle helper mixin
/// @param {Direction} $direction - Triangle direction, either `top`, `right`, `bottom` or `left`
/// @param {Color} $color [currentcolor] - Triangle color 
/// @param {Length} $size [1em] - Triangle size
@mixin triangle($direction:top, $color: #000, $size: 1em, $zindex:2) {
    width: 0;
    height: 0;
    content: '';
    z-index: $zindex;
    border-#{($direction)}: $size solid $color;
    $perpendicular-borders: $size solid transparent;
    @if $direction==top or $direction==bottom {
        border-left: $perpendicular-borders;
        border-right: $perpendicular-borders;
    }
    @else if $direction==right or $direction==left {
        border-bottom: $perpendicular-borders;
        border-top: $perpendicular-borders;
    }
}
