.g-bg{
    &-black{
	    background-color:$color-black !important;
    }
    &-white{
	    background-color:$color-white !important;
    }
    &-a{
		background-color:$color-a !important;
		&-dark-10 {
			background-color:$color-a-dark-10 !important;
		}
		&-light-20 {
			background-color:$color-a-light-20 !important;
		}
		&-light-40 {
			background-color:$color-a-light-40 !important;
		}
		&-light-60 {
			background-color:$color-a-light-60 !important;
		}
		&-light-80 {
			background-color:$color-a-light-80 !important;
		}
		// &-light-98 {
		// 	background-color:$color-a-light-98 !important;
		// }
    }
    &-b{
        background-color:$color-b !important;
    }
    &-c{
        background-color:$color-c !important;
	}
	&-d{
        background-color:$color-d !important;
	}
	&-e{
        background-color:$color-e !important;
	}
	&-f{
        background-color:$color-f !important;
	}
	&-g{
        background-color:$color-g !important;
    }
    &-grey-light-98{
	    background-color:$color-grey-light-98 !important;
    }
    &-grey-light-90{
        background-color:$color-grey-light-90 !important;
        &-l {
            @include media($media-l) {
                background-color:$color-grey-light-90 !important;
            }
        }
    }
    &-grey-light-80{
	    background-color:$color-grey-light-80 !important;
    }
    &-grey-light-60{
	    background-color:$color-grey-light-60 !important;
    }
    &-grey-light-40{
	    background-color:$color-grey-light-40 !important;
    }
    &-grey-light-20{
	    background-color:$color-grey-light-20 !important;
    }

    &-clearance{
	    background-color:$color-clearance !important;
	}
	
	&-confirmation{
	    background-color:$color-confirmation !important;
	}
	&-warning{
	    background-color:$color-warning !important;
	}
	&-warning-light-95{
	    background-color:$color-warning-light-95 !important;
	}
		
	&-error{
	    background-color:$color-error !important;
	}
	&-error-light-95{
	    background-color:$color-error-light-95 !important;
	}
	&-info{
	    background-color:$color-info !important;
	}
	&-info-light-95{
	    background-color:$color-info-light-95 !important;
	}
	&-sale{
	    background-color:$color-sale !important;
	}
	&-clearance{
	    background-color:$color-clearance !important;
	}
	&-club{
	    background-color:$color-club !important;
	}
}