
.u-centered{
	text-align: center !important;
}

.u-clearfix{
	@include clearfix;
}

.u-full-width{
	width:100%;
}

.u-block{
	display:block !important;
}

.u-relative{
	position:relative;
}

.u-max-width{
	@include max-width();
}
