

.u-grid {
	display: grid;
	margin: 2px 0; 
	grid-column-gap: $card-gutter;
	grid-row-gap: $card-gutter;
	width: auto;

	&--wide-gap {
		grid-column-gap: $card-gutter-large;
		grid-row-gap: $card-gutter-large;
	}

	&-m {
		@include media($media-m) {
			display: grid;
			margin: 2px 0; 
			grid-column-gap: 2px; 
			grid-row-gap: 2px;
			width: 100%;
		}
	}

	//
	// Grid item alignment
	/////////////////////////////////////////
	
	&-justify-left {
		justify-items: start;

		&-s {
			@include media($media-s) {
				justify-items: start;
			}
		}
		
		&-m {
			@include media($media-m) {
				justify-items: start;
			}
		}
		
		&-l {
			@include media($media-l) {
				justify-items: start;
			}
		}
		
	}

	&-justify-right {
		justify-items: end;

		&-s {
			@include media($media-s) {
				justify-items: end;
			}
		}
		
		&-m {
			@include media($media-m) {
				justify-items: end;
			}
		}
		
		&-l {
			@include media($media-l) {
				justify-items: end;
			}
		}
	}

	&-justify-center {
		justify-items: center;

		&-s {
			@include media($media-s) {
				justify-items: center;
			}
		}
		
		&-m {
			@include media($media-m) {
				justify-items: center;
			}
		}
		
		&-l {
			@include media($media-l) {
				justify-items: center;
			}
		}
	}

	&-align-top {
		align-items: start;

		&-s {
			@include media($media-s) {
				align-items: start;
			}
		}

		&-m {
			@include media($media-m) {
				align-items: start;
			}
		}

		&-l {
			@include media($media-l) {
				align-items: start;
			}
		}
	}

	&-align-bottom {
		align-items: end;

		&-s {
			@include media($media-s) {
				align-items: end;
			}
		}

		&-m {
			@include media($media-m) {
				align-items: end;
			}
		}

		&-l {
			@include media($media-l) {
				align-items: end;
			}
		}
	}

	&-align-center {
		align-items: center;

		&-s {
			@include media($media-s) {
				align-items: center;
			}
		}

		&-m {
			@include media($media-m) {
				align-items: center;
			}
		}

		&-l {
			@include media($media-l) {
				align-items: center;
			}
		}
	}

	&-align-self-center {
		align-self: center;

		&-s {
			@include media($media-s) {
				align-self: center;
			}
		}

		&-m {
			@include media($media-m) {
				align-self: center;
			}
		}

		&-l {
			@include media($media-l) {
				align-self: center;
			}
		}
	}

	&-align-self-left {
		align-self: start;

		&-s {
			@include media($media-s) {
				align-self: start;
			}
		}

		&-m {
			@include media($media-m) {
				align-self: start;
			}
		}

		&-l {
			@include media($media-l) {
				align-self: start;
			}
		}
	}

	&-align-self-right {
		align-self: end;

		&-s {
			@include media($media-s) {
				align-self: end;
			}
		}

		&-m {
			@include media($media-m) {
				align-self: end;
			}
		}

		&-l {
			@include media($media-l) {
				align-self: end;
			}
		}
	}
}
.u-grid-item {
	background-color: #E6E6E6;
	position: relative;
	// padding: 2rem;
	// padding-bottom: 72px;
}

.u-grid-auto-fit {
	&-100 {
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

		&-s {
			@include media($media-s) {
				grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
			}
		}

		&-m {
			@include media($media-m) {
				grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
			}
		}

		&-l {
			@include media($media-l) {
				grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
			}
		}
	}
	&-150 {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

		&-s {
			@include media($media-s) {
				grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
			}
		}

		&-m {
			@include media($media-m) {
				grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
			}
		}

		&-l {
			@include media($media-l) {
				grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
			}
		}
	}
	&-200 {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

		&-s {
			@include media($media-s) {
				grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			}
		}

		&-m {
			@include media($media-m) {
				grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			}
		}

		&-l {
			@include media($media-l) {
				grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
			}
		}
	}
	&-250 {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

		&-s {
			@include media($media-s) {
				grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			}
		}

		&-m {
			@include media($media-m) {
				grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			}
		}

		&-l {
			@include media($media-l) {
				grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			}
		}
	}
	&-300 {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

		&-s {
			@include media($media-s) {
				grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			}
		}

		&-m {
			@include media($media-m) {
				grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			}
		}

		&-l {
			@include media($media-l) {
				grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			}
		}
	}
	&-320 {
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

		&-s {
			@include media($media-s) {
				grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
			}
		}

		&-m {
			@include media($media-m) {
				grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
			}
		}

		&-l {
			@include media($media-l) {
				grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
			}
		}
	}
	&-350 {
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

		&-s {
			@include media($media-s) {
				grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
			}
		}

		&-m {
			@include media($media-m) {
				grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
			}
		}

		&-l {
			@include media($media-l) {
				grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
			}
		}
	}
	&-375 {
		grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));

		&-s {
			@include media($media-s) {
				grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
			}
		}

		&-m {
			@include media($media-m) {
				grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
			}
		}

		&-l {
			@include media($media-l) {
				grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
			}
		}
	}
}

.u-grid-cols {
	&-1 {
		grid-template-columns: 1fr;
	}
	&-2 {
		grid-template-columns: repeat(2, 1fr);
	}
	&-4 {
		grid-template-columns: repeat(4, 1fr); 
	}
	&-4-s {
		@include media($media-s) {
			grid-template-columns: repeat(4, 1fr); 
		}
	}
	&-3-m {
		@include media($media-m) {
			grid-template-columns: repeat(3, 1fr); 
		}
	}
	&-4-m {
		@include media($media-m) {
			grid-template-columns: repeat(4, 1fr); 
		}
	}
	&-6-m {
		@include media($media-m) {
			grid-template-columns: repeat(6, 1fr); 
		}
	}
	&-8-m {
		@include media($media-m) {
			grid-template-columns: repeat(8, 1fr); 
		}
	}
	&-6-l {
		@include media($media-l) {
			grid-template-columns: repeat(6, 1fr); 
		}
	}
	&-8-l {
		@include media($media-l) {
			grid-template-columns: repeat(8, 1fr); 
		}
	}
	&-8-xl {
		@include media($media-xl) {
			grid-template-columns: repeat(8, 1fr); 
		}
	}
}
.u-grid-rows {

	&-3 {
		grid-template-rows: repeat(3, 1fr); 
	}
	&-1-m {
		@include media($media-m) {
			grid-template-rows: 1fr; 
		}
	}
	&-2-m {
		@include media($media-m) {
			grid-template-rows: repeat(2, 1fr); 
		}
	}
	&-4-m {
		@include media($media-m) {
			grid-template-rows: repeat(4, 1fr); 
		}
	}
}

.u-grid-item-cols{
	&-2{
		grid-column: span 2;
	}
	&-1-m{
		@include media($media-m) {
			grid-column: span 1;
		}
	}
	&-2-m{
		@include media($media-m) {
			grid-column: span 2;
		}
	}
}
.u-grid-item-rows{
	&-2{
		grid-row: span 2;
	}
	&-2-m{
		@include media($media-m) {
			grid-row: span 2;
		}
	}
	&-4-m{
		@include media($media-m) {
			grid-row: span 4;
		}
	}

}
.u-grid-flow-row {
	grid-auto-flow: row;

	&-s {
		@include media($media-s) {
			grid-auto-flow: row;
		}
	}

	&-m {
		@include media($media-m) {
			grid-auto-flow: row;
		}
	}

	&-l {
		@include media($media-l) {
			grid-auto-flow: row;
		}
	}
}
.u-grid-flow-column {
	grid-auto-flow: column;

	&-s {
		@include media($media-s) {
			grid-auto-flow: column;
		}
	}

	&-m {
		@include media($media-m) {
			grid-auto-flow: column;
		}
	}

	&-l {
		@include media($media-l) {
			grid-auto-flow: column;
		}
	}
}
.u-grid-flow-row-dense {
	grid-auto-flow: row dense;

	&-s {
		@include media($media-s) {
			grid-auto-flow: row dense;
		}
	}

	&-m {
		@include media($media-m) {
			grid-auto-flow: row dense;
		}
	}

	&-l {
		@include media($media-l) {
			grid-auto-flow: row dense;
		}
	}
}
.u-grid-flow-column-dense {
	grid-auto-flow: column dense;

	&-s {
		@include media($media-s) {
			grid-auto-flow: column dense;
		}
	}

	&-m {
		@include media($media-m) {
			grid-auto-flow: column dense;
		}
	}

	&-l {
		@include media($media-l) {
			grid-auto-flow: column dense;
		}
	}
}




.u-max-width-m{
	max-width: 1024px;
	width: 100%; 
	margin: 0 auto;
}