//Mixin is in tools/mixins/_layouts.scss
//Usage Examples:
//u-margin
//u-margin-x2
//u-margin-top
//u-margin-top-s
//u-margin-top-x2-s
//u-margin-top-x2
@include make-spacing("margin");
.u-margin-0{
	margin:0 !important;
}

//Usage Examples:
//u-padding
//u-padding-x2
//u-padding-top
//u-padding-top-s
//u-padding-top-x2-s
//u-padding-top-x2
@include make-spacing("padding");
.u-padding-0{
	padding:0 !important;
}

.u-padding-x0{
	padding:0 !important;
	&-m {
		@include media($media-m) {
			padding:0 !important;
		}
	}
}
.u-padding-top-x0 {
	padding-top:0 !important;
	&-m {
		@include media($media-m) {
			padding-top:0 !important;
		}
	}
	
}

.u-margin-x0{
	margin:0 !important;
	&-m {
		@include media($media-m) {
			margin:0 !important;
		}
	}
}
.u-margin-top-x0 {
	margin-top:0 !important;
	&-m {
		@include media($media-m) {
			margin-top:0 !important;
		}
	}
	
}

// @include media($media-s-max)
// {
// 	.u-padding-top-zero-s
// 	{
// 		padding-top:0;
// 	}
// }

@mixin spacer{
	display:flex;
	width: 100%;
}

//.u-spacer-x1
// .u-spacer{
// 	&-x1{
// 		@include spacer;
// 		height: 10px;
// 	}
// 	&-x2{
// 		@include spacer;
// 		height: 20px;
// 	}
// 	&-x3{
// 		@include spacer;
// 		height: 30px;
// 	}
// 	&-x4{
// 		@include spacer;
// 		height: 40px;
// 	}
// }

// &.u-mobile-padding{

//     @include media($media-s-max){
//       padding-left: $module-vpadding-x2;
//       padding-right: $module-vpadding-x2;
//     }
// }

.u-no-pad{
	padding: 0 !important;
}

.u-no-margin{
	margin: 0 !important;
}

