.g{
	&-heading{
		@include g-font-header();
	}
	&-text{
		@include g-font-text();
	}
	&-h1{
		@include g-font-size-h1;
	}
	&-h2{
		@include g-font-size-h2;
	}
	&-h3{
		@include g-font-size-h3;
	}
	&-h4{
		@include g-font-size-h4;
	}
	&-h5{
		@include g-font-size-h5;
	}

	&-p1{
		@include g-font-size-p1;
	}
	&-p2{
		@include g-font-size-p2;
	}
	&-p3{
		@include g-font-size-p3;
	}
	&-p4{
		@include g-font-size-p4;
		font-weight: normal;
		line-height: 20px;
		letter-spacing: 0.4px;
	}

	&-light {
		font-weight: $g-font-weight-light;
	}
	&-regular{
		font-weight: $g-font-weight-regular !important;
	}
	&-medium{
		font-weight: $g-font-weight-medium;
	}
	&-bold{
		font-weight: $g-font-weight-bold;
	}
	
}

.g-spacing {

	.g{  
		  &-xxl{
			  margin-bottom: 4rem;
			  @include media($media-m) {
				  margin-bottom: 8rem;
			  }
			  @include media($media-m) {
				  margin-bottom: 10rem;
			  }
		  }
		  
		  &-h1{
	
			margin-bottom: 0.5em;

		  }
		  &-h2{
		margin-bottom: 1em;
		
			  @include media($media-m) {
				  margin-bottom: 1em;
			  }
			  @include media($media-m) {
				  margin-bottom: 0.75em;
			  }
		  }
		  &-h3{
		margin-bottom: 1.25em;
		
			  // @include media($media-m) {
		//   margin-bottom: 1.25em;
			  // }
			  // @include media($media-m) {
		//   margin-bottom: 1.25em;
			  // }
		  }
		  &-h4{
		margin-bottom: 1.25em;
		
			  // @include media($media-m) {
			  // 	margin-bottom: 5rem;
			  // }
			  // @include media($media-m) {
			  // 	margin-bottom: 6rem;
			  // }
		  }
		  &-h5{
		margin-bottom: 1.5em;
		
			  // @include media($media-m) {
			  // 	margin-bottom: 3rem;
			  // }
			  // @include media($media-m) {
			  // 	margin-bottom: 4rem;
			  // }
		  }
		  &-h6{
		margin-bottom: 1.5em;
		
			  // @include media($media-m) {
			  // 	margin-bottom: 3rem;
			  // }
			  // @include media($media-m) {
			  // 	margin-bottom: 4rem;
			  // }
		  }
	  
		  &-p1{
			  display: block;
		margin-bottom: 1.5em;
		
			  // @include media($media-m) {
		  
		//   margin-bottom: 1.5em;
			  // }
			  // @include media($media-m) {
		//   margin-bottom: 1.5em;
			  // }
		  }
		  &-p2{
			  display: block;
		margin-bottom: 1.5em;
		
			  // @include media($media-m) {
			  // 	margin-bottom: 1.5em;
			  // }
			  // @include media($media-m) {
			  // 	margin-bottom: 1.5em;
			  // }
		  }
		  &-p3{
			  display: block;
			  margin-bottom: 1.25em;
			  
		  }
  
		  &-h1, &-h2, &-h3, &-h4, &-h5, &-h6, &-p1, &-p2, &-p3 {
			  &:last-child {
				  margin-bottom: 1rem;
		}
		&:first-child {
				  margin-top: 0;
			  }
	  }  
	}
  
	.c-btn {
	  margin-top: 2rem;
  
	  // @include media($media-m) {
	  //   margin-top: 2rem;
	  // }
	}
}

.g-intro {
	h1,h2, h3, h4, h5 {
		@include g-font-size-h3;
	}
	p {
		@include g-font-size-p2;
	}

	h1{
		@include g-font-size-h1;
	}
	h2{
		@include g-font-size-h2;
	}
	h3{
		@include g-font-size-h3;
	}
	h4{
		@include g-font-size-h4;
	}
	h5{
		@include g-font-size-h5;
	}

}
