{% import 'html/t7-live/macros/image.html' as imageMacros %} 
{% import 'html/t7-live/macros/icons.html' as iconMacros %}
{% import 'html/t7-live/components/tiles/macros.html' as tileMacros %}
{% import 'html/t7-live/modules/tiles-category/macros.html' as catTilesMacros %}
{% import 'html/t7-live/modules/brands/macros.html' as brandsMacros %}

{% macro pageTitleSimpleT7(options) -%}
<section class='m-wrap m-page-title'>
    <div class="m-wrap__card">
        <div class="m-wrap__inner">
            <div class="m-wrap__content m-page-title__title-block">
                {{breadcrumbsT7PLP(options)}}
                <h1 class="u-h3 m-page-title__title">{{options.heading}}</h1>
            </div>
        </div>
    </div>
</section>
{%- endmacro %}

{% macro pageTitleCategoriesT7(options) -%}

    <!--{{catTilesMacros.categoryTilesBeltBannerPopulatedT7("u-bg-grey-light-90 m-page-title__hero")}}-->

    <section class='m-wrap m-page-title__wrap '>
        <div class="m-wrap__card">
            <div class="m-wrap__inner m-page-title m-page-title--banner">

                <div class="m-wrap__content m-page-title__title-block m-page-title__title-block--banner">
                    {{breadcrumbsT7PLP(options)}}
                    <h1 class="u-h3 m-page-title__title">{{options.heading}}</h1>
                </div>
                 {{brandsMacros.brandsBeltT7(options)}}   
            </div>
        </div>
         
    </section>

{%- endmacro %}

{% macro pageTitleSearchT7(options) -%}
<section class='m-wrap m-page-title__wrap'>
    <div class="m-wrap__card">
        <div class="m-wrap__inner m-page-title m-page-title--search">
            
            <div class="m-wrap__content m-page-title__title-block">
                {{breadcrumbsT7PLP(options)}}
                <h1 class="u-h3 m-page-title__title">{{options.heading}}</h1>
            </div>
            <div class="m-page-title__category-belt ">

                <div class="m-category-tile-belt m-category-tile-belt--belt">
                    <div class="m-tile-belt__inner">
                        {% for i in range(0, 4) -%}
                        
                            {{catTilesMacros.categoryTileT7(tileClasses="c-tile-category--belt")}}
                        
                        {%- endfor %}
                    </div>
                </div>

            </div>
            
        </div>
    </div>
</section>
{%- endmacro %}

{% macro pageTitleCartT7(options) -%}
<section class='m-wrap m-page-title__wrap'>
    <div class="m-wrap__card">
        <div class="m-wrap__inner m-page-title m-page-title--search">
            
            <div class="m-wrap__content m-page-title__title-block">
                {{breadcrumbsT7PLP(options)}}
                <h1 class="u-h3 m-page-title__title">{{options.heading}}</h1>
            </div>
            
        </div>
    </div>
</section>
{%- endmacro %}


{% macro breadcrumbsT7PLP(options) -%}
    <div class="c-breadcrumbs">
        <a href="" class="c-breadcrumbs__link">{{options.breadcrumbsL1 | safe}}</a>
        <div class="c-breadcrumbs__sep">/</div>
        <a href="" class="c-breadcrumbs__link">{{options.breadcrumbsL2 | safe}}</a>
        {% if options.breadcrumbsL3 %}
            <div class="c-breadcrumbs__sep">/</div>
            <div class="c-breadcrumbs__item">{{options.breadcrumbsL3 | safe}}</div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro breadcrumbsT7Cart(options) -%}
    <div class="c-breadcrumbs">
        <a href="" class="c-breadcrumbs__link">{{ iconMacros.iconChevronLeft(classes="c-breadcrumbs__icon") }} {{options.breadcrumbsL1 | safe}}</a>
    </div>
{%- endmacro %}

{% macro pageTitleSimpleT7PopulatedPLP() -%}
    {% 
        set options = {
            heading:'Search Results for "Winter"',
            breadcrumbsL1: "Home",
            breadcrumbsL2: "Search Results"
        }
    %}
    {{pageTitleSimpleT7(options)}}
{%- endmacro %}

{% macro pageTitleCategoriesT7PopulatedPLP(wrapClasses) -%}

    {% 
        set options = {
            heading:"Bikes & Frames",
            breadcrumbsL1: "Home",
            breadcrumbsL2: "Bike",
            breadcrumbsL3: "Bikes & Frames",
            wrapClasses: wrapClasses
        }
    %}
    {{pageTitleCategoriesT7(options)}}

{%- endmacro %}

{% macro pageTitleSearchT7Populated() -%}
    {% 
        set options = {
            heading:'Search Results for "Winter"',
            breadcrumbsL1: "Home",
            breadcrumbsL2: "Search Results"
        }
    %}
    {{pageTitleSearchT7(options)}}
{%- endmacro %}

{% macro pageTitleCartT7Populated() -%}
    {% 
        set options = {
            heading:"Cart (3)",
            breadcrumbsL1: "Home",
            breadcrumbsL2: "Cart"
        }
    %}
    {{pageTitleCartT7(options)}}
{%- endmacro %}

{% macro pageTitleCheckoutT7Populated() -%}
    {% 
        set options = {
            heading:'Delivery & Payment',
            breadcrumbsL1: "Back to Cart"
        }
    %}
    {{pageTitleCartT7(options)}}
{%- endmacro %}