{% import 'html/t7-live/modules/page-title/macros.html' as pageTitleMacros %}
{% import 'html/guide/macros/module.html' as wrapMacros %}
{% import 'html/guide/macros/guide.html' as guideMacros %}

<div class="g-display--t7 u-block">

    
    {% call guideMacros.docs2ColWrap() -%}

        {% call guideMacros.docs2ColColumn1Wrap(colHeading="M0180: Page title with category belt (Used on PLP)") -%}
            
            <p>
                On PLP there is a "Category tiles belt banner" module at the top. This only displays on desktop. <br /><br />
                Note: the category tiles module below is just a static image demonstrating mobile and desktop breakpoints.<br />
            </p>

        {% endcall %}

        {% call guideMacros.docs2ColColumn2Wrap(colHeading="Category Tile Specs:") -%}
            <p>
                <a href="/Custom/FrontEnd/html/modules/categories-tiles-belt-banner.html">View "Category tiles belt banner" category tile specs</a>
            </p>
        {% endcall %}
    {% endcall %}

    {{pageTitleMacros.pageTitleCategoriesT7PopulatedPLP()}}


    {% call guideMacros.docs2ColWrap() -%}

        {% call guideMacros.docs2ColColumn1Wrap(colHeading="M0181: Page title with category tiles belt (used on search results)") -%}
            
            <p>
                On Search Results a "category tiles belt" module displays under the title block. On mobile this displays as a scrollable belt. <br /><br />
                Note: the category tiles module below is just a static image demonstrating mobile and desktop breakpoints.<br />
            </p>

        {% endcall %}

        {% call guideMacros.docs2ColColumn2Wrap(colHeading="Category Tile Specs:") -%}
            <p>
                <a href="/Custom/FrontEnd/html/modules/categories-tiles-belt.html">View "category tiles belt" category tile specs</a>
            </p>
        {% endcall %}
    {% endcall %}

    {{pageTitleMacros.pageTitleSearchT7Populated()}}

    {% call guideMacros.docs2ColWrap() -%}

        {% call guideMacros.docs1ColColumnWrap(colHeading="M0182: Page title simple (Used on more specific search results)") -%}
        {% endcall %}

    {% endcall %}

    {{pageTitleMacros.pageTitleSimpleT7PopulatedPLP()}}

    {% call guideMacros.docs2ColWrap() -%}

        {% call guideMacros.docs1ColColumnWrap(colHeading="M0183A: Page title cart") -%}
        {% endcall %}

    {% endcall %}

    {{pageTitleMacros.pageTitleCartT7Populated()}}

    {% call guideMacros.docs2ColWrap() -%}

        {% call guideMacros.docs1ColColumnWrap(colHeading="M0183B: Page title checkout") -%}
        {% endcall %}

    {% endcall %}

    {{pageTitleMacros.pageTitleCheckoutT7Populated()}}

</div>
