{% import 'html/t7-live/macros/image.html' as imageMacros %} 
{% import 'html/t7-live/macros/icons.html' as iconMacros %}
{% import 'html/t7-live/components/tiles/macros.html' as tileMacros %}
{% import 'html/t7-live/modules/tiles-category/macros.html' as catTilesMacros %}
{% import "html/t7-live/macros/icons.html" as iconMacro %}

{% macro siteTreeWrap(options) -%}
<section class='m-wrap {{options.wrapClasses}}' data-module="site-tree-reveal">
    <div class="m-wrap__card">
        <div class="m-wrap__inner">
            <div class="m-wrap__header">
                <h2 class="u-h3 m-wrap__heading">{{options.heading}}</h2>
                {% if options.description %}<p>{{options.description}}</p>{% endif %}
            </div>
            <div class="m-wrap__content">
                <div class="m-site-tree js-links-wrap js-reveal">
                    <div class="m-site-tree__overlay"></div>
                    {{caller()}}
                </div>
            </div>
            <div class="m-wrap__footer">
                <a href="#" class="c-btn c-btn--primary-inverse js-reveal-btn m-site-tree__btn">{{options.ctaText}}</a>
            </div>
        </div>
    </div>
</section>
{%- endmacro %}

{% macro siteTree(options) -%}
    {% call siteTreeWrap(options) -%}
    <ul>
        <li>
            <a href="/shop/bike/bikes-and-frames">Bikes &amp; Frames</a>
            <ul>
                <li>
                    <a href="/shop/bike/mountain-bikes">Mountain bikes</a>
                </li>
                <li>
                    <a href="/shop/bike/road-bikes">Road Bikes</a>
                </li>
                <li>
                    <a href="/shop/bike/kids-bikes">Kid's Bikes</a>
                </li>
                <li>
                    <a href="/shop/bike/electric-bikes">Electric Bikes</a>
                </li>
                <li>
                    <a href="/shop/bike/cyclocross-bikes">Cyclocross Bikes</a>
                </li>
                <li>
                    <a href="/shop/bike/urban-bikes">Urban Bikes</a>
                </li>
                <li>
                    <a href="/shop/bike/bmx-bikes">BMX Bikes</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/shop/bike/scooters">Scooters</a>
        </li>
        <li>
            <a href="/shop/bike/helmets-protection">Helmets &amp; Protection</a>
            <ul>
                <li>
                    <a href="/shop/bike/mountain-bike-helmets">Mountain Bike Helmets</a>
                </li>
                <li>
                    <a href="/shop/bike/road-helmets">Road Helmets</a>
                </li>
                <li>
                    <a href="/shop/bike/full-face-helmets">Full-face Helmets</a>
                </li>
                <li>
                    <a href="/shop/bike/kids-helmets">Kids Helmets</a>
                </li>
                <li>
                    <a href="/shop/bike/dirt-helmets">Dirt Helmets</a>
                </li>
                <li>
                    <a href="/shop/bike/elbow-pads">Elbow Pads</a>
                </li>
                <li>
                    <a href="/shop/bike/body-armour">Body Armour</a>
                </li>
                <li>
                    <a href="/shop/bike/neck-braces">Neck Braces</a>
                </li>
                <li>
                    <a href="/shop/bike/sports-cream">Sports Cream</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/shop/bike/bike-racks-transport">Bike Racks &amp; Transport</a>
            <ul>
                <li>
                    <a href="/shop/bike/bungy-cords-buffers">Bungy Cords &amp; Buffers</a>
                </li>
                <li>
                    <a href="/shop/bike/bike-racks">Bike Racks</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/shop/bike/bike-accessories">Bike Accessories</a>
            <ul>
                <li>
                    <a href="/shop/bike/bike-lights">Bike Lights</a>
                </li>
                <li>
                    <a href="/shop/bike/bottle-cages">Bottle Cages</a>
                </li>
                <li>
                    <a href="/shop/bike/pannier-racks">Pannier Racks</a>
                </li>
                <li>
                    <a href="/shop/bike/bike-trailers">Bike Trailers</a>
                </li>
                <li>
                    <a href="/shop/bike/phone-holder">Phone Holder</a>
                </li>
                <li>
                    <a href="/shop/bike/cycle-mirrors">Cycle Mirrors</a>
                </li>
                <li>
                    <a href="/shop/bike/mudguards">Mudguards</a>
                </li>
                <li>
                    <a href="/shop/bike/indoor-cycle-trainer">Indoor Cycle Trainer</a>
                </li>
                <li>
                    <a href="/shop/bike/cycle-computer">Cycle Computer</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/shop/bike/bike-parts">Bike Parts</a>
            <ul>
                <li>
                    <a href="/shop/bike/pedals">Pedals</a>
                </li>
                <li>
                    <a href="/shop/bike/handlebars-grips">Handlebars &amp; Grips</a>
                </li>
                <li>
                    <a href="/shop/bike/saddles">Saddles</a>
                </li>
                <li>
                    <a href="/shop/bike/brakes">Brakes</a>
                </li>
                <li>
                    <a href="/shop/bike/chains-derailleurs">Chains &amp; Derailleurs</a>
                </li>
                <li>
                    <a href="/shop/bike/forks">Forks</a>
                </li>
                <li>
                    <a href="/shop/bike/shifters">Shifters</a>
                </li>
                <li>
                    <a href="/shop/bike/group-sets">Group Sets</a>
                </li>
                <li>
                    <a href="/shop/bike/tyres-wheels">Tyres &amp; Wheels</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/shop/bike/tools-storage">Tools &amp; Storage</a>
            <ul>
                <li>
                    <a href="/shop/bike/bike-pumps">Bike Pumps</a>
                </li>
                <li>
                    <a href="/shop/bike/lubrication">Lubrication</a>
                </li>
                <li>
                    <a href="/shop/bike/bike-cleaning">Bike Cleaning</a>
                </li>
                <li>
                    <a href="/shop/bike/bike-tools">Bike Tools</a>
                </li>
                <li>
                    <a href="/shop/bike/workstands">Workstands</a>
                </li>
                <li>
                    <a href="/shop/bike/bike-storage">Bike Storage</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/shop/bike/bike-clothing">Bike Clothing</a>
            <ul>
                <li>
                    <a href="/shop/bike/jackets">Jackets</a>
                </li>
                <li>
                    <a href="/shop/bike/tops">Tops</a>
                </li>
                <li>
                    <a href="/shop/bike/pants-shorts">Pants &amp; Shorts</a>
                </li>
                <li>
                    <a href="/shop/bike/thermals-baselayers">Thermals &amp; Baselayers</a>
                </li>
                <li>
                    <a href="/shop/bike/accessories">Accessories</a>
                </li>
                <li>
                    <a href="/shop/bike/footwear">Footwear</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/shop/bike/bike-bags-packs">Bike Bags &amp; Packs</a>
        </li>
        <li>
            <a href="/shop/bike/bike-brands">Bike Brands</a>
        </li>
        <li>
            <a href="/shop/bike/cycle-clearance">Cycle Clearance</a>
        </li>
    </ul>
    {%- endcall %}
{%- endmacro %}


{% macro siteTreeT7Populated() -%}
    {% 
        set options = {
            heading:"Links",
            ctaText: "Show more",
            wrapClasses:"js-animate-module m-site-tree__wrap"
        }
    %}

    {{siteTree(options)}}
{%- endmacro %}


