{% import 'html/t7-live/modules/tiles-gallery/macros.html' as galleryMacros %}
{% import 'html/guide/macros/guide.html' as guideMacros %}

<div class="">

    {% call guideMacros.docs2ColWrap() -%}

        {% call guideMacros.docs2ColColumn1Wrap(colClasses="", colHeading="Module Specs:") -%}

            <p>
                Module displays as a grid on desktop. On mobile the tiles display as a belt carousel.<br />
                On tile hover the instagram image details display.
            </p>
        {% endcall %}

        {% call guideMacros.docs2ColColumn2Wrap(colClasses="", colHeading="Tile Specs:") -%}
            <p>
                Feilds:<br />
                Product image: 512px x 512px(1:1 ratio) JPG<br />
                Author text: text<br />
                Author profile image: 40px x 40px (1:1 ratio) JPG<br />
                Description: text
            </p>
        </div>
        {% endcall %}
    
    {% endcall %}

    {{galleryMacros.galleryTilesGridT7Populated()}}
</div>
