{% import 'html/t7-live/macros/image.html' as imageMacros %} 
{% import 'html/t7-live/macros/icons.html' as iconMacros %}
{% import 'html/t7-live/components/tiles/macros.html' as tileMacros %}

{% macro moduleWrap(options) -%}
<section class='m-wrap js-animate-module'>
    <div class="m-wrap__card">
        <div class="m-wrap__header"></div>
        <div class="m-wrap__content">
            {{caller()}}
        </div>
        <div class="m-wrap__footer"></div>
    </div>
</section>
{%- endmacro %}

{% macro galleryTilesGridT7(options) -%}
    {% call moduleWrap(options) -%}
    <div class="m-gallery-tile-grid">
        <div class="m-gallery-tile-grid__header m-gallery-tile-grid__header--top">
            <img src="/assets/images/test/logo-instagram.png" class="m-gallery-tile-grid__logo" />
            <h3 class="u-xl u-script m-gallery-tile-grid__heading">See You<br />Out There</h3>
        </div>
        <div class="m-gallery-tile-grid__content" data-module="slick-mobile-cards-carousel">
            <div class="m-gallery-tile-grid__inner slick-slider--overflow js-carousel m-carousel__cards--s ">
                    
                    {{galleryTileContentT7(options)}}
                    {{galleryTileHeaderT7()}}
                    {{galleryTileContentT7(options)}}
                    {{galleryTileContentT7(options)}}
                    {{galleryTileContentT7(options)}}
                    {{galleryTileContentT7(options)}}
                    {{galleryTileContentT7(options)}}
                    {{galleryTileContentT7(options)}}
                    {{galleryTileContentT7(options)}}
                
            </div>
        </div>
        <div class="m-gallery-tile-grid__footer">
            <div class="c-btn c-btn--primary-inverse">Follow Torpedo7</div>
        </div>
    </div>
    {% endcall %}
{%- endmacro %}

{% macro galleryTileHeaderT7() -%}
<div class="m-gallery-tile-grid__tile m-gallery-tile-grid__tile--header">
    <a href="" class="c-tile c-gallery-tile u-aspect-one-by-one c-gallery-tile--header">
        <div class="m-gallery-tile-grid__header m-gallery-tile-grid__header--tile">
            <img src="/assets/images/test/logo-instagram.png" class="m-gallery-tile-grid__logo" />
            <h3 class="u-h1 u-script m-gallery-tile-grid__heading">See You<br />Out There</h3>
            <div class="c-btn c-btn--primary-inverse">Follow Torpedo7</div>
        </div>
        
    </a>
</div>
{%- endmacro %}

{% macro galleryTileT7(options) -%}
<div class="m-gallery-tile-grid__tile js-animate-sequence">
    <a href="" class="c-tile c-gallery-tile u-aspect-one-by-one ">
        <div class="c-gallery-tile__image-wrap">
            <div class="c-gallery-tile__image" data-responsive-background-src data-src="{{options.tileImage}}"></div>
        </div>
    </a>
</div>
{%- endmacro %}

{% macro galleryTileContentT7(options) -%}
    <div class="m-gallery-tile-grid__tile js-animate-sequence">
        <a href="" class="c-tile c-gallery-tile u-aspect-one-by-one">

            <div class="c-gallery-tile__image-wrap">
                <div class="c-gallery-tile__image" style="background-image:url({{options.tileImage}})"></div>
            </div>
            <div class="c-gallery-tile__content">
                <div class="c-gallery-tile__content-wrap t-dark">
                    <h4 class="u-p3 c-gallery-tile__author t-text">
                        <div class="c-gallery-tile__profile-image"></div>
                        @uu612
                    </h4>
                    <p class="c-gallery-tile__description u-p3 t-text">Shop Clothing, Accessories, Boots and more.#Torpedo7</p>
                    <div class="c-btn c-btn--tertiary-reverse t-btn-tertiary-reverse">View on instagram{{ iconMacros.iconChevronRight(name='chevron-right', classes="c-icon--medium c-btn__icon") }}</div>
                </div>
            </div>
        </a>
    </div>
{%- endmacro %}

{% macro galleryTilesGridT7Populated() -%}

    {% 
        set options = {
            tileImage: "/assets/images/test/tile-gallery.jpg",
            description: "lorem ipsum",
            ctaText: "View All",
            headerBG: ""
        }
    %}

    {{galleryTilesGridT7(options)}}
{%- endmacro %}