{% import 'html/guide/macros/icons.html' as iconMacros %}

<div class="g-header">
  <div class="g-header__inner">
    <label class="g-header__label">Brand:</label>
    <div class="g-header__field">
      <select class="g-header__select js-select-brand" data-module="guide-brand-switcher">
        <!-- <option class="g-header__option">Core</option> -->
        <option class="g-header__option" id="t7">torpedo7.co.nz</option>
        <option class="g-header__option" id="red">thewarehouse.co.nz</option>
        <option class="g-header__option" id="blue">warehousestationery.co.nz</option>
      <!--  <option class="g-header__option" id="red-live">thewarehouse.co.nz (live)</option> -->
        
      </select>
      <i class="g-header__select-indicator">{{ iconMacros.iconChevronDown(classes="") }}</i>
    </div>
  </div>
</div>
