{% import 'html/guide/macros/icons.html' as iconMacros %}

<div class="g-nav__btn">
  <a href="" class="g-nav__icon g-nav__icon--burger js-guide-nav-trigger">
    <svg viewBox="0 0 24 24">
      <path fill="#393939" d="M2 13v-2h20v2H2zm0-6V5h20v2H2zm0 12v-2h20v2H2z"/>
    </svg>
  </a>
  <a href="" class="g-nav__icon g-nav__icon--close js-guide-nav-trigger">
    <svg viewBox="0 0 24 24">
      <path fill="#ffffff" d="M12.5 10.069L18.569 4 20 5.43 13.931 11.499 20 17.568 18.569 18.998 12.5 12.93 6.431 18.998 5 17.568 11.069 11.499 5 5.43 6.431 4z"/>
    </svg>
  </a>
</div>

<div class="g-nav" data-module="guide-mobilenav">

  <!--<span class="u-flex u-flex-justify-center" style="text-align: center; width: 100%; height: 50px; color: #fff; border: 1px solid #fff;">-->
    <!--{{ iconMacros.svgicon(name="twg-logo-white", classes="c-icon&#45;&#45;small") }}-->
  <!--</span>-->
  <h1 class="u-h5 g-nav__heading u-margin-bottom-x4">
    Design System
  </h1>

  <ul class="g-nav__list" data-module="guide-accordion">
    {% for navItem in pageindex.navItems %}
      {% if navItem.items.length %}
        <li class="g-nav__item -parent " data-load="{{navItem.load}}">
          {% set directory = ""%}
          {% set prefix = "/html/"%}
          {% if navItem.directory %}
            {% set directory = navItem.directory + "/"%}
          {% endif %}

          <a href="javascript:void(0)" class="g-nav__link">
            <span class="g-nav__link-text">{{navItem.name}}</span>
            <span class="g-nav__link-icon">
                {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small") }}
            </span>
          </a>
          <ul class="g-nav__list g-nav__item--child">
              {% for navItemItem in navItem.items %}
                <li class="g-nav__item m-accordion__content">
                    <a href="{{ prefix }}{{ directory }}{{ navItemItem.url }}.html" class="g-nav__link js-nav-link-grand-child" data-load="{{navItem.load}}">
                      <span class="g-nav__link-text">{{navItemItem.name}}</span>
                    </a>
                </li>
              {% endfor %}
            </ul>
        </li>
      {% endif%}
    {% endfor %}
  </ul>

</div>
<div class="g-nav__overlay js-guide-nav-trigger"></div>
