

@mixin buttonAfter {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    display: none;
    height: 2px;
    width: 100%;
    background-color: rgba($color-grey-light-20, 0.5); //$color-grey-light-60;
}

@mixin btn-primary {
    background-color: $color-a;
    border: 2px solid $color-a;
    color: $color-white;
    text-transform: uppercase;
    padding: $btn-padding-primary;

    &::after {
        @include buttonAfter;
    }

    // Hover state.
    @include hover {
        border-color: $color-a;
        background-color: $color-a;
        // margin-top: 0.5rem;
        // margin-bottom: 1.5rem;
        transform: translateY(-2px);
        // box-shadow: 0px 2px 0px 0px lighten($color-b, 60%);
        &::after {
            display: block;
        }
    }
}

@mixin btn-primary-inverse {
    background-color: transparent;
    border: 2px solid $color-b;
    color: $color-b;
    text-transform: uppercase;
    padding: $btn-padding-primary;
    // @include text-crop--14(1);
    &::after {
        @include buttonAfter;
    }
    // Hover state.
    @include hover {
        color: $color-b;
        border-color: $color-b;
        background-color: transparent;
        // margin-top: 0.5rem;
        // margin-bottom: 1.5rem;
        transform: translateY(-2px);
        // box-shadow: 0px 2px 0px 0px lighten($color-b, 60%);
        &::after {
            display: block;
        }
    }  
}

@mixin btn-primary-reverse {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    padding: $btn-padding-primary;
    &::after {
        @include buttonAfter;
    }

    @include hover {
        color: white;
        border-color: white;
        background-color: transparent;
        // margin-top: 0.5rem;
        // margin-bottom: 1.5rem;
        transform: translateY(-2px);
        &::after {
            display: block;
            background-color: transparent;
        }
    }  
}

@mixin btn-secondary-hover {
    color: $color-b;
    background-color: transparent;
    border-color: $color-b;
    padding-bottom: 9px;
    padding-top: 7px;
}

@mixin btn-secondary {
    background-color: transparent;
    border-bottom: 1px solid $color-b;
    padding: $btn-padding-secondary;
    // @include text-crop--14(1);
    letter-spacing: 1px;
    color: $color-b;

    @include hover {
        @include btn-secondary-hover;
    }    
}

@mixin btn-secondary-reverse-hover {
    color: white;
    background-color: transparent;
    padding-bottom: 9px;
    padding-top: 7px;
}

@mixin btn-secondary-reverse {
    background-color: transparent;
    border-bottom: 1px solid white;
    padding: $btn-padding-secondary;
    // @include text-crop--14(1);
    letter-spacing: 1px;
    color: white;
    transition: all $transition-time $transition-easing;

    @include hover {
        @include btn-secondary-reverse-hover;
    }  
}

@mixin btn-tertiary-hover {
    color: $color-b;
    background-color: transparent;
    border-color: $color-b;
    .c-icon{
        margin-left: 5px;
        margin-right: 3px;
    }
}

@mixin btn-tertiary {
    background-color: transparent;
    padding: $btn-padding-tertiary;
    color: $color-b;
    letter-spacing: 0.5px;

    @include hover {
        @include btn-tertiary-hover;
    } 
}

@mixin btn-tertiary-reverse {
    background-color: transparent;
    padding: $btn-padding-tertiary;
    color: white;
    letter-spacing: 0.5px;

    @include hover {
        color: white;
        background-color: transparent;
        
        .c-icon{
            margin-left: 5px;
            margin-right: 3px;
        }
    }   
}

@mixin btn-link {
    font-family: $font-text;
    background-color: transparent;
    padding: $btn-padding-link;
    letter-spacing: 0.75px;
    color: $color-text;
    font-weight: $font-weight-regular;
    border: none;
    border-bottom: 1px solid $color-text;
    margin: 0;

    @include hover {
        color: $color-link;
        background-color: transparent;
        border-bottom: 1px solid $color-link;
    }   
}

@mixin btn-link-primary {
    @include btn-link;
    color: $color-link;
    border-bottom: 1px solid $color-link;

    @include hover {
        color: $color-link;
        background-color: transparent;
        border-bottom: 1px solid $color-link;
    }   
}

@mixin btn-link-reverse {
    font-family: $font-text;
    background-color: transparent;
    padding: $btn-padding-link;
    letter-spacing: 0.75px;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    font-weight: $font-weight-regular;

    @include hover {
        color: white;
        background-color: transparent;
        border-bottom: 1px solid white;
    } 
}

@mixin btn-carousel {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color-grey, 0.8);
    color: white;

    @include hover {
        background-color: $color-grey;
    } 
}