

@mixin nobreak {
  column-break-inside:avoid;
  display: table;
}

@mixin font-smoothing {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

@mixin letterpress($opacity: .5) {
  text-shadow: 0 1px 0 rgba(255,255,255, $opacity);
}

@mixin box-emboss($opacity, $opacity2){
  box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}

@mixin bg-cover {
  background-size: cover;
}

@mixin desaturate {
  filter: grayscale(100%);
}

@mixin saturate {
  filter: grayscale(0);
}

@mixin user-select ($select) {
  user-select: $select;
}

@mixin no-touch() {
  .no-touch & {
    @content;
  }
}
@mixin touch() {
  .touch & {
    @content;
  }
}

@mixin hover() {
  @include media($media-l){
    &:hover {
      @content;
    }
  }
}
@mixin active() {
  .no-touch & {
    &:active {
      @content;
    }
  }
}
@mixin focus() {
  .no-touch & {
    &:focus {
      @content;
    }
  }
}

@function parseInt($n) {
  @return $n / ($n * 0 + 1);
}


//shows only stated MQ:
@mixin show($mq:xs) {
  @if $mq == xs{
    display:block;
    @include media($media-small){
      display:none;
    }
  }
  @else if $mq == sm{
    display:block;
    @include media($media-small){
      display:none;
    }
  }
  @else if $mq == md{
    display:none;
    @include media($media-m){
      display:block;
    }
    @include media($media-l){
      display:none;
    }
  }
  @else if $mq == lg{
    display:none;
    @include media($media-l){
      display:block;
    }
    @include media($media-xl){
      display:none;
    }
  }
  @else if $mq == xlg{
    display:none;
    @include media($media-xl){
      display:block;
    }
  }
}
//shows by default. hides from stated MQ upwards:
@mixin hide-up($mq:m) {
  @if $mq == s{
    display:block !important;
    @include media($media-s){
      display:none !important;;
    }
  }
  @if $mq == m{
    display:block !important;
    @include media($media-m){
      display:none !important;;
    }
  }
  @if $mq == l{
    display:block !important;
    @include media($media-l){
      display:none !important;;
    }
  }
}
//hides by default. show from stated MQ upwards:
@mixin show-up($mq:m) {
  @if $mq == s{
    display:none !important;
    @include media($media-s){
      display:block !important;
    }
  }
  @if $mq == m{
    display:none !important;
    @include media($media-m){
      display:block !important;
    }
  }
  @if $mq == l{
    display:none !important;
    @include media($media-l){
      display:block !important;
    }
  }
}



