//
// aspect ratio mixin https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
//

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 0;
    padding-top: ($height / $width) * 100%;
  }
}
//
@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}


//custom media-query mixin for mobile-first breakpoints:
@mixin media($bp){

    @if $bp == $media-min{
        @media only screen and (min-width:$bp-mobile-start) { @content; }
    }
    
    @if $bp == $media-xs{
        @media only screen and (min-width:$bp-mobile-landscape-start) { @content; }
    }

    @if $bp == $media-s{
        @media only screen and (min-width:$bp-mobile-large-start) { @content; }
    }

    @if $bp == $media-m{
        @media only screen and (min-width:$bp-tablet-portrait-start) { @content; }
    }

    @if $bp == $media-l{
        @media only screen and (min-width:$bp-tablet-landscape-start) { @content; }
    }

    @if $bp == $media-xl{
        @media only screen and (min-width:$bp-small-desktop-start) { @content; }
    }

    @if $bp == $media-xxl{
        @media only screen and (min-width:$bp-large-desktop-start) { @content; }
    }

    @if $bp == $media-xs-max {
        @media only screen and (max-width:$bp-mobile-end) { @content; }
    }

    @if $bp == $media-s-max {
        @media only screen and (max-width:$bp-mobile-large-end) { @content; }
    }

    @if $bp == $media-m-max {
        @media only screen and (max-width:$bp-tablet-portrait-end) { @content; }
    }

    @if $bp == $media-l-max{
        @media only screen and (max-width:$bp-tablet-landscape-end) { @content; }
    }
    
    @if $bp == $media-xl-max{
        @media only screen and (max-width:$bp-small-desktop-end) { @content; }
    }

}


@mixin breakpoint-me()
{
    @content;
    @include media($media-s-max)
    {
        &-s
        {
            @content;
        }
    }

    @include media($media-m)
    {
        &-m
        {
            @content;
        }
    }

    @include media($media-m-max)
    {
        &-m-max
        {
            @content;
        }
    }

    @include media($media-l-max)
    {
        &-l-max
        {
            @content;
        }
    }


    
    @include media($media-l)
    {
        &-l
        {
            @content;
        }
    }

    @include media($media-xl)
    {
        &-xl
        {
            @content;
        }
    }

}

@mixin max-width() {
    position: relative;
    width: 100%;

	@include media($media-xl){
        max-width: $max-width-l; //1320px + (24px*2) !important; //$bp-small-desktop-start;
    }
    @include media($media-xxl){
        max-width: $max-width-xl; //1600px !important; //1575px + (24px*2) !important; //$bp-small-desktop-start;
	}
}

@mixin outer-gutter() {
    padding-left:rem(4rem);
    padding-right:rem(4rem);
}

@mixin max-width-red-live() {
    position: relative;
    width: 100%;

    @include media($media-l){
        max-width: 988px;
    }
}

@mixin max-width-clp-red-live() {
    position: relative;
    width: 100%;

    @include media($media-s){
        max-width: 768px; 
    }

    @include media($media-l){
        max-width: 736px; 
    }
}

