<!--for every js-carousel__ add an m-carousel__-->
<div class='js-carousel-wrap m-carousel__wrap'>
    

    <div class='js-carousel-content m-carousel__content'>
        <div class='js-carousel-slider m-carousel__slider'><!-- add same aspect ratio classes as on tiles in slide items-->
            <div class='js-carousel-slides m-carousel__slides js-content-insertion-point' ><!-- style declarations only there to show statically should be replced by dynamic JS functonality -->
            <!-- 
                style="width:calc(300% + 20px);left:calc((100% + 10px) * -1)"
                logic of slider
                slide 1:  left:calc((0% + 0px) * -1)
                slide 2:  left:calc((100% + 10px) * -1)
                slide 3:  left:calc((200% + 20px) * -1)
            -->
                
                <!-- The content that is passed into the initial carousel will be put in here -->
                
            
            </div>
        </div>
    </div>

    <div class='js-carousel-controls m-carousel__controls'> <!-- alignment modifers : -align-left -align-right -centered -->
        <ul class='js-carousel-list m-carousel__list'>
        
        </ul>
    </div>
</div>