<div class='c-btn c-btn--carousel c-btn--carousel--previous m-carousel__previous-btn js-carousel-previous-btn'>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="c-icon c-icon c-btn__carousel-icon">
        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
    </svg>
</div>
<div class='c-btn c-btn--carousel c-btn--carousel--next m-carousel__next-btn js-carousel-next-btn'>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="c-icon c-icon c-btn__carousel-icon">
        <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
    </svg>
</div>