<div class="u-max-width-m">
    
    
    <div class="u-grid u-grid-cols-4">
        <div class="u-aspect-six-by-seven u-grid-item">
            <div class="c-tile--title-bar"><a class="c-btn--primary">shop now</a></div>
        </div>
        <div class="u-aspect-six-by-seven u-grid-item">
            <div class="c-tile--title-bar"><a class="c-btn--primary">shop now</a></div>
        </div>
        <div class="u-aspect-six-by-seven u-grid-item">
            <div class="c-tile--title-bar"><a class="c-btn--primary">shop now</a></div>
        </div>
        <div class="u-aspect-six-by-seven u-grid-item">
            <div class="c-tile--title-bar"><a class="c-btn--primary">shop now</a></div>
        </div>
    </div>

    <div class="u-grid u-grid-cols-2 u-grid-cols-3-m u-grid-rows-3 u-grid-rows-2-m">
        <div class="u-aspect-one-by-one u-aspect-six-by-seven-m u-grid-item u-grid-item-cols-2 u-grid-item-cols-1-m u-grid-item-rows-2-m">
            <div class="c-tile--title-bar"><a class="c-btn--primary">shop now</a></div>
        </div>
        <div class="u-aspect-one-by-one u-aspect-six-by-seven-m u-grid-item u-grid-item-cols-2 u-grid-item-cols-1-m u-grid-item-rows-2-m" style="background-color: white">
            
        </div>
        <div class="u-aspect-six-by-seven u-grid-item u-grid-item-cols-2 u-grid-item-cols-1-m u-grid-item-rows-2-m">
            <div class="c-tile--title-bar"><a class="c-btn--primary">shop now</a></div>
        </div>
    </div>
    
    <div class="u-grid u-grid-cols-2 u-grid-cols-4-m u-grid-rows-3 u-grid-rows-2-m">
        <div class="u-aspect-nine-by-four u-grid-item u-grid-item-cols-2 u-grid-item-rows-2-m">
            <div class="c-tile--title-bar"><a class="c-btn--primary">shop now</a></div>
        </div>
        <div class="u-grid-item u-grid-item-cols-2">
            <div class="c-tile--title-bar"><a class="c-btn--primary">shop now</a></div>
        </div>
       <div class="u-grid-item u-aspect-six-by-seven"><div class="c-tile--title-bar"><a class="c-btn--primary">shop now</a></div></div>
       <div class="u-grid-item"><div class="c-tile--title-bar"><a class="c-btn--primary">shop now</a></div></div>
    </div>
    
    <div class="u-grid u-grid-cols-2">
        <div class="u-aspect-seven-by-six u-grid-item">
            <div class="c-tile--title-bar"><a class="c-btn--primary">shop now</a></div>
        </div>
        <div class="u-aspect-seven-by-six u-grid-item">
            <div class="c-tile--title-bar"><a class="c-btn--primary">shop now</a></div>
        </div>
    </div>

    
    
    
    <!-- test why ratios break -->
    <!-- <div class="u-grid u-grid-cols-2 u-grid-cols-4-m u-grid-rows-3 u-grid-rows-2-m">
        <div class="u-aspect-nine-by-four u-aspect-one-by-one-m u-grid-item u-grid-item-cols-2 u-grid-item-rows-2-m">
            <div class="c-tile--title-bar2"><a class="c-btn--primary">shop now</a></div>
        </div>
        <div class="u-grid-item u-aspect-nine-by-four u-grid-item-cols-2">
            <div class="c-tile--title-bar2"><a class="c-btn--primary">shop now</a></div>
        </div>
        <div class="u-aspect-one-by-one u-grid-item"><div class="c-tile--title-bar2"><a class="c-btn--primary">shop now</a></div></div>
        <div class="u-aspect-one-by-one u-grid-item"><div class="c-tile--title-bar2"><a class="c-btn--primary">shop now</a></div></div>
    </div> -->


</div>
