{% import 'html/t7-live/macros/image.html' as imageMacros %} 
{% import 'html/t7-live/macros/icons.html' as iconMacros %}
{% import 'html/t7-live/components/tiles/macros.html' as tileMacros %}

{% macro moduleWrapWizard(options) -%}
<section class='m-wrap m-wrap--spacious js-animate-module'>
    <div class="m-wrap__card">
        <div class="m-wrap__inner">
            <div class="m-wrap__header u-spacing">
                <h2 class="u-h3 m-wrap__heading">{{options.heading}}</h2>
                <p class="u-p3">{{options.description}}</p>
            </div>
            <div class="m-wrap__content" data-module="wizard">
                {{caller()}}
            </div>
            <div class="m-wrap__footer">
                <a href="" class="c-btn c-btn--primary-inverse">{{options.ctaText}}</a>
            </div>
        </div>
    </div>
</section>
{%- endmacro %}

{% macro moduleWrap(options) -%}
<section class='m-wrap m-wrap--spacious js-animate-module'>
    <div class="m-wrap__card">
        <div class="m-wrap__inner">
            <div class="m-wrap__header u-spacing">
                <h2 class="u-h3 m-wrap__heading">{{options.heading}}</h2>
                <p class="u-p3">{{options.description}}</p>
            </div>
            <div class="m-wrap__content" >
                {{caller()}}
            </div>
            <div class="m-wrap__footer">
                <a href="" class="c-btn c-btn--primary-inverse">{{options.ctaText}}</a>
            </div>
        </div>
    </div>
</section>
{%- endmacro %}

{% macro wizardCardsBelt(options) -%}
    {% call moduleWrapWizard(options) -%}
        <div class="u-columns m-wizard-card__wrap">
            {% for i in range(0, 3) -%}
            <div class="u-columns__column u-columns__column--twelve u-columns__column--four-s js-animate-sequence">
                <div class="c-wizard-card js-wizard-link">
                    <label class="c-wizard-card__link" for="wizard-card-checkbox{{i}}"></label>
                    
                    <div class="c-wizard-card__cta ">
                        <div class="c-form-field c-form-field--checkbox c-form-field--stacked js-form-field">
                            <h4 class="c-wizard-card__heading t-heading">{{options.cardTitle}}</h4>
                            <input class="c-wizard-card__checkbox c-form-field__checkbox c-wizard-card__checkbox" id="wizard-card-checkbox{{i}}" type="checkbox"/> 
                            <i class="c-form-field__icon-wrap c-form-field__icon-wrap--checkbox c-wizard-card__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="c-icon c-form-field__check-icon">
                                    <g id="tick" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <polygon id="tick-icon" fill="#000000" points="10.5 14.3283582 7.875 11.8208955 7 12.6567164 10.5 16 18 8.8358209 17.125 8"></polygon>
                                    </g>
                                </svg>
                            </i>
                        </div>
                        
                        <div class="c-btn c-btn--tertiary c-wizard-card__btn t-btn-tertiary">Select {{ iconMacros.iconChevronRight(name='chevron-right', classes="c-icon--medium c-btn__icon") }}</div>
                    </div>
                    <div class="c-wizard-card__image-wrap">
                        <div class="c-wizard-card__image" data-responsive-background-src data-src="{{options.tileImage}}"></div>
                    </div>
                </div>
            </div>
            {%- endfor %}
        </div>
    {% endcall %}
{%- endmacro %}

{% macro wizardCardsBeltPopulated() -%}

    {% 
        set options = {
            heading:"Looking for the perfect bike for you?",
            description: "Try this gear finder to help you choose.",
            ctaText: "Find Products",
            tileImage: "/assets/images/test/editorial-card.jpg",
            cardTitle: "I want speed"
        }
    %}

    {{wizardCardsBelt(options)}}
{%- endmacro %}

{% macro wizardLinkCardsBelt(options) -%}
    {% call moduleWrap(options) -%}
        <div class="u-columns c-wizard-card__wrap">
            {% for i in range(0, 3) -%}
            <div class="u-columns__column u-columns__column--twelve u-columns__column--four-s js-animate-sequence">
                <div class="c-wizard-card c-wizard-card--link">
                    <a href="" class="c-wizard-card__link" for="wizard-card-checkbox{{i}}" aria-hidden="true"></a>
                    
                    <div class="c-wizard-card__cta ">
                        <h4 class="c-wizard-card__heading t-heading">{{options.cardTitle}}</h4>
                        <div class="c-btn c-btn--tertiary c-wizard-card__btn t-btn-tertiary">Select {{ iconMacros.iconChevronRight(name='chevron-right', classes="c-icon--medium c-btn__icon") }}</div>
                    </div>
                    <div class="c-wizard-card__image-wrap">
                        <div class="c-wizard-card__image" data-responsive-background-src data-src="{{options.tileImage}}"></div>
                    </div>
                </div>
            </div>
            {%- endfor %}
        </div>
    {% endcall %}
{%- endmacro %}

{% macro wizardLinkCardsBeltPopulated() -%}

    {% 
        set options = {
            heading:"Looking for the perfect bike for you?",
            description: "Try this gear finder to help you choose.",
            ctaText: "Find Products",
            tileImage: "/assets/images/test/editorial-card.jpg",
            cardTitle: "I want speed"
        }
    %}

    {{wizardLinkCardsBelt(options)}}
{%- endmacro %}