{% import 'html/t7-live/modules/cards-wizard/macros.html' as wizardCardsMacros %}
{% import 'html/guide/macros/module.html' as wrapMacros %}
{% import 'html/guide/macros/guide.html' as guideMacros %}



        {% call guideMacros.docs2ColWrap() -%}

            {% call guideMacros.docs2ColColumn1Wrap(colClasses="", colHeading="Module Specs:") -%}
    
                <p>
                    Module content displays at 10 columns wide on desktop breakpoints.<br />
                    Tapping the cards will select the wizard option with the current step. Tapping on the next button takes the user to the next set of options.
                    The final step till take the user to the product results page filtered based on the options selected.<br />
                    Fields:<br />
                    Background-color: Select from brand color options
                    Module Heading: text<br />
                    Module description: text<br />
                    Module CTA text: text
                </p>
            {% endcall %}

            {% call guideMacros.docs2ColColumn2Wrap(colClasses="", colHeading="Wizard Option Card Specs:") -%}
                <p>
                    Feilds:<br />
                    Product image: 427px x 285px(3:2 ratio) JPG<br />
                    Option text: text
                </p>
            </div>
            {% endcall %}
        
        {% endcall %}

        {% call guideMacros.docsWrap() -%}
            <h3 class="u-h3">Example Wizard module:</h3>
        {% endcall %}

        {{wizardCardsMacros.wizardCardsBeltPopulated()}}

        {% call guideMacros.docsWrap() -%}
            <h3 class="u-h3">Example Wizard module (simple links version):</h3>
        {% endcall %}

        {{wizardCardsMacros.wizardLinkCardsBeltPopulated()}}




