{% import 'html/t7-live/modules/brands/macros.html' as moduleMacros %}
{% import 'html/guide/macros/guide.html' as guideMacros %}


{% call guideMacros.docs2ColWrap(wrapClasses="g-intro__wrap") -%}
    {% call guideMacros.docs2ColColumn1Wrap(colHeading="Module Specs:") -%}

        <p>
            Under small desktop the belt becomes a scrollable area.<br />
            Above the small desktop breakpoint The whole belt fluidly increases size.
        </p>
    {% endcall %}
    {% call guideMacros.docs2ColColumn2Wrap(colHeading="Brand Tile Specs:") -%}

        <p>
            Image size: 50px x flexible width<br />
            (image will display full height and whatever width suits the logo)<br />
            Brand name (Alt text): text <br />
            Link: URL
        </p>
    {% endcall %}

    {% call guideMacros.docs1ColColumnWrap(colClasses="u-margin-top-x10", colHeading="HTML Prototype (demonstrating responsive and hover behavior):") -%}{% endcall %}

{% endcall %}
<div class="u-margin-bottom-x10"></div>
{{moduleMacros.brandsBeltT7Polulated()}}
