{% import 'html/t7-live/macros/image.html' as imageMacros %} 
{% import 'html/t7-live/macros/icons.html' as iconMacros %}
{% import 'html/t7-live/macros/module.html' as moduleMacros %}

{% macro brandsBeltT7(wrapClasses) -%}
    <section class='u-max-width m-brand-belt__wrap js-animate-module {{wrapClasses}}'>
                    <div class="m-brand-belt">
                        <div class="m-brand-belt__inner">                            
                            <a href="" class="c-tile-brand js-animate-sequence">
                                <img src="/assets/images/t7/logos/logo-brand-salomon.png" class="c-tile-brand__image" />
                            </a>
                            <a href="" class="c-tile-brand js-animate-sequence">
                                <img src="/assets/images/t7/logos/logo-brand-gopro.png" class="c-tile-brand__image" />
                            </a>  
                            <a href="" class="c-tile-brand js-animate-sequence">
                                <img src="/assets/images/t7/logos/logo-brand-giant.png" class="c-tile-brand__image" />
                            </a>
                            <a href="" class="c-tile-brand js-animate-sequence">
                                <img src="/assets/images/t7/logos/logo-brand-t7.png" class="c-tile-brand__image" />
                            </a>
                            <a href="" class="c-tile-brand js-animate-sequence">
                                <img src="/assets/images/t7/logos/logo-brand-icebreaker.png" class="c-tile-brand__image" />
                            </a>
                            <a href="" class="c-tile-brand js-animate-sequence">
                                <img src="/assets/images/t7/logos/logo-brand-fox.png" class="c-tile-brand__image" />
                            </a>  
                            <a href="" class="c-tile-brand js-animate-sequence">
                                <img src="/assets/images/t7/logos/logo-brand-camelbak.png" class="c-tile-brand__image" />
                            </a>  
                            <a href="" class="c-tile-brand js-animate-sequence">
                                <img src="/assets/images/t7/logos/logo-brand-monsroyale.png" class="c-tile-brand__image" />
                            </a>
                            <a href="" class="c-tile-brand js-animate-sequence">
                                <img src="/assets/images/t7/logos/logo-brand-marmot.png" class="c-tile-brand__image" />
                            </a>
                            
                        </div>
                    </div>
    </section>
{%- endmacro %}

{% macro brandsBeltT7Polulated(wrapClasses="") -%}

    {{brandsBeltT7(wrapClasses)}}

{%- endmacro %}

{% macro productCardsBeltImageT7(options) -%}
    <section class='m-wrap m-wrap--stacked'>
        <div class="m-wrap__card">
            <div class="m-wrap__inner">
                <div class="m-wrap__content">
                    {{ productCardsBeltComponentImageT7(options) }}
                </div>
            </div>
        </div>
    </section>
{%- endmacro %}

{% macro productCardsBeltComponentImageT7(options) -%}

    <div class="u-flex u-flex-justify-center">
        <img data-responsive-src data-src-m="{{options.desktopImage}}" data-src-s="{{options.mobileImage}}" />
    </div>

{%- endmacro %}

{% macro brandsBeltT7ImagePolulated() %}

    {% 
        set options = {
            mobileImage: "/assets/images/test/brands-belt-s.jpg",
            desktopImage: "/assets/images/test/brands-belt-l.jpg"
        }
    %}

    {{ productCardsBeltImageT7(options) }}

{% endmacro %}