
{% import 'html/t7-live/modules/deals/macros.html' as moduleMacros %}
{% import 'html/guide/macros/module.html' as wrapMacros %}
{% import 'html/guide/macros/guide.html' as guideMacros %}

<div class="">

    {% call guideMacros.docs2ColWrap() -%}

        <div class="u-columns__column u-columns__column--twelve -no-gutter u-block u-spacing u-margin-bottom-x10">
                
            <h3 class="u-h5">Module Specs:</h3>
            <p>
                Above Tablet breakpoint the deal belt module becomes a carousel. On mobile the deal slides stack.
            </p>
        </div>

        {% call guideMacros.docs2ColColumn1Wrap(colClasses="", colHeading="Module Specs:") -%}

            <p>
                There are 3 types of deal slide layouts that can be chosen from. These layouts have cards in specific locations and will respond in specific ways at different breakpoints.
            Deal belt slide layouts:<br />
            M0250) All product: displays all product deal cards<br />
            M0251A) Brands x 2: displays 2 brand cards and the rest product cards<br />
            M0251B) Brands x 4: displays 4 brand cards and the rest product cards<br />
            M0252A) Categories x 2: Displays 2category cards and the rest will be product cards<br />
            M0252B) Categories x 4: Displays 4 category cards and the rest will be product cards<br />
            Fields:<br />
            Brand logo (optional): image<br />
            Deal lockup: image<br />
            Deal description: text
        </p>

        {% endcall %}

        {% call guideMacros.docs2ColColumn2Wrap(colClasses="", colHeading="Product Card Specs:") -%}

            <p>
                Product image: 160px x 160px (1:1 ratio) JPG<br />
                Was price: number<br />
                Now price: number<br />
            </p>
            <h3 class="u-h5 u-margin-top-x4">Category Card Specs:</h3>
            <p>
                Category product image: 160px x 160px (1:1 ratio) JPG<br />
                Category title: text
            </p>
            <h3 class="u-h5 u-margin-top-x4">Brand Card Specs:</h3>
            <p>
                Brand logo image: 160px x variable height JPG<br />
                Brand title (and image alt text): text
            </p>
            
        {% endcall %}


    {% endcall %}

    {% call wrapMacros.moduleWrap() -%}
    <div class="u-block u-margin-bottom-x10">
        <h3 class="u-h4 u-centered">Deal card variations:</h3>
    </div>
    <div class="u-flex u-flex-justify-center u-margin-bottom-x10">

        <div class="u-grid u-grid-cols-1 u-grid-cols-3-m">
            <div class="u-grid-item u-bg-white">
                <h3 class="u-p3">1) Deal product card (discount)</h3>
                <!-- <img src="/assets/images/t7/tile-product-deal.png" /> -->
            </div>
            <div class="u-grid-item u-bg-white">
                <h3 class="u-p3">2) Deal category card</h3>
                <!-- <img src="/assets/images/t7/card-deal-category.png" /> -->
            </div>
            <div class="u-grid-item u-bg-white">
                    <h3 class="u-p3">3) Deal brand card</h3>
                <!-- <img src="/assets/images/t7/card-deal-brand.png" /> -->
            </div>
        </div>
    </div>
    {% endcall %}

    {% call guideMacros.docsWrap() -%}
        <h3 class="u-h3">M0250 - Deal Belt (All product)</h3>
    {% endcall %}

    {{moduleMacros.dealBeltProducts()}}
    
    {% call guideMacros.docsWrap() -%}
    <h3 class="u-h3">M0251A) Deal Belt (Brands x 2)</h3>
    {% endcall %}

    {{moduleMacros.dealBeltBrandsX2()}}

    {% call guideMacros.docsWrap() -%}
    <h3 class="u-h3">M0251B) Deal Belt (Brands x 4)</h3>
    {% endcall %}

    {{moduleMacros.dealBeltBrandsX4()}}
    
    {% call guideMacros.docsWrap() -%}
    <h3 class="u-h3">M0252A) Deal Belt (Categories x 2)</h3>
    {% endcall %}

    {{moduleMacros.dealBeltCategoriesX2()}}
    
    {% call guideMacros.docsWrap() -%}
    <h3 class="u-h3">M0252B) Deal Belt (Categories x 4)</h3>
    {% endcall %}

    {{moduleMacros.dealBeltCategoriesX4()}}
</div>