{% import 'html/t7-live/macros/image.html' as imageMacros %} {% import 'html/t7-live/macros/icons.html' as iconMacros %}
{#% import 'html/t7-live/macros/module/macros-wrap.html' as moduleMacros %#}
{% import 'html/t7-live/modules/cards-product/macros-t7.html' as productMacros %}

{% macro dealBeltProductsOld2(moduleTitle="Shop by Deal", wrapClasses="m-wrap--deals") -%}
    <section class='m-wrap {{wrapClasses}}'>
        <div class="m-wrap__card">
            <div class="m-wrap__header">
                <h2 class="u-h3 m-wrap__heading">{{moduleTitle}}</h2>
            </div>
            <div class="m-wrap__content">
                <div class="m-deal-belt">
                    <div class="m-deal-belt__inner">
                        <div data-module="carousel" data-module-options='{
                            "wrapClasses": "",
                            "sliderClasses": "m-carousel__slider--overflow-m",
                            "addLeftRightPreviousNextButtons":true, 
                            "carouselFrom":768,
                            "breakpointWraps":[
                                {"width":768,"itemsPerSlide":1,"wrapClasses":"u-columns u-columns--one"}
                            ]
                        }'>
                                
                        {{dealBeltProductsInner()}}
                        {{dealBeltBrandsX4Inner()}}
                        {{dealBeltBrandsX2Inner()}}
                        {{dealBeltCategoriesX2Inner()}}
                        {{dealBeltCategoriesX4Inner()}} 
                        </div> 
                    </div>
                </div>
            </div>
            <div class="m-wrap__footer u-hide-down-m">
            </div>
        </div>
    </section>
{%- endmacro %}

{% macro dealBeltProducts(moduleTitle="Shop by Deal", wrapClasses="m-wrap--deals") -%}
    <section class='m-wrap js-animate-module {{wrapClasses}}'>
        <div class="m-wrap__card">
            <div class="m-wrap__header">
                <h2 class="u-h3 m-wrap__heading">{{moduleTitle}}</h2>
            </div>
            <div class="m-wrap__content">
                <div class="m-deal-belt">
                    <div class="m-deal-belt__inner" data-module="slick-deals-carousel">

                        <button class="c-btn c-btn--carousel c-btn--carousel-previous js-btn-previous">{{ iconMacros.iconChevronLeft(name='chevron-left', classes="c-icon c-icon--large c-btn__carousel-icon") }}</button>
                        <button class="c-btn c-btn--carousel c-btn--carousel-next js-btn-next">{{ iconMacros.iconChevronRight(name='chevron-right', classes="c-icon c-icon--large c-btn__carousel-icon") }}</button>

                        <div class="js-carousel slick-slider--overflow">
                            {{dealBeltProductsInner()}}
                            {{dealBeltBrandsX2Inner()}}
                            {{dealBeltCategoriesX2Inner()}}
                            {{dealBeltBrandsX4Inner()}}
                            {{dealBeltCategoriesX4Inner()}} 
                            
                        </div> 
                    </div>
                </div>
            </div>
            <div class="m-wrap__footer u-hide-down-m">
            </div>
        </div>
    </section>
{%- endmacro %}

{% macro dealBeltProductsOld(moduleTitle="Shop by Deal", wrapClasses="m-wrap--deals") -%}
    <section class='m-wrap {{wrapClasses}}'>
        <div class="m-wrap__card">
            <div class="m-wrap__header">
                <h2 class="u-h3 m-wrap__heading">{{moduleTitle}}</h2>
            </div>
            <div class="m-wrap__content">
                <div class="m-deal-belt">
                    <div class="m-deal-belt__inner">
                        <div data-module="carousel" data-module-options='{
                            "wrapClasses": "",
                            "sliderClasses": "m-carousel__slider--overflow-m",
                            "addLeftRightPreviousNextButtons":true, 
                            "carouselFrom":768,
                            "breakpointWraps":[
                                {"width":768,"itemsPerSlide":1,"wrapClasses":"u-columns u-columns--one"}
                            ]
                        }'>
                        {{dealBeltCategoriesX4Inner()}}     
                        {{dealBeltProductsInner(slideClasses="u-bg-a")}}
                        {{dealBeltBrandsX4Inner(slideClasses="u-bg-b")}}
                        {{dealBeltBrandsX2Inner(slideClasses="u-bg-c")}}
                        {{dealBeltCategoriesX2Inner(slideClasses="u-bg-d")}}
                        
                        </div> 
                    </div>
                </div>
            </div>
            <div class="m-wrap__footer">
            </div>
        </div>
    </section>
{%- endmacro %}

{% macro dealBeltProductsInner(slideClasses) -%}
    {% call dealBeltSlideWrap(slideClasses) -%}
    <div class="m-deal-slide__cards m-deal-slide__cards--default js-deal-slide-carousel" >
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}

    </div>
    {% endcall -%}
{%- endmacro %}

{#% macro dealBeltProductsInnerOld(slideClasses) -%}
    {% call dealBeltSlideWrap(slideClasses) -%}
    <div class="m-deal-slide__cards m-deal-slide__cards--four js-deal-slide-carousel" >
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
    </div>
    {% endcall -%}
{%- endmacro %#}

{% macro dealBeltBrandsX4Inner(slideClasses) -%}
    {% call dealBeltSlideWrapSmall(slideClasses) -%}
    <div class="m-deal-slide__cards m-deal-slide__cards--brandsx4 js-deal-slide-carousel">
        {{tileDealBrandSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealBrandSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealBrandSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealBrandSmall(tileClasses="l")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
    </div>
    {% endcall -%}
{%- endmacro %}

{% macro dealBeltBrandsX4(moduleTitle="Shop by Deal", wrapClasses="m-wrap--deals") -%}
    <section class='m-wrap {{wrapClasses}}'>
        <div class="m-wrap__card">
                <div class="m-wrap__header">
                    <h2 class="u-h3 m-wrap__heading">{{moduleTitle}}</h2>
                </div>
                <div class="m-wrap__content">
                    <div class="m-deal-belt">
                        <button class="c-btn c-btn--carousel c-btn--carousel--previous">{{ iconMacros.svgicon(name='chevron-left', classes="c-icon c-btn__carousel-icon") }}</button>
                        <button class="c-btn c-btn--carousel c-btn--carousel--next">{{ iconMacros.svgicon(name='chevron-right', classes="c-icon c-btn__carousel-icon") }}</button>
                        
                        <div class="m-deal-belt__inner">
                                
                            {{dealBeltBrandsX4Inner()}}
                           
                        </div>
                    </div>
                </div>
        </div>
    </section>
{%- endmacro %}

{% macro dealBeltBrandsX2Inner(slideClasses) -%}
    {% call dealBeltSlideWrapNoLogo(slideClasses) -%}
    <div class="m-deal-slide__cards m-deal-slide__cards--brandsx2 js-deal-slide-carousel">
    {{tileDealBrandSmall(tileClasses="")}}
    {{tileDealProductSmall(tileClasses="")}}
    {{tileDealProductSmall(tileClasses="")}}
    {{tileDealProductSmall(tileClasses="")}}
    {{tileDealProductSmall(tileClasses="")}}
    {{tileDealProductSmall(tileClasses="")}}
    {{tileDealBrandSmall(tileClasses="")}}
    {{tileDealProductSmall(tileClasses="")}}
    {{tileDealProductSmall(tileClasses="")}}
    {{tileDealProductSmall(tileClasses="")}}
    {{tileDealProductSmall(tileClasses="")}}
    {{tileDealProductSmall(tileClasses="")}}
</div>
    {% endcall -%}
{%- endmacro %}

{% macro dealBeltBrandsX2(moduleTitle="Shop by Deal", wrapClasses="m-wrap--deals") -%}
    <section class='m-wrap {{wrapClasses}}'>
        <div class="m-wrap__card">
                <div class="m-wrap__header">
                    <h2 class="u-h3 m-wrap__heading">{{moduleTitle}}</h2>
                </div>
                <div class="m-wrap__content">
                    <div class="m-deal-belt">
                        <button class="c-btn c-btn--carousel c-btn--carousel--previous">{{ iconMacros.svgicon(name='chevron-left', classes="c-icon c-btn__carousel-icon") }}</button>
                        <button class="c-btn c-btn--carousel c-btn--carousel--next">{{ iconMacros.svgicon(name='chevron-right', classes="c-icon c-btn__carousel-icon") }}</button>
                        
                        <div class="m-deal-belt__inner">
                                
                            {{dealBeltBrandsX2Inner()}}
                           
                        </div>
                    </div>
                </div>
        </div>
    </section>
{%- endmacro %}

{% macro dealBeltCategoriesX2Inner(slideClasses) -%}
    {% call dealBeltSlideWrapNoLogo(slideClasses) -%}
    <div class="m-deal-slide__cards m-deal-slide__cards--categoriesx2 js-deal-slide-carousel">
    {{tileDealCategorySmall(tileClasses="")}}
    {{tileDealProductSmall(tileClasses="")}}
    {{tileDealProductSmall(tileClasses="")}}
    {{tileDealProductSmall(tileClasses="")}}
    {{tileDealProductSmall(tileClasses="")}}
    {{tileDealProductSmall(tileClasses="")}}
    {{tileDealCategorySmall(tileClasses="")}}
    {{tileDealProductSmall(tileClasses="")}}
    {{tileDealProductSmall(tileClasses="")}}
    {{tileDealProductSmall(tileClasses="")}}
    {{tileDealProductSmall(tileClasses="")}}
    {{tileDealProductSmall(tileClasses="")}}
</div>
    {% endcall -%}
{%- endmacro %}

{% macro dealBeltCategoriesX2(moduleTitle="Shop by Deal", wrapClasses="m-wrap--deals") -%}
    <section class='m-wrap {{wrapClasses}}'>
        <div class="m-wrap__card">
                <div class="m-wrap__header">
                    <h2 class="u-h3 m-wrap__heading">{{moduleTitle}}</h2>
                </div>
                <div class="m-wrap__content">
                    <div class="m-deal-belt">
                        <button class="c-btn c-btn--carousel c-btn--carousel--previous">{{ iconMacros.svgicon(name='chevron-left', classes="c-icon c-btn__carousel-icon") }}</button>
                        <button class="c-btn c-btn--carousel c-btn--carousel--next">{{ iconMacros.svgicon(name='chevron-right', classes="c-icon c-btn__carousel-icon") }}</button>
                        
                        <div class="m-deal-belt__inner">
                                
                            {{dealBeltCategoriesX2Inner()}}
                           
                        </div>
                    </div>
                </div>
        </div>
    </section>
{%- endmacro %}

{% macro dealBeltCategoriesX4Inner(slideClasses) -%}
    {% call dealBeltSlideWrapNoLogo(slideClasses) -%}
    <div class="m-deal-slide__cards m-deal-slide__cards--categoriesx4 js-deal-slide-carousel">
        {{tileDealCategorySmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealCategorySmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealCategorySmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealCategorySmall(tileClasses="l")}}
        {{tileDealProductSmall(tileClasses="")}}
        {{tileDealProductSmall(tileClasses="")}}
    </div>
    {% endcall -%}

{%- endmacro %}

{% macro dealBeltCategoriesX4(moduleTitle="Shop by Deal", wrapClasses="m-wrap--deals") -%}
    <section class='m-wrap {{wrapClasses}}'>
        <div class="m-wrap__card">
                <div class="m-wrap__header">
                    <h2 class="u-h3 m-wrap__heading">{{moduleTitle}}</h2>
                </div>
                <div class="m-wrap__content">
                    <div class="m-deal-belt">
                        <button class="c-btn c-btn--carousel c-btn--carousel--previous">{{ iconMacros.svgicon(name='chevron-left', classes="c-icon c-btn__carousel-icon") }}</button>
                        <button class="c-btn c-btn--carousel c-btn--carousel--next">{{ iconMacros.svgicon(name='chevron-right', classes="c-icon c-btn__carousel-icon") }}</button>
                        
                        <div class="m-deal-belt__inner">
                                
                            {{dealBeltCategoriesX4Inner()}}
                           
                        </div>
                    </div>
                </div>
        </div>
    </section>
{%- endmacro %}

{% macro dealInfo() -%}
    
    <img src="/assets/images/t7/logos/Marmot-logo-white.svg" class="m-deal-belt__slide-logo"  />
    <div class="u-flex-column u-flex-align-center">
        <div class="m-deal-belt__deal-header">NOW JUST</div>
        <div class="m-deal-belt__deal-amount">
            <div class="m-deal-belt__deal-text-prefix">$</div>
            <div class="m-deal-belt__deal-number-medium">129</div>
            <div class="m-deal-belt__deal-text-suffix">.00</div>
        </div>
        <p class="u-p2 m-deal-belt__description">Shop Clothing, Accessories, Boots and more.</p>
    </div>
    
    <a href="" class="c-btn c-btn--primary-reverse m-deal-belt__btn m-deal-belt__btn--2col">Shop all</a>
{%- endmacro %}

{% macro dealInfoNoLogo() -%}
    
    <div class="m-deal-belt__slide-logo m-deal-belt__slide-logo--no-logo">&nbsp;</div>

    <div class="u-flex-column u-flex-align-center">
        <div class="m-deal-belt__deal-amount">
            <div class="m-deal-belt__deal-number-large">20</div>
            <div class="m-deal-belt__deal-text-small">
                <div class="m-deal-belt__percent">%</div>
                <div class="m-deal-belt__off">off</div>
            </div>
        </div>
        <p class="u-p2 m-deal-belt__description">Shop Clothing, Accessories, Boots and more.</p>
    </div>
    
    <a href="" class="c-btn c-btn--primary-reverse m-deal-belt__btn m-deal-belt__btn--2col">Shop all</a>
{%- endmacro %}

{% macro dealInfoSmall() -%}

<div class="m-deal-belt__slide-logo m-deal-belt__slide-logo--no-logo">&nbsp;</div>

<div class="u-flex-column u-flex-align-center">
    <div class="m-deal-belt__deal-amount">
        <div class="m-deal-belt__deal-number-small">20-50</div>
        <div class="m-deal-belt__deal-text-suffix">
           %
        </div>
    </div>
    <div class="m-deal-belt__deal-footer">OFF</div>
    <p class="u-p2 m-deal-belt__description">Shop Clothing, Accessories, Boots and more.</p>
</div>

<a href="" class="c-btn c-btn--primary-reverse m-deal-belt__btn m-deal-belt__btn--2col">Shop all</a>
{%- endmacro %}


{% macro dealBeltSlideWrap(slideClasses) -%}
<div class="m-deal-belt__slide {{slideClasses}} ">
    
        <div class="m-deal-slide ">      
            <div class="u-columns u-columns--eight -no-gutter">
                <div class="u-columns__column u-columns__column--four-m u-columns__column--two-l -no-gutter u-flex-justify-center">
                    <div class="m-deal-belt__deal-info">
                        
                        {{dealInfo()}}
                       
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--four-m u-columns__column--six-l -no-gutter ">
                    <div class="m-deal-slide__inner " 
                    data-module="slick-mobile-cards-carousel"
                    data-module-options='{"carouselElement":".js-deal-slide-carousel"}'>
                        
                        {{caller()}}
                        
                    </div>
                </div>
            </div>
            <div class="m-deal-belt__footer"> 
                <a href="" class="c-btn c-btn--primary-reverse m-deal-belt__btn">Shop all</a>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro dealBeltSlideWrapNoLogo(slideClasses) -%}
<div class="m-deal-belt__slide {{slideClasses}} ">
    
        <div class="m-deal-slide ">      
            <div class="u-columns u-columns--eight -no-gutter">
                <div class="u-columns__column u-columns__column--four-m u-columns__column--two-l -no-gutter u-flex-justify-center">
                    <div class="m-deal-belt__deal-info" >
                        
                        {{dealInfoNoLogo()}}
                       
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--four-m u-columns__column--six-l -no-gutter ">
                    <div class="m-deal-slide__inner " 
                    data-module="slick-mobile-cards-carousel" 
                    data-module-options='{"carouselElement":".js-deal-slide-carousel"}'>
                        
                            {{caller()}}
                        
                    </div>
                </div>
            </div>
            <div class="m-deal-belt__footer"> 
                <a href="" class="c-btn c-btn--primary-reverse m-deal-belt__btn">Shop all</a>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro dealBeltSlideWrapSmall(slideClasses) -%}
<div class="m-deal-belt__slide {{slideClasses}} ">

    <div class="m-deal-slide ">
        <div class="u-columns u-columns--eight -no-gutter">
            <div class="u-columns__column u-columns__column--four-m u-columns__column--two-l -no-gutter u-flex-justify-center">
                <div class="m-deal-belt__deal-info">

                    {{dealInfoSmall()}}

                </div>
            </div>
            <div class="u-columns__column u-columns__column--four-m u-columns__column--six-l -no-gutter ">
                <div class="m-deal-slide__inner " data-module="slick-mobile-cards-carousel" data-module-options='{"carouselElement":".js-deal-slide-carousel"}'>

                    {{caller()}}

                </div>
            </div>
        </div>
        <div class="m-deal-belt__footer">
            <a href="" class="c-btn c-btn--primary-reverse m-deal-belt__btn">Shop all</a>
        </div>
    </div>
</div>
{%- endmacro %}



{% macro tileDealProductSmall(tileClasses="", tileHeading="tile heading", tileImage="/assets/images/test/tile-deal-product.jpg") -%}
    <div class="m-deal-slide__card">
        <article class="c-card-product c-card-product--deal {{tileClasses}}">
            {{productMacros.productCardIconBtn()}}
            <a href="#" class="c-card__link" aria-hidden="true">Torpedo7 2018 Vall-E+ 1 Pro - 27.5 E-Bike</a>
            <div class="c-card-product__image-wrap">
                <div class="c-pill c-pill--primary c-card-product__pill">Limited Edition</div> 
                <img src="{{tileImage}}" class="c-card-product__image" alt="{{tileHeading}}"/>
            </div>

            <div class="c-card-product__text-colors">
                3 colors
            </div>   

            <div class="c-card-product__content">
                <div class="c-card-product__brand">Torpedo7</div>
                <h4 class="c-card__heading c-card-product__heading"><a href="#" class="u-link-reset">2018 Vall-E+ 1 Pro - 27.5 E-Bike</a></h4>
                {{productMacros.starGroup(groupClasses="c-card-product__rating")}}
                <div class="c-prices">
                    <div class="c-prices__price c-prices__price--old">$5,432.10</div>
                    <div class="c-prices__price c-prices__price--new">$4,332.10</div>
                </div>
                <div class="c-card-product__bundle">Buy 1 Get 1 Half Price</div>
            </div>
        </article>
    </div>
{%- endmacro %}

{% macro tileDealProductSmallOld(tileClasses="", tileHeading="tile heading", tileImage="/assets/images/test/tile-deal-product.jpg") -%}

    <a href="" class="c-tile__link c-card-deal c-card-deal-product u-aspect-eight-by-nine c-card-product--deal {{tileClasses}}">
        {{productMacros.productCardIconBtn()}}
        <div class="c-card-deal__content">
            <div class="c-card-deal__image-wrap u-aspect-one-by-one">
                <img src="{{tileImage}}" class="c-card-deal__image" alt="{{tileHeading}}"/>
            </div>
            <div class="c-prices">
                <div class="c-prices__price c-prices__price--old u-price3">$5,432.10</div>
                <div class="c-prices__price c-prices__price--new u-price3">$4,332.10</div>
            </div>
        </div>
    </a>
{%- endmacro %}

{% macro tileDealBrandSmall(tileClasses="", tileHeading="tile heading", tileImage="/assets/images/test/brand-logo.png") -%}
<div class="m-deal-slide__card">
    <div class="c-card-deal c-card-deal-brand  {{tileClasses}}">
        <a href="" class="c-tile__link">{{tileHeading}}</a>
        <div class="c-card-deal-brand__image-wrap">
            <img src="{{tileImage}}" class="c-card-deal-brand__image" alt="{{tileHeading}}"/>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro tileDealCategorySmall(tileClasses="", tileHeading="Snow Boots", tileImage="/assets/images/test/tile-deal-product.jpg") -%}
<div class="m-deal-slide__card">
    <div class="c-card-deal c-card-deal-category  {{tileClasses}}">
        <a href="" class="c-tile__link">{{tileHeading}}</a>
        <div class="c-card-deal__content">
            <div class="c-card-deal__image-wrap u-aspect-one-by-one">
                <img src="{{tileImage}}" class="c-card-deal__image" alt="{{tileHeading}}"/>
            </div>
            <h3 class="c-card-deal-category__heading">{{tileHeading}}</h3>
        </div>
    </div>
</div>
{%- endmacro %}

