{% import 'html/guide/macros/icons.html' as iconMacros %}


{% macro alertWarning(text="warning text") -%}
    <div class="c-alert c-alert--warning">
        {{ iconMacros.iconAlertWarning(classes="c-icon--medium c-alert__icon") }}
        <div class="c-alert__text u-p3">{{text}}</div>
    </div>
{%- endmacro %}

{% macro alertError(text="Error text") -%}
    <div class="c-alert c-alert--error">
        {{ iconMacros.iconAlertWarning(classes="c-icon--medium c-alert__icon") }}
        <div class="c-alert__text u-p3">{{text}}</div>
    </div>
{%- endmacro %}

{% macro alertInfo(text="Info text") -%}
    <div class="c-alert c-alert--info">
        {{ iconMacros.iconAlertWarning(classes="c-icon--medium c-alert__icon") }}
        <div class="c-alert__text u-p3">{{text}}</div>
    </div>
{%- endmacro %}