{% import "html/t7-live/modules/content/macros-t7.html" as contentT7Macro %}
{% import 'html/guide/macros/guide.html' as guideMacros %}

{% call guideMacros.docsWrap() -%}
<h3 class="u-h3">This is a simple single column text content module used to display content on the CLP page for SEO purposes.</h3>
{% endcall %}

{{contentT7Macro.1ColImageWrapT7()}}


{% call guideMacros.docsWrap() -%}
<h3 class="u-h3">This is a simple 2 column text content module used to display content on the CLP page for SEO purposes.</h3>
{% endcall %}

{{contentT7Macro.2ColImagePopulatedT7()}}

