{% import 'html/t7-live/macros/image.html' as imageMacros %} 
{% import 'html/t7-live/macros/icons.html' as iconMacros %}
{% import 'html/t7-live/components/tiles/macros.html' as tileMacros %}

{% macro 2ColImageWrapT7(options) -%}
    <section class='m-wrap m-wrap--content-image u-aspect-three-by-one' data-responsive-background-src data-src-m="{{options.desktopImage}}">
        <div class="m-wrap__card" >
            <div class="m-wrap__inner">
                <div class="m-wrap__content">
                    {{ 2ColImageT7(options) }}
                </div>
            </div>
        </div>
    </section>
{%- endmacro %}

<!--  -->

{% macro 2ColImageT7(options) -%}

<div class="u-columns m-content m-content--2col">
    <div class="u-columns__column u-columns__column--twelve u-columns__column--six-m u-aspect-three-by-two u-relative">
        <div class="m-content__tile">
            <div class="m-content__tile-image m-content__tile-image--mobile-only u-aspect-three-by-two" data-responsive-background-src data-src="{{options.mobileImage}}"></div>
        </div>
    </div>
    <div class="u-columns__column u-columns__column--twelve u-columns__column--six-m">
        <div class="m-content__tile">
            <div class="m-content__tile-content">
                <h3 class="u-h2">Bikes</h3>
                <p class="u-p2">Campfires, s'mores, fishing and hiking—just some of the things that make camping so great. Before your next campout, make sure to head to Torpedo7. Our wide variety of camping gear and hiking gear is just what you need to make a life outdoors a life well lived.</p>
            </div>
        </div>
    </div>
</div>

{%- endmacro %}

{% macro 1ColImageWrapT7(options) -%}
    <section class='m-wrap'>
        <div class="m-wrap__card" >
            <div class="m-wrap__inner">
                <div class="m-wrap__header"></div>
                <div class="m-wrap__content">
                    {{ 1colContentT7(options) }}
                </div>
                <div class="m-wrap__footer"></div>
            </div>
        </div>
    </section>
{%- endmacro %}

{% macro 1colContentT7(options) -%}

<div class="u-columns  u-flex-justify-center">
    <div class="u-columns__column u-columns__column--twelve u-columns__column--eight-l ">
        <div class="m-content m-content--center u-wysiwyg">
            <h2>Bikes</h2>
            <p>Campfires, s'mores, fishing and hiking—just some of the things that make camping so great. Before your next campout, make sure to head to Torpedo7. Our wide variety of camping gear and hiking gear is just what you need to make a life outdoors a life well lived.</p>
        </div>
    </div>
</div>

{%- endmacro %}

{% macro 2ColImagePopulatedT7() %}

    {% 
        set options = {
            mobileImage: "/assets/images/test/2col-content-left.jpg",
            desktopImage: "/assets/images/test/content-2col-clp.jpg"
        }
    %}

    {{ 2ColImageWrapT7(options) }}

{% endmacro %}