{% import "html/guide/macros/icons.html" as iconMacros %}


{% macro iconPageBlock(colClasses="", colHeading="") -%}
    <div class="u-columns__column  u-columns__column--two u-columns__column--one-m -no-gutter u-block u-spacing u-margin-top-x10 u-centered u-color-black {{colClasses}}" style="fill: black;">
        {{caller()}}
        {% if colHeading %}<h3 class="u-h6 u-margin-top-x4">{{colHeading}}</h3>{% endif %}
    </div>
{%- endmacro %}

    <div class="u-columns u-padding-x4">

        {% for icon in icons %}
        {#{ iconMacros.svgicon(name=icon.name) }#}
        {% endfor %}

        {% call iconPageBlock(colClasses="", colHeading="Account") %}
            {{ iconMacros.iconAccount(classes="") }}
        {% endcall %}
       {% call iconPageBlock(colClasses="", colHeading="Burger") %}
            {{ iconMacros.iconBurger(classes="") }}
        {% endcall %}
       {% call iconPageBlock(colClasses="", colHeading="Cart") %}
            {{ iconMacros.iconCart(classes="") }}
        {% endcall %}
       {% call iconPageBlock(colClasses="", colHeading="Chevron down") %}
            {{ iconMacros.iconChevronDown(classes="") }}
        {% endcall %}
       {% call iconPageBlock(colClasses="", colHeading="Chevron left") %}
            {{ iconMacros.iconChevronLeft(classes="") }}
        {% endcall %}
        {% call iconPageBlock(colClasses="", colHeading="Chevron right") %}
            {{ iconMacros.iconChevronRight(classes="") }}
        {% endcall %}

        {% call iconPageBlock(colClasses="", colHeading="Chevron up") %}
            {{ iconMacros.iconChevronUp(classes="") }}
        {% endcall %}

        {% call iconPageBlock(colClasses="", colHeading="Close") %}
            {{ iconMacros.iconClose(classes="") }}
        {% endcall %}
        
        {% call iconPageBlock(colClasses="", colHeading="Cross (error)") %}
            {{ iconMacros.iconCrossError(classes="") }}
        {% endcall %}

        {% call iconPageBlock(colClasses="", colHeading="Collapse") %}
            {{ iconMacros.iconCollapse(classes="") }}
        {% endcall %}

        {% call iconPageBlock(colClasses="", colHeading="Edit") %}
            {{ iconMacros.iconEdit(classes="") }}
        {% endcall %}

        {% call iconPageBlock(colClasses="", colHeading="Expand") %}
            {{ iconMacros.iconExpand(classes="") }}
        {% endcall %}

        {% call iconPageBlock(colClasses="", colHeading="Mailer") %}
            {{ iconMacros.iconMailer(classes="") }}
        {% endcall %}

        {% call iconPageBlock(colClasses="", colHeading="Pin") %}
            {{ iconMacros.iconPin(classes="") }}
        {% endcall %}

        {% call iconPageBlock(colClasses="", colHeading="Search") %}
            {{ iconMacros.iconSearch(classes="") }}
        {% endcall %}

        {% call iconPageBlock(colClasses="", colHeading="Warehouse Money") %}
            {{ iconMacros.iconWM(classes="") }}
        {% endcall %}

        {% call iconPageBlock(colClasses="", colHeading="Wishlist") %}
            {{ iconMacros.iconWishlist(classes="") }}
        {% endcall %}

        {% call iconPageBlock(colClasses="", colHeading="Wishlist (filled)") %}
            {{ iconMacros.iconWishlistFilled(classes="") }}
        {% endcall %}

    </div>

    


