 {% import 'html/t7-live/macros/icons.html' as iconMacros %} {% macro footer() -%}
</main>

<footer class="m-footer__wrap">
    <div class="m-footer-ad__wrap">
        <div class="m-footer-ad">
            <div class="m-footer-club">
                <div class="m-footer-club-logo">
                    {{ iconMacros.clubLogo() }}
                </div>
                <a href class="c-btn c-btn--primary-reverse">Join Club</a>
            </div>
            <ul class="m-footer-ads c-icon-feature__wrap">
                <li class="c-icon-feature">
                    <div class="c-icon-feature-icon">
                        {{ iconMacros.iconDeliveryLine(classes="m-header__icon-btn-icon") }}
                    </div>
                    <p class="c-icon-feature-title">Free Delivery</p>
                    <p class="c-icon-feature-desc">Get free delivery for all orders</p>
                </li>
                <li class="c-icon-feature">
                    <div class="c-icon-feature-icon">
                        {{ iconMacros.iconAccount(classes="m-header__icon-btn-icon") }}
                    </div>
                    <p class="c-icon-feature-title">Exclusive Deals</p>
                    <p class="c-icon-feature-desc">Save more with exclusive deals</p>
                </li>
                <li class="c-icon-feature">
                    <div class="c-icon-feature-icon">
                        {{ iconMacros.iconSaletag(classes="m-header__icon-btn-icon") }}
                    </div>
                    <p class="c-icon-feature-title">Early Sale Access</p>
                    <p class="c-icon-feature-desc">Be in early</p>
                </li>
                <li class="c-icon-feature">
                    <div class="c-icon-feature-icon">
                        {{ iconMacros.iconFlybys(classes="m-header__icon-btn-icon") }}
                    </div>
                    <p class="c-icon-feature-title">2x Flybuys</p>
                    <p class="c-icon-feature-desc">Rewarded with Flybuys</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-footer">
        <div class="m-footer-links">
            <div class="m-footer-col">
                <dl class="footer_definition kioskHide">
                    <dt data-module="toggle-reveal">
                        My Account</dt>
                    <dd>
                        <a href="/torpedo7/login.do?redirectUrl=/orderlist.do">Login</a>

                        <a href="/orderlist.do?selectedTab=1">My Details</a>

                        <a href="/orderlist.do?selectedTab=2">Order History</a>

                        <a href="/content/oaa_learn_more">Over &amp; Above</a>
                    </dd>
                </dl>
            </div>
            <div class="m-footer-col">
                <dl>
                    <dt data-module="toggle-reveal">
                        Shopping with Torpedo7</dt>
                    <dd>
                        <a href="/store-locator">Store Locator</a>

                        <a href="/fullwidth/aboutus">About Us</a>

                        <a href="/flybuys">Fly Buys</a>

                        <a href="/content/privacypolicy.html">Privacy Policy</a>

                        <a href="/content/termsandconditions.html">Terms and Conditions</a>

                        <a href="/gift-cards">Gift Cards</a>

                        <a href="/content/help.html">Torpedo7 Help</a>

                        <a href="/community/teamt7">Meet The Team</a>

                        <a href="/torpedo7/contactUs.do">Contact Us</a>

                        <a href="/fullwidth/commercial">Commercial</a>
                    </dd>

                </dl>
            </div>
            <div class="m-footer-col">
                <dl>
                    <dt data-module="toggle-reveal">
                        Categories</dt>
                    <dd>
                        <a href="/division/bike/home.do" title="Bike">Bike </a>

                        <a href="/division/snow/home.do" title="Snow">Snow </a>

                        <a href="/division/outdoor/home.do" title="Outdoor">Outdoor </a>

                        <a href="/division/moto/home.do" title="Moto">Moto </a>

                        <a href="/fullwidth/no1fitness" title="Fitness">Fitness </a>

                        <a href="/division/clearance/home.do" title="Clearance">Clearance </a>
                    </dd>
                </dl>
            </div>
            <div class="m-footer-col">
                <dl>
                    <dt data-module="toggle-reveal">
                        Store Policies</dt>
                    <dd id="standard-policy-footer-link">
                        <a href="/content/rightOfReturn.html">90&nbsp;Day Right of Return</a>

                        <a href="/content/shippingpolicy.html">Shipping &amp; Delivery</a>

                        <a href="/content/clickandcollect">Click &amp; Collect</a>

                        <a href="/content/warranty.html">Warranty</a>

                        <a href="/content/layby-policy">Layby Policy</a>

                        <a href="/content/parallel-imported-products">Parallel Imported Products</a>

                        <a href="/content/phishing">Security</a>
                    </dd>
                </dl>
                <dl>
                    <dt class="kioskHide" data-module="toggle-reveal">
                        Finance Solutions</dt>
                    <dd class="kioskHide">
                        <a href="/finance-application" target="_blank">Marble Finance</a>

                        <a href="/fullwidth/partpay">PartPay</a>
                    </dd>
                </dl>
            </div>
            <div class="m-footer-col">
                <dl>
                    <dt data-module="toggle-reveal">
                        Subscribe &amp; Community</dt>
                    <dd>
                        <a class="community-partnership" href="/hillaryoutdoors" target="_blank">Community Partnership</a>

                        <a href="/fullwidth/sponsorship">Event Sponsorship</a>

                        <a href="/fullwidth/athlete-sponsorship">Athlete Sponsorship</a>

                        <a class="twitter" href="https://twitter.com/torpedo7" target="_blank">Twitter</a>

                        <a class="facebook" href="https://facebook.com/torpedo7" target="_blank">Facebook</a>

                        <a class="google-plus" href="https://plus.google.com/108739894395514086218" rel="publisher" target="_blank">Google+</a>
                    </dd>

                </dl>
                <dl>
                    <dt class="kioskHide" data-module="toggle-reveal">
                        Careers</dt>
                    <dd class="kioskHide">
                        <a href="https://www.twgcareers.co.nz/torpedo-7/" target="_blank">Careers at Torpedo7</a>
                    </dd>
                </dl>
            </div>
            <div class="m-footer-col">

                <div class="c-social-icons">
                    <p class="c-social-icons__title">Follow us</p>
                    <ul class="c-social-icons__list">
                        <!--<li><a class="twitter" href="https://twitter.com/torpedo7" target="_blank">
                        {{ iconMacros.iconTwitter(classes="c-icon--large m-header__icon-btn-icon") }}
                    </a></li>-->
                        <li>
                            <a class="facebook" href="https://www.facebook.com/torpedo7" target="_blank">
                                {{ iconMacros.iconFacebook(classes="c-icon--large m-header__icon-btn-icon") }}
                            </a>
                        </li>
                        <!--<li><a class="googleplus" href="https://plus.google.com/108739894395514086218" target="_blank">
                        {{ iconMacros.iconGooglePlus(classes="c-icon--large m-header__icon-btn-icon") }}
                    </a></li>
                    <li><a class="youtube" href="https://www.youtube.com/torpedo7tv" target="_blank">
                        {{ iconMacros.iconYouTube(classes="c-icon--large m-header__icon-btn-icon") }}
                    </a></li>-->
                        <li>
                            <a class="instagram" href="https://instagram.com/torpedo7" target="_blank">
                                {{ iconMacros.iconInstagram(classes="c-icon--large m-header__icon-btn-icon") }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="c-social-icons">
                    <p class="c-social-icons__title">Our Site</p>

                   <ul class="c-social-icons__list c-social-icons__list--sites">
                    <li>
                    <a href="www.1-day.co.nz" target="_blank" class="c-icon-feature-icon c-icon-feature-icon--small c-icon-feature-icon--1day">
                        {{ iconMacros.icon1day(classes="c-icon m-header__icon-btn-icon") }}
                    </a>
                    </li>
                    </ul>
                </div>
                <div id="subscribeDiv" class="subscribe-form__wrap">
                    <form id="subscribeForm" class="subscribe-form">
                        <label>Get great deals from email</label>
                        <div class="subscribe-form-field">
                            <input class="subscribe-form-input" type="text" placeholder="Enter Email Address" autocomplete="off" name="email" id="registerEmail"
                                maxlength="200" onkeydown="return KeyDownHandlerSearchKeyWord(event);">
                            <a href="javascript:;" onclick="subscribeToMailingList('subscribeForm');" class="c-btn c-btn--tertiary-reverse subscribe-form-btn">
                                <span>Subscribe</span>{{ iconMacros.iconChevronRight(classes="c-icon--small m-header__icon-btn-icon")
                                }}
                                </span>
                            </a>
                        </div>
                    </form>
                </div>
                <div id="subscribedForm" style="display: none">
                    <span>You are signed up to receive the Torpedo7 newsletter</span>
                </div>
            </div>
        </div>
        <!--<span class="copywrite">Copyright ?? Torpedo7 2015 - <a href="/sitemap.do" title="sitemap">Sitemap</a></span>-->
    </div>
    <div class="m-footer__bottom">
        <span class="m-footer__bottom-copyright">
            © Copyright Torpedo7 2018 -
            <a href="http://www.jbiz.co.nz/" target="_blank">Powered by JBiz</a>
        </span>
        <div class="m-footer__bottom-payment">
            <span>We Accept</span>
            <ul class="m-payment-list">
                <li class="m-payment-item">
                    <img src="https://www.torpedo7.co.nz/images/redesign/payment-icons/card-visa.svg" alt="visa" />
                </li>
                <li class="m-payment-item">
                    <img src="https://www.torpedo7.co.nz/images/redesign/payment-icons/card-visacheckout.svg" alt="visa checkout" />
                </li>
                <li class="m-payment-item">
                    <img src="https://www.torpedo7.co.nz/images/redesign/payment-icons/card-mastercard.svg" alt="mastercard" />
                </li>
                <li class="m-payment-item">
                    <img src="https://www.torpedo7.co.nz/images/redesign/payment-icons/card-paypal.svg" alt="paypal" />
                </li>
                <li class="m-payment-item">
                    <img src="https://www.torpedo7.co.nz/images/redesign/payment-icons/card-qcard.svg" alt="qcard" />
                </li>
            </ul>
        </div>
    </div>
</footer>
{%- endmacro %}