$aspect-ratios : (

	//u-aspect-one-by-one
	-one-by-one:(
		width:1,
		height:1
	),
	//u-aspect-two-by-one
	-two-by-one:(
		width:2,
		height:1
	),
	//u-aspect-three-by-one
	-three-by-one:(
		width:3,
		height:1
	),
	//u-aspect-eight-by-nine
	-eight-by-nine:(
		width:8,
		height:9
	),
	//u-aspect-nine-by-eight
	-nine-by-eight:(
		width:9,
		height:8
	),
	//u-aspect-nine-by-eight
	-nine-by-four:(
		width:9,
		height:4
	),
	//u-aspect-sixteen-by-nine
	-sixteen-by-nine:(
		width: 16,
		height: 9
	)
);


//ASPECT RATIOS

.u-aspect{

	@each $aspect-selector,$ratio-details in $aspect-ratios {
		
		&#{$aspect-selector}{
			@include aspect-ratio(map-get($ratio-details,width), map-get($ratio-details,height));

		}

	}

	@each $breakpoint-selector,$breakpoint in $layout-breakpoints {

		@each $aspect-selector,$ratio-details in $aspect-ratios {
		
			&#{$aspect-selector}#{$breakpoint-selector}{

				@media (min-width: $breakpoint) {
					@include aspect-ratio(map-get($ratio-details,width), map-get($ratio-details,height));
				}

			}

		}

	}

	&-none{
		&-m{
			@include media($media-m){
				&:before{
					display:none !important;
				}
			}
		}

		&-s
		{
			@include media($media-s-max){
				&:before{
					display:none !important;
				}
			}
		}
	}
}
