
.u-max-width-red-live{
	@include max-width-red-live();
}

.u-max-width-clp-red-live{
	@include max-width-clp-red-live();
}

.u-outer-gutter{
	@include outer-gutter();
}

.u-gutter-wrap {
	margin-right: -$card-gutter / 2;
    margin-left: -$card-gutter / 2;
}