
@mixin light-theme {
	.t-text {
		color: $color-grey !important;
	}
	.t-cta {
		background-color: white;
	}
}
@mixin dark-theme {
	.t-text {
		color: white !important;
		font-weight: $font-weight-light;
	}
	.t-heading {
		color: white !important;
	}
	.t-btn-primary, .t-btn-primary-inverse {
		@include btn-primary-reverse;
	}
	.t-btn-secondary {
		@include btn-secondary-reverse;
	}
	.t-btn-tertiary {
		@include btn-tertiary-reverse;
		text-shadow: 2px 1px 1px rgba(0,0,0, 0.5);
	}
}

.t{
	&-light{
		@include light-theme;
	}
	&-dark{
		@include dark-theme;
	}

	&-light-m{
		@include media($media-m) {
			@include light-theme;
		}
	}
	&-dark-m{
		@include media($media-m) {
			@include dark-theme;
		}
	}
}

.t-text{
	&--light {
		color: white !important;

		&-s {
			@include media($media-s) {
				color: white !important;
			}
		}

		&-m {
			@include media($media-m) {
				color: white !important;
			}
		}

		&-l {
			@include media($media-l) {
				color: white !important;
			}
		}

	}
	&--dark {
		color: #444444 !important;

		&-s {
			@include media($media-s) {
				color: #444444 !important;
			}
		}

		&-m {
			@include media($media-m) {
				color: #444444 !important;
			}
		}

		&-l {
			@include media($media-l) {
				color: #444444 !important;
			}
		}
	}
}
.t-overlay {
	// The text will be white so overlay needs to be dark.
	&--light {
		background: rgba(68,68,68,.4);

		// @include hover {
		// 	background: rgba(68,68,68,0);

		// 	+ div {
		// 		transform: scale(1.05);
		// 	}
		// }
	}

	// The text will be #444444 so overlay needs to be light.
	&--dark {
		background: rgba(255, 255, 255, 0.4);

		// @include hover {
		// 	background: rgba(255,255,255,0);

		// 	+ div {
		// 		transform: scale(1.05);
		// 	}
		// }
	}
}


// THEMES
/////////////////////////////////////////////////////
//(this is not recommended approach)

// LIGHT
.c-btn--light {
	color: $color-white !important;
	border-color: $color-white !important;

	// Hover state.
	@include hover {
		background: $color-black !important;
		border-color: $color-black !important;
	}
}


// DARK
.c-btn--dark {
	color: $color-black !important;
	border-color: $color-black !important;

	// Hover state.
	@include hover {
		color: $color-white !important;
		border-color: $color-white !important;
	}
}