.u{
	&-heading{
		@include font-header();
	}
	&-script{
		@include font-script();
	}
	&-text{
		@include font-text();
	}
	&-xxxl {
		@include header-font-size-xxxl;
	}
	&-xxl {
		@include header-font-size-xxl;
	}
	&-xl {
		@include header-font-size-xl;
	}
	&-h1{
		@include header-font-size-h1;
	}
	&-h2{
		@include header-font-size-h2;
	}
	&-h3{
		@include header-font-size-h3;
	}
	&-h4{
		@include header-font-size-h4;
	}
	&-h5{
		@include header-font-size-h5;
	}
	&-h6{
		@include header-font-size-h6;
	}

	&-p1{
		@include text-font-size-p1;
	}
	&-p2{
		@include text-font-size-p2;
	}
	&-p3{
		@include text-font-size-p3;
	}

	&-price1{
		@include price-font-size-1;
	}
	&-price2{
		@include price-font-size-2;
	}
	&-price3{
		@include price-font-size-3;
	}

	&-bold{
		@include font-text-bold();
	}
	&-uppercase{
		text-transform: uppercase !important;
	}
	&-regular{
		@include font-text();
	}
}

.u-spacing {
	.u{  
		&-xxl{
			margin-bottom: $x4;
			@include media($media-m) {
				margin-bottom: $x6;
			}
			@include media($media-l) {
				margin-bottom: $x8;
			}
		}
		
		&-h1{
			margin-bottom: $x3;
			@include media($media-m) {
				margin-bottom: $x4;
			}
			@include media($media-l) {
				margin-bottom: $x6;
			}
		}
		&-h2{
			margin-bottom: $x3;
			@include media($media-m) {
				margin-bottom: $x4;
			}
			@include media($media-l) {
				margin-bottom: $x6;
			}
		}
		&-h3{
			margin-bottom: $x2;
			@include media($media-m) {
				margin-bottom: $x3;
			}
			@include media($media-l) {
				margin-bottom: $x3;
			}
		}
		&-h4{
			margin-bottom: $x3;
			@include media($media-m) {
				margin-bottom: $x4;
			}
			@include media($media-l) {
				margin-bottom: $x6;
			}
		}
		&-h5{
			margin-bottom: $x3;
			@include media($media-m) {
				margin-bottom: $x4;
			}
			@include media($media-l) {
				margin-bottom: $x6;
			}
		}
		&-h6{
			margin-bottom: $x2;
			@include media($media-m) {
				margin-bottom: $x3;
			}
			@include media($media-l) {
				margin-bottom: $x4;
			}
		}
	
		&-p1{
			margin-bottom: $x4;
			@include media($media-m) {
				margin-bottom: $x5;
			}
			@include media($media-l) {
				margin-bottom: $x6;
			}
		}
		&-p2{
			margin-bottom: $x4;
			@include media($media-m) {
				margin-bottom: $x5;
			}
			@include media($media-l) {
				margin-bottom: $x6;
			}
		}
		&-p3{
			margin-bottom: $x4;
			@include media($media-m) {
				margin-bottom: $x5;
			}
			@include media($media-l) {
				margin-bottom: $x6;
			}
		}

		&-h1, &-h2, &-h3, &-h4, &-h5, &-h6, &-p1, &-p2, &-p3 {
			&:last-child {
				margin-bottom: 0;
			}
		}  
	}

	.c-btn {
		margin-top: $x3;
		@include media($media-m) {
			margin-top: $x4;
		}
	}


}