
{% import 'html/t7-live/modules/cards-category/macros.html' as categoryMacros %}
{% import 'html/guide/macros/module.html' as wrapMacros %}
{% import 'html/guide/macros/guide.html' as guideMacros %}
{% import 'html/t7-live/modules/cards-product/macros-t7.html' as productMacros %}
{% import 'html/t7-live/modules/story/macros-t7.html' as storyMacros %}
{% import 'html/t7-live/macros/icons.html' as iconMacros %}
{% import 'html/t7-live/modules/deals/macros.html' as dealMacros %}

{% call guideMacros.docs2ColWrap() -%}
    {% call guideMacros.docs2ColColumn1Wrap(colHeading="hero Banner Default") -%}
        
        <p>
            M003A: Hero Banner - center left aligned text<br />
            Title: (optional) text<br />
            Description: (optional) text. char limit (enough to limit to 2 lines for all BPs)<br />
            Image - large: (3x1 ratio) 1680 x 560<br />
            Image - medium: (3x1 ratio) 1366 x 455<br />
            Image - small: 768 x 300 (max-height: 300, optimised so the focus of the image is at the center)<br />
            Background color: color picker<br />
            Content theme: select (dark / light)<br />
            Mobile content background color: color picker (will default to white)<br />
            Content background color: color picker<br />
            CTA: (optional, text) <br />
            Link: URL<br />
            Banner layout: select
        </p>
    {% endcall %}

    {% call guideMacros.docs2ColColumn2Wrap(colHeading="Product Card Price options:") -%}
        <p>
            
        </p>
    {% endcall %}
{% endcall %}

