
// Site colours map-get($colours, theme-primary)
$colours: (
  strong:           #000,
  theme-primary:    #ff866a,
  theme-secondary:  #b7e1e6,
  body-bg:          #fff,
  body-color:       #070707,
  gray-dark:        rgba(7, 7, 7, 0.8),
  gray:             rgba(7, 7, 7, 0.6),
  gray-light:       rgba(7, 7, 7, 0.2),
  campaign-gift-guide: map-get($campaign-colors, gift-guide-xmas)
);

// Theming
$brand-primary:     map-get($colours, theme-primary);
$brand-secondary:   map-get($colours, theme-secondary);
$body-bg:           map-get($colours, body-bg);
$body-color:        map-get($colours, body-color);
$body-color-strong: map-get($colours, strong);
$gray-dark:         map-get($colours, gray-dark);
$gray:              map-get($colours, gray);
$gray-light:        map-get($colours, gray-light);

// Primary Navigation
$primary-navigation--background-color: white;

// modify global styling by enabling or disabling optional features
$enable-flex: true;
$enable-rounded: false;

// Form
$state-success-text: #5cab70;
$state-danger-text: #df1717;

// Fonts settings.
$font-stack: Helvetica, Arial, sans-serif;
$font-family-sans-serif: 'Montserrat', sans-serif, "Helvetica Neue", Arial, sans-serif;
$font-family-base:       $font-family-sans-serif;
$headings-font-family: 'Montserrat', sans-serif;

// Primary Fonts & Icons are set by index (see config/_fonts.scss for implementation)
$font-face: (
  font-normal: (
    family: 'Montserrat', file: 'Montserrat', weight: 400, style: normal
  ),
  font-normal-italic: (
    family: 'Montserrat', file: 'Montserrat', weight: 400, style: italic
  ),
  font-semibold: (
    family: 'Montserrat', file: 'Montserrat', weight: 600, style: normal
  ),
  font-bold: (
    family: 'Montserrat', file: 'Montserrat', weight: 700, style: normal
  ),
  font-thin: (
    family: 'Montserrat', file: 'Montserrat', weight: 200, style: normal
  ),
  font-light: (
    family: 'Montserrat', file: 'Montserrat', weight: 300, style: normal
  ),
  font-secondary: (
    family: 'Montserrat', file: 'Montserrat', weight: 200, style: normal
  )
);

////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////// BOOSTRAP ///
////////////////////////////////////////////////////////////////////////////
// Variables
//

// Reassign color vars to semantic color scheme
// $brand-primary:             $blue !default;

// Body
//
// Settings for the `<body>` element.

// $body-bg:       $white !default;
// $body-color:    $gray-dark !default;
$inverse-bg:    $gray-dark !default;
$inverse-color: $gray-lighter !default;

// Links
//
// Style anchor elements.
$link-color: $brand-primary;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 740px,
  md: 900px,
  lg: 1000px,
  xl: 1170px
);

@include _assert-ascending($container-max-widths, "$container-max-widths");
