{% import "html/red/modules/buyers-guide-hero/macros.html" as heroMacro %}
{% import "html/red/modules/hero/macros-red.html" as heroRedMacro %}

{% import "html/red/modules/buyers-guide-section-heading/macros.html" as headingMacro %}
{% import "html/red/modules/buyers-guide-section-hero/macros.html" as sectionHeroMacro %}
{% import "html/red/macros/module-wrap.html" as wrapMacro %}
{% import "html/red/macros/module.html" as beltMacro %}
{% import "html/red/modules/content/macros.html" as contentMacro %}
{% import "html/red/modules/content/macros-red.html" as contentRedMacro %}
{% import "html/red/macros/icons.html" as iconMacros %}

{% import "html/red/modules/content/macros-red.html" as contentRedMacro %}
{% import "html/red/macros/guide.html" as guideMacros %}
{% import "html/red/components/product-card/macros-red.html" as productCardMacro %}
{% import "html/red/components/info-card/macros-red.html" as infoCardMacro %}
<div class="u-columns u-flex-justify-center">
    <div class="u-max-width-red-live">

    {% call guideMacros.docsWrap() %}
        <h3 class="u-h3">M0010A - Inline Banner (centered aligned)</h3>
        <p class="u-p2">The inline banner module can be used throughout content but will generally be used at the top of the page. Fields:<br />
        <!--Mobile: 768px x 430px (16:9 ratio)<br />-->
        Title: Text (optional, recommended length: max 25 chars)<br />
        Theme (text color): light / dark<br />
        Image size: 990px x 330px (3:1 ratio, preferrably the image is art directed to place the center of focus on the right side so that text can display on the left)</p>
    {% endcall %}

    {#% ---- Inline Banner ---- %#}
    <div class="m-hero__wrap M0010A">
        <div class="m-hero__content-wrap u-max-width-red-live">
            <div class="m-hero__content m-hero__content--centered t-dark-m ">
                
                <h2 class="u-xxl m-hero__heading t-heading">Inline Banner</h2>
        
            </div>
        </div>
        <div class="m-hero__overlay m-hero__overlay--inline"></div>
        <div class="m-hero__image" data-responsive-background-src="" data-src-s="/assets/images/test/laptop-desk.jpg">
            <div class="u-aspect-sixteen-by-nine u-aspect-three-by-one-l"></div>
        </div>
    </div>

    {% call guideMacros.docsWrap() %}
        <h3 class="u-h3">M0010B - Inline Banner (left aligned)</h3>
        <p class="u-p2">The inline banner module can be used throughout content but will generally be used at the top of the page. Fields:<br />
        <!--Mobile: 768px x 430px (16:9 ratio)<br />-->
        Title: Text (optional, recommended length: max 25 chars)<br />
        Description: text (optional, recommended length: max 120 chars)<br />
        Call to action: text (optional, max 15 chars)<br />
        Theme (text color): light / dark<br />
        Image size: 990px x 330px (3:1 ratio, preferrably the image is art directed to place the center of focus on the right side so that text can display on the left)</p>
    {% endcall %}

    {#% ---- Inline Banner ---- %#}
    <div class="m-hero__wrap M0010A">
        <div class="m-hero__content-wrap">
            <div class="m-hero__content m-hero__content--left-bottom t-dark-m ">
                
                    <h2 class="u-xxl m-hero__heading t-heading">Inline Banner</h2>
                    <p class="u-p1 m-hero__desc t-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
                    <a href="#" class="c-btn c-btn--primary-inverse t-btn-primary">Shop Now</a>
        
            </div>
        </div>
        <div class="m-hero__overlay m-hero__overlay--inline"></div>
        <div class="m-hero__image" data-responsive-background-src="" data-src-s="/assets/images/test/laptop-desk.jpg">
            <div class="u-aspect-sixteen-by-nine u-aspect-three-by-one-l"></div>
        </div>
    </div>

    {% call guideMacros.docsWrap() %}
        <h3 class="u-h3">M0160 - 2 column fluid content, caption left</h3>
        <p class="u-p2">This is used to display medium blocks of copy with a promo message.<br />
        Alignment: caption left / caption right<br />
        Caption background colour: Hex colour (although you must be careful about which colours are used to provide the best readibility)<br />
        Caption: text (recommended max 55 chars)<br />
        Caption theme (text color): light / dark<br />
        Text: paragraph text (recommended max 800 chars)<br />
        Call to action: text (optional, max 15 chars)
    </p>
    {% endcall %}

    {#% ---- 2 column fluid content, caption left ---- %#}
    {% 
        set options = {
            wrapClasses:"M0160"
        }
    %}

    {% call wrapMacro.moduleWrapSimple() %}
        {% call contentMacro.columnContentContainer() %}

            {% call contentMacro.halfColumnWrap(colClasses="m-content__column") %}
                <div class="m-content__tile c-tile" style="background-color: #929CB1">
                    <div class="m-content__tile-content m-content__tile-content--centered t--dark">
                        <h1 class="u-h1 m-content__text-heading t-heading">Lorem ipsum dolor sit amet</h1>
                    </div>
                </div>
            {% endcall %}

            {% call contentMacro.halfColumnWrap() %}
                <div class="m-content__content">
                    <p class="u-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum vel. Donec vel suscipit nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus consectetur mi augue, in suscipit arcu ultrices ut. Nullam a et ultrices posuere cubili fringilla lacus.</p>
                    <p class="u-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum vel. Donec vel suscipit nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus consectetur mi augue, in suscipit arcu ultrices ut. Nullam a et ultrices posuere cubili fringilla lacus.</p>
                    <div class="m-content__footer">
                        <a href="#" class="c-btn c-btn--secondary">Shop Now</a>
                    </div>
                </div>
            {% endcall %}

        {% endcall %}
    {% endcall %}


    {# ---- 2 column fluid content overlapping, caption left  ---- #}
    {% call guideMacros.docsWrap() %}
        <h3 class="u-h3">M0160A1 - 2 column fluid content overlaping, caption left</h3>
        <h4 class="u-h4">Description:</h4>
        <p class="u-p2">This is used to display large blocks of copy that overlap the content above. Ideally use accompanied with a hero banner or large image block.</p>
        <h4 class="u-h4">Specifications:</h4>
        <ul>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Wrap container: A negative top margin of -12rem (-48px) on desktop, and -10rem (-40px) on mobile is applied to the wrap container to create the overlapping effect.</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Caption: Placement is centered within its container and is an H1 HTML element. This content is fluid and has no character restrictions, but recommend limiting to a maximum of 50.</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Text copy: Can include sub headings and paragraphs of copy (Example below demonstrates a large block of copy with headlines).</p>
            </li>
        </ul>
    {% endcall %}

    <div class="m-hero__wrap M0010A">
        <div class="m-hero__content-wrap">
            <div class="m-hero__content m-hero__content--centered t-dark-m ">
                
                <h2 class="u-xxl m-hero__heading t-heading">Inline Banner</h2>
        
            </div>
        </div>
        <div class="m-hero__overlay m-hero__overlay--inline"></div>
        <div class="m-hero__image" data-responsive-background-src="" data-src-s="/assets/images/test/laptop-desk.jpg">
            <div class="u-aspect-sixteen-by-nine u-aspect-three-by-one-l"></div>
        </div>
    </div>

    <section class="m-wrap m-wrap--carded m-wrap--overlap">
        <div class="m-wrap__card ">
            {{ contentRedMacro.populateMContent() }}
        </div>
    </section>


    {# ---- 2 column fixed content 4 card information grid  ---- #}
    {% call guideMacros.docsWrap() %}
        <h3 class="u-h3">M0167 - 2 column fluid content 4 card information grid</h3>
        <h4 class="u-h4">Description:</h4>
        <p class="u-p2">This is used to display information in a grid structure, infographics with content or product information within a fixed 2 column content module.</p>
        <h4 class="u-h4">Specifications:</h4>
        <ul>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Column heading: Text (H2 HTML element) maximum character limit of 36 to keep within 1 line of text.</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Image/Icon size: 110px x 110px (1:1 ratio) desktop, 32px x 32px (1:1 ratio) mobile.</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Heading: Text (H3 HTML element) maximum character limit of 40 to keep within 2 lines of text.</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Text: Text (Paragraph HTML element) maximum character limit of 100.</p>
            </li>
        </ul>
    {% endcall %}

    {% call wrapMacro.moduleWrapSimple() %}
        {{ contentRedMacro.populateMContentInfoGraphic() }}
    {% endcall %}


    {% call guideMacros.docsWrap() %}
        <h3 class="u-h3">M0164 - 1 column fluid content</h3>
        <p class="u-p2">This is used to display large blocks of copy and can also contain images. Fields:</br>
        Image size: (optional, can be placed anywhere in content blocks but it is recomemnded to place it after the headline, before the text block) 830px x 470px (16:9 ratio)<br />
        Text copy: Can include sub headings and paragraphs of copy (Example below demonstrates a large block of copy with headlines).</p>
    {% endcall %}
    {#% ---- 1 column fluid content ---- %#}
    {% 
        set options = {
            contentClasses:"m-wrap__content--inset",
            wrapClasses:"M0164"
        }
    %}

    {% call wrapMacro.moduleWrapSimple(options) %}
        {% call contentMacro.columnContentContainer(wrapClasses="u-flex-justify-center u-block u-spacing") %}

            
                <h3 class="u-h3">Winter is coming! Which heater is best for you?</h3>
                <div class=" m-content__content-image" data-responsive-background-src data-src-s="/assets/images/test/laptop-desk.jpg">
                    <div class="u-aspect-sixteen-by-nine"></div>
                </div>
                <p class="u-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum vel. Donec vel suscipit nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus consectetur mi augue, in suscipit arcu ultrices ut. Nullam a et ultrices posuere cubili fringilla lacus.</p>
                <h3 class="u-h4">The Sub Heading</h3>
                <p class="u-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum vel. Donec vel suscipit nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus consectetur mi augue, in suscipit arcu ultrices ut. Nullam a et ultrices posuere cubili fringilla lacus.</p>
                <p class="u-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum vel. Donec vel suscipit nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus consectetur mi augue, in suscipit arcu ultrices ut. Nullam a et ultrices posuere cubili fringilla lacus.</p>

        {% endcall %}
    {% endcall %}

    {% call guideMacros.docsWrap() %}
        <h3 class="u-h3">M0161 - 2 column fluid content, image right</h3>
        <p class="u-p2">This is used to display medium blocks of copy with an image.<br />
        Alignment: image left / image right<br />
        Image width: 450px (height is fluid based on the height of the other column content)<br />
        Text: paragraph text (recommended max 800 chars)<br />
        Call to action: text (optional, max 15 chars)
    </p>
    {% endcall %}

    {#% ---- 2 column fluid content image right ---- %#}

    {% 
        set options = {
            contentClasses:"m-wrap__content--padding-bottom",
            wrapClasses:"M0164"
        }
    %}
    {% call wrapMacro.moduleWrapSimple(options) %}
        {% call contentMacro.columnContentContainer() %}

            {% call contentMacro.halfColumnWrap() %}
                <div class="m-content__content">
                    <p class="u-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum vel. Donec vel suscipit nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus consectetur mi augue, in suscipit arcu ultrices ut. Nullam a et ultrices posuere cubili fringilla lacus.</p>
                    <p class="u-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum vel. Donec vel suscipit nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus consectetur mi augue, in suscipit arcu ultrices ut. Nullam a et ultrices posuere cubili fringilla lacus.</p>
                </div>
            {% endcall %}

            {% call contentMacro.halfColumnWrap(colClasses="m-content__column") %}
                <div class="m-content__tile c-tile">
                    <!-- <div class="m-content__tile-content m-content__tile-content--centered t--dark">
                        <h1 class="u-h1 m-content__text-heading t-heading">Winter is coming! Which heater is best for you</h1>
                    </div> -->
                    <div class="m-content__image-bg" data-responsive-background-src data-src-s="/assets/images/test/laptop.jpg"></div>
                </div>
            {% endcall %}

        {% endcall %}
    {% endcall %}

    {% call guideMacros.docsWrap() %}
        <h3 class="u-h3">M0163 - 2 column fixed tile, image right</h3>
        <p class="u-p2">This is used to display categories and works best with a small amout of content.<br />
        Alignment: image left / image right<br />
        Image size: 450px x 400px (9:8 ratio)<br />
        Label text (great for text): Text (recommended length: max 55 chars)<br />
        Title: Text (recommended length: max 20 chars)<br />
        Description: text (optional, recommended length: max 70 chars)<br />
        Call to action: text (optional, max 15 chars)
        Theme (text color): light / dark<br />
    </p>
    {% endcall %}

    {#% ---- 2 column fixed tile, image right ---- %#}
    {% 
        set options = {
            contentClasses:"m-wrap__content--padding-bottom",
            wrapClasses:"M0163"
        }
    %}
    {% call wrapMacro.moduleWrapSimple(options) %}
        {% call contentMacro.columnContentContainer() %}
            {% call contentMacro.halfColumnWrap(colClasses="m-content__column u-aspect-nine-by-eight") %}
                <div class="m-content__tile c-tile t-text--light" style="background-color: #929CB1">
                    <div class="m-content__tile-content u-flex u-flex-column u-flex-justify-space-between">
                        <div class="m-content__product-header-section">
                            <p class="u-p2">Great for: Lorem ipsum | Consectetur | Etiam lobortis</p>
                        </div>

                        <div class="u-spacing">
                            <h1 class="u-h1 m-content__product-heading t-text--light">Product Type</h1>
                            <p class="u-p1 m-content__product-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum vel. Donec vel suscipit nunc.</p>
                        </div>
                        <div class="m-content__product-footer-section t-text--light">
                            <a href="/Custom/FrontEnd/html" class="c-btn c-btn--secondary-reverse">Browse Range</a>
                        </div>
                    </div>
                </div>
            {% endcall %}

            {% call contentMacro.halfColumnWrap(colClasses="m-content__column") %}
                <div class="m-content__tile c-tile">
                    <div class="m-content__image-bg" data-responsive-background-src data-src-s="/assets/images/test/laptop.jpg"></div>
                </div>
            {% endcall %}

        {% endcall %}
    {% endcall %}

    {#% ---- 2 Column Cards ---- %#}
    {% call guideMacros.docsWrap() %}
        <h3 class="u-h3">M0165A - 2 Column Article Cards</h3>
        <p class="u-p2">These cards will ideally display small amout of content with a call to action.<br />
        Image size: 290px x 260px (9:8 ratio)<br />
        Title: text (optional, recommended length: max 27 chars)<br />
        Description: text (optional, recommended length: max 160 chars)<br />
        Call to action: text (optional, max 15 chars)</p>
    {% endcall %}

    {% 
        set options = {
            wrapClasses:"M0165A"
        }
    %}

    {% call wrapMacro.moduleWrapSimple(options) %}
        {% call contentMacro.columnContentContainer() %}
            {% call contentMacro.halfColumnWrap() %}
                <div class="m-content__card">
                    <div class="m-content__image u-aspect-nine-by-eight" data-responsive-background-src data-src-s="/assets/images/test/laptop.jpg"></div>
                    <div class="m-content__content m-content__content--small u-spacing">
                        <h4 class="u-h4">The Two Column Card Heading</h4>
                        <p class="u-p2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum onsectetur adipiscing vel
                        </p>
                        <a href="" class="c-btn c-btn--tertiary">Shop Now {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
                    </div>
                </div>
            {% endcall %}

            {% call contentMacro.halfColumnWrap() %}
                <div class="m-content__card">
                    <div class="m-content__image u-aspect-nine-by-eight" data-responsive-background-src data-src-s="/assets/images/test/laptop.jpg"></div>
                    <div class="m-content__content m-content__content--small">
                        <h4 class="u-h4">The Two Column Card Heading</h4>
                        <p class="u-p2">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum onsectetur adipiscing vel
                        </p>
                        <a href="" class="c-btn c-btn--tertiary">Shop Now {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
                    </div>
                </div>
            {% endcall %}

        {% endcall %}
    {% endcall %}

    {% call guideMacros.docsWrap() %}
        <h3 class="u-h3">M0165B - 3 Column Article Cards</h3>
        <p class="u-p2">These cards will ideally display small amout of content with a call to action.<br />
        Image size: 290px x 260px (9:8 ratio)<br />
        Title: text (optional, recommended length: max 27 chars)<br />
        Description: text (optional, recommended length: max 160 chars)<br />
        Call to action: text (optional, max 15 chars)</p>
    {% endcall %}

    {#% ---- 3 Column Article Cards ---- %#}
    {% 
        set options = {
            wrapClasses:"M0165B"
        }
    %}

    {% call wrapMacro.moduleWrapSimple(options) %}
        {% call contentMacro.columnContentContainer() %}
            {% call contentMacro.thirdColumnWrap() %}
                <div class="m-content__card">
                    <div class="m-content__image u-aspect-nine-by-eight" data-responsive-background-src data-src-s="/assets/images/test/laptop.jpg"></div>
                    <div class="m-content__content m-content__content--small u-spacing">
                        <h4 class="u-h4">The 3 Column Card Heading</h4>
                        <p class="u-p2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum onsectetur adipiscing vel
                        </p>
                        <a href="" class="c-btn c-btn--tertiary">Shop Now {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
                    </div>
                </div>
            {% endcall %}

            {% call contentMacro.thirdColumnWrap() %}
                <div class="m-content__card">
                    <div class="m-content__image u-aspect-nine-by-eight" data-responsive-background-src data-src-s="/assets/images/test/laptop.jpg"></div>
                    <div class="m-content__content m-content__content--small">
                        <h4 class="u-h4">The 3 Column Card Heading</h4>
                        <p class="u-p2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum onsectetur adipiscing vel
                        </p>
                        <a href="" class="c-btn c-btn--tertiary">Shop Now {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
                    </div>
                </div>
            {% endcall %}

            {% call contentMacro.thirdColumnWrap() %}
                <div class="m-content__card">
                    <div class="m-content__image u-aspect-nine-by-eight" data-responsive-background-src data-src-s="/assets/images/test/laptop.jpg"></div>
                    <div class="m-content__content m-content__content--small">
                        <h4 class="u-h4">The 3 Column Card Heading</h4>
                        <p class="u-p2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim, eu sollicitudin purus dictum onsectetur adipiscing vel
                        </p>
                        <a href="" class="c-btn c-btn--tertiary">Shop Now {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
                    </div>
                </div>
            {% endcall %}

        {% endcall %}
    {% endcall %}

    {% call guideMacros.docsWrap(options) %}
        <h3 class="u-h3">M0166 - 4 Column Cards (alternative)</h3>
        <p class="u-p2">This is used to display categories and works best with a small amout of content.<br />
        Image size: 152px x 135px (9:8 ratio)<br />
        Title: text (recommended length: max 15 chars)<br />
        Description: text (optional, recommended length: max 90 chars)<br />
        Call to action: text (optional, max 12 chars)</p></p>
    {% endcall %}


    {#% ---- 4 Column Article Cards (alternative) ---- %#}
    {% 
        set options = {
            wrapClasses:"M0166"
        }
    %}
    {% call wrapMacro.moduleWrapSimple(options) %}
        {% call contentMacro.columnContentContainer() %}
            {% call contentMacro.quarterColumnWrap(colClasses="m-content__column") %}
                <div class="m-content__card " style="background: #f3f3f3">
                    <div class="m-content__card-image" data-responsive-background-src data-src-s="/assets/images/test/laptop.png">
                        <div class="u-aspect-nine-by-eight"></div>
                    </div>
                    <div class="m-content__card-content m-content__card-content--small">
                        <h3 class="u-h3">The Card Title</h3>
                        <p class="u-p3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim.</p>
                    </div>
                    <footer class="m-content__footer" style="background: #ffffff">
                        <a href="" class="c-btn c-btn--secondary">Browse Range</a>
                    </footer>
                </div>
            {% endcall %}

            {% call contentMacro.quarterColumnWrap(colClasses="m-content__column") %}
                <div class="m-content__card " style="background: #f3f3f3">
                        <div class="m-content__card-image" data-responsive-background-src data-src-s="/assets/images/test/laptop.png">
                            <div class="u-aspect-nine-by-eight"></div>
                        </div>
                    <div class="m-content__card-content m-content__card-content--small">
                        <h3 class="u-h3">The Card Title</h3>
                        <p class="u-p3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim.</p>
                    </div>
                    <footer class="m-content__footer" style="background: #ffffff">
                        <a href="" class="c-btn c-btn--secondary">Browse Range</a>
                    </footer>
                </div>
            {% endcall %}

            {% call contentMacro.quarterColumnWrap(colClasses="m-content__column") %}
                <div class="m-content__card " style="background: #f3f3f3">
                    <div class="m-content__card-image" data-responsive-background-src data-src-s="/assets/images/test/laptop.png">
                        <div class="u-aspect-nine-by-eight"></div>
                    </div>
                    <div class="m-content__card-content m-content__card-content--small">
                        <h3 class="u-h3">The Card Title</h3>
                        <p class="u-p3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim.</p>
                    </div>
                    <footer class="m-content__footer" style="background: #ffffff">
                        <a href="" class="c-btn c-btn--secondary">Browse Range</a>
                    </footer>
                </div>
            {% endcall %}

            {% call contentMacro.quarterColumnWrap(colClasses="m-content__column") %}
                <div class="m-content__card " style="background: #f3f3f3">
                        <div class="m-content__card-image" data-responsive-background-src data-src-s="/assets/images/test/laptop.png">
                            <div class="u-aspect-nine-by-eight"></div>
                        </div>
                    <div class="m-content__card-content m-content__card-content--small">
                        <h3 class="u-h3">The Card Title</h3>
                        <p class="u-p3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lobortis est enim.</p>
                    </div>
                    <footer class="m-content__footer" style="background: #ffffff">
                        <a href="" class="c-btn c-btn--secondary">Browse Range</a>
                    </footer>
                </div>
            {% endcall %}

        {% endcall %}
    {% endcall %}


    {# ---- Information Cards ---- #}
    {% call guideMacros.docsWrap(options) %}
        <h3 class="u-h3">C0010 - Information Card (icon)</h3>
        <h4 class="u-h4">Description:</h4>
        <p class="u-p2">This is used as an alternative to display product information within a fluid card. The cards are displayed in a 4 column grid and centered within it's wrapping container, and scrollable on smaller screens and mobile.</p>

        <h4 class="u-h4">Specifications:</h4>
        <ul>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Card size: W:25% H:fluid (desktop), W:180px (45rem) H:fluid (mobile).</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Image size: 80px x 80px (1:1 ratio).</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Title: Text H3 HTML element (max. 15 characters).</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Text: Text paragraph HTML element.</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Call to action: Optional text (max. 12 characters).</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Call to action type: Secondary.</p>
            </li>
        </ul>
    {% endcall %}

    {% call beltMacro.infoCardWrap() %}
        {{ infoCardMacro.populateInfoCards() }}
    {% endcall %}


    {# ---- Horizontal product card ---- #}
    {% call guideMacros.docsWrap(options) %}
        <h3 class="u-h3">C0005 - Horizontal Product Card (image left)</h3>
        <h4 class="u-h4">Description:</h4>
        <p class="u-p2">This is used as an alternative to display product information and works best with a small amout of content.</p>

        <h4 class="u-h4">Specifications:</h4>
        <ul>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Card size: W:304px H:358px (desktop), W:100% H:280px (mobile).</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Image size: 150px x 150px (1:1 ratio).</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Product rating: SVG image with a PNG fallback with a limit of 5 stars to be displayed per product card.</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Product price: Text.</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Title: Text (product name).</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Call to action: Text (max 12 chars - hidden on mobile).</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Call to action type: Secondary.</p>
            </li>
        </ul>
    {% endcall %}

    {% call wrapMacro.moduleWrapSimple(options = {
            wrapClasses: "m-wrap--stacked m-wrap--padding-top m-wrap--padding-bottom",
            contentClasses: "u-columns"
        }) %}
        {{ productCardMacro.populateHorizontalCardSmall() }}
    {% endcall %}


    {# ---- Horizontal product card (Image right) ---- #}
    {% call guideMacros.docsWrap(options) %}
        <h3 class="u-h3">C0005A - Horizontal Product Card (image right)</h3>
        <h4 class="u-h4">Description:</h4>
        <p class="u-p2">This is used as an alternative to display product information and works best with a small amout of content.</p>

        <h4 class="u-h4">Specifications:</h4>
        <ul>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Card size: W:304px H:358px (desktop), W:100% H:280px (mobile).</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Image size: 150px x 150px (1:1 ratio).</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Product rating: SVG image with a PNG fallback with a limit of 5 stars to be displayed per product card.</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Product price: Text.</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Title: Text (product name).</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Call to action: Text (max 12 chars - hidden on mobile).</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Call to action type: Secondary.</p>
            </li>
        </ul>
    {% endcall %}

    {% call wrapMacro.moduleWrapSimple(options = {
            wrapClasses: "m-wrap--stacked m-wrap--padding-top m-wrap--padding-bottom",
            contentClasses: "u-columns"
        }) %}
        {{ productCardMacro.populateHorizontalCardSmallReverse() }}
    {% endcall %}


    {# ---- Horizontal product card large ---- #}
    {% call guideMacros.docsWrap(options) %}
        <h3 class="u-h3">C0006 - Horizontal Product Card Large (image left)</h3>

        <h4 class="u-h4">Description:</h4>
        <p class="u-p2">This is used as an alternative to display product information and works best with a small amout of content.</p>

        <h4 class="u-h4">Specifications:</h4>
        <ul>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Card size: W:400px H:358px (desktop), W:100% H:280px (mobile).</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Image size: 190px x 190px (1:1 ratio).</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Product rating: SVG image with a PNG fallback with a limit of 5 stars to be displayed per product card.</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Product price: Title: Text (product name).</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Title: Text (product name).</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Call to action: Text (max 12 chars - hidden on mobile).</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Call to action type: Secondary.</p>
            </li>
        </ul>
    {% endcall %}

    {% call wrapMacro.moduleWrapSimple(options = {
            wrapClasses: "m-wrap--stacked m-wrap--padding-top m-wrap--padding-bottom",
            contentClasses: "u-columns"
        }) %}
        {{ productCardMacro.populateHorizontalCardLarge() }}
    {% endcall %}

    {# ---- Horizontal product card large (image right) ---- #}
    {% call guideMacros.docsWrap(options) %}
        <h3 class="u-h3">C0006A - Horizontal Product Card Large (image right)</h3>
        <h4 class="u-h4">Description:</h4>
        <p class="u-p2">This is used as an alternative to display product information and works best with a small amout of content.</p>

        <h4 class="u-h4">Specifications:</h4>
        <ul>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Card size: W:400px H:358px (desktop), W:100% H:280px (mobile).</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Image size: 190px x 190px (1:1 ratio).</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Product rating: SVG image with a PNG fallback with a limit of 5 stars to be displayed per product card.</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Product price: Text.</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Title: Text (product name).</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Call to action: Text (max 12 chars - hidden on mobile).</p>
            </li>
            <li class="u-margin-bottom-x4">
                <p class="u-p2">Call to action type: Secondary.</p>
            </li>
        </ul>
    {% endcall %}

    {% call wrapMacro.moduleWrapSimple(options = {
            wrapClasses: "m-wrap--stacked m-wrap--padding-top m-wrap--padding-bottom",
            contentClasses: "u-columns"
        }) %}
        {{ productCardMacro.populateHorizontalCardLargeReverse() }}
    {% endcall %}

    </div>

    
</div>