{# TWO UP CONTENT/PRODUCT CARD #}
{% macro mContent(options) -%}
    {% if (options.contentType.right === "image") or (options.contentType.right === "heading") %}
        {% if options.overlap %}
            <section class="m-content m-content--{{ options.containerType | safe }} u-flex u-flex-column-reverse-s u-flex-row-m {{ options.overlap | safe }} {{ options.moduleIDClass | safe | upper }}">
        {% else %}
            <section class="m-content m-content--{{ options.containerType | safe }} u-flex u-flex-column-reverse-s u-flex-row-m {{ options.moduleIDClass | safe | upper }}">
        {% endif %}
    {% else %}
        {% if options.overlap %}
            <section class="m-content m-content--{{ options.containerType | safe }} u-flex u-flex-column-s u-flex-row-m {{ options.overlap | safe }} {{ options.moduleIDClass | safe | upper }}">
        {% else %}
            <section class="m-content m-content--{{ options.containerType | safe }} u-flex u-flex-column-s u-flex-row-m {{ options.moduleIDClass | safe | upper }}">
        {% endif %}
    {% endif %}
        {# LEFT CONTENT CONTAINER #}
            {# IMAGE CONTENT SUPPORT #}
                {% if options.contentType.left === "image" %}
                    <div style="background-color: {{ options.containerLeftBgColor | safe }};" class="m-content__{{ options.contentType.left | lower | safe }}-container {{ options.containerLeftClasses | lower | safe }} t-text--{{ options.theme | lower | safe }}" data-responsive-background-src data-src-m="{{ options.contentLeftImgPath.desktop | safe }}" data-src-s="{{ options.contentLeftImgPath.mobile | safe }}">
                        <div class="{{ options.imageAspectClasses | lower | safe }}"></div>
                    </div>
                {% endif %}
            {# END: IMAGE CONTENT SUPPORT #}

            {# TEXT EDITORIAL SUPPORT #}
               {% if options.containerType === "text" %}
                    {% if (options.contentType.left === "text") or (options.contentType.left === "heading") %}
                        <div style="background-color: {{ options.containerLeftBgColor | safe }};" class="m-content__{{ options.contentType.left | lower | safe }}-container m-content__{{ options.contentType.left | lower | safe }}-container--{{ options.containerType | lower | safe }} m-content__content {{ options.containerLeftClasses | safe }} t-text--{{ options.theme | lower | safe }} u-spacing">
                            {% for i in range(0, options.contentLeft | length) %}
                                {% if options.contentLeft[i].fontStyle === "heading" %}
                                    {% if options.contentLeft[i].textAlign %}
                                        <h1 class="u-h1 m-content__text-heading t-text--{{ options.contentLeft[i].theme | lower | safe }}" style="text-align: {{ options.contentLeft[i].textAlign | lower | safe }}">{{ options.contentLeft[i].text | safe }}</h1>
                                    {% else %}
                                        <h1 class="u-h1 m-content__text-heading t-text--{{ options.contentLeft[i].theme | lower | safe }}">{{ options.contentLeft[i].text | safe }}</h1>
                                    {% endif %}
                                {% elseif options.contentLeft[i].fontStyle === "subheading" %}
                                    {% if options.contentLeft[i].textAlign %}
                                        {% if options.contentLeft[i].link %}
                                            <a href="{{ options.contentLeft[i].link | safe }}" target="__new">
                                                <h3 class="u-h3 m-content__text-subheading t-text--{{ options.contentLeft[i].theme | lower | safe }}" style="text-align: {{ options.contentLeft[i].textAlign | lower | safe }}">{{ options.contentLeft[i].text | safe }}</h3>
                                            </a>
                                        {% else %}
                                            <h3 class="u-h3 m-content__text-subheading t-text--{{ options.contentLeft[i].theme | lower | safe }}" style="text-align: {{ options.contentLeft[i].textAlign | lower | safe }}">{{ options.contentLeft[i].text | safe }}</h3>
                                        {% endif %}

                                    {% else %}
                                        {% if options.contentLeft[i].link %}
                                            <a href="{{ options.contentLeft[i].link | safe }}" target="__new">
                                                <h3 class="u-h3 m-content__text-subheading t-text--{{ options.contentLeft[i].theme | lower | safe }}">{{ options.contentLeft[i].text | safe }}</h3>
                                            </a>
                                        {% else %}
                                            <h3 class="u-h3 m-content__text-subheading t-text--{{ options.contentLeft[i].theme | lower | safe }}">{{ options.contentLeft[i].text | safe }}</h3>
                                        {% endif %}
                                    {% endif %}
                                {% elseif options.contentLeft[i].fontStyle === "text" %}
                                    {% if options.contentLeft[i].textAlign %}
                                        <p class="u-p2 m-content__text-copy t-text--{{ options.contentLeft[i].theme | lower | safe }}" style="text-align: {{ options.contentLeft[i].textAlign | lower | safe }}">{{ options.contentLeft[i].text | safe }}</p>
                                    {% else %}
                                        <p class="u-p2 m-content__text-copy">{{ options.contentLeft[i].text | safe }}</p>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if (options.footer.left.ctaText) and (options.footer.left.ctaLink) %}
                                <div class="m-content__footer">
                                    <a href="{{ options.footer.left.ctaLink }}" class="c-btn c-btn--secondary">{{ options.footer.left.ctaText | safe | title }}</a>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
            {# END: TEXT EDITORIAL SUPPORT #}

            {# PRODUCT CARD EDITORIAL SUPPORT #}
                {% if options.containerType === "product" %}
                    {% if options.contentType.left === "text" %}
                        <div style="background-color: {{ options.containerLeftBgColor | safe }};" class="m-content__{{ options.contentType.left | safe }}-container m-content__{{ options.contentType.left | safe }}-container--{{ options.containerType | safe }} {{ options.containerLeftClasses | safe }} t-text--{{ options.theme | safe }} u-flex u-flex-column u-flex-justify-space-between">
                            {% if options.headerLeftContent %}
                                <div class="m-content__product-header-section u-spacing">
                                    <p class="u-p2">{{ options.headerLeftContent | safe }}</p>
                                </div>
                            {% endif %}

                            <div class="m-content__text-wrap u-spacing">
                                {% for i in range(0, options.productContentLeft | length) %}
                                    {% if options.productContentLeft[i].fontStyle === "heading" %}
                                        <h1 class="u-h1 m-content__product-heading t-text--{{ options.theme | safe }}">{{ options.productContentLeft[i].text | safe }}</h1>
                                    {% elseif options.productContentLeft[i].fontStyle === "subheading" %}
                                        <h3 class="u-h3 m-content__product-subheading t-text--{{ options.theme | safe }}">{{ options.productContentLeft[i].text | safe }}</h3>
                                    {% elseif options.productContentLeft[i].fontStyle === "text" %}
                                        <p class="u-p2 m-content__product-copy">{{ options.productContentLeft[i].text | safe }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            {% if options.cta.left %}
                                <div class="m-content__product-footer-section u-spacing t-text--{{ options.theme | safe }}">
                                    {% if options.cta.left.position %}
                                        <div class="c-btn-group c-btn-group--{{ options.cta.left.position | lower | safe }}">
                                    {% else %}
                                        <div class="c-btn-group">
                                    {% endif %}
                                        <div class="c-btn-group__item">
                                            {% if options.theme === "light" %}
                                                <a href="{{ options.cta.left.link | safe }}" class="c-btn c-btn--{{ options.cta.left.btnType | safe }}-reverse">{{ options.cta.left.message | safe }}</a>
                                            {% else %}
                                                <a href="{{ options.cta.left.link | safe }}" class="c-btn c-btn--{{ options.cta.left.btnType | safe }}">{{ options.cta.left.message | safe }}</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
            {# END: PRODUCT CARD EDITORIAL SUPPORT #}
        {# END: LEFT CONTENT CONTAINER #}


        {# RIGHT CONTENT CONTAINER #}
            {# IMAGE CONTENT SUPPORT #}
                {% if options.contentType.right === "image" %}
                    <div style="background-color: {{ options.containerRightBgColor | safe }};" class="m-content__{{ options.contentType.right | safe }}-container {{ options.containerRightClasses | safe }} t-text--{{ options.theme | safe }}" data-responsive-background-src data-src-m="{{ options.contentRightImgPath.desktop | safe }}" data-src-s="{{ options.contentRightImgPath.mobile | safe }}">
                        <div class="{{ options.imageAspectClasses | safe }}"></div>
                    </div>
                {% endif %}
            {# END: IMAGE CONTENT SUPPORT #}

            {# TEXT EDITORIAL SUPPORT #}
                {% if options.containerType === "text" %}
                    {% if (options.contentType.right === "text") or (options.contentType.right === "heading") %}
                        <div style="background-color: {{ options.containerRightBgColor | safe }};" class="m-content__{{ options.contentType.right | safe }}-container m-content__{{ options.contentType.right | safe }}-container--{{ options.containerType | safe }} m-content__content {{ options.containerRightClasses | safe }} t-text--{{ options.theme | safe }} u-spacing">
                            {% for i in range(0, options.contentRight | length) %}
                                {% if options.contentRight[i].fontStyle === "heading" %}
                                    {% if options.contentRight[i].textAlign %}
                                        <h1 class="u-h1 m-content__text-heading t-text--{{ options.contentRight[i].theme | lower | safe }}" style="text-align: {{ options.contentRight[i].textAlign | lower | safe }}">{{ options.contentRight[i].text | safe }}</h1>
                                    {% else %}
                                        <h1 class="u-h1 m-content__text-heading t-text--{{ options.contentRight[i].theme | lower | safe }}">{{ options.contentRight[i].text | safe }}</h1>
                                    {% endif %}
                                {% elseif options.contentRight[i].fontStyle === "subheading" %}
                                    {% if options.contentRight[i].textAlign %}
                                        {% if options.contentRight[i].link %}
                                            <a class="m-content__link" href="{{ options.contentRight[i].link | safe }}" target="__new">
                                                <h4 class="u-h4 u-regular m-content__text-subheading t-text--{{ options.contentRight[i].theme | lower | safe }}" style="text-align: {{ options.contentRight[i].textAlign | lower | safe }}">{{ options.contentRight[i].text | safe }}</h3>
                                            </a>
                                        {% else %}
                                            <h3 class="u-h3 m-content__text-subheading t-text--{{ options.contentRight[i].theme | lower | safe }}" style="text-align: {{ options.contentRight[i].textAlign | lower | safe }}">{{ options.contentRight[i].text | safe }}</h3>
                                        {% endif %}
                                    {% endif %}
                                {% elseif options.contentRight[i].fontStyle === "text" %}
                                    {% if options.contentRight[i].textAlign %}
                                        <p class="u-p2 m-content__text-copy t-text--{{ options.contentRight[i].theme | lower | safe }}" style="text-align: {{ options.contentRight[i].textAlign | lower | safe }}">{{ options.contentRight[i].text | safe }}</p>
                                    {% else %}
                                        <p class="u-p2 m-content__text-copy">{{ options.contentRight[i].text | safe }}</p>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if (options.footer.right.ctaText) and (options.footer.right.ctaLink) %}
                                <div class="m-content__footer">
                                    <a href="{{ options.footer.right.ctaLink }}" class="c-btn c-btn--secondary">{{ options.footer.right.ctaText | safe | title }}</a>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
            {# END: TEXT EDITORIAL SUPPORT #}

            {# PRODUCT CARD EDITORIAL SUPPORT #}
                {% if options.containerType === "product" %}
                    {% if options.contentType.right === "text" %}
                        <div style="background-color: {{ options.containerRightBgColor | safe }};" class="m-content__{{ options.contentType.right | safe }}-container m-content__{{ options.contentType.right | safe }}-container--{{ options.containerType | safe }} {{ options.containerRightClasses | safe }} t-text--{{ options.theme | safe }} u-flex u-flex-column u-flex-justify-space-between">
                            {% if options.headerRightContent %}
                                <div class="m-content__product-header-section u-spacing">
                                    <p class="u-p2">{{ options.headerRightContent | safe }}</p>
                                </div>
                            {% endif %}

                            <div class="m-content__text-wrap u-spacing">
                                {% for i in range(0, options.productContentRight | length) %}
                                    {% if options.productContentRight[i].fontStyle === "heading" %}
                                        <h1 class="u-h1 m-content__product-heading t-text--{{ options.theme | safe }}">{{ options.productContentRight[i].text | safe }}</h1>
                                    {% elseif options.productContentRight[i].fontStyle === "subheading" %}
                                        <h3 class="u-h3 m-content__product-subheading t-text--{{ options.theme | safe }}">{{ options.productContentRight[i].text | safe }}</h3>
                                    {% elseif options.productContentRight[i].fontStyle === "text" %}
                                        <p class="u-p2 m-content__product-copy">{{ options.productContentRight[i].text | safe }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            {% if options.cta.right %}
                                <div class="m-content__product-footer-section u-spacing t-text--{{ options.theme | safe }}">
                                    {% if options.cta.right.position %}
                                        <div class="c-btn-group c-btn-group--{{ options.cta.right.position | lower | safe }}">
                                    {% else %}
                                        <div class="c-btn-group">
                                    {% endif %}
                                        <div class="c-btn-group__item">
                                            {% if options.theme === "light" %}
                                                <a href="{{ options.cta.right.link | safe }}" class="c-btn c-btn--{{ options.cta.right.btnType | safe }}-reverse">{{ options.cta.right.message | safe }}</a>
                                            {% else %}
                                                <a href="{{ options.cta.right.link | safe }}" class="c-btn c-btn--{{ options.cta.right.btnType | safe }}">{{ options.cta.right.message | safe }}</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
            {# END: PRODUCT CARD EDITORIAL SUPPORT #}
        {# END: RIGHT CONTENT CONTAINER #}

    </section>
    {# END: M-CONTENT #}
{%- endmacro %}


{# HERO SECTION EDITORIAL #}
{% macro populateMContent() -%}
    {%
        set options = {
             moduleIDClass: "m0160a",
            overlap: "m-content--overlap",
            containerType: "text",
            theme: "dark",
            imageAspectClasses: "u-aspect-nine-by-eight",
            contentType: {
                left: "text",
                right: "text"
            },
            footer: {
                left: {
                    ctaText: "",
                    ctaLink: ""
                },
                right: {
                    ctaText: "",
                    ctaLink: ""
                }
            },

            containerLeftClasses: "u-flex-center-all",
            containerLeftBgColor: "",
            contentLeft: [
                {
                    fontStyle: "heading",
                    text: "Winter is coming! Which heater is best for you"
                }
            ],
            contentLeftImgPath: {
                mobile: "",
                desktop: ""
            },

            containerRightClasses: "",
            containerRightBgColor: "",
            contentRight: [
                {
                    fontStyle: "text",
                    text: "There is a lot of choice when it comes to heating and many considerations to keep in mind so that you stay nice and warm through the winter months. Little heaters are great to sit under your desk, but aren’t designed to heat your whole room, especially since they turn out quite expensive if overused. Other heaters can be way too much for a house that has great insulation."
                },
                {
                    fontStyle: "text",
                    text: "The information provided is to be used as a general guide and are indicative of the types of heaters mentioned, however exact specifications and features will vary on different models and brands."
                },
                {
                    fontStyle: "text",
                    text: "This page offers advice on different heaters to help you decide which heater type is best to keep you warm over the cold winter months. This guide goes into the details of the following to help you make your decision; room type, fixing type, cost per hour* and cost per month+ of each type of heater available both in store and online as well as safety and money saving tips!"
                }
            ],

            fontStyleRight: "text",
            contentRightImgPath: {
                mobile: "",
                desktop: ""
            }
        }
        %}

    {{ mContent(options) }}

{%- endmacro %}


{# FAN HEATERS PRODUCT RANGE #}
{% macro populateMPoductContent() -%}
    {%
        set options = {
            containerType: "product",
            theme: "light",
            imageAspectClasses: "u-aspect-nine-by-eight",
            contentType: {
                left: "text",
                right: "image"
            },
            cta: {
                left: {
                    position: "center",
                    btnType: "secondary",
                    message: "Browse Range",
                    link: "/Custom/FrontEnd/html"
                },
                right: {}
            },


            containerLeftClasses: "",
            containerLeftBgColor: "#929CB1",
            headerLeftContent: "Great for: Small rooms | Portability | Personal warmth",
            productContentLeft: [
                {
                    fontStyle: "heading",
                    text: "Fan Heaters"
                },
                {
                    fontStyle: "text",
                    text: "Fan heaters are a cost effective personal heater, designed to provide instant heat for smaller spaces. Some fan heaters feature adjustable thermostats."
                }
            ],
            contentLeftImgPath: {
                mobile: "",
                desktop: ""
            },

            contentRightImgPath: {
                mobile: "/assets/images/test/fan-heater-mob.png",
                desktop: "/assets/images/test/fan-heater.png"
            }
        }
        %}

    {{ mContent(options) }}

{%- endmacro %}


{# CERAMIC HEATERS PRODUCT RANGE #}
{% macro populateCeramicHeaterContent() -%}
    {%
        set options = {
            containerType: "product",
            theme: "light",
            imageAspectClasses: "u-aspect-nine-by-eight",
            contentType: {
                left: "image",
                right: "text"
            },
            cta: {
                left: {

                },
                right: {
                    position: "center",
                    btnType: "secondary",
                    message: "Browse Range",
                    link: "/Custom/FrontEnd/html"
                }
            },


            containerLeftClasses: "",
            containerLeftBgColor: "",
            headerLeftContent: "",
            productContentLeft: [
                
            ],
            contentLeftImgPath: {
                mobile: "/assets/images/test/ceramic-heater-mob.png",
                desktop: "/assets/images/test/ceramic-heater.png"
            },

            containerRightClasses: "",
            containerRightBgColor: "#929CB1",
            headerRightContent: "Great for: Small rooms | Quick heating | Personal warmth",
            productContentRight: [
                {
                    fontStyle: "heading",
                    text: "Ceramic Heaters",
                    textAlign: "center"
                },
                {
                    fontStyle: "text",
                    text: "Ceramic heaters are the most efficient form of fan based portable heating due to their ceramic element technology. The key feature of a ceramic heater is that it has no glowing parts and is therefore safer. Some units feature a thermostat, timer and oscillating function.",
                    textAlign: "center"
                }
            ],
            contentRightImgPath: {
                
            }
        }
        %}

    {{ mContent(options) }}

{%- endmacro %}


{# SAFETY TIPS EDITORIAL #}
{% macro populateSafetyTipsContent() %}

    {%
        set options = {
            moduleIDClass: "m0160a",
            containerType: "text",
            theme: "dark",
            imageAspectClasses: "u-aspect-nine-by-eight",
            contentType: {
                left: "heading",
                right: "text"
            },
            


            containerLeftClasses: "u-flex-center-all",
            containerLeftBgColor: "#444444",
            contentLeft: [
                {
                    fontStyle: "heading",
                    text: "Safety Tips",
                    theme: "light"
                }
            ],
            contentLeftImgPath: {},
        

            containerRightClasses: "",
            containerRightBgColor: "#ffffff",
            contentRight: [
                {
                    fontStyle: "subheading",
                    text: "Unattended heaters",
                    textAlign: "left"
                },
                {
                    fontStyle: "text",
                    text: "Never leave heaters unattended, especially when children are present.",
                    textAlign: "left"
                },
                {
                    fontStyle: "subheading",
                    text: "Positioning",
                    textAlign: "left"
                },
                {
                    fontStyle: "text",
                    text: "Be careful where you position your heater as there needs to be at least 1 metre of clearance from curtains, furniture and even people.",
                    textAlign: "left"
                },
                {
                    fontStyle: "subheading",
                    text: "Drying Clothes",
                    textAlign: "left"
                },
                {
                    fontStyle: "text",
                    text: "Don't use your heater to warm or dry clothes and keep your clothes rack at least 1 metre from your heater.",
                    textAlign: "left"
                },
                {
                    fontStyle: "subheading",
                    text: "Smoke Alarms",
                    textAlign: "left"
                },
                {
                    fontStyle: "text",
                    text: "All homes should have smoke alarms installed.",
                    textAlign: "left"
                },
                {
                    fontStyle: "subheading",
                    text: "Follow Instructions in User Manual",
                    textAlign: "left"
                },
                {
                    fontStyle: "text",
                    text: "Always follow the specific instructions in the user manual.",
                    textAlign: "left"
                },
                {
                    fontStyle: "subheading",
                    text: "Placement",
                    textAlign: "left"
                },
                {
                    fontStyle: "text",
                    text: "To reduce the risk of heaters being knocked over, do not put them in places that see a lot of movement.",
                    textAlign: "left"
                },
                {
                    fontStyle: "subheading",
                    text: "Maintenance",
                    textAlign: "left"
                },
                {
                    fontStyle: "text",
                    text: "Replace your heater if it has broken parts, makes funny noises or smells.",
                    textAlign: "left"
                },
                {
                    fontStyle: "subheading",
                    text: "One Heater Per Outlet",
                    textAlign: "left"
                },
                {
                    fontStyle: "text",
                    text: "Always follow the specific instructions in the user manual.",
                    textAlign: "left"
                }
            ]
        }
    %}

    {{ mContent(options) }}


{% endmacro %}


{# HOW TO SAVE MONEY EDITORIAL #}
{% macro populateSaveMoneyTips() %}

    {%
        set options = {
            moduleIDClass: "m0160b",
            containerType: "text",
            theme: "dark",
            imageAspectClasses: "u-aspect-nine-by-eight",
            contentType: {
                left: "text",
                right: "heading"
            },
            


            containerLeftClasses: "",
            containerLeftBgColor: "#ffffff",
            headerLeftContent: "",
            contentLeft: [
                {
                    fontStyle: "subheading",
                    text: "Use a Timer",
                    textAlign: "left"
                },
                {
                    fontStyle: "text",
                    text: "A timer that switches the heater on or off automatically will save you money as leaving heaters on for too long can just be a waste. If your heater doesn't have a timer, then separate timers can be utilised.",
                    textAlign: "left"
                },
                {
                    fontStyle: "subheading",
                    text: "Keep the Heat In!",
                    textAlign: "left"
                },
                {
                    fontStyle: "text",
                    text: "Keep the heat in – shut all doors and windows!",
                    textAlign: "left"
                },
                {
                    fontStyle: "subheading",
                    text: "Set Thermostat",
                    textAlign: "left"
                },
                {
                    fontStyle: "text",
                    text: "Thermostats allow the heater to register the room temperature and automatically switch the heater on or off to maintain a comfortable temperature. Nearly all Warehouse heaters come with thermostats. Set the thermostat for healthy indoor temperatures - aim for 18°C to 20°C, and 16°C in bedrooms overnight.",
                    textAlign: "left"
                }
            ],
        

            containerRightClasses: "u-flex-center-all",
            containerRightBgColor: "#444444",
            contentRight: [
                {
                    fontStyle: "heading",
                    text: "How to Save Money",
                    theme: "light"
                }
            ],
            contentRightImgPath: {}
        }
    %}

    {{ mContent(options) }}

{% endmacro %}


{# FAQ'S EDITORIAL #}
{% macro populateFaqs() %}
    {%
        set options = {
            moduleIDClass: "m0160a",
            overlap: "m-content--overlap",
            containerType: "text",
            theme: "dark",
            imageAspectClasses: "u-aspect-nine-by-eight",
            contentType: {
                left: "heading",
                right: "text"
            },
            


            containerLeftClasses: "u-flex-center-all",
            containerLeftBgColor: "#444444",
            contentLeft: [
                {
                    fontStyle: "heading",
                    text: "FAQs",
                    theme: "light"
                }
            ],
            contentLeftImgPath: {},
        

            containerRightClasses: "",
            containerRightBgColor: "#ffffff",
            contentRight: [
                {
                    fontStyle: "subheading",
                    text: "When should I use an electric heater?",
                    textAlign: "left"
                },
                {
                    fontStyle: "text",
                    text: "Electric heaters are suitable for smaller rooms that get heated occasionally, like bedrooms.",
                    textAlign: "left"
                },
                {
                    fontStyle: "subheading",
                    text: "Which type of electric heater is the most efficient?",
                    textAlign: "left",
                    link: "#"
                },
                {
                    fontStyle: "subheading",
                    text: "Are flat- panel heaters the cheapest to run?",
                    textAlign: "left",
                    link: "#"
                },
                {
                    fontStyle: "subheading",
                    text: "Are heaters safe to use?",
                    textAlign: "left",
                    link: "#"
                },
                {
                    fontStyle: "subheading",
                    text: "Can I use my heater in a bathroom?",
                    textAlign: "left",
                    link: "#"
                },
                {
                    fontStyle: "subheading",
                    text: "What is a thermostat and how does it work?",
                    textAlign: "left",
                    link: "#"
                },
                {
                    fontStyle: "subheading",
                    text: "Can I place my heater against a wall?",
                    textAlign: "left",
                    link: "#"
                },
                {
                    fontStyle: "subheading",
                    text: "How do I clean my heater?",
                    textAlign: "left",
                    link: "#"
                },
                {
                    fontStyle: "subheading",
                    text: "Why does my heater smell like something is burning?",
                    textAlign: "left",
                    link: "#"
                },
                {
                    fontStyle: "subheading",
                    text: "What are some other factors, other than room size?",
                    textAlign: "left",
                    link: "#"
                }
            ]
        }
    %}

    {{ mContent(options) }}
{% endmacro %}



{# ---- MACRO 2 ---- #}
{# BUYERS GUIDE INFORMATION GRID - FIXING TYPES & COST GUIDE #}
{% macro mContentInfoGraphic(options) %}
    
    <section class="m-content m-content--info-grid u-flex u-flex-column-s u-flex-row-m u-max-width {{ options.moduleID | safe | upper }}" style="background: {{ options.containerBackgroundColor | safe }}">
        
        {% for i in range(0, options.cards | length) %}
            <section class="m-content__info-card u-max-width t-text--{{ options.cards[i].theme | safe }}">
                <div class="m-content__info-card-header"><h2 class="u-h2 u-max-width">{{ options.cards[i].heading | safe }}</h2></div>
                <div class="m-content__column u-flex-justify-space-around-m">
                    {% for x in range(0, options.cards[i].info | length) %}
                    <div class="m-content__info-content">
                        <div class="m-content__info-image" data-responsive-background-src data-src-m="{{ options.cards[i].info[x].image.desktop | safe }}" data-src-s="{{ options.cards[i].info[x].image.mobile | safe }}">
                            <div class="u-aspect-one-by-one"></div>
                        </div>
                        <div class="m-content__info-text">
                            <h3 class="u-h3 m-content__info-text__heading">{{ options.cards[i].info[x].heading | safe }}</h3>
                            <p class="u-p3 m-content__info-text__text">{{ options.cards[i].info[x].text | safe }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        {% endfor %}
    
    </section>

{% endmacro %}


{# SET GUIDE INFORMATION GRID OPTIONS #}
{% macro populateMContentInfoGraphic() %}
    {%
        set options = {
            moduleID: "m0167",
            containerBackgroundColor: "transparent",
            cards: [
                {
                    theme: "dark",
                    heading: "Fixing Types",
                    info: [
                        {
                            image: {
                                mobile: "/assets/images/test/fixed-icon-mob.png",
                                desktop: "/assets/images/test/fixed-icon.png"
                            },
                            heading: "Fixed",
                            text: "Heaters designed to fix on walls."
                        },
                        {
                            image: {
                                mobile: "/assets/images/test/portable-icon-mob.png",
                                desktop: "/assets/images/test/portable-icon.png"
                            },
                            heading: "Portable",
                            text: "Heaters that can be moved from room to room."
                        }
                    ]
                },
                {
                    theme: "dark",
                    heading: "Cost Guide",
                    info: [
                        {
                            image: {
                                mobile: "/assets/images/test/cost-ph-mob.png",
                                desktop: "/assets/images/test/cost-ph.png"
                            },
                            heading: "Per Hour",
                            text: "Based on average 28.4c per kWh*"
                        },
                        {
                            image: {
                                mobile: "/assets/images/test/cost-pm-mob.png",
                                desktop: "/assets/images/test/cost-pm.png"
                            },
                            heading: "Per Month",
                            text: "Average 30-day month+"
                        }
                    ]
                }
            ]
        }
    %}

    {# Call the info graphic macro #}
    {{ mContentInfoGraphic(options) }}
{% endmacro %}