

{% macro columnContentContainer(wrapClasses="") -%}

<section class="m-content u-columns -no-gutter {{wrapClasses}}" >   
    {{caller()}}
</section>

{%- endmacro %}

{% macro halfColumnWrap(colClasses="") -%}
    <div class="u-columns__column u-columns__column--twelve u-columns__column--six-s -no-gutter {{colClasses}}">
        {{caller()}}
    </div>
{%- endmacro %}

{% macro quarterColumnWrap(colClasses="") -%}
    <div class="u-columns__column u-columns__column--twelve u-columns__column--three-s -no-gutter {{colClasses}}">
        {{caller()}}
    </div>
{%- endmacro %}

{% macro thirdColumnWrap(colClasses="") -%}
    <div class="u-columns__column u-columns__column--twelve u-columns__column--four-s -no-gutter {{colClasses}}">
        {{caller()}}
    </div>
{%- endmacro %}

{% macro centeredTextFixed() -%}
    <div class="u-columns__column u-columns__column--twelve u-columns__column--four-s -no-gutter {{colClasses}} ">
        {{caller()}}
    </div>
{%- endmacro %}

m-content--text 


    
    