//
// -------------------------------------
// 	Page: Module
// -------------------------------------
//
//

$name     : g-module;
$selector : ".#{$name}";


//
// -------------------------------------
// 	Selectors
// -------------------------------------
//
body {
  font-size: 10px !important;
}
// main
#{$selector} {

  html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }

  //
  //
  // SET GLOBAL FONT VARIABLE.
  //
  //

  $font-family: 'Roboto', sans-serif;

  //
  //
  // SET GLOBAL TEXT ALIGNMENT FOR STYLESHEET.
  //
  //

  text-align: center;

  //
  // -------------------------------------
  // 	#VARIABLES
  // -------------------------------------
  //


  //
  // #BREAKPOINT VARIABLES
  //

  $bp-phone: 320px;

  $bp-tablet: 736px;

  $bp-desktop: 988px;

  $bp-xl-desktop: 1238px;





  //
  // -------------------------------------
  // 	#MIXINS
  // -------------------------------------
  //

  /* MEDIA QUERY MIXIN */
  @mixin phone() {
    @media screen and (max-width: ($bp-tablet - 1px)) {
      @content;
    }
  }

  @mixin tablet() {
    @media screen and (min-width: $bp-tablet) {
      @content;
    }
  }

  @mixin desktop() {
    @media screen and (min-width: $bp-desktop) {
      @content;
    }
  }





  //
  // #COLOUR VARIABLES
  //

  $white: #ffffff !important;

  $text-color-dark: #342527 !important;

  $dark-red: #571C30 !important;

  $lipstick-red: #9C3356;

  $tapestry-red: #AE798B !important;

  $light-grey: #EBE5E7;

  $pink: #D3AEBA !important;

  $rose-brown: #B58787 !important;

  $disco-red: #842B48; // template 02 sub-heading background colour - 1.

  $rose-violet: #875660; // template 04 sub-heading background colour - 2.

  $white-orange: #E8D8D0 !important;

  $tranquil-blue: #D9E5E8 !important;

  $violet: #976A79 !important;




  //
  // #SPACING VARIABLES
  //

  /* #CONTAINER PADDING */
  $container-padding: 2rem;




  //
  // -------------------------------------
  // 	#UTILITY CLASSES
  // -------------------------------------
  //



  //
  // #FLEXBOX UTILITIES
  //

  /* DISPLAY FLEX */
  .u-flex {
    display: flex;

    &-s {
      @include phone {
        display: flex;
      }
    }

    &-m {
      @include tablet {
        display: flex;
      }
    }

    &-l {
      @include desktop {
        display: flex;
      }
    }
  }

  /* FLEX DIRECTION - ROW */
  .u-flex-row {
    flex-direction: row;

    &-s {
      @include phone {
        flex-direction: row;
      }
    }

    &-m {
      @include tablet {
        flex-direction: row;
      }
    }

    &-l {
      @include desktop {
        flex-direction: row;
      }
    }
  }

  /* FLEX DIRECTION - ROW REVERSE */
  .u-flex-row-reverse {
    flex-direction: row-reverse;

    &-s {
      @include phone {
        flex-direction: row-reverse;
      }
    }

    &-m {
      @include tablet {
        flex-direction: row-reverse;
      }
    }

    &-l {
      @include desktop {
        flex-direction: row-reverse;
      }
    }
  }

  /* FLEX DIRECTION - COLUMN */
  .u-flex-column {
    flex-direction: column;

    &-s {
      @include phone {
        flex-direction: column;
      }
    }

    &-m {
      @include tablet {
        flex-direction: column;
      }
    }

    &-l {
      @include desktop {
        flex-direction: column;
      }
    }
  }

  /* FLEX DIRECTION - COLUMN REVERSE */
  .u-flex-column-reverse {
    flex-direction: column-reverse;

    &-s {
      @include phone {
        flex-direction: column-reverse;
      }
    }

    &-m {
      @include tablet {
        flex-direction: column-reverse;
      }
    }

    &-l {
      @include desktop {
        flex-direction: column-reverse;
      }
    }
  }


  // 
  // POSITION CONTAINERS ON THE X-AXIS 
  // 

  /* JUSTIFY LEFT */
  .u-flex-justify-start {
    justify-content: flex-start;

    &-s {
      @include phone {
        justify-content: flex-start;
      }
    }

    &-m {
      @include tablet {
        justify-content: flex-start;
      }
    }

    &-l {
      @include desktop {
        justify-content: flex-start;
      }
    }
  }

  /* JUSTIFY RIGHT */
  .u-flex-justify-end {
    justify-content: flex-end;

    &-s {
      @include phone {
        justify-content: flex-end;
      }
    }

    &-m {
      @include tablet {
        justify-content: flex-end;
      }
    }

    &-l {
      @include desktop {
        justify-content: flex-end;
      }
    }
  }

  /* JUSTIFY CENTER */
  .u-flex-justify-center {
    justify-content: center;

    &-s {
      @include phone {
        justify-content: center;
      }
    }

    &-m {
      @include tablet {
        justify-content: center;
      }
    }

    &-l {
      @include desktop {
        justify-content: center;
      }
    }
  }

  /* JUSTIFY BASELINE */
  .u-flex-justify-baseline {
    justify-content: baseline;

    &-s {
      @include phone {
        justify-content: baseline;
      }
    }

    &-m {
      @include tablet {
        justify-content: baseline;
      }
    }

    &-l {
      @include desktop {
        justify-content: baseline;
      }
    }
  }

  /* JUSTIFY SPACE BETWEEN */
  .u-flex-justify-space-between {
    justify-content: space-between;

    &-s {
      @include phone {
        justify-content: space-between;
      }
    }

    &-m {
      @include tablet {
        justify-content: space-between;
      }
    }

    &-l {
      @include desktop {
        justify-content: space-between;
      }
    }
  }

  /* JUSTIFY SPACE AROUND */
  .u-flex-justify-space-around {
    justify-content: space-around;

    &-s {
      @include phone {
        justify-content: space-around;
      }
    }

    &-m {
      @include tablet {
        justify-content: space-around;
      }
    }

    &-l {
      @include desktop {
        justify-content: space-around;
      }
    }
  }

  /* JUSTIFY SPACE EVENLY */
  .u-flex-justify-space-evenly {
    justify-content: space-evenly;

    &-s {
      @include phone {
        justify-content: space-evenly;
      }
    }

    &-m {
      @include tablet {
        justify-content: space-evenly;
      }
    }

    &-l {
      @include desktop {
        justify-content: space-evenly;
      }
    }
  }



  // 
  // POSITION CONTAINERS ON THE Y-AXIS 
  // 

  /* ALIGN ITEMS CENTER */
  .u-item-center {
    align-items: center;

    &-s {
      @include phone {
        align-items: center;
      }
    }

    &-m {
      @include tablet {
        align-items: center;
      }
    }

    &-l {
      @include desktop {
        align-items: center;
      }
    }
  }

  /* ALIGN ITEMS TOP */
  .u-item-top {
    align-items: top;

    &-s {
      @include phone {
        align-items: top;
      }
    }

    &-m {
      @include tablet {
        align-items: top;
      }
    }

    &-l {
      @include desktop {
        align-items: top;
      }
    }
  }

  /* ALIGN ITEMS BOTTOM */
  .u-item-bottom {
    align-items: bottom;

    &-s {
      @include phone {
        align-items: bottom;
      }
    }

    &-m {
      @include tablet {
        align-items: bottom;
      }
    }

    &-l {
      @include desktop {
        align-items: bottom;
      }
    }
  }






  //
  // #BUTTON UTILITY
  //

  /* BANNER BUTTONS */
  .u-button {
    font-family: $font-family;
    color: $text-color-dark;
    font-size: 12px;
    width: 135px;
    height: 40px;
    text-transform: uppercase;
    border: 1px solid $white;
    margin-top: 2rem;
    transition: color .2s ease, background .2s ease, border .2s ease;

    &--centered {
      margin: 2rem auto 0;
    }

    &:hover {
      background: $text-color-dark;
      color: $white;
    }

    &--white {
      border: 1px solid $white;
      background: $white;
      color: $text-color-dark;

      &--centered {
        margin: 2rem auto 0;
      }

      &:hover {
        border: 1px solid $text-color-dark;
        background: $text-color-dark;
        color: $white;
      }
    }

    &--dark {
      border: 1px solid $text-color-dark;
      background: $text-color-dark;
      color: $white;

      &--centered {
        margin: 2rem auto 0;
      }

      &:hover {
        border: 1px solid $white;
        background: $white;
        color: $text-color-dark;
      }
    }

    &--inverse {
      color: $white;
      background: none;

      &--centered {
        margin: 2rem auto 0;
      }

      &:hover {
        background: $white;
        color: $text-color-dark;
        border: 1px solid $white;
      }
    }

    @include tablet {
      position: absolute;
      bottom: 2.2rem;
      z-index: 1000;
      width: 128px;
      height: 30px;
      font-size: 10px;

      &--right {
        right: 2rem;

        &-s {
          @include phone {
            right: 2rem;
          }
        }

        &-m {
          @include tablet {
            right: 2rem;
          }
        }

        &-l {
          @include desktop {
            right: 2rem;
          }
        }
      }

      &--left {
        left: 2rem;

        &-s {
          @include phone {
            left: 2rem;
          }
        }

        &-m {
          @include tablet {
            left: 2rem;
          }
        }

        &-l {
          @include desktop {
            left: 2rem;
          }
        }
      }
    }
  }






  //
  // #TEXT ALIGNMENT UTILITIES
  //

  /* TEXT LEFT */
  .u-text-left {
    text-align: left;

    &-s {
      @include phone {
        text-align: left;
      }
    }

    &-m {
      @include tablet {
        text-align: left;
      }
    }

    &-l {
      @include desktop {
        text-align: left;
      }
    }
  }

  /* TEXT RIGHT */
  .u-text-right {
    text-align: right;

    &-s {
      @include phone {
        text-align: right;
      }
    }

    &-m {
      @include tablet {
        text-align: right;
      }
    }

    &-l {
      @include desktop {
        text-align: right;
      }
    }
  }

  /* TEXT CENTER */
  .u-text-center {
    text-align: center;

    &-s {
      @include phone {
        text-align: center;
      }
    }

    &-m {
      @include tablet {
        text-align: center;
      }
    }

    &-l {
      @include desktop {
        text-align: center;
      }
    }
  }





  //
  // #TEXT COLOUR UTILITIES
  //

  /* TEXT BLACK */
  .u-text-dark {
    color: $text-color-dark;
  }

  /* TEXT WHITE */
  .u-text-white {
    color: $white;
  }





  //
  // #BACKGROUND UTILITIES
  //

  /* CHARCOAL */
  .u-bg-color-1 {
    background: $text-color-dark;

    &-s {
      @include phone {
        background: $text-color-dark;
      }
    }

    &-m {
      @include tablet {
        background: $text-color-dark;
      }
    }

    &-l {
      @include desktop {
        background: $text-color-dark;
      }
    }
  }

  /* LIGHT GREY */
  .u-bg-color-2 {
    background: $light-grey;

    &-s {
      @include phone {
        background: $light-grey;
      }
    }

    &-m {
      @include tablet {
        background: $light-grey;
      }
    }

    &-l {
      @include desktop {
        background: $light-grey;
      }
    }
  }

  /* TAPESTRY RED */
  .u-bg-color-3 {
    background: $tapestry-red;

    &-s {
      @include phone {
        background: $tapestry-red;
      }
    }

    &-m {
      @include tablet {
        background: $tapestry-red;
      }
    }

    &-l {
      @include desktop {
        background: $tapestry-red;
      }
    }
  }

  /* PINK */
  .u-bg-color-4 {
    background: $pink;

    &-s {
      @include phone {
        background: $pink;
      }
    }

    &-m {
      @include tablet {
        background: $pink;
      }
    }

    &-l {
      @include desktop {
        background: $pink;
      }
    }
  }

  /* ROSE BROWN */
  .u-bg-color-5 {
    background: $rose-brown;

    &-s {
      @include phone {
        background: $rose-brown;
      }
    }

    &-m {
      @include tablet {
        background: $rose-brown;
      }
    }

    &-l {
      @include desktop {
        background: $rose-brown;
      }
    }
  }

  /* LIPSTICK RED */
  .u-bg-color-6 {
    background: $lipstick-red;

    &-s {
      @include phone {
        background: $lipstick-red;
      }
    }

    &-m {
      @include tablet {
        background: $lipstick-red;
      }
    }

    &-l {
      @include desktop {
        background: $lipstick-red;
      }
    }
  }

  /* WHITE ORANGE */
  .u-bg-color-7 {
    background: $white-orange;

    &-s {
      @include phone {
        background: $white-orange;
      }
    }

    &-m {
      @include tablet {
        background: $white-orange;
      }
    }

    &-l {
      @include desktop {
        background: $white-orange;
      }
    }
  }

  /* TRANQUIL BLUE */
  .u-bg-color-8 {
    background: $tranquil-blue;

    &-s {
      @include phone {
        background: $tranquil-blue;
      }
    }

    &-m {
      @include tablet {
        background: $tranquil-blue;
      }
    }

    &-l {
      @include desktop {
        background: $tranquil-blue;
      }
    }
  }

  /* VIOLET */
  .u-bg-color-9 {
    background: $violet;

    &-s {
      @include phone {
        background: $violet;
      }
    }

    &-m {
      @include tablet {
        background: $violet;
      }
    }

    &-l {
      @include desktop {
        background: $violet;
      }
    }
  }







  //
  // -------------------------------------
  // 	#TYPOGRAPHY
  // -------------------------------------
  //

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-family: $font-family;
    letter-spacing: normal;
  }

  // Remove the TWL H1 dash.
  h1:after {
    display: none;
  }

  h3 {
    font-size: 1.6rem;
    line-height: 2.3rem;
    font-weight: 700;

    @include desktop {
      font-size: 1.6rem;
      line-height: 2.6rem;
    }
  }

  /* SUB-HEADING */
  .sub-heading {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: .8rem;
    line-height: 1.7rem;
    letter-spacing: .23rem;
    color: fade_out(#fff, .6);

    &--text-color-100 {
      color: $white;
    }
  }

  /* HEADLINE */
  .headline {
    height: auto;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 2.5rem;
    overflow-x: visible;
    overflow-y: visible;

    @include tablet {
      margin: 0;
      line-height: 3rem;
    }

    @include desktop {
      margin-top: 1rem;
      font-size: 2.8rem;
      line-height: 3.3rem;
    }
  }

  /* PRODUCT CARD - BRAND */
  .brand {
    font-size: 1.4rem;
    line-height: 0;
    margin-bottom: .5rem;
  }

  /* PRODUCT CARD - NAME */
  .name {
    font-size: 1.4rem;
  }

  /* PRODUCT CARD - PRICE */
  .price {
    font-size: 1.6rem;
    font-weight: 700;

    @include tablet {
      font-size: 1.7rem;
    }
  }

  /* DESCRIPTION */
  .description {
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.7rem;
    font-weight: 100;
  }





  //
  // -------------------------------------
  // 	#CONTAINERS
  // -------------------------------------
  //

  /* TEMPLATE */
  .template {
    position: relative;
    margin: 10rem auto;
    display: flex;
    justify-content: center;
    width: 100%;

    @include tablet {
      height: 320px;
      max-width: $bp-xl-desktop;
    }

    &--category-banner {

      @include tablet {
        flex-direction: row;
        width: 736px;
        height: 257px;
      }
    }
  }

  /* PROMOTION CONTAINER */
  .promotion-container {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    padding: $container-padding;
    overflow: hidden;

    &--no-padding-bottom {
      padding-bottom: 0;

      &-s {
        @include phone {
          padding-bottom: 0;
        }
      }

      &-m {
        @include tablet {
          padding-bottom: 0;
        }
      }

      &-l {
        @include desktop {
          padding-bottom: 0;
        }
      }
    }


    &--no-padding-top {
      padding-top: 0;

      &-s {
        @include phone {
          padding-top: 0;
        }
      }

      &-m {
        @include tablet {
          padding-top: 0;
        }
      }

      &-l {
        @include desktop {
          padding-top: 0;
        }
      }
    }


    &--no-padding-left {
      padding-left: 0;

      &-s {
        @include phone {
          padding-left: 0;
        }
      }

      &-m {
        @include tablet {
          padding-left: 0;
        }
      }

      &-l {
        @include desktop {
          padding-left: 0;
        }
      }
    }


    &--no-padding-right {
      padding-right: 0;

      &-s {
        @include phone {
          padding-right: 0;
        }
      }

      &-m {
        @include tablet {
          padding-right: 0;
        }
      }

      &-l {
        @include desktop {
          padding-right: 0;
        }
      }
    }


    &--height-240 {
      height: 240px;

      &-s {
        @include phone {
          height: 240px;
        }
      }

      &-m {
        @include tablet {
          height: 240px;
        }
      }

      &-l {
        @include desktop {
          height: 240px;
        }
      }
    }

    &--height-260 {
      height: 260px;

      &-s {
        @include phone {
          height: 260px;
        }
      }

      &-m {
        @include tablet {
          height: 260px;
        }
      }

      &-l {
        @include desktop {
          height: 260px;
        }
      }

    }

    &--height-265 {
      height: 265px;

      &-s {
        @include phone {
          height: 265px;
        }
      }

      &-m {
        @include tablet {
          height: 265px;
        }
      }

      &-l {
        @include desktop {
          height: 265px;
        }
      }

    }

    &--height-280 {
      height: 280px;

      &-s {
        @include phone {
          height: 280px;
        }
      }

      &-m {
        @include tablet {
          height: 280px;
        }
      }

      &-l {
        @include desktop {
          height: 280px;
        }
      }
    }

    &--height-320 {
      height: 320px;

      &-s {
        @include phone {
          height: 320px;
        }
      }

      &-m {
        @include tablet {
          height: 320px;
        }
      }

      &-l {
        @include desktop {
          height: 320px;
        }
      }
    }
  }

  /* PRODUCT CONTAINER */
  .product-container {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    padding: $container-padding;
    background: $light-grey;
    overflow: hidden;

    &--no-padding-bottom {
      padding-bottom: 0;

      &-s {
        @include phone {
          padding-bottom: 0;
        }
      }

      &-m {
        @include tablet {
          padding-bottom: 0;
        }
      }

      &-l {
        @include desktop {
          padding-bottom: 0;
        }
      }
    }


    &--no-padding-top {
      padding-top: 0;

      &-s {
        @include phone {
          padding-top: 0;
        }
      }

      &-m {
        @include tablet {
          padding-top: 0;
        }
      }

      &-l {
        @include desktop {
          padding-top: 0;
        }
      }
    }


    &--no-padding-left {
      padding-left: 0;

      &-s {
        @include phone {
          padding-left: 0;
        }
      }

      &-m {
        @include tablet {
          padding-left: 0;
        }
      }

      &-l {
        @include desktop {
          padding-left: 0;
        }
      }
    }


    &--no-padding-right {
      padding-right: 0;

      &-s {
        @include phone {
          padding-right: 0;
        }
      }

      &-m {
        @include tablet {
          padding-right: 0;
        }
      }

      &-l {
        @include desktop {
          padding-right: 0;
        }
      }
    }

    &--height-156 {
      height: 156px;

      &-s {
        @include phone {
          height: 156px;
        }
      }

      &-m {
        @include tablet {
          height: 156px;
        }
      }

      &-l {
        @include desktop {
          height: 156px;
        }
      }
    }

    &--height-228 {
      height: 228px;

      &-s {
        @include phone {
          height: 228px;
        }
      }

      &-m {
        @include tablet {
          height: 228px;
        }
      }

      &-l {
        @include desktop {
          height: 228px;
        }
      }
    }

    &--height-240 {
      height: 240px;

      &-s {
        @include phone {
          height: 240px;
        }
      }

      &-m {
        @include tablet {
          height: 240px;
        }
      }

      &-l {
        @include desktop {
          height: 240px;
        }
      }
    }

    @include tablet {
      position: relative;
      z-index: 1;
      margin-bottom: 0;
      margin-left: .15rem;
      width: 50%;

      &--no-margin {
        margin-left: 0;
      }
    }
  }

  /* 2 UP PRODUCT CONTAINER */
  .two-up-container {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;

    @include tablet {
      width: 50%;
    }

    &__product-container {
      width: 100%;
    }

    &__container {
      height: 50%;
    }
  }

  /* PRODUCT INFO CONTAINER */
  .product-info-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 100;
    max-width: 60%;

    &--right {
      right: 2rem;

      &-s {
        @include phone {
          right: 2rem;
        }
      }

      &-m {
        @include tablet {
          right: 2rem;
        }
      }

      &-l {
        @include desktop {
          right: 2rem;
        }
      }
    }

    &--left {
      left: 2rem;

      &-s {
        @include phone {
          left: 2rem;
        }
      }

      &-m {
        @include tablet {
          left: 2rem;
        }
      }

      &-l {
        @include desktop {
          left: 2rem;
        }
      }
    }

    @include tablet {
      width: 60%;
      font-size: 1.3rem;
    }

    @include desktop {
      font-size: 1.6rem;
      line-height: auto;
    }
  }

  /* IMAGE CONTAINER */
  .img-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    object-fit: cover;

    &__img {
      position: absolute;

      &--position-left {
        left: 0;

        &-s {
          @include phone {
            left: 0;
          }
        }

        &-m {
          @include tablet {
            left: 0;
          }
        }

        &-l {
          @include desktop {
            left: 0;
          }
        }
      }

      &--position-right {
        right: 0;

        &-s {
          @include phone {
            right: 0;
          }
        }

        &-m {
          @include tablet {
            right: 0;
          }
        }

        &-l {
          @include desktop {
            right: 0;
          }
        }
      }

      &--position-top {
        top: 0;

        &-s {
          @include phone {
            top: 0;
          }
        }

        &-m {
          @include tablet {
            top: 0;
          }
        }

        &-l {
          @include desktop {
            top: 0;
          }
        }
      }

      &--position-bottom {
        bottom: 0;

        &-s {
          @include phone {
            bottom: 0;
          }
        }

        &-m {
          @include tablet {
            bottom: 0;
          }
        }

        &-l {
          @include desktop {
            bottom: 0;
          }
        }
      }

    }

    @include tablet {
      //width: 50%;
    }
  }

  /* SUB-HEADING CONTAINER */
  .sub-heading-container {
    display: block;
    width: 11rem;
    height: 1.7rem;
    padding: 0;
    line-height: 0;
    border-radius: 2rem;

    &--centered {
      margin: 0 auto;

      &--s {
        @include phone {
          margin: 0 auto;
        }
      }
      &--m {
        @include tablet {
          margin: 0 auto;
        }
      }
      &--l {
        @include desktop {
          margin: 0 auto;
        }
      }
    }

    &--left {
      margin-left: 0;

      &--s {
        @include phone {
          margin-left: 0;
        }
      }
      &--m {
        @include tablet {
          margin-left: 0;
        }
      }
      &--l {
        @include desktop {
          margin-left: 0;
        }
      }
    }

    &--disco-red {
      background: fade_out($disco-red, .2);
    }

    &--rose-violet {
      background: fade_out($rose-violet, .2);
    }
  }

 


  
  /*
  |
  |
  |
  |
  |
  |
  | #TEMPLATE & WIREFRAME SECTION
  |
  |
  |
  |
  |
  |
  */

  /*---------------------------------------------------*\
  #TEMPLATE STYLING
    DESC: Contains base styling for all banner template
          containers, elements and utility classes.
  \*----------------------------------------------------*/

  //
  // UTILITIES
  //

  .u-show-elem {
    display: block !important;

    &--s {
      @include phone {
        display: block !important;
      }
    }

    &--m {
      @include tablet {
        display: block !important;
      }
    }

    &--l {
      @include desktop {
        display: block !important;
      }
    }
  }

  .u-hide-elem {
    display: none !important;

    &--s {
      @include phone {
        display: none !important;
      }
    }

    &--m {
      @include tablet {
        display: none !important;
      }
    }

    &--l {
      @include desktop {
        display: none !important;
      }
    }
  }

  .u-display-row {
    flex-direction: row;

    &--s {
      @include phone {
        flex-direction: row;
      }
    }

    &--m {
      @include tablet {
        flex-direction: row;
      }
    }

    &--l {
      @include desktop {
        flex-direction: row;
      }
    }
  }

  .u-display-row-reverse {
    flex-direction: row-reverse;

    &--s {
      @include phone {
        flex-direction: row-reverse;
      }
    }

    &--m {
      @include tablet {
        flex-direction: row-reverse;
      }
    }

    &--l {
      @include desktop {
        flex-direction: row-reverse;
      }
    }
  }

  .u-display-column {
    flex-direction: column;

    &--s {
      @include phone {
        flex-direction: column;
      }
    }

    &--m {
      @include tablet {
        flex-direction: column;
      }
    }

    &--l {
      @include desktop {
        flex-direction: column;
      }
    }
  }

  .u-display-column-reverse {
    flex-direction: column-reverse;

    &--s {
      @include phone {
        flex-direction: column-reverse;
      }
    }

    &--m {
      @include tablet {
        flex-direction: column-reverse;
      }
    }

    &--l {
      @include desktop {
        flex-direction: column-reverse;
      }
    }
  }

  .u-justify-center {
    justify-content: center;

    &--s {
      @include phone {
        justify-content: center;
      }
    }

    &--m {
      @include tablet {
        justify-content: center;
      }
    }

    &--l {
      @include desktop {
        justify-content: center;
      }
    }
  }

  .u-align-center {
    align-items: center;

    &--s {
      @include phone {
        align-items: center;
      }
    }

    &--m {
      @include tablet {
        align-items: center;
      }
    }

    &--l {
      @include desktop {
        align-items: center;
      }
    }
  }

  .u-columns-4 {
    width: 25%;

    &--s {
      @include phone {
        width: 25%;
      }
    }
    &--m {
      @include tablet {
        width: 25%;
      }
    }
    &--l {
      @include desktop {
        width: 25%;
      }
    }
  }

  .u-columns-3 {
    width: 33%;

    &--s {
      @include phone {
        width: 33%;
      }
    }
    &--m {
      @include tablet {
        width: 33%;
      }
    }
    &--l {
      @include desktop {
        width: 33%;
      }
    }
  }

  .u-columns-2 {
    width: 50%;

    &--s {
      @include phone {
        width: 50%;
      }
    }
    &--m {
      @include tablet {
        width: 50%;
      }
    }
    &--l {
      @include desktop {
        width: 50%;
      }
    }
  }

  .u-full-width {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0;

    &--s {
      @include phone {
        max-width: 100% !important;
        width: 100% !important;
        margin: 0;
      }
    }
    &--m {
      @include tablet {
        max-width: 100% !important;
        width: 100% !important;
        margin: 0;
      }
    }
    &--l {
      @include desktop {
        max-width: 100% !important;
        width: 100% !important;
        margin: 0;
      }
    }
  }

  .u-full-height {
    max-height: 100% !important;
    height: 100% !important;
    margin: 0;

    &--s {
      @include phone {
        max-height: 100% !important;
        height: 100% !important;
        margin: 0;
      }
    }
    &--m {
      @include tablet {
        max-height: 100% !important;
        height: 100% !important;
        margin: 0;
      }
    }
    &--l {
      @include desktop {
        max-height: 100% !important;
        height: 100% !important;
        margin: 0;
      }
    }
  }

  .u-half-height {
    max-height: 50% !important;
    height: 50% !important;
    margin: 0;

    &--s {
      @include phone {
        max-height: 50% !important;
        height: 50% !important;
        margin: 0;
      }
    }
    &--m {
      @include tablet {
        max-height: 50% !important;
        height: 50% !important;
        margin: 0;
      }
    }
    &--l {
      @include desktop {
        max-height: 50% !important;
        height: 50% !important;
        margin: 0;
      }
    }
  }

  .u-text-left {
    text-align: left;

    &--s {
      @include phone {
        text-align: left;
      }
    }

    &--m {
      @include tablet {
        text-align: left;
      }
    }

    &--l {
      @include desktop {
        text-align: left;
      }
    }
  }

  .u-text-right {
    text-align: right;

    &--s {
      @include phone {
        text-align: right;
      }
    }

    &--m {
      @include tablet {
        text-align: right;
      }
    }

    &--l {
      @include desktop {
        text-align: right;
      }
    }
  }

  .u-text-center {
    text-align: center;

    &--s {
      @include phone {
        text-align: center;
      }
    }

    &--m {
      @include tablet {
        text-align: center;
      }
    }

    &--l {
      @include desktop {
        text-align: center;
      }
    }
  }

  .u-height-260 {
    height: 26rem !important;

    &--s {
      @include phone {
        height: 26rem !important;
      }
    }

    &--m {
      @include tablet {
        height: 26rem !important;
      }
    }

    &--l {
      @include desktop {
        height: 26rem !important;
      }
    }
  }

  .message-container {
    margin: 0;
    padding: 0;
    margin-top: $container-padding + 1;
    // background: rgba(49, 238, 49, .3);

    &--h3 {
      margin-top: 2rem;
    }
  }





//
// #TEMPLATE STYLING
//

  ._template {
    position: relative;
    max-width: $bp-xl-desktop;
    display: flex;
    margin: 4rem auto;

    &__section-container {
      width: 100%;
      max-height: 32rem;
      margin: 0;
      padding: $container-padding;
      overflow: hidden;

      @include tablet {
        height: 32rem;
      }

      &--img {
        padding: 0;
      }

      &--double {
        padding: 0;
      }
    }

    &__content-container {
      position: relative;
      width: 100%;
      height: 25rem;
      display: flex;

      @include tablet {
        height: 100%;
      }

      &--double {
        width: 100%;
        height: 12.5rem;
        padding: $container-padding;

        @include tablet {
          height: 50%;
        }
      }
    }

    &__text-container {
      margin: 0;
      padding: 0 0 1rem;
      max-height: 75%;
      width: 65%;
      position: absolute;
      top: 0;
      z-index: 1000;
      // overflow-y: hidden;

      &--double {
        top: $container-padding;
        width: 55%;
      }
    }

    &__image-container {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 53.5%;
      min-height: 100%;
      margin: 0;
      padding: 0;
      object-fit: cover;

      &--extend-top {
        top: -$container-padding;

        &--s {
          @include phone {
            top: -$container-padding;
          }
        }

        &--m {
          @include tablet {
            top: -$container-padding;
          }
        }

        &--l {
          @include desktop {
            top: -$container-padding;
          }
        }
      }

      &--extend-bottom {
        bottom: -$container-padding;

        &--s {
          @include phone {
            bottom: -$container-padding;
          }
        }

        &--m {
          @include tablet {
            bottom: -$container-padding;
          }
        }

        &--l {
          @include desktop {
            bottom: -$container-padding;
          }
        }
      }

      &--extend-left {
        left: -$container-padding;

        &--s {
          @include phone {
            left: -$container-padding;
          }
        }

        &--m {
          @include tablet {
            left: -$container-padding;
          }
        }

        &--l {
          @include desktop {
            left: -$container-padding;
          }
        }
      }

      &--extend-right {
        right: -$container-padding;

        &--s {
          @include phone {
            right: -$container-padding;
          }
        }

        &--m {
          @include tablet {
            right: -$container-padding;
          }
        }

        &--l {
          @include desktop {
            right: -$container-padding;
          }
        }
      }

      &--top {
        top: 0;

        &--s {
          @include phone {
            top: 0;
          }
        }

        &--m {
          @include tablet {
            top: 0;
          }
        }

        &--l {
          @include desktop {
            top: 0;
          }
        }
      }

      &--bottom {
        bottom: 0;

        &--s {
          @include phone {
            bottom: 0;
          }
        }

        &--m {
          @include tablet {
            bottom: 0;
          }
        }

        &--l {
          @include desktop {
            bottom: 0;
          }
        }
      }

      &--left {
        left: 0;

        &--s {
          @include phone {
            left: 0;
          }
        }

        &--m {
          @include tablet {
            left: 0;
          }
        }

        &--l {
          @include desktop {
            left: 0;
          }
        }
      }

      &--right {
        right: 0;

        &--s {
          @include phone {
            right: 0;
          }
        }

        &--m {
          @include tablet {
            right: 0;
          }
        }

        &--l {
          @include desktop {
            right: 0;
          }
        }
      }

      &__img {
        position: absolute;
        bottom: 0;
        right: 0;
        max-height: 100%;
        max-width: 100%;

        &--left {
          left: 0;

          &--s {
            @include phone {
              left: 0;
            }
          }

          &--m {
            @include tablet {
              left: 0;
            }
          }

          &--l {
            @include desktop {
              left: 0;
            }
          }
        }

        &--right {
          left: 0;

          &--s {
            @include phone {
              right: 0;
            }
          }

          &--m {
            @include tablet {
              right: 0;
            }
          }

          &--l {
            @include desktop {
              right: 0;
            }
          }
        }

        &--center {
          position: unset;
          margin: 0 auto;

          &--s {
            @include phone {
              position: unset;
              margin: 0 auto;
            }
          }

          &--m {
            @include tablet {
              position: unset;
              margin: 0 auto;
            }
          }

          &--l {
            @include desktop {
              position: unset;
              margin: 0 auto;
            }
          }
        }
      }

      &--full-width {
        width: 100%;
        margin: 0;

        &--s {
          @include phone {
            width: 100%;
            margin: 0;
          }
        }
        &--m {
          @include tablet {
            width: 100%;
            margin: 0;
          }
        }
        &--l {
          @include desktop {
            width: 100%;
            margin: 0;
          }
        }
      }
    }

    &__promotion-badge {
      display: block;
      width: 11rem;
      height: 1.7rem;
      padding: 0;
      line-height: 0;
      border-radius: 2rem;
  
      &--centered {
        margin: 0 auto;
  
        &--s {
          @include phone {
            margin: 0 auto;
          }
        }
        &--m {
          @include tablet {
            margin: 0 auto;
          }
        }
        &--l {
          @include desktop {
            margin: 0 auto;
          }
        }
      }
  
      &--disco-red {
        background: fade_out($disco-red, .2);
      }
  
      &--rose-violet {
        background: fade_out($rose-violet, .2);
      }
    }

    &__button {
      position: absolute;
      bottom: 0;
      z-index: 1000;
      font-family: $font-family;
      color: $text-color-dark;
      font-size: 1.2rem;
      width: 50%;
      height: 4rem;
      text-transform: uppercase;
      border: 1px solid $white;
      margin-top: $container-padding;
      background: $white;
      transition: color .2s ease, background .2s ease, border .2s ease;

      &--centered {
        left: 25%;
        margin: $container-padding auto 0;

        &--s {
          @include phone {
            left: 25%;
            margin: $container-padding auto 0;
          }
        }
        &--m {
          @include tablet {
            left: 25%;
            margin: $container-padding auto 0;
          }
        }
        &--l {
          @include desktop {
            left: 25%;
            margin: $container-padding auto 0;
          }
        }
      }

      &--right {
        right: $container-padding;

        &-s {
          @include phone {
            right: $container-padding;
          }
        }

        &-m {
          @include tablet {
            right: $container-padding;
          }
        }

        &-l {
          @include desktop {
            right: $container-padding;
          }
        }
      }

      &--left {
        left: $container-padding;

        &-s {
          @include phone {
            left: $container-padding;
          }
        }

        &-m {
          @include tablet {
            left: $container-padding;
          }
        }

        &-l {
          @include desktop {
            left: $container-padding;
          }
        }
      }

      &--bottom {
        bottom: $container-padding;

        &-s {
          @include phone {
            bottom: $container-padding;
          }
        }

        &-m {
          @include tablet {
            bottom: $container-padding;
          }
        }

        &-l {
          @include desktop {
            bottom: $container-padding;
          }
        }
      }

      &--top {
        top: $container-padding;

        &-s {
          @include phone {
            top: $container-padding;
          }
        }

        &-m {
          @include tablet {
            top: $container-padding;
          }
        }

        &-l {
          @include desktop {
            top: $container-padding;
          }
        }
      }

      &:hover {
        background: $text-color-dark;
        color: $white;
      }

      &--white {
        border: 1px solid $white;
        background: $white;
        color: $text-color-dark;

        &--centered {
          margin: $container-padding auto 0;
        }

        &:hover {
          border: 1px solid $text-color-dark;
          background: $text-color-dark;
          color: $white;
        }
      }

      &--dark {
        border: 1px solid $text-color-dark;
        background: $text-color-dark;
        color: $white;

        &--centered {
          margin: $container-padding auto 0;
        }

        &:hover {
          border: 1px solid $white;
          background: $white;
          color: $text-color-dark;
        }
      }

      &--inverse {
        color: $white;
        background: none transparent !important;

        &--centered {
          margin: $container-padding auto 0;
        }

        &:hover {
          background: $white;
          color: $text-color-dark;
          border: 1px solid $white;
        }
      }

      @include tablet {
        width: 12.8rem;
        height: 3rem;
        font-size: 1rem;
      }
    }
  }


//  
// #WIREFRAME STYLING
//

  ._wireframe {
    position: relative;
    max-width: $bp-xl-desktop;
    display: flex;
    margin: 4rem auto;

    &__section-container {
      width: 100%;
      max-height: 32rem;
      margin: 0;
      padding: $container-padding;
      background: #eaeaea;
      overflow: hidden;
      border: 1px dashed $text-color-dark;

      @include tablet {
        height: 32rem;
      }

      &--img {
        padding: 0;
      }

      &--double {
        padding: 0;
      }
    }

    &__content-container {
      position: relative;
      width: 100%;
      height: 25rem;
      display: flex;

      @include tablet {
        height: 100%;
      }

      &--double {
        width: 100%;
        height: 12.5rem;
        padding: $container-padding;

        @include tablet {
          height: 50%;
        }
      }
    }

    &__text-container {
      color: $white;
      margin: 0;
      padding: 0 0 1rem;
      max-height: 75%;
      width: 65%;
      position: absolute;
      top: 0;
      z-index: 1000;
      background: rgba(255, 0, 0, 0.2);
      border: 1px dashed $white;
      // overflow-y: hidden;

      &--double {
        top: $container-padding;
        width: 55%;
      }
    }

    &__image-container {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 53.5%;
      min-height: 100%;
      margin: 0;
      padding: 0;
      object-fit: cover;
      background: $light-grey;
      border: 1px dashed #342527;

      &--extend-top {
        top: -$container-padding;

        &--s {
          @include phone {
            top: -$container-padding;
          }
        }

        &--m {
          @include tablet {
            top: -$container-padding;
          }
        }

        &--l {
          @include desktop {
            top: -$container-padding;
          }
        }
      }

      &--extend-bottom {
        bottom: -$container-padding;

        &--s {
          @include phone {
            bottom: -$container-padding;
          }
        }

        &--m {
          @include tablet {
            bottom: -$container-padding;
          }
        }

        &--l {
          @include desktop {
            bottom: -$container-padding;
          }
        }
      }

      &--extend-left {
        left: -$container-padding;

        &--s {
          @include phone {
            left: -$container-padding;
          }
        }

        &--m {
          @include tablet {
            left: -$container-padding;
          }
        }

        &--l {
          @include desktop {
            left: -$container-padding;
          }
        }
      }

      &--extend-right {
        right: -$container-padding;

        &--s {
          @include phone {
            right: -$container-padding;
          }
        }

        &--m {
          @include tablet {
            right: -$container-padding;
          }
        }

        &--l {
          @include desktop {
            right: -$container-padding;
          }
        }
      }

      &--top {
        top: 0;

        &--s {
          @include phone {
            top: 0;
          }
        }

        &--m {
          @include tablet {
            top: 0;
          }
        }

        &--l {
          @include desktop {
            top: 0;
          }
        }
      }

      &--bottom {
        bottom: 0;

        &--s {
          @include phone {
            bottom: 0;
          }
        }

        &--m {
          @include tablet {
            bottom: 0;
          }
        }

        &--l {
          @include desktop {
            bottom: 0;
          }
        }
      }

      &--left {
        left: 0;

        &--s {
          @include phone {
            left: 0;
          }
        }

        &--m {
          @include tablet {
            left: 0;
          }
        }

        &--l {
          @include desktop {
            left: 0;
          }
        }
      }

      &--right {
        right: 0;

        &--s {
          @include phone {
            right: 0;
          }
        }

        &--m {
          @include tablet {
            right: 0;
          }
        }

        &--l {
          @include desktop {
            right: 0;
          }
        }
      }

      &__img {
        position: absolute;
        bottom: 0;
        right: 0;
        max-height: 100%;
        max-width: 100%;

        &--left {
          left: 0;

          &--s {
            @include phone {
              left: 0;
            }
          }

          &--m {
            @include tablet {
              left: 0;
            }
          }

          &--l {
            @include desktop {
              left: 0;
            }
          }
        }

        &--right {
          left: 0;

          &--s {
            @include phone {
              right: 0;
            }
          }

          &--m {
            @include tablet {
              right: 0;
            }
          }

          &--l {
            @include desktop {
              right: 0;
            }
          }
        }

        &--center {
          position: unset;
          margin: 0 auto;

          &--s {
            @include phone {
              position: unset;
              margin: 0 auto;
            }
          }

          &--m {
            @include tablet {
              position: unset;
              margin: 0 auto;
            }
          }

          &--l {
            @include desktop {
              position: unset;
              margin: 0 auto;
            }
          }
        }
      }

      &--full-width {
        width: 100%;
        margin: 0;

        &--s {
          @include phone {
            width: 100%;
            margin: 0;
          }
        }
        &--m {
          @include tablet {
            width: 100%;
            margin: 0;
          }
        }
        &--l {
          @include desktop {
            width: 100%;
            margin: 0;
          }
        }
      }
    }

    &__promotion-badge {
      display: block;
      width: 11rem;
      height: 1.7rem;
      padding: 0;
      line-height: 0;
      border-radius: 2rem;

      &--centered {
        margin: 0 auto;
  
        &--s {
          @include phone {
            margin: 0 auto;
          }
        }
        &--m {
          @include tablet {
            margin: 0 auto;
          }
        }
        &--l {
          @include desktop {
            margin: 0 auto;
          }
        }
      }

      &--disco-red {
        background: fade_out($disco-red, .2);
      }

      &--rose-violet {
        background: fade_out($rose-violet, .2);
      }
    }

    &__button {
      position: absolute;
      bottom: 0;
      z-index: 1000;
      font-family: $font-family;
      color: $text-color-dark;
      font-size: 1.2rem;
      width: 50%;
      height: 4rem;
      text-transform: uppercase;
      border: 1px solid $white;
      margin-top: $container-padding;
      background: $white;
      transition: color .2s ease, background .2s ease, border .2s ease;

      &--centered {
        left: 25%;
        margin: $container-padding auto 0;

        &--s {
          @include phone {
            left: 25%;
            margin: $container-padding auto 0;
          }
        }
        &--m {
          @include tablet {
            left: 25%;
            margin: $container-padding auto 0;
          }
        }
        &--l {
          @include desktop {
            left: 25%;
            margin: $container-padding auto 0;
          }
        }
      }

      &--right {
        right: $container-padding;

        &-s {
          @include phone {
            right: $container-padding;
          }
        }

        &-m {
          @include tablet {
            right: $container-padding;
          }
        }

        &-l {
          @include desktop {
            right: $container-padding;
          }
        }
      }

      &--left {
        left: $container-padding;

        &-s {
          @include phone {
            left: $container-padding;
          }
        }

        &-m {
          @include tablet {
            left: $container-padding;
          }
        }

        &-l {
          @include desktop {
            left: $container-padding;
          }
        }
      }

      &--bottom {
        bottom: $container-padding;

        &-s {
          @include phone {
            bottom: $container-padding;
          }
        }

        &-m {
          @include tablet {
            bottom: $container-padding;
          }
        }

        &-l {
          @include desktop {
            bottom: $container-padding;
          }
        }
      }

      &--top {
        top: $container-padding;

        &-s {
          @include phone {
            top: $container-padding;
          }
        }

        &-m {
          @include tablet {
            top: $container-padding;
          }
        }

        &-l {
          @include desktop {
            top: $container-padding;
          }
        }
      }

      &:hover {
        background: $text-color-dark;
        color: $white;
      }

      &--white {
        border: 1px solid $white;
        background: $white;
        color: $text-color-dark;

        &--centered {
          margin: $container-padding auto 0;
        }

        &:hover {
          border: 1px solid $text-color-dark;
          background: $text-color-dark;
          color: $white;
        }
      }

      &--dark {
        border: 1px solid $text-color-dark;
        background: $text-color-dark;
        color: $white;

        &--centered {
          margin: $container-padding auto 0;
        }

        &:hover {
          border: 1px solid $white;
          background: $white;
          color: $text-color-dark;
        }
      }

      &--inverse {
        color: $white;
        background: none transparent !important;

        &--centered {
          margin: $container-padding auto 0;
        }

        &:hover {
          background: $white;
          color: $text-color-dark;
          border: 1px solid $white;
        }
      }

      @include tablet {
        width: 12.8rem;
        height: 3rem;
        font-size: 1rem;
      }
    }
  }
}