{% import 'html/t7-live/macros/image.html' as imageMacros %}
{% import 'html/t7-live/macros/icons.html' as iconMacros %}

{% macro tileT7(options) -%}
<div class="c-promo u-aspect-nine-by-four">
    <div class="c-promo__content">
        <h2 class="c-promo__heading">{{options.title | safe}}</h2>
        <!-- <p class="c-promo__description">{{options.description | safe}}</p> -->
    </div>
    <span class="c-promo__overlay t-overlay--dark"></span>
    <div class="c-promo__image c-promo__image-- {{options.tileClasses}}" data-responsive-background-src data-src-m="{{options03.desktopImage}}" data-src-s="{{options03.mobileImage}}"></div>
</div>
<!-- END: .c-promo -->
    
{%- endmacro %}


{% macro tileT7Polulated() -%}

        {% 
        set options = {
            title: "10 - 13% Off",
            themeColor: "dark",
            promoTag: "Bikes and Accessories",
            tileClasses: "u-aspect-eight-by-four",
            containerClasses: "u-aspect-four-by-five",
            ctaText: "Shop Now",
            ctaLink: "#",
            ctaArrow: ">",
            link: "#",
            mobileImage: "/assets/images/test/R2377560_00.png",
            desktopImage: "/assets/images/test/R2377560_00@2x.png"
        }

    %}
    
    {{tileT7(options)}}

{%- endmacro %}


{% macro promoTileListingT7(pillText="Guides", TitleText="Book Bike Workshop", subtitleText="From $80 - $130", tileClasses="", headingClass="", subHeadingClass="", contentClasses="c-tile__content--top-left", imageSmall="/assets/images/test/product-results-tile.jpg") -%}
    <div class="c-tile c-tile-results t-dark {{tileClasses}}" >
        <a href="#" class="c-tile__link"></a>
        <div class="c-tile-article__overlay"></div>
        <div class="c-tile-results__image" data-responsive-background-src data-src-s="{{imageSmall}}"></div>
        <div class="c-tile-results__content-wrap">
            <div class="c-tile-results__content u-spacing {{contentClasses}} ">
                <div class="c-pill c-pill--primary c-tile-results__pill u-bg-clearance">{{pillText}}</div>
                <h4 class="c-tile-results__heading t-heading {{headingClass}}">{{TitleText}}</h4>
                <h5 class="c-tile-results__sub-heading t-text {{subHeadingClass}} ">{{subtitleText}}</h5>
            </div>
            <div class="c-tile-article__cta c-tile-article__cta--left-aligned t-cta">
                <a href="#" class="c-tile-article__cta-link c-btn c-btn--tertiary t-btn-tertiary">View Details {{ iconMacros.svgicon(name='chevron-right', classes="c-icon c-icon--small c-btn__icon") }}</a>
            </div>
        </div>
        
    </div>
{%- endmacro %}

{% macro contentTileT7(ctaText="Show Now", TitleText="Content Title", subtitleText="", tileClasses="", headingClass="u-h3", subHeadingClass="u-h4", contentClasses="c-tile__content--top-left", imageDesktop="", imageClasses="u-aspect-one-by-one u-aspect-none-m") -%}
    <div class="c-tile-article {{tileClasses}} t-dark">
        <a href="#" class="c-tile__link"></a>
        <div class="c-tile-article__content-wrap">
            <div class="c-tile-article__content {{contentClasses}}">
                <!--<h5 class="{{subHeadingClass}} c-tile-article__sub-heading t-text">{{subtitleText}}</h5>-->
                <h4 class="{{headingClass}} c-tile-article__heading t-heading">{{TitleText}}</h4>
            </div>
            <div class="c-tile-article__cta c-tile-article__cta--left-aligned t-cta">
                <a href="#" class="c-tile-article__cta-link c-btn c-btn--tertiary t-btn-tertiary">View Details {{ iconMacros.svgicon(name='chevron-right', classes="c-icon c-icon--small c-btn__icon") }}</a>
            </div>
        </div>
        <div class="c-tile-article__overlay"></div>
        <div class="c-tile-article__image {{imageClasses}}" data-responsive-background-src data-src-s="{{imageDesktop}}"></div>
    </div>
{%- endmacro %}