<!-- layout.html -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="robots" content="nofollow" /> {% block head %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <!--PRODUCTION CSS-->
    <link rel="stylesheet" type="text/css" href='https://www.torpedo7.co.nz/docs/themes/2014/master-2.css' />
    <link rel="stylesheet" href="/assets/css/main-t7-min.css"> {% endblock %}

</head>

<body class="">
    {% block content %} {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!--JS Not for Production-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery-menu-aim@1.1.0/jquery.menu-aim.min.js"></script>
    <script>
        var $menu = $('#shop-megamenu');
        if ($menu.children('li.active').length === 0) {
            $menu.children('li:first-child').addClass('active');
        }
        var $activeMenu = $menu.children('li.active');
        $('#shop-menu').on('mouseleave', function () {
            setTimeout(function () {
                //$menu.children('li.active').removeClass('active');
                //$activeMenu.addClass('active');
            }, 1000);
        })
        $menu.menuAim({
            activate: activateSubmenu,
            deactivate: deactivateSubmenu,
            //submenuSelector: '.megamenu-nav',
            submenuDirection: 'right',
            //exitMenu: deactivateSubmenu
        });

        function activateSubmenu(row) {
            var $row = $(row);
            if ($menu.children('li.active').length !== 0) {
                $menu.children('li.active').removeClass('active');
            }
            $row.addClass('active');
        }

        function deactivateSubmenu(row) {
            var $row = $(row);
            $row.removeClass('active');
        }


            function setFieldState(el) {
                if (el.val()) {
                    el.parent().addClass('has-value');
                } else {
                    el.parent().removeClass('has-value');
                }
            }
            $('input, select, textarea').each(function () {
                setFieldState($(this));
            });
            /* keyup event required as the keypress & keydown events occur before the value change is registered*/
            $('input, textarea').on('keyup', function () {
                setFieldState($(this));
            });
            $('select').on('change', function () {
                setFieldState($(this));
            });


    </script>



    {% block foot %}


    <script src="/assets/js/main.js"></script>
    {% endblock %}

</body>

</html>