{% import 'html/guide/macros/image.html' as imageMacros %}

<!-- Red product card macros -->
{% macro redProductCardBase() -%}
    <ul id="search-result-items" class="search-result-items  tiles-container clearfix">
        <li class="span6 grid-tile">
            <div class="product-tile add-to-cart-event-ready" id="e69e58caf7e6985fc55e36dcb0" data-itemid="R2126918" data-line-item="{&quot;name&quot;:&quot;Veon 42 inch LED-LCD Full HD TV SRO422016&quot;,&quot;id&quot;:&quot;R2126918&quot;,&quot;price&quot;:&quot;369.0&quot;,&quot;category&quot;:&quot;electronicsgaming/tvsaccessories/televisions/tvs40to55&quot;,&quot;position&quot;:0,&quot;list&quot;:&quot;Product Listing Page&quot;,&quot;brand&quot;:&quot;Veon&quot;,&quot;variant&quot;:&quot;&quot;,&quot;quantity&quot;:1,&quot;productCode&quot;:&quot;9400988146522&quot;,&quot;dimension2&quot;:&quot;electronicsgaming&quot;,&quot;dimension3&quot;:&quot;tvsaccessories&quot;,&quot;dimension4&quot;:&quot;televisions/tvs40to55&quot;,&quot;dimension8&quot;:&quot;In stock&quot;,&quot;dimension9&quot;:&quot;2-4 business days&quot;}"
                data-gtm-variant-product="">
                <div class="product-e69e58caf7e6985fc55e36dcb0 product-wrapping">
                    <div class="close-container-wrapper">
                        <div class="close-container hide">
                            <a class="close close-button"></a>
                        </div>
                    </div>
                    <div class="innercard">
                        <div class="plp-product-header">
                            <div class="ra-wrapper"></div>
                            <input class="isMaster" type="hidden" value="0.0">
                        </div>
                        <div class="product-image">
                            <a class="thumb-link gtm-product-click" href="" title="Veon 42 inch LED-LCD Full HD TV SRO422016">
                                <img src="https://www.thewarehouse.co.nz/dw/image/v2/AAWO_PRD/on/demandware.static/-/Sites-twl-master-catalog/default/dwf1a9c6a1/e4/14/R2126918_00.jpg?sw=232&amp;sh=232&amp;sm=fit"
                                    alt="Veon 42 inch LED-LCD Full HD TV SRO422016" title="Veon 42 inch LED-LCD Full HD TV SRO422016">
                            </a>
                            <span class="product-badge">
                                <div class="badgeB">
                                    <img class="product-badge-image" src="/on/demandware.static/-/Library-Sites-twl-shared-library/default/dw89d2bf0e/Content/Product/ProductBadges/default/price_drop.png"
                                        alt="">
                                </div>
                            </span>
                        </div>
                        <div class="product-info-wrapper">
                            <div class="inner-wrapper" style="text-align: center;">
                                <div class="product-name clearfix">
                                    <h2>
                                        <a class="name-link gtm-product-click" href="https://www.thewarehouse.co.nz/p/veon-42-inch-led-lcd-full-hd-tv-sro422016/R2126918.html"
                                            title="Veon 42 inch LED-LCD Full HD TV SRO422016">
                                            Veon 42 inch LED-LCD Full HD TV SRO422016
                                        </a>
                                    </h2>
                                </div>
                                <div class="product-price" style="margin-bottom: 5rem;">
                                    <div class="product-pricing" data-redalert="false">
                                        <span class="standardprice" title="Sale Price" style="
                                        font-family: 'MontrealSerial-Bold',sans-serif;
                                        font-style: normal;
                                        letter-spacing: .05em;
                                        font-size: 15px;
                                        font-size: 1.5rem;
                                        line-height: 1.133;
                                        color: #393939;">
                                            <strong>$369.00</strong>
                                            <i></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons clearfix hidden-phone">
                                <div id="e69e58caf7e6985fc55e36dcb0-buttons" class="button-container">
                                    <form action="" method="post" class="pdpForm" novalidate="novalidate">
                                        <fieldset>
                                            <button data-pid="R2126918" type="submit" class="add-to-cart-hover btn btn-block btn-primary typo-uppercase add-to-cart add-cart-direct add-to-cart-event-ready">
                                                Add to cart
                                            </button>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
{%- endmacro %}

{% macro redProductCardBundlePriceDrop() -%}
    <ul id="search-result-items" class="search-result-items  tiles-container clearfix">
        <li class="span6 grid-tile">
            <div class="product-tile add-to-cart-event-ready" id="19bde5516c35f91e32d7909c66">
                <div class="product-19bde5516c35f91e32d7909c66 product-wrapping">
                    <div class="close-container-wrapper">
                        <div class="close-container hide">
                            <a class="close close-button"></a>
                        </div>
                    </div>
                    <div class="innercard">
                        <div class="plp-product-header">
                            <div class="ra-wrapper"></div>
                            <input class="isMaster" value="0.0" type="hidden">
                        </div>
                        <div class="product-image" style="position: relative;">
                            <a class="thumb-link gtm-product-click" href="" title="XboxOne S Console Standard 1TB White">
                                <img src="https://www.thewarehouse.co.nz/dw/image/v2/AAWO_PRD/on/demandware.static/-/Sites-twl-master-catalog/default/dw36b5fc35/52/6b/R2136784_00.jpg">
                            </a>
                            <span class="product-badge">
                                <div class="badgeB" style="position: absolute; top: 0; right: 10px;">
                                    <img style="width: 50px;" class="product-badge-image" src="https://www.thewarehouse.co.nz/dw/image/v2/AAWO_PRD/on/demandware.static/-/Library-Sites-twl-shared-library/default/dw89d2bf0e/Content/Product/ProductBadges/default/price_drop.png"
                                        alt="">
                                </div>
                                <div class="badgeC" style="position: absolute; bottom: 25px; left: 10px;">
                                    <img style="width: 50px;" class="product-badge-image" src="https://www.thewarehouse.co.nz/dw/image/v2/AAWO_PRD/on/demandware.static/-/Library-Sites-twl-shared-library/default/dw55571a3e/Content/Product/ProductBadges/default/bundle_offer.png"
                                        alt="">
                                </div>
                            </span>
                        </div>

                        <div class="product-info-wrapper">
                            <div class="inner-wrapper" style="text-align: center;">
                                <div class="product-name clearfix">
                                    <h2>
                                        <a class="name-link gtm-product-click" href="" title="XboxOne S Console Standard 1TB White">
                                            XboxOne S Console Standard 1TB White
                                        </a>
                                    </h2>
                                </div>
                                <div class="product-price" style="margin-bottom: 1rem;">
                                    <div class="product-pricing" data-redalert="false">
                                        <span class="standardprice" title="Sale Price" style="
                                        font-family: 'MontrealSerial-Bold',sans-serif;
                                        font-style: normal;
                                        letter-spacing: .05em;
                                        font-size: 15px;
                                        font-size: 1.5rem;
                                        line-height: 1.133;
                                        color: #393939;">
                                            <strong>$439.00</strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="product-promo-wrapper">
                                    <div class="product-promo ellipsis" style="overflow-wrap: break-word;">
                                        <div class="promotional-message first" style="
                                        font-family: 'MontrealSerial-Regular',sans-serif;
                                        font-style: normal;
                                        font-weight: normal;
                                        letter-spacing: .05em;
                                        font-size: 13px;
                                        font-size: 1.3rem;
                                        line-height: 1.385;
                                        color: #339;
                                        font-weight: bold;
                                        text-transform: uppercase;
                                        padding-bottom: 5rem;">
                                            Buy 1 XboxOne S 1TB Console, get 2 Tokens ...
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="buttons clearfix hidden-phone">
                                <div id="e69e58caf7e6985fc55e36dcb0-buttons" class="button-container">
                                    <form action="" method="post" class="pdpForm" novalidate="novalidate">
                                        <fieldset>
                                            <button data-pid="R2126918" type="submit" class="add-to-cart-hover btn btn-block btn-primary typo-uppercase add-to-cart add-cart-direct add-to-cart-event-ready">
                                                Add to cart
                                            </button>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
{%- endmacro %}

{% macro redProductCardCarousel() -%}
    <ul class="swiper-wrapper">
        <li class="swiper-slide swiper-slide-visible" style="width: 200px; height: 203px;">
            <div class="recommendation-item" data-product-code="R1849163">
                <div class="product-image recommendation-image u-margin-bottom-x4">
                    <a href="">
                        <img src="https://www.thewarehouse.co.nz/dw/image/v2/AAWO_PRD/on/demandware.static/-/Sites-twl-master-catalog/default/dw523b5404/b2/bc/R1849163_00.jpg?sw=190&amp;sh=190&amp;sm=fit"
                            alt="Kids Caboodle Glacier 4 Tier Bookcase White" title="Kids Caboodle Glacier 4 Tier Bookcase White">
                    </a>
                </div>

                <div class="product-name ellipsis u-flex-justify-center u-margin-bottom-x4" style="overflow-wrap: break-word; text-align: center;">
                    <a href="" title="Kids Caboodle Glacier 4 Tier Bookcase White">Kids Caboodle Glacier 4 Tier Bookcase White</a>
                </div>

                <div class="product-price">
                    <span class="standardprice u-flex-justify-center">
                        <span class="pv-price" data-price="125.0" style="
                        font-family: 'MontrealSerial-Bold',sans-serif;
                        font-style: normal;
                        letter-spacing: .05em;
                        font-size: 15px;
                        font-size: 1.5rem;
                        line-height: 1.133;
                        color: #393939;">
                            <strong>$125.00</strong>
                        </span>
                    </span>
                </div>
            </div>
        </li>
    </ul>
{%- endmacro %}



<!-- Blue product card macros -->
{% macro blueProductCardBase() -%}
    <ul id="search-result-items" class="search-result-items  tiles-container clearfix">
        <li class="span6 grid-tile">
            <div class="product-tile add-to-cart-event-ready" id="c32f48b81c41a891ec1caadb08" data-itemid="W2251829" data-line-item="{&quot;name&quot;:&quot;Kookie Burger Hardtop Pencil Case Green&quot;,&quot;id&quot;:&quot;W2251829&quot;,&quot;price&quot;:15,&quot;category&quot;:&quot;fashionstationery/bagscases/pencilcases&quot;,&quot;position&quot;:0,&quot;list&quot;:&quot;Product Listing Page&quot;,&quot;brand&quot;:&quot;Kookie&quot;,&quot;variant&quot;:&quot;GRN&quot;,&quot;quantity&quot;:1,&quot;productCode&quot;:&quot;&quot;,&quot;dimension2&quot;:&quot;fashionstationery&quot;,&quot;dimension3&quot;:&quot;bagscases&quot;,&quot;dimension4&quot;:&quot;pencilcases&quot;,&quot;dimension8&quot;:&quot;In Stock&quot;,&quot;dimension9&quot;:&quot;1-3 business days&quot;}"
                data-gtm-variant-product="">
                <div class="product-c32f48b81c41a891ec1caadb08 product-wrapping">
                    <div class="close-container hide">
                        <a class="close close-button"></a>
                    </div>
                    <div class="innercard">
                        <div class="product-image">

                            <a class="thumb-link gtm-product-click" href="https://www.warehousestationery.co.nz/product/W2251829.html" title="Kookie Burger Hardtop Pencil Case Green">
                                <img src="https://www.warehousestationery.co.nz/dw/image/v2/AAWO_PRD/on/demandware.static/-/Sites-wsl-master-catalog/default/dw3a80f7ea/3f/98/W2251829_00.jpg?sw=232&amp;sh=232&amp;sm=fit"
                                    alt="Kookie Burger Hardtop Pencil Case Green" title="Kookie Burger Hardtop Pencil Case Green">
                            </a>
                            <span class="product-badge">
                            </span>
                        </div>
                        <div class="brand-logo-asset">
                        </div>
                        <div class="product-info-wrapper">
                            <div class="inner-wrapper">
                                <div class="product-name clearfix">
                                    <h2>
                                        <a class="name-link gtm-product-click" href="" title="Kookie Burger Hardtop Pencil Case Green">
                                            Kookie Burger Hardtop Pencil Case Green
                                        </a>
                                    </h2>
                                </div>
                                <div class="more-colours">
                                </div>
                                <div class="product-price">
                                    <div class="product-pricing" style="text-align: center;">
                                        <span class="price-sales" title="Sale Price">
                                            $15.00
                                            <span class="save-label-gst"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="product-promo-wrapper">
                                    <div class="product-promo ellipsis" style="overflow-wrap: break-word;">
                                    </div>
                                </div>
                                <div class="product-review">
                                </div>
                            </div>
                            <div class="buttons clearfix hidden-phone">
                                <div id="c32f48b81c41a891ec1caadb08-buttons" class="button-container">
                                    <button data-pid="W2251829" class="add-to-cart-hover btn btn-block btn-primary typo-uppercase add-to-cart-event-ready">Add to cart</button>
                                </div>
                                <div id="c32f48b81c41a891ec1caadb08-cartaction" class="cartaction">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
{%- endmacro %} 

{% macro blueProductCardBundlePriceDrop() -%}
    <ul id="search-result-items" class="search-result-items  tiles-container clearfix">
        <li class="span6 grid-tile">
            <div class="product-tile add-to-cart-event-ready" id="956756de85620258de39442444" data-itemid="W2215382" data-line-item="{&quot;name&quot;:&quot;Brother MFC9340CDW Colour Laser Multifunction&quot;,&quot;id&quot;:&quot;W2215382&quot;,&quot;price&quot;:599,&quot;category&quot;:&quot;technology/printersscanners/laserprinters/colourlasermultifunction&quot;,&quot;position&quot;:0,&quot;list&quot;:&quot;Product Listing Page&quot;,&quot;brand&quot;:&quot;Brother&quot;,&quot;variant&quot;:&quot;BLK&quot;,&quot;quantity&quot;:1,&quot;productCode&quot;:&quot;&quot;,&quot;dimension2&quot;:&quot;technology&quot;,&quot;dimension3&quot;:&quot;printersscanners&quot;,&quot;dimension4&quot;:&quot;laserprinters/colourlasermultifunction&quot;,&quot;dimension8&quot;:&quot;In Stock&quot;,&quot;dimension9&quot;:&quot;1-3 business days&quot;}"
                data-gtm-variant-product="">
                <div class="product-956756de85620258de39442444 product-wrapping">
                    <div class="innercard">
                        <div class="product-image">
                            <a class="thumb-link gtm-product-click" href="https://www.warehousestationery.co.nz/product/W2215382.html" title="Brother MFC9340CDW Colour Laser Multifunction">
                                <img src="https://www.warehousestationery.co.nz/dw/image/v2/AAWO_PRD/on/demandware.static/-/Sites-wsl-master-catalog/default/dw5bf819ee/ea/99/W2215382_00.jpg?sw=232&amp;sh=232&amp;sm=fit"
                                    alt="Brother MFC9340CDW Colour Laser Multifunction" title="Brother MFC9340CDW Colour Laser Multifunction">
                            </a>
                            <span class="product-badge">
                                <div class="badgeA">
                                    <img class="product-badge-image" src="/on/demandware.static/-/Library-Sites-wsl-shared-library/default/dwec46292c/Content/Product/ProductBadges/default/getcashback-brother.png"
                                        alt="">
                                </div>
                                <div class="badgeC">
                                    <img class="product-badge-image" src="/on/demandware.static/-/Library-Sites-wsl-shared-library/default/dw0b05119c/Content/Product/ProductBadges/default/brother-4-year-onsite-warranty_90wide.png"
                                        alt="">
                                </div>
                            </span>
                        </div>
                        <div class="brand-logo-asset">
                        </div>
                        <div class="product-info-wrapper">
                            <div class="inner-wrapper">
                                <div class="product-name clearfix">
                                    <h2>
                                        <a class="name-link gtm-product-click" href="#" title="Brother MFC9340CDW Colour Laser Multifunction" style="text-align: center; text-decoration: none;">
                                            Brother MFC9340CDW Colour Laser Multifunction
                                        </a>
                                    </h2>
                                </div>
                                <div class="more-colours">
                                </div>
                                <div class="product-price">
                                    <div class="product-pricing">
                                        <span class="price-sales" title="Sale Price" style="text-align: center;">
                                            $599.00
                                            <span class="save-label-gst"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="product-promo-wrapper">
                                    <div class="product-promo ellipsis" style="overflow-wrap: break-word;">
                                        <div class="promotional-message  last">
                                            Buy this printer and ... </div>
                                    </div>
                                </div>
                                <div class="product-review">
                                </div>
                            </div>
                            <div class="buttons clearfix hidden-phone">
                                <div id="956756de85620258de39442444-buttons" class="button-container">
                                    <button data-pid="W2215382" class="add-to-cart-hover btn btn-block btn-primary typo-uppercase add-to-cart-event-ready">Add to cart</button>
                                </div>
                                <div id="956756de85620258de39442444-cartaction" class="cartaction">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
{%- endmacro %} 

{% macro blueProductCardCarousel() -%}
    <div class="swiper-product-item">
        <div class="product-image">
            <a href="https://www.warehousestationery.co.nz/product/W2138060.html">
                <img src="https://www.warehousestationery.co.nz/dw/image/v2/AAWO_PRD/on/demandware.static/-/Sites-wsl-master-catalog/default/dwbb421928/42/17/W2138060_00.jpg?sw=190&amp;sh=190&amp;sm=fit"
                    alt="Sharpie Marker Fine 12 Pack Black" title="Sharpie Marker Fine 12 Pack Black">
            </a>
        </div>
        <div class="product-name">
            <a href="https://www.warehousestationery.co.nz/product/W2138060.html" title="Sharpie Marker Fine 12 Pack Black">Sharpie Marker Fine 12 Pack Black</a>
        </div>

        <div class="product-price">
            <span class="price-standard"></span>
            <span class="price-sales gtm-productprice" data-gtm-productprice="NZD 29.00">
                NOW $29.00
                <span class="save-label-gst">
                </span>
            </span>
            <div class="promotion">
                <p class="save-amount promotion-callout">
                    Save $10.99
                </p>
            </div>
        </div>
    </div>
{%- endmacro %}



{# HORIZONTAL PRODUCT CARD BLOCK #}
{% macro horizontalProductCardBlock(options) %}

    {% for i in range(0, options.products | length) %}
        {% if options.mobileListingStyle === "stacked" %}
            {% if options.products[i].cardSize %}
                <section class="c-product-card-horizontal c-product-card-horizontal--stacked c-product-card-horizontal--{{ options.products[i].cardSize | lower | safe }} u-flex-column u-columns__column u-columns__column--twelve-s -no-gutter">
            {% else %}
                <section class="c-product-card-horizontal c-product-card-horizontal--stacked u-flex-column u-columns__column u-columns__column--twelve-s -no-gutter">
            {% endif %}
        {% else %}
            {% if options.products[i].cardSize %}
                <section class="c-product-card-horizontal c-product-card-horizontal--{{ options.products[i].cardSize | lower | safe }} u-flex-column-m u-columns__column u-columns__column--twelve-s -no-gutter">
            {% else %}
                <section class="c-product-card-horizontal u-flex-column-m u-columns__column u-columns__column--twelve-s -no-gutter">
            {% endif %}
        {% endif %}

            <section class="c-product-card-horzontal__wrap u-flex u-flex-row u-columns__column u-columns__column--twelve -no-gutter">
                {# LEFT CONTAINER #}
                    {% if options.products[i].containerType.left === "image" %}
                        {# IMAGE CONTAINER #}
                            <section class="c-product-card-horizontal__container c-product-card-horizontal__container--image u-columns__column u-columns__column--six -no-gutter" data-responsive-background-src data-src-m="{{ options.products[i].productImagePath.desktop | safe }}" data-src-s="{{ options.products[i].productImagePath.mobile | safe }}">
                                <div class="{{ options.imageAspectClasses | lower | safe }}"></div>
                            </section>
                        {# END: IMAGE CONTAINER #}
                    {% else %}

                    {# PRODUCT INFO CONTAINER #}
                        <section class="c-product-card-horizontal__container c-product-card-horizontal__container--text t-text--{{ options.products[i].theme | lower | safe }} -columns__column u-columns__column--six -no-gutter" style="background: {{ options.products[i].backgroundColor | safe }}">
                            {# CARD HEADER CONTAINER #}
                            {% if options.products[i].productRating %}
                                <section class="c-product-card-horizontal__header-container u-flex u-flex-row">

                                    {# We only display 1 - 5 stars, check if the input is <= 5 #}
                                    {% if options.products[i].productRating > 5 %}
                                        {% for e in range(0, 5) %}
                                            <span class="c-product-card-horizontal__star-rating"><svg width="16" height="16"><image xlink:href="/assets/images/test/star.svg" src="/assets/images/test/star.png" width="16" height="16"></svg></span>
                                        {% endfor %}

                                    {% else %}

                                        {% for e in range(0, options.products[i].productRating) %}
                                            <span class="c-product-card-horizontal__star-rating"><svg width="16" height="16"><image xlink:href="/assets/images/test/star.svg" src="/assets/images/test/star.png" width="16" height="16"></svg></span>
                                        {% endfor %}
                                    {% endif %}
                                </section>
                            {% endif %}
                            {# END: CARD HEADER CONTAINER #}

                            {# PRODUCT INFO #}
                            <section class="c-product-card-horizontal__product-info-container u-flex u-flex-column">
                                {# PRODUCT PRICE #}
                                <h2 class="u-h2 c-product-card-horizontal__header-text t-text--{{ options.products[i].theme | lower | safe }}">{{ options.products[i].productPrice | safe }}</h2>

                                {# PRODUCT NAME #}
                                <p class="u-p2 c-product-card-horizontal__paragraph-text">{{ options.products[i].productName | safe }}</p>
                            </section>
                            {# END: PRODUCT INFO #}
                        </section>
                    {# END: PRODUCT INFO CONTAINER #}
                    {% endif %}
                {# END: LEFT CONTAINER #}

                {# RIGHT CONTAINER #}
                    {% if options.products[i].containerType.right === "image" %}
                        {# IMAGE CONTAINER #}
                            <section class="c-product-card-horizontal__container c-product-card-horizontal__container--image u-columns__column u-columns__column--six -no-gutter" data-responsive-background-src data-src-m="{{ options.products[i].productImagePath.desktop | safe }}" data-src-s="{{ options.products[i].productImagePath.mobile | safe }}">
                                <div class="{{ options.imageAspectClasses | safe }}"></div>
                            </section>
                        {# END: IMAGE CONTAINER #}
                    {% else %}

                        {# PRODUCT INFO CONTAINER #}
                            <section class="c-product-card-horizontal__container c-product-card-horizontal__container--text t-text--{{ options.products[i].theme | safe }} u-columns__columnu u-columns__column--six -no-gutter" style="background: {{ options.products[i].backgroundColor | safe }}; border-left: none;">

                                {# CARD HEADER CONTAINER #}
                                    {% if options.products[i].productRating %}
                                        <section class="c-product-card-horizontal__header-container u-flex u-flex-row">
                                        
                                            {# We only display 1 - 5 stars, check if the input is <= 5 #}
                                            {% if options.products[i].productRating > 5 %}
                                                {% for e in range(0, 5) %}
                                                    <span class="c-product-card-horizontal__star-rating"><svg width="16" height="16"><image xlink:href="/assets/images/test/star.svg" src="/assets/images/test/star.png" width="16" height="16"></svg></span>
                                                {% endfor %}
                                            {% else %}

                                                {# The product rating is less than 5, iterate and display stars #}
                                                {% for e in range(0, options.products[i].productRating) %}
                                                    <span class="c-product-card-horizontal__star-rating"><svg width="16" height="16"><image xlink:href="/assets/images/test/star.svg" src="/assets/images/test/star.png" width="16" height="16"></svg></span>
                                                {% endfor %}
                                            {% endif %}
                                        </section>
                                    {% endif %}
                                {# END: CARD HEADER CONTAINER #}

                                {# PRODUCT INFO #}
                                    <section class="c-product-card-horizontal__product-info-container u-flex u-flex-column">
                                        {# PRODUCT PRICE #}
                                        <h2 class="u-h2 c-product-card-horizontal__header-text t-text--{{ options.products[i].theme | lower | safe }}">{{ options.products[i].productPrice | safe }}</h2>

                                        {# PRODUCT NAME #}
                                        <p class="u-p2 c-product-card-horizontal__paragraph-text">{{ options.products[i].productName | safe }}</p>
                                    </section>
                                {# END: PRODUCT INFO #}

                            </section>
                        {# END: PRODUCT INFO CONTAINER #}
                    {% endif %}
                {# END: RIGHT CONTAINER #}
            </section>

            {# CTA CONTAINER #}
                <section class="c-product-card-horizontal__footer-container">
                    {% if options.products[i].cta.position %}
                        <div class="c-btn-group c-btn-group--{{ options.products[i].cta.position | lower | safe }}">
                    {% else %}
                        <div class="c-btn-group">
                    {% endif %}
                        <div class="c-btn-group__item">
                            {% if options.products[i].cta.theme === "light" %}
                                <a href="{{ options.products[i].cta.link | safe }}" class="c-btn c-btn--{{ options.products[i].cta.type | lower | safe }}-reverse">{{ options.products[i].cta.text | safe }}</a>
                            {% else %}
                                <a href="{{ options.products[i].cta.link | safe }}" class="c-btn c-btn--{{ options.products[i].cta.type | lower | safe }}">{{ options.products[i].cta.text | safe }}</a>
                            {% endif %}
                        </div>
                    </div>
                </section>
            {# END: CTA CONTAINER #}
        </section>

    {% endfor %}
{% endmacro %}

{# POPULATE HORIZONTAL PRODUCT CARDS #}
{% macro populateHorizontalCardSmall() %}
    {# Set options #}
    {% 
        set options = {
            mobileListingStyle: "stacked",
            imageAspectClasses: "u-aspect-three-by-two-m u-aspect-one-by-one",
            products: [
                {
                    sku: "218676",
                    theme: "light",
                    cardSize: "",
                    backgroundColor: "#929CB1",
                    containerType: {
                        left: "image",
                        right: "text"
                    },
                    productImagePath: {
                        mobile: "/assets/images/test/productImg-1-mob.png",
                        desktop: "/assets/images/test/productImg-1.png"
                    },
                    productRating: "5",
                    productPrice: "$59",
                    productName: "Living & Co Ceramic Tower Heater 2000W",
                    cta: {
                        theme: "",
                        type: "secondary",
                        link: "",
                        text: "Learn More",
                        position: "center"
                    }
                },
                {
                    sku: "218777",
                    theme: "light",
                    cardSize: "",
                    backgroundColor: "#929CB1",
                    containerType: {
                        left: "text",
                        right: "image"
                    },
                    productImagePath: {
                        mobile: "/assets/images/test/productImg-2-mob.png",
                        desktop: "/assets/images/test/productImg-2.png"
                    },
                    productRating: "2",
                    productPrice: "$39",
                    productName: "Living & Co Ceramic Heater With Oscillation Black And Silver",
                    cta: {
                        theme: "",
                        type: "secondary",
                        link: "",
                        text: "Learn More",
                        position: "center"
                    }
                },
                {
                    sku: "218679",
                    theme: "light",
                    cardSize: "",
                    backgroundColor: "#929CB1",
                    containerType: {
                        left: "image",
                        right: "text"
                    },
                    productImagePath: {
                        mobile: "/assets/images/test/productImg-3-mob.png",
                        desktop: "/assets/images/test/productImg-3.png"
                    },
                    productRating: "1",
                    productPrice: "$25",
                    productName: "Living & Co Fan Heater White 2000W",
                    cta: {
                        theme: "",
                        type: "secondary",
                        link: "",
                        text: "Learn More",
                        position: "center"
                    }
                },
                {
                    sku: "218676",
                    theme: "light",
                    cardSize: "",
                    backgroundColor: "#929CB1",
                    containerType: {
                        left: "image",
                        right: "text"
                    },
                    productImagePath: {
                        mobile: "/assets/images/test/productImg-1-mob.png",
                        desktop: "/assets/images/test/productImg-1.png"
                    },
                    productRating: "5",
                    productPrice: "$59",
                    productName: "Living & Co Ceramic Tower Heater 2000W",
                    cta: {
                        theme: "",
                        type: "secondary",
                        link: "",
                        text: "Learn More",
                        position: "center"
                    }
                },
                {
                    sku: "218777",
                    theme: "light",
                    cardSize: "",
                    backgroundColor: "#929CB1",
                    containerType: {
                        left: "text",
                        right: "image"
                    },
                    productImagePath: {
                        mobile: "/assets/images/test/productImg-2-mob.png",
                        desktop: "/assets/images/test/productImg-2.png"
                    },
                    productRating: "2",
                    productPrice: "$39",
                    productName: "Living & Co Ceramic Heater With Oscillation Black And Silver",
                    cta: {
                        theme: "",
                        type: "secondary",
                        link: "",
                        text: "Learn More",
                        position: "center"
                    }
                },
                {
                    sku: "218679",
                    theme: "light",
                    cardSize: "",
                    backgroundColor: "#929CB1",
                    containerType: {
                        left: "image",
                        right: "text"
                    },
                    productImagePath: {
                        mobile: "/assets/images/test/productImg-3-mob.png",
                        desktop: "/assets/images/test/productImg-3.png"
                    },
                    productRating: "1",
                    productPrice: "$25",
                    productName: "Living & Co Fan Heater White 2000W",
                    cta: {
                        theme: "",
                        type: "secondary",
                        link: "",
                        text: "Learn More",
                        position: "center"
                    }
                }
            ]
        }
    %}

    {# Call horizontal product card block #}
    {{ horizontalProductCardBlock(options) }}
{% endmacro %}

{# POPULATE HORIZONTAL PRODUCT CARDS LARGE #}
{% macro populateHorizontalCardLarge() %}
    {# Set options #}
    {% 
        set options = {
            
            mobileListingStyle: "stacked",
            imageAspectClasses: "u-aspect-three-by-two-m u-aspect-one-by-one",
            products: [
                {
                    sku: "218676",
                    theme: "light",
                    cardSize: "larGe",
                    backgroundColor: "#929CB1",
                    containerType: {
                        left: "image",
                        right: "text"
                    },
                    productImagePath: {
                        mobile: "/assets/images/test/productImg-1-mob.png",
                        desktop: "/assets/images/test/productImg-1.png"
                    },
                    productRating: "3",
                    productPrice: "$59",
                    productName: "Living & Co Ceramic Tower Heater 2000W",
                    cta: {
                        theme: "",
                        type: "secondary",
                        link: "",
                        text: "Learn More",
                        position: "center"
                    }
                },
                {
                    sku: "218777",
                    theme: "light",
                    cardSize: "lArGe",
                    backgroundColor: "#929CB1",
                    containerType: {
                        left: "image",
                        right: "text"
                    },
                    productImagePath: {
                        mobile: "/assets/images/test/productImg-2-mob.png",
                        desktop: "/assets/images/test/productImg-2.png"
                    },
                    productRating: "7",
                    productPrice: "$39",
                    productName: "Living & Co Ceramic Heater With Oscillation Black And Silver",
                    cta: {
                        theme: "",
                        type: "secondary",
                        link: "",
                        text: "Learn More",
                        position: "center"
                    }
                },
                {
                    sku: "218676",
                    theme: "light",
                    cardSize: "larGe",
                    backgroundColor: "#929CB1",
                    containerType: {
                        left: "image",
                        right: "text"
                    },
                    productImagePath: {
                        mobile: "/assets/images/test/productImg-1-mob.png",
                        desktop: "/assets/images/test/productImg-1.png"
                    },
                    productRating: "3",
                    productPrice: "$59",
                    productName: "Living & Co Ceramic Tower Heater 2000W",
                    cta: {
                        theme: "",
                        type: "secondary",
                        link: "",
                        text: "Learn More",
                        position: "center"
                    }
                },
                {
                    sku: "218777",
                    theme: "light",
                    cardSize: "lArGe",
                    backgroundColor: "#929CB1",
                    containerType: {
                        left: "image",
                        right: "text"
                    },
                    productImagePath: {
                        mobile: "/assets/images/test/productImg-2-mob.png",
                        desktop: "/assets/images/test/productImg-2.png"
                    },
                    productRating: "7",
                    productPrice: "$39",
                    productName: "Living & Co Ceramic Heater With Oscillation Black And Silver",
                    cta: {
                        theme: "",
                        type: "secondary",
                        link: "",
                        text: "Learn More",
                        position: "center"
                    }
                }
            ]
        }
    %}

    {# Call horizontal product card block #}
    {{ horizontalProductCardBlock(options) }}
{% endmacro %}