
{% import 'html/guide/macros/module.html' as wrapMacros %}
{% import 'html/guide/macros/guide.html' as guideMacros %}
{% import 'html/t7-live/modules/cards-category/macros.html' as categoryMacros %}
{% import 'html/t7-live/modules/cards-product/macros-t7.html' as productMacros %}
{% import 'html/t7-live/modules/cards-product/macros-t7.html' as productT7Macros %}
{% import 'html/t7-live/modules/story/macros-t7.html' as storyMacros %}
{% import 'html/t7-live/macros/icons.html' as iconMacros %}
{% import 'html/t7-live/modules/deals/macros.html' as dealMacros %}

<div class="">
        
    {% call guideMacros.docs2ColWrap() -%}

        {% call guideMacros.docs2ColColumn1Wrap(colHeading="Large Product Card Component (displays on the PLP)") -%}
            
            <p>
                Fields:<br />
                Image: JPG 300px x 300px (1:1 ratio)<br />
                Brand Name: text<br />
                Product Title: text<br />
                color swatches<br />
                star ratings: number<br />
                pricing: (detailed to the right)<br />
                Bundle deal: text<br />
                Pill text: text
            </p>

        {% endcall %}

        {% call guideMacros.docs2ColColumn2Wrap(colHeading="Product Card Price options:") -%}
            <p>
                A) Retail price<br />
                B) Retail price & sale price<br />
                C) Retail price & club price<br />
            </p>
        {% endcall %}
    {% endcall %}
    
    <section class='m-wrap m-wrap--spacious'>
        <div class="m-wrap__card" >
            <div class="m-wrap__content">
                <div class="u-columns -no-gutter">
                    <div class="u-columns__column u-columns__column--twelve u-columns__column--three-m">
                    </div>
                    <div class="u-columns__column u-columns__column--twelve u-columns__column--nine-m u-block">
                        <div class="m-product-grid u-columns -no-gutter"> 
                            <div class="u-columns__column u-columns__column--six u-columns__column--four-l">
                                {{productT7Macros.productCardListingT7()}}
                            </div>                       
                            <div class="u-columns__column u-columns__column--six u-columns__column--four-l">
                                {{productT7Macros.productCardListingDiscountT7()}}
                            </div> 
                            <div class="u-columns__column u-columns__column--six u-columns__column--four-l">
                                {{productT7Macros.productCardListingClubT7()}}
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

    {% call guideMacros.docs2ColWrap() -%}

        {% call guideMacros.docs2ColColumn1Wrap(colHeading="Story product card specs:") -%}
            
            <p>
                Fields:<br />
                Image: JPG 300px x 300px (1:1 ratio)<br />
                Brand Name: text<br />
                Product Title: text<br />
                pricing: (detailed to the right)<br />
                Bundle deal: text<br />
                Pill text: text
            </p>

        {% endcall %}

        {% call guideMacros.docs2ColColumn2Wrap(colHeading="Story product card variations:") -%}
            <p>
                A) Retail price<br />
                B) Retail price & sale price<br />
                C) Retail price & club price<br />
            </p>
        {% endcall %}
    {% endcall %}


<section class='m-inspiration '>
    {% call storyMacros.inspirationT7Wrap(options) -%}
   
    <div class="u-columns -no-gutter">
        <div class="u-columns__column u-columns__column--five-m u-columns__column--six-l">
            
        </div>
        <div class="u-columns__column u-columns__column--seven-m u-columns__column--six-l m-inspiration__cards">
            <div class="u-columns -no-gutter m-inspiration__cards-inner">
                <div class="u-columns__column u-columns__column--six-m">
                    {{storyMacros.cardStoryProduct()}}
                </div>
                <div class="u-columns__column u-columns__column--six-m">
                    {{storyMacros.cardStoryProductClubPrice()}}
                </div>
                <div class="u-columns__column u-columns__column--six-m">
                    {{storyMacros.cardStoryProduct()}}
                </div>
                <div class="u-columns__column u-columns__column--six-m">
                    {{storyMacros.cardStoryProductClubPrice()}}
                </div>
            </div>
        </div>
    </div>
    {% endcall %}
    <div class="m-inspiration__bg"></div>
</section>

    {% call guideMacros.docs2ColWrap() -%}

        {% call guideMacros.docs2ColColumn1Wrap(colHeading="Deal product cards:") -%}
            
            <p>
                Fields:<br />
                Image: JPG 300px x 300px (1:1 ratio)<br />
                pricing: Retail price & sale price<br />
            </p>

        {% endcall %}

        {% call guideMacros.docs2ColColumn2Wrap(colHeading="") -%}

        {% endcall %}
    {% endcall %}

    
 
       
                

    <section class='m-wrap'>
            <div class="m-wrap__card">
                    <div class="m-wrap__header">
                        <h2 class="u-h3 m-wrap__heading">{{moduleTitle}}</h2>
                    </div>
                    <div class="m-wrap__content">

                        <div class="u-columns u-columns--eight">
                            <div class="u-columns__column u-columns__column--four-m u-columns__column--six-l -no-gutter m-deal-slide__cards">
                    
                                {{dealMacros.tileDealProductSmall(tileClasses="m-deal-belt__card-product--l")}}
                                {{dealMacros.tileDealProductSmall(tileClasses="m-deal-belt__card-product--l")}}
                                {{dealMacros.tileDealProductSmall(tileClasses="m-deal-belt__card-product--l")}}
                                {{dealMacros.tileDealProductSmall(tileClasses="m-deal-belt__card-product--l")}}
                                {{dealMacros.tileDealProductSmall(tileClasses="m-deal-belt__card-product--l")}}
                                {{dealMacros.tileDealProductSmall(tileClasses="m-deal-belt__card-product--l")}}
                                {{dealMacros.tileDealProductSmall(tileClasses="m-deal-belt__card-product--l")}}
                                {{dealMacros.tileDealProductSmall(tileClasses="m-deal-belt__card-product--l")}}
                                {{dealMacros.tileDealProductSmall(tileClasses="m-deal-belt__card-product--l")}}
                                {{dealMacros.tileDealProductSmall(tileClasses="m-deal-belt__card-product--l")}}
                                {{dealMacros.tileDealProductSmall(tileClasses="m-deal-belt__card-product--l")}}
                                {{dealMacros.tileDealProductSmall(tileClasses="m-deal-belt__card-product--l")}}
            
                            </div>
                        </div>
                    </div>
            </div>
        </section>

    
