//
// ------------------------------------- 
// 	COMPONENT: HERO BANNER TILES
// -------------------------------------
//  
//

$name                    : c-editorial-card;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    display: flex;
    flex-direction: column;
    margin: 1px;
    width: 100%;
    position: relative;
    overflow:hidden;

    //.c-editorial-card__wrap
    &__wrap {
        margin: 0 auto;
    }
    
    //.c-editorial-card__image
    &__image{
        display: block;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        background-position: center;
        transition: all $transition-time $transition-easing;

        #{$selector}:hover & {
           transform: scale(1.1);
        }
    }

    //.c-editorial-card__image-wrap
    &__image-wrap{
        position: relative;
        width: 100%;
        overflow:hidden;
    }

    //.c-editorial-card__cta
    &__cta {
        padding: $x6 $x6 $x4 $x6;
        background-color: white;
    }

    //.c-editorial-card__heading
    &__heading{
         
    }

    //.c-editorial-card__link
    &__link{
        position: absolute;
        width: 100%;
        height: 100%;
        left:0;
        top:0;
    }
}