//
// ------------------------------------- 
// 	COMPONENT: Product card horizontal
// -------------------------------------
//  
//

$name                    : c-card-product-landscape;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 $x1 $x1;
    align-items: center;
    background-color: white;
    margin: 1px;
    width: 234px;
    flex-shrink: 0;
    flex-grow: 0;

    // c-card-product--home
    &--home {
        padding-top: $x6;
        padding-bottom: $x6;
        background-color: white;
    }

    @include media($media-m){
        width: 204px;
    }

    // c-card-product__star-rating
    &__star-rating {
        margin: 0 $x1;

        &:first-of-type {
            margin-left: 0;
        }
    }

    // c-card-product--horizontal-card
    &--horizontal-card {
        grid-column-gap: 0 !important;
        grid-row-gap: 0 !important;
        width: 304px;
        min-height: 50px;

        &:first-of-type {
            margin-left: 0 !important;
        }

        @include media($media-m) {
            grid-template-rows: auto 50px;
            width: 410px !important;
            
            margin: 0 $x2 !important;
        }

        &--stacked {
            width: 100% !important;
            
            @include media($media-m) {
                width: 410px !important;
            }
        }
    }

    // c-card-product--large
    &--large {

        #{$selector}__container & {
            height: 356px !important;
        }

        @include media($media-m) {
            width: 623px !important;
            min-height: 356px;
            height: auto;
        }
    }

    // c-card-product__container
    &__container {
        display: grid;
        box-sizing: border-box;
        border: 1px solid #dcdcdc;
        grid-template-rows: $x5 auto;
        height: inherit;
        min-height: 200px;
        
        @include media($media-m) {
            grid-template-rows: 0 auto;
            height: 304px;
        }

        // c-card-product__container--image
        &--image {
            background-color: #fff;
            background-size: 80%;
            background-position: center;
            background-repeat: no-repeat;

            @include media($media-m) {
                background-size: 90%;
            }
        }

        // c-card-product__container--text
        &--text {
            padding: 18px 15px;

            @include media($media-m) {
                padding: 25px 22px;
            }
        }
    }

    // c-card-product__header-container
    &__header-container {
    
    }

    // c-card-product__product-info-container
    &__product-info-container {
        align-self: center;
    }

    // c-card-product__header-text
    &__header-text {
        margin-bottom: $x4;

        @include media($media-m) {
            margin-bottom: 14px;
        }
    }

    // c-card-product__paragraph-text
    &__paragraph-text {

    }

    // c-card-product__footer-container
    &__footer-container {
        grid-column: span 2;
        display: none;

        @include media($media-m) {
            display: grid;
        }
    }
    
    // c-card-product__wrap
    &__wrap {
        margin: 0 auto;
    }

    // c-card-product__image
    &__image{
        display: block;
        background-color: #E6E6E6;
        width: 140px;
        height: 140px;
        margin-bottom: $x6;
    }

    // c-card-product__heading
    &__heading{
      text-align:center;
    }
}