//
// ------------------------------------- 
// 	COMPONENT: Product card
// -------------------------------------
//  
//

$name                    : c-card-product;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 $x1 $x1;
    align-items: center;
    background-color: white;
    margin: $card-gutter/2;
    width: 234px;
    flex-shrink: 0;
    flex-grow: 0;
    position: relative;

    // c-card-product--belt
    &--belt {
        padding-top: $x6;
        padding-bottom: $x6;
        background-color: white;
        
        @include media($media-m){
            width: 10.22%; //210px;
        }

        @include media($media-xxl){
            width: 10.9%; //218px;
        }
        
    }

    &--premium {
        @include media($media-m){
            width: 15.4%; //210px;
        }

        @include media($media-xxl){
            width: 15.3%; //218px;
        }
    }

    // @include media($media-m){
    //     width: 204px;
    // }

    // c-card-product--large
    &--large {
        width: calc(100% - 2px);
        padding: $x7 0 $x4;

        @include media($media-m){
            width: calc(100% - #{$x6});
            padding: $x10 0 $x4;
            margin: $x3;
        }
    }

    // c-card-product__rating
    &__rating {
        margin: 0 $x1;

        &:first-of-type {
            margin-left: 0;
        }

        margin-bottom: $x4;
    }


    // c-card-product__wrap
    &__wrap {
        margin: 0 auto;
    }

    // c-card-product__image-wrap
    &__image-wrap{
        position: relative;
        margin: 0 $x2 $x6;
        width: calc(100% - #{$x4});

        #{$selector}--large & {
            @include media($media-m){
                margin: 0 0 $x4;
                width: 100%;
            }
        }
    }

    // c-card-product__pill
    &__pill {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        z-index: $z-index-pill;
        background-color: rgba($color-pill-a, 0.8);
        opacity: 1;
        transition: all $transition-time $transition-easing;

        #{$selector}__link:hover + #{$selector}__image-wrap & {
            opacity: 0;
        }

        #{$selector}--large &, #{$selector}--belt & {
            @include media($media-s-max){
                bottom: -$x6;
                top: auto;
            }
        }
    }

    // c-card-product__image
    &__image{
        display: block;
        background-color: #E6E6E6;
        width: 140px;
        height: 140px;
        transition: all $transition-time $transition-easing;

        // c-card-product--large c-card-product__image
        // #{$selector}--large & {
            width: 100%;
            height: auto;
            position: absolute;
            top:0;
            left:0;
        // }

        &--default {
            opacity: 1;
            
            #{$selector}__link:hover + #{$selector}__image-wrap & {
                opacity: 0;
            }
        }

        &--hover {
            opacity: 0;

            #{$selector}__link:hover + #{$selector}__image-wrap & {
                opacity: 1;
            }
        }

        // #{$selector}__link:hover + #{$selector}__image-wrap & {
        //     // transform: scale(1.1);
        // }
    }

    // c-card-product__brand
    &__brand{
        font-size: $x3;
        @include font-text-bold;
        margin-bottom: $x2;
    }

    // c-card-product__heading
    &__heading{
      text-align:center;
      margin-bottom: 7px;
      font-size: 14px;
      @include font-text;
      flex-grow: 1;
    }

    // c-card-product__like-btn
    &__like-btn {
        position: absolute;
        width: 16px;
        height: 16px;
        top: $x4;
        right: $x4;
        // background-color: black;
        border-radius: 100%;
        z-index: $z-index-like;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // c-card-product__like-icon
    &__like-icon {
        position: absolute;
        top:0;
        left:0;
        width: 1.15em;
        height: 1.15em;
        color: $color-grey-light-80;

        .c-card-product__like-btn:hover &, .-selected & {
            display:none;
        }
    }

    // c-card-product__like-icon-solid
    &__like-icon-solid {
        position: absolute;
        top:0;
        left:0;
        display:none;
        color: $color-a;

        .c-card-product__like-btn:hover & {
            display:block;
        } 
        .-selected & {
            display:block;
            color: $color-grey-light-40;
        }
    }

    // c-card-product__link
    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: $z-index-link;
        top:0;
        left:0;
    }

    // c-card-product__prices
    &__prices {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        flex-direction: column;

        @include media($media-m){
            flex-direction: row;
        }
    }

    // c-card-product__price
    &__price {
        display: inline-block;

        // c-card-product__price--old
        &--old {
            color: $color-price-old;
            text-decoration: line-through;
            margin-bottom: $x2;

            @include media($media-m){
                margin-bottom: 0;
            }
        }

        // c-card-product__price--new
        &--new {
            color: $color-price-new;

            @include media($media-m){
                margin-left: $x2;
            }
        }

        // c-card-product__price--default
        &--default {
            margin-bottom: $x2;

            @include media($media-m){
                margin-bottom: 0;
            }
        }

        // c-card-product__price--club
        &--club {
            color: $color-club;

            @include media($media-m){
                margin-left: $x2;
            }
        }
    }

    // c-card-product__bundle
    &__bundle {
        color: $color-price-new;
        font-size: $x3;
    }

    // c-card-product__colors
    &__colors {
        display: none;
        margin-bottom: $x1;
        align-items: center;

        @include media($media-m){
            display: flex;
        }
    }

    // c-card-product__color
    &__color {
        display: block;
        width: $x2;
        height: $x2;
        margin: 0 $x1;
        border-radius: 100%;

        // c-card-product__color--selected
        &--selected {
            border: 1px solid $color-b;
        }
    }

    // c-card-product__content
    &__content {
        width: auto;
        padding: 0 $x2;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;

        @include media($media-m){
            padding: 0 $x4;
        }
    }
}