//
// ------------------------------------- 
// 	COMPONENT: Promo Tiles
// -------------------------------------
//  
//

$name                    : c-tile-article;
$selector                : ".#{$name}";

$padding-inset-s: $x4;
$padding-inset-m: $x6;
$padding-inset-l: $x8;

////////////////////////////////////////////////////////
#{$selector} {
    position: relative;
    display: flex;
    border-top: 1px solid $color-grey;
    background-color: transparent !important;
    overflow:hidden;
    justify-content:  space-between;
    width: 100%;

    //.c-tile-article--hero
    &--hero, &--product-hero {
        @include media($media-s-max) {
            flex-direction: column;
        }
    }

    @include media($media-m) {
        // padding: $padding-inset-m; 
        border-top: none;
    }
    @include media($media-l) {
        // padding: $padding-inset-l; 
        margin: 1px;
    }

    //.c-tile-article__content-wrap
    &__content-wrap {
        @include media($media-m) {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        #{$selector}--hero & {
            order: 2;
        }

        @include media($media-s-max) {
            flex-basis: 70%;
            padding: $padding-inset-s;
        }
    }

    //.c-tile-article__content
    &__content {
        width: auto;
        z-index: 4;
        top: $inset-padding-s;
        left: $inset-padding-s;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include media($media-m) {
            position: absolute;
            top: $inset-padding-m;
            left: $inset-padding-m;
            width:calc(80% - 40px);
        }

        @include media($media-xl) {
            top: $inset-padding-l;
            left: $inset-padding-l;
            width:calc(80% - 64px); 

            #{$selector}--hero & {
                right: 120px;
            }
            
        }
    }


    &__heading {
        @include font-smoothing;
        //.c-tile-article__heading--large
        &--large {
            font-size: $text-font-size-p3;
            font-weight: $font-weight-bold;
            
            line-height: 1.1;
            letter-spacing: 0.5px;
            

            @include media($media-m) {
                font-weight: $font-weight-bold;
                font-size: $header-font-size-h1-m;
            }

            @include media($media-xl) {
                font-size: $header-font-size-xl-l;
            }
        }

        //.c-tile-article__heading--medium
        &--medium {
            font-size: $text-font-size-p3;
            font-weight: $font-weight-regular;
            line-height: 1.1;
            letter-spacing: 0;

            @include media($media-m) {
                font-weight: $font-weight-bold;
                font-size: $header-font-size-h3;
            }

            @include media($media-xl) {
                font-weight: $font-weight-bold;
                font-size: $header-font-size-h1-m;
                // @include font-smoothing;
                
            }
        }

        //.c-tile-article__heading--hero
        &--hero {
            @include media($media-s-max) {
                font-size: $header-font-size-xl;
                font-weight: $font-weight-regular;
            }
        }
    }

    //.c-tile-article__cta
    &__cta {
        display: flex;
        z-index: 3;
        transition: background-color .2s ease-in-out;

        @include media($media-m) {
            position: absolute;
            bottom: 0;
            left:0;
            // padding-bottom: $x6;
            justify-content: flex-start;
            right: 0;
            padding: $x2 $x4;
        }

        @include media($media-xl) {
            padding: $x4 $x6;
        }

        #{$selector}:hover & {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    //.c-tile-article__cta-link
    &__cta-link {
        padding: 0;

        @include media($media-m) {
           
        }
    }

    //.c-tile-article__overlay
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.5) 100%); //rgba(0, 0, 0, 0.3);
        top:0;
        left:0;
        z-index: 2;
        display: none;
        transition: all $transition-time $transition-easing;
        
        @include media($media-m) {
           display: block;
        }

        // #{$selector}:hover & {
        //     background: linear-gradient(to bottom, rgba(0,0,0,0.25) 0%,rgba(0,0,0,0.65) 100%); //rgba(0, 0, 0, 0.3);
        // }
    }

    //.c-tile-article__image
    &__image {
        display: block;
        z-index: 1;
        background-size: cover;
        background-position: center;
        transition: all $transition-time $transition-easing;

        #{$selector}--hero & {
            order: 1;
        }

        @include media($media-s-max) {
            flex-basis: 80px;
        }
        @include media($media-m) {
            position: absolute;
            width: 100%;
            height: 100%;
            top:0;
            left:0;
            //.c-tile-article--product-hero
            // on story + product modules
            #{$selector}--product-hero & {
                position: relative;
            }
        }
        @include media($media-l) {
            #{$selector}:hover & {
                transform: scale(1.1);
            }
        }
       
    }
}