//
// ------------------------------------- 
// 	COMPONENT: HERO BANNER TILES
// -------------------------------------
//  
//

$name                    : c-promo;
$selector                : ".#{$name}";

//.c-promo
////////////////////////////////////////////////////////
#{$selector} {
    box-sizing: border-box;
    background: grey;
    position: relative;
    margin: $card-gutter; // 8px

    overflow: hidden;
    margin: 1px;

    @include media($media-m) {

        width: 33.333%;

        // Transitions tile image for small desktop up.
        &:hover {
            div.c-promo__image{
                transform: scale(1.05);
            }


            .t-overlay {

                &--light {
                    background: rgba(68,68,68,0);
                }


                &--dark {
                    background: rgba(255,255,255,0);
                }
            }
        }
    }

    // PROMO PILL CALL OUT.
    ////////////////////////////////////////////////////
    &__c-pill {
        position: absolute;
        top: $x4;
        z-index: 100;
        width: 100%;
        height: $x6;
        background: #fff;
        border-radius: $x5;
        margin-bottom: $x4;
        padding: 0 $x2;


        // TAG FONT STYLE
        font-size: $x2;
        line-height: 26px;
        font-weight: bold;
        text-transform: uppercase;
        color: #F1617C;
        text-align: center;
        letter-spacing: 1.2;


        @include media($media-m) {
            font-size: $x2;
            width: 115%;
        }


        @include media($media-l) {
            font-size: 6px;
            width: 105%;
            line-height: 30px;
            height: 30px;
        }
    }


    &__heading {
        @include header-font-size-h3;
        @include font-text;
    }


    // Only show the tile description text on screens 988px >. 
    &__description {
        display: none;


        @include media($media-l) {
            display: block;
            @include text-font-size-p3;
            @include font-text;
            margin-top: $x4;
        }
    }


    &__link {
        color: inherit;
        text-decoration: none;


        @include hover {
            cursor: pointer;
        }
    }


    &__linkText {
        @include font-text;
        position: absolute;
        bottom: $x4;


        @include media($media-m) {
            font-size: $x3;
        }


        @include media($media-l) {
            font-size: $x4;
        }
    }


    &__link-arrow {
        margin-left: $x1;
    }





    // PROMO BADGE CALL OUT.
    ////////////////////////////////////////////////////
    &__c-badge {
        position: absolute;
        top: $x4;
        right: 35%;
        z-index: 200;
        width: 60px;
        height: 60px;
        background: #F1617C;
        border-radius: 100%;
        color: $color-white;


        &--currency,
        &--percent {
            position: relative;
            top: -4px;
            @include font-text;
            font-size: $x3;
            margin: 0;


            @include media($media-m) {
                top: -5px;
            }


            @include media($media-l) {
                top: -4px;
            }


            @include media($media-xl) {
                font-size: $x4;
                top: -7px;
            }
        }


        &--currency {
            margin-right: -6px;
        }


        &--percent {
            margin-left: -5px;
        }


        &--heading {
            font-size: $x5;
            margin-left: -12px;
        }


        @include media($media-xl) {
            width: $x20;
            height: $x20;


            &--heading {
                font-size: $x7;
            }
        }
    }





    // TILE CONTENT CONTAINER.
    ////////////////////////////////////////////////////
    &__content {
        position: relative;
        box-sizing: border-box;
        padding: $x6; // 25px, 20px
        width: 50%;

        @include media($media-m) {
            padding: $x8 0 $x8 $x8; // 32px
        }
        @include media($media-xl) {
            padding: $x10 0 $x10 $x10; // 32px
        }

        &--fullwidth {
            z-index: 100;
        }
    }

    // TILE TEXT CONTAINER.
    ////////////////////////////////////////////////////
    &__text-container {
        position: absolute;
    }

    &__image-container {
        width: 50%;
        padding-left: $x1;
        min-height: 176px;
        max-height: 290px;

        &--product {
            justify-content: center;
            align-items: center;
        }

        &--fullwidth {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: 0;
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }


    &__image {
        min-height: 176px;
        max-height: 290px;
        width: 100%;
        box-sizing: border-box;
        background-size: cover;
        background-position: left center;
        transition: transform .2s ease-in-out;


        &--product {
            background-size: 85%;
            background-repeat: no-repeat;
        }


        &--fullwidth {
            width: 100%;
            background-position: center;
            background-color: none transparent;
        }
    }


    &__overlay {
        position: absolute;
        z-index: 1000;
        width: 100%;
        height: inherit;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: background .3s ease-in;
    }
}