
{% import 'html/t7-live/macros/icons.html' as iconMacros %}

{% macro inputFieldStacked(label, fieldClasses, required = false, id="input", value="", errorMessage="", helpMessage="", valid=false) %}
    <div class="c-form-field__wrap ">
        <div class="c-form-field c-form-field--input c-form-field--stacked js-form-field {{fieldClasses}}">
            <label class="c-form-field__label c-form-field__label--stacked" for="{{id}}">{{label}}</label>
            <input type="text" class="c-form-field__input js-form-input" name="{{id}}" id="{{id}}" value="{{value}}" {% if (required) %} required {% endif %}  />
            {% if (required) %}<i class="c-form-field__icon">{{ iconMacros.iconRequired(classes="c-icon") }}</i>{% endif %}
            {% if (errorMessage) %}<i class="c-form-field__icon">{{ iconMacros.iconRequired(classes="c-icon") }}</i>{% endif %}
            {% if (valid) %}<i class="c-form-field__icon">{{ iconMacros.iconTick(classes="c-icon") }}</i>{% endif %}
        </div>
        {% if (errorMessage) %}<div class="c-form-field__error">{{errorMessage | safe}}</div>{% endif %}
        {% if (helpMessage) %}<div class="c-form-field__help">{{helpMessage | safe}}</div>{% endif %}
    </div>
{% endmacro %}


{% macro selectDropdownStacked(label="Select region", fieldClasses, required = false, id="select", value="", errorMessage="", helpMessage="", valid=false) %}

    {#<div class="m-form__group {{rootClasses}}">
        <div class="m-form__field js-form-field">
            <select class='m-form__select js-filter-select js-form-select js-select' {{selectAttributes | safe}} {% if (required) %} required {% endif %} >
                <option value="">{{firstOption}}</option>

                {% for selectOption in selectOptions %}
                    <option value='{{selectOption.toLowerCase()}}'>{{selectOption}}</option>
                {% endfor %}
            </select>
            <span class="m-form__select-indicator c-icon c-icon--chevron-down u-icon-xxs -show-block"></span>
        </div>
    </div>#}

    <div class="c-form-field__wrap">
        <div class="c-form-field c-form-field--select c-form-field--stacked js-form-field {{fieldClasses}}">
            <label class="c-form-field__label c-form-field__label--stacked" for="{{id}}">{{label}}</label>
            <select name="Country" id="{{id}}" name="{{id}}" class="c-form-field__select js-form-select" {% if (required) %} required {% endif %}>
                <option value=""></option>
                <option value="option1">Option Name</option>
                <option value="option1">Option Name</option>
                <option value="option1">Option Name</option>
            </select>
            <i class="c-form-field__select-indicator">{{ iconMacros.iconChevronDown(classes="c-form-field__select-icon") }}</i>
        </div>
    </div>
{% endmacro %}

{% macro textAreaStacked(label="comments", fieldClasses, required = false, id="textarea", value="", errorMessage="", helpMessage="", valid=false) %}
   
    <div class="c-form-field__wrap">
        <div class="c-form-field c-form-field--textarea c-form-field--stacked js-form-field {{fieldClasses}}">
            <label class="c-form-field__label c-form-field__label--textarea" for="{{id}}">{{label}}</label>
            <textarea class="c-form-field__textarea js-form-textarea" name="{{id}}" id="{{id}}" {% if (required) %} required {% endif %}></textarea>
            <i class="c-form-field__icon c-form-field__icon--textarea">{{ iconMacros.iconExclamation(classes="c-icon") }}</i>
        </div>
        {% if (errorMessage) %}<div class="c-form-field__error">{{errorMessage | safe}}</div>{% endif %}
        {% if (helpMessage) %}<div class="c-form-field__help">{{helpMessage | safe}}</div>{% endif %}
    </div>

{% endmacro %}

{% macro checkboxStacked(label="checkbox label", fieldClasses="", required = false, id="checkbox", value="", errorMessage="", helpMessage="", valid=false) %}
    <div class="c-form-field__wrap">
        <div class="c-form-field c-form-field--checkbox c-form-field--stacked js-form-field {{fieldClasses}}">
            <label class="c-form-field__label c-form-field__label--checkbox" for="{{id}}">{{label}}</label>
            <input type="checkbox" name="{{id}}" id="{{id}}" class="c-form-field__checkbox" {% if (required) %} required {% endif %} />
            <i class="c-form-field__icon-wrap c-form-field__icon-wrap--checkbox">{{ iconMacros.iconTick(classes="c-form-field__check-icon") }}</i>
        </div>
        {% if (errorMessage) %}<div class="c-form-field__error">{{errorMessage | safe}}</div>{% endif %}
        {% if (helpMessage) %}<div class="c-form-field__help">{{helpMessage | safe}}</div>{% endif %}
    </div>
{% endmacro %}

