{% import 'html/guide/macros/image.html' as imageMacros %}


{% macro tileMedium01(options) -%}
<div class="c-promo c-promo-medium">

    <!--  -->
    <div class="u-flex u-flex-row {{options.tileClasses}}">

        <!-- Content Container -->
        {% if options.imageType === "fullwidth" %}
            <div class="c-promo__content c-promo__content--fullwidth u-flex u-flex-column u-flex-justify-center {{options.containerClasses}} t-text--{{options.themeColor}}">
        {% else %}
            <div class="c-promo__content u-flex u-flex-column u-flex-justify-center {{options.containerClasses}} t-text--{{options.themeColor}}">
        {%- endif %}
            
            <!-- Promo Pill -->
            {% if options.promoTag %}
                <div class="c-promo__c-pill">
                    <p>{{options.promoTag | safe}}</p>
                </div>
            {%- endif %}
            <!-- END: Promo Pill -->
            
            <!-- Text Container -->
            <div class="c-promo__text-container u-flex u-flex-column u-flex-justify-space-between">
                {% if options.title %}
                    <h2 class="c-promo__heading">{{options.title | safe}}</h2>
                {%- endif %}

                {% if options.description %}
                    {% if options.description | length <= 45 %}
                    <p class="c-promo__description">{{options.description | safe}}</p>
                    {%- endif %}
                {%- endif %}
            </div>
            <!-- END: Text Container -->
            
            <!-- Tile CTA -->
            {% if options.ctaText %}
                {% if options.ctaLink %}
                    <a href="{{options.ctaLink | safe}}" class="c-promo__link">
                        <p class="c-promo__linkText">{{options.ctaText | safe}}<span class="c-promo__link-arrow">{{options.ctaArrow | safe}}</span></p>
                    </a>
                {%- else %}
                    <p class="c-promo__linkText">{{options.ctaText | safe}}<span class="c-promo__link-arrow">{{options.ctaArrow | safe}}</span></p>
                {%- endif %}
            {%- endif %}
            <!-- END: Tile CTA -->

        </div>
        <!-- END: Content Container -->

        <!-- Image Container -->
        {% if options.imageType %}
        <div class="c-promo__image-container c-promo__image-container--{{options.imageType}} u-flex">
        {% else %}
        <div class="c-promo__image-container u-flex">
        {%- endif %}

            <!-- Promo Badge -->
            {% if options.promoMessage %}
            <div class="c-promo__c-badge u-flex u-flex-column u-flex-justify-center u-flex-v-align-center">
                <span class="u-p3">{{options.promoMessage.pricePointMess | safe}}</span>
                <h2 class="c-promo__c-badge--heading">
                    {% if options.promoMessage.currency %}
                    <span class="c-promo__c-badge--currency">{{options.promoMessage.currency | safe}}</span>
                    {%- endif %}
                    
                    {{options.promoMessage.pricePoint | safe}}

                    {% if options.promoMessage.percent %}
                    <span class="c-promo__c-badge--percent">{{options.promoMessage.percent | safe}}</span>
                    {%- endif %}
                </h2>
            </div>
            {%- endif %}
            <!-- END: Promo Badge -->

            {% if options.imageType === "product" %}
            <div class="c-promo__image c-promo__image--{{options.imageType}} {{options.containerClasses}}" data-responsive-background-src data-src-m="{{options.desktopImage}}" data-src-s="{{options.mobileImage}}"></div>
            {% elseif options.imageType === "fullwidth" %}
            <span class="c-promo__overlay t-overlay--{{options.themeColor}}"></span>
            <div class="c-promo__image c-promo__image--{{options.imageType}} {{options.tileClasses}}" data-responsive-background-src data-src-m="{{options.desktopImage}}" data-src-s="{{options.mobileImage}}"></div>
            {% else %}
            <div class="c-promo__image {{options.containerClasses}}" data-responsive-background-src data-src-m="{{options.desktopImage}}" data-src-s="{{options.mobileImage}}"></div>
            {%- endif %}
        </div>
        <!-- END: Image Container -->

    </div>

</div>
    
{%- endmacro %}


{% macro tileMedium01Polulated() -%}

        {% 
        set options = {
            title: "Jewellery Special",
            themeColor: "dark",
            promoTag: "Buy 1 get 1 half price",
            tileClasses: "u-aspect-eight-by-five",
            containerClasses: "u-aspect-four-by-five",
            ctaText: "Shop Now",
            ctaLink: "#",
            ctaArrow: ">",
            link: "#",
            mobileImage: "/assets/images/test/R2377560_00.png",
            desktopImage: "/assets/images/test/R2377560_00@2x.png"
        }

    %}
    
    {{tileMedium01(options)}}

{%- endmacro %}



{% macro tileMedium02(options02) -%}
<div class="c-promo c-promo-medium">
    <div class="u-flex u-flex-row {{options02.tileClasses}}">

        <!-- Content Container -->
        {% if options02.imageType === "fullwidth" %}
            <div class="c-promo__content c-promo__content--fullwidth u-flex u-flex-column u-flex-justify-center {{options02.containerClasses}} t-text--{{options02.themeColor}}">
        {% else %}
            <div class="c-promo__content u-flex u-flex-column u-flex-justify-center {{options02.containerClasses}} t-text--{{options02.themeColor}}">
        {%- endif %}
            <!-- Promo Pill -->
            {% if options02.promoTag %}
                <div class="c-promo__c-pill">
                    <p>{{options02.promoTag | safe}}</p>
                </div>
            {%- endif %}
            <!-- END: Promo Pill -->

            <!-- Text Container -->
            <div class="c-promo__text-container u-flex u-flex-column u-flex-justify-space-between">
                {% if options02.title %}
                    <h2 class="c-promo__heading">{{options02.title | safe}}</h2>
                {%- endif %}

                {% if options02.description and not options02.promoTag %}
                    {% if options02.description | length <= 45 %}
                    <p class="c-promo__description">{{options02.description | safe}}</p>
                    {%- endif %}
                {%- endif %}
            </div>
            <!-- END: Text Container -->

            <!-- Tile CTA -->
            {% if options02.ctaText %}
                {% if options02.ctaLink %}
                    <a href="{{options02.ctaLink | safe}}" class="c-promo__link">
                        <p class="c-promo__linkText">{{options02.ctaText | safe}}<span class="c-promo__link-arrow">{{options02.ctaArrow | safe}}</span></p>
                    </a>
                {%- else %}
                    <p class="c-promo__linkText">{{options02.ctaText | safe}}<span class="c-promo__link-arrow">{{options02.ctaArrow | safe}}</span></p>
                {%- endif %}
            {%- endif %}
            <!-- END: Tile CTA -->

        </div>
        <!-- END: Content Container -->
            
        <!-- Image Container -->
        {% if options02.imageType %}
        <div class="c-promo__image-container c-promo__image-container--{{options02.imageType}} u-flex">
        {% else %}
        <div class="c-promo__image-container u-flex">
        {%- endif %}

            <!-- Promo Badge -->
            {% if options02.promoMessage %}
            <div class="c-promo__c-badge u-flex u-flex-column u-flex-justify-center u-flex-v-align-center">
                <span class="u-p3">{{options02.promoMessage.pricePointMess | safe}}</span>
                <h2 class="c-promo__c-badge--heading">
                    {% if options02.promoMessage.currency %}
                    <span class="c-promo__c-badge--currency">{{options02.promoMessage.currency | safe}}</span>
                    {%- endif %}
                    
                    {{options02.promoMessage.pricePoint | safe}}

                    {% if options02.promoMessage.percent %}
                    <span class="c-promo__c-badge--percent">{{options02.promoMessage.percent | safe}}</span>
                    {%- endif %}
                </h2>
            </div>
            {%- endif %}
            <!-- END: Promo Badge -->

            {% if options02.imageType === "product" %}
            <div class="c-promo__image c-promo__image--{{options02.imageType}} {{options02.containerClasses}}" data-responsive-background-src data-src-m="{{options02.desktopImage}}" data-src-s="{{options02.mobileImage}}"></div>
            {% elseif options02.imageType === "fullwidth" %}
            <span class="c-promo__overlay t-overlay--{{options02.themeColor}}"></span>
            <div class="c-promo__image c-promo__image--{{options02.imageType}} {{options02.tileClasses}}" data-responsive-background-src data-src-m="{{options02.desktopImage}}" data-src-s="{{options02.mobileImage}}"></div>
            {% else %}
            <div class="c-promo__image {{options02.containerClasses}}" data-responsive-background-src data-src-m="{{options02.desktopImage}}" data-src-s="{{options02.mobileImage}}"></div>
            {%- endif %}
            
        </div>
        <!-- END: Image Container -->

    </div>
    <!-- END: Tile Content Wrapper -->

</div>
<!-- END: .c-promo -->
    
{%- endmacro %}



{% macro tileMedium02Polulated() -%}

        {% 
        set options02 = {
            title: "Bathrobes",
            description: "This is the description which will be 2 lines",
            themeColor: "dark",
            promoMessage: {
                pricePointMess: "From",
                pricePoint: "20",
                currency: "$"
            },
            tileClasses: "u-aspect-eight-by-five",
            containerClasses: "u-aspect-four-by-five",
            ctaText: "Browse Range",
            ctaLink: "#",
            ctaArrow: ">",
            link: "#",
            mobileImage: "/assets/images/test/9400070826042_20_20170512.png",
            desktopImage: "/assets/images/test/9400070826042_20_20170512@2x.png"
        }

    %}
    
    {{tileMedium02(options02)}}

{%- endmacro %}





{% macro tileMedium03(options03) -%}
<div class="c-promo c-promo-medium">
    <div class="u-flex u-flex-row {{options03.tileClasses}}">

        <!-- Content Container -->
        {% if options03.imageType === "fullwidth" %}
            <div class="c-promo__content c-promo__content--fullwidth u-flex u-flex-column u-flex-justify-center {{options03.containerClasses}} t-text--{{options03.themeColor}}">
        {% else %}
            <div class="c-promo__content u-flex u-flex-column u-flex-justify-center {{options03.containerClasses}} t-text--{{options03.themeColor}}">
        {%- endif %}
            <!-- Promo Pill -->
            {% if options03.promoTag %}
                <div class="c-promo__c-pill">
                    <p>{{options03.promoTag | safe}}</p>
                </div>
            {%- endif %}
            <!-- END: Promo Pill -->

            <!-- Text Container -->
            <div class="c-promo__text-container u-flex u-flex-column u-flex-justify-space-between">
                {% if options03.title %}
                    <h2 class="c-promo__heading">{{options03.title | safe}}</h2>
                {%- endif %}

                {% if options03.description and not options03.promoTag %}
                    {% if options03.description | length <= 45 %}
                    <p class="c-promo__description">{{options03.description | safe}}</p>
                    {%- endif %}
                {%- endif %}
            </div>
            <!-- END: Text Container -->

            <!-- Tile CTA -->
            {% if options03.ctaText %} 
                {% if options03.ctaLink %}
                    <a href="{{options03.ctaLink | safe}}" class="c-promo__link">
                        <p class="c-promo__linkText">{{options03.ctaText | safe}}<span class="c-promo__link-arrow">{{options03.ctaArrow | safe}}</span></p>
                    </a>
                {%- else %}
                    <p class="c-promo__linkText">{{options03.ctaText | safe}}<span class="c-promo__link-arrow">{{options03.ctaArrow | safe}}</span></p>
                {%- endif %}
            {%- endif %}
            <!-- END: Tile CTA -->

        </div>
        <!-- END: Content Container -->
            
        <!-- Image Container -->
        {% if options03.imageType %}
        <div class="c-promo__image-container c-promo__image-container--{{options03.imageType}} u-flex">
        {% else %}
        <div class="c-promo__image-container u-flex">
        {%- endif %}

            <!-- Promo Badge -->
            {% if options03.promoMessage %}
            <div class="c-promo__c-badge u-flex u-flex-column u-flex-justify-center u-flex-v-align-center">
                <span class="u-p3">{{options03.promoMessage.pricePointMess | safe}}</span>
                <h2 class="c-promo__c-badge--heading">
                    {% if options03.promoMessage.currency %}
                    <span class="c-promo__c-badge--currency">{{options03.promoMessage.currency | safe}}</span>
                    {%- endif %}
                    
                    {{options03.promoMessage.pricePoint | safe}}

                    {% if options03.promoMessage.percent %}
                    <span class="c-promo__c-badge--percent">{{options03.promoMessage.percent | safe}}</span>
                    {%- endif %}
                </h2>
            </div>
            {%- endif %}
            <!-- END: Promo Badge -->

            {% if options03.imageType === "product" %}
            <div class="c-promo__image c-promo__image--{{options03.imageType}} {{options03.containerClasses}}" data-responsive-background-src data-src-m="{{options03.desktopImage}}" data-src-s="{{options03.mobileImage}}"></div>
            {% elseif options03.imageType === "fullwidth" %}
            <span class="c-promo__overlay t-overlay--{{options03.themeColor}}"></span>
            <div class="c-promo__image c-promo__image--{{options03.imageType}} {{options03.tileClasses}}" data-responsive-background-src data-src-m="{{options03.desktopImage}}" data-src-s="{{options03.mobileImage}}"></div>
            {% else %}
            <div class="c-promo__image {{options03.containerClasses}}" data-responsive-background-src data-src-m="{{options03.desktopImage}}" data-src-s="{{options03.mobileImage}}"></div>
            {%- endif %}
            
        </div>
        <!-- END: Image Container -->

    </div>
    <!-- END: Tile Content Wrapper -->

</div>
<!-- END: .c-promo -->
    
{%- endmacro %}


{% macro tileMedium03Polulated() -%}

        {% 
        set options03 = {
            title: "Chocolate",
            themeColor: "dark",
            promoTag: "Everyday Low Price",
            tileClasses: "u-aspect-eight-by-five",
            containerClasses: "u-aspect-four-by-five",
            imageType: "product",
            ctaText: "Shop Now",
            ctaLink: "#",
            ctaArrow: ">",
            link: "#",
            mobileImage: "/assets/images/test/R1314223_00.png",
            desktopImage: "/assets/images/test/R1314223_00@2x.png"
        }

    %}
    
    {{tileMedium03(options03)}}

{%- endmacro %}

{% macro tileT7(options) -%}
<div class="c-promo u-aspect-nine-by-four">
    <div class="c-promo__content">
        <h2 class="c-promo__heading">{{options.title | safe}}</h2>
        <!-- <p class="c-promo__description">{{options.description | safe}}</p> -->
    </div>
    <span class="c-promo__overlay t-overlay--dark"></span>
    <div class="c-promo__image c-promo__image-- {{options.tileClasses}}" data-responsive-background-src data-src-m="{{options03.desktopImage}}" data-src-s="{{options03.mobileImage}}"></div>
</div>
<!-- END: .c-promo -->
    
{%- endmacro %}


{% macro tileT7Polulated() -%}

        {% 
        set options = {
            title: "10 - 13% Off",
            themeColor: "dark",
            promoTag: "Bikes and Accessories",
            tileClasses: "u-aspect-eight-by-four",
            containerClasses: "u-aspect-four-by-five",
            ctaText: "Shop Now",
            ctaLink: "#",
            ctaArrow: ">",
            link: "#",
            mobileImage: "/assets/images/test/R2377560_00.png",
            desktopImage: "/assets/images/test/R2377560_00@2x.png"
        }

    %}
    
    {{tileT7(options)}}

{%- endmacro %}