

<section id="images">
        <div class="sg-example u-margin-bottom-x4">
            <table class="sg-table">
                <tbody>
                <tr>
                    <th>Large Image</th>
                    <td colspan="3">
                        <img title="Large Image Size" alt="Large Image Size"
                                src="http://www.placehold.it/484x484/f0f0f0/000000">
                    </td>
                </tr>
                <tr>
                    <th>Medium Image</th>
                    <td colspan="3">
                        <img title="Medium Image Size" alt="Medium Image Size"
                                src="http://www.placehold.it/232x232/f0f0f0/000000">
                    </td>
                </tr>
                <tr>
                    <th>Small Image</th>
                    <td colspan="3">
                        <img title="Small Image Size" alt="Small Image Size"
                                src="http://www.placehold.it/190x190/f0f0f0/000000">
                    </td>
                </tr>
                <tr>
                    <th>Thumbnail Image Desktop</th>
                    <td>
                        <img title="Thumbnail Image Size" alt="Thumbnail Image Size"
                                src="http://www.placehold.it/106x106/f0f0f0/000000">
                    </td>
                    <th>Thumbnail Image Mobile</th>
                    <td>
                        <img title="Thumbnail Image Size" alt="Thumbnail Image Size"
                                src="http://www.placehold.it/212x212/f0f0f0/000000">
                    </td>
                </tr>
                <tr>
                    <th>Swatch Image Desktop</th>
                    <td>
                        <img title="Swatch Image Size" alt="Swatch Image Size"
                                src="http://www.placehold.it/64x64/f0f0f0/000000">
                    </td>
                    <th>Swatch Image Mobile</th>
                    <td>
                        <img title="Swatch Image Size" alt="Swatch Image Size"
                                src="http://www.placehold.it/128x128/f0f0f0/000000">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
