<!-- BUYERS GUIDE SECTION HERO -->
{% macro sectionHero(options) %}
<section class="m-section-hero" data-responsive-background-src data-src-m="{{ options.image.desktop | safe }}" data-src-s="{{ options.image.mobile | safe }}">
    <div class="{{ options.ratioClasses | safe }}"></div>
</section>
{% endmacro %}

{% macro populateSectionHero() %}
<!-- Set the options -->
{%
    set options = {
        ratioClasses: "u-aspect-nine-by-two-m u-aspect-three-by-two",
        image: {
            mobile: "/assets/images/test/heaters-2-mob@2x.png",
            desktop: "/assets/images/test/heaters-2.png"
        }
    }
    %}

<!-- Call the section hero macro -->
{{ sectionHero(options) }}

{% endmacro %}