// ------------------------------------- 
// 	MODULE: Banner category
// -------------------------------------

$name                    : m-banner-category;
$selector                : ".#{$name}";


//Selectors
#{$selector} {
    background-size: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    z-index: 2;

    @include media($media-s-max) {
        background: none !important;
        margin-top: 40px;
    }

    @include media($media-m) {
        // height: 300px;
        // background-size: contain;
        background-size: 60%;
        // margin-top: 40px;
        @include aspect-2-by-1;
        // &:first-child {
            margin-top: 0; //40px;
        // }
    }

    @include media($media-l) {
        @include aspect-2-by-1;
    }

    @include media($media-xxl) {
        background-size: 50%;
        // padding-top: 100px;
        overflow: visible;
        // height: 650px;
        @include aspect-3-by-1;
    }

    // .m-banner-category--odd
    &--odd {
        background-position: bottom left;
    }

    // .m-banner-category--even
    &--even {
        background-position: bottom right;
    }

    // .m-banner-category--btn
    &__btn {
        margin-bottom: 24px;
        @include btn-primary-inverse; 
        @include media($media-m) {
            margin-bottom: 0;
            @include btn-primary-reverse;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        @include media($media-m) {
            bottom:32px;
            position:absolute;
            z-index:2;
            left:0;
            width: 100%;
        }

        @include media($media-l) {
            bottom:56px;
        }
    }

    // .m-banner-category--heading
    &__heading {
        
        margin: 50px 0 80px;
        font-family: $font-script;
        text-align: center;
        z-index: 1;
        margin-bottom: 24px;
        @include font-script;

        @include header-font-size-xxxl;
        font-size: $x20;
        line-height: inherit;

        @include ie-hack {
            letter-spacing: -10px;
        }

        @include media($media-m) {
            font-size: 100px;
            margin: 0; //140px 0 0;
            margin-bottom: 28px;
            color: white;

            @include ie-hack {
                margin-bottom: 40px;
            }

        }
        @include media($media-xl) {
            font-size: 150px;
            
        }

        #{$selector}--clp & {
            margin: 50px 0;
            @include header-font-size-xxl;
            font-size: 56px;

            @include media($media-m) {
                // margin: 190px 0 0;
            }

            @include media($media-xl) {
                font-size: 100px;
            }
        }
    }

    // .m-banner-category__grad
    @include media($media-m) {
        &__grad {
            position: absolute;
            width: 100%;
            height: 75%;
            z-index:1;
            bottom:-20%;
            left:0;
            // background-color: red;
            background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #000000 100%);
        }
    }

    // .m-banner-category__image
    &__image {
        position: absolute;
        width: 100%;
        // height: 100%;
        z-index:0;
        top:0;
        left:0;
        display: none;
        opacity: 1; //0.4;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 100%;

        @include media($media-m) {
            display: block;
            height: 120%;
        }
    }

    // .m-banner-category__nav
    &__nav {
        position: relative;
        z-index: 5;
    }
}
