// ------------------------------------- 
// 	MODULE: BRAND BELT
// -------------------------------------

$name                    : m-brand-belt;
$selector                : ".#{$name}";

//Selectors
#{$selector} {
    &__wrap {
        display:flex;
        width:100%;
        margin-left:auto;
        margin-right:auto;
    }
    width:100%;
    overflow: hidden;
    overflow-x: auto;
    margin: 0;
    @include media($media-l) {
        margin: $x2;
    }
    &__inner {
        display:flex;
        justify-content: space-between;
        padding: $x4 0;
        white-space:nowrap;
        width:100%;
    }
}