// ------------------------------------- 
// 	MODULE: Cart Row
// -------------------------------------

$name                    : m-cart-row;
$selector                : ".#{$name}";

//Selectors
#{$selector} {

    // width: calc(100% - 1$x2);
    background-color: white;
    padding: $x6;
    display: flex;
    position: relative;
    flex-direction: column;

    @include media($media-m) {
        flex-direction: row;
    }

    //.m-cart-row__wrap
    &__wrap {
        @include media($media-m) {
            margin-right: $x6;
        }
    }

    //.m-cart-row--warning
    &--warning {
        border-left: 2px solid $color-warning;
    }

    //.m-cart-row--error
    &--error {
        border-left: 2px solid $color-error;
    }

    //.m-cart-row__image
    &__image {
        flex-grow: 1;
    }
    
    //.m-cart-row__price
    /*&__price {
        display:none;

        @include media($media-m) {
            display:block;
            margin-left: $x6;
        }
    }*/

    //.m-cart-row__code
    &__code {
        font-size:12px;
        color: $color-grey-light-40;
        margin-bottom: $x2;
    }
    //.m-cart-row__code
    &__variant {
        font-size: 14px;
        color: $color-grey-light-40;
    }

    //.m-cart-row__total
    &__total {
        display:none;

        @include media($media-m) {
            display:block;
            margin-left: $x6;
        }
    }

    //.m-cart-row__label
    /*&__label {
        color: $color-grey-light-40;
        text-align: right;
        margin-bottom: $x5;
    }*/

    //.m-cart-row__remove-btn
    &__remove-btn {
        position: absolute;
        top: $x6;
        opacity:.5;
        border-bottom:none;
        right: $x6;
    }

    //.m-cart-row__qty
    &__qty {
        display:none;

        @include media($media-m) {
            display:block;
            padding-top: $x10;
        }
    }
}