// ------------------------------------- 
// 	MODULE: T7 Generic Carousel
// -------------------------------------
// 

$name                    : m-carousel;
$selector                : ".#{$name}";

//Selectors
#{$selector} {

    //.m-carousel__cards
    &__cards{
        //.m-carousel__cards--s
        &--s{
            display: block;
            margin: 0 30% 0 0;
            width: 70%;

            @include media($media-s) {
                margin: 0 16px;
                width: 100%;
            }

            @include media($media-m) {
                margin: 0;
            }
        }
        
    }

}
