// ------------------------------------- 
// 	MODULE: product Card Grid
// -------------------------------------

$name                    : m-card-product-grid;
$selector                : ".#{$name}";

//Selectors
#{$selector} {
    
    @include media($media-l) {
        margin-left: $x4;
    }

    // .m-card-product-grid__wrap
    &__wrap {
        padding-top: 0;

        @include media($media-l) {
            padding-top: $x12;
        }
    }

    // .m-card-product-grid__results-block
    &__results-block {
        justify-content: space-between;
        padding: 0 $x2 $x2;
        align-items: center;

        @include media($media-l) {
            display: flex;
            padding: $x1 $x2 $x4 $x6;
        }
    }

    // .m-card-product-grid__results
    &__results {
        color: $color-grey-light-60;
        display: flex;
        justify-content: center;

        @include media($media-l) {
            display: block;
        }
    }

    // .m-card-product-grid__sort
    &__sort {
        display: none;
        align-items: center;
        
        @include media($media-l) {
            display: flex;
        }
    }

    // .m-card-product-grid__sort-wrap
    &__sort-wrap {
        position: relative;
    }
    
    // .m-card-product-grid__sort-label
    &__sort-label {
        color: $color-grey-light-60;
        margin-right: 0;
    }

    // .m-card-product-grid__sort-select
    &__sort-select {
        color: $color-grey-light-20;
        background: none;
        border: none;
        appearance: none;
        background-image: url('../images/t7/chevron-down.svg');
        background-repeat: no-repeat;
        background-position: center right;
        background-size:24px;
        min-width: 5rem;
        padding: 0 $x6 0 $x2;
        vertical-align: baseline;
        @include text-font-size-p2;
    }

    // .m-card-product-grid__sort-icon
    &__sort-icon {
        position: absolute;
        z-index: 0;
        right:0;
        color: black;
    }

    // .m-card-product-grid__footer
    &__footer {
        padding: $x4;
        display: flex;
        justify-content: center;
    }
}
