// ------------------------------------- 
// 	MODULE: Category cards
// -------------------------------------
// displays on CLP template

$name                    : m-category-cards;
$selector                : ".#{$name}";

//Selectors
#{$selector} {
    display: flex;
    justify-content: center;

    

    &--reveal {
        transition: height 0.5s $transition-easing;

        &.toggle-reveal {
            height: auto;
        }
        
        @include media($media-m) {
            overflow:hidden;
        }
    }
    //m-category-cards__
    &__wrap {
        // @include media($media-m) {
        //     margin-right: $x6;
        // }
    }

}