// ------------------------------------- 
// 	MODULE: T7 Category Tile belt
// -------------------------------------

$name                    : m-category-tile-belt;
$selector                : ".#{$name}";

//Selectors
#{$selector} {
    // box-sizing: border-box;
    display: block;
    width: 100%;

    // &--header {
    //     @include media($media-m){
    //        margin-right: 32px;
    //     }
    //     @include media($media-l){
    //         margin-right: 0;
    //      }
    // }

    //.m-product-belt__inner
    &__inner {
        position: relative;
        opacity: 1;
        transition: opacity 0.5s linear;

        @include media($media-m){
            opacity: 0;

            &.is-active {
                opacity: 1;
            }
        }
        
        #{$selector}--banner &, #{$selector}--belt & {
            display: flex;
            flex-wrap:nowrap;
            width:100%;
        }
    }

    &__tile {
        #{$selector}--banner &{
            width: 25%;
        }
        #{$selector}--belt & {
            padding: 1px;
            width: 25%;
        } 
        #{$selector}--header & {
            padding: 0;
            width: 25%;
        } 
    }
}