// ------------------------------------- 
// 	MODULE: Checkout block
// -------------------------------------

$name                    : m-checkout-row;
$selector                : ".#{$name}";

//Selectors
#{$selector} {

    background-color: white;
    position: relative;
    padding: $x4;
    margin-bottom: $x2;

    @include media($media-m) {
        padding: $x6;
    }

    //m-checkout-row__wrap
    &__wrap {
        @include media($media-m) {
            margin-right: $x6;
        }
    }
    
    
    
}