// ------------------------------------- 
// 	MODULE: Content Modules
// -------------------------------------

$name                    : m-content;
$selector                : ".#{$name}";

//Selectors
#{$selector} {
    box-sizing: border-box;
    width: 100%;

    display: block;
    // @include text-spacing;
    margin-bottom: $x2;
    @include outer-gutter();

    &--center {
        text-align: center;
    }

    &__tile {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        
        @include media($media-m) {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
        }
    }

    &__tile-image {
        // @include media($media-m) {
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            top: 0;
            left: 0;
            z-index: 1;
        // }

        &--mobile-only {
            @include media($media-m) {
                display: none;
            }
        }
    }

    &__tile-content {
        position: unset;
        height: inherit;
        box-sizing: border-box;
        @include text-spacing;
        padding: 32px 16px;

        @include media($media-m) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 3; 
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        @include media($media-l) {
            padding: 24px;
        }

        @include media($media-xl) {
            padding: 32px;
        }

        #{$selector}--2col & {
            text-align: center;
        }
        
    }

}