// ------------------------------------- 
// 	MODULE: FOOTER
// -------------------------------------

$name                    : m-deal-slide;
$selector                : ".#{$name}";

//Selectors
#{$selector} {
    display: flex;
    width: 100%;
    @include media($media-s-max) {
        flex-direction: column;
    }

    // //m-deal-slide__inner
    &__inner {
        width: 100%;
        opacity: 0;
        transition: opacity 0.5s linear;

        @include media($media-m){
            opacity: 1;
        }

        &.is-active {
            opacity: 1;
        }

    }

    //m-deal-slide__cards
    &__cards { 
        // width: 100%;
        display: block;

        @include media($media-xs-max) {
            margin: 0 30% 0 0;
            width: 70%;
        }
        
        // max-width: 320px;
    //      
        // @media (min-width: 600px) and (max-width: 768px) {
            // display: block;
            // &--four {
            //     width: calc(212px * 4);
            // }
            // &--six {
            //     width: calc(212px * 6);
            // }
            
        // }

        @include media($media-m) {
            display: flex;  
            flex-wrap: wrap;
            align-items: flex-start;
        }

        
    }

    //m-deal-slide__card
    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: white;
        display: none;
        margin: 1px;
        flex-shrink: 0;
        width: 208px;

        @include aspect-8-by-9;

        @include media($media-m) {
            width: calc(50% - 2px);
        }

        @include media($media-l) {
            width: calc(25% - 2px);
        }

        @include media($media-xl) {
            width: calc(20% - 2px);
        }
        @include media($media-xxl) {
            width: calc(16.666% - 2px);

            &:nth-child(-n + 12) {
                display:block;
            }
        }

        #{$selector}__cards--default & {
            @include media($media-m) {
                &:nth-child(-n + 4) {
                    display:block;
                }
            }
    
            @include media($media-l) {
                &:nth-child(-n + 8) {
                    display:block;
                }
            }
    
            @include media($media-xl) {
                &:nth-child(-n + 10) {
                    display:block;
                }
            }
        }

        #{$selector}__cards--brandsx2 &, 
        #{$selector}__cards--categoriesx2 & {
            @include media($media-m) {
                &:nth-child(6n + 1), 
                &:nth-child(6n + 2){
                    display:block;
                }
            }
    
            @include media($media-l) {
                &:nth-child(6n + 1), 
                &:nth-child(6n + 2),
                &:nth-child(6n + 3),
                &:nth-child(6n + 4){
                    display:block;
                }
            }

            @include media($media-xl) {
                &:nth-child(6n + 1), 
                &:nth-child(6n + 2),
                &:nth-child(6n + 3),
                &:nth-child(6n + 4),
                &:nth-child(6n + 5){
                    display:block;
                }
            }
    
            // @include media($media-xl) {
                
            // }
        }

        #{$selector}__cards--brandsx4 &,
        #{$selector}__cards--categoriesx4 & {
            @include media($media-m) {
                &:nth-child(3n + 1) {
                    display:block;
                }
            }
    
            @include media($media-l) {
                &:nth-child(3n + 1), 
                &:nth-child(3n + 2) {
                    display:block;
                }
            }
            @include media($media-l) {
                &:nth-child(3n + 1), 
                &:nth-child(3n + 2)
                {
                    display:block;
                }
            }

            @include media($media-xl) {
                &:nth-child(3n + 1), 
                &:nth-child(3n + 2),
                &:nth-child(n + 8)
                {
                    display:block;
                }
            }
    
            // @include media($media-xl) {
            //     &:nth-child(-n + 12) {
            //         display:block;
            //     }
            // }
        }
    }
}
