// ------------------------------------- 
// 	MODULE: Deal belt
// -------------------------------------

$name                    : m-deal-belt;
$selector                : ".#{$name}";

//Selectors
#{$selector} {
    display: block;
    // width: 200%;
    position: relative;
    
    // @include media($media-s-max) {
    //     overflow:scroll;
    // }

    //m-deal-belt__inner
    &__inner {
        width: 100%;
        opacity: 1;
        transition: opacity 0.5s linear;

        @include media($media-m){
            opacity: 0;

            &.is-active {
                opacity: 1;
            }
        }

        
        // @include media($media-m) {
        //     display: flex;
        //     flex-wrap:nowrap;
        //     width: 200%;
        //     // width: calc(200%);
        // }

        // @include media($media-l) {
        //     width: calc(200% + $x4);
        // }
    }

    //m-deal-belt__slide
    &__slide {
        background-color: $color-grey;
        padding: $x4 $x4 $x4 $x4;
        // width: calc(50%);
        position: relative;
        width: 100%;
        margin-left:1px;
        &:first-child{
            margin-left:0;
        }
        
        @include media($media-s-max) {
            width: 100%;
            padding: $x4 0 0;
            margin: 1px 0;
            display:none;

            &:nth-child(1), &:nth-child(2), &:nth-child(3){
                display: block;
            }
        }

        @include media($media-m) {
            padding: $x2;
            // margin: 0 4px;
        }

        //m-deal-belt__slide--next
        &--next {
            background-color: $color-c;

            @include media($media-m) {
                margin-left: 2px;
            }

            @include media($media-l) {
                margin-left: $x2;
                opacity: 0.6;
            }

            @include media($media-xl) {
                margin-left: $x4;
            }
        }
    }

    //m-deal-belt__slide-logo
    &__slide-logo {
        width: 50%;
        max-width: 200px;
        margin-bottom: $x4;

        @include media($media-m) {
            margin-bottom: $x4;
        }
        @include media($media-l) {
            margin-top: $x2;
        }

        &--no-logo {
            @include media($media-s-max) {
                display: none;
            } 
        }
    }

    //.m-deal-belt__card-product
    &__card-product{
        
        display: block;
        
        &--m {
            display: none;
            @include media($media-m) {
                display: block;
            }
        }
        &--l {
            display: none;
            @include media($media-l) {
                display: block;
            }
        }
        &--xl {
            display: none;
            @include media($media-xl) {
                display: block;
            }
        }
    }

    //m-deal-belt__description
    &__description {
        color: white;
        text-align: center;
        width: calc(100% - #{$x8});
        margin-left: $x1;
        margin-bottom: $x2;
        margin-top: $x6;
        @include media($media-l) {
            margin-top: $x8;
            margin-bottom: 0;
        }
        @include media($media-xxl) {
            margin-top: $x10;
            width: calc(100% - #{$x12});
        }
    }

    //m-deal-belt__deal-info
    &__deal-info {
       
        // @include media($media-m) {
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding: $x4;
            width: 100%;
        // }
        @include media($media-xl) {
            padding: $x6;
        }
    }

    //m-deal-belt__deal-header
    &__deal-header {
        color: white;
        display: flex;
        font-weight: 700;
        line-height:1;
        padding-bottom: $x3;
        font-size: $x4;
    }

    //m-deal-belt__deal-footer
    &__deal-footer {
        color: white;
        display: flex;
        font-weight: 700;
        line-height: 1;
        padding-top: $x3;
        font-size: $x6;
    }

    //m-deal-belt__deal-amount
    &__deal-amount {
        margin-bottom:0;
        color: white;
        display: flex; 
        line-height: 1;
        font-weight:700;
    }

    //m-deal-belt__deal-number-large
    &__deal-number-large {
        font-size: 100px;
        @include text-crop--100;
        @include media($media-m) {
            font-size: 125px;
        }
        
    }
    //m-deal-belt__deal-number-medium
    &__deal-number-medium {
        font-size: 80px;
        @include text-crop--80;
        letter-spacing:0;
        @include media($media-m) {
            font-size: 80px;
            letter-spacing:-1px;
        }
        @include media($media-xxl) {
            font-size: 100px;
            letter-spacing:-2px;
        }
    }
    //m-deal-belt__deal-number-small
    &__deal-number-small {
        font-size: 70px;
        @include text-crop--56;
        letter-spacing: -1px;
        @include media($media-m) {
            font-size: 72px;
            letter-spacing: -3px;
        }
        @include media($media-xxl) {
            font-size: 80px;
        }
    }

    //m-deal-belt__deal-text-prefix
    &__deal-text-prefix {
        display: flex;
        justify-content: center;
        margin-bottom: auto;
        font-size: $x8;
        @include media($media-m) {
            padding:0 $x1 0 0;
        }
    }

    //m-deal-belt__deal-text-suffix
    &__deal-text-suffix {
        display: flex;
        justify-content: center;
        margin-bottom: auto;
        font-size: $x8;
        @include media($media-m) {
            padding: 0 0 0 $x1;
        }
    }


    //m-deal-belt__deal-text-small
    &__deal-text-small {
        display: flex;
        flex-direction: column;
        justify-content: center;    
        @include media($media-m) {
            padding: 0 0 0 $x2;
        }
    }

    //m-deal-belt__percent
    &__percent {
        font-size: $x8;
        margin-top: auto;
        margin-bottom: $x2;
    }

    //m-deal-belt__off
    &__off {
        font-size: $x8;
        text-transform: uppercase;
    }

    //m-deal-belt__footer
    &__footer {
        display: flex;
        justify-content: center;
        padding: $x4 0 $x6;

        @include media($media-m) {
            display: none;
        }
    }

    //m-deal-belt__btn
    &__btn {

        &--2col {
            @include media($media-s-max) {
                display: none;
            }
        }
        @include media($media-m) {
            margin-top: 28px;
        }
    }

    
}
