$name: m-footer;
$selector: ".#{$name}";
//.m-header2
#{$selector} {
    &__wrap {
        background-color:$theme-color-b;
        width:100%;

        //Default text/link styles
        color:#fff;
        font-size:14px;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
    @include max-width;
    margin:$x4 auto 0 auto;
    @include media($mobile-bp) {
        margin:$x8 auto 0 auto;
        padding:$x8;
    }

    &-ad{
            &__wrap {
                margin:0 auto;
                background:url(https://www.torpedo7.co.nz/images/banners/2018-08-27/20180820_NewWebsiteBanners_O_A4_Large_Blank.jpg) center no-repeat;
                background-size:cover;    
                overflow: hidden;
            }
            display:flex;
            padding:$x8 0;
            justify-content: center;
            align-content: center;
            text-align: center;
            flex-flow: column wrap;
            @include max-width;
            margin:0 auto;
            @include media($mobile-bp) {
                flex-flow: row wrap;
            }  
            position: relative;
            height:100%;
            /*&:after {
                content: '';
                background-color: rgba(#000, .75);
                position: absolute;
                right: -100%;
                top: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
            }*/
            &:before {
                   content: '';
                   position: absolute;
                   width: 400%;
                   height: 100%;
                   background-color: rgba(#000, .75);
                    transform: rotate(-5deg) translate(-50%, 0%);
                    transform-origin: top left;
                    left: 50%;
                    top: 40%;
                @include media($mobile-bp) {
                    width: 100%;
                    height: 400%;
                    transform: rotate(-65deg) translate(-50%, 0%);
                    transform-origin: top left;
                    left: 50%;
                    top: 50%;
                }
            }
    }
    &-ads{
       overflow: hidden;
        position: relative;
        padding:$x8 0;
        @include media($mobile-bp) {
            padding:0 2% 0 10%;
            @include flex(0 0 50%);
        }
        display:flex;
        justify-content: flex-end;
        align-content: center;
    }
        &-club {
            padding: $x8;
            margin:$x4 0;
            @include media($mobile-bp) {
                @include flex(0 0 50%);
            }
            display: flex;
            position: relative;
            z-index: 1;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            &-logo {
                flex: 0 0 100%;
                margin:0 0 $x2;
                img,svg{fill: #fff;max-width: 300px;}
            }
        }
    .m-footer-links{
        display:flex;
        flex-wrap:wrap;
        .m-footer-col{
            flex:0 0 100%;
            @include media($media-l) {
                flex:0 0 25%;
            }
            @include media($media-xxl) {
                flex:1;
            }
        }

        

        dl {
            padding:$x2 0;
            border-bottom:1px solid rgba(#fff, .1);
            dt{
                padding:$x2 $x4;
                position: relative;               
                &:after{
                    //filter: grayscale(100%) brightness(5);
                    background-image: url(../images/t7/icon-add-white.svg);
                    right:$x4;
                }
                &.toggle-reveal:after{
                    background-image: url(../images/t7/icon-minus-white.svg);
                }
            }
            @include media($mobile-bp) {
                padding:$x1 0 $x2;
                border: none;
                dt {
                    padding:0 0 $x2;
                    &:after{
                        display:none;
                    }
                }
                &+dl{
                    padding:$x4 0 $x2;
                }
            }
            dd{
                padding:0 $x4;
                @include media($mobile-bp) {
                    padding:0;
                    max-height: inherit;
                }
            }
            a {
                color: #888;
                padding: $x2 0;
                display: block;
            }
        }
    }

    &__bottom {
        padding:$x2 0;
        @include max-width;
        @include outer-gutter;
        margin:0;
        font-size:13px;
        display: flex;
        flex-flow:wrap;
                    justify-content: space-between;
        @include media($mobile-bp) {
            align-items: center;
            margin:$x4 auto 0 auto;
        }
        &-copyright{
            padding:$x2 0;
            font-weight:lighter;
            order:2;
            display: flex;
            font-size:12px;
            align-items: center;
            @include media($mobile-bp) {
                order:1;
            }
        }
        &-payment {
            padding:$x2 0;
            order: 1;
            justify-content: space-between;
            @include media($mobile-bp) {
                margin: 0;
                order: 2;
            }
            display:flex;
            align-items:center;
        }
    }
}

.m-payment-list{
    list-style:none;
    margin: 0 $x2;
    display:flex;
    align-items:center;
    li {
        margin: 0 0 0 $x1;
        img{
            width:36px;
        }
    }
}


.subscribe-form{
        &__wrap {
        }
        text-align: left;
        padding:$x2 $x4;
        @include media($mobile-bp) {
            padding:$x2 0;
        }
        .subscribe-form-field{
            margin:$x2 0 $x1;
            input{width:100%;max-width:300px;}
        }
        input{            
            width: 100%;
            padding:$x2 $x4;
            font-size:16px;
            @include media($media-m) {
                font-size:14px;
            }
        }
}


                [data-module="toggle-reveal"] {
                    position: relative;
                    &~dd,
                    &~.js-toggle-reveal-content {
                        max-height: 0;
                        @include media($mobile-bp) {
                            max-height: 2000px;
                        }
                        transition: max-height .3s linear;
                        overflow: hidden;
                    }
                    &:after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        right: 0;
                        top: 0;
                        background-image: url('../images/t7/icon-add.svg');
                        @include media($mobile-bp) {
                            background-image: url('../images/t7/icon-minus.svg');
                        }
                        background-repeat: no-repeat;
                        background-position: center right;
                        background-size: 24px;
                        @include media($mobile-bp) {
                            background-size: 16px;
                        }
                        opacity: .75;
                    }
                }

                [data-module="toggle-reveal"].toggle-reveal {
                    &~dd,
                    &~.js-toggle-reveal-content {
                        max-height: 1000px;
                        @include media($mobile-bp) {
                            max-height: 0;
                        }
                    }
                    &:after {
                        background-image: url('../images/t7/icon-minus.svg');
                        @include media($mobile-bp) {
                            background-image: url('../images/t7/icon-add.svg');
                        }
                    }
                }