// ------------------------------------- 
// 	MODULE: Gallery Tile Grid (ie instagram tile grid)
// -------------------------------------

$name                    : m-gallery-tile-grid;
$selector                : ".#{$name}";

//Selectors
#{$selector} {
    

    //.m-gallery-tile-grid__content
    &__content {
        box-sizing: border-box;
        display: block;
        width: 100%;

        @include media($media-s-max) {
            overflow: scroll;
            overflow-y: -moz-hidden-unscrollable;
            -webkit-overflow-scrolling: touch;
            padding-bottom: 10px;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    //.m-gallery-tile-grid__inner
    &__inner {

        @include media($media-m) {
            display: flex;
            flex-wrap:wrap;
        }
    }
    
    .slick-slide {
        &:nth-child(2){
            display: none !important;
        }
    }
    

    //.m-gallery-tile-grid__tile
    &__tile {
        @include media($media-m) {
            width: 33.333%;
        }

    }

    //.m-gallery-tile-grid__header
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--top {
            padding: 0 $x4 $x5;
            @include media($media-m) {
                display: none;
            } 
        }

        &--tile {
            display:none;

            @include media($media-m) {
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                position: absolute;
                top:0;
                left:0;
            } 
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 $x4 $x5;
        @include media($media-m) {
            display: none;
        }
    }

    //.m-gallery-tile-grid__logo
    &__logo {
        width: $x8;
        height: $x8;
        margin-bottom: $x5;

        @include media($media-m) {
            width: 1$x1;
            height: 1$x1;
        }
    }

    //.m-gallery-tile-grid__heading
    &__heading {
        text-align: center;

        @include media($media-m) {
            margin-bottom: $x5;
        }
    }
}