//
// ------------------------------------- 
// 	MODULE: #HEADER
// -------------------------------------
//  Project specific header module
//
// 
// -------------------------------------
// 	Vars
// -------------------------------------
//
$name: m-header;
$selector: ".#{$name}";



body > header{
    box-shadow:0 2px 6px rgba(57,57,57,.12);
    position: relative;
    z-index: 9999;
}

//.m-header
#{$selector} {


        background-color: $theme-color-b;
        height: $header-mobile-height;
        @include media($mobile-bp) {
            height: $header-desktop-height;
        }


    padding: 0;
    width: 100%;
    a{
        text-decoration: none;
        color:#fff;
    }  

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: $header-top-height;
        border-bottom: 1px solid rgba(255, 255, 255, .08);
    }

        height:$header-mobile-height;
        @include media($mobile-bp) {
            height: $header-desktop-height;
        }
    &__top {
        
        margin: 0 auto;
        display: flex;
        height:$header-top-height;
        @include max-width;
        @include outer-gutter();
        position: relative;
        z-index: 1;

        // @include media($media-s-max) {
        //     display:none;
        // }

        &-icons {
            flex: 0 0 50%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: $header-top-height;
            &--stores {
                font-size: 12px;
            }
            &--login {
                display:none;
                @include media($mobile-bp) {
                    display:flex;
                }
                justify-content: flex-end;
                font-size: 12px;
                line-height: 1;
                em{
                    text-decoration: underline;
                    color:#fff;
                }
            }
            &--login,
            &--user {
                display:flex;
            }
            &--logout {
                margin-left:$x2;
                padding-left:$x2;
                border-left:1px solid #555;
            }
            &--text {
                margin-left:$x1;
            }
        }
    }
    &__store-text {
        color: #fff;
    }
    &__main {
        display: flex;
        margin: 0 auto;
        flex-flow:wrap row;     
        justify-content: center;
        align-items: center;
        height:$header-mobile-height - $header-top-height;
        @include media($mobile-bp) {
            height: $header-desktop-height - $header-top-height;
            padding: 0;
        }
        @include max-width;
        @include outer-gutter();
        .c-icon {
            +span {
                margin-left: $x2;
            }
        }
    }
    /* Logo styling */
    &__logo {
        flex: 1;
        display:flex;
        justify-content:center;
        align-items: center;
        a{
            display:flex;
            justify-content:center;
            align-items: center;
            max-width:120px; 
            margin:0 auto;
            width:100%;
        }
        svg {
            width:100%;
        }
        @include media($mobile-bp) {
            a{
                justify-content:flex-start;
                max-width:170px;
                margin:0 auto 0 0;
            }
            flex: 0 0 11%;
            padding:0;
        }
    }
    /* Hamburger styling */
    &__burger {
        display: flex;
        height: 20px;
        flex:0 0 20%;
        color: #ffffff;
        text-decoration: none;
        align-items: center;
        @include media($mobile-bp) {
            display: none;
        }
        &:hover {
            color: #ffffff;
            text-decoration: none;
        }
    }
    /* Icon styling */
    //m-header2__icons
    &__icons {
        display: flex;
        align-items: center; //m-header2__icons--mobile
        &--cart {
            flex:0 0 20%;
            @include media($mobile-bp) {
                padding-left:2.5%;
                flex: 0 0 20%;
                height: 100%;
            }
            @include media($media-xl) {
                  flex: 0 0 15%;
            }
            justify-content: flex-end;
            @include media($mobile-bp) {
                justify-content: space-between;
            }
        } //m-header2__icons--tablet
    } //m-header2__link-seperator
    &__icon-btn {
        text-decoration: none;
        margin: 0;
        display: flex;
        align-items: center;
        &--cart {
            height:100%;
            padding:0 $x2;
        }
        &--wishlist {
            display:none;
            @include media($mobile-bp) {
                display:flex;
            }
        }
    }
    &__icon-btn-link {
        text-decoration: none;
        display: flex;
        align-items: center;
        &:hover {
            text-decoration: underline;
            color: white; // .m-header__icon-btn-text {
            //   text-decoration: underline;
            // }
        }
    } //m-header__icon-btn-text
    &__icon-btn-text {
        color: white;
        text-decoration: none;
        white-space: nowrap;
    }
    &__icon-btn-icon {
        text-decoration: none;
        fill:#fff;
    }
    &__icon {
        &--profile {}

        &--account {
            width: 1em;
            height: 1em;
            @include media($media-l) {
                margin-left: 25px;
            }
        }
    }
    /* Navigation styling */
    &__subnav {
        display: none;
        background-color: $color-black;
        justify-content: center;
        position: relative;
        &:before,&:after{
            content:"";
            width:1.5rem;
            top:0;
            height:100%;
            position:absolute;
            z-index: 1;
            left:0;
            background:linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
        }
        &:after{
            left:auto;
            right:0;
            background:linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
        }
        @include media($mobile-bp) {
            display: flex;
        }
    }
    &__subnav-list {
        height: 40px;
        display:flex;
        border-top:1px solid rgba(0, 0, 0, .1);
        overflow: hidden;
        overflow-x: auto;
        white-space:nowrap;
        @include max-width;
        @include outer-gutter();
        a:hover {
            color:#fff;
        }
    } //m-header2__nav-item
    &__subnav-item {

    } //m-header2__link
    &__subnav-link {
        display: flex;
        font-size: 14px;
        color: #d8d8d8;
        padding: 5px 0;
        text-decoration: none;
        height: 100%;
        align-items: center;
        transition: color 0.25s, border-color 0.25s;
        text-align: left;
        margin-right: 25px;
        width: auto;
    }


    &__features {
        @include max-width;
        @include outer-gutter();
        margin: 0 auto;
        display: none;
        background-color:#fff;
        @include media($mobile-bp) {
            display: block;
        }
        .c-icon-feature-icon {
            margin: 0 $x2 0 0;
        }
        .c-icon-flybuys {
            margin: 0 $x2 0 0;
            fill: $theme-color-d;
            height: 54px;
            width: 54px;
        }
        .c-icon-partpay {
            margin: 0 $x1 0 0;
            fill: $theme-color-d;
            height: 24px;
            width: 24px;
        }
        ul {
            display: flex;
            height: 40px;
            align-items: center;
            justify-content: space-between;
        }
        a {
            line-height: 1;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 13px;
        }
    }

}



    /* Search bar styling */
$name: m-search;
$selector: ".#{$name}";
#{$selector} {
            width: 100%;
            position: relative;
            display: flex;
            align-content: center;
            justify-content: center;

    &__wrap {
            display: flex;
            width: 100%;
            flex: 1 0 100%;
            @include media($media-m-max) {
                order: 5;
            }

            align-content: center;
            justify-content: center;
            @include media($mobile-bp) {
                flex: 1;
                padding: 0 3%;
            }
    } 
    //m-search-field
    &__field {
        position: relative;
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        font-size: 1rem;
        white-space: nowrap;
        border: none !important;
        &:focus {
            border: none;
        }
    }

    &__form {
        margin: 0;
        width: 100%;
        input {
            width: 100%;
            padding: $x2 $x4;
            font-size: 14px;
            @include media($media-m) {
                font-size: 14px;
            }
        }
    } 
        //m-search-button
        &__button {
            position: absolute;
            top: 1px;
            right: 0;
            background: none;
            border: none;
            height: 100%;
            display: flex;
            align-items: center; // color: lighten($color-b, 20%);
            &:hover {
                border: none;
                background: none;
            }
            @include media($media-m) {
                top: 0;
                right: 2px;
            } 
            //m-search__button__icon
        }

        &__icon {
            color: lighten($color-b, 20%);
            width: 25px;
            height: 25px;
            transition: color 0.25s linear;
        }
}