//
// ------------------------------------- 
// 	MODULE: HERO
// -------------------------------------
//  
//

$name                    : m-hero;
$selector                : ".#{$name}";

#{$selector} {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding-bottom: $x2;
    align-items: center;
    display: flex;
    flex-direction: column;
    z-index: 0;

    @include media($media-m) {
        padding-bottom: 0;
    }

    // m-hero__image
    &__image {
        box-sizing: border-box;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: auto;
        margin: 0 auto;
        overflow: hidden;
        max-height: 330px;
        @include aspect-9-by-4;
        background-color: $color-grey-light-80;

        @include media($media-s-max) {
            order:1;
        }
        
        @include media($media-m) {
            max-height: 330px;
        }

        // @include media($media-l) {
        //     max-height: 412px;
        // }

        @include media($media-xl) {
            // max-height: 25vw;
            max-height: 100%;
            @include aspect-4-by-1;
        }

        @include media($media-xxl) {
            max-height: 480px;
        }

        #{$selector}--clp & {
            max-height: 100%;
            background-color:white;
            @include aspect-9-by-4;
            
            @include media($media-l) {
                @include aspect-3-by-1
            }
            
        }
    }

    // m-hero--overlay
    &--overlay {

        &--dark {
            background-color: rgba(0,0,0,0.2);
        }

        &--light {
            background-color: rgba(255,255,255,0.2);
        }
    }

    // m-hero__heading
    &__heading {
        // width: 100%;
        margin-bottom: $x8;
        text-shadow: 0 , 4px, 6px, rgba(57, 57, 57, 0.06);
        @include header-font-size-xxl;
        text-align: left;

        @include ie-hack {
            letter-spacing: -6px;
        }

        #{$selector}--default & {
            @include font-script;
        }

        #{$selector}--simple-center & {
            text-align: center;
            margin-bottom: $x6;
        }

        #{$selector}--simple & {
            margin-bottom: $x6;
        }

        // @include media($media-l) {
        //     @include ie-hack {
        //         margin-bottom: 64px;
        //     }
        // }

        @include media($media-xxl) {
            font-size: 100px;
            @include ie-hack {
                margin-bottom: 48px;
            }
        }

        &--xxl {
            width: 100%;
            margin-bottom: $x2;
            text-align: center;
            #{$selector}__content & {

                @include media($media-m) {
                    height: 240px;
                }
            }
        }

        #{$selector}--clp & {
            margin-bottom: 0;
            @include header-font-size-xxxl;

        }
    }

    // m-hero__sub-heading
    &__sub-heading {
        text-transform: uppercase;
        @include font-header;
    }

    // m-hero__desc
    &__desc {
        margin: 0;
        display: none;
        text-align: center;

        @include media($media-m) {
            display: block;
            text-align: left;
        }

        @include media($media-l) {
            margin-bottom: 32px !important;
        }
    }

    // m-hero__breadcrumb-container
    &__breadcrumb-container {
        box-sizing: border-box;
        margin: 0 auto;
        background: #fff;
        padding: 0;
        color: #333;
        text-align: center;
    }

    // m-hero__wrap
    &__wrap {
        display: flex;
        width: 100%;
        align-items: center;
        position: relative;
        flex-direction: column;

    }

    // m-hero__overlay
    &__overlay {
        position:absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        z-index: 2;

        &--inline {
            background: linear-gradient(to right, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%,rgba(0,0,0,0) 70%)
        }

    }

    // m-hero__content-wrap
    &__content-wrap {
        z-index: 3;
        @include max-width;
        height: 100%;
        display: flex;
        align-items: flex-end;

        @include media($media-s-max) {
            order: 2;
        }

        @include media($media-m) {
            position: absolute;
            top:0;
            padding-bottom: 5%; //$x12;
            left:50%;
            transform: translateX(-50%);
        }

        // m-hero__content-wrap--centered
        &--centered {
            justify-content: center;
        } 

        #{$selector}--clp & {
            justify-content: center;
           
            @include media($media-s-max) {
                background-color: $color-grey;
                @include dark-theme;
            }
        }
    }

    // m-hero__shape
    &__shape {
        position: absolute;
        top:0;
        left:0;
        display: none;
        z-index: 0;
      
        .svg-fill{
            #{$selector}--bg-c & {
                fill: $color-c;
            }
            #{$selector}--bg-d & {
                fill: $color-d;
            }
            #{$selector}--bg-e & {
                fill: $color-e;
            }
            #{$selector}--bg-f & {
                fill: $color-f;
            }
        }

        @include media($media-m) {
            display: block;
            width: 690px;
            top: -40px;
            left: -160px;
            height: 200%;
        }

        @include media($media-l) {
            display: block;
            width: 840px;
            top: -80px;
            left: -160px;
        }

        @include media($media-xl) {
            top: -16%;
            left: -17%;
            width: 73%;
        }

        @include media($media-xxl) {
            top: -23%;
            left: -18%;
            width: 75%;
        }
    }

    // m-hero__content
    &__content {
        width: 100%;
        align-items: center; 
        padding: $x8 $x4 $x6;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;
    
        @include text-spacing;
        
        #{$selector}--bg-a & {
            background-color: $color-a;
            @include dark-theme;
        }

        #{$selector}--bg-b & {
            background-color: $color-b;
            @include dark-theme;
        }

        #{$selector}--bg-c & {
            background-color: $color-c;
            @include dark-theme;
        }
        
        #{$selector}--bg-d & {
            background-color: $color-d;
            @include dark-theme;
        }

        #{$selector}--bg-e & {
            background-color: $color-e;
            @include dark-theme;
        }

        @include media($media-m) {
            background-color: transparent !important;
            padding:0;
            width: calc(100% - #{$x8});
            max-width: 70%;
            margin-left: $x10;
            align-items: flex-start; 
            position: absolute;
            bottom:56px;
        }

        @include media($media-l) {
            max-width: 55%;
            margin-left: $x12;
        }

        @include media($media-xl) {
            width: 53%;
            margin-left: 0;//$x6;
        }

        // m-hero__content--left-bottom
        &--left-bottom {
            @include media($media-m) {
                bottom:0;
                padding: $x6;
            }
            @include media($media-l) {
                padding: $x8;
            }
            // @include media($media-xl) {
            //     margin-left: $x;
            // }
        }

        // m-hero__content--
        &--centered {
            @include media($media-m) {
                align-items: center;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                bottom:0;
                top:50%;
                margin: 0;
            }
        }

        #{$selector}--clp & {
            align-items: center;
            @include media($media-s-max) {
                padding: 32px;
            }
        }
    }

    // m-hero__btn
    &__btn {
        &--right {
            bottom: 0;
            margin-left: auto;
            @include media($media-m) {
                margin-right: $x10;
            }
    
            @include media($media-l) {
                margin-right: 1$x2;
            }
            @include media($media-xl) {
                margin-right: $x6;
            }
        }
        
        &--left {
            bottom: 0;
            margin-right: auto;
            @include media($media-m) {
                margin-left: $x6;
            }
    
            @include media($media-l) {
                margin-left: 1$x2;
            }
            @include media($media-xl) {
                margin-left: $x6;
            }

            &-m {
                @include media($media-m) {
                    margin-left: $x6;
                }
        
                @include media($media-l) {
                    margin-left: 1$x2;
                }
                @include media($media-xl) {
                    margin-left: $x6;
                }
            }
        }
       
    }

    // m-hero__belt
    &__belt {
        box-sizing: border-box;
        padding: 1px;

        @include media($media-s) {
            padding: 0;
        }

        @include media($media-m) {
            display: flex;
            flex-direction: row;
            z-index: 100;
            margin: auto;
            width: 100%;
            height: auto;
            overflow: none;
            margin-top: -$x6;
           
        }

        @include media($media-l) {
            overflow: hidden;

            //IE fix:
            .u-columns {
                flex-wrap: nowrap;
            }
        }
    }

    // m-hero__tile
    &__tile {
        min-height: 120px;
        margin: 1px;
        width: 100%;

        @include media($media-s) {
            min-height: 160px;
            margin: 1px;
        }
    }

}
