// ------------------------------------- 
// 	MODULE: T7 CLP Hero
// -------------------------------------
// 

$name                    : m-clp-hero;
$selector                : ".#{$name}";


//Selectors
#{$selector} {

    //.m-clp-hero__card
    &__card {
        @include media($media-m) {
            margin-top: -120px;
        }
        @include media($media-xl) {
            margin-top: -180px;
        }
        
    }


    
}
