//
// ------------------------------------- 
// 	MODULE: INSPIRATION
// -------------------------------------
//  
//

$name                    : m-inspiration;
$selector                : ".#{$name}";

#{$selector} {
    position: relative;

    @include media($media-s-max) {
        background-color: black; 
    }

    @include media($media-m) {
        padding-bottom: 80px;
    }

    @include media($media-l) {
        padding-bottom: 130px;
    }

    .m-wrap__inner {
        @include media($media-s-max) {
            margin: 0;
            padding: 0;
        }
    }

    //.m-inspiration__wrap
    &__wrap {
        width: 100%;
        display: block;
        overflow: hidden;
        position: relative;
        &:first-child {
            @include media($media-m) {
                padding-top: 40px;
            }
        }
    }

    //.m-inspiration__content
    &__content {
        position: relative;
        z-index: 2; 
        // padding-bottom: $x6;

        @include media($media-s-max) {
            // padding-bottom: $x8;
            // padding: $x6 0 56px 0;
            background-color: black;
        }

        @include media($media-m) {
            @include ie-hack{
                .u-columns__column--six-m {
                    width: 50%;
                }
            }
        }

    }

    //.m-inspiration__cards
    &__cards {
        // @include media($media-s-max) {
        //     overflow: scroll;
        //     overflow-y: -moz-hidden-unscrollable;
        //     -webkit-overflow-scrolling: touch;
        //     padding-bottom: 10px;

        //     &::-webkit-scrollbar {
        //         display: none;
        //     }
        // }
        // width: 100%;
        // display: block;
    }

    //.m-inspiration__cards-inner
    &__cards-inner {
        

        @include media($media-m) {
            display: flex;
            flex-wrap:wrap;
            width: 100%;
        }
    }

    //.m-inspiration__card
    &__card {
        
        position: relative;
        @include media($media-m) {
            @include aspect-8-by-9;
            display: flex;
            width: calc( (6 / 12) * 100%);
        }
    }

    //.m-inspiration__bg
    &__bg {
        position: absolute;
        width: 100%;
        height: 100%; 
        bottom:0;
        z-index: 1;
        background-position: center bottom;
        background-repeat:no-repeat;
        background-size: 100%;
        @include media($media-m) {
            background-image: url('../../assets/images/t7/banner-bottom.png');
        }
        @include media($media-xl) {
            background-image: url('../../assets/images/t7/banner-bottom-xl.png');
        }
    }

    //.m-inspiration__group
    &__group {
        position: relative;
        width: 100%;
    }

    //.m-inspiration__group-bg
    &__group-bg {
        @include media($media-m) {
            position: absolute;
            width: 100%;
            height: auto; 
            bottom:300px; 
            top:300px;
            z-index: 0;
            background-color: black;
        }
        
    }
    //.m-inspiration__bottom

    //.m-inspiration__bg
    // &__bg {
    //     position: absolute;
    //     width: 100%;
    //     top:0;
    //     // background-color: black; 
    //     bottom:0; 
    //     z-index: 0;

    //     @include media($media-s-max) {
    //        display: none;
    //     }
    // }

}
