
$megamenuTransition:none;
$megamenuTransitionDropdownDelay: 0;
$megamenuBgColor: #fff;
$megamenuSidebarWidth: 275px;
$megamenuColumnPadding: 2%;
$megamenuLinkPadding:$x3;
$megamenuAniTop:0;

@mixin megamenuTriangle {
    border-bottom: $x3 solid #fff;
    border-left: $x4 solid transparent;
    border-right: $x4 solid transparent;
}

$name: m-mainnav;
$selector: ".#{$name}";

#{$selector} {
    ul a {
            color: $theme-color-b;
    }
    display:none;
    @include media($mobile-bp) {
        flex:0 0 36%;
        margin:0;
        display:flex;
        height:100%;
        &:after{
            content:'';
            background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
            z-index: -2;
            width: 100%;
            height: 100%;
            position: absolute;
            top:100px;
            left:0;
            visibility:hidden;
            opacity: 0;
            pointer-events: none;
        }
        &:hover:after{
            visibility:visible;
            opacity: 1;
        }
        &>ul {
            display: flex;
            height:100%;
            width:100%;
            &>li{
                &:first-child{
                    padding-left:5%;
                }
                flex:1;
                &>a{
                    position: relative;
                    color: #fff;
                    display:block;
                    height:100%;
                    width:100%;
                    text-align: center;
                    line-height:$header-desktop-height - $header-top-height;
                    padding:0;
                    &:before {
                        transition: $megamenuTransition $megamenuTransitionDropdownDelay;
                        content: "";
                            @include megamenuTriangle;
                            position: absolute;
                            bottom:$megamenuAniTop;
                            opacity: 0;
                            left: 50%;
                            transform: translateX(-50%);
                    }
                }
            }
            li:hover{
                a:before{
                    opacity: 1;
                    bottom:0;
                }
                .m-megamenu__content--initial {
                    opacity: 1;
                    visibility: visible;
                    z-index: 2;
                }
                .m-megamenu__wrap {
                    opacity:1;
                    visibility:visible;
                    top:$header-desktop-height;
                    z-index: 9999;
                }
                .active {
                                    &>a {
                                        border-bottom: solid 2px $theme-color-b;
                                    }
                                    .m-megamenu__content {
                                        opacity: 1;
                                        visibility: visible;
                                        z-index: 2;
                                    }
                }
            }
        }
        &>ul>li {
            display: inline-block;
        }
    }
}

$name: m-megamenu;
$selector: ".#{$name}";
#{$selector} {
    &__wrap {
        
        @include media($mobile-bp) {
                &:before {
                    content: '';
                    background-color:$megamenuBgColor;
                    z-index: -1;
                    width: 100%;
                    height:100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                /*Unfocused State*/
                opacity: 0;
                visibility: hidden;
                z-index: -1;
                /*Focus State*/
                /*opacity:1;
                visibility:visible;
                right:0px;
                top:$header-desktop-height;*/
                top:$header-desktop-height - $megamenuAniTop;
                left:0;
                z-index: -1000;
                position: absolute;
                text-align: left;
                left: 0px;
                color: #333;
                transition: $megamenuTransition $megamenuTransitionDropdownDelay;
                display: block;
               //background-color:$megamenuBgColor; // $megamenuBgColor;
                padding: $x8 $x2;
                width: 100%;
            }
        }

    .m-tile-belt {
        overflow: inherit;     
    }

    .m-category-tile-belt__tile{
        margin:1px;
        width:100%;
    }

    @include media($mobile-bp) {
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        @include max-width;
        @include outer-gutter;
        &__title{
            color:#888;
            padding: $x4 $x6;
        }
        &--viewall{
            color:#888;
        }
        &__content {
            position: absolute;
            top: 40px;
            left: 0;
            transition: $megamenuTransition $megamenuTransitionDropdownDelay;
            opacity: 0;
            visibility: hidden;
            padding-top: 0;
            padding-bottom: 0;
             z-index: 1;
               justify-content: flex-end;
            width: 100%;
            background-color: $megamenuBgColor;
        }

                &_col,&__col {
                    flex: 1;
                    padding: 0;
                    margin: 0 auto;
                    @include max-width;
                    padding-left: $megamenuSidebarWidth;
                    width: 100%;
                    padding-bottom:$x8;
                    position: relative;
                    &:before {
                        content: "";
                        border-left: 1px solid #cfcfcf;
                        position: absolute;
                        top: 0;
                        width: 1px;
                        margin-left: -50px;
                        height: 92%;
                    }
                    &#{$selector}_cols,
                    &#{$selector}__cols {
                        ul {        
                            a {
                                padding-bottom: $x4;                 
                                font-size: 14px;
                            }
                        }
                        &>ul>li>a{
                            padding-top: $x2;
                        }

                        ul ul a {
                            color: #888888;
                        }
                        &>ul {
                            padding-bottom:0;
                            @include columns(3, $megamenuColumnPadding);
                            @include media($media-xl) {
                                @include columns(4, $megamenuColumnPadding);
                            }
                            @include media($media-xxl) {
                                @include columns(5, $megamenuColumnPadding);
                            }
                            &>li {
                                @include columns-break;
                                a:hover{
                                    text-decoration: underline;
                                }
                            }
                        }

                    }
                }
                &__banner{
                    padding:0;
                    margin-top:-$x4;
                }
                &__banner--right {
                    position:absolute;
                    right:0;
                    top:0;
                }
        &-shop {
            width: 20%;
            min-height: 250px;
                    a {
                        text-decoration: none;
                        display: block;
                    }
            &>li {
                padding-left: $megamenuColumnPadding;
                &>a {
                    display: inline-block;
                    padding: $x1 0;
                    margin: $x2 0 $x1;
                    border-bottom: solid 2px $megamenuBgColor; //width:$megamenuSidebarWidth;
                    position: relative;
                    z-index: 3;
                }                

            }
        }
    }
    &--brands{
        a:after{display:none;}
        &>ul{
            .m-megamenu--viewall {
                width: 100%;
                flex:0 0 100%;
                @include media($mobile-bp) {
                    a{margin-left:auto;}
                }
            }
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            width:100%;
            padding:0;
            &>li:not(.m-megamenu--viewall) {
                display:flex;
                text-align: center;
                align-items:center;
                justify-content: center;
                flex: 0 0 33.33%;
                @include media($media-m) {
                    flex: 0 0 25%;
                }
                @include media($media-l) {
                    flex: 0 0 20%;
                }
                @include media($media-xl) {
                    flex: 0 0 16.666%;
                }
                margin:$x4 0;
                &>a{
                    padding:$x4;
                    @include media($mobile-bp) {
                        padding:$x4;
                    }
                    img {
                        @include media($mobile-bp) {
                            max-width:72%;
                        }
                        height: auto;
                        display: block;
                        opacity: .8;
                        margin:auto;
                        min-width:140px;
                        height: 100%;
                        width: 100%;
                        transition: $megamenuTransition;
                    }
                    &:hover img{
                        opacity:1;
                    }
                }
            }
            li:last-child {
                margin-right: auto;
            }
        }
    }
} 


