$name: m-mini-cart;
$selector: ".#{$name}";

//.m-mobile-menu-header
#{$selector} {
    &__wrap{
        height:100%;
    }
    a {
        color: $theme-color-b;
    }
    display:none;
    @include media($mobile-bp) {
        &__wrap{
            position: relative;
            &>a{
                &:before {
                    transition: $megamenuTransition $megamenuTransitionDropdownDelay;
                    content: "";
                    @include megamenuTriangle;
                    position: absolute;
                    bottom: $megamenuAniTop;
                    opacity: 0;
                    visibility: hidden;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            &.is-active:hover {
                a:before {
                    opacity: 1;
                    bottom:0;
                    visibility: visible;
                }
                .m-mini-cart {
                    opacity:1;
                    visibility:visible;
                    top:$header-desktop-height - $header-top-height;
                }
            }
        }
        display:block;
        opacity:0;
        visibility:hidden;
        padding: $x4;
        z-index: 9999;
        position: absolute;
        right:-$x2;
        top:$header-desktop-height - $header-top-height - $megamenuAniTop;
        left:auto;
        width:300px;
        transition: $megamenuTransition $megamenuTransitionDropdownDelay;
        background-color:#fff;
    }
    &__item {
        a {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #eee;
            padding: $x2 0;
            width: 100%;
        }
        .m-mini-cart__total{
            padding:$x1 0;
        }
        &--more {
            a{
                padding: $x4 0;
                font-size: 14px;
                border-bottom: 1px solid #eee;
            }
        }
    }
    &__image {
        align-self: flex-start;
    }
    &__desc {
        flex:1;
        padding-left:5%;
        font-size:14px;
        display:flex;
        flex-wrap:wrap;
        p{
            flex:0 0 100%;
        }
        small{
            font-size:12px;
            color:#888;
            display:block;
            width:100%;
        }
    }
    &__total {
        display:flex;
        font-size:14px;
        width:100%;
        justify-content: space-between;
        padding:$x4 0;
    }
    .c-btn{
        width:100%;
    }
}