
$name: m-mobilemenu;
$selector: ".#{$name}";


$menuWidth:100%;

.mobilemenu-show {
    position: relative;
    overflow: hidden;
    .m-mobilemenu {
        opacity: 1;
        position: fixed;
        visibility: visible;
        overflow: hidden;
        z-index:9999;
        overflow-y: auto;
          -webkit-overflow-scrolling: touch;
    }
}


#{$selector} {
    background-color:#fff;
    @include media($mobile-bp) {
        display:none;
    }
    //.m-mobilemenu-header
    &-header{
        background-color: $theme-color-b;
        height:$header-mobile-height;
    }
    ul a,ul .cat-back {
        padding: $x4 $x6;
        font-size: $x4;
        display: block;
        color: $theme-color-b;
    }
    /*Focused*/
    opacity: 0;
    visibility: hidden;
    transition: $megamenuTransition;
    position: absolute;
    background-color: #fff;
    z-index: 999;
    overflow: hidden;
    height: 100%;
    width: $menuWidth;
    top: 0;
    left: 0;
    ul {
        width: $menuWidth;
    }
    /*first level*/
    .m-mobilemenu-content>ul {
        position:absolute;
        top:0;
        left:0;
        transition:all .2s linear;
    }
    &.sub-cat .m-mobilemenu-content > ul {
        left: -$menuWidth;
    }
    &.sub-cat2 .m-mobilemenu-content > ul {
        left: -$menuWidth * 2;
    }
    
    .m-mobilemenu-shop{
        max-height:260px;
        transition:max-height .2s linear;
        overflow: hidden;
        &-expanded-show{
            display:block;
        }
        &-expanded-hide{
            display:none;
        }

    }
    .m-mobilemenu-shop-expanded{
        &~.m-mobilemenu-shop-expanded-show{
            display:none;
        }
        &~.m-mobilemenu-shop-expanded-hide{
            display:block;
        }
        .m-mobilemenu-shop{
            max-height:600px;
        }
    }

    .m-mobilemenu-content {
                width: 100%;
                display: block;
                overflow: hidden;
                position: absolute;
                top: 140px;
                left: 0;
                transition:height .2s linear;
   

        .m-mobilemenu-shop ul,
        .m-mobilemenu-brands,
        .m-mobilemenu-service {
            width: $menuWidth;
            display: block;
            position: absolute;
            top: 0;
            background: #fff;
        }
        /*shop third level*/
        .m-mobilemenu-shop ul,
        .m-mobilemenu-brands,
        .m-mobilemenu-service {
            left: $menuWidth;
        }


        .is-active > ul{
            z-index: 1000;
        }

        .cat-title,.cat-back{
            border-bottom: 1px solid #eee;
        }
        .cat-title{
            font-weight:bold;
            text-decoration:underline;
        }

        &>ul>li {
                &>a {
                    border-bottom: 1px solid #eee;
                    border-top: 1px solid #eee;
                    font-weight: bold;
                }
                &>a.no-menu{
                    color:$theme-color-d;
                    font-weight:normal;
                    border:none;
                    &:after{display:none;}
                }
            &:last-child a{
                border:0;
            }
                a,
                .cat-back {
                    position: relative;
                    &:after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        right: $x8;
                        pointer-events: none;
                        top: 0;
                        background-image: url('../images/t7/chevron-right.svg');
                        background-repeat: no-repeat;
                        background-position: center right;
                        background-size:10px;
                        opacity: .75;
                    }
                }
                .cat-back{
                    padding-left:$x8 * 2;
                    &:after {
                        background-image: url('../images/t7/chevron-left.svg');
                        background-position: center left;
                        right:auto;
                        left:$x8;
                    }
                }
                a[href]{
                    &:after{
                        display:none;
                    }
                }
        }
    }





    .m-header__main{
        padding:0;
    }
    .m-header__icon-btn--wishlist{
        display:inline-block;
        span{
            display:none;
        }
    }
    .m-header__icon-btn--cart {
        margin-left: 10%;
    }
    .m-header__icons--cart{
        justify-content: flex-end; 
    }
    .m-header__top-icons--login{
        flex:0 0 100%;
        display:flex;
        height:55px;
        @include outer-gutter;
        background-color:#000;
    }
    .m-header__burger,.m-header__icons,.m-header__top-icons--user,.m-header__top-icons--logout{
        flex:0 0 50%;
        height:55px;       
        @include outer-gutter;
    }
    .m-header__top-icons--logout,.m-header__top-icons--user{
        display: flex;
        align-items:center;
        justify-content:center;
        span{
           font-size:$x4;
        }
    }
    .m-header__top-icons--logout{
        border-left:2px solid $theme-color-b;
        margin:0;
        padding:0;
    }
    figure img {
        display:none;
    }
}



