// ------------------------------------- 
// 	MODULE: FOOTER
// -------------------------------------

$name                    : m-product-belt;
$selector                : ".#{$name}";

//Selectors
#{$selector} {
    display: block; 
    // overflow: scroll;
    // overflow-y: -moz-hidden-unscrollable;
    // -webkit-overflow-scrolling: touch;

    // &::-webkit-scrollbar {
    //     display: none;
    // }
    
    @include media($media-xs-max) {
        margin: 0 30% 0 0;
        width: 70%;
    }

    @include media($media-s) {
        margin: 0 16px;
    }
    @include media($media-l) {
        margin: 0;
    }

    &__wrap {
        position: relative;
        width: 100%;

        opacity: 0;
        transition: opacity 0.5s linear;

        &.is-active {
            opacity: 1;
        }

        .c-btn--carousel {
            @include media($media-s-max) {
                display:none !important;
            }
        }
    }

    //.m-product-belt__ambient-text-bg
    &__ambient-text-bg {
        position: absolute;
        top:0;
        width: 100%;
        display: none;
        left: 50%;
        transform: translateX(-50%);

        @include media($media-m) {
            display: block;
            top: 35px;
            width: 80%;
        }

        @include media($media-l) {
            width: 70%;
            top: 70px;
        }

        @include media($media-xl) {
            width: 60%;
            top: 65px;
        }
    }
    
    //.m-product-belt__ambient-text
    &__ambient-text {
        font-size: 100px;
        line-height: 1;
        position: absolute;
        top:0;
        width: 100%;
        // justify-content: center;
        @include font-script;
        color: #F8F8F8;
        z-index: 0;
        display: none;
        left: 0%;
        // -ms-transform: translateX(-10%);
        text-align: center;

        @include media($media-m) {
            display: block;
            top: 30px;
        }

        @include media($media-l) {
            font-size: 150px;
            top: 60px;
        }

        @include ie-hack {
            letter-spacing: -20px;
    
            @include media($media-l) {
                top: 30px;
            }
        }
    }

    //.m-product-belt__inner
    &__inner {
        display: flex;
        flex-wrap:nowrap;
        width: 2000px;

        // @include media($media-l) {
        //     width: $max-width-l;
        // }
        // @include media($media-xl) {
        //     width: $max-width-xl;
        // }

        &--stacked {
            flex-wrap: wrap;
            width: 100%;

            @include media($media-m) {
                flex-wrap: nowrap;
                width: 2000px;
            }
        }
    }

}