// ------------------------------------- 
// 	MODULE: Site tree module
// -------------------------------------

$name                    : m-site-tree;
$selector                : ".#{$name}";

//Selectors
#{$selector} {
    position: relative;
    overflow: hidden;
    transition: height 0.5s $transition-easing;
    display: block;

    @include media($media-m) {
        height: 300px;
    }
    @include media($media-xxl) {
        height: auto;
    }

    &__wrap {
        &.is-hidden {
            display:none;
        }
        @include media($media-xxl) {
            .m-site-tree__btn {
                display: none;
            }
        }
    }
    
    &.toggle-reveal {
        height: auto !important;
    }

    &__overlay {
        position: absolute;
        width: 100%;
        height: 25%;
        z-index: 1;
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3) 100%);
        opacity: 1;
        transition: opacity 0.25s linear;
        bottom: 0;

        .toggle-reveal & {
            opacity: 0;
        }

        @include media($media-xxl) {
            display: none;
        }
    }
    
    > ul {
        padding-bottom: $x2;
        @include media($media-xxl) {
            padding:0 0 $megamenuLinkPadding;
        }
        > li{
            padding-bottom: $x6;

            > a {
                padding-bottom: $x4;
                font-weight: bold;
                font-size: 14px;
                display: block;

                @include media($media-xxl) {
                    padding:0 0 $megamenuLinkPadding;
                }
            } 

            > ul{
                > li {
                    a {
                        font-size: 14px;
                        color: $color-grey-light-40;
                        padding-bottom: $x2;
                        display: block;
                    }
                }
            }
        }
    }

    ul ul a {
        color: #888888;
        font-weight: normal;
    }

    &>ul {
        @include columns(3, $megamenuColumnPadding);
        @include media($media-l) {
            @include columns(4, $megamenuColumnPadding);
        }
        @include media($media-xl) {
            @include columns(5, $megamenuColumnPadding);
        }
        &>li {
            @include columns-break;
        }
    }
}
