// ------------------------------------- 
// 	MODULE: Tile BELT (eg brand tile belt)
// -------------------------------------

$name                    : m-tile-belt;
$selector                : ".#{$name}";

//Selectors
#{$selector} {
    box-sizing: border-box;
    display: block;
    width: 100%;
    overflow-x: scroll;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }

    @include media($media-l) {
        overflow: hidden;
        overflow-x: hidden;
    }

    @include media($media-xl) {
        display: flex;
        justify-content: center;
    }

    &__inner {
        display: flex;
        flex-wrap:nowrap;
        // width: 1024px;

        @include media($media-l) {
            width: 100%;
        }
    }
}