// ------------------------------------- 
// 	MODULE: T7 Module wrapper
// -------------------------------------
// Extended from Core > wrap. Onlu includes T7 additions / differences

$name                    : m-wrap;
$selector                : ".#{$name}";


//Selectors
#{$selector} {

    //.m-wrap--spacious
    &--spacious{
        @include media($media-l) {
            padding-top: 56px;
        }
    }

    //.m-wrap--content-image
    &--content-image{
        
        @include media($media-s-max) {
            background-image:none !important;
            background-color: white;
        }
        @include media($media-m) {
            background-position: left bottom;
            background-size: 50%;
        }
    }

    //.m-wrap__heading
    &__heading {
        text-transform: uppercase;
        font-weight: $font-weight-regular;

        @include media($media-s-max) {
            font-size: 14px;
        }
    }
    
    //.m-wrap__header
    &__header {
        .m-clp-hero__card & {
            @include media($media-m) {
                padding-top: 24px;
            }
        }

    }
    
    //.m-wrap__inner
    &__inner {
        margin: 0;
        
        @include media($media-m){
            // margin: $x6 0;
        }

        // #{$selector}--hero-belt & {
        //     @include media($media-m) {
        //         margin: 0;
        //     }
        // }
    } 

    &__footer {

        #{$selector}--deals & {
            @include media($media-m) {
                padding-top: 8px;
            }
        }
    }
}
