{% import "html/red/macros/module.html" as wrapMacro %}

<!-- Buyers guide hero module template -->
{% macro hero(options) -%} 
    {% if options.heading.mobile %}
    <h1 class="u-h1 u-hide-up-m m-buyers-hero__heading">{{ options.heading.mobile | safe }}</h1>
    {% endif %}

    <section class="m-buyers-hero t-text--{{ options.theme | safe }}" data-responsive-background-src data-src-m="{{ options.desktopImage | safe }}" data-src-s="{{ options.mobileImage | safe }}">
        {% if options.heading.desktop %}
        <h1 class="u-xxl m-buyers-hero__heading u-hide-down-m">{{ options.heading.desktop | safe }}</h1>
        {% endif %}

        {% if options.ratioClasses %}
        <div class="{{ options.ratioClasses | safe }} t-text--{{ options.theme | safe }}">
        </div>
        {% endif %}

        {% if options.categoryBreadcrumb %}
            {% call wrapMacro.moduleWrapCarded(options) %}
                <section class="m-buyers-hero__breadcrumb-container">
                    <div class="c-breadcrumb u-hide-down-m"><p class="u-p3">{{ options.categoryBreadcrumb | safe }}</p></div>
                </section>
            {% endcall %}
        {% endif %}
    </section>
{%- endmacro %}

<!-- Set the buyers guide hero module -->
{% macro buyersHeroModule() -%}

    <!-- Set the buyers guide hero image options -->
    {%
        set options = {
            theme: "light",
            heading: {
                mobile: "Buyers Guide",
                desktop: "Heaters Buyers Guide"
            },
            mobileImage: "/assets/images/test/heater-mob.jpg",
            desktopImage: "/assets/images/test/heater.png",
            ratioClasses: "u-aspect-nine-by-two-m u-aspect-three-by-four",
            categoryBreadcrumb: "Home / Home &amp; Garden / Home Appliances / Fans, Heaters &amp; Dehumidifiers / Heaters Buyers Guide"
        }
        %}

    <!-- Call the buyers guide hero module -->
    {{ hero(options) }}

{%- endmacro %}