/* Basic Styles
--------------------------------*/

//bootstrap added for prototyping:
//@import 'vendor/bootstrap/bootstrap';

//folder structure and cascading heirarchy structure based on ITCSS:

//global available settings, variables, colors, spacing units etc
@import 'settings/__settings';

//default mixins and functions
@import 'tools/__tools';

//unclassed HTML elements, H tags, lists, blockquotes
//@import 'generic/__generic';
//@import "generic/_reset";
//ReInclude Box Sizing after Reset removed
header,footer,main {
    div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    *,*:before,*:after {
        box-sizing: border-box;
    }
}
@import "generic/_icons";
@import "generic/_forms";
//@import "generic/_typography";
header,footer,main {
    h1,h2,h3,h4,h5,h6 {
        margin: 0;
        @include header-font-size-h3;
    }

    p,a,figure,li {
        margin: 0;
    }

    // // Links
    // ///////////////////////////////////////////////////////////////////////////////
    a {
        color: $color-text;
        &:active,&:focus {
            outline: none;
        }
        &:hover {
            color: $color-link;
        }
    }
}
@import "generic/slick";


//@import 'base/__base';
//Override _body.scss
body{
    margin:0;
}
header, footer, main {
    background-color: $color-body;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: $color-text; //text-font-size-p2 mixin minus text-crop as that causes issues on body tag
    @include font-text();
    line-height: $text-line-height-p2;
    font-size: $text-font-size-p2;
    letter-spacing: 0.25px;
    @include media($media-m) {
        font-size: $text-font-size-p2-m;
        line-height: $text-line-height-p2;
    }
    @include media($media-l) {
        font-size: $text-font-size-p2-l;
        line-height: $text-line-height-p2;
    } //adds breakpoint the :before element of the body tag.
    &:before {
        content: "mobile";
        display: none;
        /* Prevent from displaying. */
        @include media($media-s) {
            content: "600";
        }
        @include media($media-m) {
            content: "768";
        }
        @include media($media-l) {
            content: "1024";
        }
        @include media($media-xl) {
            content: "1320";
        }
        @include media($media-xxl) {
            content: "1680";
        }
    }
}




//UD Core objects
//(based on OOCSS) Design patterns, No cosmetics, agnostically named, adds layout to objects
// @import 'core-includes';
// @import 'objects/__objects';

//styled modules & components:
@import 'components/__components';
@import 'modules/__modules';

//overrides, helpers, utilites, only affects one element at a time
@import 'utilities/__utilities';