// ------------------------------------- 
// 	MODULE: CONTENT CARD
// -------------------------------------
//  
//


$name                    : m-content;
$selector                : ".#{$name}";

//Selectors
#{$selector} {
    box-sizing: border-box;
    width: 100%;
    margin: auto;

    // m-content--info-grid
    // &--info-grid {
        
    // }

    // m-content__info-card
    &__info-card {
        margin-bottom: $x3;
    }

    // m-content__info-card-header
    &__info-card-header {
        width: 100%;
        margin: $x7 auto;
        padding-bottom: $x7;
        text-align: center;
        border-bottom: 1px solid #979797;

        @include media($media-m) {
            width: 97%;
        }
    }

    // m-content__info-container-wrap
    &__info-container-wrap {
        justify-content: space-between;
    }

    // m-content__info-content
    &__info-content {
        width: 100% !important;
        display: flex;
        flex-direction: row;
        margin-bottom: $x8;
        text-align: left;

        @include media($media-m) {
            flex-direction: column;
            margin: 0 0 $x8;
            text-align: center;
            width: 45%;
        }

        @include media($media-l) {
            margin: 0;
        }
    }

    // m-content__info-image
    &__info-image {
        width: $x8;
        height: $x8;
        margin-right: 13px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        @include media($media-m) {
            background-size: cover;
            margin: 0 auto $x7;
            width: $x27-5 !important;
            height: $x27-5 !important;
        }
    }

    // m-content__info-text
    &__info-text {

        &__heading {
            margin-bottom: $x3;

            @include media($media-m) {
                margin-bottom: $x5;
            }
        }
    
    }

    // m-content__link
    &__link {
        display: block;
        color: $color-text;
        margin-bottom: $x2-5;
    }




    // 
    // M-CONTENT TEXT CONTAINER
    ////////////////////////////////////////

    // m-content__text-container & m-content__heading-container
    &__text-container,
    &__heading-container {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: $x5 0;
        text-align: center;

        @media (min-width: 768px) {
            width: 50%;
            text-align: left;
            padding: $x2-5 $x7-5;
            width: 50%;
        }

        // m-content__text-container--product
        &--product {
            position: relative;
            padding: $x6;
        }
    }

    // m-content__text-heading
    &__text-heading {
        text-align: center;
        @include text-spacing;
        text-transform: none !important;

        @media (min-width: 988px) {

        }
    }

    // m-content__text-subheading
    &__text-subheading {
        text-align: left;
        @include text-spacing;
    }

    // m-content__text-copy
    &__text-copy {
        @include text-spacing;

        @media (min-width: 768px) {
            text-align: left;
            @include text-spacing;
        }
    }


    


    // 
    // M-CONTENT IMAGE CONTAINER
    ////////////////////////////////////////

    // m-content__image-container
    &__image-container {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @include media($media-m) {
            width: 50%;
        }
    }




    // 
    // PRODUCT CONTENT TYPE CONTAINER
    ////////////////////////////////////////

    // m-content--product
    &--product {
        width: 100%;
        margin: 0 auto !important;
    }

    // m-content__product-header-section
    &__product-header-section {
        @include text-spacing;
        text-align: center;
    }

    // m-content__product-heading
    &__product-heading {
        margin-top: 0 !important; // remove margin-top.
        text-align: center;
        line-height: normal !important;
        @include text-spacing;
    }

    // m-content__body
    &__body {
        @include media($media-s-max) {
            margin: $x6 0;
        }
    }

    // m-content__product-text
    &__product-copy {
        text-align: center;
        max-width: 423px;
        margin: auto;
        @include text-spacing;
    }

    // m-content__product-footer-section
    &__product-footer-section {
        color: #fff;
        text-align: center !important;
        
        @include media($media-l) {
            width: 100%;
        }

        // m-content-product-footer-section__cta
        &__cta {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            padding: $x3 0;
            text-align: center;
            color: #fff;
            border-color: #fff;
            max-width: 159px; 
        }
    }

    // m-content__column
    &__column {
        display: flex;
        flex-direction: column;

        @include media($media-m) {
            flex-direction: row;
        }
    }

    // m-content__tile
    &__tile {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;

        &--text {
            @include media($media-s-max) {
                display: block;
                // min-height: 250px;
                position: relative !important;
            }
        }
    }

    // m-content__card
    &__card {
        width: 100%;
        position: relative;
        
        @include media($media-m) {
            margin: 0 2px;
            width: calc(100% - 4px);
        }
        
    }

    // m-content__tile-content
    &__tile-content {
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom: 0;
        padding: $inset-padding-s;
        z-index: 3;

        #{$selector}--text-column & {
            // padding: $inset-padding-s;
            position: unset;
            height: inherit;
            box-sizing: border-box;
        }

        // m-content__tile-content--centered
        &--centered {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            flex-direction: column;
        }

        @include media($media-m) {
            padding: $x6;
        }

        @include media($media-l) {
            padding: $x8;
        }
    }

    // m-content__content
    &__content {
        @include text-spacing;
        padding: $inset-padding-s;

        @include media($media-m) {
            padding: $inset-padding-m;
        }

        @include media($media-l) {
            padding: $inset-padding-l;
        }

        // m-content__content--small
        &--small {
            @include text-spacing;
            padding: $inset-padding-s;

            @include media($media-m) {
                padding: $inset-padding-m;
            }
        }
    }

    // m-content__card-content
    &__card-content {
        @include text-spacing;
        text-align: center;
        padding: 0 $inset-padding-s $inset-padding-s;

        @include media($media-m) {
            padding: 0 $inset-padding-m $inset-padding-m;
        }
        &--small {
            @include media($media-l) {
                padding:0 $inset-padding-l $inset-padding-l;
            }
        }
    }

    // m-content__card-image
    &__card-image {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin: $inset-padding-s;

        @include media($media-m) {
            margin: $inset-padding-m $inset-padding-m 2rem $inset-padding-m;
        }
    }

    // m-content__image-bg
    &__image-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        top: 0;
        left: 0;
        z-index: 1
    }

    // m-content__image
    &__image {
        width: 100%;
        background-size: cover;
        background-position: center;
    }

    // m-content__tile-footer
    &__tile-footer {
        position: absolute;
        bottom: 0;
        padding: 0 0 $x6 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    // m-content__footer
    &__footer {
        padding: 0 0 $x6 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    // m-content__content-image
    &__content-image {
        margin: $x6 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}