//
// ------------------------------------- 
// 	MODULE: HERO
// -------------------------------------
//  
//

$name                    : m-hero;
$selector                : ".#{$name}";


#{$selector} {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding-bottom: $x6;
    align-items: center;


    @include media($media-m) {
        padding-bottom: 0;
    }

    // m-hero__image
    &__image {
        box-sizing: border-box;
        background-size: cover;
        background-position: center;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        overflow: hidden;

        @include media($media-m) {
            max-height: 330px;
        }
        @include media($media-l) {
            max-height: 412px;
        }
    }

    // m-hero--overlay
    &--overlay {

        &--dark {
            background-color: rgba(0,0,0,0.2);
        }

        &--light {
            background-color: rgba(255,255,255,0.2);
        }
    }

    // m-hero__heading
    &__heading {
        // width: 100%;
        margin-bottom: $x8;
        text-shadow: 0 , 4px, 6px, rgba(57, 57, 57, 0.06);

        &--xxl {
            width: 100%;
            margin-bottom: $x2;
            text-align: center;
            #{$selector}__content & {

                @include media($media-m) {
                    height: 240px;
                }
            }
        }
    }

    // m-hero__desc
    &__desc {
        margin: 0;
        display: none;
        text-align: center;

        @include media($media-m) {
            display: block;
            text-align: left;
        }
    }

    // m-hero__breadcrumb-container
    &__breadcrumb-container {
        box-sizing: border-box;
        margin: 0 auto;
        background: #fff;
        padding: 0;
        color: #333;
        text-align: center;
    }

    // m-hero__wrap
    &__wrap {
        display: flex;
        width: 100%;
        align-items: center;
        position: relative;
        flex-direction: column;
    }

    // m-hero__content-wrap
    &__content-wrap {
        z-index: 3;
        @include max-width;

        @include media($media-m) {
            position: absolute;
            top: 0;
            height: 100%;
        }

        @include media($media-l) {
            max-width: $max-width-l;
        }

        @include media($media-xl) {
            width: $max-width-xl;
        }
    }

    // m-hero__overlay
    &__overlay {
        position:absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;

        &--inline {
            background: linear-gradient(to right, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%,rgba(0,0,0,0) 70%)
        }

    }

    // m-hero__content
    &__content {
        width: 100%;
        align-items: center; 
        padding: $x8 $x4 $x6;
        display: flex;
        flex-direction: column;
        background-color: white;

        @include text-spacing;

        @include media($media-m) {
            background-color: transparent;
            padding: 0;
            max-width: 70%;
            margin-left: $x10;
            align-items: flex-start; 
            position: absolute;
            bottom: $x14;
        }

        @include media($media-l) {
            max-width: 55%;
            margin-left: $x12;
        }

        @include media($media-xl) {
            width: 620px;
            margin-left: $x6;
        }

        // m-hero__content--left-bottom
        &--left-bottom {
            @include media($media-m) {
                bottom: 0;
                padding: $x6;
            }
            @include media($media-l) {
                padding: $x8;
            }
            @include media($media-xl) {
                margin-left: $x12;
            }
        }

        // m-hero__content--
        &--centered {
            @include media($media-m) {
                align-items: center;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
                bottom: 20%;
                margin: 0;
            }
        }
    }

    // m-hero__btn
    &__btn {
        &--right {
            bottom: 0;
            margin-left: auto;
            @include media($media-m) {
                margin-right: $x10;
            }
    
            @include media($media-l) {
                margin-right: $x12;
            }
            @include media($media-xl) {
                margin-right: $x6;
            }
        }
        
        &--left {
            bottom: 0;
            margin-right: auto;
            @include media($media-m) {
                margin-left: $x6;
            }
    
            @include media($media-l) {
                margin-left: $x12;
            }
            @include media($media-xl) {
                margin-left: $x6;
            }

            &-m {
                @include media($media-m) {
                    margin-left: $x6;
                }
        
                @include media($media-l) {
                    margin-left: $x12;
                }
                @include media($media-xl) {
                    margin-left: $x6;
                }
            }
        }
       
    }

    // m-hero__belt
    &__belt {
        box-sizing: border-box;

        @include media($media-m) {
            display: flex;
            flex-direction: row;
            z-index: 100;
            margin: auto;
            width: 95%;
            height: auto;
            overflow: none;
            margin-top: -$x6;
        }

        @include media($media-l) {
            overflow: hidden;
        }
        
        &--carded {
            padding: $x4;
            background: $color-white;

            @include media($media-l) {
                padding: $x6;
                overflow: hidden;
            }
        }

        &--carded-stacked {
            padding: $x4 $x4 0;
            background: $color-white;

            @include media($media-l) {
                padding: $x6 $x6 0; 
                overflow: hidden;
            }
        }
        
        &--scrolled {
            overflow-x: scroll;
        }

        &--stacked {
            margin: auto;
            overflow: unset;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__belt-inner-carded {
        padding-top: 0;
        margin: 2px !important;

        @include media($media-m) {
            padding-top: $x4;
            margin: 2px $x4 0 !important;
        }

        @include media($media-l) {
            padding-top: $x6;
            margin: 2px $x6 0 !important;
        }
    }

    &__tile {
        min-height: $x30;
        @include media($media-m) {
            min-height: 160px;
        }
    }

}
