// ------------------------------------- 
// 	MODULE: FOOTER
// -------------------------------------

$name                    : m-product-belt;
$selector                : ".#{$name}";

//Selectors
#{$selector} {
    box-sizing: border-box;
    display: block;
    width: 100%;
    overflow: scroll;
    overflow-y: -moz-hidden-unscrollable;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }

    //.m-product-belt__inner
    &__inner {
        display: flex;
        flex-wrap:nowrap;
        width: 2000px;

        &--stacked {
            flex-wrap: wrap;
            width: 100%;

            @include media($media-m) {
                flex-wrap: nowrap;
                width: 2000px;
            }
        }
    }
}