// ------------------------------------- 
// 	MODULE: BUYERS GUIDE SECTION HEADINGS
// -------------------------------------
//  
//


$name                    : m-section-header;
$selector                : ".#{$name}";

//Selectors
#{$selector} {
    box-sizing: border-box;
    width: 100%;
    margin: 0 !important;
    text-align: center;

    // m-section-header__heading
    &__heading {
    
    }

    // m-section-header__intro-text
    &__intro-text {
        margin: rem(5rem) 0 0;

        @media (min-width: 768px) {
            margin: auto;
            width: 60%;
        }
    }
    
}