// ------------------------------------- 
// 	MODULE: WRAP
// -------------------------------------

$name                    : m-wrap;
$selector                : ".#{$name}";

$gutter-calc-s: $module-outer-gutter-s * 2;
$gutter-calc: $module-outer-gutter-l * 2;

//Selectors
#{$selector} {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center top;
    overflow:hidden; 
    z-index:2;

    @include media($media-s-max) {
        background: none !important;
    }

    &--overlap {
        margin-top: -$x10;

        @include media($media-m) {
            margin-top: -$x12;
        }
    }

    // m-wrap__card
    &__card{


        @include max-width();

        @include media($media-m) {
            margin:0 $module-outer-gutter-s; 
            width: calc(100% - #{$x8});
        }
        @include media($media-l) {
            margin: 0 $module-outer-gutter-l;
            width: calc(100% - #{$x12});
        }
    
        @include media($media-xxl){
            margin:0 $module-outer-gutter-xl; //32px;
        }

        #{$selector}--carded & {
            background-color: white;    
        }

        #{$selector}--full-width & {
            margin: 0;
            max-width: 100%;
        }

        #{$selector}--full-bleed & {
            margin: 0;
            max-width: 100%;
            width: 100%;
        }

        #{$selector}--full & {
            margin: 0;
            width: 100%;
        }
    }

    &__inner {
        margin: 0 $module-outer-gutter-s;

        @include media($media-l){
            margin: 0 $module-outer-gutter-l;
        }

        #{$selector}--full-width & {
            margin: 0;
        }

        #{$selector}--full & {
            margin: 0;
        }

    }

    &__header, &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header {
        @include text-spacing;

        margin-top: $module-outer-gutter-s;
        padding-top: $module-header-padding-top-s;
        padding-bottom: $module-header-padding-bottom-s;

        @include media($media-m){
            margin-top: $module-outer-gutter-s;
            padding-top: $module-header-padding-top;
            padding-bottom: $module-header-padding-bottom;
        }
    }

    &__footer {
        margin-bottom: $module-outer-gutter-s;
        padding-top: $module-footer-padding-top-s;
        padding-bottom: $module-footer-padding-bottom-s;

        @include media($media-m){
            margin-bottom: $module-outer-gutter-s;
            padding-top: $module-footer-padding-top;
            padding-bottom: $module-footer-padding-bottom;
        }

        //m-wrap--no-bottom m-wrap__footer
        #{$selector}--no-bottom & {
            padding-bottom: 0;
            margin-bottom: 0;
    
            @include media($media-m){
                padding-bottom: 0;
                margin-bottom: 0;
            } 
        }
    }

    &__content {
        width: 100%;
        
        #{$selector}--stacked & {
            display: flex;
            flex-direction: column;

            @include media($media-m) {
                flex-direction: row;
                flex-wrap: nowrap;
                overflow-x: scroll;
                -webkit-overflow-scrolling: touch;
            }
        }

        #{$selector}--padding-top & {
            padding-top: $module-header-padding-top-s;

            @include media($media-m) {
                padding-top: $module-header-padding-top;
            }
        }

        #{$selector}--padding-bottom & {
            padding-bottom: $module-header-padding-top-s;

            @include media($media-m) {
                padding-bottom: $module-header-padding-top;
            }
        }

        &--inset {
            padding: $inset-padding-s;

            @include media($media-m){
                padding: $inset-padding-m;
            }

            @include media($media-l){
                padding: $inset-padding-l;
            }
        }

        &--padding {
            padding: $inset-padding-s 0;

            @include media($media-m){
                padding: $inset-padding-m 0;
            }

            @include media($media-l){
                padding: $inset-padding-l 0;
            }
        }

    }
}
