{% import 'html/guide/macros/icons.html' as iconMacros %}
{% import 'html/guide/macros/module.html' as moduleMacros %}

<div class="c-btn-group u-margin-bottom-x10">
        <label class="c-btn-group__item">Default:</label>
        <div class="c-btn-group__item">
            <button type="submit" class=" c-btn c-btn--primary">Primary</button>
        </div>
        <div class="c-btn-group__item">
                <button type="submit" class="c-btn c-btn--primary-inverse">Primary Inverse</button>
        </div>
        <div class="c-btn-group__item">
            <button type="submit" class="c-btn c-btn--secondary">Secondary</button>
        </div>
        <div class="c-btn-group__item">
            <button type="submit" class="c-btn c-btn--tertiary">Tertiary {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</button>
        </div>
        <div class="c-btn-group__item">
            <button type="submit" class="c-btn c-btn--link c-btn--link-primary">Link Button Primary</button>
        </div>
        <div class="c-btn-group__item">
            <button type="submit" class="c-btn c-btn--link">Link Button Secondary</button>
        </div>
        <div class="c-btn-group__item">
            <button type="submit" class="c-btn c-btn--primary-disabled">Primary Disabled</button>
        </div>
        

    </div>

    <div class="u-bg-grey-light-20 u-padding-x4">
        <div class="c-btn-group">
            <label class="c-btn-group__item u-color-white">Reversed:</label>
            <div class="c-btn-group__item">
                <button type="submit" class="c-btn c-btn--primary-reverse">Primary Reverse</button>
            </div>
            <div class="c-btn-group__item">
                <button type="submit" class="c-btn c-btn--secondary-reverse">Primary Reverse</button>
            </div>
            <div class="c-btn-group__item">
                <button type="submit" class="c-btn c-btn--tertiary-reverse">Tertiary Reverse {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</button>
            </div>
            <div class="c-btn-group__item">
                <button type="submit" class="c-btn c-btn--link-reverse">Link Button</button>
            </div>
        </div>
    </div>

    <div class="u-padding-x4">
        <div class="c-btn-group">
            <label class="c-btn-group__item">Carousel Buttons:</label>
            <div class="c-btn-group__item">
                <button class="c-btn c-btn--carousel-display">{{ iconMacros.iconChevronLeft(name='chevron-left', classes="c-icon c-btn__carousel-icon") }}</button>
            </div>
            <div class="c-btn-group__item">
                <button class="c-btn c-btn--carousel-display">{{ iconMacros.iconChevronRight(name='chevron-right', classes="c-icon c-btn__carousel-icon") }}</button>
            </div>
            
        </div>
    </div>