{% import 'html/t7-live/modules/cards-category/macros.html' as categoryMacros %}
{% import 'html/guide/macros/module.html' as wrapMacros %}
{% import 'html/guide/macros/guide.html' as guideMacros %}

<div class="g-display--t7">
    {{categoryMacros.categoryBeltPopulated()}}
</div>

<div class="g-display--red">
        
    {% call guideMacros.docs2ColWrap() -%}

        {% call guideMacros.docs2ColColumn1Wrap(colClasses="", colHeading="Hero Banner Specs:") -%}
                
            <p>
                Tapping on "View All" will expand the panel to reveal all categories.<br />
                "View all" module is hidden when module is expanded.
            </p>

        {% endcall %}
        {% call guideMacros.docs2ColColumn1Wrap(colClasses="", colHeading="Category Card Specs:") -%}
                <p>
                    Image size: 160 x 160<br />
                    Image stays at 1x1 ratio on desktop & mobile<br />
                    Image fits centered within a 5x4 ratio div on desktop and large desktop<br />
                </p>
            </div>
            <p class="u-margin-top-x10">Note: The prototype below is a design depicting mobile and small desktop breakpoints only.</p>
        {% endcall %}

    {% endcall %}
    
    {{categoryMacros.categoryBeltPopulated()}}
</div>
