{% import 'html/t7-live/macros/image.html' as imageMacros %} 
{% import 'html/t7-live/macros/icons.html' as iconMacros %}
{% import 'html/t7-live/components/tiles/macros.html' as tileMacros %}

{% macro moduleWrap(options) -%}
<section class='m-wrap js-animate-module {{options.wrapClasses}}' data-module="categories-show-hide">
    <div class="m-wrap__card">
        <div class="m-wrap__inner" >
            <div class="m-wrap__header">
                <h2 class="u-h3 m-wrap__heading">{{options.heading}}</h2>
                <p>{{options.description}}</p>
            </div>
            <div class="m-wrap__content">
                {{caller()}}
            </div>
            <div class="m-wrap__footer u-hide-down-m js-footer">
                <a href="" class="c-btn c-btn--primary-inverse js-expand-btn">{{options.ctaText}}</a>
            </div>
        </div>
    </div>
</section>
{%- endmacro %}

{% macro moduleWrapCLPCarded(options) -%}
<section class='m-wrap js-animate-module {{options.wrapClasses}}' data-module="categories-show-hide">
    <div class="m-wrap__card">
        <div class="m-wrap__inner">
            <div class="m-wrap__header">
                <h2 class="u-h3 m-wrap__heading">{{options.heading}}</h2>
                <p>{{options.description}}</p>
            </div>
            <div class="m-wrap__content">
                {{caller()}}
            </div>
            <div class="m-wrap__footer">
                <a href="" class="c-btn c-btn--primary-inverse js-expand-btn">{{options.ctaText}}</a>
            </div>
        </div>
    </div>
</section>
{%- endmacro %}

{% macro categoryCardsBelt(options) -%}
    {% call moduleWrap(options) -%}
    <div class="u-columns u-flex-justify-center" >
        <div class="u-columns__column u-columns__column--ten-l">
            <div class="u-columns m-category-cards m-category-cards--reveal js-reveal-wrap" >

                <div class="u-columns__column u-columns__column--two-m">
                {{categoryCard(productImage="/assets/images/t7/card-category-bikes.jpg", productTitle="Category")}}
                </div>
                <div class="u-columns__column u-columns__column--two-m">
                {{categoryCard(productImage="/assets/images/t7/card-category-bikes.jpg", productTitle="Category")}}
                </div>
                <div class="u-columns__column u-columns__column--two-m">
                {{categoryCard(productImage="/assets/images/t7/card-category-bikes.jpg", productTitle="Category")}}
                </div>
                <div class="u-columns__column u-columns__column--two-m">
                {{categoryCard(productImage="/assets/images/t7/card-category-bikes.jpg", productTitle="Category")}}
                </div>
                <div class="u-columns__column u-columns__column--two-m">
                {{categoryCard(productImage="/assets/images/t7/card-category-bikes.jpg", productTitle="Category")}}
                </div>
                <div class="u-columns__column u-columns__column--two-m">
                {{categoryCard(productImage="/assets/images/t7/card-category-bikes.jpg", productTitle="Category")}}
                </div>
                <div class="u-columns__column u-columns__column--two-m">
                {{categoryCard(productImage="/assets/images/t7/card-category-bikes.jpg", productTitle="Category")}}
                </div>
                <div class="u-columns__column u-columns__column--two-m">
                {{categoryCard(productImage="/assets/images/t7/card-category-bikes.jpg", productTitle="Category")}}
                </div>
                <div class="u-columns__column u-columns__column--two-m">
                {{categoryCard(productImage="/assets/images/t7/card-category-bikes.jpg", productTitle="Category")}}
                </div>

            </div>
        </div>
    </div>
    {% endcall %}
{%- endmacro %}

{% macro categoryCardsBeltCarousel(options) -%}
    {% call moduleWrap(options) -%}
        <div data-module="slick-category-tiles-carousel" data-module-options='{"slidesToShow": 6}'>
            <button class="c-btn c-btn--carousel c-btn--carousel-previous js-btn-previous">{{ iconMacros.iconChevronLeft(name='chevron-left', classes="c-icon c-icon--large c-btn__carousel-icon") }}</button>
            <button class="c-btn c-btn--carousel c-btn--carousel-next js-btn-next">{{ iconMacros.iconChevronRight(name='chevron-right', classes="c-icon c-icon--large c-btn__carousel-icon") }}</button>

            <div class="u-columns m-category-cards m-category-cards--reveal js-carousel" >

                <div class="u-columns__column u-columns__column--two-m">
                {{categoryCard(productImage="/assets/images/t7/card-category-bikes.jpg", productTitle="Category")}}
                </div>
                <div class="u-columns__column u-columns__column--two-m">
                {{categoryCard(productImage="/assets/images/t7/card-category-bikes.jpg", productTitle="Category")}}
                </div>
                <div class="u-columns__column u-columns__column--two-m">
                {{categoryCard(productImage="/assets/images/t7/card-category-bikes.jpg", productTitle="Category")}}
                </div>
                <div class="u-columns__column u-columns__column--two-m">
                {{categoryCard(productImage="/assets/images/t7/card-category-bikes.jpg", productTitle="Category")}}
                </div>
                <div class="u-columns__column u-columns__column--two-m">
                {{categoryCard(productImage="/assets/images/t7/card-category-bikes.jpg", productTitle="Category")}}
                </div>
                <div class="u-columns__column u-columns__column--two-m">
                {{categoryCard(productImage="/assets/images/t7/card-category-bikes.jpg", productTitle="Category")}}
                </div>
                <div class="u-columns__column u-columns__column--two-m">
                {{categoryCard(productImage="/assets/images/t7/card-category-bikes.jpg", productTitle="Category")}}
                </div>
                <div class="u-columns__column u-columns__column--two-m">
                {{categoryCard(productImage="/assets/images/t7/card-category-bikes.jpg", productTitle="Category")}}
                </div>
                <div class="u-columns__column u-columns__column--two-m">
                {{categoryCard(productImage="/assets/images/t7/card-category-bikes.jpg", productTitle="Category")}}
                </div>

            </div>
        </div>
    {% endcall %}
{%- endmacro %}

{% macro categoryCard(productImage="/assets/images/t7/card-category-bikes.jpg", productTitle="Category Title") -%}
    <article class="c-card-category js-animate-sequence js-card-category">
        <a href="#" aria-hidden="true" class="c-card__link">{{productTitle}}</a>
        <div class="c-card-category__image-wrap">
            <img class="c-card-category__image" src="{{productImage}}" />
        </div>
        <div class="c-card-category__content">
            <span class="c-card-category__category-icon-wrap">
                {{iconMacros.categoryBike(classes="c-card-category__category-icon")}}
            </span>
            <h2 class="c-card-category__heading">
                <a href="" class="u-link-reset">{{productTitle}}</a>
            </h2>
            {{ iconMacros.iconChevronRight(name='chevron-right', classes="c-card-category__heading-icon c-icon--large c-btn__icon") }}
        </div>
        <div class="c-card-category__cta">
            <a href="#" class="c-btn c-btn--secondary c-card-category__btn js-categories-btn">{{productTitle}}</a>
        </div>
        
    </article>
{%- endmacro %}

{% macro categoryBeltPopulated() -%}

    {% 
        set options = {
            heading:"Featured Categories",
            description: "lorem ipsum",
            ctaText: "View All",
            wrapClasses: "m-wrap--spacious"
        }
    %}

    {{categoryCardsBelt(options)}}
{%- endmacro %}

{% macro categoryBeltHeroTopPopulated() -%}

    {% 
        set options = {
            heading:"Featured Categories",
            description: "",
            ctaText: "View All",
            wrapClasses: "m-wrap--carded m-clp-hero__card"
        }
    %}

    {{categoryCardsBelt(options)}}
{%- endmacro %}

{% macro categoryBeltCarouselHeroTopPopulated() -%}

    {% 
        set options = {
            heading:"Featured Categories",
            description: "",
            ctaText: "View All",
            wrapClasses: "m-wrap--carded m-clp-hero__card"
        }
    %}

    {{categoryCardsBeltCarousel(options)}}
{%- endmacro %}



