@mixin g-font-header {
    font-family: $g-font-header;
    font-style: normal;
    font-weight: normal;
}
  
@mixin g-font-text {
    font-family: $g-font;
    font-style: normal;
    font-weight: $g-font-weight-regular;
}

@mixin g-font-size-h1() {
  @include g-font-header();
  font-size: $g-header-font-size-h1;
  line-height: $g-line-height-header;
}

@mixin g-font-size-h2() {
    @include g-font-header();
    font-size: $g-header-font-size-h2;
    line-height: $g-line-height-header;
}

@mixin g-font-size-h3() {
    @include g-font-header();
    font-size: $g-header-font-size-h3;
    line-height: $g-line-height-header;
}

@mixin g-font-size-h4() {
    @include g-font-text();
    font-size: $g-header-font-size-h4;
    line-height: $g-line-height-header;
}
@mixin g-font-size-h5() {
    @include g-font-header();
    font-size: $g-header-font-size-h5;
    line-height: $g-line-height-header;
}

@mixin g-font-size-p1() {
    @include g-font-text();
    font-size: $g-header-font-size-p1;
    line-height: $g-line-height-header;
}

@mixin g-font-size-p2() {
    @include g-font-text();
    font-size: $g-header-font-size-p2;
    line-height: $g-line-height-header;
}

@mixin g-font-size-p3() {
    @include g-font-text();
    font-size: $g-header-font-size-p3;
    line-height: $g-line-height-header;
}

@mixin g-font-size-p4() {
    @include g-font-text();
    font-size: $g-header-font-size-p4;
    line-height: $g-line-height-header;
}