$spacing-breakpoints : (
	s : $media-s-max,
	m : $media-m,
    //m-max : $media-m-max,
	l : $media-l,
    //xl : $media-xl
);

//Note sizing of 1 doesn't produce -x1, it is the default value (and is required)
//The following mixin will produce the below classes (some examples)
//u-margin
//u-margin-x2
//u-margin-top
//u-margin-top-s
//u-margin-top-x2-s
//u-margin-top-x2 
@mixin make-spacing($cssKey,$sizings: 0 1 2 3 4 5 6 8 10 12 14 16 18 20)
{
	$directions: false "top" "right" "bottom" "left"; //Note first empty value is all directions
	@each $direction in $directions
	{
		$class: "";
		@if($direction)
		{
			$class: "u-#{$cssKey}-#{$direction}";
		}
		@else
		{
			$class: "u-#{$cssKey}";
		}

		//u-margin-top / u-margin
		.#{$class}
		{
			$key: "";
			@if $direction
			{
				// margin-top
				$key: #{$cssKey}-#{$direction};
			}
			@else
			{
				// margin
				$key: #{$cssKey};
			}

			$value: $baseSpacing;
			#{$key} : #{$value} !important;//Without breakpoints or sizing


	        //From here we will have two scenarios
			// u-margin-top
			// or without direction
			// u-margin

			//Below needs to produce the following appends:
			//	-s
			//  -x2-s

			//Note if size is 1 then it doesnt produce -x1-s it'll just be -s

			@each $size in $sizings
			{
				$currentMultipliedValue: $value * $size;
				
				//u-margin-x2
				//u-margin-top-x4 etc 
				&-x#{$size}
				{
					#{$key} : #{$currentMultipliedValue} !important;
				}

				//Plain breakpoints (with 1 times value
				//if size == 1 then the following will be output
                    //u-margin-top-s
                    //u-margin-top-m 
                    //u-margin-top-l

				//else
                    //u-margin-top-x2-s
                    //u-margin-top-x4-m
                    //etc
				@each $spacing-breakpoint,$media-query-value in $spacing-breakpoints
				{
					$classExtensionValue: -#{$spacing-breakpoint};//-s
					@if($size != 1)
					{
						$classExtensionValue: "-x#{$size}-#{$spacing-breakpoint}"; //-x2-s
					}

                    //this extension can be either -x2-s or -s
					&#{$classExtensionValue}
					{
						@include media($media-query-value)
						{
							#{$key} : #{$currentMultipliedValue} !important;
						}
					}
				}
			}

		}
	}
}