// 
// ------------------------------------- 
// 	COMPONENT: #BUTTON
// -------------------------------------
//  Project specific button styles
//  

// 
// -------------------------------------
// 	Vars
// -------------------------------------
// 

$name                           : c-btn;
$selector                       : ".#{$name}";

// 
// -------------------------------------
// 	Selectors
// -------------------------------------
// 
a#{$selector} {
    text-decoration: none;
}
// Default
#{$selector} {
    
    display: inline-block;
    align-items: center;
    flex-grow: 0;
    cursor: pointer;
    margin: $x1 0;
    font-size: $btn-font-size;
    @include font-text-bold;
    text-align: center;
    color: $color-b;
    line-height: 1em;
    letter-spacing: 1.5px;
    border: none;
    position: relative;
    white-space: nowrap;
    text-decoration:none;
    // Transition properties.
    transition: all 0.2s ease-in;

    a & {
        text-decoration:none; 
    }

    &__icon {
        margin: 0 $x1;
    }

    &__carousel-icon {
        width: 16px;
        height: 16px;
    }

    //.c-btn--primary
    &--primary {
        @include btn-primary;
    }
    
    // .c-btn--primary-inverse
    &--primary-inverse {
        @include btn-primary-inverse;
    }

    // .c-btn--primary-reverse
    &--primary-reverse {
        @include btn-primary-reverse;
    }

    //.c-btn--primary-disabled
    &--primary-disabled {
        background:$color-grey-light-80 !important;
        color: $color-grey-light-60 !important;
        border-color: $color-grey-light-80 !important;
        text-transform: uppercase;
        padding: $btn-padding-primary;
    }

    // .c-btn--secondary
    &--secondary {
        @include btn-secondary;
    }

    //.c-btn--secondary-reverse
    &--secondary-reverse {
        @include btn-secondary-reverse;
    }

    // .c-btn--tertiary
    &--tertiary {
        @include btn-tertiary;   
    }

    // .c-btn--tertiary-reverse
    &--tertiary-reverse {
        @include btn-tertiary-reverse;  
    }

    // .c-btn--link
    &--link {
        @include btn-link;
    }

    // .c-btn--link-primary
    &--link-primary {
        @include btn-link-primary;
    }

    // .c-btn--link-reverse
    &--link-reverse {
        @include btn-link-reverse;
    }

     //.c-btn--carousel-display
     &--carousel-display {
        @include btn-carousel;
    }

    //.c-btn--carousel
    &--carousel {
        @include btn-carousel;

        position: absolute;
        top: 50%;
        transform: translateY(-57%);
        z-index: 2;
        display: none;

        @media (min-width: 1025px) {
            display: block;
        }

        //.c-btn--carousel--previous
        &--previous {
            left: -$x5;
        }
        //.c-btn--carousel--next
        &--next {
            right: -$x5;
        }
    } 

    //.c-btn__carousel-icon
    &__carousel-icon {
        fill: white;
        color: white;
    }
    
    //Need to override hover styling, so when you're hovering it shows differently compared to active and inactive
    &.-is-active{
        
    }


}
