//
// ------------------------------------- 
// 	COMPONENT: Generic promo card object
// -------------------------------------
//  
//

$name                    : promo-card;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {

    // Styling 2-up promo card template.
    &--2-up {
        // Style the first div.
        div.u-columns__column {
            &:first-child {
                margin-bottom: $module-outer-gutter-s;

                @include media($media-m) {
                    margin-bottom: 0;
                }
            }
        }
    }

    // Styling 3-up promo card template.
    &--3-up {
        // Style the first div.
        div.u-columns__column {
            &:first-child {
                margin-bottom: $module-outer-gutter-s;

                @include media($media-m) {
                    margin-bottom: 0;
                }
            }
        }
    }

    // Styling 4-up promo card template.
    &--4-up {
        // Style the first 2 divs.
        div.u-columns__column {
            &:nth-child(-n + 2) {
                margin-bottom: $module-outer-gutter-s;

                @include media($media-l) {
                    margin-bottom: 0;
                }
            }
        }
    }
}