//
// ------------------------------------- 
// 	COMPONENT: Generic card object
// -------------------------------------
//  
//

$name                    : c-card;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    position: relative;
    overflow:hidden;
    text-decoration: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    

    @include media($media-m) {
        display: flex;
        flex-grow: 1;
    }

    //c-card--gutter
    &--gutter {
        margin: $card-gutter/2;
        width: calc(100% - #{$card-gutter});
    }

    //c-card__content
    &__content {
        @include text-spacing;
        text-align: center;
        padding: $inset-padding-s $inset-padding-s 0 $inset-padding-s;

        @include media($media-l) {
            padding: $inset-padding-m $inset-padding-m 0 $inset-padding-m;
        } 

        &--below {

        }
    }

    //c-card__title
    &__title {

    }

    //c-card__description
    &__description {
        color: $color-text;
      a:hover & {
        color: $color-text;
      }  
    }

    // .c-card__cta
    &__cta {
        padding-top:$x1;
        // padding-bottom: 2rem;
        display: flex;
        position: relative;
        z-index:2;
        justify-content: flex-start;
        height: auto;
        padding-bottom: $x5;

        @include media($media-m) {
            // padding-bottom: 4rem;
            overflow:hidden;
        }

        @include media($media-xl) {
            // padding-bottom: 6rem;
        }

        &--centered {
            justify-content: center;
        }

    }

    // .c-tile__cta-btn
    &__cta-btn {
        a:hover & {
            @include btn-secondary-hover;
        }
    }

}