// ------------------------------------- 
// 	COMPONENT: INFO CARD
// -------------------------------------

$name                    :c-card-info;
$selector                : ".#{$name}";

//Selectors
#{$selector} {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 180px;
    width: 180px;
    text-align: center;
    margin: 0 2px;

    @include media($media-m) {
        // min-width: 0;
        width: 100%;
    }

    &:nth-first-of-type {
        margin-left: 0;
    }

    &:nth-last-of-type {
        margin-right: 0;
    }

    // c-card-info--product
    &--product {
        width: 282px;
        padding: 0;
        margin: 0 3px;

        &:first-of-type {
            margin-left: 0 !important;
        }

        @include media($media-m) {
           width: 304px;
        }
    }

    // c-card-info__wrap
    &__wrap {
        flex: 1;
        padding: $x6;
        @include text-spacing;

        @include media($media-m) {
            padding: $x8;
        }
    }


    // c-card-info__image
    &__image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        

        // c-card-info__image--icon
        &--icon {
            width: $x20;
            margin: 0 auto 26px;
        }

        // c-card-info__image--product
        &--product {
            background-size: contain;
            width: 50%;
            margin: 0 auto 26px;
        }

        //c-card-info__image--large
        &--large {

        }
    }

    //c-card-info__heading
    &__heading {

    }
    
    //c-card-info__text
    &__text {

    }

    // c-card-info__footer
    &__footer {
        padding: $x2 0;
    }

}