//
// ------------------------------------- 
// 	COMPONENT: HERO BANNER TILES
// -------------------------------------
//  
//

$name                    : c-product-card-horizontal;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    box-sizing: border-box;
    padding: 0 $x1;
    background-color: white;
    margin: 1px;
    min-height: 150px;

    @include media($media-m) {
        min-width: 304px !important;
        margin: 0 4px !important;

        &:first-of-type {
            margin-left: 0 !important;
        }
    }

    // c-product-card-horizontal--large
    &--large {

        @include media($media-m) {
            min-width: 400px !important;
            min-height: 356px;
            height: auto;
            margin: 0 $x1 !important;

            &:first-of-type {
                margin-left: 0 !important;
            }
        }
    }

    // c-product-card-horizontal--stacked
    &--stacked {
        
    }

    // c-product-card-horizontal__wrap
    &__wrap {
        position: relative;
    }

    // c-product-card-horizontal__star-rating
    &__star-rating {
        margin: 0 2px;

        &:first-of-type {
            margin-left: 0;
        }
    }

    // c-product-card-horizontal__container
    &__container {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        height: inherit;
        height: 304px;
        width: 50%;

        @include media($media-m) {
            height: 304px;
            width: 200px;
        }

        // c-product-card-horizontal__container--image
        &--image {
            background-color: #fff;
            background-size: 80%;
            background-position: center;
            background-repeat: no-repeat;
            border: 1px solid #dcdcdc;

            @include media($media-m) {
                background-size: 90%;
            }
        }

        // c-product-card-horizontal__container--text
        &--text {
            padding: 18px 15px;

            @include media($media-m) {
                padding: 26px 22px;
            }
        }
    }

    // c-product-card-horizontal__header-container
    &__header-container {

    }

    // c-product-card-horizontal__product-info-container
    &__product-info-container {
        margin-top: 35%;
    }

    // c-product-card-horizontal__header-text
    &__header-text {
        margin-bottom: $x4;

        @include media($media-m) {
            margin-bottom: 14px;
        }
    }

    // c-product-card-horizontal__paragraph-text
    &__paragraph-text {

    }

    // c-product-card-horizontal__footer-container
    &__footer-container {
        display: none;

        @include media($media-m) {
            display: block;
            width: 100%;
            margin: $x2 0;
        }
    }

    // c-product-card-horizontal__image
    &__image{
        display: block;
        background-color: #E6E6E6;
        width: 140px;
        height: 140px;
        margin-bottom: $x6;
    }

    // c-product-card-horizontal__heading
    &__heading{
      text-align:center;
    }
}