//
// ------------------------------------- 
// 	COMPONENT: HERO BANNER TILES
// -------------------------------------
//  
//

$name                    : c-card-product;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 rem(1rem);
    align-items: center;
    background-color: white;
    margin: 1px;

    // c-card-product--home
    &--home {
        padding-top: rem(6rem);
        padding-bottom: rem(6rem);
        background-color: white;
    }

    @include media($media-m){
        width: rem(51rem);
    }

    // c-product-card__container
    &__container {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        height: inherit;
        height: rem(70rem);
        width: 50%;
        min-width: rem(40rem);
        max-width: rem(70rem);

        @include media($media-m) {
            height: rem(76rem);
        }

        // c-card-product__container--image
        &--image {
            background-color: #fff;
            background-size: 80%;
            background-position: center;
            background-repeat: no-repeat;
            border: 1px solid #dcdcdc;

            @include media($media-m) {
                background-size: 90%;
            }
        }

        // c-card-product__container--text
        &--text {
            padding: rem(4.5rem) rem(3.75rem);

            @include media($media-m) {
                padding: rem(6.5rem) rem(5.5rem);
            }
        }
    }

    // c-card-product__header-container
    &__header-container {

    }

    // c-card-product__product-info-container
    &__product-info-container {
        margin-top: 35%;
    }

    // c-card-product__header-text
    &__header-text {
        margin-bottom: rem(4rem);

        @include media($media-m) {
            margin-bottom: rem(3.5rem);
        }
    }

    // c-card-product__paragraph-text
    &__paragraph-text {

    }

    // c-card-product__footer-container
    &__footer-container {
        display: none;

        @include media($media-m) {
            display: block;
            width: 100%;
        }
    }
    
    &__wrap {
        position: relative;
        width: 100%;
    }

    &__image{
        display: block;
        background-color: #E6E6E6;
        width: rem(35rem);
        height: rem(35rem);
        margin-bottom: rem(6rem);
    }
    &__heading{
      text-align:center;
    }
}