//
// ------------------------------------- 
// 	COMPONENT: Generic tile object
// -------------------------------------
//  
//

$name                    : c-spacer;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {

    display: block;
    width: 100%;
    height: $module-outer-gutter-s;

    @include media ($media-m) {
        height: $module-outer-gutter-m;
    }

    @include media ($media-l) {
        height: $module-outer-gutter-l;
    }

}