//
// ------------------------------------- 
// 	COMPONENT: Product Information Table
// -------------------------------------
//  
//

$name                    : c-table;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    box-sizing: border-box;
    grid-column-gap: 0 !important;
    grid-row-gap: 0 !important;
    margin: $x6 0;

    @include media($media-m) {
        display: grid;
    }

    // c-table__table-container
    &__table-container {
        margin: auto;
        padding: $x5 6px 0;
        text-align: center;

        @include media($media-m) {
            padding: 0;
            padding-top: $x5;
            width: 100%;

            &:first-of-type {
                #{$selector}__heading,
                #{$selector}__row-option {
                    grid-column-start: 2;
                }
                #{$selector}__row-variation {
                    display: block;
                }
            }
        }
    }

    // c-table__header-container
    &__header-container {
        padding: 0 0 14px;
    }

    // c-table__heading
    &__heading {
        text-transform: capitalize !important;
        grid-column-start: 2;

        @include media($media-m) {
            grid-column-start: 0;
            grid-column: span 2;
        }
    }

    // c-table__row
    &__row {
        grid-row-gap: 0 !important;
        grid-column-gap: 0 !important;
    }

    // c-table__row-inner
    &__row-inner {

        &:nth-child(2n) {
            background: rgba(52,52,52,0.04);
        }
    }

    // c-table__row-variation
    &__row-variation {
        padding: $x4 0;

        // c-table__row-variation--label
        &--label {

            @include media($media-m) {
                display: none;

                // Get the first column of &--label element.
                // &:first-of-type {
                //     display: block;
                // }
            }
        }
    }

    // c-table__row-option
    &__row-option {
        padding: $x4 0;

        @include media($media-m) {
            grid-column: span 2;

            // Get the first column of &__row-option
            // &:first-of-type {
            //     grid-column: span 1;
            // }
        }
    }

}