//
// ------------------------------------- 
// 	COMPONENT: Product Information Table
// -------------------------------------
//  
//

$name                    : c-table;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    width: 100%;
    box-sizing: border-box;
    margin: rem(6rem) 0 0;

    @include media($media-m) {

    }

    // c-table__table-container
    &__table-container {
        width: 100%;
        margin: rem(1rem) auto;
        padding: rem(5rem) rem(2.5rem) 0;
        text-align: center;

        @include media($media-m) {
            padding: 0;
            padding-top: rem(5rem);
            width: 100%;

            &:first-of-type {

                #{$selector}__header-container {
                    
                    @include media($media-m) {
                        width: 50%;
                        margin-left: 50%;
                    }
                }

                #{$selector}__row-variation {
                    display: block;
                }
            }
        }
    }

    // c-table__header-container
    &__header-container {
        padding: 0;
    }

    // c-table__heading
    &__heading {
        text-transform: capitalize !important;
        font-size: rem(3.5rem) !important;

        @include media($media-m) {

        }
    }

    // c-table__row
    &__row {

    }

    // c-table__row-inner
    &__row-inner {

        &:nth-child(2n) {
            background: rgba(52,52,52,0.04);
        }
    }

    // c-table__row-variation
    &__row-variation {
        width: 50%;
        padding: rem(4rem) 0;

        // c-table__row-variation--label
        &--label {

            @include media($media-m) {
                display: none;
            }
        }
    }

    // c-table__row-option
    &__row-option {
        width: 50%;
        padding: rem(4rem) 0;
    }

}