//
// ------------------------------------- 
// 	COMPONENT: Generic tile object
// -------------------------------------
//  
//

$name                    : c-tile;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    position: relative;
    overflow:hidden;
    background-color: $color-grey-light-90;
    width: 100%;

    @include media($media-m) {
        display: block;
        // flex-grow: 1;
        margin: 2px;
        width: calc(100% - 4px);
    }

    //c-tile--gutter
    &--gutter {
        margin: $card-gutter/2;
        width: calc(100% - #{$card-gutter});
    }

    // .c-tile__wrap
    &__wrap {
        width: 100%;
        height: 100%;
        text-decoration: none;

        //c-tile__wrap--full-height
        &--full-height {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }
    }

    // .c-tile__content
    &__content {
        position: absolute;
        z-index: 4;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &--top-left{
            top: $inset-padding-s;
            left: $inset-padding-s;
            right: $inset-padding-s;

            @include media($media-m) {
                top: $inset-padding-m;
                left: $inset-padding-m;
                right: $inset-padding-m;
            }

            @include media($media-m) {
                top: $inset-padding-l;
                left: $inset-padding-l;
                right: $inset-padding-l;
            }
        }

        &--bottom-left{
            bottom: $inset-padding-s;
            left: $inset-padding-s;
            @include media($media-l) {
                bottom: $inset-padding-m;
                left: $inset-padding-m;
            }
        }

        &--centered{

        }
    }

     // .c-tile__pill
     &__pill {
        position: absolute;
        top: $inset-padding-s;
        left: $inset-padding-s;
        z-index: 3;

        @include media($media-l) {
            top: $inset-padding-m;
            left: $inset-padding-m;
        }
    }

    // .c-tile__overlay
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        top:0;
        left:0;
        z-index: 2;
        display: none;
        @include media($media-m) {
           display: block;
        }
    }

    // .c-tile__image
    &__image {
        position: absolute;
        width: 101%;
        height: 101%;
        background-size: cover;
        background-position: center;
        top:0;
        left:0;
        z-index: 1;
        transition: all $transition-time $transition-easing;

        #{$selector}:hover & {
           transform: scale(1.1);
        }
    }

    // .c-tile__link
    &__link {
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        z-index: 4;
    }

    // .c-tile__cta
    &__cta {
        padding-top: $x1;
        padding-bottom: $x2;
        display: flex;
        position: relative;
        z-index:2;
        
       
        justify-content: flex-start;
        // right: 0;

        @include media($media-m) {
            padding-bottom: $x4;
            overflow:hidden;
            height: 38px;
        }

        @include media($media-xl) {
            padding-bottom: $x6;
        }

        #{$selector}--overlay & {
            
        }
        &--stacked {
            background-color:white;
        }

        &--centered {
            justify-content: center;
        }

        &--left-aligned {
            padding: $x6;
        }

        &--bottom {
            position: absolute;
            bottom: 0;
            left:0;
            z-index: 3;
            width: 100%;
        }
    }

     // .c-tile__heading
     &__heading {
        #{$selector}:hover & {
            color: $color-grey;
        }
     }

    // .c-tile__cta-btn
    &__cta-btn {
        @include media($media-m) {
            margin-bottom: $x6;
        }
    }

    // .c-tile__cta-link
    &__cta-link {
        @include media($media-m) {
           
        }
    }

}