
/*
 *
 * Guide Macros
 *
 */

{% macro linksPageLink(url="", linkText="link text") -%}
    <a href="{{url}}" target="_blank" class="u-p1">{{linkText}}</a>
{%- endmacro %}

{% macro docsWrap(wrapClasses) -%}

<section class='m-wrap {{ wrapClasses }} g-intro__wrap'>
    <div class="m-wrap__card">
        <div class="m-wrap__inner">
            <div class="m-wrap__content g-intro">
                {{caller()}}
            </div>
        </div>
    </div>
</section>
    
{%- endmacro %}

{% macro docs2ColWrap(wrapClasses, contentClasses) -%}

<section class='m-wrap {{wrapClasses | safe }}'>
    <div class="m-wrap__card">
        <div class="m-wrap__inner">
            <div class="m-wrap__content">
                <div class="u-columns g-intro {{contentClasses}}">
                    {{caller()}}
                </div>
            </div>
        </div>
    </div>
</section>
    
{%- endmacro %}

{% macro docs1ColColumnWrap(colClasses="", colHeading="") -%}
    <div class="u-columns__column u-columns__column--twelve -no-gutter u-block g-spacing {{colClasses}}">
        {% if colHeading %}<h3 class="u-h5">{{colHeading}}</h3>{% endif %}
        {{caller()}}
    </div>
{%- endmacro %}

{% macro docs2ColColumn1Wrap(colClasses="", colHeading="") -%}
    <div class="u-columns__column u-columns__column--twelve u-columns__column--five-m u-block g-spacing {{colClasses}}">
        {% if colHeading %}<h3 class="u-h5">{{colHeading}}</h3>{% endif %}
        {{caller()}}
    </div>
{%- endmacro %}

{% macro docs2ColColumn2Wrap(colClasses="", colHeading="") -%}
    <div class="u-columns__column u-columns__column--twelve u-columns__column--five-m u-block g-spacing u-margin-top-x10 u-margin-top-x0-m u-margin-left-x10-m {{colClasses}}">
        {% if colHeading %}<h3 class="u-h5">{{colHeading}}</h3>{% endif %}
        {{caller()}}
    </div>
{%- endmacro %}