
/*
 *
 * Module Macros
 *
 */

{% macro moduleWrap(options={}) -%}
    <section class='m-wrap {{ options.wrapClasses }}'>
        <div class="m-wrap__card">
            <div class="m-wrap__inner">
                
                {% if options.heading %}
                <div class="m-wrap__header">
                    <div class="u-columns u-flex-justify-center">
                        <div class="m-wrap__header u-spacing u-columns__column--ten-m">
                            <h2 class="u-h3">{{ options.heading | safe }}</h2>
                            {% if options.description %}<p class="u-p2">{{ options.description | safe }}</p>{% endif %}
                        </div>
                    </div>
                </div>{% endif %}

                <div class="m-wrap__content {{options.contentClasses}}">
                    {{caller()}}
                </div>
                {% if options.ctaText %}
                <div class="m-wrap__footer">
                    <a href="{{ options.ctaLink }}" class="c-btn {{options.btnClasses}}">{{ options.ctaText }}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
{%- endmacro %}

{% macro moduleWrapSimple(options={}) -%}
    <section class='m-wrap {{ options.wrapClasses }}'>
                
        {% if options.heading %}
        <div class="m-wrap__header">
            <div class="u-columns u-flex-justify-center">
                <div class="m-wrap__header u-spacing u-columns__column--ten-m">
                    <h2 class="u-h3">{{ options.heading | safe }}</h2>
                    {% if options.description %}<p class="u-p2">{{ options.description | safe }}</p>{% endif %}
                </div>
            </div>
        </div>{% endif %}

        <div class="m-wrap__content {{options.contentClasses}}">
            {{caller()}}
        </div>
        {% if options.ctaText %}
        <div class="m-wrap__footer">
            <a href="{{ options.ctaLink }}" class="c-btn {{options.btnClasses}}">{{ options.ctaText }}</a>
        </div>
        {% endif %}
    </section>
{%- endmacro %}

{% macro moduleWrapCarded(options={}) -%}
    <section class='m-wrap m-wrap--carded {{ options.wrapClasses }}'>
        <div class="m-wrap__card ">
            <div class="m-wrap__inner">
                
                {% if options.heading %}
                <div class="m-wrap__header">
                    <div class="u-columns u-flex-justify-center">
                        <div class="m-wrap__header u-spacing u-columns__column--ten-m">
                            <h2 class="u-h3">{{ options.heading | safe }}</h2>
                            {% if options.description %}<p class="u-p2">{{ options.description | safe }}</p>{% endif %}
                        </div>
                    </div>
                </div>{% endif %}

                <div class="m-wrap__content {{options.contentClasses}}">
                    {{caller()}}
                </div>
                {% if options.ctaText %}
                <div class="m-wrap__footer">
                    <a href="{{ options.ctaLink }}" class="c-btn {{options.btnClasses}}">{{ options.ctaText }}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
{%- endmacro %}

{% macro moduleWrapHeader(options={}) -%}
    <section class='m-wrap {{ options.wrapClasses }}'>
        <div class="m-wrap__card ">
            <div class="m-wrap__inner {{ options.innerClasses }}">
                <div class="m-wrap__header">
                    <h2 class="u-h3">{{ options.heading | safe }}</h2>
                    {% if options.description %}<p>{{ options.description | safe }}</p>{% endif %}
                </div>
            </div>
        </div>
    </section>
{%- endmacro %}

{% macro moduleWrapHeaderSimple(options={}) -%}
    <section class='m-wrap {{ options.wrapClasses }}'>
        <div class="m-wrap__header">
            <h2 class="u-h3">{{ options.heading | safe }}</h2>
            {% if options.description %}<p>{{ options.description | safe }}</p>{% endif %}
        </div>
    </section>
{%- endmacro %}

{% macro moduleWrapFooter(options={}) -%}
    <section class='m-wrap {{ options.wrapClasses }}'>
        <div class="m-wrap__card ">
            <div class="m-wrap__inner {{ options.innerClasses }}">
                <div class="m-wrap__footer">
                    <a href="{{ options.ctaLink }}" class="c-btn {{options.btnClasses}}">{{ options.ctaText }}</a>
                </div>
            </div>
        </div>
    </section>
{%- endmacro %}

{% macro moduleWrapFooterSimple(options={}) -%}
    <section class='m-wrap {{ options.wrapClasses }}'>
        <div class="m-wrap__footer">
            <a href="{{ options.ctaLink }}" class="c-btn {{options.btnClasses}}">{{ options.ctaText }}</a>
        </div>
    </section>
{%- endmacro %}
