
/*
 *
 *  Hero Title
 *
 */

{% macro heroTitle(text) -%}
    {{heroTitleBegin()}}{{text | safe}}{{heroTitleEnd()}}
{%- endmacro %}

{% macro heroTitleBegin() -%}
    <h1 class='o-hero-title u-color-white'>
{%- endmacro %}

{% macro heroTitleEnd() -%}
    </h1>
{%- endmacro %}


/*
 *
 *  Hero Sub Title
 *
 */

{% macro heroSubTitle(text) -%}
    {{heroSubTitleBegin()}}{{text | safe}}{{heroTitleEnd()}}
{%- endmacro %}

{% macro heroSubTitleBegin() -%}
    <h2 class='o-hero-subtitle u-color-white'>
{%- endmacro %}

{% macro heroSubTitleEnd() -%}
    </h2>
{%- endmacro %}






/*
 *
 *  Title
 *
 */

{% macro title(text,colorModifier = "u-color-blue") -%}
    {{titleBegin(colorModifier)}}{{text | safe}}{{titleEnd()}}
{%- endmacro %}d

{% macro titleBegin(colorModifier) -%}
    <h2 class='o-title-large {{colorModifier}}'>
{%- endmacro %}

{% macro titleEnd() -%}
    </h2>
{%- endmacro %}



/*
 *
 *  Sub Title
 *
 */

{% macro subTitle(text) -%}
    {{subTitleBegin()}}{{text}}{{subTitleEnd()}}
{%- endmacro %}

{% macro subTitleBegin() -%}
    <h3 class='o-title-medium'>
{%- endmacro%}

{% macro subTitleEnd() -%}
    </h3>
{%- endmacro%}