{% import 'html/red/macros/image.html' as imageMacros %} 
{% import 'html/red/macros/icons.html' as iconMacros %}

{% macro ctaBarOverlay(text) -%}
<div class="c-tile__cta c-tile__cta--overlay c-tile__cta--centered"><a href="#" class="c-btn c-btn--tertiary">{{text}}</a></div>
{%- endmacro %}

{% macro ctaBarStacked(text) -%}
<div class="c-card__cta c-card__cta--centered">
    <div class="c-btn c-card__cta-btn c-btn--secondary">{{text}}</div>
</div>
{%- endmacro %}

{% macro promoTileCardContentInsideTWL(ctaText="Shop Now", titleText="Promo Title", subtitleText="", descriptionText="", wrapClasses="", tileClasses="", headingClass="u-h3", contentClasses="c-tile__content--top-left", imageClasses="", imageMedium="", imageSmall="", outerTitle="", outerText="") -%}
    <a href="#" class="c-tile__wrap {{wrapClasses}}">
        <div class="c-tile c-tile--stacked {{tileClasses}} ">
            <div class="c-tile__content {{contentClasses}}">
                {% if subtitleText %}<h5 class="{{subHeadingClass}} c-tile__sub-heading t-text">{{subtitleText | safe}}</h5>{% endif %}
                {% if titleText %}<h4 class="{{headingClass}} c-tile__heading">{{titleText | safe}}</h4>{% endif %}
                {% if descriptionText %}<h5 class="u-h6 u-regular">{{descriptionText | safe}}</h5>{% endif %}
            </div>
            <div class="c-tile__image {{imageClasses}}" data-responsive-background-src data-src-s="{{imageMedium}}" data-src="{{imageSmall}}">
            </div>
        </div>
        {{ctaBarStacked(ctaText)}}
    </a>
{%- endmacro %}

{% macro promoTileCardContentBelowTWL(ctaText="Shop Now", titleText="Promo Title", subtitleText="", descriptionText="", wrapClasses="", tileClasses="", headingClass="u-h3", contentClasses="c-tile__content--top-left", imageClasses="", imageMedium="", imageSmall="", outerTitle="", outerText="") -%}
    <a href="#" class="c-card {{wrapClasses}}">
        <div class="c-tile c-tile--stacked {{tileClasses}} ">
            <div class="c-tile__image {{imageClasses}}" data-responsive-background-src data-src-s="{{imageMedium}}" data-src="{{imageSmall}}">
            </div>
        </div>
        {% if outerText %}
            <div class="c-card__content c-card__content--below">
                {% if outerTitle %}<h3 class="u-h5 c-card__title">{{outerTitle}}</h3>{% endif %}
                {% if outerText %}<p class="u-p2 c-card__description">{{outerText}}</p>{% endif %}
            </div>
        {% endif %}
        {{ctaBarStacked(ctaText)}}
    </a>
{%- endmacro %}

{% macro promoTileCardContentAboveTWL(ctaText="Shop Now", titleText="Promo Title", subtitleText="", descriptionText="", wrapClasses="", tileClasses="", headingClass="u-h3", contentClasses="c-tile__content--top-left", imageClasses="", imageMedium="", imageSmall="", outerTitle="", outerText="") -%}
    <a href="#" class="c-tile__wrap {{wrapClasses}}">
        <div class="c-tile__outer-content c-tile__outer-content--above">
            {% if outerTitle %}<h3 class="u-h5 c-tile__outer-title">{{outerTitle}}</h3>{% endif %}
            {% if outerText %}<p class="u-p2 c-tile__outer-text">{{outerText}}</p>{% endif %}
        </div>
        <div class="c-tile c-tile--stacked {{tileClasses}} ">
            <div class="c-tile__image {{imageClasses}}" data-responsive-background-src data-src-s="{{imageMedium}}" data-src="{{imageSmall}}">
            </div>
        </div>
        
        {{ctaBarStacked(ctaText)}}
    </a>
{%- endmacro %}

{% macro promoTileTWL(ctaText="Shop Now", TitleText="Promo Title", subtitleText="", descriptionText="", wrapClasses="", tileClasses="", headingClass="u-h3", contentClasses="c-tile__content--top-left", imageClasses="", imageMedium="", imageSmall="") -%}

    <div class="c-tile c-tile--stacked {{tileClasses}} ">
        <a href="#" class="c-tile__link"></a>
        <div class="c-tile__content {{contentClasses}}">
            {% if subtitleText %}<h5 class="{{subHeadingClass}} c-tile__sub-heading t-text">{{subtitleText | safe}}</h5>{% endif %}
            <h4 class="{{headingClass}} c-tile__heading">{{TitleText | safe}}</h4>
            <h5 class="u-h6 u-regular">{{descriptionText | safe}}</h5>
        </div>
        <div class="c-tile__image {{imageClasses}}" data-responsive-background-src data-src-s="{{imageMedium}}" data-src="{{imageSmall}}">
        </div>
    </div>

{%- endmacro %}

{% macro promoModuleWrapTWL(wrapClasses) -%}
<section class='m-wrap {{wrapClasses}}'>
    <div class="m-wrap__card">
        <div class="m-wrap__inner">
            <div class="m-wrap__content">
                {{caller()}}
            </div>
        </div>
    </div>
</section>
{%- endmacro %}

{% macro promoModuleWrapTWLLive(wrapClasses) -%}
    <section class='{{wrapClasses}}'>
        {{caller()}}
    </section>
{%- endmacro %}

{% macro Promos2UpTWL(options) -%}
    {% call promoModuleWrapTWL(wrapClasses=options.wrapClasses) -%}
    <div class="u-columns promo-card--2-up">
        <div class="u-columns__column u-columns__column--six-m">
            {{promoTileTWL(tileClasses=options.tileClasses)}}
        </div>
        <div class="u-columns__column u-columns__column--six-m">
            {{promoTileTWL(tileClasses=options.tileClasses)}}
        </div>
    </div>
    {% endcall %}
{%- endmacro %}

{% macro Promos2UpCardedTWL(options) -%}
    {% call promoModuleWrapTWL(wrapClasses=options.wrapClasses) -%}
    <div class="u-columns promo-card--2-up">
        <div class="u-columns__column u-columns__column--six-s">
            {{promoTileCardContentInsideTWL(titleText=options.titleText, tileClasses=options.tileClasses, outerTitle=options.outerTitle, outerText=options.outerText)}}
        </div>
        <div class="u-columns__column u-columns__column--six-s">
            {{promoTileCardContentInsideTWL(titleText=options.titleText, tileClasses=options.tileClasses, outerTitle=options.outerTitle, outerText=options.outerText)}}
        </div>
    </div>
    {% endcall %}
{%- endmacro %}

{% macro Promos2UpCardedContentBelowTWL(options) -%}
    {% call promoModuleWrapTWLLive(wrapClasses=options.wrapClasses) -%}
    <div class="u-columns promo-card--2-up">
        <div class="u-columns__column u-columns__column--six-s">
            
            {{promoTileCardContentBelowTWL(titleText=options.titleText, tileClasses=options.tileClasses, outerTitle=options.outerTitle, outerText=options.outerText, imageSmall=options.imageSmall, imageMedium=options.imageSmall)}}
        </div>
        <div class="u-columns__column u-columns__column--six-s">
            {{promoTileCardContentBelowTWL(titleText=options.titleText, tileClasses=options.tileClasses, outerTitle=options.outerTitle, outerText=options.outerText, imageSmall=options.imageSmall, imageMedium=options.imageSmall)}}
        </div>
    </div>
    {% endcall %}
{%- endmacro %}

{% macro Promos3UpCardedTWL(options) -%}
    {% call promoModuleWrapTWLLive(wrapClasses=options.wrapClasses) -%}
    <div class="u-columns promo-card--3-up">
        <div class="u-columns__column u-columns__column--four-m">
            {{promoTileCardContentInsideTWL(tileClasses=options.heroTileClasses, titleText=options.titleText,imageSmall=options.imageSmall, imageMedium=options.imageSmall)}}
        </div>
        <div class="u-columns__column u-columns__column--six u-columns__column--four-m">
            {{promoTileCardContentInsideTWL(tileClasses=options.tileClasses, titleText=options.titleText, imageSmall=options.imageSmall, imageMedium=options.imageSmall)}}
        </div>
        <div class="u-columns__column u-columns__column--six u-columns__column--four-m">
            {{promoTileCardContentInsideTWL(tileClasses=options.tileClasses, titleText=options.titleText, imageSmall=options.imageSmall, imageMedium=options.imageSmall)}}
        </div>
    </div>
    {% endcall %}
{%- endmacro %}

{% macro Promos3UpTWL(options) -%}
    {% call promoModuleWrapTWL(wrapClasses=options.wrapClasses) -%}
    <div class="u-columns promo-card--3-up">
        <div class="u-columns__column u-columns__column--four-l">
            {{promoTileTWL(tileClasses=options.tileClasses)}}
        </div>
        <div class="u-columns__column u-columns__column--six-m u-columns__column--four-l">
            {{promoTileTWL(tileClasses=options.tileClasses)}}
        </div>
        <div class="u-columns__column u-columns__column--six-m u-columns__column--four-l">
            {{promoTileTWL(tileClasses=options.tileClasses)}}
        </div>
    </div>
    {% endcall %}
{%- endmacro %}

{% macro Promos4UpCardedTWL(options) -%}
    {% call promoModuleWrapTWLLive(wrapClasses=options.wrapClasses) -%}
    <div class="u-columns promo-card--4-up">
        <div class="u-columns__column u-columns__column--six u-columns__column--three-l">
            {{promoTileCardContentInsideTWL(tileClasses=options.tileClasses, titleText=options.titleText, imageSmall=options.imageSmall, imageMedium=options.imageSmall)}}
        </div>
        <div class="u-columns__column u-columns__column--six u-columns__column--three-l">
            {{promoTileCardContentInsideTWL(tileClasses=options.tileClasses, titleText=options.titleText, imageSmall=options.imageSmall, imageMedium=options.imageSmall)}}
        </div>
        <div class="u-columns__column u-columns__column--six u-columns__column--three-l">
            {{promoTileCardContentInsideTWL(tileClasses=options.tileClasses, titleText=options.titleText, imageSmall=options.imageSmall, imageMedium=options.imageSmall)}}
        </div>
        <div class="u-columns__column u-columns__column--six u-columns__column--three-l">
            {{promoTileCardContentInsideTWL(tileClasses=options.tileClasses, titleText=options.titleText, imageSmall=options.imageSmall, imageMedium=options.imageSmall)}}
        </div>
    </div>
    {% endcall %}
{%- endmacro %}

{% macro Promos4UpTWL(options) -%}
    {% call promoModuleWrapTWL(wrapClasses=options.wrapClasses) -%}
    <div class="u-columns promo-card--4-up">
        <div class="u-columns__column u-columns__column--six-m u-columns__column--three-l">
            {{promoTileTWL(tileClasses=options.tileClasses)}}
        </div>
        <div class="u-columns__column u-columns__column--six-m u-columns__column--three-l">
            {{promoTileTWL(tileClasses=options.tileClasses)}}
        </div>
        <div class="u-columns__column u-columns__column--six-m u-columns__column--three-l">
            {{promoTileTWL(tileClasses=options.tileClasses)}}
        </div>
        <div class="u-columns__column u-columns__column--six-m u-columns__column--three-l">
            {{promoTileTWL(tileClasses=options.tileClasses)}}
        </div>
    </div>
    {% endcall %}
{%- endmacro %}

{% macro PromosInspirationTWL(options) -%}
    {% call promoModuleWrapTWL(wrapClasses="m-wrap--carded m-wrap--stacked") -%}
    <div class="u-columns">
        <div class="u-columns__column u-columns__column--six-m">
            {{promoTileCardContentInsideTWL(tileClasses="c-tile--gutter", headingClass="u-h2", wrapClasses="c-tile__wrap--full-height")}}
        </div>
        <div class="u-columns__column u-columns__column--six-m u-columns">
            <div class="u-columns__column u-columns__column--six-m u-columns">
                {{promoTileCardContentInsideTWL(tileClasses="c-tile--gutter u-aspect-nine-by-eight")}}
            </div>
            <div class="u-columns__column u-columns__column--six-m u-columns">
                {{promoTileCardContentInsideTWL(tileClasses="c-tile--gutter u-aspect-nine-by-eight")}}
            </div>
            <div class="u-columns__column u-columns__column--six-m u-columns">
                {{promoTileCardContentInsideTWL(tileClasses="c-tile--gutter u-aspect-nine-by-eight")}}
            </div>
            <div class="u-columns__column u-columns__column--six-m u-columns">
                {{promoTileCardContentInsideTWL(tileClasses="c-tile--gutter u-aspect-nine-by-eight")}}
            </div>
        </div>

    </div>
    {% endcall %}
{%- endmacro %}

{% macro Promos2UpTWLPopulated() -%}

    {% 
        set options = {
            heading:"Featured Categories",
            description: "lorem ipsum",
            ctaText: "Shop All",
            headerBG: ""
        }
    %}

    {{Promos2UpTWL(options)}}
{%- endmacro %}

