$aspect-ratios : (

	//u-aspect-one-by-one
	-one-by-one:(
		width:1,
		height:1
	),
	//u-aspect-three-by-one
	// -six-by-two:(
	// 	width: 6,
	// 	height: 2
	// ),
	//u-aspect-two-by-one
	-two-by-one:(
		width:2,
		height:1
	),
    //u-aspect-one-by-two
	// -one-by-two:(
	// 	width:1,
	// 	height:2
	// ),
    //u-aspect-two-by-three
	// -two-by-three:(
	// 	width:2,
	// 	height:3
	// ),
	//u-aspect-three-by-one
	-three-by-one:(
		width:3,
		height:1
	),
    //u-aspect-three-by-two
	-three-by-two:(
		width:3,
		height:2
	),
	//u-aspect-three-by-four
	-three-by-four:(
		width:3,
		height:4
	),
	// u-aspect-four-by-one
	// -four-by-one:(
	// 	width:4,
	// 	height:1
	// ),
	//u-aspect-four-by-two
	-four-by-one:(
		width:4,
		height:1
	),
	//u-aspect-four-by-three
	// -four-by-three:(
	// 	width:4,
	// 	height:3
	// ),
	// u-aspect-four-by-five
	// -four-by-five:(
	// 	width: 4,
	// 	height: 5
	// ),
	// u-aspect-five-by-two
	// -five-by-two:(
	// 	width:5,
	// 	height:2
	// ),
	// u-aspect-six-by-three
	// -six-by-three:(
	// 	width:6,
	// 	height:3
	// ),
	// u-aspect-six-by-four
	// -six-by-four:(
	// 	width:6,
	// 	height:4
	// ),
	// u-aspect-eight-by-five
	// -eight-by-five:(
	// 	width: 8,
	// 	height: 5
	// ),
	//u-aspect-eight-by-nine
	-eight-by-nine:(
		width: 8,
		height: 9
	),
	//u-aspect-nine-by-one
	// -nine-by-one:(
	// 	width: 9,
	// 	height: 1
	// ),
	//u-aspect-nine-by-two
	// -nine-by-two:(
	// 	width: 9,
	// 	height: 2
	// ),
	//u-aspect-nine-by-three
	// -nine-by-three:(
	// 	width: 9,
	// 	height: 3
	// ),
	//u-aspect-nine-by-four
	-nine-by-four:(
		width: 9,
		height: 4
	),
	//u-aspect-nine-by-five
	// -nine-by-five:(
	// 	width: 9,
	// 	height: 5
	// ),
	//u-aspect-nine-by-eight
	-nine-by-eight:(
		width: 9,
		height: 8
	),
	//u-aspect-sixteen-by-nine
	-sixteen-by-nine:(
		width: 16,
		height: 9
	),
	//u-aspect-zero
	-zero:(
		width:1,
		height:0
	),
	//testing below:
	// -six-by-seven:(
	// 	width:6,
	// 	height:7
	// ),
	// -seven-by-six:(
	// 	width:7,
	// 	height:6
	// )
);


//ASPECT RATIOS

.u-aspect{

	@each $aspect-selector,$ratio-details in $aspect-ratios {
		
		&#{$aspect-selector}{
			@include aspect-ratio(map-get($ratio-details,width), map-get($ratio-details,height));

		}

	}

	@each $breakpoint-selector,$breakpoint in $layout-breakpoints {

		@each $aspect-selector,$ratio-details in $aspect-ratios {
		
			&#{$aspect-selector}#{$breakpoint-selector}{

				@media (min-width: $breakpoint) {
					@include aspect-ratio(map-get($ratio-details,width), map-get($ratio-details,height));
				}

			}

		}

	}

	&-none{
		&-m{
			@include media($media-m){
				&:before{
					display:none !important;
				}
			}
		}

		// &-s
		// {
		// 	@include media($media-s-max){
		// 		&:before{
		// 			display:none !important;
		// 		}
		// 	}
		// }
		
	}
}
