.u-bg{
    &-black{
	    background-color:$color-black !important;
    }
    &-white{
        background-color:$color-white !important;
    }
    &-a{
        background-color:$color-a !important;
    }
    &-b{
        background-color:$color-b !important;
    }
    &-c{
        background-color:$color-c !important;
    }
    &-d{
        background-color:$color-d !important;
    }
    &-e{
        background-color:$color-e !important;
    }
    &-f{
        background-color:$color-f !important;
    }
    &-g{
        background-color:$color-g !important;
    }
    &-grey-light-98{
	    background-color:$color-grey-light-98 !important;
    }
    &-grey-light-90{
        background-color:$color-grey-light-90 !important;
    }
    &-grey-light-80{
	    background-color:$color-grey-light-80 !important;
    }
    &-grey-light-60{
	    background-color:$color-grey-light-60 !important;
    }
    &-grey-light-40{
	    background-color:$color-grey-light-40 !important;
    }
    &-grey-light-20{
	    background-color:$color-grey-light-20 !important;
    }

    &-clearance{
	    background-color:$color-clearance !important;
    }

    &-white{
        &-m {
            @include media($media-m) {
                background-color:$color-white !important;
            }
        }
    }

    &-grey-light-90{
        &-l {
            @include media($media-l) {
                background-color:$color-grey-light-90 !important;
            }
        }
    }
}

.u-color{
    &-black{
	    color:$color-black !important;
    }
    &-white{
	    color:$color-white !important;
    }

    &-primary, &-a{
        color:$color-a !important;
    }
    &-secondary, &-b{
        color:$color-b !important;
    }
    &-tertiary, &-c{
        color:$color-c !important;
    }

    &-grey{
	    color:$color-grey !important;
    }
    &-grey-light-80{
	    color:$color-grey-light-80 !important;
    }
    &-grey-light-60{
	    color:$color-grey-light-60 !important;
    }
    &-grey-light-40{
	    color:$color-grey-light-40 !important;
    }
    &-grey-light-20{
	    color:$color-grey-light-20 !important;
    }

    &-error{
	    color:$color-error !important;
    }
    &-warning{
	    color:$color-warning !important;
    }
}