
//
// ------------------------------------- 
//   OBJECT: #COLUMNS
// -------------------------------------
//  * A multi columns layout class, utilsies flexbox.


$name     : u-columns;
$selector : ".#{$name}";

// 
// -------------------------------------
//   USAGE
// -------------------------------------
//  


//
// -------------------------------------
//   Vars
// -------------------------------------
//

$breakpoint-min                       : $media-min;
$breakpoint-xs                        : $media-xs;
$breakpoint-s                         : $media-s;
$breakpoint-m                         : $media-m;
$breakpoint-l                         : $media-l;
$breakpoint-xl                        : $media-xl;
$breakpoint-xxl                       : $media-xxl;
// $breakpoint-xxxl                      : $media-xxxl;

$column-grid-default:12;

$column-gutter-half: $card-gutter / 2;
$row-margin: -$card-gutter / 2;


$layout-columns  : (
	--twelve  : 12,
	--eleven  : 11,
	--ten     : 10,
	--nine    : 9,
	--eight   : 8,
	--seven   : 7,
	--six     : 6,
	--five    : 5,
	--four    : 4,
	--three   : 3,
	--two     : 2,
	--one     : 1,
);

$column-breakpoints : (
	//-min     : (breakpoint:$breakpoint-min,columns:6),
	//-xs      : (breakpoint:$breakpoint-xs,columns:$column-grid-default),
	-s       : (breakpoint:$breakpoint-s,columns:$column-grid-default),
	-m       : (breakpoint:$breakpoint-m,columns:$column-grid-default),
	-l       : (breakpoint:$breakpoint-l,columns:$column-grid-default),
	-xl      : (breakpoint:$breakpoint-xl,columns:$column-grid-default),
	-xxl     : (breakpoint:$breakpoint-xxl,columns:$column-grid-default),
	// -xxxl     : (breakpoint:$breakpoint-xxxl,columns:$column-grid-default)
);

// fluid column number layout
$layout-fluid-columns  : (
	--eight    : 8,
	--five    : 5,
	--four    : 4,
	--three   : 3,
	--two     : 2,
	--one     : 1
);


//
// -------------------------------------
//   @extends
// -------------------------------------
//


//
// -------------------------------------
//   Selectors
// -------------------------------------
//


#{$selector} {

	box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    // margin-right: -$column-gutter-half;
    // margin-left: -$column-gutter-half;
	width:100%;
	// width:calc(100% + (#{$column-gutter-half} * 2));

	// &--no-gutter, &.-no-gutter{
	// 	margin-left: 0;
	// 	margin-right: 0;
	// 	width:100%;
	// }

	&__column{

		// padding-left: $column-gutter-half;
		// padding-right: $column-gutter-half;
		position: relative;
		width:100%;
		display: flex;

		// #{$selector}--no-gutter > &, #{$selector}.-no-gutter > &{
		// 	padding-left: 0 ;
		// 	padding-right: 0;
		// }

		&--zero{
			display:none;
		}

		@each $columns-selector, $amount in $layout-columns {

			&#{$columns-selector}{

				display:flex;
				width:calc( (#{$amount} / #{$column-grid-default}) * 100%);
				
				// #{$selector}--no-gutter > &, #{$selector}.-no-gutter > &{
				// 	width:calc( (#{$amount} / #{$column-grid-default}) * 100%);
				// }
				
				&-zero{
					display:flex;
				}

				// @each $mqselector, $breakpoint-details in $column-breakpoints {

				// 	@media (min-width: map-get($breakpoint-details,breakpoint)) {

				// 		width:calc( (#{$amount} / #{map-get($breakpoint-details,columns)}) * 100% - #{$card-gutter});
						
				// 		#{$selector}.-no-gutter > & {
				// 			width:calc( (#{$amount} / #{map-get($breakpoint-details,columns)}) * 100%);
				// 		}

				//     }

				// }

				// fluid column number layout
				@each $fluid-columns, $fluid-amount in $layout-fluid-columns {

					#{$selector}#{$fluid-columns} > &{

						width:calc( (#{$amount} / #{$fluid-amount}) * 100%});
						

					}

				}

				
			}


		}

		//--

		@each $mqselector, $breakpoint-details in $column-breakpoints {

			@each $columns-selector, $amount in $layout-columns {

				&#{$columns-selector}{

					&#{$mqselector}{

						@media (min-width: map-get($breakpoint-details,breakpoint)) {

							display: flex;
							width:calc( (#{$amount} / #{map-get($breakpoint-details,columns)}) * 100%);

							&-zero{
								display:none;
							}

							// fluid column number layout
							@each $fluid-columns, $fluid-amount in $layout-fluid-columns {

								#{$selector}#{$fluid-columns} > &{

									width:calc( (#{$amount} / #{$fluid-amount}) * 100%);
								}

							}

					    }

					}

				
				}

			}

		}

		//--


	}
	
}

