//.u-flex
.u-flex{
	display:flex;
	
	&-center-all{
		@include flex();
		align-items: center !important;
		justify-content: center  !important;
	}

	&-align{
		&-flex-start{
			align-items: flex-start;
		}
		&-center{
			align-items: center;
		}
	}
	
	//.u-flex-justify-space-between
	&-justify-space-between
	{
		@include flex();
		justify-content: space-between !important;

		//.u-flex-justify-space-between-m
		&-m
		{
			@include media($media-m)
			{
				@include flex();
				justify-content: space-between !important;
			}
		}
	}

	//.u-flex-justify-space-evenly
	&-justify-space-evenly
	{
		@include flex();
		justify-content: space-evenly !important;

		//.u-flex-justify-space-evenly-m
		&-m
		{
			@include media($media-m)
			{
				@include flex();
				justify-content: space-evenly !important;
			}
		}
	}

	//.u-flex-justify-space-around
	&-justify-space-around
	{
		@include flex();
		justify-content: space-around !important;

		//.u-flex-justify-space-around-m
		&-m
		{
			@include media($media-m)
			{
				@include flex();
				justify-content: space-around !important;
			}
		}
	}


	//.u-flex-justify-start
	&-justify-start{
		@include flex();
		justify-content: flex-start !important;
        
        // @include breakpoint-me()
		// {
        // 	@include flex();
        //     justify-content: center !important;
		// }
	}

	//.u-flex-justify-center
	&-justify-center{
		@include flex();
		justify-content: center !important;
        
        // @include breakpoint-me()
		// {
        // 	@include flex();
        //     justify-content: center !important;
		// }
	}

	//.u-flex-justify-end
    &-justify-end{
        @include flex();
        justify-content: flex-end !important;;

		// @include breakpoint-me()
		// {
        // 	@include flex();
        //     flex-direction:column;
        // 	justify-content: flex-end;
		// }
    }

	&-grow{
		//.u-flex-grow-0
		&-0{
			@include flex();
            flex-grow:0  !important;
            @include breakpoint-me()
		    {   
                @include flex();
                flex-grow:0  !important;
            }
		}
		//.u-flex-grow-1
		&-1{
			@include flex();
            flex-grow:1  !important;
            @include breakpoint-me()
		    {   
                @include flex();
                flex-grow:1  !important;
            }
		}
	}

	/*&-shrink{
		&-0{
			@include flex();
            flex-shrink:0 !important;
			@include breakpoint-me() 
            {
                @include flex();
				flex-grow:0  !important;
			}
		}
	}*/

	//.u-flex-wrap
	&-wrap{
        @include flex();
        flex-wrap:wrap;
	}

	//.u-flex-no-wrap
	&-no-wrap{
        @include flex();
        flex-wrap:nowrap;
	}
	//.u-flex-row
	//.u-flex-row-s
	//.u-flex-row-m
	//.u-flex-row-l
	&-row{
        @include flex();
        flex-direction: row !important;
		@include breakpoint-me()
		{
			@include flex();
			flex-direction: row !important;
		}
	}

	&-row-reverse{
        @include flex();
        flex-direction: row-reverse !important;
		@include breakpoint-me()
		{
			@include flex();
			flex-direction: row-reverse !important;
		}
	}

	//.u-flex-column
	//.u-flex-column-s
	//.u-flex-column-m
	//.u-flex-column-l
	&-column{
		@include flex();
		flex-direction: column !important;
		@include breakpoint-me()
		{
			@include flex();
			flex-direction: column !important;
		}
	}

	&-column-reverse{
		@include flex();
		flex-direction: column-reverse !important;
		@include breakpoint-me()
		{
			@include flex();
			flex-direction: column-reverse !important;
		}
	}

	//.u-flex-basis-0
	&-basis{
		&-0{
			flex-basis: 0;
            // @include breakpoint-me()
		    // {
            //     flex-basis: 0;
		    // }
		}
	}

	//.u-flex-order-1
	//.u-flex-order-1-s
	//.u-flex-order-1-m
	//.u-flex-order-1-l
	/*&-order{
		&-1{
			order: 1;
			@include breakpoint-me()
		    {
                order: 1;
		    }
		}
		&-2{
			order: 2;
			@include breakpoint-me()
		    {
                order: 2;
		    }
		}
		&-3{
			order: 3;
			@include breakpoint-me()
		    {
                order: 3;
		    }
		}
	}*/

}
