
.u-centered{
	text-align: center !important;
}

.u-clearfix{
	@include clearfix;
}

.u-full-width{
	width:100%;
}

.u-block{
	display:block !important;
}

.u-relative{
	position:relative;
}

.u-max-width{
	@include max-width();
}

.u-mobile-spacing {
	@include media($media-s-max) {
		padding: 0 $x4;
	}
}

.u-outer-gutter {
	@include outer-gutter;
}

.u-outer-gutter-red {
	@include outer-gutter-red;
}
