/**
  * Hide AT a certain breakpoint 
  */

.u-hide{

	display:none;

	@include breakpoint-me()
	{
		display:none;
	}
}
.u-show{
	
	display:block;

	@include breakpoint-me()
	{
		display:block;
	}
}

/**
  * Hide FROM a certain breakpoint 
  */
.u-hide-up
{
	@each $breakpoint-selector,$breakpoint in $layout-breakpoints
	{
			&#{$breakpoint-selector}
			{
				@media (min-width: $breakpoint)
				{
					display:none !important;
				}
			}
	}
}



/**
  *
  * Hide TO a certain breakpoint 
  *
  */
.u-hide-down
{
	@each $breakpoint-selector,$breakpoint in $layout-breakpoints-max
	{
			&#{$breakpoint-selector}
			{
				@media (max-width: ($breakpoint))
				{
					display:none !important;
				}
			}
	}
}

.u-visually-hidden {
	opacity:0;
	height: 0;
}