

// .slick-list {

//     .u-carousel-overflow &{
//         overflow:visible !important;
//     }
    
//     .overflow{

//         &-s-max & {
//             @include media($media-s-max) {
//                 overflow:visible;
//             }
//         }

//         &-xs-max & {
//             @include media($media-xs-max) {
//                 overflow:visible;
//             }
//         }
//     }
// }