
.t{
	&-light{
		@include light-theme;
	}
	&-dark{
		@include dark-theme;
	}

	&-light-m{
		@include media($media-m) {
			@include light-theme;
		}
	}
	&-dark-m{
		@include media($media-m) {
			@include dark-theme;
		}
	}
}
