.u-link-reset {
	text-decoration: none;
	&:hover {
	// @include hover {
		text-decoration: none;
		color: inherit;
	}
}

.u{
	&-heading{
		@include font-header();
	}
	&-script{
		@include font-script();
	}
	&-text{
		@include font-text();
	}
	&-xxxl {
		@include header-font-size-xxxl;
	}
	&-xxl {
		@include header-font-size-xxl;
	}
	&-xl {
		@include header-font-size-xl;
	}
	&-h1{
		@include header-font-size-h1;
	}
	&-h2{
		@include header-font-size-h2;
	}
	&-h3{
		@include header-font-size-h3;
	}
	&-h4{
		@include header-font-size-h4;
	}
	&-h5{
		@include header-font-size-h5;
	}
	&-h6{
		@include header-font-size-h6;
	}
	&-h7{
		@include header-font-size-h7;
	}
	
	&-p1{
		@include text-font-size-p1;
	}
	&-p2{
		@include text-font-size-p2;
	}
	&-p3{
		@include text-font-size-p3;
	}

	&-price1{
		@include price-font-size-1;
	}
	&-price2{
		@include price-font-size-2;
	}
	&-price3{
		@include price-font-size-3;
	}
	// &-p4{
	// 	@include text-font-size-p4;
	// }
	// &-p5{
	// 	@include text-font-size-p5;
	// }

	&-bold{
		@include font-text-bold();
	}
	&-uppercase{
		text-transform: uppercase !important;
	}
	&-regular{
		@include font-text();
	}

	&-link-primary{
		@include font-link-primary();
	}
	
}

.u-spacing {
	@include text-spacing;
}

.u-wysiwyg {
	display: block;

	@include wysiwyg-text-spacing;
	@include wysiwyg-heading-sizing;
}

.u-wysiwyg-large {
	display: block;

	@include wysiwyg-text-spacing;
	@include wysiwyg-text-sizing-large;
	@include wysiwyg-heading-sizing;
}