[data-module=show-more] {
    li {
        transition: .25s ease;
        max-height: inherit;
        opacity:1;
    }
    li.is-hidden {
        opacity: 0;
        max-height: 0;
        padding:0;
        margin:0;
    }
}
