
// 
// ------------------------------------- 
// 	GUIDE: VARIABLES
// -------------------------------------
//  
// 

// Fonts
///////////////////////////////////////////////////////////////////////////////
$g-font: 'proxima-nova-reg', sans-serif;
$g-font-header: 'proxima-nova-sbold', sans-serif;

$g-font-weight-bold     : 700;
$g-font-weight-medium   : 500;
$g-font-weight-regular  : 400;
$g-font-weight-light    : lighter;

$g-font-weight-normal   : $g-font-weight-regular;
$g-font-weight-header   : $g-font-weight-bold;

$g-line-height		    : 1.25;
$g-line-height-header	: 1.25;

$g-header-font-size-h1  : 11.5rem;
$g-header-font-size-h2  : 8rem;
$g-header-font-size-h3  : 7rem;
$g-header-font-size-h4  : 6rem;
$g-header-font-size-h5  : 4rem;

$g-header-font-size-p1  : 6rem;
$g-header-font-size-p2  : 4rem;
$g-header-font-size-p3  : 3.5rem;
$g-header-font-size-p4  : 3.25rem;

// Transitions
///////////////////////////////////////////////////////////////////////////////
$transition-time       : 200ms;
$transition-time-slow  : 400ms;
$transition-easing     : ease-in-out;

$transition: all $transition-time  $transition-easing;
