{% import 'html/t7-live/modules/tiles-category/macros.html' as categoryMacros %}
{% import 'html/guide/macros/module.html' as wrapMacros %}
{% import 'html/guide/macros/guide.html' as guideMacros %}

<div class="g-display--t7 u-block">

    
    {% call guideMacros.docs2ColWrap() -%}

            {% call guideMacros.docs2ColColumn1Wrap() -%}
                
                <p>
                    Module displays as scrollable area on mobile and a tile belt on desktop (although the search results on mobile hides this module)<br /><br />
                    Note: the prototype below is just a static image demonstrating mobile and desktop breakpoints.<br />
                </p>

            {% endcall %}

            {% call guideMacros.docs2ColColumn2Wrap(colHeading="Category Tile Specs:") -%}
                <p>
                    Image size: 483px x 216px (16:9 ratio)<br />
                    Title: text <br />
                    link: URL<br />
                    CTA button text: text
                </p>
            {% endcall %}
        {% endcall %}

    {{categoryMacros.categoryTilesBeltT7()}}
</div>
