{% import 'html/t7-live/modules/tiles-category/macros.html' as categoryMacros %}
{% import 'html/guide/macros/module.html' as wrapMacros %}
{% import 'html/guide/macros/guide.html' as guideMacros %}

<div class="g-display--t7 u-block">

    
    {% call guideMacros.docs2ColWrap() -%}

            {% call guideMacros.docs2ColColumn1Wrap() -%}
                
                <p>
                    Module displays as scrollable area on mobile and a tile belt on desktop. The Category tiles belt banner displays full width.<br />
                </p>

            {% endcall %}

            {% call guideMacros.docs2ColColumn2Wrap(colHeading="Category Tile Specs:") -%}
                <p>
                    Image size: 420px x 280px (3:2 ratio on desktop. 16:9 ratio on mobile but can use the same images)<br />
                    Title: text <br />
                    link: URL<br />
                    CTA button text: text
                </p>
            {% endcall %}
        {% endcall %}

    {{categoryMacros.categoryTilesBeltBannerPopulatedT7()}}
</div>
