{% import 'html/t7-live/modules/tiles-category/macros.html' as categoryMacros %}
{% import 'html/guide/macros/module.html' as wrapMacros %}
{% import 'html/guide/macros/guide.html' as guideMacros %}

<div class="g-display--t7 u-block">

    
    {% call guideMacros.docs2ColWrap() -%}

        {% call guideMacros.docs2ColColumn1Wrap() -%}
                
                <p>
                    Module displays as a link list on mobile, a scrollable area on tablet and a carousel on desktop<br />
                    Fields:<br />
                    Module heading: text<br />
                    Module header background image: Any imge size, it displays background position center.<br />
                </p>
            {% endcall %}

            {% call guideMacros.docs2ColColumn2Wrap(colHeading="Category Tile Specs:") -%}
                <p>
                    Image size: 306px x 408px (3 x 4 ratio)<br />
                    Title: text <br />
                    link: URL<br />
                    CTA button text: text
                </p>
            {% endcall %}
        {% endcall %}

    {{categoryMacros.categoryTilesBeltCarouselT7Populated()}}
</div>
