{% import 'html/t7-live/macros/image.html' as imageMacros %} 
{% import 'html/t7-live/macros/icons.html' as iconMacros %}
{% import 'html/t7-live/components/tiles/macros.html' as tileMacros %}

{% macro moduleWrap(options) -%}
<section class='m-wrap js-animate-module {{options.wrapClasses}}'>
    <!-- <div class="m-product-belt__ambient-text">adventure</div> -->
    <img src="/assets/images/t7/ambient-text-adventure.svg" class="m-product-belt__ambient-text-bg" />
    <div class="m-wrap__card">
        <div class="m-wrap__inner">
            <div class="m-wrap__header">
                <h2 class="u-h3 m-wrap__heading">{{options.heading}}</h2>
                {% if options.description %}<p>{{options.description}}</p>{% endif %}
            </div>
            <div class="m-wrap__content">
                {{caller()}}
            </div>
        </div>
    </div>
</section>
{%- endmacro %}

{% macro moduleWrapFooter(options) -%}
<section class='m-wrap js-animate-module {{options.wrapClasses}}'>
    <!-- <div class="m-product-belt__ambient-text">adventure</div> -->
    <img src="/assets/images/t7/ambient-text-adventure.svg" class="m-product-belt__ambient-text-bg" />
    <div class="m-wrap__card">
        <div class="m-wrap__inner">
            <div class="m-wrap__header">
                <h2 class="u-h3 m-wrap__heading">{{options.heading}}</h2>
                {% if options.description %}<p>{{options.description}}</p>{% endif %}
            </div>
            <div class="m-wrap__content">
                {{caller()}}
            </div>
            <div class="m-wrap__footer u-hide-down-m"></div>
        </div>
    </div>
</section>
{%- endmacro %}

{% macro categoryTilesBeltCarouselT7(options) -%}
    {% call moduleWrapFooter(options) -%}
    <div class="m-category-tile-belt m-category-tile-belt--carousel">
            <div class="m-category-tile-belt__inner "
            data-module="slick-category-tiles-carousel">

                <button class="c-btn c-btn--carousel c-btn--carousel-previous js-btn-previous">{{ iconMacros.iconChevronLeft(name='chevron-left', classes="c-icon c-icon--large c-btn__carousel-icon") }}</button>
                <button class="c-btn c-btn--carousel c-btn--carousel-next js-btn-next">{{ iconMacros.iconChevronRight(name='chevron-right', classes="c-icon c-icon--large c-btn__carousel-icon") }}</button>

                <div class="js-carousel slick-slider--overflow">
                    
                    {{categoryTileT7(titleText="Bikes & Workshops", tileClasses="js-animate-sequence c-tile-category--carousel")}}
                    {{categoryTileT7(titleText="Bikes", tileClasses="js-animate-sequence c-tile-category--carousel")}}
                    {{categoryTileT7(titleText="Bikes", tileClasses="js-animate-sequence c-tile-category--carousel")}}
                    {{categoryTileT7(titleText="Bikes", tileClasses="js-animate-sequence c-tile-category--carousel")}}
                    {{categoryTileT7(titleText="Bikes", tileClasses="js-animate-sequence c-tile-category--carousel")}}
                    {{categoryTileT7(titleText="Bikes", tileClasses="js-animate-sequence c-tile-category--carousel")}}
                    {{categoryTileT7(titleText="Bikes", tileClasses="js-animate-sequence c-tile-category--carousel")}}
                    {{categoryTileT7(titleText="Bikes", tileClasses="js-animate-sequence c-tile-category--carousel")}}

                    <!-- titleText="Bikes", ctaText="Shop All", image="/assets/images/test/tile-category-image.jpg", tileClasses="" -->
                    
                </div>
            </div>
        </div>
    </div>
    {% endcall %}
{%- endmacro %}

{% macro categoryTilesBeltT7() -%}
<section class='m-wrap'>
    <div class="m-wrap__card">
        <div class="m-wrap__inner">
            <div class="m-wrap__content">
                <div class="m-tile-belt m-category-tile-belt">
                    <div class="m-tile-belt__inner">
                        {% for i in range(0, 4) -%}
                        
                            {{categoryTileT7(tileClasses="t-dark u-aspect-three-by-two c-tile-category--belt")}}
                        
                        {%- endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%- endmacro %}

{% macro categoryTilesBeltPLPT7() -%}
    {% call moduleWrap() -%}
        <div class="m-category-tile-belt m-category-tile-belt--banner">
                <div class="m-category-tile-belt__inner">
                    
                    {{categoryTileT7(tileClasses="t-dark u-aspect-three-by-two-m", titleText="Road Bikes")}}
                    {{categoryTileT7(tileClasses="t-dark u-aspect-three-by-two-m", titleText="Mountain Bikes")}}
                    {{categoryTileT7(tileClasses="t-dark u-aspect-three-by-two-m", titleText="For Kids")}}
                    {{categoryTileT7(tileClasses="t-dark u-aspect-three-by-two-m", titleText="Urban Bikes")}}
                    
                </div>
            </div>
        </div>
    {% endcall %}

{%- endmacro %}

{% macro categoryTileT7(titleText="Bikes", ctaText="Shop All", image="/assets/images/test/tile-category-image.jpg", tileClasses="") -%}
    <div class="m-category-tile-belt__tile {{wrapClasses}}">
        <article class="c-tile c-tile-category {{tileClasses}}">
            <a href="#" aria-hidden="true" class="c-tile__link">{{titleText}}</a>
            <div class="c-tile-category__content">
                <span class="c-tile-category__category-icon-wrap">
                    {{iconMacros.categoryBike(classes="c-tile-category__category-icon")}}
                </span>
                <h2 class="c-tile-category__heading ">
                    <a href="" class="u-link-reset t-heading">{{titleText}}</a>
                </h2>
                {{ iconMacros.iconChevronRight(name='chevron-right', classes="c-tile-category__heading-icon c-icon--large c-btn__icon") }}
            </div>

            <div class="c-tile__cta c-tile__cta--bottom-center">
                <a href="#" class="c-btn t-btn-secondary">{{ctaText}}</a>
            </div>
            <div class="c-tile__overlay"></div>
            <div class="c-tile__image" data-responsive-background-src data-src="{{image}}"></div>
        </article>
    </div>
{%- endmacro %}

{% macro categoryTilesBeltCarouselT7Populated() -%}

    {% 
        set options = {
            heading:"Shop by Category",
            backgroundImage: "/assets/images/test/module-header-bg.jpg",
            description: "",
            ctaText: "View All",
            headerBG: "",
            wrapClasses:"m-wrap--spacious"
        }
    %}

    {{categoryTilesBeltCarouselT7(options)}}
{%- endmacro %}

{% macro categoryTilesBeltT7Populated() -%}

    {% 
        set options = {
            
        }
    %}

    {{categoryTilesBeltT7(options)}}
{%- endmacro %}

{% macro categoryTilesBeltBannerT7(options) -%}
<div class="m-hero {{options.wrapClasses}}">
    <div class="m-hero__wrap">
            <div class="m-category-tile-belt m-category-tile-belt--banner">
                <div class="m-category-tile-belt__inner">
                    
                    {{categoryTileT7(tileClasses="t-dark u-aspect-nine-by-four c-tile-category--banner", titleText="Road Bikes")}}
                    {{categoryTileT7(tileClasses="t-dark u-aspect-nine-by-four c-tile-category--banner" , titleText="Mountain Bikes")}}
                    {{categoryTileT7(tileClasses="t-dark u-aspect-nine-by-four c-tile-category--banner", titleText="For Kids")}}
                    {{categoryTileT7(tileClasses="t-dark u-aspect-nine-by-four c-tile-category--banner", titleText="Urban Bikes")}}
                    
                </div>
            </div>
        </div>
    </div>
</div>

{%- endmacro %}

{% macro categoryTilesBeltBannerPopulatedT7(wrapClasses) %}

    {% 
        set options = {
            wrapClasses: wrapClasses
        }
    %}

    {{ categoryTilesBeltBannerT7(options) }}

{% endmacro %}


{% macro categoryTilesBeltBannerImageT7(options) -%}
<div class="m-hero__wrap ">
        
        <img data-responsive-src data-src-m="{{options.desktopImage}}" data-src-s="{{options.mobileImage}}" />

</div>


{%- endmacro %}


