

// @font-face {
//     font-family: 'dk_drop_dead_gorgeousregular';
//     src: url('../../assets/fonts/dk_drop_dead_gorgeous-webfont.woff2') format('woff2'),
//          url('../../assets/fonts/dk_drop_dead_gorgeous-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

  
@font-face {
    font-family: 'DropDeadGorgeous';
    src: url('../../assets/fonts/dropdeadgorgeous/374ED1_0_0.eot');
    src: url('../../assets/fonts/dropdeadgorgeous/374ED1_0_0.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/dropdeadgorgeous/374ED1_0_0.woff2') format('woff2'),
    url('../../assets/fonts/dropdeadgorgeous/374ED1_0_0.woff') format('woff'),
    url('../../assets/fonts/dropdeadgorgeous/374ED1_0_0.ttf') format('truetype');
}
 