{% import "html/guide/macros/colours.html" as colours %}

{% macro swatch (bgClass="", colorClass="g-color-white", varName="", colorHex="") %}
    <div class="g-swatch {{bgClass}}">
        <code class="g-swatch__code {{colorClass}}">${{varName}}</code>
        {% if colorHex %}<code class="g-swatch__hex {{colorClass}}">#{{colorHex}}</code>{% endif %}
    </div>
{% endmacro %}


<section class="g-display--red u-bg-white">
        <section class=" u-columns">

                <div class="u-columns__column u-columns__column--three">
                    <div class="g-swatch__group" >
                        <h5 class="g-h5 u-padding-bottom-x6">Primary Color:</h5>
            
                        {{ swatch(bgClass="g-bg-a", varName="color-a", colorClass="u-color-white", colorHex="C00000") }}
                        {{ swatch(bgClass="g-bg-a-dark-10", varName="color-a-dark-10", colorClass="u-color-white", colorHex="B00000") }}
                        {{ swatch(bgClass="g-bg-a-light-20", varName="color-a-light-20", colorClass="u-color-white", colorHex="BC0000") }}
                        {{ swatch(bgClass="g-bg-a-light-40", varName="color-a-light-40", colorClass="u-color-white", colorHex="DA6667") }}
                        {{ swatch(bgClass="g-bg-a-light-60", varName="color-a-light-60", colorClass="u-color-black", colorHex="E6999A") }}
                        {{ swatch(bgClass="g-bg-a-light-80", varName="color-a-light-80", colorClass="u-color-black", colorHex="F3CCCD") }}
        
                    </div>
                </div>
                <div class="u-columns__column u-columns__column--three">
                    <div class="g-swatch__group" >
                        <h5 class="g-h5 u-padding-bottom-x6">Secondary Color (grey):</h5>
                        {{ swatch(bgClass="g-bg-b", varName="color-b", colorClass="u-color-white", colorHex="393939") }}
                        {{ swatch(bgClass="g-bg-grey-light-20", varName="color-grey-light-20", colorClass="u-color-white", colorHex="616161") }}
                        {{ swatch(bgClass="g-bg-grey-light-40", varName="color-grey-light-40", colorClass="u-color-white", colorHex="888") }}
                        {{ swatch(bgClass="g-bg-grey-light-60", varName="color-grey-light-60", colorClass="u-color-white", colorHex="B0B0B0") }}
                        {{ swatch(bgClass="g-bg-grey-light-80", varName="color-grey-light-80", colorClass="u-color-black", colorHex="D7D7D7") }}
                        {{ swatch(bgClass="g-bg-grey-light-90", varName="color-grey-light-90", colorClass="u-color-black", colorHex="EDEDED") }}
                        {{ swatch(bgClass="g-bg-grey-light-98", varName="color-grey-light-98", colorClass="u-color-black", colorHex="EDEDED") }}
                    </div>
                </div>

                <!-- <div class="u-columns__column u-columns__column--three">
                    <div class="g-swatch__group" >
                        <h5 class="g-h5 u-padding-bottom-x6">Promo Colors:</h5>
                        {{ swatch(bgClass="g-bg-c", colorClass="u-color-white", varName="color-c", colorHex="00B398") }}
                        {{ swatch(bgClass="g-bg-d", colorClass="u-color-white", varName="color-d", colorHex="1BA7E1") }}
                        {{ swatch(bgClass="g-bg-e", colorClass="u-color-white", varName="color-e", colorHex="EF5224") }}
                        {{ swatch(bgClass="g-bg-f", colorClass="u-color-white", varName="color-f", colorHex="DB812E") }}
                        {{ swatch(bgClass="g-bg-g", colorClass="u-color-white", varName="color-g", colorHex="F8C81C") }}
                    </div>
                </div> -->

                <div class="u-columns__column u-columns__column--three">
                    <div class="g-swatch__group" >
                        <h5 class="g-h5 u-padding-bottom-x6">Utility Colors:</h5>
                        
                        {{ swatch(bgClass="g-bg-confirmation", colorClass="u-color-white", varName="color-confirmation", colorHex="9CCC65") }}
                        {{ swatch(bgClass="g-bg-warning", colorClass="u-color-white", varName="color-warning", colorHex="E6A648") }}
                        {{ swatch(bgClass="g-bg-warning-light-95 ", colorClass="u-color-black", varName="color-warning-light-95 ", colorHex="FEFAF4") }}
                        {{ swatch(bgClass="g-bg-error", colorClass="u-color-white", varName="color-error", colorHex="b90039") }}
                        {{ swatch(bgClass="g-bg-error-light-95", colorClass="u-color-black", varName="color-error-light-95", colorHex="FAEBEB") }}
                        {{ swatch(bgClass="g-bg-info", colorClass="u-color-white", varName="color-info", colorHex="0083D6") }}
                        {{ swatch(bgClass="g-bg-info-light-95 ", colorClass="u-color-black", varName="color-info-light-95 ", colorHex="F0F8FD") }}
                        {{ swatch(bgClass="g-bg-sale", colorClass="u-color-white", varName="color-sale", colorHex="D8232A") }}
                        {{ swatch(bgClass="g-bg-clearance", colorClass="u-color-white", varName="color-clearance", colorHex="F8C81C") }}
                        {#{ swatch(bgClass="g-bg-club", colorClass="u-color-white", varName="color-club", colorHex="1BA7E1") }#}
                        
                    </div>
                </div>

            
        </section>
    
    </section>

    <section class="g-display--t7">
        <section class=" u-columns">

                <div class="u-columns__column u-columns__column--three">
                    <div class="g-swatch__group" >
                        <h5 class="g-h5 u-padding-bottom-x6">Primary Color:</h5>
                        {{ swatch(bgClass="g-bg-a", varName="color-a", colorClass="u-color-white", colorHex="C00000") }}
                        <!--{{ swatch(bgClass="g-bg-a-dark-10", varName="color-a-dark-10", colorClass="u-color-white", colorHex="616161") }}
                        {{ swatch(bgClass="g-bg-a-light-40", varName="color-a-light-40", colorClass="u-color-white", colorHex="888") }}
                        {{ swatch(bgClass="g-bg-a-light-60", varName="color-a-light-60", colorClass="u-color-black", colorHex="B0B0B0") }}
                        {{ swatch(bgClass="g-bg-a-light-80", varName="color-a-light-80", colorClass="u-color-black", colorHex="D7D7D7") }}-->

                    </div>
                </div>
                <div class="u-columns__column u-columns__column--three">
                    <div class="g-swatch__group" >
                        <h5 class="g-h5 u-padding-bottom-x6">Secondary Color (grey):</h5>
                        {{ swatch(bgClass="g-bg-b", varName="color-b", colorClass="u-color-white", colorHex="171717") }}
                        {{ swatch(bgClass="g-bg-grey-light-20", varName="color-grey-light-20", colorClass="u-color-white", colorHex="616161") }}
                        {{ swatch(bgClass="g-bg-grey-light-40", varName="color-grey-light-40", colorClass="u-color-white", colorHex="888") }}
                        {{ swatch(bgClass="g-bg-grey-light-60", varName="color-grey-light-60", colorClass="u-color-white", colorHex="B0B0B0") }}
                        {{ swatch(bgClass="g-bg-grey-light-80", varName="color-grey-light-80", colorClass="u-color-black", colorHex="D7D7D7") }}
                        {{ swatch(bgClass="g-bg-grey-light-90", varName="color-grey-light-90", colorClass="u-color-black", colorHex="EDEDED") }}
                        {{ swatch(bgClass="g-bg-grey-light-98", varName="color-grey-light-98", colorClass="u-color-black", colorHex="EDEDED") }}
                    </div>
                </div>

                <div class="u-columns__column u-columns__column--three">
                    <div class="g-swatch__group" >
                        <h5 class="g-h5 u-padding-bottom-x6">Promo Colors:</h5>
                        {{ swatch(bgClass="g-bg-c", colorClass="u-color-white", varName="color-c", colorHex="00B398") }}
                        {{ swatch(bgClass="g-bg-d", colorClass="u-color-white", varName="color-d", colorHex="1BA7E1") }}
                        {{ swatch(bgClass="g-bg-e", colorClass="u-color-white", varName="color-e", colorHex="EF5224") }}
                        {{ swatch(bgClass="g-bg-f", colorClass="u-color-white", varName="color-f", colorHex="DB812E") }}
                        {{ swatch(bgClass="g-bg-g", colorClass="u-color-white", varName="color-g", colorHex="F8C81C") }}
                    </div>
                </div>

                <div class="u-columns__column u-columns__column--three">
                    <div class="g-swatch__group" >
                        <h5 class="g-h5 u-padding-bottom-x6">Utility Colors:</h5>
                        
                        {{ swatch(bgClass="g-bg-confirmation", colorClass="u-color-white", varName="color-confirmation", colorHex="9ccc65") }}
                        {{ swatch(bgClass="g-bg-warning", colorClass="u-color-white", varName="color-warning", colorHex="E6A648") }}
                        {{ swatch(bgClass="g-bg-warning-light-95 ", colorClass="u-color-black", varName="color-warning-light-95 ", colorHex="FEFAF4") }}
                        {{ swatch(bgClass="g-bg-error", colorClass="u-color-white", varName="color-error", colorHex="b90039") }}
                        {{ swatch(bgClass="g-bg-error-light-95", colorClass="u-color-black", varName="color-error-light-95", colorHex="FAEBEB") }}
                        {{ swatch(bgClass="g-bg-info", colorClass="u-color-white", varName="color-info", colorHex="0083D6") }}
                        {{ swatch(bgClass="g-bg-info-light-95 ", colorClass="u-color-black", varName="color-info-light-95 ", colorHex="F0F8FD") }}
                        {{ swatch(bgClass="g-bg-sale", colorClass="u-color-white", varName="color-sale", colorHex="D8232A") }}
                        {{ swatch(bgClass="g-bg-clearance", colorClass="u-color-white", varName="color-clearance", colorHex="F8C81C") }}
                        {{ swatch(bgClass="g-bg-club", colorClass="u-color-white", varName="color-club", colorHex="1BA7E1") }}
                        
                    </div>
                </div>

            
        </section>
    
    </section>

    <section class="g-display--blue u-bg-white">
            <section class=" u-columns">
    
                    <div class="u-columns__column u-columns__column--three">
                        <div class="g-swatch__group" >
                            <h5 class="g-h5 u-padding-bottom-x6">Primary Color:</h5>
                            {{ swatch(bgClass="g-bg-a", varName="color-a", colorClass="u-color-white", colorHex="C00000") }}
                            {{ swatch(bgClass="g-bg-a-dark-10", varName="color-a-dark-10", colorClass="u-color-white", colorHex="616161") }}
                            {{ swatch(bgClass="g-bg-a-light-20", varName="color-a-light-20", colorClass="u-color-white", colorHex="888") }}
                            <!--{{ swatch(bgClass="g-bg-a-light-60", varName="color-a-light-60", colorClass="u-color-black", colorHex="B0B0B0") }}
                            {{ swatch(bgClass="g-bg-a-light-80", varName="color-a-light-80", colorClass="u-color-black", colorHex="D7D7D7") }}-->
    
                        </div>
                    </div>
                    <div class="u-columns__column u-columns__column--three">
                        <div class="g-swatch__group" >
                            <h5 class="g-h5 u-padding-bottom-x6">Secondary Color (grey):</h5>
                            {{ swatch(bgClass="g-bg-b", varName="color-b", colorClass="u-color-white", colorHex="171717") }}
                            {{ swatch(bgClass="g-bg-grey-light-20", varName="color-grey-light-20", colorClass="u-color-white", colorHex="616161") }}
                            {{ swatch(bgClass="g-bg-grey-light-40", varName="color-grey-light-40", colorClass="u-color-white", colorHex="888") }}
                            {{ swatch(bgClass="g-bg-grey-light-60", varName="color-grey-light-60", colorClass="u-color-white", colorHex="B0B0B0") }}
                            {{ swatch(bgClass="g-bg-grey-light-80", varName="color-grey-light-80", colorClass="u-color-black", colorHex="D7D7D7") }}
                            {{ swatch(bgClass="g-bg-grey-light-90", varName="color-grey-light-90", colorClass="u-color-black", colorHex="EDEDED") }}
                            {{ swatch(bgClass="g-bg-grey-light-98", varName="color-grey-light-98", colorClass="u-color-black", colorHex="EDEDED") }}
                        </div>
                    </div>
    
                    <div class="u-columns__column u-columns__column--three">
                        <div class="g-swatch__group" >
                            <h5 class="g-h5 u-padding-bottom-x6">Promo Colors:</h5>
                            {{ swatch(bgClass="g-bg-c", colorClass="u-color-white", varName="color-c", colorHex="00B398") }}
                            {{ swatch(bgClass="g-bg-d", colorClass="u-color-white", varName="color-d", colorHex="1BA7E1") }}
                            {{ swatch(bgClass="g-bg-e", colorClass="u-color-white", varName="color-e", colorHex="EF5224") }}
                            <!--{{ swatch(bgClass="g-bg-f", colorClass="u-color-white", varName="color-f", colorHex="DB812E") }}
                            {{ swatch(bgClass="g-bg-g", colorClass="u-color-white", varName="color-g", colorHex="F8C81C") }}-->
                        </div>
                    </div>
    
                    <div class="u-columns__column u-columns__column--three">
                        <div class="g-swatch__group" >
                            <h5 class="g-h5 u-padding-bottom-x6">Utility Colors:</h5>
                            
                            {{ swatch(bgClass="g-bg-confirmation", colorClass="u-color-white", varName="color-confirmation", colorHex="9ccc65") }}
                            {{ swatch(bgClass="g-bg-warning", colorClass="u-color-white", varName="color-warning", colorHex="E6A648") }}
                            {{ swatch(bgClass="g-bg-warning-light-95 ", colorClass="u-color-black", varName="color-warning-light-95 ", colorHex="FEFAF4") }}
                            {{ swatch(bgClass="g-bg-error", colorClass="u-color-white", varName="color-error", colorHex="b90039") }}
                            {{ swatch(bgClass="g-bg-error-light-95", colorClass="u-color-black", varName="color-error-light-95", colorHex="FAEBEB") }}
                            {{ swatch(bgClass="g-bg-info", colorClass="u-color-white", varName="color-info", colorHex="0083D6") }}
                            {{ swatch(bgClass="g-bg-info-light-95 ", colorClass="u-color-black", varName="color-info-light-95 ", colorHex="F0F8FD") }}
                            {{ swatch(bgClass="g-bg-sale", colorClass="u-color-white", varName="color-sale", colorHex="D8232A") }}
                            {{ swatch(bgClass="g-bg-clearance", colorClass="u-color-white", varName="color-clearance", colorHex="F8C81C") }}
                            {#{ swatch(bgClass="g-bg-club", colorClass="u-color-white", varName="color-club", colorHex="1BA7E1") }#}
                            
                        </div>
                    </div>
    
                
            </section>
        
        </section>