
{% macro infoCard(options) %}

    {% if options.cards %}

        {% for i in range(0, options.cards | length)  %}
            {% if options.cardType %}
                <section class="c-card-info c-card-info--{{ options.cardType | lower | safe }} t-text--{{ options.theme | safe }}">
            {% else %}
                <section class="c-card-info t-text--{{ options.theme | safe }}">
            {% endif %}

                <div class="c-card-info__wrap" style="background: {{ options.cardBackgroundColor | safe }}">
                    {% if options.cards[i].image.type === "product" %}
                        <div class="c-card-info__image c-card-info__image--product" data-responsive-background-src data-src-m="{{ options.cards[i].image.desktop | safe }}" data-src-s="{{ options.cards[i].image.mobile | safe }}">
                            <div class="{{ options.imageRatioClasses | safe }}"></div>
                        </div>
                    {% elseif options.cards[i].image.type === "icon" %}
                        <div class="c-card-info__image c-card-info__image--icon" data-responsive-background-src data-src-m="{{ options.cards[i].image.desktop | safe }}" data-src-s="{{ options.cards[i].image.mobile | safe }}">
                            <div class="{{ options.imageRatioClasses | safe }}"></div>
                        </div>
                    {% endif %}

                    {% if options.cards[i].heading %}
                        <div class="c-card-info__heading"><h3 class="u-h3">{{ options.cards[i].heading | safe }}</h3></div>
                    {% endif %}

                    {% if options.cards[i].text %}
                        <div class="c-card-info__text"><p class="u-p3">{{ options.cards[i].text | safe }}</p></div>
                    {% endif %}
                </div>

                {% if options.cards[i].cta %}
                    <footer class="c-card-info__footer" style="background: {{ options.footerBackgroundColor | lower | safe }}">
                        <div class="c-btn-group c-btn-group--center">
                            <a href="{{ options.cards[i].cta.link | safe }}" class="c-btn-group__item c-btn c-btn--{{ options.cards[i].cta.btnType | lower | safe }} t-text--{{ options.cards[i].cta.theme | lower | safe }}">{{ options.cards[i].cta.text | safe }}</a>
                        </div>
                    </footer>
                {% endif %}

            </section>
        {% endfor %}

    {% endif %}

{% endmacro %}

{# POPULATE INFORMATION CARDS #}
{% macro populateInfoCards() %}
    <!-- Set the card options -->
    {%
    
        set options = {

            theme: "light",
            cardBackgroundColor: "#B00000",
            imageRatioClasses: "u-aspect-one-by-one",
            cards: [
                {
                    image: {
                        type: "icon",
                        mobile: "/assets/images/test/done-icon.png",
                        desktop: "/assets/images/test/done-icon.png"
                    },
                    heading: "Personal Use",
                    text: "I need heat just for me, in a small space; for e.g. at my work desk, as I step out of the shower, watching TV in my lounge, while at the dining table etc."
                },
                {
                    image: {
                        type: "icon",
                        mobile: "/assets/images/test/done-icon.png",
                        desktop: "/assets/images/test/done-icon.png"
                    },
                    heading: "Small Room",
                    text: "Small, confined spaces including a small bedroom, a study or an office cabin."
                },
                {
                    image: {
                        type: "icon",
                        mobile: "/assets/images/test/done-icon.png",
                        desktop: "/assets/images/test/done-icon.png"
                    },
                    heading: "Medium Room",
                    text: "Bedrooms, small lounges and hallways. To take the chill out of the hallway, heat my lounge for a few guests, heat the kids’ small bedroom etc."
                },
                {
                    image: {
                        type: "icon",
                        mobile: "/assets/images/test/done-icon.png",
                        desktop: "/assets/images/test/done-icon.png"
                    },
                    heading: "Large Room",
                    text: "Lounges, large bedrooms and hallways. Heat the master bedroom, background warmth for an open plan area etc."
                }
            ]
        }
    %}

    <!-- Call the product info card -->
    {{ infoCard(options) }}
{% endmacro %}


{# POPULATE CATEGORY CARDS #}
{% macro populateCategoryInfoCards() %}
    <!-- Set the card options -->
    {%
    
        set options = {

            theme: "dark",
            cardType: "product",
            cardBackgroundColor: "#f3f3f3",
            footerBackgroundColor: "#ffffff",
            imageRatioClasses: "u-aspect-one-by-one",
            cards: [
                {
                    image: {
                        type: "product",
                        mobile: "/assets/images/test/dehumid.png",
                        desktop: "/assets/images/test/dehumid.png"
                    },
                    heading: "Dehumidifiers",
                    text: "Dehumidifiers extract moisture from the air, making your home drier, healthier and more cost effective to heat.",
                    cta: {
                        btnType: "secondary",
                        theme: "dark",
                        link: "",
                        text: "Browse Range"
                    }
                },
                {
                    image: {
                        type: "product",
                        mobile: "/assets/images/test/t-curtain.png",
                        desktop: "/assets/images/test/t-curtain.png"
                    },
                    heading: "Thermal Curtains",
                    text: "Thermal curtains and blinds can significantly reduce heat loss through your windows.",
                    cta: {
                        btnType: "secondary",
                        theme: "dark",
                        link: "",
                        text: "Browse Range"
                    }
                },
                {
                    image: {
                        type: "product",
                        mobile: "/assets/images/test/E-blanket.png",
                        desktop: "/assets/images/test/E-blanket.png"
                    },
                    heading: "Electric Blanket",
                    text: "Using an electric blanket can help warm you up before going to sleep and remove that damp feeling that cold bedding can get.",
                    cta: {
                        btnType: "secondary",
                        theme: "dark",
                        link: "",
                        text: "Browse Range"
                    }
                },
                {
                    image: {
                        type: "product",
                        mobile: "/assets/images/test/duvet.png",
                        desktop: "/assets/images/test/duvet.png"
                    },
                    heading: "Duvet Inners",
                    text: "A winter duvet inner can replace layers of blankets, quilts, sheets, and comforters, providing all the warmth you need while sleeping.",
                    cta: {
                        btnType: "secondary",
                        theme: "dark",
                        link: "",
                        text: "Browse Range"
                    }
                },
                {
                    image: {
                        type: "product",
                        mobile: "/assets/images/test/dehumid.png",
                        desktop: "/assets/images/test/dehumid.png"
                    },
                    heading: "Dehumidifiers",
                    text: "Dehumidifiers extract moisture from the air, making your home drier, healthier and more cost effective to heat.",
                    cta: {
                        btnType: "secondary",
                        theme: "dark",
                        link: "",
                        text: "Browse Range"
                    }
                },
                {
                    image: {
                        type: "product",
                        mobile: "/assets/images/test/t-curtain.png",
                        desktop: "/assets/images/test/t-curtain.png"
                    },
                    heading: "Thermal Curtains",
                    text: "Thermal curtains and blinds can significantly reduce heat loss through your windows.",
                    cta: {
                        btnType: "secondary",
                        theme: "dark",
                        link: "",
                        text: "Browse Range"
                    }
                },
                {
                    image: {
                        type: "product",
                        mobile: "/assets/images/test/E-blanket.png",
                        desktop: "/assets/images/test/E-blanket.png"
                    },
                    heading: "Electric Blanket",
                    text: "Using an electric blanket can help warm you up before going to sleep and remove that damp feeling that cold bedding can get.",
                    cta: {
                        btnType: "secondary",
                        theme: "dark",
                        link: "",
                        text: "Browse Range"
                    }
                },
                {
                    image: {
                        type: "product",
                        mobile: "/assets/images/test/duvet.png",
                        desktop: "/assets/images/test/duvet.png"
                    },
                    heading: "Duvet Inners",
                    text: "A winter duvet inner can replace layers of blankets, quilts, sheets, and comforters, providing all the warmth you need while sleeping.",
                    cta: {
                        btnType: "secondary",
                        theme: "dark",
                        link: "",
                        text: "Browse Range"
                    }
                }
            ]
        }
    %}

    <!-- Call the product info card -->
    {{ infoCard(options) }}
{% endmacro %}