{% import 'html/red/macros/image.html' as imageMacros %} 
{% import 'html/red/macros/icons.html' as iconMacros %}
{% import 'html/red/components/tiles/macros.html' as tileMacros %}
{% import 'html/red/macros/icons.html' as iconMacros %}
{% import "html/red/macros/icons.html" as iconMacro %}


{% macro productBeltRed(options) -%}
<section class='m-wrap {{options.wrapClasses}}'>
    <div class="m-wrap__card m-wrap__card--show">
        <div class="m-wrap__inner">
            <div class="m-wrap__header">
                <h2 class="u-h3">{{options.heading}}</h2>
            </div>
            <div class="m-wrap__content">
                <div class="m-product-belt">
                    <div class="m-product-belt__inner">
                    {% for i in range(0, 7) -%}
                        <div class="c-card-product u-aspect-three-by-four u-bg-grey-light-80">
                        </div>
                    {%- endfor %}
                    </div>
                </div>
            </div>
            <div class="m-wrap__footer"><a href="" class="c-btn c-btn--primary-inverse">Shop now</a></div>
        </div>
    </div>
</section>
{%- endmacro %}

{% macro productBeltRedPopulated(wrapClasses, heading) -%}

    {% 
        set options = {
            heading: heading,
            cardClasses: "m-wrap__card--show",
            headerBG: "",
            wrapClasses: wrapClasses
        }
    %}

    {{productBeltRed(options)}}
{%- endmacro %}


{% macro productCardIconBtn(classes="") -%}
    <div class="c-card-product__like-btn {{classes}}">
        {{ iconMacro.svgicon(name="wishlist", classes="c-icon--medium c-card-product__like-icon") }}
        {{ iconMacro.svgicon(name="wishlist-solid", classes="c-icon--medium c-card-product__like-icon-solid") }}
    </div>
{%- endmacro %}


{# CARD BELT #}
{% macro cardBelt(wrapClass="", innerClass="") %}
    <section class='m-wrap {{ wrapClass }}'>
        <div class="m-wrap__card m-wrap__card--show">
            <div class="m-wrap__inner {{ innerClass }}">

                {% if heading %}
                    <div class="m-wrap__header">
                        <h2 class="u-h3">{{heading | safe}}</h2>
                    </div>
                {% endif %}

                <div class="m-wrap__content">
                    <div class="m-product-belt">
                        <div class="m-product-belt__inner">
                            {{ caller() }}
                        </div>
                    </div>
                </div>

                {% if ctaText %}
                    <div class="m-wrap__footer"><a href="{{ ctaLink | safe }}" class="c-btn c-btn--primary-inverse">{{ ctaText | safe }}</a></div>
                {% endif %}
            </div>
        </div>
    </section>
{% endmacro %}

{# MOBILE STACKED CARD BELT #}
{% macro cardBeltStacked(wrapClass="", innerClass="") %}
    <section class='m-wrap {{ wrapClass | safe }}'>
        <div class="m-wrap__card m-wrap__card--show {{ wrapClass | safe }}">
            <div class="m-wrap__inner {{ innerClass | safe }}">

                {% if heading %}
                    <div class="m-wrap__header">
                        <h2 class="u-h3">{{heading | safe}}</h2>
                    </div>
                {% endif %}

                <div class="m-wrap__content">
                    <div class="m-product-belt">
                        <div class="m-product-belt__inner m-product-belt__inner--stacked">
                            {{ caller() }}
                        </div>
                    </div>
                </div>

                {% if ctaText %}
                    <div class="m-wrap__footer"><a href="{{ ctaLink | safe }}" class="c-btn c-btn--primary-inverse">{{ ctaText | safe }}</a></div>
                {% endif %}
            </div>
        </div>
    </section>
{% endmacro %}
