//
// aspect ratio mixin https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
//

@mixin aspect-ratio($width, $height) {
//   position: relative;
    &:before {
    display: block;
    content: "";
    width: 0;
    padding-top: ($height / $width) * 100%;
    }
}

@mixin aspect-1-by-1(){
    @include aspect-ratio(1, 1);
}

@mixin aspect-2-by-1(){
    @include aspect-ratio(2, 1);
}

@mixin aspect-3-by-1(){
    @include aspect-ratio(3, 1);
}

@mixin aspect-4-by-1(){
    @include aspect-ratio(4, 1);
}

@mixin aspect-3-by-2(){
    @include aspect-ratio(3, 2);
}

@mixin aspect-8-by-9(){
    @include aspect-ratio(8, 9);
}

@mixin aspect-9-by-8(){
    @include aspect-ratio(9, 8);
}

@mixin aspect-9-by-4(){
    @include aspect-ratio(9, 4);
}

@mixin aspect-16-by-9(){
    @include aspect-ratio(16, 9);
}