@mixin placeholder($color){

	&::-webkit-input-placeholder {
	   color: $color;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   color: $color;  
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   color: $color;  
	}

	&:-ms-input-placeholder {  
	   color: $color;  
	}
}

@mixin select-reset {
  position: relative;
  background: transparent;
  border: 0;
  width: 100%;
  cursor: pointer;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;

  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;

  //FIREFOX
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  //


  &::-ms-expand {
    display: none;
  }

}

@mixin input-reset {
  background-color: transparent;
  border:none;
}