
//icon size mixins:

@mixin icon-size-xxl()
{
  font-size:$icon-size-xxl;
}

@mixin icon-size-xl()
{
  font-size:$icon-size-xl;
}

@mixin icon-size-l()
{
  font-size:$icon-size-l;
}

@mixin icon-size-m()
{
  font-size:$icon-size-m;
}

@mixin icon-size-s()
{
  font-size:$icon-size-s;
}

@mixin icon-size-xs()
{
  font-size:$icon-size-xs;
}

@mixin icon-size-xxs()
{
  font-size:$icon-size-xxs;
}







