//
// ------------------------------------- 
// 	TEXT CROP MIXINS
// -------------------------------------
//

//
// Mixin generated at: http://text-crop.eightshapes.com/?typeface-selection=google-font&typeface=Montserrat&custom-typeface-name=Helvetica&custom-typeface-url=&custom-typeface-weight=400&custom-typeface-style=normal&weight-and-style=700&size=48&line-height=1.15&top-crop=11&bottom-crop=10

/* Usage Examples
    **************************************************************
    NOTE:   For paragraph styles, pass a $line-height arguement when
            calling the text-crop mixin.
    **************************************************************
    .my-level-1-heading-class {
        @include text-crop; // Will use default line height of 1.3
        font-size: 48px;
        margin: 0 0 0 16px;
    }

    .my-level-2-heading-class {
        @include text-crop; // Will use default line height of 1.3
        font-size: 32px; // Don't need to change any settings, will work with any font size automatically
        margin: 0 0 0 16px;
    }

    .my-body-copy-class {
        @include text-crop($line-height: 2); // Larger line height desired, set the line height via the mixin
        font-size: 16px;
    }

    // Sometimes depending on the font-size, the rendering, the browser, etc. you may need to tweak the output. 
    // You can adjust the top and bottom cropping when invoking the component using the $top-adjustment and $bottom-adjustment settings 
    
    .slight-adjustment-needed {
        @include text-crop($top-adjustment: -0.5px, $bottom-adjustment: 2px);
        font-size: 17px;
    }

    .dont-do-this {
        @include text-crop;
        font-size: 16px;
        line-height: 3; // DO NOT set line height outside of the mixin, the mixin needs the line height value to calculate the crop correctly
    }
*/
@mixin text-crop--12($line-height: 1, $top-adjustment: 0px, $bottom-adjustment: 0px) {
    // Configured in Step 1
    $top-crop: 3;
    $bottom-crop: 3;
    $crop-font-size: 12;
    $crop-line-height: 1.15;

    @include base-text-crop($top-crop, $bottom-crop, $crop-font-size, $crop-line-height, $line-height, $top-adjustment, $bottom-adjustment);
}

@mixin text-crop--13($line-height: 1, $top-adjustment: 0px, $bottom-adjustment: 0px) {
    // Configured in Step 1
    $top-crop: 3;
    $bottom-crop: 3;
    $crop-font-size: 13;
    $crop-line-height: 1.15;

    @include base-text-crop($top-crop, $bottom-crop, $crop-font-size, $crop-line-height, $line-height, $top-adjustment, $bottom-adjustment);
}

@mixin text-crop--14($line-height: 1.3, $top-adjustment: 0px, $bottom-adjustment: 0px) {
    // Configured in Step 1
    $top-crop: 3;
    $bottom-crop: 3;
    $crop-font-size: 14;
    $crop-line-height: 1.15;

     @include base-text-crop($top-crop, $bottom-crop, $crop-font-size, $crop-line-height, $line-height, $top-adjustment, $bottom-adjustment);
}

@mixin text-crop--16($line-height: 1.3, $top-adjustment: 0px, $bottom-adjustment: 0px) {
    // Configured in Step 1
    $top-crop: 4;
    $bottom-crop: 4;
    $crop-font-size: 16;
    $crop-line-height: 1.15;

     @include base-text-crop($top-crop, $bottom-crop, $crop-font-size, $crop-line-height, $line-height, $top-adjustment, $bottom-adjustment);
}

@mixin text-crop--18($line-height: 1.3, $top-adjustment: 0px, $bottom-adjustment: 0px) {
    // Configured in Step 1
    $top-crop: 4;
    $bottom-crop: 4;
    $crop-font-size: 18;
    $crop-line-height: 1.15;

     @include base-text-crop($top-crop, $bottom-crop, $crop-font-size, $crop-line-height, $line-height, $top-adjustment, $bottom-adjustment);
}

@mixin text-crop--20($line-height: 1.3, $top-adjustment: 0px, $bottom-adjustment: 0px) {
    // Configured in Step 1
    $top-crop: 5;
    $bottom-crop: 4;
    $crop-font-size: 20;
    $crop-line-height: 1.15;

     @include base-text-crop($top-crop, $bottom-crop, $crop-font-size, $crop-line-height, $line-height, $top-adjustment, $bottom-adjustment);
}

@mixin text-crop--24($line-height: 1.3, $top-adjustment: 0px, $bottom-adjustment: 0px) {
    // Configured in Step 1
    $top-crop: 5;
    $bottom-crop: 5;
    $crop-font-size: 24;
    $crop-line-height: 1.15;

     @include base-text-crop($top-crop, $bottom-crop, $crop-font-size, $crop-line-height, $line-height, $top-adjustment, $bottom-adjustment);
}

@mixin text-crop--32($line-height: 1.3, $top-adjustment: 0px, $bottom-adjustment: 0px) {
    // Configured in Step 1
    $top-crop: 5;
    $bottom-crop: 7;
    $crop-font-size: 32;
    $crop-line-height: 1.15;

     @include base-text-crop($top-crop, $bottom-crop, $crop-font-size, $crop-line-height, $line-height, $top-adjustment, $bottom-adjustment);
}

@mixin text-crop--40($line-height: 1.3, $top-adjustment: 0px, $bottom-adjustment: 0px) {
    // Configured in Step 1
    $top-crop: 9;
    $bottom-crop: 8;
    $crop-font-size: 40;
    $crop-line-height: 1.15;

     @include base-text-crop($top-crop, $bottom-crop, $crop-font-size, $crop-line-height, $line-height, $top-adjustment, $bottom-adjustment);
}

@mixin text-crop--48($line-height: 1.3, $top-adjustment: 0px, $bottom-adjustment: 0px) {
    // Configured in Step 1
    $top-crop: 11;
    $bottom-crop: 10;
    $crop-font-size: 48;
    $crop-line-height: 1.15;

     @include base-text-crop($top-crop, $bottom-crop, $crop-font-size, $crop-line-height, $line-height, $top-adjustment, $bottom-adjustment);
}

@mixin text-crop--56($line-height: 1.3, $top-adjustment: 0px, $bottom-adjustment: 0px) {
    // Configured in Step 1
    $top-crop: 13;
    $bottom-crop: 12;
    $crop-font-size: 56;
    $crop-line-height: 1.15;

     @include base-text-crop($top-crop, $bottom-crop, $crop-font-size, $crop-line-height, $line-height, $top-adjustment, $bottom-adjustment);
}

@mixin text-crop--80($line-height: 1.3, $top-adjustment: 0px, $bottom-adjustment: 0px) {
    // Configured in Step 1
    $top-crop: 18;
    $bottom-crop: 18;
    $crop-font-size: 80;
    $crop-line-height: 1.15;

     @include base-text-crop($top-crop, $bottom-crop, $crop-font-size, $crop-line-height, $line-height, $top-adjustment, $bottom-adjustment);
}

@mixin text-crop--100($line-height: 1.3, $top-adjustment: 0px, $bottom-adjustment: 0px) {
    // Configured in Step 1
    $top-crop: 20;
    $bottom-crop: 20;
    $crop-font-size: 100;
    $crop-line-height: 1.15;
    @include base-text-crop($top-crop, $bottom-crop, $crop-font-size, $crop-line-height, $line-height, $top-adjustment, $bottom-adjustment);
}


@mixin base-text-crop($top-crop: 0, $bottom-crop: 0, $crop-font-size: 16px, $crop-line-height:1.25, $line-height: 1.3, $top-adjustment: 0px, $bottom-adjustment: 0px) {
    // Apply values to calculate em-based margins that work with any font size
    $dynamic-top-crop: max(($top-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;
    $dynamic-bottom-crop: max(($bottom-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;

    // Mixin output
    line-height: $line-height;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
    }

    &::before {
        margin-bottom: calc(-#{$dynamic-top-crop}em + #{$top-adjustment});
    }

    &::after {
        margin-top: calc(-#{$dynamic-bottom-crop}em + #{$bottom-adjustment});
    }
}