

@mixin text-spacing() {
  .u{  
		&-xxl{
			margin-bottom: $x6;
			
			@include media($media-m) {
				margin-bottom: $x8;
			}
			// @include media($media-m) {
			// 	margin-bottom: $x10;
			// }
		}
		
		&-h1{
      margin-bottom: 1em;
      
			@include media($media-m) {
				margin-bottom: 0.75em;
			}
		}
		&-h2{
      margin-bottom: 1em;
      
			@include media($media-m) {
				margin-bottom: 0.75em;
			}
		}
		&-h3{
      margin-bottom: 1.25em;
      
			// @include media($media-m) {
      //   margin-bottom: 1.25em;
			// }
			// @include media($media-m) {
      //   margin-bottom: 1.25em;
			// }
		}
		&-h4{
      margin-bottom: 1.2em;
      
			// @include media($media-m) {
			// 	margin-bottom: $x5;
			// }
			// @include media($media-m) {
			// 	margin-bottom: $x6;
			// }
		}
		&-h5{
      margin-bottom: 1.5em;
      
			// @include media($media-m) {
			// 	margin-bottom: $x3;
			// }
			// @include media($media-m) {
			// 	margin-bottom: $x4;
			// }
		}
		&-h6{
      margin-bottom: 1.5em;
      
			// @include media($media-m) {
			// 	margin-bottom: $x3;
			// }
			// @include media($media-m) {
			// 	margin-bottom: $x4;
			// }
		}
	
		&-p1{
			display: block;
      margin-bottom: 1.5em;
      
			// @include media($media-m) {
        
      //   margin-bottom: 1.5em;
			// }
			// @include media($media-m) {
      //   margin-bottom: 1.5em;
			// }
		}
		&-p2{
			display: block;
      margin-bottom: 1.5em;
      
			// @include media($media-m) {
			// 	margin-bottom: 1.5em;
			// }
			// @include media($media-m) {
			// 	margin-bottom: 1.5em;
			// }
		}
		&-p3{
			display: block;
			margin-bottom: 1.25em;
			
		}

		&-h1, &-h2, &-h3, &-h4, &-h5, &-h6, &-p1, &-p2, &-p3 {
			&:last-child {
				margin-bottom: 0; //$x1;
      }
      &:first-child {
				margin-top: 0;
			}
    }  
  }

  .c-btn {
    margin-top: $x2;

    // @include media($media-m) {
    //   margin-top: $x2;
    // }
  }
}

@mixin text-spacing-tile() {
  .u{  
		&-xxl{
			margin-bottom: $x6;
			
			@include media($media-m) {
				margin-bottom: $x8;
			}

		}
		
		&-h1{
      margin-bottom: 1em;
      
			@include media($media-m) {
				margin-bottom: 0.75em;
			}
		}
		&-h2{
      margin-bottom: 0.75em;
      
			@include media($media-m) {
				margin-bottom: 0.5em;
			}
		}
		&-h3{
			margin-bottom: 1em;

			@include media($media-m) {
				margin-bottom: 0.5em;
			}

		}
		&-h4{
      margin-bottom: 1em;

			@include media($media-m) {
				margin-bottom: 0.5em;
			}
		}
		&-h5{
      margin-bottom: 1.5em;

		}
		&-h6{
      margin-bottom: 1.5em;

		}
	
		&-p1{
			display: block;
      margin-bottom: 1.5em;

		}
		&-p2{
			display: block;
      margin-bottom: 1.5em;

		}
		&-p3{
			display: block;
			margin-bottom: 1.25em;
			
		}

		&-h1, &-h2, &-h3, &-h4, &-h5, &-h6, &-p1, &-p2, &-p3 {
			&:last-child {
				margin-bottom: 0; //$x1;
      }
      &:first-child {
				margin-top: 0;
			}
    }  
  }

}

@mixin wysiwyg-text-spacing() {
  
  
  h1,h2,h3,h4,h5,h6,{
		@include font-header();
    color: $color-grey;
    margin: $x10 0 0;
  }
  
  p {
    @include text-font-size-p2;
    color: $color-grey;
    margin: 1.5em 0;
  }
  
  h1,h2,h3,h4,h5,h6, p{
    &:first-child {
      margin-top: 0;
    }
  }

}

@mixin wysiwyg-heading-sizing() {
  
  h1 {
    @include header-font-size-h1;
  }

  h2 {
    @include header-font-size-h2;
  }

  h3 {
    @include header-font-size-h3;
  }

  h4 {
    @include header-font-size-h4;
  }

  h5 {
    @include header-font-size-h5;
  }

  h6 {
    @include header-font-size-h6;
  }

}

@mixin wysiwyg-text-sizing-large() {
  p {
    @include text-font-size-p1;
  }
}


//text styles:
// .wysiwyg
// {
// 	h1,h2,h3,h4,h5,h6,
// 	{
// 		@include font-header();
// 		color: $color-a;
// 	}

// 	h1,h2
// 	{
// 		margin-bottom: 30rem;		
// 	}

// 	h3,h4
// 	{
// 		margin-bottom: $x20;		
// 	}

// 	h5,h6
// 	{
// 		margin-bottom: $x10;		
// 	}


// 	$wysiwygParagraphSpacing: 2$x8;
// 	p
// 	{
// 		margin-bottom:$wysiwygParagraphSpacing;
// 		@include text-font-size-p2;
// 	}

// 	strong
// 	{
// 		@include font-text-bold();
// 	}

// 	//Vimeo etc
// 	$iframeSpacing: 80rem;
// 	.c-vimeo__wrapper, img 
// 	{
// 		margin-top: $iframeSpacing - $wysiwygParagraphSpacing;
// 		margin-bottom: $iframeSpacing;
// 	}

	
// 	>:nth-child(1)
// 	{
// 		//remove the top margin from any item in here
// 		//Incase they have margin-top by default (ie the iframe embeds)
// 		margin-top:0;
// 	}

// 	> :nth-last-child(1)
// 	{
// 		margin-bottom: 3$x2;
// 	}

// 	h1{
// 		@include header-font-size-h1;
// 	}

// 	h2{
// 		@include header-font-size-h2;
// 	}

// 	h3{
// 		@include header-font-size-h3;
// 	}

// 	h4{
// 		@include header-font-size-h4;
// 	}

// 	h5{
// 		@include header-font-size-h5;
// 	}

// 	a
// 	{

// 		text-decoration: none;
// 		color: $color-a;

// 		&.-status {
// 			color: lighten(grey, 20%);
// 			@include font-text();
			
// 			&.-active {
// 				color: $color-a;
// 				@include font-text-bold();
// 				border-bottom: $x3 solid $color-a;
// 			}
// 		}

// 	}


// }

// .u-icon{

// 	&-xxl{
// 		@include icon-size-xxl;
// 	}

// 	&-xl{
// 		@include icon-size-xl;
// 	}

// 	&-l{
// 		@include icon-size-l;
// 	}

// 	&-m{
// 		@include icon-size-m;
// 	}

// 	&-s{
// 		@include icon-size-s;
// 	}

// 	&-xs{
// 		@include icon-size-xs;
// 	}

// 	&-xxs{
// 		@include icon-size-xxs;
// 	}

// }
