@mixin light-theme {
	.t-text {
		color: $color-grey !important;
	}
	.t-cta {
		background-color: white;
	}
}

@mixin dark-theme {
	.t-text {
		color: white !important;
		font-weight: $font-weight-light;
	}
	.t-heading {
		color: white !important;
	}
	.t-btn-primary, .t-btn-primary-inverse {
		@include btn-primary-reverse;
	}
	.t-btn-secondary {
		@include btn-secondary-reverse;
	}
	.t-btn-tertiary {
		@include btn-tertiary-reverse;
		text-shadow: 2px 1px 1px rgba(0,0,0, 0.5);
	}
}