//generic text type mixins:
@mixin uppercase {
  text-transform: uppercase;
}

@mixin font-header {
  font-family: $font-header;
  font-style: normal;
  font-weight: $font-weight-bold;
  -webkit-font-smoothing: antialiased;
}

@mixin font-text {
  font-family: $font-text;
  font-style: normal;
  font-weight: $font-weight-regular;
  -webkit-font-smoothing: antialiased;
}

@mixin font-text-bold {
  font-family: $font-text-bold;
  font-style: normal;
  font-weight: $font-weight-bold;
  -webkit-font-smoothing: antialiased;
}

@mixin font-script {
  font-family: $font-script !important;
  font-style: normal;
  font-weight: normal;
}

@mixin font-price {
  font-family: $font-price !important;
  font-style: normal;
  font-weight: normal;
}

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin font-link-primary {
  color: $color-link;
  border-color: $color-link;
}


//text size mixins:

@mixin header-font-size-xxxl()
{
  @include font-header();
  font-family: $hxxxl-font-family;
  font-size: $header-font-size-xxxl;
  line-height: $header-line-height-xxxl;
  letter-spacing: $letter-spacing-heading-xxlarge;

  @include font-smoothing;

  @include media($media-m) {
    font-size: $header-font-size-xxxl-m;
  }

  @include media($media-xxl) {
    font-size: $header-font-size-xxxl-l;
  }
}

@mixin header-font-size-xxl()
{
  @include font-header();
  font-family: $hxxl-font-family;
  font-size: $header-font-size-xxl;
  @include text-crop--56($header-line-height-xxl);
  letter-spacing: $letter-spacing-heading-xxlarge;

  @include font-smoothing;

  @include media($media-m) {
    font-size: $header-font-size-xxl-m;
    @include text-crop--80($header-line-height-xxl);
  }

  @include media($media-l) {
    font-size: $header-font-size-xxl-l;
    @include text-crop--80($header-line-height-xxl);
  }
}

@mixin header-font-size-xl()
{
  @include font-header();
  font-family: $hxl-font-family;
  // $lineheight:1.1;
  letter-spacing: $letter-spacing-heading-xlarge;

  @include text-crop--24($header-line-height-xl);
  font-size: $header-font-size-xl;

  @include font-smoothing;

  @include media($media-m) {
    font-size: $header-font-size-xl-m;
    @include text-crop--56($header-line-height-xl);
  }

  @include media($media-l) {
    font-size: $header-font-size-xl-l;
    @include text-crop--56($header-line-height-xl);
  }

}

@mixin header-font-size-h1()
{
  @include font-header;
  letter-spacing: $letter-spacing-heading-large;

  @include text-crop--32($header-line-height-h1);
  font-size: $header-font-size-h1;

  @include font-smoothing;

  @include media($media-m) {
    letter-spacing: $letter-spacing-heading-large;
    font-size: $header-font-size-h1-m;
    @include text-crop--40($header-line-height-h1);
  }

  @include media($media-l) {
    letter-spacing: $letter-spacing-heading-large;
    font-size: $header-font-size-h1-l;
    @include text-crop--40($header-line-height-h1);
  }

}

@mixin header-font-size-h2()
{ 
  @include font-header;
  letter-spacing: $letter-spacing-heading-medium;//0

  @include text-crop--20($header-line-height-h2);
  font-size: $header-font-size-h2;

  @include font-smoothing;

  @include media($media-m) {
    letter-spacing: $letter-spacing-heading-medium;//0
    font-size: $header-font-size-h2-m;
    @include text-crop--24($header-line-height-h2);
  }

  @include media($media-l) {
    letter-spacing: $letter-spacing-heading-medium;//0
    font-size: $header-font-size-h2-l;
    @include text-crop--32($header-line-height-h2);
  }
  
}

@mixin header-font-size-h3()
{ 
  @include font-header;
  letter-spacing: $letter-spacing-heading-small;

  @include text-crop--18($header-line-height-h3);
  font-size: $header-font-size-h3;
  @include font-smoothing;

  @include media($media-m) {
    letter-spacing: $letter-spacing-heading-small;
    font-size: $header-font-size-h3-m;
    @include text-crop--20($header-line-height-h3);
  }

  @include media($media-l) {
    letter-spacing: $letter-spacing-heading-small;
    font-size: $header-font-size-h3-l;
    @include text-crop--20($header-line-height-h3);
  }
}


@mixin header-font-size-h4()
{
  @include font-header;
  letter-spacing: $letter-spacing-heading-small;

  @include text-crop--13($header-line-height-h4);
  font-size: $header-font-size-h4;
  @include font-smoothing;

  @include media($media-m) {
    letter-spacing: $letter-spacing-heading-small;
    font-size: $header-font-size-h4-m;
    @include text-crop--18($header-line-height-h4);
  }

  @include media($media-l) {
    letter-spacing: $letter-spacing-heading-small;
    font-size: $header-font-size-h4-l;
    @include text-crop--18($header-line-height-h4);
  }

}


@mixin header-font-size-h5()
{ 
  @include font-header;
  letter-spacing: $letter-spacing-heading-xsmall;

  @include text-crop--12($header-line-height-h5);
  font-size: $header-font-size-h5;
  @include font-smoothing;

  @include media($media-m) {
    letter-spacing: $letter-spacing-heading-xsmall;
    font-size: $header-font-size-h5-m;
    @include text-crop--16($header-line-height-h5);
  }

  @include media($media-l) {
    letter-spacing: $letter-spacing-heading-xsmall;
    font-size: $header-font-size-h5-l;
    @include text-crop--16($header-line-height-h5);
  }
  
}


@mixin header-font-size-h6()
{ 
  @include font-header;
  letter-spacing: $letter-spacing-heading-xsmall;

  @include text-crop--12($header-line-height-h6);
  font-size: $header-font-size-h6;
  @include font-smoothing;

  @include media($media-m) {
    letter-spacing: $letter-spacing-heading-xsmall;
    font-size: $header-font-size-h6-m;
    @include text-crop--14($header-line-height-h6);
  }

  @include media($media-l) {
    letter-spacing: $letter-spacing-heading-xsmall;
    font-size: $header-font-size-h6-l;
    @include text-crop--14($header-line-height-h6);
  }
  
}

@mixin header-font-size-h7()
{ 
  @include font-header;
  letter-spacing: $letter-spacing-heading-xsmall;

  @include text-crop--12($header-line-height-h7);
  font-size: $header-font-size-h6;
}

//paragraph font size mixins:
@mixin text-font-size-p1()
{

  @include font-text();
  @include text-crop--16($text-line-height-p1);

  font-size: $text-font-size-p1;
  letter-spacing: 0.5px;

  @include media($media-m) {
    font-size: $text-font-size-p1-m;
    @include text-crop--18($text-line-height-p1);
  }

  @include media($media-l) {
    font-size: $text-font-size-p1-l;
    @include text-crop--18($text-line-height-p1);
  }

}

@mixin text-font-size-p2()
{

  @include font-text();
  @include text-crop--14($text-line-height-p2);

  font-size: $text-font-size-p2;
  letter-spacing: 0.25px;

  @include media($media-m) {
    font-size: $text-font-size-p2-m;
    @include text-crop--14($text-line-height-p2);
  }

  @include media($media-l) {
    font-size: $text-font-size-p2-l;
    @include text-crop--16($text-line-height-p2);
  }

}

@mixin text-font-size-p3()
{ 

  @include font-text();
  @include text-crop--13($text-line-height-p2);

  font-size: $text-font-size-p3;

  @include media($media-m) {
    font-size: $text-font-size-p3-m;
    @include text-crop--13($text-line-height-p2);
  }

  @include media($media-l) {
    font-size: $text-font-size-p3-l;
    @include text-crop--14($text-line-height-p2);
  }
  
}

@mixin price-font-size-1()
{ 
  @include font-price();
  @include text-crop--16($price-line-height-1);
  
  font-size: $price-font-size-1;

  @include media($media-m) {
    font-size: $price-font-size-1-m;
    @include text-crop--24($price-line-height-1);
  }

  @include media($media-l) {
    font-size: $price-font-size-1-l;
    @include text-crop--24($price-line-height-1);
  }
  
}

@mixin price-font-size-2()
{ 
  @include font-price();
  @include text-crop--14($price-line-height-2);
  
  font-size: $price-font-size-2;

  @include media($media-m) {
    font-size: $price-font-size-2-m;
    @include text-crop--14($price-line-height-2);
  }

  @include media($media-l) {
    font-size: $price-font-size-2-l;
    @include text-crop--16($price-line-height-2);
  }
  
}

@mixin price-font-size-3()
{ 
  @include font-price();
  @include text-crop--13($price-line-height-3);
  font-size: $price-font-size-3;

  @include media($media-m) {
    font-size: $price-font-size-3-m;
    @include text-crop--13($price-line-height-3);
  }

  @include media($media-l) {
    font-size: $price-font-size-3-l;
    @include text-crop--14($price-line-height-3);
  }
  
}
