
// 
// ------------------------------------- 
// 	BASE: FONTS
// -------------------------------------
//  Embed code for @font-face fonts
//  
// @import url('https://fonts.googleapis.com/css?family=Roboto');
// @import url('https://fonts.googleapis.com/css?family=Montserrat');
@font-face {
    font-family: 'proxima-nova-reg';
    src: url('../../assets/fonts/ProximaNova-Reg.otf');
    font-weight:400;
}
@font-face {
    font-family: 'proxima-nova-bold';
    src: url('../../assets/fonts/ProximaNova-Bold.otf');
    font-weight:400;
}
@font-face {
    font-family: 'proxima-nova-sbold';
    src: url('../../assets/fonts/ProximaNova-Sbold.otf');
    font-weight:400;
}