// 
// ------------------------------------- 
// 	GUIDE: #TYPOGRAPHY
// -------------------------------------
//  Project specific button styles
//  
$name     : g-guide;
$selector : ".#{$name}";

// main
#{$selector} {
    h1 {
        &:after {
            display: none;
        }
    }
    h1,h2,h3,h4,h5{
        margin:0;
        letter-spacing: 0;
    }

    p, a, figure, li {
        @include g-font-size-p2;
        letter-spacing: 0;
    }

}