{% import 'html/t7-live/macros/image.html' as imageMacros %} 
{% import 'html/t7-live/macros/icons.html' as iconMacros %}
{% import 'html/t7-live/components/tiles/macros.html' as tileMacros %}
{% import 'html/t7-live/modules/tiles-category/macros.html' as catTilesMacros %}
{% import "html/t7-live/macros/icons.html" as iconMacro %}



{% macro filtersImagePLP(options) -%}
    <img data-responsive-src data-src-m="{{options.desktopImage}}" data-src-s="{{options.mobileImage}}" />
{%- endmacro %}

{% macro filtersImagePLPPopulated() %}

    {% 
        set options = {
            mobileImage: "/assets/images/test/filters-l.jpg",
            desktopImage: "/assets/images/test/filters-l.jpg"
        }
    %}

    {{ filtersImagePLP(options) }}

{% endmacro %}

{% macro checkbox(el, name, classes) -%}
    <{{el}} class="{{classes}}">
    <label class="c-form-field__label c-form-field__label--checkbox" for="{{name}}">{{name}}</label>
    <input type="checkbox" id="{{name}}" class="c-form-field__checkbox" checked="checked">
    <i class="c-form-field__icon-wrap c-form-field__icon-wrap--checkbox">
        {{ iconMacros.iconTick(name='tick', classes='c-icon c-form-field__check-icon') }}
    </i>
    </{{el}}>
{% endmacro %}


{% macro filtersPLP() -%}
    <div class="c-filter-tab__wrap">
        <a href class="js-toggle-filters c-filter-tab">Filters</a>
        <div class="c-filter-tab c-filter-select__wrap">
            <select class="c-filter-select js-search-sort" data-role="sorter">
                <option value="">Any Order</option>
                <option value="productrating:desc">Best Rated First</option>
                <option value="price:asc">Lowest Price First</option>
                <option value="price:desc">Highest Price First</option>
                <option value="Discount:desc">Largest Discount</option>
                <option value="FirstAvailableDate:desc">Newest First</option>
                <option value="code:asc">Product Code</option>
                <option value="popularity">Most Popular</option>
            </select>
            <div class="c-filter-select__label">Sort by: <span class="c-filter-select__value js-selected-sort">Featured</span></div>
        </div>
    </div>
    
    <div class="m-accordion-filters__content m-accordion" data-module="search-filters">
        <a href class="m-accordion-filters__mobile-header js-toggle-filters">
            <span class="m-accordion-filters__mobile-header__text">Filter</span>
            {{ iconMacros.iconClose(name='close', classes='c-icon--large') }}
        </a>
        <ul class="m-accordion__list">
            <li class="m-accordion__item ">
                <div class="m-accordion__header m-accordion-filters__header" data-module="toggle-reveal">
                    <h5 class="m-accordion__heading m-accordion-filters__heading">Categories</h5>
                </div>
                <div class="m-accordion__content js-toggle-reveal-content">
                    <ul class="c-filter-group" data-module="show-more" data-module-options='{"numToShow":5}'>
                        <li class="c-filter c-filter--selected">
                            <div class="c-filter__link" for="Mountain Bikes" data-module="toggle-reveal">Mountain Bikes (22)</div>
                            <ul class="c-filter-group c-filter-group--sublevel js-toggle-reveal-content">
                                {{ checkbox(el='li', name='Bikes & Frames', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                                {{ checkbox(el='li', name='Footwear', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                            </ul>
                        </li>
                        <li class="c-filter">
                            <a data-facet="category" data-value="AC" href class="c-filter__link " for="Road Bikes">Road Bikes (10)</a>
                        </li>
                        <li class="c-filter">
                            <a data-facet="category" data-value="AC" href class="c-filter__link" for="Kid's Bikes">Kid's Bikes (30)</a>
                        </li>
                        <li class="c-filter">
                            <a data-facet="category" data-value="AC" href class="c-filter__link" for="category">Down & Insulated Jackets (17)</a>
                        </li>
                        <li class="c-filter">
                            <a data-facet="category" data-value="AC" href class="c-filter__link" for="category">Wallets, Belts and Keyrings (17)</a>
                        </li>
                        <li class="c-filter">
                            <a data-facet="category" data-value="AC" href class="c-filter__link" for="category">Car Racks & Storage (17)</a>
                        </li>
                        <li class="c-filter">
                            <div data-facet="category" data-value="AC" class="c-filter__link" for="category"  data-module="toggle-reveal">Avalanche Safety (17)</div>
                       <ul class="c-filter-group c-filter-group--sublevel js-toggle-reveal-content">
                                {{ checkbox(el='li', name='Bikes & Frames', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                                {{ checkbox(el='li', name='Footwear', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                                                                {{ checkbox(el='li', name='Bikes & Frames', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                                {{ checkbox(el='li', name='Footwear', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                            </ul>
                        </li>
                        <li class="c-filter">
                            <a data-facet="category" data-value="AC" href class="c-filter__link" for="category">Bags (17)</a>
                        </li>
                        <li class="c-filter">
                            <a data-facet="category" data-value="AC" href class="c-filter__link" for="category">Wallets, Belts and Keyrings (17)</a>
                        </li>
                        <li class="c-filter">
                            <div  data-facet="category" data-value="AC" class="c-filter__link" for="category"  data-module="toggle-reveal">Car Racks & Storage (17)</div>
                       <ul class="c-filter-group c-filter-group--sublevel js-toggle-reveal-content">
                                {{ checkbox(el='li', name='Bikes & Frames', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                                {{ checkbox(el='li', name='Footwear', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                            </ul>
                        </li>
                        <li class="c-filter">
                            <a data-facet="category" data-value="AC" href class="c-filter__link" for="category">Avalanche Safety (17)</a>
                        </li>
                        <li class="c-filter">
                            <a data-facet="category" data-value="AC" href class="c-filter__link" for="category">Bags (17)</a>
                        </li>
                        <li class="c-filter">
                            <a data-facet="category" data-value="AC" href class="c-filter__link" for="category">Down & Insulated Jackets (17)</a>
                        </li>
                        <li class="c-filter">
                            <a data-facet="category" data-value="AC" href class="c-filter__link" for="category">Wallets, Belts and Keyrings (17)</a>
                        </li>
                        <li class="c-filter">
                            <a data-facet="category" data-value="AC" href class="c-filter__link" for="category">Car Racks & Storage (17)</a>
                        </li>
                        <li class="c-filter">
                            <a data-facet="category" data-value="AC" href class="c-filter__link" for="category">Avalanche Safety (17)</a>
                        </li>
                        <li class="c-filter">
                            <a data-facet="category" data-value="AC" href class="c-filter__link" for="category">Bags (17)</a>
                        </li>
                        <li class="c-filter">
                            <a data-facet="category" data-value="AC" href class="c-filter__link" for="category">Wallets, Belts and Keyrings (17)</a>
                        </li>
                        <li class="c-filter">
                            <a data-facet="category" data-value="AC" href class="c-filter__link" for="category">Car Racks & Storage (17)</a>
                        </li>
                        <li class="c-filter">
                            <a data-facet="category" data-value="AC" href class="c-filter__link" for="category">Avalanche Safety (17)</a>
                        </li>
                        <li class="c-filter">
                            <a data-facet="category" data-value="AC" href class="c-filter__link" for="category">Bags (17)</a>
                        </li>
                    </ul>
                    <button class="c-filter-group__more c-btn c-btn--link js-show-more-button">Show more</button>
                </div>
            </li>

            <!--<li class="m-accordion__item">
                <div class="m-accordion__header m-accordion-filters__header">
                    <h5 class="m-accordion__heading m-accordion-filters__heading u-h5">Find in store</h5>
                    <div class="m-accordion__icon">{{ iconMacro.svgicon(name="collapse", classes="m-accordion-filters__icon") }}</div>
                </div>
                <div class="c-filter-group__selected-block">
                    <div class="c-filter-group__selected u-h7 u-regular">Auckland K-Road, +2 more</div>
                    <button class="c-filter-group__clear">Clear All</button>
                </div>
                <div class="m-accordion__content">
                    <ul class="c-filter-group">
                        <li class="c-filter">
                            <input class="c-filter__input " id="Auckland - Newmarket Outlet" type="checkbox" >
                            <label class="c-filter__label " for="Auckland - Newmarket Outlet">Auckland - Newmarket Outlet</label>
                        </li>
                        <li class="c-filter ">
                            <input class="c-filter__input" id="Auckland - Westgate" type="checkbox" >
                            <label class="c-filter__label" for="Auckland - Westgate">Auckland - Westgate</label>
                        </li>
                        <li class="c-filter">
                            <input class="c-filter__input" id="Auckland - Albany" type="checkbox" >
                            <label class="c-filter__label" for="Auckland - Albany">Auckland - Albany</label>
                        </li>
                        <li class="c-filter c-filter--selected">
                            <input class="c-filter__input" id="Auckland - K-Road" type="checkbox" >
                            <label class="c-filter__label" for="Auckland - K-Road">Auckland - K-Road</label>
                        </li>
                        <li class="c-filter c-filter--selected">
                            <input class="c-filter__input" id="Auckland - Mt Wellington" type="checkbox" >
                            <label class="c-filter__label" for="Auckland - Mt Wellington">Auckland - Mt Wellington</label>
                        </li>
                        <li class="c-filter c-filter--selected">
                            <input class="c-filter__input" id="Hamilton" type="checkbox" >
                            <label class="c-filter__label" for="Hamilton">Hamilton</label>
                        </li>
                    </ul>

                    <button class="c-filter-group__more c-btn c-btn--link">Show more</button>

                </div>
            </li>-->

            <li class="m-accordion__item">
                <div class="m-accordion__header m-accordion-filters__header" data-module="toggle-reveal">
                    <h5 class="m-accordion__heading m-accordion-filters__heading">Size</h5>
                </div>
                <div class="c-filter-group__selected-block">
                    <div class="c-filter-group__selected u-h7 u-regular">XL</div>
                    <button class="c-filter-group__clear">Clear All</button>
                </div>
                <div class="m-accordion__content js-toggle-reveal-content">
                    <ul class="c-filter-group c-filter-group--btns">
                        <li class="c-filter c-filter--btn"><button class="c-filter__btn">XX Small</button></li>
                        <li class="c-filter c-filter--btn"><button class="c-filter__btn">X Small</button></li>
                        <li class="c-filter c-filter--selected c-filter--btn"><button class="c-filter__btn">Small</button></li>
                        <li class="c-filter c-filter--btn"><button class="c-filter__btn">Medium</button></li>
                        <li class="c-filter c-filter--btn"><button class="c-filter__btn">Large</button></li>
                        <li class="c-filter c-filter--btn"><button class="c-filter__btn">X Large</button></li>
                        <li class="c-filter c-filter--btn"><button class="c-filter__btn">XX Large</button></li>
                        <li class="c-filter c-filter--btn"><button class="c-filter__btn">XXX Large</button></li>
                    </ul>

                </div>
            </li>

            <li class="m-accordion__item">
                <div class="m-accordion__header m-accordion-filters__header" data-module="toggle-reveal">
                    <h5 class="m-accordion__heading m-accordion-filters__heading">Price range</h5>
                </div>
                <div class="m-accordion__content js-toggle-reveal-content">
                    <ul class="c-filter-group" data-module="show-more">
                        {{ checkbox(el='li', name='$500-$1500', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                        {{ checkbox(el='li', name='$500-$1500', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                        {{ checkbox(el='li', name='$500-$1500', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                        {{ checkbox(el='li', name='$500-$1500', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                    </ul>

                    <button class="c-filter-group__more c-btn c-btn--link js-show-more-button">Show more</button>

                </div>
            </li>

            <li class="m-accordion__item">
                <div class="m-accordion__header m-accordion-filters__header" data-module="toggle-reveal">
                    <h5 class="m-accordion__heading m-accordion-filters__heading">Gender</h5>
                </div>
                <div class="c-filter-group__selected-block">
                    <div class="c-filter-group__selected u-h7">Mens</div>
                    <button class="c-filter-group__clear">Clear All</button>
                </div>
                <div class="m-accordion__content js-toggle-reveal-content">
                    <ul class="c-filter-group c-filter-group--btns">
                        <li class="c-filter c-filter--selected c-filter--btn"><button class="c-filter__btn">Mens</button></li>
                        <li class="c-filter c-filter--btn"><button class="c-filter__btn">Womens</button></li>
                        <li class="c-filter c-filter--btn"><button class="c-filter__btn">Youth</button></li>
                    </ul>

                </div>
            </li>

            <li class="m-accordion__item">
                <div class="m-accordion__header m-accordion-filters__header" data-module="toggle-reveal">
                    <h5 class="m-accordion__heading m-accordion-filters__heading">Brands</h5>
                </div>
                <div class="c-filter-group__selected-block">
                    <div class="c-filter-group__selected u-h7 u-regular">Bottecchia</div>
                    <button class="c-filter-group__clear">Clear All</button>
                </div>
                <div class="m-accordion__content js-toggle-reveal-content">
                    <ul class="c-filter-group" data-module="show-more">
                        {{ checkbox(el='li', name='Giant', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                        {{ checkbox(el='li', name='Camelbak', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                        {{ checkbox(el='li', name='Liv', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                        {{ checkbox(el='li', name='Torpedo7', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                        {{ checkbox(el='li', name='Giant', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                        {{ checkbox(el='li', name='Camelbak', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                        {{ checkbox(el='li', name='Liv', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                        {{ checkbox(el='li', name='Torpedo7', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                        {{ checkbox(el='li', name='Camelbak', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                        {{ checkbox(el='li', name='Liv', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                        {{ checkbox(el='li', name='Torpedo7', classes='c-filter c-form-field c-form-field--checkbox c-form-field--input-has-value js-form-field') }}
                    </ul>

                    <button class="c-filter-group__more c-btn c-btn--link js-show-more-button">Show more</button>

                </div>
            </li>

            <li class="m-accordion__item">
                <div class="m-accordion__header m-accordion-filters__header"  data-module="toggle-reveal">
                    <h5 class="m-accordion__heading m-accordion-filters__heading">Colour</h5>
                </div>
                
                <div class="m-accordion__content js-toggle-reveal-content">

                    <ul class="c-filter-group c-filter-group--colors">
                        <li class="c-filter c-filter--color"><button class="c-filter__swatch" style="background-color: #1BA7E1"></button></li>
                        <li class="c-filter c-filter--selected c-filter--color"><button class="c-filter__swatch" style="background-color: #1BA7E1"></button></li>
                        <li class="c-filter c-filter--color"><button class="c-filter__swatch" style="background-color: #1BA7E1"></button></li>
                        <li class="c-filter c-filter--color"><button class="c-filter__swatch" style="background-color: #000000"></button></li>
                        <li class="c-filter c-filter--color"><button class="c-filter__swatch" style="background-color: #ffffff"></button></li>
                        <li class="c-filter c-filter--color"><button class="c-filter__swatch" style="background-color: #cccccc"></button></li>
                        <li class="c-filter c-filter--color"><button class="c-filter__swatch" style="background-color: #1BA7E1"></button></li>
                        <li class="c-filter c-filter--color"><button class="c-filter__swatch" style="background-color: #ff0000"></button></li>
                    </ul>

                </div>
            </li>
        
        </ul>
        <div class="c-filter-tab__wrap">
            <a href="#" class="c-filter-tab">Clear All</a>
            <a href class="c-filter-tab js-toggle-filters">Show Results</a>
        </div>
    </div>

    

{%- endmacro %}

