{% import 'html/t7-live/modules/sort-filters/macros.html' as filtersMacros %}
{% import 'html/guide/macros/module.html' as wrapMacros %}
{% import 'html/guide/macros/guide.html' as guideMacros %}
{% import 'html/t7-live/modules/cards-product/macros-t7.html' as productMacros %}
{% import "html/guide/macros/icons.html" as iconMacro %}


<div class="u-block">
    
    {% call guideMacros.docs2ColWrap() -%}

        {% call guideMacros.docs2ColColumn1Wrap(colHeading="Filters Component") -%}
            <h3 class="u-h6">Desktop:</h3>
            <p>
                
                All filter lists display expanded by default. They can be collapsed or expanded individually by tapping the "-" or "+" icon.<br />
                The categories navigation displays to first 10 by default. Tapping "show more" will display the rest of the categories in the list.<br />
                For the rest of the checkbox filters the top 6 items will display be default with the functionality to expand the rest of the items if desired.<br />
                The size filter buttons and the color swatches filters will all display (will not just show first 6 items).<br />
                When a filter is applied. The selected filters will show as text under the filter group heading and the results filter without refreshing the page.<br />
                <br />
                Note: The prototype below demonstrates responsive behavior but has no interactive functionality.
               
            </p>

        {% endcall %}

        {% call guideMacros.docs2ColColumn2Wrap(colHeading="Results area:") -%}
            <h3 class="u-h6">Sort:</h3>
            <p class="u-p3">
                When sort is applied, the results are sorted without refreshing the page.
            </p>
            <h3 class="u-h6">Load More:</h3>
            <p class="u-p3">
                By default (TBC) number of product cards will display. Tapping "Load more" will load an additional (TBC) product cards into the results area.<br />
                It is important that when this happens the browser history is updated to enable the back button functionality.<br/>
            </p>
            <h3 class="u-h6">Content tiles:</h3>
            <p class="u-p3">
                In specific placement within the listings there can be content tiles. These are specific promos or services that relate to the category or search term.<br />
                It is important that when this happens the browser history is updated to enable the back button functionality.<br/>
                <br />
                Note: The prototype below demonstrates responsive behavior but has no interactive functionality.
            </p>
            
        {% endcall %}
    {% endcall %}

    {{productMacros.plpProductsT7()}}
    
    {% call wrapMacros.moduleWrap() -%}
        <div class="u-columns">
            <div class="u-columns__column u-columns__column--four-m u-block">
                <h5 class="u-h5 u-margin-bottom-x4  u-margin-top-x4">M0291B: Category filter menu (PLP page)</h5>
                <img src="/assets/images/t7/plp-filter-menu.jpg" />
            </div>
            <div class="u-columns__column u-columns__column--four-m u-block">
                <h5 class="u-h5 u-margin-bottom-x4  u-margin-top-x4">M0290A: Category menu (within filters) (General query on search results page)</h5>
                <img src="/assets/images/t7/plp-filter-menu.jpg" />
            </div>
            <div class="u-columns__column u-columns__column--four-m u-block">
                <h5 class="u-h5 u-margin-bottom-x4  u-margin-top-x4">M0290C: Category nav accordion filter (specific query on search results page)</h5>
                <img src="/assets/images/t7/plp-filter-menu.jpg" />
            </div>
        </div>
    {%- endcall %}

    {% call guideMacros.docs2ColWrap() -%}

        {% call guideMacros.docs2ColColumn1Wrap(colHeading="Filters Mobile") -%}
            <p>
                
                On mobile the all filter lists display collapsed by default. The accordion will function much the same as on desktop.<br />
                On mobile A sticky footer will display which allow users to clear filters using the "Clear All" link and close the overlay using the "Show results" link.<br />
                Note: The image below is not interactive.
               
            </p>

        {% endcall %}

        
    {% endcall %}
    {% call guideMacros.docs2ColWrap() -%}
        <img src="/assets/images/t7/filter-mobile.jpg" />
    {% endcall %}

</div>
