{% import 'html/t7-live/macros/image.html' as imageMacros %} 
{% import 'html/t7-live/macros/icons.html' as iconMacros %}
{% import 'html/t7-live/components/tiles/macros.html' as tileMacros %}
{% import 'html/t7-live/modules/cards-product/macros-t7.html' as productMacros %}

{% macro categoryBanner(options) -%}
<section class="m-banner-category js-animate-component">
    <div class="m-banner-category__content">
        <h2 class="m-banner-category__heading">{{options.heading}}</h2>
        <div class="c-categories-nav m-banner-category__nav">
            <p class="u-p3 c-categories-nav__label">Popular Categories:</p>
            <a href="" class="c-btn c-btn--tertiary c-categories-nav__link">MTB - Hardtail {{ iconMacros.iconChevronRight(name='chevron-right', classes="c-icon--medium c-btn__icon") }}</a>
            <a href="" class="c-btn c-btn--tertiary c-categories-nav__link">MTB - Hardtail {{ iconMacros.iconChevronRight(name='chevron-right', classes="c-icon--medium c-btn__icon") }}</a>
            <a href="" class="c-btn c-btn--tertiary c-categories-nav__link">MTB - Hardtail {{ iconMacros.iconChevronRight(name='chevron-right', classes="c-icon--medium c-btn__icon") }}</a>
            <a href="" class="c-btn c-btn--tertiary c-categories-nav__link">MTB - Hardtail {{ iconMacros.iconChevronRight(name='chevron-right', classes="c-icon--medium c-btn__icon") }}</a>
        </div>
        <a href="#" class="c-btn m-banner-category__btn">Browse All</a>
    </div>
    <div class="m-banner-category__grad"></div>
    <div class="m-banner-category__image" data-responsive-background-src data-src-m="{{options.bannerBG}}" data-src-xl="{{options.bannerBGXL}}"></div>
</section>
{%- endmacro %}

{% macro categoryBannerCLP(options) -%}
<section class="m-banner-category m-banner-category--clp {{options.bannerClasses}}" >
    <div class="m-banner-category__content">
        <h2 class="m-banner-category__heading">{{options.heading | safe}}</h2>
    </div>
    <div class="m-banner-category__grad"></div>
    <div class="m-banner-category__image" data-responsive-background-src data-src-m="{{options.bannerBG}}" data-src-xl="{{options.bannerBGXL}}"></div>
</section>
{%- endmacro %}

{% macro categoryBannerSnowPopulated() -%}
    {% 
        set options = {
            heading:"Snow",
            ctaText: "Shop All",
            bannerBG: "/assets/images/t7/banner-snow.jpg",
            bannerBGXL: "/assets/images/t7/banner-snow-xl.jpg",
            bannerClasses: ""
        }
    %}
    
    <div class="m-inspiration__wrap">
        {{ categoryBanner(options) }}
        {{storySnowCatgoriesPopulated()}}
        <div class="m-inspiration__bg"></div>
    </div>

{%- endmacro %}

{% macro categoryBannerBikePopulated() -%}
    {% 
        set options = {
            heading:"Bike",
            ctaText: "Shop All",
            bannerBG: "/assets/images/t7/banner-bike-home.jpg",
            bannerBGXL: "/assets/images/t7/banner-bike-home-xl.jpg",
            bannerClasses: ""
        }
    %}
    
    <div class="m-inspiration__wrap">
        {{ categoryBanner(options) }}
        {{inspirationBikePopulated()}}
        <div class="m-inspiration__bg"></div>
    </div>
    
{%- endmacro %}


{% macro categoryBannerBikePopulatedCLP() -%}
    {% 
        set options = {
            heading:"More on Bike",
            bannerBG: "/assets/images/t7/banner-bike.png",
            bannerBGXL: "/assets/images/t7/banner-bike-xl.png",
            bannerClasses: "m-banner-category--clp"
        }
    %}
    <div class="m-inspiration__wrap">
        {{ categoryBannerCLP(options) }}
        {{inspirationBikePopulated()}}
        <div class="m-inspiration__bg"></div>
    </div>
{%- endmacro %}




{% macro inspirationT7(options) -%}
<section class='m-inspiration js-animate-component'>
    {% call inspirationT7Wrap(options) -%}
    <div class="u-columns">
        <div class="u-columns__column u-columns__column--six-m">
            {{contentTileT7(TitleText="Top Rated Mountain Bikes", tileClasses="c-tile-article--product-hero", imageDesktop=options.tileBG)}}
        </div>
        <div class="u-columns__column u-columns__column--six-m m-inspiration__cards" data-module="slick-mobile-cards-carousel">
            <div class="m-carousel__cards--s m-inspiration__cards-inner slick-slider--overflow js-carousel" >
                <div class="m-carousel__card--s m-inspiration__card">
                    {{cardStoryProduct(cardClass="c-card-product--story")}}
                </div>
                <div class="m-carousel__card--s m-inspiration__card">
                    {{cardStoryProductClubPrice(cardClass="c-card-product--story")}}
                </div>
                <div class="m-carousel__card--s m-inspiration__card">
                    {{cardStoryProduct(cardClass="c-card-product--story")}}
                </div>
                <div class="m-carousel__card--s m-inspiration__card">
                    {{cardStoryProductClubPrice(cardClass="c-card-product--story")}}
                </div>
            </div>
        </div>
    </div>
    {% endcall %}
</section>

{%- endmacro %}

{% macro storyCategoriesT7(options) -%}
<section class='m-inspiration js-animate-component'>
    {% call inspirationT7Wrap(options) -%}

    <div class="u-columns">
        <div class="u-columns__column u-columns__column--six-m">
            {{contentTileT7(TitleText="Choosing The Right Ski or Snowboard Goggles", tileClasses="c-tile-article--hero", imageDesktop=options.tileBG)}}
        </div>
        <div class="u-columns__column u-columns__column--six-m u-flex-column">
            {{contentTileT7(TitleText="How to Choose a Ski and Snowboard Helmet", tileClasses="c-tile-article--default", imageDesktop=options.tileBG)}}
            {{contentTileT7(TitleText="WALK ON Foot Protection – Sore Feet Stop Here", tileClasses="c-tile-article--default", imageDesktop=options.tileBG)}}
        </div>
    </div>
    {% endcall %}
</section>
{%- endmacro %}

{% macro storyT7(options) -%}
{{storyCategoriesT7(options)}}
{%- endmacro %}

{% macro contentTileT7(ctaText="Show Now", TitleText="Content Title", subtitleText="", tileClasses="", headingClass="u-h3", subHeadingClass="u-h4", contentClasses="c-tile__content--top-left", imageDesktop="", imageClasses="u-aspect-one-by-one u-aspect-none-m") -%}
    <article class="c-tile c-tile-article {{tileClasses}}">
        <a href="#" class="c-tile__link" aria-hidden="true">{{TitleText}}</a>
        <div class="c-tile-article__content-wrap">
            <div class="c-tile-article__content {{contentClasses}}">
                <!--<h5 class="{{subHeadingClass}} c-tile-article__sub-heading t-text">{{subtitleText}}</h5>-->
                <h4 class="c-tile-article__heading ">
                    <a href="#" class="u-link-reset t-heading">{{TitleText}}</a>
                </h4>
            </div>
            <div class="c-tile__cta c-tile-article__cta c-tile__cta--bottom-left">
                <a href="#" class="c-tile-article__cta-link c-btn c-btn--tertiary t-btn-tertiary">View Details {{ iconMacros.iconChevronRight(classes="c-icon c-icon--medium c-btn__icon") }}</a>
            </div>
        </div>
        <div class="c-tile__overlay"></div>
        <div class="c-tile-article__image" data-responsive-background-src data-src="{{imageDesktop}}" data-src-m="{{imageDesktop}}" style="background-image: url({{imageDesktop}})"></div>
    </article>
{%- endmacro %}

{% macro inspirationT7Wrap(options) -%}
<section class='m-wrap {{options.wrapClasses}}'>
    <div class="m-wrap__card m-inspiration__content">
        <div class="m-wrap__inner">
            <div class="m-wrap__content">
                {{caller()}}
            </div>
        </div>
    </div>
</section>
{%- endmacro %}

{% macro cardStoryProduct(tileClasses="", tileHeading="Trek 2018 Women's Fuel EX 8 27.5 MTB", tileImage="/assets/images/test/card-story-product.png") -%}
<article class="c-card-product c-card-product--story {{cardClasses}}" >
    {{productMacros.productCardIconBtn(classes=likeClasses)}}
    <a href="#" class="c-card__link" aria-hidden="true">Torpedo7 2018 Vall-E+ 1 Pro - 27.5 E-Bike</a>
    <div class="c-card-product__image-wrap">
        <div class="c-pill c-pill--primary c-card-product__pill">Limited Edition</div> 
        <img class="c-card-product__image"  src="/assets/images/t7/bikes/T7BRAN7WA8E_large.jpg" />
    </div>

    <div class="c-card-product__text-colors">
        3 colors
    </div>        
   
    <div class="c-card-product__content">
        
        <div class="c-card-product__brand">Torpedo7</div>
        <h4 class="c-card__heading c-card-product__heading"><a href="#" class="u-link-reset">2018 Vall-E+ 1 Pro - 27.5 E-Bike</a></h4>

        {{productMacros.starGroup(groupClasses="c-card-product__rating")}}
        
        <div class="c-prices">
            <div class="c-prices__price c-prices__price--default">$5,432.10</div>
            <div class="c-prices__price c-prices__price--club">&nbsp;</div>
        </div>
        <div class="c-card-product__bundle">&nbsp;</div>
    </div>
</article>
{%- endmacro %}

{% macro cardStoryProductOld(tileClasses="", tileHeading="Trek 2018 Women's Fuel EX 8 27.5 MTB", tileImage="/assets/images/test/card-story-product.png") -%}
    <article class="c-card-product c-card-product--story {{tileClasses}}">
        <a href="#" class="c-card__link" aria-hidden="true">{{tileHeading}}</a>
        <div class="c-card-product__content ">
            <div class="c-card-story-product__image-wrap">
                <div class="c-pill c-pill--primary c-card-product__pill">Limited Edition</div> 
                <img class="c-card-story-product__image" src="{{tileImage}}"  alt="{{tileHeading}}" />
            </div>
            <div class="c-card-product__brand">Torpedo7</div>
            <h4 class="c-card-product__heading">{{tileHeading}}</h4>
            <div class="c-prices">
                <div class="c-prices__price c-prices__price--old">$5,432.10</div>
                <div class="c-prices__price c-prices__price--new">$4,332.10</div>
            </div>
            <div class="c-card-product__bundle">Buy 1 Get 1 Half Price</div>
        </div>
    </article>
{%- endmacro %}

{% macro cardStoryProductClubPrice(tileClasses="", tileHeading="Trek 2018 Women's Fuel EX 8 27.5 MTB", tileImage="/assets/images/test/card-story-product.png") -%}

<article class="c-card-product c-card-product--story {{cardClasses}}" >
    {{productMacros.productCardIconBtn(classes=likeClasses)}}
    <a href="#" class="c-card__link" aria-hidden="true">Torpedo7 2018 Vall-E+ 1 Pro - 27.5 E-Bike</a>
    <div class="c-card-product__image-wrap">
        <div class="c-pill c-pill--primary c-card-product__pill">Limited Edition</div> 
        <img class="c-card-product__image"  src="/assets/images/t7/bikes/T7BRAN7WA8E_large.jpg" />
    </div>

    <div class="c-card-product__text-colors">
        3 colors
    </div>     
    <div class="c-card-product__content">
        <div class="c-card-product__brand">Torpedo7</div>
        <h4 class="c-card__heading c-card-product__heading"><a href="#" class="u-link-reset">2018 Vall-E+ 1 Pro - 27.5 E-Bike</a></h4>
        {{productMacros.starGroup(groupClasses="c-card-product__rating")}}
        <div class="c-prices">
            <div class="c-prices__price c-prices__price--default">$5,432.10</div>
            <div class="c-prices__price c-prices__price--club">Club $4,332.10</div>
        </div>
        <div class="c-card-product__bundle">&nbsp;</div>
    </div>
</article>
{%- endmacro %}

{% macro storySnowPopulated() -%}
    {% 
        set options = {
            heading:"Featured Categories",
            description: "lorem ipsum",
            ctaText: "Shop All",
            tileBG: "/assets/images/test/tile-bg-bike.jpg"
        }
    %}
    {{storyT7(options)}}
{%- endmacro %}

{% macro storySnowCatgoriesPopulated() -%}
    {% 
        set options = {
            heading:"Featured Categories",
            description: "lorem ipsum",
            ctaText: "Shop All",
            tileBG: "/assets/images/test/tile-bg-bike.jpg"
        }
    %}
    {{ storyCategoriesT7(options) }}
{%- endmacro %}

{% macro inspirationSnowPopulated() -%}
    {% 
        set options = {
            heading:"Featured Categories",
            description: "lorem ipsum",
            ctaText: "Shop All",
            tileBG: "/assets/images/test/tile-bg-bike.jpg"
        }
    %}
    {{inspirationT7(options)}}
{%- endmacro %}

{% macro inspirationBikePopulated() -%}
    {% 
        set options = {
            heading:"Featured Categories",
            description: "lorem ipsum",
            ctaText: "Shop All",
            tileBG: "/assets/images/test/tile-bg-bike.jpg",
            wrapClasses: ""
        }
    %}
    {{inspirationT7(options)}}
{%- endmacro %}

{% macro inspirationBikeCategoriesPopulated() -%}
    {% 
        set options = {
            heading:"Featured Categories",
            description: "lorem ipsum",
            ctaText: "Shop All",
            tileBG: "/assets/images/test/tile-bg-bike.jpg",
            wrapClasses: ""
        }
    %}
    {{inspirationCategoriesT7(options)}}
{%- endmacro %}

