{% import 'html/t7-live/modules/story/macros-t7.html' as storyMacros %}
{% import 'html/guide/macros/module.html' as wrapMacros %}
{% import 'html/guide/macros/guide.html' as guideMacros %}

<!-- <div class="g-display--t7"> -->

{% call guideMacros.docs2ColWrap() -%}
    {% call guideMacros.docs2ColColumn1Wrap(colHeading="") -%}

    <p>
        This module can display story tiles or 1 story tile and related product cards.<br />
        The display of this module also changes if displaying on the HP or on the CLP page.<br />
        Fields:<br />
        Header Title: text<br />
        Header background image: image picker<br />
        Header orientation: left / right<br />
        Header CTA text: text
    </p>

    {% endcall %}

    {% call guideMacros.docs2ColColumn2Wrap(colHeading="Story Tile Specs") -%}
       
    <div class="u-margin-top-x10 u-margin-top-x0-m u-columns__column u-columns__column--twelve u-columns__column--six-m -no-gutter u-block u-spacing">
        <p>
            Feilds:<br />
            Large Tile Image: 751px x 846px (8 x 9 ratio) JPG<br />
            Small Tile Image: 751px x 423px (16 x 9 ratio) JPG<br />
            Tile title: text
        </p>
    </div>

    {% endcall %}
{% endcall %}

    {% call guideMacros.docsWrap() -%}
        <h3 class="u-h3">M0110A: Example Category Story Module (HP version):</h3>
    {% endcall %}

    {{storyMacros.categoryBannerSnowPopulated()}}

    {% call guideMacros.docsWrap() -%}
        <h3 class="u-h3">M0110B: Example Category Story & Products Module (HP version):</h3>
    {% endcall %}

    {{storyMacros.categoryBannerBikePopulated()}}

    {% call guideMacros.docsWrap() -%}
        <h3 class="u-h3">M0111A: Example Category Story Module (CLP version):</h3>
    {% endcall %}

    {{storyMacros.categoryBannerBikePopulatedCLP()}}

    {% call guideMacros.docsWrap() -%}
        <h3 class="u-h3">M0111B: Example Category Story & Products Module (CLP version):</h3>
    {% endcall %}

    <div class="m-inspiration__group js-animate-module">
    
        {{storyMacros.categoryBannerSnowPopulated()}}

        {{storyMacros.categoryBannerBikePopulated()}}
        <div class="m-inspiration__group-bg"></div>

    </div>

    
<!-- </div> -->