//
// ------------------------------------- 
// 	CORE VARIABLES
// -------------------------------------
//  Core variables for DS scaffold
//

// Fonts
///////////////////////////////////////////////////////////////////////////////

// Font family:
$font									: $theme-font;
$font-bold								: $theme-font-bold;
$font-text								: $font;
$font-script							: $theme-font-script;
$font-price								: $theme-font-price;

$font-text-bold							: $font-bold;
$font-header							: $font-bold;

$font-nav 								: $font-header;
$font-bold 								: $font-header;
$font-btn								: $font-header;

// Font weights:
$font-weight-bold     					: $theme-font-weight-bold;
$font-weight-regular  					: $theme-font-weight-regular;
$font-weight-light  					: $theme-font-weight-light;

$font-weight          					: $font-weight-regular;
$font-weight-header   					: $font-weight-bold;

// Units
///////////////////////////////////////////////////////////////////////////////
$x0-5									: 2px;
$x1										: 4px;
$x1-5									: 6px;
$x2										: 8px;
$x2-5									: 10px;
$x3										: 12px;
$x3-5									: 14px;
$x4										: 16px;
$x4-5									: 18px;
$x5										: 20px;
$x5-5									: 22px;
$x6										: 24px;
$x6-5									: 26px;
$x7										: 28px;
$x7-5									: 30px;
$x8										: 32px;
$x8-5									: 34px;
$x9										: 36px;
$x9-5									: 38px;
$x10									: 40px;
$x10-5									: 44px;
$x12									: 48px;
$x12-5									: 50px;
$x14									: 52px;
$x20									: 80px;
$x20-5									: 82px;
$x25									: 100px;
$x27-5									: 110px;
$x30									: 120px;

// Font sizes
$font-size-base           				: 4px;
$font-size                				: $font-size-base;

$header-font-size-xxxl					:48px;
$header-font-size-xxl					:40px;
$header-font-size-xl					:24px;
$header-font-size-h1					:32px;
$header-font-size-h2					:24px;
$header-font-size-h3					:20px;
$header-font-size-h4					:16px;
$header-font-size-h5					:12px;
$header-font-size-h6					:12px;

$text-font-size-p1						:16px;
$text-font-size-p2						:14px;
$text-font-size-p3						:12px;

$price-font-size-1						:16px;
$price-font-size-2						:14px;
$price-font-size-3						:14px;

$pill-font-size-1						:10px;
$pill-font-size-2						:8px;

// Tablet Typography Vars
$header-font-size-xxxl-m				:120px;
$header-font-size-xxl-m					:56px;
$header-font-size-xl-m					:56px;
$header-font-size-h1-m					:32px;
$header-font-size-h2-m					:24px;
$header-font-size-h3-m					:20px;
$header-font-size-h4-m					:18px;
$header-font-size-h5-m					:16px;
$header-font-size-h6-m					:14px;

$text-font-size-p1-m					:18px;
$text-font-size-p2-m					:16px;
$text-font-size-p3-m					:14px;

$price-font-size-1-m					:24px;
$price-font-size-2-m					:14px;
$price-font-size-3-m					:13px;

// Desktop Typography Vars
$header-font-size-xxxl-l				:148px; //37rem
$header-font-size-xxl-l					:80px; 
$header-font-size-xl-l					:46px; 
$header-font-size-h1-l					:40px; 
$header-font-size-h2-l					:32px;
$header-font-size-h3-l					:20px;
$header-font-size-h4-l					:18px;
$header-font-size-h5-l					:16px;
$header-font-size-h6-l					:14px;

$text-font-size-p1-l					:18px;
$text-font-size-p2-l					:16px;
$text-font-size-p3-l					:14px;

$price-font-size-1-l					:24px;
$price-font-size-2-l					:16px;
$price-font-size-3-l					:14px;

//btn font sizes
$btn-font-size                     		:14px;
$btn-font-size-large                	:16px;

// Font family
$hxxxl-font-family						:$theme-hxxxl-font-family;
$hxxl-font-family						:$theme-hxxl-font-family;
$hxl-font-family						:$theme-hxl-font-family;
$h1-font-family							:$theme-h1-font-family;
$h2-font-family 						:$theme-h2-font-family;
$h3-font-family 						:$theme-h3-font-family;
$h4-font-family 						:$theme-h4-font-family;
$h5-font-family 						:$theme-h5-font-family;
$h6-font-family 						:$theme-h6-font-family;
$h7-font-family 						:$theme-h7-font-family;

// Line height
$line-height-heading					: 1.15;
$line-height		  					: 1.25;

$header-line-height-xxxl				:1; 
$header-line-height-xxl					:1; 
$header-line-height-xl					:1.1; 
$header-line-height-h1					:1.1; 
$header-line-height-h2					:1.1;
$header-line-height-h3					:1.15;
$header-line-height-h4					:1.15;
$header-line-height-h5					:1.25;
$header-line-height-h6					:1.25;
$header-line-height-h7					:1;

$text-line-height-p1					:1.35;
$text-line-height-p2					:1.35;
$text-line-height-p3					:1.5;

$price-line-height-1					:1;
$price-line-height-2					:1;
$price-line-height-3					:1;

// Letter spacing
$letter-spacing-heading-xxlarge	  		: $theme-letter-spacing-heading-xxlarge-1; //.5px;
$letter-spacing-heading-xlarge	  		: $theme-letter-spacing-heading-xlarge; //-0.5px;
$letter-spacing-heading-large	  		: $theme-letter-spacing-heading-large; //0.5px;
$letter-spacing-heading-medium	  		: $theme-letter-spacing-heading-medium; //0.5px;
$letter-spacing-heading-small	  		: $theme-letter-spacing-heading-small; //0.5px;
$letter-spacing-heading-xsmall	  		: $theme-letter-spacing-heading-xsmall; //1px;

$letter-spacing-text-large		  		: $theme-letter-spacing-text-large; //0.25px;
$letter-spacing-text-medium		  		: $theme-letter-spacing-text-medium; //0.5px;
$letter-spacing-text-small		  		: $theme-letter-spacing-text-small; //1px;

$letter-spacing-price-large		  		: $theme-letter-spacing-price-large; //0.25px;
$letter-spacing-price-medium		  	: $theme-letter-spacing-price-medium; //0.5px;
$letter-spacing-price-small		  		: $theme-letter-spacing-price-small; //1px;

$letter-spacing-pill					: $theme-letter-spacing-pill; //0.5px;

// Transitions
///////////////////////////////////////////////////////////////////////////////
$transition-time       					: 500ms;
$transition-time-slow 					: 900ms;
$transition-easing     					: cubic-bezier(0, 0, 0.26, 1);

$transition								: all $transition-time  $transition-easing;
//breakpoint transition:
$transition-bp--speed					: 0.9s;
$transition-bp--easing					: ease-in-out;
$transition-bp							: $transition;
$transition-nav							: $transition-bp;

// Colors
///////////////////////////////////////////////////////////////////////////////

//Brand color heirarchy:
$color-a      							: $theme-color-a;
$color-a-dark-10      					: $theme-color-a-dark-10;
$color-a-light-20						: $theme-color-a-light-20;
$color-a-light-40						: $theme-color-a-light-40;
$color-a-light-60						: $theme-color-a-light-60;
$color-a-light-80						: $theme-color-a-light-80;

$color-b    							: $theme-color-b;
$color-c     							: $theme-color-c;
$color-d     							: $theme-color-d;
$color-e     							: $theme-color-e;
$color-f     							: $theme-color-f;
$color-g     							: $theme-color-g;

//brand colors.
$color-grey								: $theme-color-b;
$color-grey-light-20					: $theme-color-grey-light-20;
$color-grey-light-40					: $theme-color-grey-light-40;
$color-grey-light-60					: $theme-color-grey-light-60;
$color-grey-light-80					: $theme-color-grey-light-80;
$color-grey-light-90					: $theme-color-grey-light-90;
$color-grey-light-98					: $theme-color-grey-light-98;

$color-white							: $theme-color-white;
$color-black							: $theme-color-black;

//functional colors:
$color-confirmation	        			: $theme-color-confirmation;
$color-warning		        			: $theme-color-warning;
$color-warning-light-95		        	: $theme-color-warning-light-95;
$color-error			    			: $theme-color-error;
$color-error-light-95				    : $theme-color-warning-light-95;
$color-info			    				: $theme-color-info;
$color-info-light-95				    : $theme-color-info-light-95;
$color-sale			    				: $theme-color-sale;
$color-clearance			    		: $theme-color-clearance;
$color-club			    				: $theme-color-club;
$color-ratings			    			: #F8C81C;

// Applied colors
$color-body         					: $theme-color-body;
$color-text         					: $theme-color-text;
$color-field        					: $theme-color-field;
$color-border       					: $theme-color-border;

// Links colors
$color-link         					: $theme-color-link;
$color-link-hover   					: $theme-color-link-hover;

// button / pill colors
$color-pill-a							:$theme-color-pill-a;
$color-pill-b							:$theme-color-pill-b;
$color-pill-c							:$theme-color-pill-c;

// price colors
$color-price-old						:$theme-color-price-old;
$color-price-new						:$theme-color-price-new;

// Breakpoints
///////////////////////////////////////////////////////////////////////////////
//mobile first breakpoints:
$bp-mobile-start-no-px        		  	: 320;
$bp-mobile-start          				: $bp-mobile-start-no-px + 0px;
$bp-mobile-large-start-no-px        	: 600;
$bp-mobile-large-start       			: $bp-mobile-large-start-no-px + 0px;
$bp-tablet-portrait-start-no-px     	: 768;
$bp-tablet-portrait-start     			: $bp-tablet-portrait-start-no-px + 0px;
$bp-tablet-landscape-start-no-px  		: $theme-bp-tablet-landscape-start-no-px; //988;
$bp-tablet-landscape-start      		: $bp-tablet-landscape-start-no-px + 0px;
$bp-small-desktop-start-no-px         	: $theme-bp-small-desktop-start-no-px;
$bp-small-desktop-start         		: $bp-small-desktop-start-no-px + 0px;
$bp-large-desktop-start-no-px         	: $theme-bp-large-desktop-start-no-px;
$bp-large-desktop-start              	: $bp-large-desktop-start-no-px + 0px;
$bp-huge-desktop-start              	: 1820px;


//max-width breakpoints:
$bp-mobile-end            				: $bp-mobile-large-start - 1; //599
$bp-mobile-end-no-px        			: $bp-mobile-large-start-no-px - 1;
$bp-mobile-large-end-no-px            	: $bp-tablet-portrait-start-no-px - 1; //767
$bp-mobile-large-end            		: $bp-tablet-portrait-start - 1;
$bp-tablet-portrait-end-no-px   		: $bp-tablet-landscape-start-no-px - 1; //1023
$bp-tablet-portrait-end       			: $bp-tablet-landscape-start - 1;
$bp-tablet-landscape-end      			: $bp-small-desktop-start - 1;//1319
$bp-small-desktop-end           		: $bp-large-desktop-start - 1;//1539
$bp-max-no-px           				: $bp-large-desktop-start-no-px;
$bp-max               					: $bp-large-desktop-start;
$bp-large-desktop-start-end				: $bp-huge-desktop-start - 1px;

//breakpoint convenience sizes:
$media-min              				: $bp-mobile-start;
$media-xs                				: $bp-mobile-start;
$media-s                				: $bp-mobile-large-start;
$media-m                				: $bp-tablet-portrait-start;
$media-l              					: $bp-tablet-landscape-start;
$media-xl                				: $bp-small-desktop-start;
$media-xxl               				: $bp-large-desktop-start;
$media-xxxl               				: $bp-huge-desktop-start;

$media-xs-max              				: $bp-mobile-end;
$media-s-max              				: $bp-mobile-large-end;
$media-m-max             				: $bp-tablet-portrait-end;
$media-l-max              				: $bp-tablet-landscape-end;
$media-xl-max             				: $bp-small-desktop-end;

$mobile-bp								: $media-l;
 
$layout-breakpoints : (
	-s       							: $media-s,
	-m       							: $media-m,
	-l       							: $media-l,
	-xl      							: $media-xl,
	-xxl     							: $media-xxl
);
$layout-breakpoints-max : (
	-s       							: $bp-mobile-end,
	-m       							: $bp-mobile-large-end, //767
	-l       							: $bp-tablet-portrait-end, //1023
	-xl      							: $bp-tablet-landscape-end, //1319
	-xxl     							: $bp-small-desktop-end//1539
);

//max-width at breakpoints:
$max-width-s							: 100%;
$max-width-l							: $theme-max-width-l;
$max-width-xl							: $theme-max-width-xl;
$max-width-xxl							: $theme-max-width-xxl;
$max-width-xxxl							: $theme-max-width-xxxl;
// Icons
///////////////////////////////////////////////////////////////////////////////

// icon sizes
$icon-size-l 						: $x8;
$icon-size-m 						: $x6;
$icon-size-s 						: $x4;



// Blocks Sizes
///////////////////////////////////////////////////////////////////////////////

$baseSpacing						:$x1; //for spacing mixins

// tile gutters
$card-gutter						: $theme-card-gutter;
$card-gutter-large					: $theme-card-gutter-large;


// Inset Spacing
///////////////////////////////////////////////////////////////////////////////

// Tile padding:
$inset-padding-s					: $x4;
$inset-padding-m					: $x6;
$inset-padding-l					: $x8;

// Inset squish spacing
$inset-padding-squish-v				: $x2;
$inset-padding-squish-h				: $x6;

// Module spacing:
$module-outer-gutter-s				: $theme-module-outer-gutter-s;
$module-outer-gutter-m				: $theme-module-outer-gutter-m;
$module-outer-gutter-l				: $theme-module-outer-gutter-l;
$module-outer-gutter-xl				: $theme-module-outer-gutter-xl;
$module-outer-gutter-xxl			: $theme-module-outer-gutter-xxl;

$module-header-padding-top-s		: $theme-module-header-padding-top-s;
$module-header-padding-bottom-s		: $theme-module-header-padding-bottom-s;
$module-header-padding-top-m		: $theme-module-header-padding-top-m;
$module-header-padding-bottom-m		: $theme-module-header-padding-bottom-m;
$module-header-padding-top			: $theme-module-header-padding-top;
$module-header-padding-bottom		: $theme-module-header-padding-bottom;

$module-footer-padding-top-s		: $theme-module-footer-padding-top-s;
$module-footer-padding-bottom-s		: $theme-module-footer-padding-bottom-s;
$module-footer-padding-top-m		: $theme-module-footer-padding-top-m;
$module-footer-padding-bottom-m		: $theme-module-footer-padding-bottom-m;
$module-footer-padding-top			: $theme-module-footer-padding-top;
$module-footer-padding-bottom		: $theme-module-footer-padding-bottom;

//Button padding
$btn-padding-primary				: $x3 $x6;
$btn-padding-secondary            	: $x2 $x3;
$btn-padding-tertiary             	: $x2 0;
$btn-padding-link                 	: $x0-5 0;
$btn-padding-large                	: $x4 $x6;

// Borders
// ///////////////////////////////////////////////////////////////////////////////
$border-size        				: 1px;
$border-size-thick  				: 2px;
$border-style       				: solid;
$border-color       				: $color-border;

 // Radius
// ///////////////////////////////////////////////////////////////////////////////
$border-radius           			: 0;
$border-radius-full           		: 1000px;

// Z-Index Management
///////////////////////////////////////////////////////////////////////////////

$z-index-bg							:0;
$z-index-overlay					:5;
$z-index-content					:10;
$z-index-pill						:14;
$z-index-link						:15;
$z-index-like						:16;
$z-index-modal						:50;
$z-index-sticky						:100;

// Header settings
///////////////////////////////////////////////////////////////////////////////

$header-desktop-height: 100px;
$header-mobile-height: 140px;
$header-top-height:30px;