{% import 'html/guide/macros/icons.html' as iconMacros %}
{% import 'html/guide/macros/module.html' as moduleMacros %}

<div class="c-btn-group u-margin-bottom-x10">
        <label class="c-btn-group__item">Default:</label>
        <div class="c-btn-group__item">
            <button type="submit" class=" c-pill c-pill--primary">Primary</button>
        </div>

        <div class="c-btn-group__item">
            <button type="submit" class="c-pill c-pill--primary u-bg-clearance">Clearance</button>
        </div>
    </div>
</div>
    

   