//Override Old
body{
    //background:none;
}

main, footer, header{
    ol,ul,li{
        padding: 0;
        margin: 0;
    }
}

.text-content{
    @include max-width;
    @include outer-gutter;
    margin:0 auto;
   .padding{
        float:none;
    }
    
    h1{
        @include header-font-size-h1;
        margin-top: 1.5em;
        margin-bottom: 1em;
    }
    h2{
        @include header-font-size-h2;
        margin-top: 1.5em;
        margin-bottom: 1em;
    }
    h3{
        @include header-font-size-h3;
        margin-top: 1.5em;
        margin-bottom: 1em;
    }
    h4{
        @include header-font-size-h4;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    h5{
        @include header-font-size-h5;
        margin-top: .75em;
        margin-bottom: .75em;
    }
    p{
        @include text-font-size-p1;
        margin-bottom: 1em;
        margin-top: .5em;
    }
}
