{% extends "html/red/templates/root-red-live.html" %}
{% import 'html/red/macros/typography.html' as typographyMacros %}
{% import 'html/red/macros/icons.html' as iconMacros %}

{% block head %}

<!-- Red old pattern library files -->
<!-- <link rel="stylesheet" id="site" href="../../assets/css/red-site.css" />
<link rel="stylesheet" id="styleguide" href="../../assets/css/red-styleguide.css" />
<link rel="stylesheet" id="responsive" href="../../assets/css/red-site.css" /> -->
<link href="../../assets/css/turnto.css" type="text/css" rel="stylesheet" />
<!--[if lt IE 9]>
<script src="/on/demandware.static/Sites-twl-Site/-/default/v1520550415297/js/lib/html5.js"></script>
<![endif]-->


<!-- Red old pattern library js -->
<script src="../../assets/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="../../assets/js/refapp.base.moduleschema.js"></script>
<script src="../../assets/js/twg.base.moduleschema.js"></script>
<script src="../../assets/js/twl.base.moduleschema.js"></script>

<script src="../../assets/js/bootstrap.min.js"></script>
<script src="../../assets/js/refapp.amblique.variables.js"></script>
<script src="../../assets/js/responsive.js"></script>
<script type="text/javascript">
    if (window.jQuery) {
        jQuery(document).ready(function(){
            if(screen.width < 768){
                jQuery('#footer').append('<a href="/home" class="full-site-link">View Full Site</a>');
                jQuery('.full-site-link')
                    .attr('href', '/on/demandware.store/Sites-twl-Site/default/Home-FullSite')
                    .click(function(e) {
                        e.preventDefault();
                        jQuery.ajax({
                            url: '/on/demandware.store/Sites-twl-Site/default/Home-FullSite',
                            success: function(){
                                window.location.reload();
                            }
                        });
                    }
                );
            }
        });
    }
</script>
<script>
(function(d, w, s) {
var f = w.fanplayr = w.fanplayr || { _i:[] };
var fd = JSON.parse(decodeURIComponent("%7B%22mv%22%3A%2216.3%22%2C%22products%22%3A%5B%5D%2C%22subTotal%22%3A0%2C%22total%22%3A0%2C%22discount%22%3A0%2C%22discountCode%22%3A%22%22%2C%22currency%22%3A%22NZD%22%2C%22accountKey%22%3A%2222e6344e6342c4839a13c03dba83bd2f%22%2C%22pageType%22%3A%22page%22%2C%22categoryId%22%3A%22%22%2C%22categoryName%22%3A%22%22%2C%22productId%22%3A%22%22%2C%22productName%22%3A%22%22%2C%22productSku%22%3A%22%22%2C%22productPrice%22%3A0%2C%22productUrl%22%3A%22%22%2C%22productImage%22%3A%22%22%2C%22lineItemCount%22%3A0%2C%22numItems%22%3A0%2C%22applyToCartUrl%22%3A%22%22%2C%22sessionOfferUrl%22%3A%22https%3A%2F%2Fwww.thewarehouse.co.nz%2Fon%2Fdemandware.store%2FSites-twl-Site%2Fdefault%2FFanplayr-Session%3Fcode%3D%25c%22%7D"));
f._i.push({
version: 3,
accountKey: fd.accountKey,
applyToCartUrl: fd.applyToCartUrl,
sessionOfferUrl: fd.sessionOfferUrl,
data: fd
});
var js = d.createElement(s);
var fjs = d.getElementsByTagName(s)[0];
js.async = true;
js.src = 'https://d1q7pknmpq2wkm.cloudfront.net/js/my.fanplayr.com/fp_smart.js?' + (new Date().getTime());
fjs.parentNode.insertBefore(js, fjs);
})(document, window, 'script');

</script>
<script type="text/javascript">//<!--
/* <![CDATA[ (head-active_data.js) */
var dw = (window.dw || {});
dw.ac = {
_analytics: null,
_events: [],
_category: "",
_capture: function(configs) {
if (Object.prototype.toString.call(configs) === "[object Array]") {
    configs.forEach(captureObject);
    return;
}
dw.ac._events.push(configs);
},
capture: function() { dw.ac._capture(arguments); },
EV_PRD_SEARCHHIT: "searchhit",
EV_PRD_DETAIL: "detail",
EV_PRD_RECOMMENDATION: "recommendation",
EV_PRD_SETPRODUCT: "setproduct",
applyContext: function(context) {
if (typeof context === "object" && context.hasOwnProperty("category")) {
    dw.ac._category = context.category;
}
},
setDWAnalytics: function(analytics) {
dw.ac._analytics = analytics;
}
};
/* ]]> */
// -->
</script><script type="text/javascript">//<!--
/* <![CDATA[ (head-cquotient.js) */
var CQuotient = window.CQuotient = {};
CQuotient.clientId = 'aawo-twl';
CQuotient.activities = [];
CQuotient.cqcid='';
CQuotient.cquid='';
CQuotient.initFromCookies = function () {
var ca = document.cookie.split(';');
for(var i=0;i < ca.length;i++) {
var c = ca[i];
while (c.charAt(0)==' ') c = c.substring(1,c.length);
if (c.indexOf('cqcid=') == 0) {
  CQuotient.cqcid=c.substring('cqcid='.length,c.length);
} else if (c.indexOf('cquid=') == 0) {
  CQuotient.cquid=c.substring('cquid='.length,c.length);
  break;
}
}
}
CQuotient.getCQCookieId = function () {
if(window.CQuotient.cqcid == '')
window.CQuotient.initFromCookies();
return window.CQuotient.cqcid;
};
CQuotient.getCQUserId = function () {
if(window.CQuotient.cquid == '')
window.CQuotient.initFromCookies();
return window.CQuotient.cquid;
};
/* ]]> */
// -->
</script>
<script src="../../assets/js/refapp.modules.page.styleguide.js"></script>
<script src="../../assets/js/prettify.js"></script>
<!-- end old pattern library js -->
<link rel="stylesheet" href="../../assets/css/main-red-live.css">
{% endblock %}

{% block content %}
    <div class='g-main'>
        <div class="u-columns u-flex-justify-center">
            <div class="u-columns__column u-block u-columns__column--ten">
                <div class='o-module'>
                    <div class="o-module__header u-margin-bottom-x4 g-guide">
                        <span class="g-p2 g-regular">
                            {% block sectionTitle -%}{%- endblock %}
                        </span>

                        <h1 class="g-h1 g-regular g-margin-bottom-x4">
                            {% block exampleTitle %}{% endblock %}
                        </h1>
                        <section>
                            <span class="g-p2 g-regular">{% block introDescription %}{% endblock %}</span>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block fullWidthExampleContent %}
    <div class="u-columns">
        <div class="u-columns__column u-block u-columns__column--twelve u-flex-justify-center">
            <div class="u-columns u-flex-justify-center">

                {% block styleguideBlock -%}
                <div class="g-styleguide u-columns u-flex-justify-center u-columns__column--twelve">
                    <div class="g-panel g-styleguide__container u-flex-justify-center u-columns__column u-block u-columns__column--ten">

                        <h2 class="g-h3 g-regular u-margin-top-x4">
                            {% block styleguideTitle -%}{%- endblock %}<!-- END: styleguideTitle -->
                        </h2>

                        {% block styleguideContent -%}{%- endblock %}<!-- END: styleguideContent -->

                    </div>
                    <!-- END: styleguideBlock -->
                    <div class="g-panel g-styleguide__container u-flex-justify-center u-columns__column u-block u-columns__column--ten">

                        {% block currentStyleguideBlock -%}
                            <h2 class="g-h3 g-regular u-margin-top-x4">
                                {% block currentStyleguideTitle -%}{%- endblock %}<!-- END: scurrentStyleguideTitle -->
                            </h2>

                            {% block currentStyleguideContent -%}{%- endblock %}<!-- END: currentStyleguideContent -->
                        {%- endblock %}<!-- END: currentStyleguideBlock -->

                    </div>
                    <!-- END: currentStyleguideBlock -->

                </div>
                <!-- END: .g-styleguide -->
                {%- endblock %}
                <!-- END: styleguideBlock -->

                {% block componentBlock -%}
                <div class="g-component u-columns__column--ten u-margin-top-x4 u-margin-bottom-x4 u-padding-x4 u-block" data-ud-core="ud-element-switcher__base">
                    <div class="g-component__container u-columns g-panel">
                        
                        <div class="g-component__code-block u-columns__column--seven u-margin-top-x4 u-margin-bottom-x4 u-padding-right-x4">
                            <pre>{% block codeBlock -%}{%- endblock %}<!-- END: codeBlock --></pre>
                        </div>
                        <!-- END: code block -->

                        <div class="g-componet__variant-block u-columns__column--five u-margin-top-x4 u-margin-bottom-x4 u-padding-x4 u-block">
                            {% block variantBlock -%}{%- endblock %}<!-- END: variantBlock -->
                        </div>
                        <!-- END: variant block -->
                    </div>
                    <!-- END: .g-component__container -->

                    <div class="g-component__container u-columns u-block u-margin-top-x4 u-margin-bottom-x4">
                        <div class="g-component__preview-block g-panel u-flex-justify-center u-columns__column--twelve u-block">
                            {% block newCompomentPreviewBlock -%}

                                {% if newComponentPreviewTitle -%}
                                    <h2 class="g-h3">
                                        {% block newComponentPreviewTitle -%}{%- endblock %}<!-- END: newComponentPreviewTitle -->
                                    </h2>
                                {% endif -%}

                                {% if newComponentContentBlock -%}
                                    <div class="u-flex-justify-center u-columns__column--twelve">
                                        {% block newComponentContentBlock -%}{%- endblock %}<!-- END: newComponentContentBlock -->
                                    </div>
                                {% endif -%}

                            {%- endblock %}<!-- END: newComponentPreviewBlock -->
                            
                            {% if captionBlock -%}
                                <div class="g-component__caption-block u-flex-justify-center u-columns__column--twelve">
                                    {% block captionBlock -%}{%- endblock %}<!-- END: captionBlock -->
                                </div>
                                <!-- END: caption block -->
                            {% endif -%}
                        </div>
                        <!-- END: preview block -->

                        <div class="g-component__current-component-block u-flex-justify-center u-block u-margin-top-x4 u-margin-bottom-x4 u-padding-x4 u-columns__column--twelve">
                            {% block currentCompomentPreviewBlock -%}
                                <h2 class="g-h3">
                                    {% block currentComponentPreviewTitle -%}{%- endblock %}<!-- END: currentComponentPreviewTitle -->
                                </h2>

                                <div class="u-flex-justify-center u-columns__column--twelve g-panel">
                                    {% block currentComponentContentBlock -%}{%- endblock %}<!-- END: currentComponentContentBlock -->
                                </div>
                                
                            {%- endblock %}<!-- END: currentComponentPreviewBlock -->
                        </div>
                    </div>
                    <!-- END: g-component__container -->
                </div>
                <!-- END: g-component -->
                {%- endblock %}
                <!-- END: componentBlock -->

            </div>

        </div>
    </div>
    {% endblock %}
    <!-- END: fullWidthExampleContent -->
{% endblock%}
<!-- END: content -->

{% block footer %}
{% endblock %}

{% block foot %}
<script src="/assets/js/main.js"></script>
{% endblock %}