{% extends "html/red/templates/root-red-live.html" %}
{% import 'html/red/macros/typography.html' as typographyMacros %}
{% import 'html/red/macros/icons.html' as iconMacros %}

{% block head %}

    <link rel="stylesheet" id="main" href="/assets/css/main-red.css">

{% endblock %}

{% block guide %}
    <div class="g-header">
        <div class="g-header__inner"></div>
    </div>

    {% include "html/templates/partials/guide-navigation.html" %}
{% endblock %}

{% block title %}
{{templateOptions.heading}}
{% endblock %}
<!--
set templateOptions = {
    subheading: "String",
    heading: "String",
    description: "HTML",
    currentStyleguideTitle: "String",
    currentStyleguideContent: "path to html",
    styleguideTitle: "String",
    styleguideContent: "path to html",
    codeBlock: "path to html",
    variantBlock: "path to html",
    newComponentPreviewTitle: "String",
    newComponentContentBlock: "path to html",
    captionBlock: "String",
    currentComponentPreviewTitle: "String",
    currentComponentContentBlock: "path to html"
}
-->
{% block content %}
<div class='g-load'>
    <div class='g-main'>
        <div class='g-page'>
            <div class="g-page__header">

                <section class='m-wrap'>
                    <div class="m-wrap__card">
                        <div class="m-wrap__content g-spacing">
                            <span class="g-p3 g-regular">
                                {{templateOptions.subheading  | safe}}
                            </span>
    
                            <h1 class="g-h1 g-regular">
                                {{templateOptions.heading  | safe}}
                                <span class="g-h4">{% if templateOptions.code %} {{templateOptions.code  | safe}} {% endif %}</span>
                            </h1>
                            {% if templateOptions.description %}
                                <section class="u-margin-top-x4">
                                    <span class="g-p2 g-regular">{{templateOptions.description | safe}}</span>
                            </section>
                            {% endif %}
                        </div>
                    </div>
                </section>
                
            </div>
        </div>
   

        {% block fullWidthExampleContent %}
        
        {% if templateOptions.contentBlock -%}
        <div class='g-page'>
            <div class='g-page__content u-columns u-flex-justify-center'>
                <div class="u-columns__column u-columns__column--ten u-block">
                    {% include templateOptions.contentBlock %}
                </div>
            </div>
        </div>
        {% endif -%}

        {% if templateOptions.fullWidthContent -%}
            {% include templateOptions.fullWidthContent %}
        {% endif -%}

        {% endblock %}
    </div>
</div>
    <!-- END: fullWidthExampleContent -->
{% endblock%}
<!-- END: content -->

{% block footer %}
{% endblock %}

{% block foot %}
<script src="/assets/js/main.js"></script>
{% endblock %}