<!-- layout.html -->

{% import 'html/red/macros/helpers.html' as helpers %}
{% import "html/templates/partials/pages-index.html" as pageindex %}

<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>

<meta charset=UTF-8>
<title>{% block title %}{% endblock %}</title>
<link href="/assets/images/favicon.ico" rel="shortcut icon" />

<!-- new css -->
<link rel="stylesheet" href="../../assets/css/main-red-live.css">
  {% block head %}
  {% endblock %}
<!--end new css -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    
    <div id="wrapper" class="pt_storefront">
        <div id="mask"></div>
        <div class="print-header visible-print"></div>
        {% block header %} {% endblock %}

        {% block content %} {% endblock %}

        {% block footer %} {% endblock %}

        <script src="/assets/js/main.js"></script>
  
    </div>

</body>
</html>