<!-- layout.html -->

{% import 'html/red/macros/helpers.html' as helpers %}
{% import "html/templates/partials/pages-index.html" as pageindex %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PROJECT : {% block title %}{% endblock %}</title>
  
  {% block head %}

  <link rel="stylesheet" href="../assets/css/main-red-live.css">
  {% endblock %}

</head>
<body class="g-body">
  {#% include "html/templates/partials/guide-header.html" %#}
  {% include "html/templates/partials/guide-navigation.html" %}
  <!-- You write code for this content block in another file -->
  {% block content %} {% endblock %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  {% block foot %}
  <script src="/assets/js/main.js"></script>
  {% endblock %}

</body>
</html>