// ------------------------------------- 
// 	MODULE: BUYERS GUIDE HERO
// -------------------------------------
//  
//


$name                    : m-buyers-hero;
$selector                : ".#{$name}";

//Selectors
#{$selector} {

    display: grid;
    margin: auto;
    background-size: cover;
    background-position: center;
    align-items: center;




    // m-buyers-guide-hero__heading
    &__heading {
        margin: $x5 auto;
        width: 100%;
        text-align: center;

        @include media($media-m) {
            position: absolute;
            top: 1%;
            left: 25%;
            width: 50%;
            z-index: 1000;
        }

        @include media($media-l) {
            width: 60%;
            left: 20%;
            top: 7%;
        }

        @include media($media-xxl) {
            width: 30%;
            left: 35%;
            top: 15%;
        }
    }

    // m-buyers-hero__breadcrumb-container
    &__breadcrumb-container {
        box-sizing: border-box;
        margin: 0 auto -2px;
        background: #fff;
        padding: 0;
        color: #333;
        text-align: center;
    }
}