// ------------------------------------- 
// 	MODULE: BUYERS GUIDE SECTION HERO
// -------------------------------------
//  
//


$name                    : m-section-hero;
$selector                : ".#{$name}";

//Selectors
#{$selector} {
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}