// ------------------------------------- 
// 	MODULE: BUYERS GUIDE SECTION HERO BELT
// -------------------------------------

$name                    : m-hero-belt;
$selector                : ".#{$name}";

// Selectors
#{selector} {
    
    // 
    // HERO BELT CONTAINER
    ////////////////////////////////////////
    width: 80%;
    max-width: 1305px;
    margin: 0 auto;
    overflow: hidden !important;





    // 
    // HERO BELT INNER
    ////////////////////////////////////////
    &__inner {
        width: 1650px;

        @include media($media-m) {
            width: 1440px;
        }
    }





    
}