//
// ------------------------------------- 
// 	MODULE: INSPIRATION
// -------------------------------------
//  
//

$name                    : m-inspiration-c;
$selector                : ".#{$name}";

#{$selector} {
    position: relative;
    display:flex;
    flex-direction: column;

    &__wrap {
        display: flex;
        flex-direction: column;
    }

    &__content {
        position: relative;
        z-index: 2; 
        padding: $x6;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include media($media-m) {
            width: calc(50% - 64px);
            padding: $x8;
        }

        #{$selector}--reverse & {
            order: 2;
        }
    }

    &__row {
        @include media($media-m) {
            position:absolute;
            z-index: 4;
            right:1$x6;
            bottom: $x20;
        }
    }

    &__hero {
        background-color: grey;
        position: relative;
        z-index: 2;
    }

    &__bg {
        position: absolute;
        width: 100%;
        top:0; 
        bottom:0;
        z-index: 0;

        @include media($media-m) {
            bottom:$x20;

            #{$selector}--reverse & {
                bottom: 0;
                top: $x30;
            }
        }

        
    }

}
