//
// ------------------------------------- 
// 	MODULE: INSPIRATION
// -------------------------------------
//  
//

$name                    : m-inspiration;
$selector                : ".#{$name}";

#{$selector} {
    position: relative;
    @include media($media-s-max) {
        background-color: black; 
    }

    .m-wrap__inner {
        @include media($media-s-max) {
            margin: 0;
            padding: 0;
        }
    }

    //.m-inspiration__content
    &__content {
        position: relative;
        z-index: 2; 
        // padding-bottom: $x6;

        @include media($media-m) {
            padding-bottom: $x8;
        }

    }

    //.m-inspiration__cards
    &__cards {
        @include media($media-s-max) {
            overflow: scroll;
            overflow-y: -moz-hidden-unscrollable;
            -webkit-overflow-scrolling: touch;
            padding-bottom: 2.$x5;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    //.m-inspiration__cards-inner
    &__cards-inner {
        width: 100%;

        @include media($media-s-max) {
            display: flex;
            flex-wrap:nowrap !important;
            width: 1711px;
        }
    }

    //.m-inspiration__bg
    &__bg {
        position: absolute;
        width: 100%;
        top:0;
        background-color: black; 
        bottom:0; //2$x9;
        z-index: 0;

        @include media($media-s-max) {
           display: none;
        }
    }

}
