// ------------------------------------- 
// 	MODULE: Page Title
// -------------------------------------

$name                    : m-page-title;
$selector                : ".#{$name}";

//Selectors
#{$selector} {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    // .m-page-title--banner
    &--banner{
        margin: $x6 0 $x4 !important;

        @include media($media-m) {
            margin: $x6 0 $x4 !important;
        }
    }

    // .m-page-title--search
    &--search{
        margin: $x6 0 0 !important;

        @include media($media-m) {
            margin: $x6 0 0 !important;
        }
    }

    // .m-page-title--align-left
    &--align-left {
        align-items: flex-start;
    }

    // .m-page-title__wrap
    &__wrap {
        @include media($media-l) {
            background-color: $color-grey-light-90;
        }
    }

    // .m-page-title__hero
    &__hero {
        padding-bottom: 0;
        display:none;

        @include media($media-l) {
            display:block;
        }
    }

    // .m-page-title__title-block
    &__title-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $x6;
        margin-top: $x8;
        justify-content: center;

        @include media($media-m) {
            margin-bottom: $x6;
        }

        &--banner {
            margin-top: $x4; 
            margin-bottom: 0; 
        }

        #{$selector}--align-left & {
            align-items: flex-start;
        }

    }

    // .m-page-title__title
    &__title {
        margin-top: $x4;
    }

    // .m-page-title__category-belt
    &__category-belt {
        width: 100%;
        
        // .m-page-title__category-belt--plp
        &--plp {
            display: none;

            @include media($media-m) {
                display: block;
                margin-top: $x6;
            }
        }
    }
}
