// ------------------------------------- 
// 	MODULE: WRAP
// -------------------------------------

$name                    : m-wrap;
$selector                : ".#{$name}";

$gutter-calc-s: $module-outer-gutter-s * 2;
$gutter-calc: $module-outer-gutter-m * 2;

//Selectors
#{$selector} {
    
    // m-wrap--hero-belt
    // &--hero-belt {

    //     @include media($media-m) {
    //         margin-top: -$x8;
    //     }
    // }

    &--overlap {
        margin-top: -$x10;

        @include media($media-m) {
            margin-top: -1$x2;
        }
    }

    // m-wrap--belt
    &--belt {
        position: relative;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;

        @include media($media-m) {
            overflow: hidden;
            width: 100% !important;
        }
    }

    &__inner {
        margin: 0 $module-outer-gutter-s;

        // padding-top: $module-margin-top-s;
        // padding-bottom: $module-margin-bottom-s;

        @include media($media-m){
            margin: 0 $module-outer-gutter-m;

            // padding-top: $module-margin-top;
            // padding-top: $module-margin-bottom-s;
        }

        #{$selector}--content-overlap & {
            padding: $x6 0;

            @include media($media-m) {
                padding: $x8 0;
            }
        }

        #{$selector}--full-width & {
            margin: 0;
        }
 
    }

    &__header, &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header {
        @include text-spacing;

        margin-top: $module-outer-gutter-s;
        padding-top: $module-header-padding-top-s;
        padding-bottom: $module-header-padding-bottom-s;

        @include media($media-m){
            margin-top: $module-outer-gutter-m;
            padding-top: $module-header-padding-top;
            padding-bottom: $module-header-padding-bottom;
        }
    }

    &__footer {
        margin-bottom: $module-outer-gutter-s;
        padding-top: $module-footer-padding-top-s;
        padding-bottom: $module-footer-padding-bottom-s;

        @include media($media-m){
            margin-bottom: $module-outer-gutter-m;
            padding-top: $module-footer-padding-top;
            padding-bottom: $module-footer-padding-bottom;
        }

        //m-wrap--no-bottom m-wrap__footer
        #{$selector}--no-bottom & {
            padding-bottom: 0;
            margin-bottom: 0;
    
            @include media($media-m){
                padding-bottom: 0;
                margin-bottom: 0;
            } 
        }
    }

    &__content {

        #{$selector}--belt & {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
        }

        #{$selector}--stacked & {
            display: flex;
            flex-direction: column;

            @include media($media-m) {
                flex-direction: row;
                flex-wrap: nowrap;
                overflow-x: scroll;
                -webkit-overflow-scrolling: touch;
            }
        }

        #{$selector}--padding-top & {
            padding-top: $module-header-padding-top-s;

            @include media($media-m) {
                padding-top: $module-header-padding-top;
            }
        }

        #{$selector}--padding-bottom & {
            padding-bottom: $module-header-padding-top-s;

            @include media($media-m) {
                padding-bottom: $module-header-padding-top;
            }
        }

        &--inset {
            padding: $inset-padding-s;

            @include media($media-m){
                padding: $inset-padding-m;
            }

            @include media($media-l){
                padding: $inset-padding-l;
            }
        }
        &--padding {
            padding: $inset-padding-s 0;

            @include media($media-m){
                padding: $inset-padding-m 0;
            }

            @include media($media-l){
                padding: $inset-padding-l 0;
            }
        }
    }
}
