<div class="o-main">
                

        <section class="o-module -padded">
                    
            <div class="o-module__content">

                <h5 class="u-h5 u-padding-bottom-x6">Generally we are trying to use the new aspect ratios that we have defined (which are all based on 16:9)</h5>

                <div class="u-columns u-columns--four u-flex-v-align-top">

                    <div class="u-columns__column u-columns__column--three-l u-block">
                        <div class="g-box u-aspect-nine-by-eight">
                            9:8
                        </div>
                    </div>

                    <div class="u-columns__column u-columns__column--three-l u-flex-column u-flex-align-flex-start">
                        <div class="g-box u-aspect-nine-by-four">
                            9:4
                        </div>
                        <div class="g-box u-aspect-nine-by-four">
                            9:4
                        </div>
                    </div>
    
                    <div class="u-columns__column u-columns__column--three-l u-block">
                        <div class="g-box u-aspect-eight-by-nine">
                            8:9
                        </div>
                    </div>
    
                    <div class="u-columns__column u-columns__column--three-l u-flex-column u-flex-align-flex-start">
                        <div class="g-box u-aspect-sixteen-by-nine">
                            16:9
                        </div>
                        <div class="g-box u-aspect-sixteen-by-nine">
                            16:9
                        </div>
                    </div>
    
                </div>

                <h5 class="u-h5 u-padding-bottom-x6">Alternatively we have a set of more traditional ratios</h5>
    
                <div class="u-columns u-flex-v-align-top">
            
                    <div class="u-columns__column u-columns__column--three-l u-block">
                        <div class="g-box u-aspect-one-by-one">
                            1:1
                        </div>
                    </div>

                    <div class="u-columns__column u-columns__column--three-l u-flex-column u-flex-align-flex-start">
                        <div class="g-box u-aspect-two-by-one">
                            2:1
                        </div>
                        <div class="g-box u-aspect-two-by-one">
                            2:1
                        </div>
                    </div>

                    <div class="u-columns__column u-columns__column--three-l u-block">
                        <div class="g-box u-aspect-three-by-two">
                            3:2
                        </div>
                    </div>

                    <div class="u-columns__column u-columns__column--three-l u-flex-column u-flex-align-flex-start">
                        <div class="g-box u-aspect-three-by-one">
                            3:1
                        </div>
                        <div class="g-box u-aspect-three-by-one">
                            3:1
                        </div>
                    </div>

                    <div class="u-columns__column u-columns__column--three-l u-block">
                        <div class="g-box u-aspect-three-by-four">
                            3:4
                        </div>
                    </div>

                    <div class="u-columns__column u-columns__column--three-l u-flex-column u-flex-align-flex-start">
                        <div class="g-box u-aspect-three-by-two">
                            3:2
                        </div>
                        <div class="g-box u-aspect-three-by-two">
                            3:2
                        </div>
                    </div>
    
                </div>
    
                
        
        </section>
    </div>