{% import 'html/t7-live/macros/image.html' as imageMacros %} 
{% import 'html/t7-live/macros/icons.html' as iconMacros %}
{% import 'html/t7-live/components/tiles/macros.html' as tileMacros %}
{% import 'html/t7-live/macros/icons.html' as iconMacros %}
{% import 'html/t7-live/modules/sort-filters/macros.html' as filtersMacros %}

{% import 'html/t7-live/components/tiles/macros-t7.html' as tileT7Macros %}

{% macro starGroup(groupClasses) -%}
    <div class="{{groupClasses}} c-ratings">
        <div class="c-ratings__stars c-ratings__stars--active">
            {{iconMacros.star(classes="c-ratings__icon is-active")}}
            {{iconMacros.star(classes="c-ratings__icon is-active")}}
            {{iconMacros.star(classes="c-ratings__icon is-active")}}
        </div>
        <div class="c-ratings__stars">
            {{iconMacros.star(classes="c-ratings__icon")}}
            {{iconMacros.star(classes="c-ratings__icon")}}
            {{iconMacros.star(classes="c-ratings__icon")}}
            {{iconMacros.star(classes="c-ratings__icon")}}
            {{iconMacros.star(classes="c-ratings__icon")}}
        </div>
        
    </div>
{%- endmacro %}


{% macro productCardT7(cardClasses, likeClasses) -%}
    <article class="c-card-product c-card-product--no-colors-belt js-animate-sequence {{cardClasses}}" data-module="product-card-color-hover">
        {{productCardIconBtn(classes=likeClasses)}}
        <a href="#" class="c-card__link" aria-hidden="true">Torpedo7 2018 Vall-E+ 1 Pro - 27.5 E-Bike</a>
        <div class="c-card-product__image-wrap">
            <div class="c-pill c-pill--primary c-card-product__pill">Limited Edition</div> 
            <img class="c-card-product__image js-product-image js-product-image-0  is-default"   src="/assets/images/t7/bikes/T7BRAN7WA8E_large.jpg" />
            <img class="c-card-product__image js-product-image js-product-image-1 is-active"   src="/assets/images/t7/bikes/T7BRAN7WA8F_large.jpg" />
            <img class="c-card-product__image js-product-image js-product-image-2"   src="/assets/images/t7/bikes/T7BRAN7WAPR_large.jpg" />
        </div>

        <div class="c-card-product__colors js-product-card-colors">
            <div class="c-card-product__color js-product-color js-product-color-0 is-active is-default" data-color-image="js-product-image-0" style="background-color: #77C0CC"></div>
            <div class="c-card-product__color js-product-color js-product-color-1" data-color-image="js-product-image-1" style="background-color: #495463"></div>
            <div class="c-card-product__color js-product-color js-product-color-2" data-color-image="js-product-image-2" style="background-color: #C12F2C"></div>
        </div>        
       
        <div class="c-card-product__content">
            
            <div class="c-card-product__brand">Torpedo7</div>
            <h4 class="c-card__heading c-card-product__heading"><a href="#" class="u-link-reset">2018 Vall-E+ 1 Pro - 27.5 E-Bike</a></h4>

            {{starGroup(groupClasses="c-card-product__rating")}}
            
            <div class="c-prices">
                <div class="c-prices__price c-prices__price--default">$5,432.10</div>
                <div class="c-prices__price c-prices__price--club">&nbsp;</div>
            </div>
            <div class="c-card-product__bundle">&nbsp;</div>
        </div>
    </article>
{%- endmacro %}

{% macro productCardClubT7(cardClasses, likeClasses) -%}
    <article class="c-card-product c-card-product--no-colors-belt js-animate-sequence {{cardClasses}}" data-module="product-card-color-hover">
        {{productCardIconBtn(classes=likeClasses)}}
        <a href="#" class="c-card__link" aria-hidden="true">Torpedo7 2018 Vall-E+ 1 Pro - 27.5 E-Bike</a>
        <div class="c-card-product__image-wrap">
            <div class="c-pill c-pill--primary c-card-product__pill">Limited Edition</div> 
            <img class="c-card-product__image c-card-product__image--large js-product-image js-product-image-0  is-default"   src="/assets/images/t7/bikes/T7BRAN7WA8E_large.jpg" />
            <img class="c-card-product__image c-card-product__image--large js-product-image js-product-image-1 is-active"   src="/assets/images/t7/bikes/T7BRAN7WA8F_large.jpg" />
            <img class="c-card-product__image c-card-product__image--large js-product-image js-product-image-2"   src="/assets/images/t7/bikes/T7BRAN7WAPR_large.jpg" />
        </div>
        
        <div class="c-card-product__colors js-product-card-colors">
            <div class="c-card-product__color js-product-color js-product-color-0 is-active is-default" data-color-image="js-product-image-0" style="background-color: #77C0CC"></div>
            <div class="c-card-product__color js-product-color js-product-color-1" data-color-image="js-product-image-1" style="background-color: #495463"></div>
            <div class="c-card-product__color js-product-color js-product-color-2" data-color-image="js-product-image-2" style="background-color: #C12F2C"></div>
        </div>   
        <div class="c-card-product__content">
            <div class="c-card-product__brand">Torpedo7</div>
            <h4 class="c-card__heading c-card-product__heading"><a href="#" class="u-link-reset">2018 Vall-E+ 1 Pro - 27.5 E-Bike</a></h4>
            {{starGroup(groupClasses="c-card-product__rating")}}
            <div class="c-prices">
                <div class="c-prices__price c-prices__price--default">$5,432.10</div>
                <div class="c-prices__price c-prices__price--club">Club $4,332.10</div>
            </div>
            <div class="c-card-product__bundle">&nbsp;</div>
        </div>
    </article>
{%- endmacro %}

{% macro productCardDiscountT7(cardClasses, likeClasses) -%}
    <article class="c-card-product c-card-product--belt js-animate-sequence {{cardClasses}}" data-module="product-card-color-hover">
        {{productCardIconBtn(classes=likeClasses)}}
        
        <a href="#" class="c-card__link" aria-hidden="true">Torpedo7 2018 Vall-E+ 1 Pro - 27.5 E-Bike</a>     
        <div class="c-card-product__image-wrap">
            <div class="c-pill c-pill--primary c-card-product__pill">Limited Edition</div> 
            <img class="c-card-product__image c-card-product__image--large js-product-image js-product-image-0  is-default"   src="/assets/images/t7/bikes/T7BRAN7WA8E_large.jpg" />
            <img class="c-card-product__image c-card-product__image--large js-product-image js-product-image-1 is-active"   src="/assets/images/t7/bikes/T7BRAN7WA8F_large.jpg" />
            <img class="c-card-product__image c-card-product__image--large js-product-image js-product-image-2"   src="/assets/images/t7/bikes/T7BRAN7WAPR_large.jpg" />
        </div>
        
        <div class="c-card-product__colors js-product-card-colors">
            <div class="c-card-product__color js-product-color js-product-color-0 is-active is-default" data-color-image="js-product-image-0" style="background-color: #77C0CC"></div>
            <div class="c-card-product__color js-product-color js-product-color-1" data-color-image="js-product-image-1" style="background-color: #495463"></div>
            <div class="c-card-product__color js-product-color js-product-color-2" data-color-image="js-product-image-2" style="background-color: #C12F2C"></div>
        </div>   
        <div class="c-card-product__content">
            <div class="c-card-product__brand">Torpedo7</div>
            <h4 class="c-card__heading c-card-product__heading"><a href="#" class="u-link-reset">2018 Vall-E+ 1 Pro - 27.5 E-Bike</a></h4>
            {{starGroup(groupClasses="c-card-product__rating")}}
            <div class="c-prices">
                <div class="c-prices__price c-prices__price--old">$5,432.10</div>
                <div class="c-prices__price c-prices__price--new">$4,332.10</div>
            </div>
            <div class="c-card-product__bundle">Buy 1 Get 1 Half Price</div>
        </div>
    </article>
{%- endmacro %}

{% macro productCardNoColorsT7(cardClasses, likeClasses) -%}
    <article class="c-card-product c-card-product--no-colors-belt js-animate-sequence {{cardClasses}}" >
        {{productCardIconBtn(classes=likeClasses)}}
        <a href="#" class="c-card__link" aria-hidden="true">Torpedo7 2018 Vall-E+ 1 Pro - 27.5 E-Bike</a>
        <div class="c-card-product__image-wrap">
            <div class="c-pill c-pill--primary c-card-product__pill">Limited Edition</div> 
            <img class="c-card-product__image"  src="/assets/images/t7/bikes/T7BRAN7WA8E_large.jpg" />
        </div>

        <div class="c-card-product__text-colors">
            3 colors
        </div>        
       
        <div class="c-card-product__content">
            
            <div class="c-card-product__brand">Torpedo7</div>
            <h4 class="c-card__heading c-card-product__heading"><a href="#" class="u-link-reset">2018 Vall-E+ 1 Pro - 27.5 E-Bike</a></h4>

            {{starGroup(groupClasses="c-card-product__rating")}}
            
            <div class="c-prices">
                <div class="c-prices__price c-prices__price--default">$5,432.10</div>
                <div class="c-prices__price c-prices__price--club">&nbsp;</div>
            </div>
            <div class="c-card-product__bundle">&nbsp;</div>
        </div>
    </article>
{%- endmacro %}

{% macro productCardClubNoColorsT7(cardClasses, likeClasses) -%}
    <article class="c-card-product c-card-product--no-colors-belt js-animate-sequence {{cardClasses}}" >
        {{productCardIconBtn(classes=likeClasses)}}
        <a href="#" class="c-card__link" aria-hidden="true">Torpedo7 2018 Vall-E+ 1 Pro - 27.5 E-Bike</a>
        <div class="c-card-product__image-wrap">
            <div class="c-pill c-pill--primary c-card-product__pill">Limited Edition</div> 
            <img class="c-card-product__image"  src="/assets/images/t7/bikes/T7BRAN7WA8E_large.jpg" />
        </div>

        <div class="c-card-product__text-colors">
            3 colors
        </div>     
        <div class="c-card-product__content">
            <div class="c-card-product__brand">Torpedo7</div>
            <h4 class="c-card__heading c-card-product__heading"><a href="#" class="u-link-reset">2018 Vall-E+ 1 Pro - 27.5 E-Bike</a></h4>
            {{starGroup(groupClasses="c-card-product__rating")}}
            <div class="c-prices">
                <div class="c-prices__price c-prices__price--default">$5,432.10</div>
                <div class="c-prices__price c-prices__price--club">Club $4,332.10</div>
            </div>
            <div class="c-card-product__bundle">&nbsp;</div>
        </div>
    </article>
{%- endmacro %}

{% macro productCardDiscountNoColorsT7(cardClasses, likeClasses) -%}
    <article class="c-card-product c-card-product--no-colors-belt js-animate-sequence {{cardClasses}}" >
        {{productCardIconBtn(classes=likeClasses)}}
        
        <a href="#" class="c-card__link" aria-hidden="true">Torpedo7 2018 Vall-E+ 1 Pro - 27.5 E-Bike</a>     
        <div class="c-card-product__image-wrap">
            <div class="c-pill c-pill--primary c-card-product__pill">Limited Edition</div> 
            <img class="c-card-product__image"  src="/assets/images/t7/bikes/T7BRAN7WA8E_large.jpg" />
        </div>

        <div class="c-card-product__text-colors">
            3 colors
        </div>       
        <div class="c-card-product__content">
            <div class="c-card-product__brand">Torpedo7</div>
            <h4 class="c-card__heading c-card-product__heading"><a href="#" class="u-link-reset">2018 Vall-E+ 1 Pro - 27.5 E-Bike</a></h4>
            {{starGroup(groupClasses="c-card-product__rating")}}
            <div class="c-prices">
                <div class="c-prices__price c-prices__price--old">$5,432.10</div>
                <div class="c-prices__price c-prices__price--new">$4,332.10</div>
            </div>
            <div class="c-card-product__bundle">Buy 1 Get 1 Half Price</div>
        </div>
    </article>
{%- endmacro %}


{% macro productCardIconBtn(classes="") -%}
    <a href class="c-wishlist-btn {{classes}}" data-module="wishlist-product-card"></a>
{%- endmacro %}

{% macro productCardListingT7(likeClasses="") -%}
    <a href="#" class="c-card__link c-card-product c-card-product--large" data-module="product-card-color-hover">
        {{productCardIconBtn(classes=likeClasses)}}
               
        <div class="c-card-product__image-wrap">
            <div class="c-pill c-pill--primary c-card-product__pill">Limited Edition</div> 
            <img class="c-card-product__image c-card-product__image--large js-product-image js-product-image-0  is-default"   src="/assets/images/t7/bikes/T7BRAN7WA8E_large.jpg" />
            <img class="c-card-product__image c-card-product__image--large js-product-image js-product-image-1 is-active"   src="/assets/images/t7/bikes/T7BRAN7WA8F_large.jpg" />
            <img class="c-card-product__image c-card-product__image--large js-product-image js-product-image-2"   src="/assets/images/t7/bikes/T7BRAN7WAPR_large.jpg" />
        </div>
        <div class="c-card-product__colors js-product-card-colors ">
            <div class="c-card-product__color js-product-color js-product-color-0 is-active is-default" style="background-color: #77C0CC"></div>
            <div class="c-card-product__color js-product-color js-product-color-1" style="background-color: #495463"></div>
            <div class="c-card-product__color js-product-color js-product-color-2" style="background-color: #C12F2C"></div>
        </div>
        <div class="c-card-product__content">
            <div class="c-card-product__brand">Torpedo7</div>
            <h4 class="c-card__heading c-card-product__heading"><a href="#" class="u-link-reset">2018 Vall-E+ 1 Pro - 27.5 E-Bike</a></h4>
            {{starGroup(groupClasses="c-card-product__rating")}}
            <div class="c-prices">
                <div class="c-prices__price">$5,432.10</div>
            </div>
            <div class="c-card-product__bundle">&nbsp;</div>
        </div>
    </a>
{%- endmacro %}

{% macro productCardListingDiscountT7() -%}
    <div class="c-card-product c-card-product--large" data-module="product-card-color-hover">
        {{productCardIconBtn()}}
        <a href="#" class="c-card-product__link"></a>
               
        <div class="c-card-product__image-wrap">
            <div class="c-pill c-pill--primary c-card-product__pill">Limited Edition</div> 
            <img class="c-card-product__image c-card-product__image--large js-product-image js-product-image-0  is-default"   src="/assets/images/t7/bikes/T7BRAN7WA8E_large.jpg" />
            <img class="c-card-product__image c-card-product__image--large js-product-image js-product-image-1 is-active"   src="/assets/images/t7/bikes/T7BRAN7WA8F_large.jpg" />
            <img class="c-card-product__image c-card-product__image--large js-product-image js-product-image-2"   src="/assets/images/t7/bikes/T7BRAN7WAPR_large.jpg" />
        </div>
        <div class="c-card-product__colors js-product-card-colors">
            <div class="c-card-product__color js-product-color js-product-color-0 is-active is-default" style="background-color: #77C0CC"></div>
            <div class="c-card-product__color js-product-color js-product-color-1" style="background-color: #495463"></div>
            <div class="c-card-product__color js-product-color js-product-color-2" style="background-color: #C12F2C"></div>
        </div> 
        <div class="c-card-product__content">
            <div class="c-card-product__brand">Torpedo7</div>
            <h4 class="c-card-product__heading">Liv 2018 Vall-E+ 1 Pro - 27.5 E-Bike</h4>
            {{starGroup(groupClasses="c-card-product__rating")}}
            <div class="c-prices">
                <div class="c-prices__price c-prices__price--old">$5,432.10</div>
                <div class="c-prices__price c-prices__price--new">$4,332.10</div>
            </div>
            <div class="c-card-product__bundle">Buy 1 Get 1 Half Price</div>
        </div>
    </div>
{%- endmacro %}

{% macro productCardListingClubT7() -%}
    <a href="#" class="c-card__link c-card-product c-card-product--large" data-module="product-card-color-hover">
        {{productCardIconBtn()}}                 
        <div class="c-card-product__image-wrap">
            <div class="c-pill c-pill--primary c-card-product__pill">Limited Edition</div> 
            <img class="c-card-product__image c-card-product__image--large js-product-image js-product-image-0  is-default"   src="/assets/images/t7/bikes/T7BRAN7WA8E_large.jpg" />
            <img class="c-card-product__image c-card-product__image--large js-product-image js-product-image-1 is-active"   src="/assets/images/t7/bikes/T7BRAN7WA8F_large.jpg" />
            <img class="c-card-product__image c-card-product__image--large js-product-image js-product-image-2"   src="/assets/images/t7/bikes/T7BRAN7WAPR_large.jpg" />
        </div>
        <div class="c-card-product__colors js-product-card-colors">
            <div class="c-card-product__color js-product-color js-product-color-0 is-active is-default" style="background-color: #77C0CC"></div>
            <div class="c-card-product__color js-product-color js-product-color-2" style="background-color: #495463"></div>
            <div class="c-card-product__color js-product-color js-product-color-3" style="background-color: #C12F2C"></div>
        </div>
        <div class="c-card-product__content">
            <div class="c-card-product__brand">Torpedo7</div>
            <h4 class="c-card-product__heading">Liv 2018 Vall-E+ 1 Pro - 27.5 E-Bike</h4>
            {{starGroup(groupClasses="c-card-product__rating")}}
            <div class="c-prices">
                <div class="c-prices__price c-prices__price--default">$5,432.10</div>
                <div class="c-prices__price c-prices__price--club">Club $4,332.10</div>
            </div>
            <div class="c-card-product__bundle">&nbsp;</div>
        </div>
    </a>
{%- endmacro %}

{% macro productCardListingGridT7() -%}
    <div class="m-card-product-grid"> 
        <div class="u-columns -no-gutter">
            <div class="u-columns__column u-columns__column--six u-columns__column--four-m u-columns__column--three-xxl">
                    {{productCardNoColorsT7(likeClasses="is-selected")}}
            </div>                       
            <div class="u-columns__column u-columns__column--six u-columns__column--four-m u-columns__column--three-xxl">
                    {{productCardNoColorsT7()}}
            </div> 
            <div class="u-columns__column u-columns__column--six u-columns__column--four-m u-columns__column--three-xxl">
                    {{productCardClubNoColorsT7()}}
            </div> 
            <div class="u-columns__column u-columns__column--six u-columns__column--four-m u-columns__column--three-xxl">
                    {{productCardClubNoColorsT7(likeClasses="is-selected")}}
            </div> 
            <div class="u-columns__column u-columns__column--six u-columns__column--four-m u-columns__column--three-xxl">
                    {{productCardDiscountNoColorsT7(likeClasses="is-selected")}}
            </div> 
            <div class="u-columns__column u-columns__column--six u-columns__column--four-m u-columns__column--three-xxl">
                    <!--{{tileT7Macros.promoTileListingT7(likeClasses="is-selected")}}-->
                    {{productCardDiscountNoColorsT7(likeClasses="is-selected")}}
            </div> 
            <div class="u-columns__column u-columns__column--six u-columns__column--four-m u-columns__column--three-xxl">
                    {{productCardDiscountNoColorsT7()}}
            </div> 
            <div class="u-columns__column u-columns__column--six u-columns__column--four-m u-columns__column--three-xxl">
                    {{productCardClubNoColorsT7()}}
            </div> 
            <div class="u-columns__column u-columns__column--six u-columns__column--four-m u-columns__column--three-xxl">
                    {{productCardDiscountNoColorsT7()}}
            </div> 
            <div class="u-columns__column u-columns__column--six u-columns__column--four-m u-columns__column--three-xxl">
                    {{productCardNoColorsT7(likeClasses="is-selected")}}
            </div> 
            <div class="u-columns__column u-columns__column--six u-columns__column--four-m u-columns__column--three-xxl">
                    {{productCardNoColorsT7()}}
            </div> 
            <div class="u-columns__column u-columns__column--six u-columns__column--four-m u-columns__column--three-xxl">
                    {{productCardClubNoColorsT7()}}
            </div> 
        </div>
    </div>
{%- endmacro %}

{% macro plpProductsT7() -%}
    <section class='m-wrap m-card-product-grid__wrap' style="background-image:url({{options.backgroundImage}})">
        <div class="m-wrap__card" >
            <div class="m-wrap__content">
                <div class="u-columns -no-gutter">
                    <div class="u-columns__column u-columns__column--twelve u-columns__column--three-l u-columns__column--two-xxl u-block">
                      
                        {{filtersMacros.filtersPLP()}}
                        
                    </div>
                    <div class="u-columns__column u-columns__column--twelve u-columns__column--nine-l u-columns__column--ten-xxl u-block">
                        
                        <div class="m-card-product-grid__results-block">
                            <div class="m-card-product-grid__results">1,000 Results Found</div>
                            <div class="m-card-product-grid__sort">

                            <div class="c-filter-select__wrap">
                                <select class="c-filter-select js-search-sort" data-role="sorter">
                                    <option value="">Any Order</option>
                                    <option value="productrating:desc">Best Rated First</option>
                                    <option value="price:asc">Lowest Price First</option>
                                    <option value="price:desc">Highest Price First</option>
                                    <option value="Discount:desc">Largest Discount</option>
                                    <option value="FirstAvailableDate:desc">Newest First</option>
                                    <option value="code:asc">Product Code</option>
                                    <option value="popularity">Most Popular</option>
                                </select>
                                <div class="c-filter-select__label">Sort by:
                                    <span class="c-filter-select__value js-selected-sort">Featured</span>                                 
                                </div>
                            </div>


                               <!-- <label class="m-card-product-grid__sort-label u-p2">Sort by</label>
                                <div class="m-card-product-grid__sort-wrap">
                                    <select class="c-form-field__select m-card-product-grid__sort-select">
                                        <option>Featured</option>
                                        <option>Price: High to Low</option>
                                        <option>Featured</option>
                                        <option>Featured</option>
                                    </select>
                                    <div class="m-card-product-grid__sort-icon">{{ iconMacros.svgicon(name="chevron-down", classes="c-icon--large") }}</div>
                                </div>-->
                            </div>
                        </div>
                        
                        {{productCardListingGridT7()}}
                        
                        <div class="m-card-product-grid__footer">
                            <button class="c-btn c-btn--primary-inverse">Load more products (573)</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
{%- endmacro %}

{% macro productBeltT7(options) -%}

    <section class='m-wrap m-wrap--spacious u-bg-grey-light-98 u-bg-white-m slick-slider--overflow-s-max'>
        <!--<div class="m-product-belt__ambient-text">recommended</div>-->
        <img src="/assets/images/t7/ambient-text-recommended.svg" class="m-product-belt__ambient-text-bg" />

        <div class="m-wrap__card" >
            <div class="m-wrap__inner" >
                <div class="m-wrap__header">
                    <h2 class="u-h3 m-wrap__heading">{{options.heading}}</h2>
                </div>
                <div class="m-wrap__content">
                    {#{productBeltInnerT7Old(options)}#}
                    {{productBeltInnerT7(options)}}
                </div>
                <div class="m-wrap__footer">
                    <a href="" class="c-btn c-btn--primary-inverse">Shop now</a>
                </div>
            </div>
        </div>
    </section>
{%- endmacro %}

{% macro productBeltNoColorsT7(options) -%}

    <section class='m-wrap m-wrap--spacious u-bg-grey-light-98 u-bg-white-m slick-slider--overflow-s-max js-animate-module'>
        <!-- <div class="m-product-belt__ambient-text">recommended</div> -->
        <img src="/assets/images/t7/ambient-text-recomended.svg" class="m-product-belt__ambient-text-bg" />

        <div class="m-wrap__card" >
            <div class="m-wrap__inner" >
                <div class="m-wrap__header">
                    <h2 class="u-h3 m-wrap__heading">{{options.heading}}</h2>
                </div>
                <div class="m-wrap__content">
                    {{productBeltInnerNoColorsT7(options)}}
                </div>
                <div class="m-wrap__footer">
                    <a href="" class="c-btn c-btn--primary-inverse">Shop now</a>
                </div>
            </div>
        </div>
    </section>
{%- endmacro %}

{% macro productBeltNoColorsCLPT7(options) -%}

    <section class='m-wrap m-wrap--carded m-clp-hero__card'>
        <div class="m-wrap__card" >
            <div class="m-wrap__inner" >
                <div class="m-wrap__header">
                    <h2 class="u-h3 m-wrap__heading">{{options.heading}}</h2>
                </div>
                <div class="m-wrap__content">
                    {{productBeltInnerNoColorsT7(options)}}
                </div>
                <div class="m-wrap__footer">
                    <a href="" class="c-btn c-btn--primary-inverse">Shop now</a>
                </div>
            </div>
        </div>
    </section>
{%- endmacro %}

{% macro productBeltInnerT7(options) -%}
<div class="m-product-belt__wrap" data-module="slick-product-cards-carousel" >
    
    <button class="c-btn c-btn--carousel c-btn--carousel-previous js-btn-previous">{{ iconMacros.iconChevronLeft(name='chevron-left', classes="c-icon c-icon--large c-btn__carousel-icon") }}</button>
    <button class="c-btn c-btn--carousel c-btn--carousel-next js-btn-next">{{ iconMacros.iconChevronRight(name='chevron-right', classes="c-icon c-icon--large c-btn__carousel-icon") }}</button>
   
    <div class="m-product-belt js-carousel" >
        
        <!-- <div class="m-product-belt__inner"> -->

            {{productCardT7(options.cardClasses)}}
            {{productCardDiscountT7(options.cardClasses)}}
            {{productCardClubT7(options.cardClasses)}}
            {{productCardT7(options.cardClasses)}}
            {{productCardDiscountT7(options.cardClasses)}}
            {{productCardClubT7(options.cardClasses)}}
            {{productCardT7(options.cardClasses)}}
            {{productCardDiscountT7(options.cardClasses)}}
            {{productCardClubT7(options.cardClasses)}}
            {{productCardT7(options.cardClasses)}}

        <!-- </div> -->

    </div>
    </div>
{%- endmacro %}

{% macro productBeltInnerNoColorsT7(options) -%}
<div class="m-product-belt__wrap" data-module="slick-product-cards-carousel" >
    
    <button class="c-btn c-btn--carousel c-btn--carousel-previous js-btn-previous">{{ iconMacros.iconChevronLeft(name='chevron-left', classes="c-icon c-icon--large c-btn__carousel-icon") }}</button>
    <button class="c-btn c-btn--carousel c-btn--carousel-next js-btn-next">{{ iconMacros.iconChevronRight(name='chevron-right', classes="c-icon c-icon--large c-btn__carousel-icon") }}</button>
   
    <div class="m-product-belt js-carousel" >
        
        <!-- <div class="m-product-belt__inner"> -->

            {{productCardNoColorsT7(options.cardClasses)}}
            {{productCardDiscountNoColorsT7(options.cardClasses)}}
            {{productCardClubNoColorsT7(options.cardClasses)}}
            {{productCardNoColorsT7(options.cardClasses)}}
            {{productCardDiscountNoColorsT7(options.cardClasses)}}
            {{productCardClubNoColorsT7(options.cardClasses)}}
            {{productCardNoColorsT7(options.cardClasses)}}
            {{productCardDiscountNoColorsT7(options.cardClasses)}}
            {{productCardClubNoColorsT7(options.cardClasses)}}
            {{productCardNoColorsT7(options.cardClasses)}}

        <!-- </div> -->

    </div>
    </div>
{%- endmacro %}

{% macro productBeltT7Populated(heading="Top Products this Week", cardClasses,backgroundImage="/assets/images/test/module-header-bg.jpg" ) -%}

    {% 
        set options = {
            heading:heading,
            backgroundImage: backgroundImage,
            cardClasses: "",
            headerBG: ""
        }
    %}

    {{productBeltT7(options)}}
{%- endmacro %}

{% macro productNoColorsBeltT7Populated(heading="Top Products this Week", cardClasses,backgroundImage="/assets/images/test/module-header-bg.jpg" ) -%}

    {% 
        set options = {
            heading:heading,
            backgroundImage: backgroundImage,
            cardClasses: "",
            headerBG: ""
        }
    %}

    {{productBeltNoColorsT7(options)}}
{%- endmacro %}

{% macro productNoColorsBeltCLPT7Populated(heading="Top Products this Week", cardClasses,backgroundImage="/assets/images/test/module-header-bg.jpg" ) -%}

    {% 
        set options = {
            heading:heading,
            backgroundImage: backgroundImage,
            cardClasses: "",
            headerBG: ""
        }
    %}

    {{productBeltNoColorsCLPT7(options)}}
{%- endmacro %}


{# CARD BELT #}
{% macro cardBelt(wrapClass="", innerClass="") %}
    <section class='m-wrap {{ wrapClass }}'>
        <div class="m-wrap__card m-wrap__card--show">
            <div class="m-wrap__inner {{ innerClass }}">

                {% if heading %}
                    <div class="m-wrap__header">
                        <h2 class="u-h3">{{heading | safe}}</h2>
                    </div>
                {% endif %}

                <div class="m-wrap__content">
                    <div class="m-product-belt">
                        <div class="m-product-belt__inner">
                            {{ caller() }}
                        </div>
                    </div>
                </div>

                {% if ctaText %}
                    <div class="m-wrap__footer"><a href="{{ ctaLink | safe }}" class="c-btn c-btn--primary-inverse">{{ ctaText | safe }}</a></div>
                {% endif %}
            </div>
        </div>
    </section>
{% endmacro %}

{# MOBILE STACKED CARD BELT #}
{% macro cardBeltStacked(wrapClass="", innerClass="") %}
    <section class='m-wrap {{ wrapClass | safe }}'>
        <div class="m-wrap__card m-wrap__card--show {{ wrapClass | safe }}">
            <div class="m-wrap__inner {{ innerClass | safe }}">

                {% if heading %}
                    <div class="m-wrap__header">
                        <h2 class="u-h3">{{heading | safe}}</h2>
                    </div>
                {% endif %}

                <div class="m-wrap__content">
                    <div class="m-product-belt">
                        <div class="m-product-belt__inner m-product-belt__inner--stacked">
                            {{ caller() }}
                        </div>
                    </div>
                </div>

                {% if ctaText %}
                    <div class="m-wrap__footer"><a href="{{ ctaLink | safe }}" class="c-btn c-btn--primary-inverse">{{ ctaText | safe }}</a></div>
                {% endif %}
            </div>
        </div>
    </section>
{% endmacro %}

{% macro productCardsBeltImageWrapT7(options) -%}
<section class='m-wrap m-wrap--spacious' style="background-image:url({{options.backgroundImage}})">
        <div class="m-wrap__card" >
            <div class="m-wrap__inner">
                <div class="m-wrap__header">
                    <h2 class="u-h3 m-wrap__heading">{{options.heading}}</h2>
                </div>
                <div class="m-wrap__content">
                    {{ productCardsBeltImageT7(options) }}
                </div>
                <div class="m-wrap__footer">
                    <a href="" class="c-btn c-btn--primary-inverse">{{options.ctaText}}</a>
                </div>
            </div>
        </div>
    </section>
{%- endmacro %}

{% macro productCardsBeltImageT7(options) -%}

<div class="u-flex u-flex-justify-center">
    <img src="{{options.mobileImage}}" />
</div>

{%- endmacro %}

{% macro productCardsBeltImagePopulatedT7() %}

    {% 
        set options = {
            heading: "Top Picks This Week",
            ctaText: "View All",
            mobileImage: "/assets/images/test/cards-product-belt-s.png",
            desktopImage: "/assets/images/test/cards-product-belt-l.jpg"
        }
    %}

    {{ productCardsBeltImageWrapT7(options) }}

{% endmacro %}