
{% import 'html/t7-live/modules/cards-product/macros-t7.html' as productCardMacros %}
{% import 'html/t7-live/modules/cards-product/macros-t7.html' as productCardT7Macros %}
{% import 'html/guide/macros/module.html' as wrapMacros %}
{% import 'html/guide/macros/guide.html' as guideMacros %}




    {% call guideMacros.docs2ColWrap() -%}

        {% call guideMacros.docs2ColColumn1Wrap(colClasses="", colHeading="Module Specs:") -%}
            <p>
            Under small desktop breakpoint the belt becomes a scrollable area. Above the small desktop breakpoint the belt functions as a carousel.<br />
            Module heading: text<br />
            Module header background image: Any imge size, it displays background position center.<br />
            CTA button text: text (if no text added, no button will display)
        </p>
        {% endcall %}

        {% call guideMacros.docs2ColColumn2Wrap(colClasses="", colHeading="Product Card Specs:") -%}
        <p>
            Image size: 150px x 150px (if a different ratio, image centers within the space<br />
            Product title: text <br />
            Product link: URL<br />
            Was price: number<br />
            Now price: number<br />
            Club price: number<br />
            Star ratings<br />
            Pill text: text
        </p> 
        {% endcall %}
       
    {% endcall %}
   


    {% call wrapMacros.moduleWrap() -%}
        <div class="u-block u-margin-bottom-x10">
            <h3 class="u-h4 u-centered">Product card variations:</h3>
        </div>
        <div class="u-flex u-flex-justify-center u-margin-bottom-x10">

            <div class="u-grid u-grid-cols-1 u-grid-cols-3-m">
                <div class="u-grid-item u-bg-white">
                    <h3 class="u-p3">C0060A: Belt product card (default)</h3>
                    <!-- <img src="/assets/images/test/card-belt-product-default.png" /> -->
                </div>
                <div class="u-grid-item u-bg-white">
                    <h3 class="u-p3">C0060B: Belt product card (discount)</h3>
                    <!-- <img src="/assets/images/test/card-belt-product-discount.png" /> -->
                </div>
                <div class="u-grid-item u-bg-white">
                        <h3 class="u-p3">C0060C: Belt product card (club)</h3>
                    <!-- <img src="/assets/images/t7/card-belt-product-club.png" /> -->
                </div>
            </div>
        </div>
    {% endcall %}

    {% call guideMacros.docsWrap() -%}

        <h3 class="u-h4">M0200A: Product cards belt carousel (with color options):</h3>

    {% endcall %}

    {{productCardT7Macros.productBeltT7Populated()}}

    {% call guideMacros.docsWrap() -%}

        <h3 class="u-h4">M0200B: Product cards belt carousel:</h3>

    {% endcall %}
    
    {{productCardT7Macros.productNoColorsBeltT7Populated()}}
    
