
{% macro svgSprite() %}
<svg style="visibility:hidden;width:0;height:0;position:absolute;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><svg viewBox="0 0 24 24" id="icon-account" xmlns="http://www.w3.org/2000/svg"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/><path d="M0 0h24v24H0z" fill="none"/></svg><svg viewBox="0 0 24 24" id="icon-add" xmlns="http://www.w3.org/2000/svg"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg><svg viewBox="0 0 24 24" id="icon-cart" xmlns="http://www.w3.org/2000/svg"><path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49A1.003 1.003 0 0 0 20 4H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/><path d="M0 0h24v24H0z" fill="none"/></svg><svg viewBox="0 0 24 24" id="icon-chevron" xmlns="http://www.w3.org/2000/svg"><path d="M7 20.1l1.8 1.8 9.9-9.9-9.9-9.9L7 3.9l8.1 8.1L7 20.1z"/></svg><svg viewBox="0 0 24 24" id="icon-close" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg><svg viewBox="0 0 24 24" id="icon-delivery-van" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 8h-3V4H3c-1.1 0-2 .9-2 2v11h2c0 1.66 1.34 3 3 3s3-1.34 3-3h6c0 1.66 1.34 3 3 3s3-1.34 3-3h2v-5l-3-4zM6 18.5c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm13.5-9l1.96 2.5H17V9.5h2.5zm-1.5 9c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"/></svg><svg viewBox="0 0 24 24" id="icon-location" xmlns="http://www.w3.org/2000/svg"><path d="M12 11.5A2.5 2.5 0 0 1 9.5 9 2.5 2.5 0 0 1 12 6.5 2.5 2.5 0 0 1 14.5 9a2.5 2.5 0 0 1-2.5 2.5M12 2a7 7 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a7 7 0 0 0-7-7z"/></svg><svg viewBox="0 0 24 24" id="icon-menu" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg><svg viewBox="0 0 24 24" id="icon-minus" xmlns="http://www.w3.org/2000/svg"><path d="M19 13H5v-2h14v2z"/><path d="M0 0h24v24H0z" fill="none"/></svg><svg viewBox="0 0 24 24" id="icon-search" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/><path d="M0 0h24v24H0z" fill="none"/></svg><svg viewBox="0 0 24 24" id="icon-star" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/><path d="M0 0h24v24H0z" fill="none"/></svg><svg viewBox="0 0 24 24" id="icon-wishlist-bordered" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/></svg><svg viewBox="0 0 24 24" id="icon-wishlist-solid" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg></defs></svg>
{% endmacro %}
{% macro iconSpriteWrap(classes,name) %}
<svg class="c-icon {{classes}}" aria-hidden="true" width="24" height="24">
	{{caller()}}
</svg>
{% endmacro %}
{% macro svgicon(classes,name) %}
<svg class="c-icon {{classes}}" aria-hidden="true">
	<use xlink:href="/assets/svg/icons.svg#{{name}}"></use>
</svg>
{% endmacro %} {% macro iconWrap(classes="") -%}
<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="c-icon {{classes}}">
	{{caller()}}
</svg>
{%- endmacro %}

{% macro iconAccount(classes) %}
{% call iconWrap(classes) -%}
<path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
<path d="M0 0h24v24H0z" fill="none" />
{% endcall %} {% endmacro %}

{% macro iconAccountAdd(classes) %} {% call iconWrap(classes) -%}
<path d="M0 0h24v24H0z" fill="none" />
<path d="M15 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm-9-2V7H4v3H1v2h3v3h2v-3h3v-2H6zm9 4c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"
/> {% endcall %} {% endmacro %} {% macro iconBurger(classes) %} {% call iconWrap(classes) -%}
<path d="M0 0h24v24H0z" fill="none" />
<path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
{% endcall %} {% endmacro %} {% macro iconCart(classes) %} {% call iconSpriteWrap(classes) -%}
	<use xlink:href="#icon-cart"></use>
{% endcall %} {% endmacro %} {% macro iconChevronDown(classes) %} {% call iconSpriteWrap(classes) -%}
	<use xlink:href="#icon-chevron" transform="rotate(90 12 12)"></use>
{% endcall %} {% endmacro %}
{% macro iconChevronLeft(classes) %}
	{% call iconSpriteWrap(classes) -%}
		<use xlink:href="#icon-chevron" transform="rotate(180 12 12)"></use>
	{% endcall %}
{% endmacro %}

{% macro iconChevronRight(classes) %}
	{% call iconWrap(classes) -%}
		<use xlink:href="#icon-chevron"></use>
	{% endcall %}
{% endmacro %}

{% macro iconChevronUp(classes) %} {% call iconSpriteWrap(classes) -%}
	<use xlink:href="#icon-chevron" transform="rotate(270 12 12)"></use>
{% endcall %} {% endmacro %} {% macro iconClose(classes) %} 
{% call iconWrap(classes) -%}
<use xlink:href="#icon-close"></use>
{% endcall %}
{% endmacro %} {% macro iconCrossError(classes) %} {% call iconWrap(classes) -%}
<g id="Elements/icon/Cross-(Error)" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
	<path d="M14.3079036,15.7054786 L12.0024972,13.401223 L9.69209639,15.7094721 C9.30553128,16.0968426 8.67723811,16.0968426 8.29067299,15.7094721 C7.903109,15.3231 7.903109,14.6961188 8.29067299,14.3087483 L10.6000749,11.9995008 L8.29067299,9.69125172 C7.903109,9.30388119 7.903109,8.67690004 8.29067299,8.29052789 C8.67723811,7.90315737 9.30553128,7.90315737 9.69209639,8.29052789 L12.0024972,10.598777 L14.3079036,8.2945214 C14.6944687,7.90715088 15.321763,7.90715088 15.709327,8.2945214 C16.0958921,8.68189193 16.0958921,9.30887308 15.709327,9.69524523 L13.4039206,12.0004992 L15.709327,14.3047548 C16.096891,14.6911269 16.096891,15.3191065 15.709327,15.7054786 C15.3227619,16.0918507 14.6944687,16.0918507 14.3079036,15.7054786 Z"
	    id="Icon" fill="#393939" fill-rule="nonzero"></path>
</g>
{% endcall %} {% endmacro %} {% macro iconCollapse(classes) %} {% call iconWrap(classes) -%}
<path d="M19 13H5v-2h14v2z" />
<path d="M0 0h24v24H0z" fill="none" /> {% endcall %} {% endmacro %} {% macro iconEdit(classes) %} {% call iconWrap(classes) -%}
<g id="MVP-level-1---3" stroke="none" stroke-width="1" fill="" fill-rule="evenodd" transform="translate(-234.000000, -65.000000)">
	<g id="Group-4" transform="translate(234.000000, 62.000000)" fill="">
		<g id="create" transform="translate(0.000000, 3.000000)">
			<path d="M0,10.8190476 L0,13.7142857 L2.95555556,13.7142857 L11.5111111,5.25714286 L8.55555556,2.36190476 L0,10.8190476 L0,10.8190476 Z M13.7666667,3.04761905 C14.0777778,2.74285714 14.0777778,2.28571429 13.7666667,1.98095238 L11.9777778,0.228571429 C11.6666667,-0.0761904762 11.2,-0.0761904762 10.8888889,0.228571429 L9.48888889,1.6 L12.4444444,4.4952381 L13.7666667,3.04761905 L13.7666667,3.04761905 Z"
			    id="Shape"></path>
		</g>
	</g>
</g>
{% endcall %} {% endmacro %} {% macro iconExpand(classes) %} {% call iconWrap(classes) -%}
<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
<path d="M0 0h24v24H0z" fill="none" /> {% endcall %} {% endmacro %} {% macro iconMailer(classes) %} {% call iconWrap(classes) -%}
<path fill="" d="M12.589 7.73h5.956V6.671h-5.956v1.06zm0 2.355h5.956V9.026h-5.956v1.06zm-7.003 2.32V6.556h5.85v5.849h-5.85zm1.058-1.059h3.733V7.615H6.644v3.731zm5.945 1.094h5.956V11.38h-5.956v1.059zm-7.043 2.355h12.998v-1.06H5.546v1.06zm0 2.438h12.998v-1.059H5.546v1.06zm.002 2.298H11.4v-1.059H5.548v1.059zm7.118 0h5.853v-1.059h-5.853v1.059zM21 19.62h-1.059V5.739c0-.375-.258-.68-.575-.68H4.635c-.318 0-.576.305-.576.68v13.88H3V5.74C3 4.779 3.733 4 4.635 4h14.731C20.267 4 21 4.78 21 5.739v13.88z"></path>
{% endcall %} {% endmacro %} {% macro iconPin(classes) %} 
{% call iconSpriteWrap(classes) -%}
<use xlink:href="#icon-location"></use>
{% endcall %}
{% endmacro %} {% macro iconSearch(classes) %} {% call iconSpriteWrap(classes) -%}
<use xlink:href="#icon-search"></use>
{% endcall %} {% endmacro %} {% macro iconWM(classes) %} {% call iconWrap(classes) -%}
<path fill="" d="M32.635 4h3.135L40 20h-3.441l-2.444-9.895-2.769 9.847V20h-2.69l-2.771-9.874L23.445 20H20l4.232-16h3.135L30 13.707 32.635 4zM16.558 4H20l-4.23 16h-3.135l-2.636-9.707L7.365 20H4.23L0 4h3.442l2.442 9.871L8.653 4h2.694v.048l2.769 9.847L16.558 4z"></path>
{% endcall %} {% endmacro %} 

{% macro iconWishlistFilled(classes) %} 
	{% call iconSpriteWrap(classes) -%}
		<use xlink:href="#icon-wishlist-solid"></use>
	{% endcall %}
{% endmacro %} 

{% macro iconWishlist(classes) %}
	{% call iconSpriteWrap(classes) -%}
		<use xlink:href="#icon-wishlist-bordered"></use>
	{% endcall %}
{% endmacro %}

{% macro iconExclamation(classes) %} {% call iconWrap(classes) -%}
<g id="exclamation" stroke="none" stroke-width="1" fill="" fill-rule="evenodd">
	<path d="M10.912,17.296 C10.912,17.0399987 11.0053324,16.8186676 11.192,16.632 C11.3786676,16.4453324 11.605332,16.352 11.872,16.352 C12.1280013,16.352 12.3466658,16.4426658 12.528,16.624 C12.7093342,16.8053342 12.8,17.029332 12.8,17.296 C12.8,17.5413346 12.7093342,17.759999 12.528,17.952 C12.3466658,18.144001 12.1280013,18.24 11.872,18.24 C11.6159987,18.24 11.392001,18.1493342 11.2,17.968 C11.007999,17.7866658 10.912,17.562668 10.912,17.296 Z M11.2,15.296 L11.2,6.464 L12.528,6.464 L12.528,15.296 L11.2,15.296 Z"
	    id="exclamation-icon" fill="#000000" transform="translate(11.856000, 12.352000) scale(-1, 1) translate(-11.856000, -12.352000) "></path>
</g>
{% endcall %} {% endmacro %} {% macro iconRequired(classes) %} {% call iconWrap(classes) -%}
<g id="required" stroke="none" stroke-width="1" fill="" fill-rule="evenodd">
	<polygon id="*" fill="#000000" points="9 11.828 9.364 10.218 11.072 10.834 10.918 9 12.57 9 12.388 10.848 14.138 10.232 14.516 11.856 12.752 12.094 13.816 13.536 12.374 14.362 11.702 12.906 10.96 14.334 9.546 13.424 10.694 12.08"></polygon>
</g>
{% endcall %} {% endmacro %} {% macro iconTick(classes) %} {% call iconWrap(classes) -%}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
	<path d="M10 14.9l-3.3-3.1-1.1 1L10 17l9.3-8.9-1.1-1-8.2 7.8z" />
</svg>
{% endcall %} {% endmacro %} {% macro iconRadioCheck(classes) %} {% call iconWrap(classes) -%}
<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg">
	<circle cx="12" cy="12" r="5" fill-rule="evenodd" />
</svg>
{% endcall %} {% endmacro %} {% macro iconAlertWarning(classes) %} {% call iconWrap(classes) -%}
<g id="alert-warning" stroke="none" stroke-width="1" fill="" fill-rule="evenodd">
	<path d="M1,21 L23,21 L12,2 L1,21 L1,21 Z M13,18 L11,18 L11,16 L13,16 L13,18 L13,18 Z M13,14 L11,14 L11,10 L13,10 L13,14 L13,14 Z"
	    id="Mask" fill=""></path>
</g>
{% endcall %} {% endmacro %} {% macro iconDeliveryLine(classes) %}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 18" width="24" height="18" class="c-icon {{classes}}">
	<path d="M22.8 8.1l-1.5-3.4c-.1-.2-.3-.4-.6-.4H16V1.4c0-.2-.1-.3-.2-.4-.1-.1-.3-.2-.4-.2H1.7c-.3 0-.6.3-.6.6v13.1c0 .2.1.3.2.4.1.1.3.2.4.2H5c.3 1 1.2 1.7 2.3 1.7s2-.7 2.3-1.7h7.1c.3 1 1.2 1.7 2.3 1.7 1.1 0 2-.7 2.3-1.7h1.2c.2 0 .3-.1.4-.2.1-.1.2-.3.2-.4V8.3c-.2-.1-.2-.2-.3-.2zM7.2 15.6c-.6 0-1.1-.5-1.1-1.1 0-.6.5-1.1 1.1-1.1s1.1.5 1.1 1.1c.1.6-.4 1.1-1.1 1.1zm7.6-1.7H9.5c-.3-1-1.2-1.7-2.3-1.7s-2 .7-2.3 1.7H2.3v-2.4h12.5v2.4zm0-3.6H2.3V2h12.5v8.3zm4 5.3c-.5 0-.9-.3-1-.7-.2-.4-.1-.9.2-1.2.3-.3.8-.4 1.2-.2s.7.6.7 1c.1.6-.4 1.1-1.1 1.1zm2.9-1.7h-.6c-.3-1-1.2-1.7-2.3-1.7s-2 .7-2.3 1.7H16v-3.8h5.7v3.8zm0-5H16V5.5h4.4l1.2 2.9v.5z"
	/>
</svg>
{% endmacro %}{% macro iconFacebook(classes) %} {% call iconWrap(classes) -%}
	<path d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z" />
{% endcall %} {% endmacro %}{% macro iconTwitter(classes) %} {% call iconWrap(classes) -%}
	<path d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" />
{% endcall %} {% endmacro %}{% macro iconYouTube(classes) %} {% call iconWrap(classes) -%}
	<path d="M10,15L15.19,12L10,9V15M21.56,7.17C21.69,7.64 21.78,8.27 21.84,9.07C21.91,9.87 21.94,10.56 21.94,11.16L22,12C22,14.19 21.84,15.8 21.56,16.83C21.31,17.73 20.73,18.31 19.83,18.56C19.36,18.69 18.5,18.78 17.18,18.84C15.88,18.91 14.69,18.94 13.59,18.94L12,19C7.81,19 5.2,18.84 4.17,18.56C3.27,18.31 2.69,17.73 2.44,16.83C2.31,16.36 2.22,15.73 2.16,14.93C2.09,14.13 2.06,13.44 2.06,12.84L2,12C2,9.81 2.16,8.2 2.44,7.17C2.69,6.27 3.27,5.69 4.17,5.44C4.64,5.31 5.5,5.22 6.82,5.16C8.12,5.09 9.31,5.06 10.41,5.06L12,5C16.19,5 18.8,5.16 19.83,5.44C20.73,5.69 21.31,6.27 21.56,7.17Z"
	/>
{% endcall %} {% endmacro %}{% macro iconInstagram(classes) %} {% call iconWrap(classes) -%}
	<path d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2A5.8,5.8 0 0,1 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8A5.8,5.8 0 0,1 7.8,2M7.6,4A3.6,3.6 0 0,0 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4A3.6,3.6 0 0,0 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5A1.25,1.25 0 0,1 18.5,6.75A1.25,1.25 0 0,1 17.25,8A1.25,1.25 0 0,1 16,6.75A1.25,1.25 0 0,1 17.25,5.5M12,7A5,5 0 0,1 17,12A5,5 0 0,1 12,17A5,5 0 0,1 7,12A5,5 0 0,1 12,7M12,9A3,3 0 0,0 9,12A3,3 0 0,0 12,15A3,3 0 0,0 15,12A3,3 0 0,0 12,9Z"
	/>
{% endcall %} {% endmacro %}{% macro iconGooglePlus(classes) %} {% call iconWrap(classes) -%}
	<path d="M23,11H21V9H19V11H17V13H19V15H21V13H23M8,11V13.4H12C11.8,14.4 10.8,16.4 8,16.4C5.6,16.4 3.7,14.4 3.7,12C3.7,9.6 5.6,7.6 8,7.6C9.4,7.6 10.3,8.2 10.8,8.7L12.7,6.9C11.5,5.7 9.9,5 8,5C4.1,5 1,8.1 1,12C1,15.9 4.1,19 8,19C12,19 14.7,16.2 14.7,12.2C14.7,11.7 14.7,11.4 14.6,11H8Z"
	/>
{% endcall %} {% endmacro %}{% macro iconFlybys(classes) %}
<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 11" width="32" height="11" class="c-icon {{classes}}">
	<g id="_x32_x-flybuys" transform="translate(1146 7559)">
		<g id="flybuys" transform="translate(62 19)">
			<path id="Shape" class="st0" d="M-1184.1-7576.4c.5.1.8.5 1 .9h.2c.1-.5.5-.8 1-.9v-.2c-.5-.1-.8-.5-1-1h-.2c-.1.5-.5.8-1 .9v.3"
			/>
			<path id="Shape_1_" class="st0" d="M-1181.8-7575.7c.3.1.6.3.6.6.1-.3.3-.6.6-.6-.3-.1-.6-.3-.6-.6-.1.2-.3.4-.6.6-.1-.1-.1 0 0 0-.1 0-.1 0 0 0"
			/>
			<path id="Shape_2_" class="st0" d="M-1182.6-7574.6c.2.1.3.2.4.4.1-.2.2-.3.4-.4-.2-.1-.3-.2-.4-.4-.1.2-.2.3-.4.4" />
			<path id="Shape_3_" class="st0" d="M-1205.8-7575.9l-1.2 6.2h1.3l.5-2.5h2.1l.3-1.1h-2.2l.3-1.5h2.3l.2-1.1z" />
			<path id="Shape_4_" class="st0" d="M-1201.6-7576l-1.2 6.3h1.3l1.2-6.3z" />
			<path id="Shape_5_" class="st0" d="M-1197.9-7572.3c-.2.5-.3.8-.4 1.1 0-.3-.1-.6-.1-1.1l-.3-2h-1.4l.9 4.1v.2c-.2.3-.4.6-.7.8-.2.2-.5.3-.8.4l.3 1.1c.5-.1 1-.4 1.4-.8.6-.6 1.1-1.4 1.7-2.6l1.6-3.2h-1.4l-.8 2z"
			/>
			<path id="Shape_6_" class="st0" d="M-1192.1-7573.5h-.4l.3-1.4h.5c.5 0 .9.2.9.6 0 .5-.5.8-1.3.8m-.4 2.8h-.5l.3-1.8h.4c.6 0 1.1.2 1.1.8 0 .7-.6 1-1.3 1m3-3.8c0-.5-.3-.9-.7-1.1-.4-.2-.9-.3-1.5-.3-.5 0-1.1 0-1.6.1l-1.1 6c.5.1 1 .1 1.6.1 1 0 1.8-.1 2.3-.5.5-.3.8-.8.8-1.5s-.4-1.2-1-1.4c.6-.1 1.2-.6 1.2-1.4"
			/>
			<path id="Shape_7_" class="st0" d="M-1186.1-7574.2l-.4 2.1c-.2.9-.6 1.4-1.1 1.4-.3 0-.5-.2-.5-.5 0-.2 0-.4.1-.6l.5-2.4h-1.3l-.5 2.5c-.1.3-.1.5-.1.8 0 .9.4 1.3 1.2 1.3.5 0 1.1-.2 1.5-.8l-.1.7h1.2c.1-.4.1-.9.2-1.5l.6-3h-1.3z"
			/>
			<path id="Shape_8_" class="st0" d="M-1181.3-7574.2l-.8 2c-.2.5-.3.8-.4 1.1 0-.3-.1-.6-.1-1.1l-.3-2h-1.4l.9 4.1v.2c-.2.3-.4.6-.7.8-.2.2-.5.3-.8.4l.3 1.1c.5-.1 1-.4 1.4-.8.6-.6 1.1-1.4 1.7-2.6l1.6-3.2h-1.4z"
			/>
			<path id="Shape_9_" class="st0" d="M-1178.2-7572.4c-.4-.2-.5-.3-.5-.5s.2-.4.6-.4c.3 0 .6.1.9.2l.3-.9c-.2-.1-.6-.2-1.2-.2-1.2 0-2 .6-2 1.6 0 .6.4.9.9 1.2.4.2.6.4.6.6s-.2.4-.6.4c-.4 0-.9-.2-1.2-.3l-.3.9c.3.2.8.3 1.4.3 1.2 0 2.1-.6 2.1-1.6 0-.7-.6-1.1-1-1.3"
			/>
		</g>
	</g>
</svg>
{% endmacro %}{% macro iconSaletag(classes) %}{% call iconWrap(classes) -%}
	<path d="M11.2 11.6c.6-.6.7-1.4.4-2.2-.3-.7-1-1.2-1.8-1.2s-1.5.5-1.9 1.2c-.3.7-.1 1.6.4 2.2.4.4.9.6 1.4.6s1.1-.2 1.5-.6zM9.3 9.7c.2-.2.5-.2.7-.1.2.1.4.3.4.6s-.2.5-.4.6c-.2.1-.5 0-.7-.1-.2-.3-.2-.7 0-1zM8.4 16c-.6.6-.7 1.4-.4 2.2s1 1.2 1.8 1.2 1.5-.5 1.8-1.2.1-1.6-.4-2.2c-.4-.4-.9-.6-1.4-.6s-1 .2-1.4.6zm1.9 1.9c-.2.1-.5.2-.8.1-.2-.1-.4-.3-.4-.6s.2-.5.4-.6c.2-.1.5 0 .7.1.3.3.3.7.1 1zm3.9-5.7l-9.1 1.9c-.3.1-.6.4-.5.8.1.4.4.6.8.5l9.1-1.9c.3-.1.6-.4.5-.8-.1-.3-.4-.6-.8-.5z"
	/>
	<path d="M22.8 1.2c-.1-.1-.3-.2-.5-.2s-.3.1-.5.2l-1.3 1.3c-.3-.1-.6-.2-.9-.2h-6.9c-.9 0-1.7.4-2.3 1l-9.3 9.4c-.8.8-.8 2 0 2.8l7.4 7.4c.8.8 2 .8 2.8 0l9.3-9.4c.6-.6 1-1.4 1-2.3v-7c0-.3-.1-.6-.2-.8l1.3-1.3c.2-.1.3-.3.3-.4 0-.2-.1-.4-.2-.5zm-2.4 9.9c0 .5-.2 1-.6 1.4l-9.3 9.4c-.3.3-.7.3-.9 0l-7.4-7.4c-.3-.3-.3-.7 0-.9l9.3-9.4c.4-.4.9-.6 1.4-.6h6.6L17 6l-.5-.5c-.8-.8-2-.7-2.8 0s-.8 2 0 2.8l1.9 1.9c.8.8 2 .7 2.8 0 .8-.8.8-2 0-2.8l-.4-.5 2.4-2.4v6.6zm-2.9-1.9c-.1.1-.3.2-.5.2s-.3-.1-.5-.2l-1.9-1.9c-.2-.2-.2-.4-.2-.6s.2-.4.5-.5c.2-.1.5 0 .6.2l1.9 1.9c.3.3.3.7.1.9z"
	/>
 {% endcall %} {% endmacro %}
<!-- https://material.io/tools/icons/static/icons/baseline-store-24px.svg -->
{% macro iconStore(classes) %}{% call iconWrap(classes) -%} 
<path d="M0 0h24v24H0z" fill="none" />
<path d="M20 4H4v2h16V4zm1 10v-2l-1-5H4l-1 5v2h1v6h10v-6h4v6h2v-6h1zm-9 4H6v-4h6v4z" />
 {% endcall %} {% endmacro %}
<!-- https://material.io/tools/icons/static/icons/baseline-local_shipping-24px.svg -->
{% macro iconDelivery(classes) %}{% call iconWrap(classes) -%}
	<path d="M0 0h24v24H0z" fill="none" />
	<path d="M20 8h-3V4H3c-1.1 0-2 .9-2 2v11h2c0 1.66 1.34 3 3 3s3-1.34 3-3h6c0 1.66 1.34 3 3 3s3-1.34 3-3h2v-5l-3-4zM6 18.5c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm13.5-9l1.96 2.5H17V9.5h2.5zm-1.5 9c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"
	/>
{% endcall %} {% endmacro %}
<!-- https://materialdesignicons.com/ currency-usd.svg -->
{% macro iconDollar(classes) %}{% call iconWrap(classes) -%}
	<path d="M7 15h2c0 1.08 1.37 2 3 2s3-.92 3-2c0-1.1-1.04-1.5-3.24-2.03C9.64 12.44 7 11.78 7 9c0-1.79 1.47-3.31 3.5-3.82V3h3v2.18C15.53 5.69 17 7.21 17 9h-2c0-1.08-1.37-2-3-2s-3 .92-3 2c0 1.1 1.04 1.5 3.24 2.03C14.36 11.56 17 12.22 17 15c0 1.79-1.47 3.31-3.5 3.82V21h-3v-2.18C8.47 18.31 7 16.79 7 15z"
	/>
{% endcall %} {% endmacro %}
<!-- partpay-logo.svg -->
{% macro iconPartPay(classes) %}
<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" width="36" height="36" class="c-icon {{classes}}">
	<path id="Path_1" fill="#88c982" d="M34.2 23c1.4-4.4 1.1-9.2-1-13.3S27.4 2.5 23 1.1l-5.4 16.5L34.2 23z" />
	<path id="Path_2" d="M1.1 12.2l16.5 5.4L23 1.1C18.6-.3 13.9 0 9.8 2.1S2.5 7.8 1.1 12.2" fill="#2e8f44" />
	<path id="Path_3" fill="#0096ad" d="M12.2 34.2c9.1 3 18.9-2 21.9-11.1V23l-16.5-5.4-5.4 16.6z" />
	<path id="Path_4" d="M1.1 12.2c-3 9.1 2 18.9 11.1 21.9l5.4-16.6-16.5-5.3z" fill="#085b71" />
	<path id="Path_5" d="M19.4 7.1h-7.3c-.3 0-.6.1-.8.3-.3.3-.4.6-.4.9v19.6h3.4c.6 0 1.1-.5 1.2-1.2v-5.1H19c4.6 0 8.4-2.5 8.4-7.3v-.1c-.1-4.2-3.1-7.1-8-7.1"
	    fill="#fff" />
	<path id="Path_6" fill="#88c982" d="M22.7 14.4c0-2-1.5-3.1-3.7-3.1h-3.6v6.4H19c2.3-.1 3.7-1.4 3.7-3.3z" />
	<path id="Rectangle_1" fill="#0096ad" d="M15.4 21.7H20v8.2h-4.6z" />
</svg>  {% endmacro %}

{% macro star(classes) %} 
	{% call iconSpriteWrap(classes) -%}
	<use xlink:href="#icon-star"></use>
	{% endcall %}
 {% endmacro %}

 {% macro icon1day(classes) %}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 211.5 94.3" class="{{classes}}" width="36" height="36">
	<path d="M37.6 67.3L43 38.9H31.4l1.4-7.1c1.6 0 3.2-.1 4.8-.4s3-.8 4.4-1.5c1.3-.7 2.5-1.7 3.6-2.9s1.9-2.7 2.5-4.4h7.4l-8.6 44.6h-9.3v.1zm46.7-25l-1.5 8H66l1.5-8h16.8zM48.8 4.7h8l-2.6 13.8h-8l2.6-13.8zM3.7 52l1.5-8h15.3L19 52H3.7zm38.5 37.6h-8l2.6-13.8h8l-2.6 13.8zm41.7-65.2l1.3 3.3L75.1 33l-1.3-3.3 10.1-5.3zm-13.2-14l3 1.9-7 9.1-3-1.9 7-9.1zM29.5 13l3.7-1.9 3.5 9.1-3.7 2-3.5-9.2zm-17 15.9l2.6-3.3 8.1 5.3-2.6 3.3-8.1-5.3zM7.3 69.6L6 66.2 16.2 61l1.3 3.3-10.2 5.3zm13.2 13.9l-3-1.9 7-9.1 3 1.9-7 9.1zM61.7 81L58 82.9l-3.5-9.1 3.7-1.9 3.5 9.1zm17-15.9l-2.6 3.3-8.1-5.2 2.6-3.3 8.1 5.2zm37.4-2.1c-1.5 1.8-3.2 3.2-5.1 4s-4 1.2-6.3 1.2c-2.6 0-4.7-.5-6.4-1.5-1.7-1-3.1-2.3-4-4-.9-1.7-1.5-3.6-1.7-5.8s-.1-4.5.4-6.9c.4-2.3 1.2-4.5 2.2-6.6s2.4-4 3.9-5.6c1.6-1.6 3.4-2.9 5.5-3.9s4.4-1.5 6.9-1.5c2 0 3.9.4 5.5 1.3 1.7.9 2.9 2.1 3.6 3.8h.2l2.7-14.1h9.3l-8.4 44h-8.9l.8-4.3-.2-.1zm2.9-16.9c0-1.3-.2-2.4-.7-3.4s-1.1-1.8-2-2.4c-.9-.6-2.1-.9-3.7-.9-1.5 0-2.9.3-4.1.9-1.2.6-2.2 1.4-3 2.4s-1.5 2.2-2.1 3.5c-.5 1.3-.9 2.6-1.2 4.1-.3 1.3-.4 2.6-.3 4 .1 1.3.3 2.5.8 3.5s1.2 1.9 2.1 2.5 2.1 1 3.6 1 2.9-.3 4-.9c1.2-.6 2.1-1.4 3-2.5.8-1 1.5-2.2 2-3.5s.9-2.7 1.2-4.1c.2-1.5.4-2.9.4-4.2zm19.1-7.7c1.2-1.5 2.7-2.6 4.4-3.5s3.5-1.5 5.4-1.9 3.9-.6 5.8-.6c1.7 0 3.4.1 5.2.4 1.7.2 3.2.7 4.5 1.4s2.3 1.7 3 2.9.8 2.9.4 5l-3.4 17.7c-.3 1.5-.5 3-.6 4.4s0 2.5.3 3.2h-9.5c-.1-.5-.1-1.1-.1-1.6 0-.6 0-1.1.1-1.7-1.8 1.5-3.8 2.6-5.9 3.2-2.1.6-4.3.9-6.4.9-1.6 0-3.1-.2-4.4-.6-1.3-.4-2.5-1-3.3-1.8-.9-.8-1.5-1.9-1.9-3.2s-.4-2.8 0-4.5c.4-1.9 1-3.5 1.9-4.8.9-1.2 2-2.2 3.2-3 1.2-.7 2.6-1.3 4-1.7 1.5-.4 2.9-.7 4.4-.9s2.9-.4 4.3-.5c1.4-.1 2.6-.3 3.7-.6s2-.6 2.7-1.2c.7-.5 1.1-1.2 1.3-2.2s.2-1.8 0-2.4c-.2-.6-.6-1.1-1.1-1.4-.5-.3-1.1-.6-1.8-.7-.7-.1-1.5-.2-2.3-.2-1.9 0-3.4.4-4.6 1.2-1.2.8-2.1 2.1-2.6 4h-9.3c.5-2.1 1.4-3.9 2.6-5.3zm16.1 13c-.6.2-1.3.4-2 .5s-1.5.2-2.2.3c-.8.1-1.5.2-2.3.3-.7.1-1.5.3-2.2.5s-1.4.5-2 .9-1.1.8-1.5 1.4c-.4.6-.7 1.3-.9 2.2-.2.8-.1 1.5.1 2.1.2.6.5 1 1 1.4.5.3 1 .6 1.7.7.7.1 1.4.2 2.2.2 1.9 0 3.4-.3 4.5-.9 1.1-.6 2-1.3 2.7-2.2s1.1-1.7 1.4-2.6c.3-.9.5-1.6.6-2.1l.7-3.5c-.6.4-1.2.6-1.8.8zm25.6 26c-2 1.2-4.6 1.8-7.8 1.8-1 0-1.9 0-2.8-.1-.9-.1-1.9-.1-2.8-.2l1.5-7.7c.9.1 1.7.2 2.7.3.9.1 1.8.1 2.7.1 1.3-.1 2.3-.6 3-1.4.8-.8 1.2-1.8 1.4-2.8.1-.7.1-1.4 0-2.1l-5.8-32h9.9l3.2 23.3h.1L197 33.3h9.7l-21.6 38.3c-1.5 2.7-3.2 4.6-5.3 5.8z"
	/>
</svg>
{% endmacro %}

{% macro clubLogo(classes) %}
<img src="/assets/images/t7/oa-logo.svg" />
{% endmacro %}

{% macro categoryBike(classes) %} 
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" class="{{classes}}">
	<path class="cls-1" d="M154,80.11a34.44,34.44,0,0,0-12.53,2.34l-1.05.41-15-29h17.43a3.94,3.94,0,0,1,0,7.88h-3.45a2.54,2.54,0,1,0,0,5.07h3.45a9,9,0,0,0,0-18H121.29a2.54,2.54,0,0,0-2.25,3.7l6.33,12.28H76.17L70.61,53.82h8.81a2.54,2.54,0,0,0,0-5.07H57.84a2.54,2.54,0,0,0,0,5.07h7.08l6.8,13.33L60.63,84.33l-1-.5a34.6,34.6,0,1,0,16.68,43.43l.33-.85,15.66,1-1,3.19a2.54,2.54,0,1,0,4.85,1.48l1.32-4.31,1,0h.39A13.05,13.05,0,0,0,108.59,106l-.64-.71,21.36-33,6.6,12.82-.94.62a35,35,0,0,0-11.14,11.93A34.62,34.62,0,1,0,154,80.11ZM62.14,91.35l1.08.93a30,30,0,0,1,7.33,9.42l.83,1.68L53.65,104.5Zm8.41,36.41A29.55,29.55,0,1,1,44,85.17,29.08,29.08,0,0,1,56.59,88l1.29.61L47.36,104.89l-3.5.22a9.62,9.62,0,0,0,0,19.24l27.52,1.73Zm-22-13A4.56,4.56,0,1,1,44,110.17,4.56,4.56,0,0,1,48.59,114.73ZM73.12,120l-.2,1.1-20.54-1.29.62-1.6a9.5,9.5,0,0,0,0-7l-.62-1.59,20.54-1.3.2,1.1a29.78,29.78,0,0,1,0,10.54Zm13.84.13.86,1.9L78,121.42l.21-1.36a34.85,34.85,0,0,0,0-10.66L78,108l9.79-.61-.87,1.9a13.21,13.21,0,0,0-1.17,5.4A13.06,13.06,0,0,0,87,120.13ZM76.64,103.06l-.33-.85A34.88,34.88,0,0,0,65.76,87.79l-.88-.7,9.5-14.72,15.25,29.87Zm24.54,19.32-2.24.68,2.33-7.59a2.55,2.55,0,0,0-1.68-3.16A2.61,2.61,0,0,0,96.42,114l-2.33,7.58-1.47-1.83a8,8,0,1,1,8.56,2.64Zm2.52-19.81-.91-.29a12.84,12.84,0,0,0-4-.61c-.46,0-1,0-1.47.08l-2.23.15L78.76,69.79H125ZM154,144.29a29.55,29.55,0,0,1-16.93-53.77l1.18-.82,9.23,17.91a2.51,2.51,0,0,0,2.25,1.37,2.45,2.45,0,0,0,1.16-.28,2.53,2.53,0,0,0,1.09-3.41l-9.23-17.92,1.34-.48A29.27,29.27,0,0,1,154,85.17a29.56,29.56,0,1,1,0,59.12Z"/><path class="cls-1" d="M152.47,116.76a2.63,2.63,0,0,0,2.87.11,2.55,2.55,0,0,0,1-3.1,2.35,2.35,0,0,0-2.36-1.53,2.51,2.51,0,0,0-2.37,1.64A2.55,2.55,0,0,0,152.47,116.76Z"/>
</svg>
{% endmacro %}