
/*
 *
 * Module Macros
 *
 */
 {% macro moduleWrap(options={}) -%}
 <section class='m-wrap {{ options.wrapClasses }}'>
     <div class="m-wrap__card ">
        <div class="m-wrap__inner ">
            {% if options.heading %}
            <div class="m-wrap__header">
                <h2 class="u-h3">{{ options.heading | safe }}</h2>
                {% if options.description %}<p>{{ options.description | safe }}</p>{% endif %}
            </div>{% endif %}
            <div class="m-wrap__content {{options.contentClasses}}">
                {{caller()}}
            </div>
            {% if options.ctaText %}
            <div class="m-wrap__footer">
                <a href="{{ options.ctaLink }}" class="c-btn {{options.btnClasses}}">{{ options.ctaText }}</a>
            </div>
            {% endif %}
        </div>
     </div>
 </section>
{%- endmacro %}

{% macro moduleWrapT7(options={}) -%}
    <section class='m-wrap {{ options.wrapClasses }}'>
        <div class="m-wrap__card ">
            {% if options.heading %}
            <div class="m-wrap__header">
                <h2 class="u-h3">{{ options.heading | safe }}</h2>
                {% if options.description %}<p>{{ options.description | safe }}</p>{% endif %}
            </div>{% endif %}
            <div class="m-wrap__content {{options.contentClasses}}">
                {{caller()}}
            </div>
            {% if options.ctaText %}
            <div class="m-wrap__footer">
                <a href="{{ options.ctaLink }}" class="c-btn {{options.btnClasses}}">{{ options.ctaText }}</a>
            </div>
            {% endif %}
        </div>
    </section>
{%- endmacro %}

{% macro moduleWrapHeaderT7(options={}) -%}
    <section class='m-wrap {{ options.wrapClasses }}'>
        <div class="m-wrap__card ">
            <div class="m-wrap__header">
                <h2 class="u-h3">{{ options.heading | safe }}</h2>
                {% if options.description %}<p class="u-p2">{{ options.description | safe }}</p>{% endif %}
            </div>
        </div>
    </section>
{%- endmacro %}

{% macro moduleWrapFooterT7(options={}) -%}
    <section class='m-wrap {{ options.wrapClasses }}'>
        <div class="m-wrap__card ">
            <div class="m-wrap__footer">
                <a href="{{ options.ctaLink }}" class="c-btn {{options.btnClasses}}">{{ options.ctaText }}</a>
            </div>
        </div>
    </section>
{%- endmacro %}