<!-- index.html -->
{% extends "html/templates/root.html" %}
{% import 'html/macros/guide.html' as guideMacros %}

{% set pagename = "Home" %}

{% block title %}{{ pagename }}{% endblock %}

{% block content %}

{% call guideMacros.docs2ColWrap(wrapClasses="u-margin-top-x10") -%}
  {% call guideMacros.docs1ColColumnWrap() -%}

    {% for navItem in pageindex.navItems %}

        {% if navItem.items.length %}

          <div class='ud-guide-nav__item-container u-margin-top-x6'>

            {% set directory = ""%}
            {% if navItem.directory %}
                {% set directory = navItem.directory + "/"%}
            {% endif %}
            
            {{ helpers.guideLink(navItem.name, navItem.name, '/Custom/FrontEnd/html/','','u-h3 u-color-black') }}
            
            <ul class="ud-guide-nav__list u-margin-top-x2">

            {% for navItemItem in navItem.items %}

              <li class="ud-guide-nav__item">
                {{ helpers.guideLink(navItemItem.url, navItemItem.name, '/Custom/FrontEnd/html/'+directory,'.html','ud-guide-nav__link u-color-black') }}
              </li>

            {% endfor %}
            </ul>


          </div>
        {% endif %}
          

      {% endfor %}

  {% endcall %}
{% endcall %}

{% endblock %}