{% import 'html/red/macros/image.html' as imageMacros %} 
{% import 'html/red/macros/icons.html' as iconMacros %}
{% import 'html/red/components/tiles/macros.html' as tileMacros %}
{% import 'html/red/modules/promo/macros-twl.html' as promoMacros %}

{% macro categoryBanner(options) -%}
<section class="m-banner-category {{options.bannerClasses}}" data-responsive-background-src data-src-m="{{options.bannerBG}}">
    <h2 class="m-banner-category__heading u-xxxl u-script">{{options.heading}}</h2>
    <a href="#" class="c-btn c-btn--primary m-banner-category__btn">Browse All</a>
</section>
{%- endmacro %}

{% macro categoryBannerCLP(options) -%}
<section class="m-banner-category m-banner-category--clp {{options.bannerClasses}}" data-responsive-background-src data-src-m="{{options.bannerBG}}">
    <h2 class="m-banner-category__heading m-banner-category__heading--clp u-xxl">{{options.heading | safe}}</h2>
</section>
{%- endmacro %}

{% macro categoryBannerSnowPopulated() -%}
    {% 
        set options = {
            heading:"Snow",
            ctaText: "Shop All",
            bannerBG: "/assets/images/t7/home-category-banner-snow.png",
            bannerClasses: "m-banner-category--odd"
        }
    %}
    {{categoryBanner(options)}}
{%- endmacro %}

{% macro categoryBannerBikePopulated() -%}
    {% 
        set options = {
            heading:"Bike",
            ctaText: "Shop All",
            bannerBG: "/assets/images/t7/bike-banner.jpg",
            bannerClasses: "m-banner-category--even"
        }
    %}
    {{categoryBanner(options)}}
{%- endmacro %}

{% macro categoryBannerBikePopulatedCLP() -%}
    {% 
        set options = {
            heading:"More<br />on Bike",
            bannerBG: "/assets/images/t7/banner-clp-bike.jpg",
            bannerClasses: "m-banner-category--odd"
        }
    %}
    {{categoryBannerCLP(options)}}
{%- endmacro %}

{% macro inspirationCategoriesT7(options) -%}
<section class='m-inspiration '>
    {% call inspirationT7Wrap(options) -%}
    <div class="u-grid-m u-grid-cols-2 u-grid-cols-4-m u-grid-rows-3 u-grid-rows-2-m">
        {{contentTileT7(TitleText="Top Rated Mountain Bikes", tileClasses="c-tile-article--hero u-grid-item-cols-2 u-grid-item-rows-2-m", headingClass="c-tile-article__heading--large c-tile-article__heading--hero", imageDesktop=options.tileBG, imageClasses="u-aspect-nine-by-four")}}
        <div class="u-grid-item u-aspect-eight-by-nine"></div>
        <div class="u-grid-item u-aspect-eight-by-nine"></div>
        <div class="u-grid-item u-aspect-eight-by-nine"></div>
        <div class="u-grid-item u-aspect-eight-by-nine"></div>
    </div>
    {% endcall %}
    <div class="m-inspiration__bg"></div>
</section>
{%- endmacro %}

{% macro inspirationT7(options) -%}
<section class='m-inspiration '>
    {% call inspirationT7Wrap(options) -%}
    <div class="u-columns">
        <div class="u-columns__column u-columns__column--six-m">
            {{contentTileT7(TitleText="Top Rated Mountain Bikes", tileClasses="c-tile-article--hero", headingClass="c-tile-article__heading--large c-tile-article__heading--hero", imageDesktop=options.tileBG, imageClasses="u-aspect-nine-by-four")}}
        </div>
        <div class="u-columns__column u-columns__column--six-m m-inspiration__cards">
            <div class="u-columns m-inspiration__cards-inner">
                <div class="u-columns__column u-columns__column--six-m">
                    {{cardStoryProduct()}}
                </div>
                <div class="u-columns__column u-columns__column--six-m">
                    {{cardStoryProductClubPrice()}}
                </div>
                <div class="u-columns__column u-columns__column--six-m">
                    {{cardStoryProduct()}}
                </div>
                <div class="u-columns__column u-columns__column--six-m">
                    {{cardStoryProductClubPrice()}}
                </div>
            </div>
        </div>
    </div>
    {% endcall %}
    <div class="m-inspiration__bg"></div>
</section>
{%- endmacro %}

{% macro inspirationCategoriesT7(options) -%}
<section class='m-inspiration '>
    {% call inspirationT7Wrap(options) -%}
    <div class="c-categories-nav">
        <p class="u-p3 c-categories-nav__label">Popular Categories:</p>
        <a href="" class="c-btn c-btn--tertiary-reverse c-categories-nav__link">MTB - Hardtail {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
        <a href="" class="c-btn c-btn--tertiary-reverse c-categories-nav__link">MTB - Hardtail {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
        <a href="" class="c-btn c-btn--tertiary-reverse c-categories-nav__link">MTB - Hardtail {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
        <a href="" class="c-btn c-btn--tertiary-reverse c-categories-nav__link">MTB - Hardtail {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
    </div>
    <div class="u-columns -no-gutter">
        <div class="u-columns__column u-columns__column--twelve-m u-columns__column--six-l">
            {{contentTileT7(TitleText="Top Rated Mountain Bikes", tileClasses="c-tile-article--product-hero", headingClass="c-tile-article__heading--large c-tile-article__heading--hero", imageDesktop=options.tileBG, imageClasses="u-aspect-nine-by-fourur")}}
        </div>
        <div class="u-columns__column u-columns__column--twelve-m u-columns__column--six-l m-inspiration__cards">
            <div class="u-columns m-inspiration__cards-inner">
                <div class="u-columns__column  u-columns__column--three-m u-columns__column--six-l">
                    {{cardStoryProduct()}}
                </div>
                <div class="u-columns__column u-columns__column--three-m u-columns__column--six-l">
                    {{cardStoryProductClubPrice()}}
                </div>
                <div class="u-columns__column u-columns__column--three-m u-columns__column--six-l">
                    {{cardStoryProduct()}}
                </div>
                <div class="u-columns__column u-columns__column--three-m u-columns__column--six-l">
                    {{cardStoryProductClubPrice()}}
                </div>
            </div>
        </div>
    </div>
    {% endcall %}
    <div class="m-inspiration__bg"></div>
</section>
{%- endmacro %}

{% macro storyCategoriesT7(options) -%}
<section class='m-inspiration'>
    {% call inspirationT7Wrap(options) -%}
    <div class="c-categories-nav">
        <p class="u-p3 c-categories-nav__label">Popular Categories:</p>
        <a href="" class="c-btn c-btn--tertiary-reverse c-categories-nav__link">MTB - Hardtail {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
        <a href="" class="c-btn c-btn--tertiary-reverse c-categories-nav__link">MTB - Hardtail {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
        <a href="" class="c-btn c-btn--tertiary-reverse c-categories-nav__link">MTB - Hardtail {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
        <a href="" class="c-btn c-btn--tertiary-reverse c-categories-nav__link">MTB - Hardtail {{ iconMacros.svgicon(name='chevron-right', classes="c-icon--small c-btn__icon") }}</a>
    </div>
    <div class="u-columns">
        <div class="u-columns__column u-columns__column--six-m">
            {{contentTileT7(TitleText="Choosing The Right Ski or Snowboard Goggles", tileClasses="c-tile-article--hero", headingClass="c-tile-article__heading--large c-tile-article__heading--hero", imageDesktop=options.tileBG, imageClasses="u-aspect-nine-by-four")}}
        </div>
        <div class="u-columns__column u-columns__column--six-m u-flex-column">
            {{contentTileT7(TitleText="How to Choose a Ski and Snowboard Helmet", tileClasses="u-aspect-sixteen-by-nine-m", headingClass="c-tile-article__heading--medium", imageDesktop=options.tileBG)}}
            {{contentTileT7(TitleText="WALK ON Foot Protection – Sore Feet Stop Here", tileClasses="u-aspect-sixteen-by-nine-m", headingClass="c-tile-article__heading--medium", imageDesktop=options.tileBG)}}
        </div>
    </div>
    {% endcall %}
    <div class="m-inspiration__bg"></div>
</section>
{%- endmacro %}
    
{% macro storyT7(options) -%}
<section class='m-inspiration'>
    {% call inspirationT7Wrap(options) -%}
    <div class="u-grid-m u-grid-cols-2 u-grid-cols-4-m u-grid-rows-3 u-grid-rows-2-m ">
        {{contentTileT7(TitleText="Choosing The Right Ski or Snowboard Goggles", tileClasses="c-tile-article--hero u-grid-item-cols-2 u-grid-item-rows-2-m", headingClass="c-tile-article__heading--large c-tile-article__heading--hero", imageDesktop=options.tileBG, imageClasses="u-aspect-nine-by-four")}}
        {{contentTileT7(TitleText="How to Choose a Ski and Snowboard Helmet", tileClasses="u-grid-item-cols-2", headingClass="c-tile-article__heading--medium", imageDesktop=options.tileBG)}}
        {{contentTileT7(TitleText="WALK ON Foot Protection – Sore Feet Stop Here", tileClasses="u-grid-item-cols-2 u-aspect-sixteen-by-nine-m", headingClass="c-tile-article__heading--medium", imageDesktop=options.tileBG)}}
    </div>
    {% endcall %}
    <div class="m-inspiration__bg"></div>
</section>
{%- endmacro %}

{% macro contentTileT7(ctaText="Show Now", TitleText="Content Title", subtitleText="", tileClasses="", headingClass="u-h3", subHeadingClass="u-h4", contentClasses="c-tile__content--top-left", imageDesktop="", imageClasses="u-aspect-one-by-one u-aspect-none-m") -%}
    <div class="c-tile-article {{tileClasses}} t-dark">
        <a href="#" class="c-tile__link"></a>
        <div class="c-tile-article__content-wrap">
            <div class="c-tile-article__content {{contentClasses}}">
                <!--<h5 class="{{subHeadingClass}} c-tile-article__sub-heading t-text">{{subtitleText}}</h5>-->
                <h4 class="{{headingClass}} c-tile-article__heading t-heading">{{TitleText}}</h4>
            </div>
            <div class="c-tile-article__cta c-tile-article__cta--left-aligned t-cta">
                <a href="#" class="c-tile-article__cta-link c-btn c-btn--tertiary t-btn-tertiary">View Details {{ iconMacros.svgicon(name='chevron-right', classes="c-icon c-icon--small c-btn__icon") }}</a>
            </div>
        </div>
        <div class="c-tile-article__overlay"></div>
        <div class="c-tile-article__image {{imageClasses}}" style="background-image: url({{imageDesktop}})"></div>
    </div>
{%- endmacro %}

{% macro inspirationT7Wrap(options) -%}
<section class='m-wrap {{options.wrapClasses}}'>
    <div class="m-wrap__card m-inspiration__content">
        <div class="m-wrap__inner">
            <div class="m-wrap__content">
                {{caller()}}
            </div>
        </div>
    </div>
    <div class="m-inspiration__bg"></div>
</section>
{%- endmacro %}

{% macro cardStoryProduct(tileClasses="", tileHeading="Trek 2018 Women's Fuel EX 8 27.5 MTB", tileImage="/assets/images/t7/card-story-product.png") -%}

    <div class="c-card-story-product u-aspect-eight-by-nine {{tileClasses}}">
        <a href="" class="c-card-product__link"></a>
        <div class="c-card-story-product__content">
            <div class="c-card-story-product__image-wrap">
                <div class="c-pill c-pill--primary c-card-product__pill">Limited Edition</div> 
                <img class="c-card-story-product__image" data-responsive-src data-src-s="{{tileImage}}"  alt="{{tileHeading}}" />
            </div>
            <div class="c-card-product__brand">Torpedo7</div>
            <h4 class="c-card-product__heading">{{tileHeading}}</h4>
            <div class="c-card-product__prices">
                <div class="c-card-product__price c-card-product__price--old u-price3">$5,432.10</div>
                <div class="c-card-product__price c-card-product__price--new u-price3">$4,332.10</div>
            </div>
            <div class="c-card-product__bundle">Buy 1 Get 1 Half Price</div>
        </div>
    </div>
{%- endmacro %}

{% macro cardStoryProductClubPrice(tileClasses="", tileHeading="Trek 2018 Women's Fuel EX 8 27.5 MTB", tileImage="/assets/images/t7/card-story-product.png") -%}

    <div class="c-card-story-product u-aspect-eight-by-nine {{tileClasses}}">
        <a href="" class="c-tile__link"></a>
        <div class="c-card-story-product__content">
            <div class="c-card-story-product__image-wrap">
                <div class="c-pill c-pill--primary c-card-product__pill">Limited Edition</div> 
                <img class="c-card-story-product__image" data-responsive-src data-src-s="{{tileImage}}"  alt="{{tileHeading}}" />
            </div>
            <div class="c-card-product__brand">Torpedo7</div>
            <h4 class="c-card-product__heading">{{tileHeading}}</h4>
            <div class="c-card-product__prices">
                <div class="c-card-product__price c-card-product__price--default u-price3">$5,432.10</div>
                <div class="c-card-product__price c-card-product__price--club u-price3">Club $4,332.10</div>
            </div>
            <div class="c-card-product__bundle">&nbsp;</div>
        </div>
    </div>
{%- endmacro %}

{% macro storySnowPopulated() -%}
    {% 
        set options = {
            heading:"Featured Categories",
            description: "lorem ipsum",
            ctaText: "Shop All",
            tileBG: "/assets/images/t7/tile-bg-bike.jpg"
        }
    %}
    {{storyT7(options)}}
{%- endmacro %}

{% macro storySnowCatgoriesPopulated() -%}
    {% 
        set options = {
            heading:"Featured Categories",
            description: "lorem ipsum",
            ctaText: "Shop All",
            tileBG: "/assets/images/t7/tile-bg-bike.jpg"
        }
    %}
    {{storyCategoriesT7(options)}}
{%- endmacro %}

{% macro inspirationSnowPopulated() -%}
    {% 
        set options = {
            heading:"Featured Categories",
            description: "lorem ipsum",
            ctaText: "Shop All",
            tileBG: "/assets/images/t7/tile-bg-bike.jpg"
        }
    %}
    {{inspirationT7(options)}}
{%- endmacro %}

{% macro inspirationBikePopulated() -%}
    {% 
        set options = {
            heading:"Featured Categories",
            description: "lorem ipsum",
            ctaText: "Shop All",
            tileBG: "/assets/images/t7/tile-bg-bike.jpg",
            wrapClasses: "u-bg-grey-light-98"
        }
    %}
    {{inspirationT7(options)}}
{%- endmacro %}

{% macro inspirationBikeCategoriesPopulated() -%}
    {% 
        set options = {
            heading:"Featured Categories",
            description: "lorem ipsum",
            ctaText: "Shop All",
            tileBG: "/assets/images/t7/tile-bg-bike.jpg",
            wrapClasses: ""
        }
    %}
    {{inspirationCategoriesT7(options)}}
{%- endmacro %}

// Red modules
///////////////////////////////////////

{% macro categoryTileRed(headingtext="Diffusers", image="", tileClasses="u-aspect-four-by-five") -%}
    <div class="u-grid-item c-tile-category {{tileClasses}}">
    </div>
{%- endmacro %}

{% macro inspirationRed(options) -%}
<section class='m-inspiration-b {{options.directionClass}}'>
    {% call inspirationRedWrap(options) -%}
    <div class="m-inspiration-b__grid u-grid u-grid-cols-2 u-grid-rows-2 u-grid--wide-gap">
        {{categoryTileRed()}}
        {{categoryTileRed()}}
        {{categoryTileRed()}}
        {{categoryTileRed()}}
    </div>
    <div class="m-inspiration-b__content {{options.contentTheme}} u-spacing">
        <h2 class="u-h1 t-heading">{{options.heading}}</h2>
        <p class="u-p1 t-text">{{options.description}}</p>
        <a href="#" class="c-btn c-btn--primary t-btn-primary">View All</a>
    </div>
    <div class="m-inspiration-b__hero">
        <div class="u-aspect-nine-by-four"></div>
    </div>
    {% endcall %}
    
    <div class="m-inspiration-b__bg" style="background-color:{{options.bgColor}}"></div>
</section>
{%- endmacro %}

{% macro inspirationProductRed(options) -%}
<section class='m-inspiration-c'>
    {% call inspirationRedWrap(options) -%}

    <div class="m-inspiration-c__content {{options.contentTheme}} u-spacing">
        <h6 class="u-h6 t-heading">{{options.subHeading}}</h6>
        <h2 class="u-h1 t-text">{{options.heading}}</h2>
    </div>
    <div class="m-inspiration-c__hero">
        <div class="u-aspect-nine-by-four"></div>
    </div>
    <div class="m-inspiration-b__belt u-grid u-grid-cols-4 u-grid--wide-gap">
        {{categoryTileRed()}}
        {{categoryTileRed()}}
        {{categoryTileRed()}}
        {{categoryTileRed()}}
    </div>
    <div class="m-inspiration-c__cta">
        <a href="#" class="c-btn c-btn--primary-reverse t-btn-primary">View All</a>
    </div>
    {% endcall %}
    
    <div class="m-inspiration-b__bg" style="background-color:{{options.bgColor}}"></div>
</section>
{%- endmacro %}

{% macro inspirationRedWrap(options) -%}
<section class='m-wrap m-inspiration__content'>
    <div class="m-wrap__card">
        <div class="m-wrap__inner">
            <div class="m-wrap__content m-inspiration-b__wrap">
                {{caller()}}
            </div>
        </div>
    </div>
</section>
{%- endmacro %}

{% macro InspirationRedPopulated(bgColor="", contentTheme="", directionClass="") -%}
    {% 
        set options = {
            heading:"Modern Nomad",
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rutrum auctor sem sollicitudin ornare. Maecenas turpis neque, pellentesque vel viverra nec.",
            ctaText: "Browse Range",
            bgColor:bgColor,
            contentTheme: contentTheme,
            directionClass: directionClass,
            tileBG: "/assets/images/t7/tile-bg.jpg"

        }
    %}
    {{inspirationRed(options)}}
{%- endmacro %}

{% macro InspirationProductRedPopulated(bgColor="", contentTheme="", directionClass="") -%}
    {% 
        set options = {
            heading:"Modern Nomad",
            subHeading: "Perfect gifts",
            ctaText: "Browse Range",
            bgColor:bgColor,
            contentTheme: contentTheme,
            directionClass: directionClass,
            tileBG: "/assets/images/t7/tile-bg.jpg"

        }
    %}
    {{inspirationProductRed(options)}}
{%- endmacro %}