
body {
    padding:0;
    margin:0;
    background-color: $color-body;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering : optimizeLegibility;
    color:$color-text;

    //text-font-size-p2 mixin minus text-crop as that causes issues on body tag
    @include font-text();
    line-height: $text-line-height-p2;
    font-size: $text-font-size-p2;
    letter-spacing: 0.25px;
    
    @include media($media-m) {
        font-size: $text-font-size-p2-m;
        line-height: $text-line-height-p2;
    }

    @include media($media-l) {
        font-size: $text-font-size-p2-l;
        line-height: $text-line-height-p2;
    }
    

    //adds breakpoint the :before element of the body tag.
    &:before {
        content: "mobile";
        display: none; /* Prevent from displaying. */
        
        @include media($media-s){
            content: "600";
        }
        @include media($media-m){
            content: "768";
        }
        @include media($media-l){
            content: "1024";
        }
        @include media($media-xl){
            content: "1320";
        }
        @include media($media-xxl){
            content: "1680";
        }
    }   
}