{% import 'html/red/macros/image.html' as imageMacros %} 
{% import 'html/red/macros/icons.html' as iconMacros %}
{% import 'html/red/components/tiles/macros.html' as tileMacros %}
{% import 'html/red/modules/promo/macros-twl.html' as promoMacros %}
{% import 'html/red/macros/module.html' as wrapMacro %}


{% macro hero(options) -%}
    <section class='m-hero u-flex u-flex-justify-center u-flex-column u-columns__column--twelve'>

        {{heroBanner(options)}}

        {% if options.ctaPosition === "left" %}
            <div class='m-hero__wrap m-hero__wrap--top u-flex u-flex-column u-max-width {{options.bannerContentClasses | lower | safe}}'>
        {% else %}
            <div class='m-hero__wrap u-flex u-flex-column u-max-width {{options.bannerContentClasses | lower | safe}}'>
        {%- endif %}

            <div class="m-hero__content u-flex u-flex-column">

                {% if options.xxlHeroHeading %}
                <h2 class="u-xxl m-hero__heading--xxl t-text--{{options.themeColor | lower | safe}}-m">{{options.xxlHeroHeading | safe}}</h2>
                {%- endif %}

                {% if options.heroHeading %}
                <h2 class="u-xl m-hero__heading t-text--{{options.themeColor | lower | safe}}">{{options.heroHeading | safe}}</h2>
                {%- endif %}

                {% if options.heroText %}
                    <p class="u-p1 m-hero__desc t-text--{{options.themeColor | lower | safe}}">{{options.heroText | safe}}</p>
                {%- endif %}
            </div>
            
            {% if options.ctaButton %}
                <a href="#" class="c-btn c-btn--{{options.themeColor | lower | safe}} m-hero__btn">{{options.ctaButton | safe}}</a>
            {%- endif %}
        </div>

        {# DISPLAY HERO MODULE CARDS #}
        {% if options.beltContentClass %}
            {% if options.ctaPosition === "left" %}
                <div class="m-hero__belt m-hero__belt--carded m-hero__belt--top m-hero__belt--{{options.beltContentClass | lower | safe}} u-flex u-max-width">
            {% else %}
                <div class="m-hero__belt m-hero__belt--carded m-hero__belt--{{options.beltContentClass | lower | safe}} u-flex u-max-width">
            {%- endif %}
        
            {{tileMacros.tileMedium01Polulated()}}
            {{tileMacros.tileMedium02Polulated()}}
            {{tileMacros.tileMedium03Polulated()}}
        {% endif %}
        </div>

        {# DISPLAY HERO BREADCRUMBS #}
        {% if options.breadcrumb %}
            {% call wrapMacro.moduleWrapCarded('m-wrap--content-overlap') %}
                <section class="m-hero__breadcrumb-container">
                    <p class="u-p3 u-hide-down-m">{{ options.breadcrumb | safe }}</p>
                </section>
            {% endcall %}
        {% endif %}

    </section>
{%- endmacro %}

{% macro heroMainPolulated() -%}

        {% 
        set options = {
            heroHeading:"Neon Festival",
            bannerClasses: "u-aspect-nine-by-four u-aspect-three-by-one-l",
            themeColor: "light",
            heroText: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo proin sodales.",
            ctaButton: "Shop Now",
            ctaPosition: "right",
            ctaLink: "#",
            mobileImage: {
                1x: "/assets/images/test/hero_banner-mobile.jpg",
                2x: "/assets/images/test/hero_banner-mobile@2x.jpg"
            },
            desktopImage: {
                1x: "/assets/images/test/hero_banner.jpg",
                2x: "/assets/images/test/hero_banner@2x.jpg"
            },
            beltContentClass: "scrolled"
        }
    %}
    
    {{hero(options)}}
{%- endmacro %}

{% macro heroRed(options) -%}
    <section class='m-hero u-flex u-flex-justify-center u-flex-column u-columns__column--twelve'>
        <div class='m-hero__wrap'>

            <div class="m-hero__content-wrap">
                <div class="m-hero__content u-spacing">

                    {% if options.heroHeading %}
                    <h2 class="u-xxl m-hero__heading t-text">{{options.heroHeading | safe}}</h2>
                    {%- endif %}

                    {% if options.heroText %}
                        <p class="u-p1 m-hero__desc t-text">{{options.heroText | safe}}</p>
                    {%- endif %}

                    {% if options.ctaButton %}
                        <a href="#" class="c-btn c-btn--primary-inverse t-btn-secondary">{{options.ctaButton | safe}}</a>
                    {%- endif %}
                </div>
            </div>
                
            {{heroBanner(options)}}

        </div>

        <section class='m-wrap m-wrap--carded m-hero__belt'>
            <div class="m-wrap__card">
                <div class="m-wrap__inner m-hero__belt-inner-carded">
                    <div class="m-wrap__content">
                        <div class="u-columns">
                            <div class="u-columns__column u-columns__column--four-s">
                                {{promoMacros.promoTileCardContentInsideTWL(tileClasses="m-hero__tile u-aspect-three-by-one u-aspect-nine-by-four-m", contentClasses="c-tile__content--bottom-left", TitleText="Flannel PJ’s<br />From $9", imageMedium="/assets/images/red/tile-image.jpg")}}
                            </div>
                            <div class="u-columns__column u-columns__column--four-s">
                                {{promoMacros.promoTileCardContentInsideTWL(tileClasses="m-hero__tile u-aspect-three-by-one u-aspect-nine-by-four-m", contentClasses="c-tile__content--bottom-left", TitleText="Garage<br />Sweatshirts<br />$15 Everyday", imageMedium="/assets/images/red/tile-image.jpg")}}
                            </div>
                            <div class="u-columns__column u-columns__column--four-s">
                                {{promoMacros.promoTileCardContentInsideTWL(tileClasses="m-hero__tile u-aspect-three-by-one u-aspect-nine-by-four-m", contentClasses="c-tile__content--bottom-left", TitleText="Women’s <br />Texas Boots<br />$29pr", imageMedium="/assets/images/red/tile-image.jpg")}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{%- endmacro %}

{% macro heroRedPolulated() -%}

        {% 
        set options = {
            heroHeading:"Neon Festival",
            bannerClasses: "u-aspect-nine-by-four u-aspect-three-by-one-l",
            themeColor: "light",
            heroText: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreen proin gravida dolor sit amet.",
            ctaButton: "Shop Now",
            ctaPosition: "right",
            ctaLink: "#",
            mobileImage: {
                1x: "/assets/images/test/hero_banner-mobile.jpg",
                2x: "/assets/images/test/hero_banner-mobile@2x.jpg"
            },
            desktopImage: {
                1x: "/assets/images/test/hero_banner.jpg",
                2x: "/assets/images/test/hero_banner@2x.jpg"
            },
            beltContentClass: "scrolled"
        }
    %}
    
    {{heroRed(options)}}
{%- endmacro %}

{% macro heroBanner(options) -%}
    <div class="m-hero__image" data-responsive-background-src data-src-m="{{options.desktopImage.1x}}" data-src-s="{{options.mobileImage.1x}}">
        <div class="{{options.bannerClasses}}" ></div>
    </div>
{%- endmacro %}

{# BUYERS GUIDE HERO BANNERS - HEATERS #}
{% macro populateBuyersHero() %}

    {% 
        set options = {
            xxlHeroHeading:"Heaters Buyers Guide",
            bannerClasses: "u-aspect-sixteen-by-nine u-aspect-three-by-one-l m-hero--overlay--dark",
            breadcrumb: "Home / Home &amp; Garden / Home Appliances / Fans, Heaters &amp; Dehumidifiers / Heaters Buyers Guide",
            themeColor: "light",
            mobileImage: {
                1x: "/assets/images/test/heater-mob.jpg",
                2x: "/assets/images/test/heater-mob@2x.jpg"
            },
            desktopImage: {
                1x: "/assets/images/test/heater.png",
                2x: "/assets/images/test/heater@2x.png"
            }
        }
    %}

    {{ hero(options) }}

{% endmacro %}

{# SECTION HERO BANNER #}
{% macro sectionHero(options) %}
    <div class="m-hero__image" data-responsive-background-src data-src-m="{{options.desktopImage.1x}}" data-src-s="{{options.mobileImage.1x}}">
        <div class="{{options.bannerClasses}}"></div>
    </div>
{% endmacro %}

{# BUYERS GUIDE SECTION BANNER - HEATERS #}
{% macro populateBuyersSectionHero() %}

    {% 
        set options = {
            bannerClasses: "u-aspect-four-by-two u-aspect-three-by-one-l",
            themeColor: "light",
            mobileImage: {
                1x: "/assets/images/test/heaters-2-mob.png",
                2x: "/assets/images/test/heaters-2-mob@2x.png"
            },
            desktopImage: {
                1x: "/assets/images/test/heaters-2.png",
                2x: "/assets/images/test/heaters-2@2x.png"
            }
        }
    %}

    {{ sectionHero(options) }}

{% endmacro %}