{% import 'html/red/macros/image.html' as imageMacros %} 
{% import 'html/red/macros/icons.html' as iconMacros %}
{% import 'html/red/components/tiles/macros.html' as tileMacros %}
{% import 'html/red/modules/promo/macros-twl.html' as promoMacros %}
{% import 'html/red/macros/module-wrap.html' as wrapMacro %}


{% macro hero(options) -%}
    <section class='m-hero u-flex u-flex-justify-center u-flex-column-reverse-s u-flex-column-m u-columns__column--twelve'>

        {{heroBanner(options)}}

        {% if options.ctaPosition === "left" %}
            <div class='m-hero__wrap m-hero__wrap--top u-flex u-flex-column u-max-width {{options.bannerContentClasses | lower | safe}}'>
        {% else %}
            <div class='m-hero__wrap u-flex u-flex-column u-max-width {{options.bannerContentClasses | lower | safe}}'>
        {%- endif %}

            <div class="m-hero__content u-flex u-flex-column">

                {% if options.xxlHeroHeading %}
                <h2 class="u-xxl m-hero__heading--xxl t-text--{{options.themeColor | lower | safe}}-m">{{ options.xxlHeroHeading | safe }}</h2>
                {%- endif %}

                {% if options.heroHeading %}
                <h2 class="u-xl m-hero__heading t-text--{{options.themeColor | lower | safe}}">{{ options.heroHeading | safe }}</h2>
                {%- endif %}

                {% if options.heroText %}
                    <p class="u-p1 m-hero__desc t-text--{{options.themeColor | lower | safe}}">{{ options.heroText | safe }}</p>
                {%- endif %}
            </div>
            
            {% if options.ctaButton %}
                <a href="#" class="c-btn c-btn--{{options.themeColor | lower | safe}} m-hero__btn">{{ options.ctaButton | safe }}</a>
            {%- endif %}
        </div>
    </section>
{%- endmacro %}

{% macro heroBasic(options) -%}
    
    <section class="m-hero M0010A">
        <div class="m-hero__wrap">
            <div class="m-hero__content-wrap">
                <div class="m-hero__content m-hero__content--centered t-dark-m">
                    
                    <h2 class="u-xxl m-hero__heading t-heading">Inline Banner</h2>
            
                </div>
            </div>
            <div class="m-hero__overlay m-hero__overlay--inline"></div>

            {{heroBanner(options)}}
            
        </div>
    </section>
    
{%- endmacro %}

{% macro heroMainPolulated() -%}

        {% 
        set options = {
            heroHeading:"Neon Festival",
            bannerClasses: "u-aspect-nine-by-four u-aspect-six-by-two-l",
            themeColor: "light",
            heroText: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo proin sodales.",
            ctaButton: "Shop Now",
            ctaPosition: "right",
            ctaLink: "#",
            mobileImage: {
                1x: "/assets/images/test/hero_banner-mobile.jpg",
                2x: "/assets/images/test/hero_banner-mobile@2x.jpg"
            },
            desktopImage: {
                1x: "/assets/images/test/hero_banner.jpg",
                2x: "/assets/images/test/hero_banner@2x.jpg"
            },
            beltContentClass: "scrolled"
        }
    %}
    
    {{hero(options)}}
{%- endmacro %}

{% macro heroRed(options) -%}
    <section class='m-hero u-flex u-flex-justify-center u-flex-column u-columns__column--twelve'>
        <div class='m-hero__wrap'>

            <div class="m-hero__content-wrap">
                <div class="m-hero__content u-spacing">

                    {% if options.heroHeading %}
                    <h2 class="u-xxl m-hero__heading t-text">{{options.heroHeading | safe}}</h2>
                    {%- endif %}

                    {% if options.heroText %}
                        <p class="u-p1 m-hero__desc t-text">{{options.heroText | safe}}</p>
                    {%- endif %}

                    {% if options.ctaButton %}
                        <a href="#" class="c-btn c-btn--primary-inverse t-btn-secondary">{{options.ctaButton | safe}}</a>
                    {%- endif %}
                </div>
            </div>
                
            {{heroBanner(options)}}

        </div>

        <section class='m-wrap m-wrap--carded m-wrap--hero-belt m-hero__belt'>
            <div class="m-wrap__card">
                <div class="m-wrap__inner">
                    <div class="m-wrap__content">
                        <div class="u-grid u-grid-cols-1 u-grid-cols-3-m u-grid-rows-3 u-grid-rows-1-m">
                            {{promoMacros.promoTileCardContentInsideTWL(tileClasses="m-hero__tile u-aspect-three-by-one u-aspect-two-by-one-m", contentClasses="c-tile__content--bottom-left", TitleText="Flannel PJ’s<br />From $9", imageMedium="/assets/images/red/tile-image.jpg")}}
                            {{promoMacros.promoTileCardContentInsideTWL(tileClasses="m-hero__tile u-aspect-three-by-one u-aspect-two-by-one-m", contentClasses="c-tile__content--bottom-left", TitleText="Garage<br />Sweatshirts<br />$15 Everyday", imageMedium="/assets/images/red/tile-image.jpg")}}
                            {{promoMacros.promoTileCardContentInsideTWL(tileClasses="m-hero__tile u-aspect-three-by-one u-aspect-two-by-one-m", contentClasses="c-tile__content--bottom-left", TitleText="Women’s <br />Texas Boots<br />$29pr", imageMedium="/assets/images/red/tile-image.jpg")}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{%- endmacro %}

{% macro heroRedPolulated() -%}

        {% 
        set options = {
            heroHeading:"Neon Festival",
            bannerClasses: "u-aspect-nine-by-four u-aspect-six-by-two-l",
            themeColor: "light",
            heroText: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo proin sodales.",
            ctaButton: "Shop Now",
            ctaPosition: "right",
            ctaLink: "#",
            mobileImage: {
                1x: "/assets/images/test/hero_banner-mobile.jpg",
                2x: "/assets/images/test/hero_banner-mobile@2x.jpg"
            },
            desktopImage: {
                1x: "/assets/images/test/hero_banner.jpg",
                2x: "/assets/images/test/hero_banner@2x.jpg"
            },
            beltContentClass: "scrolled"
        }
    %}
    
    {{heroRed(options)}}
{%- endmacro %}

{% macro heroBanner(options) -%}
    <div class="m-hero__image" data-responsive-background-src data-src-m="{{options.desktopImage.1x}}" data-src-s="{{options.mobileImage.1x}}">
        <div class="{{options.bannerClasses}}"></div>
    </div>
{%- endmacro %}

{# BUYERS GUIDE HERO BANNERS - HEATERS #}
{% macro populateBuyersHero() %}

    {% 
        set options = {
            xxlHeroHeading:"Heaters Buyers Guide",
            bannerClasses: "u-aspect-sixteen-by-nine u-aspect-three-by-one-m m-hero--overlay--dark",
            themeColor: "light",
            mobileImage: {
                1x: "/assets/images/test/heaters-2-mob.png",
                2x: "/assets/images/test/heaters-2-mob@2x.png"
            },
            desktopImage: {
                1x: "/assets/images/test/heater.png",
                2x: "/assets/images/test/heater@2x.png"
            }
        }
    %}

    {{ heroBasic(options) }}

{% endmacro %}

{# POPULATE DOCUMENTATION INLINE HERO BANNER #}
{% macro populateInlineBanner() %}
    {% 
        set options = {
            xxlHeroHeading:"Inline Banner",
            bannerClasses: "u-aspect-sixteen-by-nine u-aspect-three-by-one-m m-hero--overlay--dark",
            themeColor: "light",
            mobileImage: {
                1x: "/assets/images/test/heaters-2-mob.png",
                2x: "/assets/images/test/heaters-2-mob@2x.png"
            },
            desktopImage: {
                1x: "/assets/images/test/heater.png",
                2x: "/assets/images/test/heater@2x.png"
            }
        }
    %}
    {{ heroBasic(options) }}
{% endmacro %}

{# SECTION HERO BANNER #}
{% macro sectionHero(options) %}
    <div class="m-hero__image" data-responsive-background-src data-src-m="{{options.desktopImage.1x}}" data-src-s="{{options.mobileImage.1x}}">
        <div class="{{options.bannerClasses}}"></div>
    </div>
{% endmacro %}

{# BUYERS GUIDE SECTION BANNER - HEATERS #}
{% macro populateBuyersSectionHero() %}

    {% 
        set options = {
            bannerClasses: "u-aspect-three-by-one",
            themeColor: "light",
            mobileImage: {
                1x: "/assets/images/test/heaters-2-mob.png",
                2x: "/assets/images/test/heaters-2-mob@2x.png"
            },
            desktopImage: {
                1x: "/assets/images/test/heaters-2.png",
                2x: "/assets/images/test/heaters-2@2x.png"
            }
        }
    %}

    {{ sectionHero(options) }}

{% endmacro %}