// 
// ------------------------------------- 
// 	COMPONENT: #Alerts
// -------------------------------------
//  Notification styles
//  


$name                           : c-alert;
$selector                       : ".#{$name}";


#{$selector} {
    
    display: flex;
    align-items: center;
    padding: $x3;
    
    transition: opacity 0.2s ease-in;

    //.c-alert--warning
    &--warning {
        border-left: 2px solid $color-warning;
        background-color: $color-warning-light-95;
        color: $color-warning;
        fill: $color-warning;
    }

    //.c-alert--error
    &--error {
        border-left: 2px solid $color-error;
        background-color: $color-error-light-95;
        color: $color-error;
        fill: $color-error;
    }

    //.c-alert--info
    &--info {
        border-left: 2px solid $color-info;
        background-color: $color-info-light-95;
        color: $color-info;
        fill: $color-info;
    }

    //.c-alert__icon
    &__icon {
        margin-right: $x2;
    }



}
