//
// ------------------------------------- 
// 	COMPONENT: Breadcrumbs
// -------------------------------------
//  
//

$name                    : c-breadcrumbs;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    color: $color-grey-light-60;
    font-size: 14px;

    @include media($media-m) {
        
    }
    
    //.c-breadcrumbs__link
    &__link {
        display: inline-block;
        text-decoration: none;
        color: $color-grey-light-60;

        @include hover {
            text-decoration: underline;
        }
    }

    //.c-breadcrumbs__sep
    &__sep {
        display: inline-block;
        margin: 0 $x1;
    }

    //.c-breadcrumbs__item
    &__item {
        display: inline-block;
    }

    //.c-breadcrumbs__icon
    &__icon {
        width: 16px;
        height: 16px;
    }

    
}