//
// ------------------------------------- 
// 	COMPONENT: HERO BANNER TILES
// -------------------------------------
//  
//

$name                    : c-btn-group;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    display:flex;
    align-items: center;
    
    &--left {
        justify-content: flex-start;
    }

    &--center {
        justify-content: center;
    }

    &--right {
        justify-content: flex-end;
    }
    
    &__item {
        margin: $x1 $x3;
    }
}