$name: c-filter-select;
$selector: ".#{$name}";
////////////////////////////////////////////////////////
#{$selector} {
    //c-filter-tab__select
    &__wrap {
        position: relative;   
        display: flex;
        align-content: center;
        justify-content: center;
        max-height:50px;

    }
        @include select-reset;
        text-align: center;
        position:absolute;
        height:100%;
        top: 0;
        left: 0;
        display: flex;
        align-content: center;
        justify-content:center;
        font-size:16px;
        padding:$x2 $x2;
        width: 100%;

    //c-filter-tab__select__text
    &__label {
        position: relative; 
        z-index: 1;
        text-align: center;
        width:100%;
        display: flex;
        align-content: center;
        justify-content:center;
        white-space: nowrap;
        height:100%;
        background-color: #fff;
        pointer-events: none;
        @include media($media-m) {
            &:after{
                content:"";
                position: relative;
                display: inline-block;
                pointer-events: none;
                background-image: url('../images/t7/chevron-down.svg');
                background-repeat: no-repeat;
                background-position: center right;
                background-size:20px;
                width:20px;
            }
        }
    }
    &__value {
        margin-left: 4px;
        color: $color-grey-light-20;
    }
    &__icon{

    }
}