//
// ------------------------------------- 
// 	COMPONENT: HERO BANNER TILES
// -------------------------------------
//  
//

$name                    : c-filter-tab;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    display: flex;
    padding: $x3 0;
    width: 100%;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: $color-grey-light-90;
    color:  $color-black;
    align-items: center;
    justify-content: center;
    font-size: 14px;

    &:last-child {
        border-left-width: 1px;
    }

    //c-filter-tab__wrap
    &__wrap {
        display: flex;
        margin-bottom: $x4;

        @include media($media-l) {
            display: none;
        }
    }

    .c-filter-select__label {
        padding: 0 $x3;
     }

}
