//
// ------------------------------------- 
// 	COMPONENT: FIlter Group
// -------------------------------------
//  
//

$name                    : c-filter;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {

    display: flex;
    margin: $x2 0;
    flex-direction: column;
    padding: $x1 0;
    
    // .c-filter--btn
    &--btn {
        width: 33.333%;
        padding: 0;
        margin:0;
        // &:last-child {
        //     width: calc(33.333% + 1px);
        // }
    }

    // .c-filter--color
    &--color {
        padding: $x3 0;
        margin:0;
        width: 20%;
    }

    &__swatch {
        width: $x6;
        height: $x6;
        display: block;
        background-color: red;
        border: 1px solid $color-grey-light-80;
        border-radius: 100%;

        .c-filter--selected &,
        &:hover {
            border: 1px solid $color-grey;
        }
    }
    
    // .c-filter__btn
    &__btn {
        display: flex;
        padding: $x3 0;
        width: 100%;
        border-width: 1px; //0 0 1px 1px;
        border-style: solid;
        border-color: $color-grey-light-90;
        color:  $color-grey-light-40;
        align-items: center;
        justify-content: center;
        margin-top: -1px;
        background: none;
        margin-left: -1px;
        
        position: relative;
        z-index: 1;


        #{$selector}:nth-child(3n + 1) & {
            margin-left: 0;
        }

        #{$selector}:nth-child(3n + 3) & {
            margin-left: -2px;
        }

        #{$selector}--selected & {
            border-color: black;
            z-index: 2;
            color: black;
        }

        @include hover {
            border-color: black;
            z-index: 2;
            //color: black;
        }
    }

    // .c-filter__label
    &__label {
        font-size: 14px;
        margin-left: $x2;
        color: $color-grey-light-60;

        #{$selector}--selected &, #{$selector}:hover & {
            color: black;
        }
    }
    // .c-filter__label
    &__link {
        font-size: 14px;
        display:block;
        width:100%;
        color: $color-grey-light-40;
        #{$selector}--selected &,
        #{$selector}:hover & {
            color: black;
        }
    }

    // .c-filter__input
    &__input {
        border-color: $color-grey-light-20;
        border-radius: 0;

        #{$selector}--selected &, #{$selector}:hover & {
            border-color: black;
        }
    }

    // .c-filter__text
    &__text {
        font-size: 14px;
        color: $color-grey-light-60;
    }


    [data-module="toggle-reveal"].toggle-reveal~.js-toggle-reveal-content {
            display: block;
            max-height: inherit;
    }

    [data-module="toggle-reveal"]~.js-toggle-reveal-content {
            transition: none;
            display: none;
            max-height: inherit;
    }
}