//
// ------------------------------------- 
// 	COMPONENT: FIlter Group
// -------------------------------------
//  
//

$name                    : c-filter-group;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    padding:$x1 0 0;

    // .c-filter-group--btns
    &--btns {
        display: flex;
        flex-wrap: wrap;
        padding: $x3 0;
    }

    // .c-filter-group--colors
    &--colors {
        display: flex;
        flex-wrap: wrap;
        margin-right: -12%;
        @include media($media-m) {
            margin-right: -10%;
        }
        @include media($media-xxl) {
            margin-right: -10%;
        }
    }
    
    // .c-filter-group__more
    &__more {
        margin-top: $x3;
    }

    // .c-filter-group__selected-block
    &__selected-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5px;
    }

    // .c-filter-group__clear
    &__clear {
        @include btn-link;
        color: $color-grey;
    }

    // .c-filter-group__selected
    &__selected {
        color: $color-grey-light-40;
    }

    &--sublevel{
        margin-left:$x4;
    }    
}