$name                    : c-form-field;
$selector                : ".#{$name}";

$field-padding: $x4;
$field-hpadding: $x4;
$field-vpadding: $x3;
$form-vpadding-x2: $x6;

$border-color: $color-grey-light-40;
$border-idle-color: $color-grey-light-60;
$field-bg: $color-grey-light-98;
$input-height: 48px;
$focus-class: js-input-has-value;
$active-color: #333;

$has-value-transition: transform .15s cubic-bezier(.4, 0, .2, 1);
$has-value-field-translation: 9px;
$has-value-field-translation: 9px;

// $field-vpadding: $inset-padding-squish-v;
// $field-hpadding: $inset-padding-squish-h;


//Selectors
#{$selector} {

    display: flex;
    flex-wrap: wrap;
    position:relative;
    width: 100%;
    
    background-color: $field-bg;
    margin-bottom: $x1;
    border: 1px solid $border-idle-color;

    //c-form-field__field.-inline:
    &.-inline{
        width:auto;
    }

    &--input-has-value {
        background-color: transparent;
        border-color: $border-color;
    }

    &--input-has-error {
        border-color: $color-error;
    }

    &--input-is-disabled {
        background-color: $color-grey-light-90; 
        border-color: $color-grey-light-80;
    }

    //c-form-field--input
    &--input {
        height: $input-height;   
    }

    //c-form-field--textarea
    &--textarea {
        min-height: $input-height;
    }

    //c-form-field--select
    &--select {
        height: $input-height;
    }

    //c-form-field--checkbox, c-form-field--radio
    &--checkbox, &--radio {
        background: none;
        border: none;
        height: $x6;
        padding: $x1;
    }

    //c-form-field--wrap
    &__wrap {
        padding-bottom: $x2;
        position: relative;
        width: 100%;
    }

    //c-form-field__group
    &__group {
        padding: $x2 0 0;

        &.c-form-field--group-has-error {
            border: 1px solid $color-error;
            padding: $x2 $x2 0;
            margin-bottom: $x2;
        }
    }

    //c-form-field__group-wrap
    &__group-wrap {
        display: flex;
        flex-direction: column;
        padding-bottom: $x2;
    }

    //c-form-field__checkbox, c-form-field__radio
    &__checkbox, &__radio{
        margin-right:$field-padding;
    }

    //c-form-field__label
    &__label{
        @include text-font-size-p2;
        transition:$has-value-transition;
        color: $color-grey-light-40;
        left: $x4;
        right: auto;
        top:19px;
        position: absolute;
        transform-origin: left top;

        // .c-form-field__label--stacked
        &--stacked,  &--textarea {
            .has-value & {
                transform:translateY(-85%) scale(.75);
            }
        }
        
        //c-form-field__label.-inline
        &.-inline{
            padding:0 $field-padding;
        }

        //c-form-field__label--checkbox, c-form-field__label--radio
        &--checkbox, &--radio, &--radio-small, &--checkbox-small {
            position: static;
            padding-left: $x8;
            padding-top: $x1;
            padding-bottom: $x1;
            top:0;
            z-index: 2;
            pointer-events: inherit;
            cursor: pointer;
            // font-size: 14px;

            &:hover{
                color: $color-grey-light-20;
            }

            #{$selector}--input-has-value & {
                color: $color-grey-light-20;
            }
        }

        &--radio-small, &--checkbox-small {
            //padding-left: $x9;
        }
    }

    //c-form-field__input, c-form-field__select, c-form-field__textarea
    &__input, &__select, &__textarea{
        border: 0;
        background-color: transparent;
    }

    // .c-form-field__input
    &__input{
        flex: 1 1;
        min-width:0;
        color: $color-grey-light-20;
        @include text-font-size-p2;
        padding:0 $field-hpadding;
        transition:$has-value-transition;

        &:focus{
            outline:0;
        }

        &[type='file']{
            border:none;
            padding:1$x3 0;
        }
        transform:.2s linear;
        // .has-value {
        .has-value &{
            transform:translateY($has-value-field-translation);
            background-color: transparent;
        }

    }

    // .c-form-field__textarea
    &__textarea{
        @include select-reset;
        border-radius:0px;
        flex: 1 1;
        color: $color-grey-light-20;
        @include text-font-size-p2;
        padding:$field-vpadding $field-hpadding $field-vpadding $field-hpadding;
    
        &:focus{
            outline:0;
        }

        .has-value & {
            transform: translateY($has-value-field-translation);
            background-color: transparent;
        }
    }

    // .c-form-field__select
    &__select{
        
        @include select-reset;
        padding: 0 $x10 0 $x4;
        z-index: 2;
        border-radius: 0;
        flex: 1 1;
        color: $color-grey-light-20;
        @include text-font-size-p2;

        &:focus{
            outline:0;
        }
        
        .has-value & {
            transform: translateY($has-value-field-translation);
            background-color: transparent;
        }
    }

    // .c-form-field__select-indicator
    &__select-indicator {
        position: absolute;
        right: $x4;
        top: 50%;
        transform: translate(0%, -50%);
        z-index: 1;
        fill: $color-grey-light-40;

        // .c-form-field--select-has-value
        #{$selector}--select-has-value & {
            fill: $color-grey-light-20;
        }
    }

    //c-form-field__checkbox, c-form-field__radio
    &__checkbox, &__radio {
        opacity: 0;
        position: absolute;
        z-index: -20;
    }

    //c-form-field__icon-wrap
    &__icon-wrap {
        box-sizing:content-box;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: transparent;
        border: 1px solid $color-grey-light-60;

        #{$selector}--input-has-error & {
            border-color: $color-error;
        }

        //c-form-field__icon-wrap--radio
        &--radio{
            width: $x6;
            height: $x6;
            border-radius: 100%;
            background-color: white;
        }

        //c-form-field__icon-wrap--checkbox
        &--checkbox {
            width: $x6;
            height: $x6;
            background-color: white;
        }

        //c-form-field__icon-wrap--radio-small
        &--radio-small {
            width: $x4;
            height: $x4;
            border-radius: 100%;
            margin-top: $x1;
        }
        //c-form-field__icon-wrap--checkbox-small
        &--checkbox-small {
            width: $x4;
            height: $x4;
            margin-top: $x1;
        }
    }
    

    //c-form-field__check-icon
    &__check-icon {
        fill: $active-color;
        display:none;

        input[type=checkbox]:checked ~ #{$selector}__icon-wrap > & {
            display:block;
        }

        #{$selector}__icon-wrap--checkbox-small & {
            margin: -$x1;
        }
    }

    //c-form-field__radio-icon
    &__radio-icon {
        fill: $active-color;
        display:none;

        input[type=radio]:checked ~ #{$selector}__icon-wrap > & {
            display:block;
        }

        #{$selector}__icon-wrap--radio-small & {
            margin: -$x1;
        }
    }

    //c-form-field__error
    &__error{
        font-size: $x3;
        color: $color-error;
        padding-bottom: 2px;
        display: block;

        //c-form-field__error--checkbox, c-form-field__error--radio
        &--checkbox, &--radio {
            margin-top: 0;
            margin-left: $x10;
        }
    }

    //c-form-field__help
    &__help{
        font-size: $x3;
        color: $color-grey-light-40;
        padding-bottom: 2px;
        display: block;

        //c-form-field__help--checkbox, c-form-field__help--radio
        &--checkbox, &--radio {
            margin-top: 0;
            margin-left: $x10;
        }

        &--checkbox-small, &--radio-small {
            margin-top: 0;
            margin-left: $x9;
        }
    }

    // .c-form-field__icon
    &__icon{
        position: absolute;
        right: 0;
        height: 100%;
        width: $x6;
        display: flex;
        align-items: center;
        color: $color-grey-light-40;

        &--textarea {
            height: 1$x1;

            #{$selector}--input-has-value &,
            #{$selector}--input-has-error &,
            #{$selector}--input-has-passed & {
                height: $x6;
            }

        }

        #{$selector}--input-has-error &{
            color: $color-error;
            fill: $color-error;
        }
        #{$selector}--input-has-passed & {
            color: $color-confirmation;
            fill: $color-error;
        }
    }
}