$name                    : c-icon;
$selector                : ".#{$name}";

//Selectors
a.#{$name} {
  text-decoration:none;
  &:hover{
    text-decoration:none;
  }
}

#{$selector} {
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
  
  &--small {
    width: 0.75em;
    height: 0.75em;
  }

  &--medium {
    width: 1em;
    height: 1em;
  }

  &--primary {
    color: $color-a;
  }

  &--secondary {
    color: $color-b;
  }

  //&--medium {
  //
  //}
  //
  //&--large {
  //
  //}
}

