// 
// ------------------------------------- 
// 	COMPONENT: #ICON BUTTON
// -------------------------------------
//  Project specific button styles
//  


// 
// -------------------------------------
// 	Vars
// -------------------------------------
// 

$name     : c-icon-btn;
$selector : ".#{$name}";

// 
// -------------------------------------
// 	Selectors
// -------------------------------------
// 

#{$selector} {
    
    display:flex;
    align-items: center;

    &__icon{
        line-height: 0;
        &--small {
            margin-right: $spacing-x2;
        }
    }

    &__text {
        text-decoration: none;
        // .c-icon-btn:hover & {
        //     text-decoration: underline;
        // }
    }
    // &.-large #{$selector}__icon{
    //     
    // }
    // &.-medium #{$selector}__icon{
    //     margin-right: $x10;
    // }
    // &.-small #{$selector}__icon{
    //     margin-right: $x5;
    // }

}
