// 
// ------------------------------------- 
// 	COMPONENT: #Pill
// -------------------------------------
//  Litter rounded rectangle tags with text generally displaying in tiles and cards
//  

$name                           : c-pill;
$selector                       : ".#{$name}";

$pillPaddingPrimary: 0 $x3;

// Default
#{$selector} {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    margin: $x1 0;
    font-size: $pill-font-size-1;
    text-align: center;
    color: $color-white;
    line-height: 1;
    letter-spacing: 1.5px;
    border: none;
    border-radius: 30px;
    height: $x5;
    white-space: nowrap;
    @include font-text-bold; 

    //.c-pill--primary
    &--primary {
        background-color: $color-pill-a;
        color: $color-white;
        text-transform: uppercase;
        padding: $pillPaddingPrimary;
        font-size: $pill-font-size-1;
        // @include text-crop--10(1);
    }

    // .c-pill--secondary
    &--secondary {
        background-color: $color-b;
        color: $color-white;
        text-transform: uppercase;
        padding: $pillPaddingPrimary;
        font-size: $pill-font-size-1;
        // @include text-crop--10(1);
    }

    // .c-pill--tertiary
    &--tertiary {
        background-color: $color-a;
        color: $color-white;
        text-transform: uppercase;
        padding: $pillPaddingPrimary;
        font-size: $pill-font-size-1;
        // @include text-crop--10(1);
    }

    //.c-pill--small
    &--small {
        padding: $btn-padding-large;
        font-size: $pill-font-size-2;
        // @include text-crop--8(1);
    }


}
