//
// ------------------------------------- 
// 	COMPONENT: Generic prices object
// -------------------------------------
//  
//

$name                    : c-prices;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
    flex-direction: column;

    @include media($media-m){
        flex-direction: row;

        .c-card-product--deal & {
            flex-direction: column;
        }
    }

    

    // c-prices__price
    &__price {
        display: inline-block;
        @include text-font-size-p3;

        // c-prices__price--old
        &--old {
            color: $color-price-old;
            text-decoration: line-through;
            margin-bottom: $x2;

            @include media($media-m){
                margin-bottom: 0;

                .c-card-product--deal & {
                    margin-bottom: $x2;
                }
            }

            
        }

        // c-prices__price--new
        &--new {
            color: $color-price-new;

            @include media($media-m){
                margin-left: $x2;

                .c-card-product--deal & {
                    margin-left: 0;
                }
            }
        }

        // c-prices__price--default
        &--default {
            margin-bottom: $x2;

            @include media($media-m){
                margin-bottom: 0;

                .c-card-product--deal & {
                    margin-bottom: $x2;
                }
            }
        }

        // c-prices__price--club
        &--club {
            color: $color-club;

            @include media($media-m){
                margin-left: $x2;

                .c-card-product--deal & {
                    margin-left: 0;
                }
            }
        }
    }

    // c-prices__bundle
    &__bundle {
        color: $color-price-new;
        font-size: $x3;

        #{$selector}--deal & {
            display: none;
        }
    }

    

}