//
// ------------------------------------- 
// 	COMPONENT: Global star ratings block
// -------------------------------------
//  
//

$name                    : c-ratings;
$selector                : ".#{$name}";

////////////////////////////////////////////////////////
#{$selector} {
    display: flex;
    position: relative;

    // @include media($media-m) {
        
    // }

    //.c-ratings__stars
    &__stars {
        //.c-ratings__stars--active
        &--active {
            position: absolute;
            top:0;
            left:0;
            width: 100%;
        }
    }

    //.c-ratings__link
    &__icon {
        width: 1em;
        height: 1em;
        fill: $color-grey-light-80;
        margin: 0 1px;
        .star { fill: $color-grey-light-80;}

        &.is-active {
            fill: $color-ratings;
            .star { fill: $color-ratings;}
        }
    }

    
}