// ------------------------------------- 
// 	MODULE: Accordion
// -------------------------------------

$name                    : m-accordion;
$selector                : ".#{$name}";

//Selectors
#{$selector} {

    width: 100%;
    
    //.m-accordion__item
    &__item {
        list-style: none;
        list-style-type: none;
        padding:$x6;
        border-top: 1px solid $color-grey-light-80;
        @include media($mobile-bp) {
            padding:$x8 0;
            border-top:none;
            border-bottom: 1px solid $color-grey-light-80;
            &:first-child {
                padding-top: 0;
            }
        }
    }

    //.m-accordion__icon
    &__icon {
        width: $x6;
        height: $x6;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    //.m-accordion__header
    &__header {
        display: flex;
        padding: $x2 0;
        justify-content: space-between;
        align-items: center;
    }

    //.m-accordion__list
    &__list {
        padding: 0;
        margin: 0;
    }

    //.m-accordion__sub-list
    &__sub-list {
        list-style: none;
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    //.m-accordion__content
    &__content {
        @include media($media-l-max) {
            max-height:0;
            overflow: hidden;
        }
        //.m-accordion__content--closed
        &--closed {
            display: none;
        }
    }
}