// ------------------------------------- 
// 	MODULE: Page Title
// -------------------------------------

$name                    : m-accordion-filters;
$selector                : ".#{$name}";

//Selectors
#{$selector} {
    display: block;

    // m-accordion-filters__header
    &__header {
        padding: $x1 0;
        position: relative;
        @include media($mobile-bp) {
            padding: $x2 0;
        }
    }

    // m-accordion-filters__header
    &__heading {
        padding: $x1 0;
        font-size:14px;
        line-height:inherit;
        @include media($mobile-bp) {
            padding:0;
            font-size:16px;
        }
    }

    // m-accordion-filters__icon
    &__icon {
        width: 1.25em;
        height: 1.25em;
    }

    // m-accordion-filters__mobile-header
    &__mobile-header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:$x8 $x6;
        font-size:16px;
        @include media($mobile-bp) {
            display:none;
        }
    }

    // m-accordion-filters__content
    &__content {
        display:none;
        @include media($mobile-bp) {
            display:block;
            padding-left: 0;
            padding-right: $x4;
            border-right: 1px solid $color-grey-light-80;
        }
    }

}

.js-mobile-filters-open {
    overflow: hidden;
    #{$selector}__content {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        z-index: 99999;
        background-color: #fff;
        width: 100%;
        height: 100%;
        opacity: 1;
        position: fixed;
        visibility: visible;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    &>header{
        position:inherit;
        z-index: 0;
    }
}