// ------------------------------------- 
// 	MODULE: Generic Carousel
// -------------------------------------

$name                    : m-carousel;
$selector                : ".#{$name}";

//Selectors
#{$selector} {
    
    width:100%;

    //.m-carousel__wrap
    &__wrap{
        width:100%;
        position:relative;

        //m-carousel__wrap--mobile-cards-belt
        &--mobile-cards-belt {
            // @include media($media-m-max) {
                width: 272px;//minus margin
                margin-left: 48px;
            // }
            @media(min-width: 360px) {
                margin-left: 16px;
                width: 238px;
            }
            @include media($media-l) {
                margin-left: 0;
                width: 100%;
            }
        }
        
    }

    //m-carousel__slider
    &__slider {
        overflow: hidden;

        //m-carousel__slider--overflow
        &--overflow{
            overflow:visible;
        }

        @include media($media-l) {
            overflow: hidden;

            //m-carousel__slider--overflow-m
            &--overflow-m{
                overflow:visible;
            } 
        }

        &--mobile-cards-belt {
            @include media($media-m-max) {
                width: 75%;
            }
        }

    }
    

    //.m-carousel__slides
    &__slides{

        transition: left 1s;
        justify-content: space-between;
		@include flex();
        position: relative;
        left:0;
        top:0;
        height: 100%;
        
        &> *{

            // border-left: 0px 1px solid white;
            // border-right: 0px 1px solid white;

            &:first-child{
                margin-left:0px;

                .-wrap-reverse &{
                    margin-right:0px;
                    margin-left:5px;
                }
            }

            &:last-child{
                margin-right:0px;

                .-wrap-reverse &{
                    margin-right:5px;
                    margin-left:0px;
                }
            }
        }

        .-wrap-reverse &{
            flex-direction:row-reverse;
        }
    }

    //.m-carousel__slide
    &__slide{
        @include media($media-m)
        {
            width:100vw;
        }
    }

    //.m-carousel__controls
    &__controls{
        width:100%;
        position:absolute;
    }

    //.m-carousel__list
    &__list{

        @include flex();

        justify-content: center;

        .-align-left > &{
            justify-content:flex-start;
        }

        .-align-right > &{
            justify-content:flex-end;
        }

        .-centered > &{
            justify-content:center;
        }

    }

    //.m-carousel__item
    &__item{
        list-style: none;
        @include flex();
        align-items: center;
        &.m-carousel__previous-next-slide
        {
            @include media($media-s-max)
            {
                display:none;
            }

            @include media($media-m)
            {
                position:relative;
                top:1rem;
            }
        }
        &:not(.m-carousel__previous-next-slide) {
            &:hover {
                .m-carousel__link-content {
                    width: 10rem;
                    height: 10rem;
                }
            }
            &.-active:hover {
                .m-carousel__link-content {
                    width: 8rem;
                    height: 8rem;
                }
            }
        }

        &:not(.m-carousel__previous-next-slide).-active .m-carousel__link-content
        {
            margin-left: 0;
            margin-right: 0;
            background-color: transparent;
            border:1px solid $color-a;
        }
    }

    //.m-carousel__link
    &__link{
        margin:0;
        text-decoration: none;
        display:inline-block;
    }
}