// ------------------------------------- 
// 	MODULE: Cart CTA block
// -------------------------------------

$name                    : m-cta-cart;
$selector                : ".#{$name}";

//Selectors
#{$selector} {

    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: $x2;

    //.m-cta-cart__row
    &__row {
        padding: $x4 $x6;
        width: calc(100% - $x12);
        display: flex;

        &:last-child {
            border-bottom: none;
        }

        //.m-cta-cart__row--heading
        &--heading {
            justify-content: space-between;
            align-items: center;
            padding: $x5 $x6;
        }

        //.m-cta-cart__row--pricing
        &--pricing {
            display: flex;
            flex-direction: column;
            border:none;
        }

        //.m-cta-cart__row--btns
        &--btns {
            display: flex;
            flex-direction: column;
            border:none;
        }

        //.m-cta-cart__promo
        &__promo {
            margin-bottom: 0;
        }
    }

    //.m-cta-cart__heading-link
    &__heading-link {
        align-self: flex-end;
    }

    //.m-cta-cart__value
    &__value {
        text-align: right;
        color: $color-grey-light-20;
        display: flex;
        justify-content: flex-end;
        @include text-font-size-p2;

        //.m-cta-cart__label--discount
        &--discount {
            color: $color-grey-light-60;
        }

        //.m-cta-cart__label--total
        &--total & {
            @include text-font-size-p1;
            @include font-text-bold;
        }
    }

    //.m-cta-cart__label
    &__label {
        @include text-font-size-p2;

        //.m-cta-cart__label--discount
        &--discount {
            color: $color-grey-light-60;
        }

        //.m-cta-cart__label--total
        &--total {
            @include text-font-size-p1;
            @include font-text-bold;
        }
    }

    //.m-cta-cart__price-row
    &__price-row {
        display: flex;
        justify-content: space-between;
        padding: $x1 0;
    }

    //.m-cta-cart__primary-btn
    &__primary-btn {
        margin-bottom: $x3;
    }

}