$name                    : m-form;
$selector                : ".#{$name}";

// $field-padding: $x4;
// $field-hpadding: $x4;
// $field-vpadding: $x4;
// $form-vpadding-x2: $x6;

// $border-color: $color-grey-light-40;
// $field-bg: $color-grey-light-98;
// $input-height: 16px;
// $focus-class: js-input-has-focus;

//Selectors
#{$selector} {

    width:100%;

    // &--inline{
    //     display:flex;
    //     align-items:center;
    // }

    // .c-form-field__group
    &__group{
        width:100%;
        display: flex;
        flex-direction: column;

        @include media($media-m) {
            flex-direction: row;    
            align-items: flex-start;
            margin: 0 -$x3;
            width: calc(100% + $x6);
        }
        
    }

    // .c-form-field__group-item
    &__group-item{
        display: block;
        
        @include media($media-m) {
            margin: 0 $x3;
            width: calc(50% - $x6);
        }
       
    }

    &__feildset, &__legend {
        margin: 0;
        padding: 0;
        border: none;
    }

    
   
}
