// ------------------------------------- 
// 	MODULE: Core module wrapper 
// -------------------------------------
// Extended in each theme as there are differences across modules spacing across brands

$name                    : m-wrap;
$selector                : ".#{$name}";

$gutter-calc-s: $module-outer-gutter-s * 2;
$gutter-calc: $module-outer-gutter-l * 2;

//Selectors
#{$selector} {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center top;
    overflow:hidden; 
    z-index:2;

    // m-wrap__card
    &__card{

        @include max-width();

        @include media($media-m) {
            margin: 0 $module-outer-gutter-m;
            width: calc(100% - #{$x8});
        }
        @include media($media-l) {
            margin: 0 $module-outer-gutter-l;
            width: calc(100% - #{$x12});
        }

        #{$selector}--carded & {
            background-color: white;    
        }

        #{$selector}--full-width & {
            margin: 0;
            max-width: 100%;
        }

        #{$selector}--full-bleed & {
            margin: 0;
            max-width: 100%;
            width: 100%;
        }

        #{$selector}--full & {
            margin: 0;
            width: 100%;
        }
    }

    &__inner {
        position: relative;
        z-index: 1;
        margin: 0 $module-outer-gutter-s;

        @include media($media-m){
            margin: 0 $module-outer-gutter-m;
        }

        #{$selector}--full-width & {
            margin: 0;
        }

        #{$selector}--full & {
            margin: 0;
        }

    }

    &__header, &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header {
        @include text-spacing;

        margin-top: $module-outer-gutter-s;
        padding-top: $module-header-padding-top-s;
        padding-bottom: $module-header-padding-bottom-s;

        @include media($media-m){
            margin-top: $module-outer-gutter-m;
            padding-top: $module-header-padding-top;
            padding-bottom: $module-header-padding-bottom;
        }
    }

    &__footer {
        margin-bottom: $module-outer-gutter-s;
        padding-top: $module-footer-padding-top-s;
        padding-bottom: $module-footer-padding-bottom-s;

        @include media($media-m){
            margin-bottom: $module-outer-gutter-m;
            padding-top: $module-footer-padding-top;
            padding-bottom: $module-footer-padding-bottom;
        }
    }

    &__content {
        width: 100%;

    }
}
