<!-- Buyers guide section heading module template -->
{% macro mSectionHeader(options) %}
    <section class="m-wrap__header u-spacing u-grid u-grid-align-center u-grid-justify-center t-text--{{ options.theme | safe }}" style="background: {{ options.containerColor | safe }};">
        {% if options.sectionHeading %}
            <h3 class="u-h3">{{ options.sectionHeading | safe }}</h3>
        {% endif %}

        {% if options.sectionIntroText %}
            <p class="u-p3">{{ options.sectionIntroText | safe }}</p>
        {% endif %}
    </section>
{% endmacro %}


{# ROOM TYPE SECTION HEADING #}
{% macro populateMSectionHeading(options) %}

    <!-- Set section heading options -->
    {% 
        set options = {
            containerColor: "white",
            sectionHeading: "Room Type",
            sectionIntroText: "What kind of room situation best matches your heating needs? Read below to find our heater recommendation."
        }
        %}

        {{ mSectionHeader(options) }}

{% endmacro %}


{# HEATER TYPE SECTION HEADING #}
{% macro populateMSectionHeadingHeaters(options) %}

    <!-- Set section heading options -->
    {% 
        set options = {
            containerColor: "white",
            sectionHeading: "Types of Heaters",
            sectionIntroText: "Now let’s get down to picking what will work best for you! We have broken down the types of heaters available, with the features that you are looking for."
        }
        %}

        {{ mSectionHeader(options) }}

{% endmacro %}

{# OTHER WAYS TO KEEP WARM SECTION HEADING #}
{% macro populateMSectionOtherWays(options) %}

    <!-- Set section heading options -->
    {% 
        set options = {
            containerColor: "white",
            sectionHeading: "Other Ways of Keeping Warm",
            sectionIntroText: "What kind of room situation best matches your heating needs? Read below to find our heater recommendation."
        }
        %}

        {{ mSectionHeader(options) }}

{% endmacro %}

{# TIPS SECTION HEADING #}
{% macro populateMSectionTips(options) %}

    {# Set section heading options #}
    {% 
        set options = {
            containerColor: "white",
            sectionHeading: "Tips"
        }
        %}

        {{ mSectionHeader(options) }}

{% endmacro %}